[jarvis]---ia-de-controle-c6HrFYrQUUqeaH2l.json
{"createdAt":"2025-04-11T16:46:01.701Z","updatedAt":"2025-04-11T17:14:19.857Z","id":"c6HrFYrQUUqeaH2l","name":"[JARVIS] - IA DE CONTROLE","active":true,"nodes":[{"parameters":{"content":"Agente IA","height":1399,"width":1556,"color":4},"id":"0e02bbb8-6ff6-4ecd-b436-d386cef99b49","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1260,0]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.telefone }}"},"id":"26b3ab43-df31-4d09-a3c5-c8b676eab0db","name":"Redis Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.3,"position":[-780,280],"credentials":{"redis":{"id":"UHcdFvnvoozYhCLm","name":"Redis account"}}},{"parameters":{"options":{}},"id":"e0c39ddd-9dc9-4426-8c12-0eb89f89ba9b","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-900,280],"typeVersion":1,"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"options":{}},"id":"728cf907-2f00-4163-a2d3-4a318a4fa6b9","name":"SerpAPI","type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[480,1260],"disabled":true},{"parameters":{"resource":"all","limit":4,"additionalFields":{}},"id":"a9a9e65d-d318-4529-b6bb-281816af1d2c","name":"Hacker News","type":"n8n-nodes-base.hackerNewsTool","typeVersion":1,"position":[0,1260]},{"parameters":{"promptType":"define","text":"={{ $('Code1').item.json.mensagem }}","options":{"systemMessage":"=Jarvis - Assistente Pessoal de SEU NOME\nData Atual: {{ $now }}\nLocalização: Uberaba - MG - BR\nNome do seu chefe: Jamil\n\nJarvis, você é um assistente útil, divertido, amigável e profissional. Sempre trate Jones como seu chefe, com respeito e de forma amigável.\n\nDiretrizes Gerais\n✅ Memória e Contexto\n\nMantenha o contexto dentro da sessão de conversação.\nSe o usuário mudar de tópico ou solicitar esclarecimentos, redefina o contexto conforme necessário.\n✅ Estrutura das Respostas\n\nSeja conciso e direto.\nForneça detalhes adicionais apenas se solicitado.\n1. Gerenciamento de Calendário\nRecuperar Compromissos:\n\nUtilize a ferramenta Obter Calendário.\nSe nenhuma data for especificada, exiba os eventos de hoje.\nPara eventos futuros, mostre apenas os próximos compromissos dentro de uma semana.\nExemplo de Resumo da Agenda:\n\"Aqui está a sua agenda para amanhã, dia 22 de janeiro de 2025:\n\nAlmoço com Andreia\n\n🕛 Horário: 12:00 - 13:00\n📍 Descrição: Almoço agendado para se colocar em dia!\nReunião \"Título\"\n\n🕑 Horário: 14:00 - 15:00\nSe precisar de ajustes nos compromissos, é só avisar! 😊\"\n\n2. Agendar e Cancelar Reuniões\nCritérios:\n\nApenas datas futuras.\nProcesso de Agendamento:\n\nSempre o e-mail, nome do evento e motivo da reunião (Ex.: Tráfego Pago, Social Media, Automações).\nConfirmar o agendamento e registrar no Google Calendar e videoconferencia no Google Meet:\nTítulo: Nome do cliente + motivo.\nDados: Data, horário, motivo, e-mail.\nExemplo de Resposta:\n\nConfirmação:\n\n\"Agendamento confirmado para [data escolhida] às [horário escolhido]!\nDetalhes:\n● Data: [Inserir Data]\n● Horário: [Inserir Horário]\n● Motivo: [Inserir Motivo]\"\n\nCancelamento de Reunião:\n\nSolicitar o horário para confirmação.\nExemplo:\n\"Agendamento cancelado com sucesso em {{ $now.format('DD/MM/YYYY') }}!\nSempre criar uma videoconferencia no google meet junto ao evento.\n\nPara cancelar evento, use o horário para identificar o evento.\n\n3. Consultas e Ferramentas\n✅ Consultas da Web e Notícias\n\nSerpAPI: Buscar informações gerais no Google.\nHacker News: Buscar notícias sobre tópicos específicos (caso o usuário forneça palavras-chave).\n✅ Cálculos\n\nUtilize a Calculadora para operações matemáticas.\n✅ Previsão do Tempo\n\nSempre verificar a previsão para SUA CIDADE - RS.\n\nBuscar informações no Vector Store Tool para auxiliar SEU NOME na criação de estratégias.\n✅ Propostas Comerciais\n\nConsultar exemplos no Vector Store Tool para desenvolver propostas para SEU NOME.\n5. Comunicação e Notificações\n✅ Envio de E-mails\n\nUsar a ferramenta Gmail.\nSolicitar a SEU NOME: E-mail do destinatário, Assunto e Mensagem.\n\n\n✅ Gastos Mensais.\nUtilize a ferramenta \"ver_gastos\" para informar ao SEU NOME o valor gasto no mês. Passar apenas o valor total que está na posição F3 na planilha.\nPara inserir os gastos use a ferramenta \"inserir_gastos\". Nesta ferramenta apenas insira a data e o valor. Na coluna data insira a data atual e na coluna valor insira o valor do gasto que o SEU NOME te passou.\n\nExemplo: SEU NOME manda para você \"gasto 45 em Mercado\", você insere o valor de 45 na coluna \"GASTO\", e na coluna item você coloca \"Mercado\".\n\n✅ Verificar as instâncias da Api Evolution.\n\nUse a ferramenta \"verifica_evo\" quando o SEU NOME perguntar sobre as instâncias da Evolution, verifique e passe o status de cada uma para o Jones.\n\nExemplo:\n\n\"Scapin: 🔴  Desconectada\nJSMIDIAS: 🟢 Conectada\nmdotramandai: 🟠 Conectando\"\n\n✅ Verificar VPS.\n\nUse a Ferramenta \"verifica_vps\" para consultar o consumo do servidor. Responda ao SEU NOME da seguinte forma:\n\n\"Chefe, seguem os dados\nCPU xx%\nMemoria xx%\nHD xx%\""}},"id":"d599b682-9684-4b06-86bf-7012c34a895a","name":"J.A.R.V.I.S","type":"@n8n/n8n-nodes-langchain.agent","position":[-840,80],"typeVersion":1.6},{"parameters":{},"id":"63fe2596-8549-493d-b66f-68a85570c0c8","name":"Calculator1","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[180,1260]},{"parameters":{"method":"POST","url":"URLDAEVO/chat/getBase64FromMediaMessage/INSTANCIA","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=APIKEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"b8b87c47-e8cf-4598-a27e-6c5f82418f6e","name":"Envio de Documentos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-2840,680],"retryOnFail":true,"maxTries":2},{"parameters":{"httpMethod":"POST","path":"jarvis","options":{}},"id":"af8631f0-b01d-4c62-ab0c-a004bda4f502","name":"input evolution","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3900,480],"webhookId":"29ae3673-5226-4cbc-9017-37637b7c4e24"},{"parameters":{"assignments":{"assignments":[{"id":"2f8e1fbf-9134-4b48-be29-066509e021f5","name":"telefone","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"59fd3a53-08be-41db-b91e-9abccd7ef4ad","name":"Audio","value":"={{ $json.text || '' }}","type":"string"},{"id":"1f3efabc-087b-4843-8766-742b9109e955","name":"WhatsWeb","value":"={{ $json.pergunta || ''}}","type":"string"},{"id":"60d6b895-fea6-4d7f-932a-b8771c97242e","name":"WhatsAppApp","value":"={{ $json.mensagem || '' }}","type":"string"},{"id":"f45d0d25-8456-4a53-9290-69eed044964e","name":"Imagem","value":"={{ $json.content || ''}}","type":"string"},{"id":"0d9377f3-acbb-49ed-9254-ef9e3e561465","name":"Documento","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"6816e49c-385a-4932-8139-17f443f55b0a","name":"Filtra Webhook1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2200,240]},{"parameters":{"amount":1},"id":"5bcdbd45-2f3b-4360-9708-d86259c867e4","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1920,320],"webhookId":"e8098bf9-5003-4b9b-a29f-a427b79b24bb"},{"parameters":{"operation":"get","propertyName":"mensagem","key":"={{ $json.telefone }}","options":{}},"id":"12bab93a-61f6-404c-906e-8f004a426b0f","name":"Puxar as Mensagens1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1760,500],"credentials":{"redis":{"id":"UHcdFvnvoozYhCLm","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9e9b4155-e399-4936-a5db-2d79c8cb871f","leftValue":"={{ $json.mensagem.last() }}","rightValue":"={{ $('Filtra Webhook1').item.json.Audio || $('Filtra Webhook1').item.json.WhatsWeb || $('Filtra Webhook1').item.json.WhatsAppApp || $('Filtra Webhook1').item.json.Imagem }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"cce1b662-610f-4672-a65f-c2da83997762","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1600,360]},{"parameters":{"assignments":{"assignments":[{"id":"bce70488-3d4e-412d-9c28-4858906bc722","name":"mensagem","value":"={{ $('Puxar as Mensagens1').item.json.mensagem.join('\\n') }}","type":"string"},{"id":"abca95c7-60a4-474b-95ed-a22557fa8af7","name":"telefone","value":"={{ $('Wait1').item.json.telefone }}","type":"string"}]},"options":{}},"id":"a3273d96-3bfc-494a-a075-7c404f3ec558","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1420,240]},{"parameters":{},"id":"b045c299-24ac-4dbe-8b5b-2d7ea4ecb46b","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1400,520]},{"parameters":{"operation":"delete","key":"={{ $json.telefone }}"},"id":"00ce6a16-3d5b-4169-9c59-1f7d1c43be8e","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1180,80],"credentials":{"redis":{"id":"UHcdFvnvoozYhCLm","name":"Redis account"}}},{"parameters":{"method":"POST","url":"URLDAEVO/chat/getBase64FromMediaMessage/INSTANCIA","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"APIKEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"160d9d25-f0e5-42fd-b314-c9fbcf4d9b9e","name":"Mensagem de Audio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-2820,0],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"1d0734e5-5e69-4f60-97eb-87fd4fd11f3b","name":"Converter Áudio1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2660,0]},{"parameters":{"assignments":{"assignments":[{"id":"17694db0-6248-444f-afb9-ff7ed13996ef","name":"pergunta","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"id":"c1e9c4be-ac0a-4212-be0f-d76084f90eca","name":"Texto Web1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2820,160],"notesInFlow":false,"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"2f8e1fbf-9134-4b48-be29-066509e021f5","name":"telefone","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"a6004904-d9e1-4627-be79-d2a5b073d44f","name":"mensagem","value":"={{ $('input evolution').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"3bff1170-efab-401a-bb0a-7c63537c9b08","name":"Filta Msg App1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2820,320]},{"parameters":{"method":"POST","url":"URLDAEVO/chat/getBase64FromMediaMessage/INSTANCIA","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"APIKEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"9a6cb8af-9c3a-4b06-ba05-b59e96566b68","name":"Envio de Imagens1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-2820,500],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"image","mimeType":""}},"id":"4bc787f8-92ac-4f34-b965-b81dc634721d","name":"Converter Imagem1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2660,500]},{"parameters":{"operation":"push","list":"={{ $json.telefone }}","messageData":"={{ $json.Audio || $json.WhatsWeb || $json.WhatsAppApp || $json.Imagem || $json.mensagem}}","tail":true},"id":"e5080b27-ea3a-4746-9777-c756ccbfcbf5","name":"Lista Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2060,480],"credentials":{"redis":{"id":"UHcdFvnvoozYhCLm","name":"Redis account"}}},{"parameters":{"operation":"pdf","options":{}},"id":"517dc508-b430-4523-8c74-6f47dbd91008","name":"Extrair Dados1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-2500,680]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"=image {{ $('Switch2').item.json.body.data.message.documentMessage.fileName }}","mimeType":"={{ $('Switch2').item.json.body.data.message.documentMessage.mimetype }}"}},"id":"fd11603e-a4de-44ff-9b39-3c9a40440a09","name":"Converter Arquivo","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2660,680]},{"parameters":{"content":"Concatenação de Mensagens","height":846.1913732061371,"width":952.7060569889857,"color":6},"id":"52a6f2ca-fe30-40a1-a0bc-cf53ae455812","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2220,0]},{"parameters":{"jsCode":"function limparMensagem(texto) {\n  if (typeof texto !== 'string') {\n    return '';\n  }\n\n  // Função para remover metadados e dados técnicos\n  function removerMetadataTecnico(str) {\n    return str\n      // Remove objetos e chaves de metadados específicos\n      .replace(/\"response_metadata\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"response_metadata\"\n      .replace(/\"additional_kwargs\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"additional_kwargs\"\n      .replace(/\"tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"tool_calls\" vazio\n      .replace(/\"invalid_tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"invalid_tool_calls\" vazio\n      .replace(/\"type\"\\s*:\\s*\"(ai|human)\"/g, '')  // Remove os tipos \"ai\" e \"human\"\n      .replace(/\"data\"\\s*:\\s*{[^}]*}/g, '')  // Remove a chave \"data\"\n      // Remove objetos JSON em excesso ou vazios\n      .replace(/,\\s*{[^}]*}/g, '') // Remove objetos soltos\n      .replace(/,\\s*\\[\\s*\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*null/g, '') // Remove valores null\n      .replace(/\\s*:\\s*\\[\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*{}/g, '') // Remove objetos vazios\n      // Ajusta espaços desnecessários\n      .replace(/\\s+/g, ' ')\n      .replace(/^\\s+|\\s+$/g, '');  // Remove espaços no início e fim\n  }\n\n  // Função para limpar caracteres especiais\n  function limparCaracteresEspeciais(str) {\n    return str\n      .replace(/\\\\\\\\[rnt]/g, ' ')  // Limpa sequências de escape\n      .replace(/\\\\\\\\\\\"/g, '')  // Remove as aspas escapadas\n      .replace(/\\\\\\\\\\\\\\\\/g, '')  // Remove barras invertidas\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '')  // Remove caracteres de controle\n      .replace(/\\\"+/g, '')  // Remove aspas extras\n      .replace(/[{}[\\]]/g, '')  // Remove chaves e colchetes extras\n      .trim();\n  }\n\n  // Função para extrair e limpar a mensagem principal\n  function extrairMensagemPrincipal(str) {\n    // Divide em frases, removendo pontuação extra\n    const frases = str.split(/(?<=[.!?])\\s+/);\n\n    return frases\n      .map(frase => frase.trim())\n      .filter(frase => {\n        // Remove frases que ainda têm metadados ou são irrelevantes\n        return frase.length > 0 &&\n          !frase.includes('tool_calls') &&\n          !frase.includes('invalid_tool_calls') &&\n          !frase.match(/^[:\\s\\[\\]{}]+$/);\n      })\n      .join(' ');\n  }\n\n  // Processo de limpeza e extração\n  let resultado = texto;\n\n  // Passo 1: Remove metadados e chaves indesejadas\n  resultado = removerMetadataTecnico(resultado);\n\n  // Passo 2: Extrai a mensagem relevante, ignorando o que não é necessário\n  resultado = extrairMensagemPrincipal(resultado);\n\n  // Passo 3: Remove caracteres especiais e formatação indesejada\n  resultado = limparCaracteresEspeciais(resultado);\n\n  // Limpeza final para remover espaços extras\n  resultado = resultado\n    .replace(/\\s+/g, ' ')\n    .replace(/^[\\\",\\s]+|[\\\",\\s]+$/g, '')\n    .trim();\n\n  return resultado;\n}\n\nfunction processarMensagens(items) {\n  return items.map(item => {\n    try {\n      if (!item?.json?.mensagem) {\n        return item;\n      }\n\n      let mensagem = item.json.mensagem;\n\n      // Se for objeto, converte para string\n      if (typeof mensagem === 'object') {\n        try {\n          mensagem = JSON.stringify(mensagem);\n        } catch (e) {\n          console.error('Erro ao converter objeto para string:', e);\n          return item;\n        }\n      }\n\n      // Aplica a limpeza\n      const mensagemLimpa = limparMensagem(mensagem);\n\n      // Atualiza apenas se houver conteúdo significativo\n      if (mensagemLimpa && mensagemLimpa.length > 0) {\n        item.json.mensagem = mensagemLimpa;\n      }\n\n      return { json: item.json };\n    } catch (error) {\n      console.error('Erro ao processar item:', error);\n      return item;\n    }\n  });\n}\n\n// Execução principal\ntry {\n  const items = $input.all();\n  return processarMensagens(items);\n} catch (error) {\n  console.error('Erro na execução:', error);\n  throw error;\n}\n"},"id":"3a027630-d8df-4161-9d5f-4121025e8e3b","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1020,80]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"f1b04a5c-9137-44ab-bf0b-85ead53986fc","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2500,0],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva essa imagem, oque tem nela?","inputType":"base64","options":{}},"id":"e27ea472-0e50-4f3f-bb47-25725fe5e67f","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2500,500],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $('input evolution').item.json.body.data.key.id || '' }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('input evolution').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('input evolution').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('input evolution').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('input evolution').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('input evolution').item.json.body.data.message.audioMessage?.url || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('input evolution').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"b2f1f6b5-292f-4695-9e41-be200c6d7053","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"572fcce5-8a26-4e8f-a48a-ef0bee569dcd","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"e90043db-657b-461c-b040-2d6089abfbdb","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"}]},"options":{}},"id":"170f98d1-482a-42e0-b421-4d15c92ea60a","name":"normalizacao1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3460,360]},{"parameters":{"content":"Filtra as Mensagens","height":841,"width":1750,"color":5},"id":"64b0774f-807b-47a1-ae6f-c419d9992453","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3960,0]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"101c3ff7-e997-43bb-8e99-fe82746c5993","leftValue":"={{ $('input evolution').item.json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audioMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4b94d2ac-53e5-4153-9377-4cc6db20cb1c","leftValue":"={{ $json.body.data.message.extendedTextMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"extendedTextMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"38226af4-80fe-4155-9ceb-2379f44e29ed","leftValue":"={{ $('input evolution').item.json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"conversation"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"300366d9-2416-4cf4-93c3-e48c8761c60f","leftValue":"={{ $('input evolution').item.json.body.data.message.imageMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imageMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f33566fd-3eb9-45f4-934a-3a39e2adca6c","leftValue":"={{ $('input evolution').item.json.body.data.messageType === 'documentMessage' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"documentMessage"}]},"options":{"fallbackOutput":"none"}},"id":"54d02450-a170-48a2-8cfd-4efdb8eeba0f","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3040,320]},{"parameters":{"assignments":{"assignments":[{"id":"6b7bef37-abbe-4207-aae0-5447388019a3","name":"baseUrl","value":"https://whatsapi.typebot.pro/","type":"string"},{"id":"67c50f2f-89e2-4a5c-84c2-c2ac76962f6e","name":"apikey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"9177d222-437a-4284-a96f-115fba66662c","name":"instancia","value":"ZAPFINANCEIRO-1","type":"string"},{"id":"ab90e3ce-3657-4124-968d-37c0aaebd5ab","name":"xi-api-key","value":"<chave da ttsopenai >","type":"string"},{"id":"8d6c586e-0f00-4100-bc40-231cda7f93b7","name":"WhatsApp","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"94b88d08-26eb-418e-b403-b38f76b209b2","name":"Credenciais2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3260,360]},{"parameters":{"content":"## Agendamentos\n","height":204,"width":423,"color":3},"id":"e7bc5791-4c60-4c0b-aa6e-f057c8a778f7","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,1140]},{"parameters":{"descriptionType":"manual","toolDescription":"Aqui você verifica os eventos existentes, para informar ao Jones.","operation":"getAll","calendar":{"__rl":true,"value":"jsgestaomidia@gmail.com","mode":"list","cachedResultName":"jsgestaomidia@gmail.com"},"returnAll":true,"options":{"timeMin":"={{ $fromAI(\"Initital_DateTime\", \"Data e hora inicial da consulta Ex.: 2024-10-17 00:00:00\") }}","timeMax":"={{ $fromAI(\"Final_DateTime\", \"Data e hora final da consulta Ex.: 2024-10-17 00:00:00\") }}","timeZone":{"__rl":true,"value":"America/Sao_Paulo","mode":"list","cachedResultName":"America/Sao_Paulo"}}},"id":"27c02847-c27d-44c8-b90f-8954b684d3b6","name":"Buscar Eventos1","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.1,"position":[-700,1220],"disabled":true},{"parameters":{"name":"agencia","description":"Use essa ferramenta para buscar informações adicionais sobre estratégias de tráfego pago para Meta ADS e modelos de propostas comerciais."},"id":"fb14ba8e-92e3-4892-b062-9e6ab7aa07d1","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-1200,280]},{"parameters":{"pineconeIndex":{"__rl":true,"value":"jarvis","mode":"list","cachedResultName":"jarvis"},"options":{}},"id":"5b10c029-ed83-40d3-8297-b0e8d2bfa797","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1240,440],"disabled":true},{"parameters":{"options":{}},"id":"871a9061-a9c9-4316-a274-ae47f05c3492","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-900,440],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"options":{}},"id":"f98e99e4-91b7-4435-a3b6-56a99681497c","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-1160,600],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use esta ferramenta para enviar e-mail quando o SEU NOME solicitar.","sendTo":"={{ $fromAI(\"e-mail\")}}","subject":"={{ $fromAI(\"Assunto\")}}","message":"={{ $fromAI(\"Message\")}}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[320,1260],"id":"2e2535e1-8ccc-4b50-bc23-a6b76ce71ada","name":"Gmail","webhookId":"f9687a18-1c31-4d0d-b9e1-4d820eb094cc","disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"Use esta ferramenta para agendar reuniões.","calendar":{"__rl":true,"value":"jsgestaomidia@gmail.com","mode":"list","cachedResultName":"jsgestaomidia@gmail.com"},"start":"={{ $fromAI(\"Start_Time\",\"Horário inicial do evento ex.:2024-10-08 00:00:00\") }}","end":"={{ $fromAI(\"End_Time\",\"Horário final do evento ex.:2024-10-08 00:01:00\") }}","additionalFields":{"attendees":["jsgestaomidia@gmail.com","={{ $fromAI (\"e-mail\", \"o email de agendamento da reunião\") }}"],"color":"2","conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"Reunião","sendUpdates":"all","summary":"= Call - JS Midias & {{ $fromAI(\"Nome\") }}"}},"id":"35d6fe49-4408-4c3d-9364-26eea1871596","name":"Criar Eventos","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.1,"position":[-560,1220],"disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"Use esta ferramenta para cancelar eventos, quando o Jones solicitar cancelamento de reunião.","operation":"delete","calendar":{"__rl":true,"value":"jsgestaomidia@gmail.com","mode":"list","cachedResultName":"jsgestaomidia@gmail.com"},"eventId":"={{ $fromAI(\"Event_ID\",\"Id do evento que deve ser excluído\") }}","options":{}},"id":"2f2610e8-f765-421b-b57b-29e623019ad9","name":"Deletar Evento","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.1,"position":[-840,1220],"disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"Use esta ferramenta para verificar e dizer ao SEU NOME quanto de gasto teve no mês. Passar o Valor da posição F3 na planilha.","documentId":{"__rl":true,"value":"1SJc_WapXjhYQbIfl8FKm0CQGJdVyz9Z2oTlxIyP6pTs","mode":"list","cachedResultName":"Março","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SJc_WapXjhYQbIfl8FKm0CQGJdVyz9Z2oTlxIyP6pTs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SJc_WapXjhYQbIfl8FKm0CQGJdVyz9Z2oTlxIyP6pTs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-140,1260],"id":"e85a47ba-1314-4786-a38b-3df85902bbc5","name":"ver_gastos","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use para inserir os gastos que o SEU NOME te passar.","operation":"append","documentId":{"__rl":true,"value":"1SJc_WapXjhYQbIfl8FKm0CQGJdVyz9Z2oTlxIyP6pTs","mode":"list","cachedResultName":"Março","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SJc_WapXjhYQbIfl8FKm0CQGJdVyz9Z2oTlxIyP6pTs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SJc_WapXjhYQbIfl8FKm0CQGJdVyz9Z2oTlxIyP6pTs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{$now.toFormat('dd/MM/yyyy')}}","GASTO":"={{ $fromAI(\"GASTO\") }}","ITEM":"={{ $fromAI(\"ITEM\") }}"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GASTO","displayName":"GASTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ITEM","displayName":"ITEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-280,1260],"id":"71ed87d2-7c64-43bf-bcd9-291b48911722","name":"inserir_gasto","disabled":true},{"parameters":{"name":"verifica_vps","description":"Use esta ferramenta para verificar o consumo da VPS.","workflowId":{"__rl":true,"value":"EUEDecpvdbHfL16Z","mode":"list","cachedResultName":"[JARVIS] STATUS VPS"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-1200,900],"id":"fc7f635d-c9c8-4a65-a66b-cca110378d36","name":"verifica_vps"},{"parameters":{"toolDescription":"Use esta ferramenta para verificar o status das instancias da Api Evolution","url":"https://whatsapi.typebot.pro/instance/fetchInstances","sendHeaders":true,"parametersHeaders":{"values":[{"name":"apikey","valueProvider":"fieldValue","value":"57ec53c5bd97b369472d545052e77007"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1040,900],"id":"a4b7b4c0-f8c6-405f-a630-a44b06406801","name":"verifica_evo"},{"parameters":{"method":"POST","url":"={{ $('normalizacao1').item.json.instance.server_url }}/message/sendText/{{ $('input evolution').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('normalizacao1').item.json.instance.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Code1').item.json.telefone }}"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"id":"f1749c1a-da09-4152-ba84-3159caa33ebb","name":"ENVIO RELATORIO GRUPO1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-440,80],"alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5f2bf4d2-61c2-4d92-913d-152f85396c41","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"553488187499@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3660,480],"id":"baee7e3a-64ff-471b-a458-1c35e9215795","name":"If"},{"parameters":{"method":"POST","url":"={{ $json.body.server_url }}/message/sendText/{{ $('input evolution').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"=PARA ACESSAR O ZAP FINANCEIRO CHAME NO NÚMERO: 5511977017171\nELE ESTÁ FUNCIONANDO NESTE NUMERO."}]},"options":{}},"id":"3e5ab84f-f6ea-4637-9dae-2043a6958005","name":"ENVIO RELATORIO GRUPO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3460,580],"alwaysOutputData":false}],"connections":{"Redis Chat Memory":{"ai_memory":[[{"node":"J.A.R.V.I.S","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"J.A.R.V.I.S","type":"ai_languageModel","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"J.A.R.V.I.S","type":"ai_tool","index":0}]]},"Hacker News":{"ai_tool":[[{"node":"J.A.R.V.I.S","type":"ai_tool","index":0}]]},"Calculator1":{"ai_tool":[[{"node":"J.A.R.V.I.S","type":"ai_tool","index":0}]]},"Envio de Documentos1":{"main":[[{"node":"Converter Arquivo","type":"main","index":0}]]},"input evolution":{"main":[[{"node":"If","type":"main","index":0}]]},"Filtra Webhook1":{"main":[[{"node":"Lista Mensagens","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Puxar as Mensagens1","type":"main","index":0}]]},"Puxar as Mensagens1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Mensagem de Audio1":{"main":[[{"node":"Converter Áudio1","type":"main","index":0}]]},"Converter Áudio1":{"main":[[{"node":"OpenAI3","type":"main","index":0}]]},"Texto Web1":{"main":[[{"node":"Filtra Webhook1","type":"main","index":0}]]},"Filta Msg App1":{"main":[[{"node":"Filtra Webhook1","type":"main","index":0}]]},"Envio de Imagens1":{"main":[[{"node":"Converter Imagem1","type":"main","index":0}]]},"Converter Imagem1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Lista Mensagens":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Extrair Dados1":{"main":[[{"node":"Filtra Webhook1","type":"main","index":0}]]},"Converter Arquivo":{"main":[[{"node":"Extrair Dados1","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"Filtra Webhook1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Filtra Webhook1","type":"main","index":0}]]},"normalizacao1":{"main":[[{"node":"Credenciais2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Mensagem de Audio1","type":"main","index":0}],[{"node":"Texto Web1","type":"main","index":0}],[{"node":"Filta Msg App1","type":"main","index":0}],[{"node":"Envio de Imagens1","type":"main","index":0}],[{"node":"Envio de Documentos1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"J.A.R.V.I.S","type":"main","index":0}]]},"Credenciais2":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Buscar Eventos1":{"ai_tool":[[{"node":"J.A.R.V.I.S","type":"ai_tool","index":0}]]},"Vector Store Tool":{"ai_tool":[[]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Gmail":{"ai_tool":[[{"node":"J.A.R.V.I.S","type":"ai_tool","index":0}]]},"Criar Eventos":{"ai_tool":[[{"node":"J.A.R.V.I.S","type":"ai_tool","index":0}]]},"Deletar Evento":{"ai_tool":[[{"node":"J.A.R.V.I.S","type":"ai_tool","index":0}]]},"ver_gastos":{"ai_tool":[[{"node":"J.A.R.V.I.S","type":"ai_tool","index":0}]]},"inserir_gasto":{"ai_tool":[[{"node":"J.A.R.V.I.S","type":"ai_tool","index":0}]]},"verifica_vps":{"ai_tool":[[{"node":"J.A.R.V.I.S","type":"ai_tool","index":0}]]},"verifica_evo":{"ai_tool":[[{"node":"J.A.R.V.I.S","type":"ai_tool","index":0}]]},"J.A.R.V.I.S":{"main":[[{"node":"ENVIO RELATORIO GRUPO1","type":"main","index":0}]]},"If":{"main":[[{"node":"normalizacao1","type":"main","index":0}],[{"node":"ENVIO RELATORIO GRUPO","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"input evolution":[{"json":{"headers":{"host":"n8n.typebot.pro","user-agent":"axios/1.7.9","content-length":"902","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"192.168.64.1","x-forwarded-host":"n8n.typebot.pro","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"239301ba036b","x-real-ip":"192.168.64.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"ZAPFINANCEIRO-1","data":{"key":{"remoteJid":"553488187459@s.whatsapp.net","fromMe":false,"id":"3A98F9792ECAB5600E8C"},"pushName":"Jamil abrão","status":"DELIVERY_ACK","message":{"conversation":"Qual status da nossa instancia da evo","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"RIzpsm2df1Q6oQ==","senderTimestamp":"1744117385","recipientKeyHash":"Li7yDW4JRu1RQg==","recipientTimestamp":"1743217374"},"deviceListMetadataVersion":2,"messageSecret":"dFZmAnusrKzDS2oqvbYGFxmbm80jHXYaUbEzcjRlYLM="}},"messageType":"conversation","messageTimestamp":1744390985,"instanceId":"0d73a681-3ed2-4c5b-b2b4-c38e0a3ab0a1","source":"ios"},"destination":"https://n8n.typebot.pro/webhook/jarvis","date_time":"2025-04-11T14:03:06.293Z","sender":"553121810117@s.whatsapp.net","server_url":"https://whatsapi.typebot.pro","apikey":"2E39C0AC4ABD-45BF-9968-22985628E0B6"},"webhookUrl":"https://n8n.typebot.pro/webhook/jarvis","executionMode":"production"}}]},"versionId":"295e46df-7f56-4382-9b93-ead41a596274","triggerCount":1,"tags":[]}