[santobet]-afiliado-status-QEpcQfA4iAmFee3K.json
{"createdAt":"2025-06-11T16:58:45.628Z","updatedAt":"2025-07-03T14:12:43.273Z","id":"QEpcQfA4iAmFee3K","name":"[SANTOBET] AFILIADO STATUS","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"affrejeitado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-560,320],"id":"896f9da1-f94d-4c99-8127-548aebf35e09","name":"AFILIADO RECUSADO","webhookId":"2f125a87-8c20-4986-b57d-762cd797ca51"},{"parameters":{"httpMethod":"POST","path":"affaceito","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-600,-140],"id":"850a9c69-d091-41a2-a836-3b4929fd6d52","name":"AFILIADO ACEITO","webhookId":"b24d0fdc-a398-451f-87cf-8b8735d75329"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LUCASSANTOBET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55{{ $json.TELEFONE.replace(/[\\(\\)\\-\\s]/g, '') }}"},{"name":"text","value":"=🔥 AFILIAÇÃO APROVADA | SANTO BET 🔥\n\nOlá, {{ $json.NOME }}, Email: {{ $json.EMAIL }}!,\nJá informo que sua afiliação foi aprovada com sucesso. 🟢🚀\nSeu painel já está liberado, pode pegar seu link e começar a divulgar.\n\nBem-vindo à equipe que mais cresce! 💼💚\n\n🔗 Acesso à Plataforma de Afiliados:\n👉 https://partners.santox.bet/app/login\n\n🔗 Drive Marketing Afiliados:\n👉 https://shre.ink/SantoBet\n\n💰 Modelo de Comissão:\n\n✔ Condição: {{ $json.ACORDO }} (Participação dos lucros)\n📌 Você recebe {{ $('AFILIADO ACEITO').item.json.body.Rev }}%  dos lucros gerados pelos seus clientes na SantoBet.\n\n✔ Valor mínimo para saque: R$100.00\n📌 Os saques podem ser solicitados diretamente pelo seu painel, sempre às segundas-feiras a partir das 9:00 (tentativas de saques fora deste período mostrarão mensagem de erro).\n\n✔ Todo material de apoio deve ser solicitado por este contato\ncomo Saldo para estratégias e MKT, Salas de análises e sinais, etc.\n\n💪 Sucesso e conte com a gente! 🚀\n\n🔹 Equipe Santo Bet"}]},"options":{}},"id":"c7320255-fc2b-4fac-9e8f-7c382358ef85","name":"ENVIA MSG AO AFILIADO2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,-140],"alwaysOutputData":false,"retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","MENSAGEM":"PARTNERS SANTOS"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ACORDO","displayName":"ACORDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GERENTE","displayName":"GERENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GRUPO BLACK","displayName":"GRUPO BLACK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SALA SINAL","displayName":"SALA SINAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DA AFILIAÇÃO","displayName":"DATA DA AFILIAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BANCA DEMO","displayName":"BANCA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL CONTA DEMO","displayName":"EMAIL CONTA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[540,-240],"id":"d4b0f781-68e7-48ce-8b2b-38dcf828bc98","name":"MENSSAGEM ENVIADA","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","MENSAGEM":"ERRO AO ENVIAR"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ACORDO","displayName":"ACORDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GERENTE","displayName":"GERENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GRUPO BLACK","displayName":"GRUPO BLACK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SALA SINAL","displayName":"SALA SINAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DA AFILIAÇÃO","displayName":"DATA DA AFILIAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BANCA DEMO","displayName":"BANCA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL CONTA DEMO","displayName":"EMAIL CONTA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[540,-40],"id":"dc7b1864-0c9e-4d4d-aeb1-01d93a4cd687","name":"ERRO AO ENVIAR","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[760,-140],"id":"05fea801-25f4-4928-b9f4-776bd9a50302","name":"No Operation, do nothing"},{"parameters":{"content":"## AFILIADO ACEITO\n** AO ACEITAR NA SANTOBET, O AFILIADO É ADICIONADO A PLANILHA AFILIADO E LOGO APOS RECEBE A MSG DE BOAS VINDAS","height":440,"width":1560},"type":"n8n-nodes-base.stickyNote","position":[-640,-300],"typeVersion":1,"id":"63646238-eed5-4ac5-8087-e052a696eb99","name":"Sticky Note"},{"parameters":{"content":"## AFILIADO RECUSADO\n** APENAS DESCONSIDERA O EVENTO","height":340,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-640,160],"typeVersion":1,"id":"fcc6a04b-9f85-442f-ab7b-6cee6637ec0a","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-280,320],"id":"dcee3d39-1b9f-4b28-9523-867441148b4d","name":"No Operation, do nothing1"},{"parameters":{"operation":"formatDate","date":"={{ DateTime.now().setZone(\"America/Sao_Paulo\").toFormat(\"yyyy-MM-dd\") }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-400,-140],"id":"4ebee12b-8314-4789-8c95-d2c6d4e996b7","name":"Date & Time"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('AFILIADO ACEITO').item.json.body.email }}","AFILIADO":"SIM","DATA":"={{ $json.formattedDate }}","INDICADO POR":"={{ $('AFILIADO ACEITO').item.json.body.inviter }}","TELEFONE":"={{\n  (() => {\n    const phone = $('AFILIADO ACEITO').item.json.body.phone || '';\n    const raw = phone.replace(/\\D/g, '');\n\n    // Verifica se já está formatado com (XX) XXXXX-XXXX (com ou sem espaço)\n    const formattedWithSpace = raw.length === 11 ? `(${raw.slice(0,2)}) ${raw.slice(2,7)}-${raw.slice(7)}` : phone;\n\n    if (phone.match(/^\\(\\d{2}\\) \\d{5}-\\d{4}$/)) {\n      // Já está no formato com espaço, retorna como está\n      return phone;\n    } else if (phone.match(/^\\(\\d{2}\\)\\d{5}-\\d{4}$/)) {\n      // Está formatado mas sem espaço, adiciona espaço\n      return phone.slice(0,3) + ' ' + phone.slice(3);\n    } else if (raw.length === 11) {\n      // Não formatado, formata e adiciona espaço\n      return formattedWithSpace;\n    } else {\n      // Qualquer outro caso retorna o que veio\n      return phone;\n    }\n  })()\n}}","BOAS VINDAS ENVIADAS":"SIM"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS ENVIADAS","displayName":"BOAS VINDAS ENVIADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-180,-140],"id":"b6e144ac-d357-4d01-8dd5-7efeb71a9ffa","name":"CRIA OU EDITA JOGADOR","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('AFILIADO ACEITO').item.json.body.email }}","GERENTE":"JESSICA","TELEFONE":"={{\n  (() => {\n    const phone = $('AFILIADO ACEITO').item.json.body.phone || '';\n    const raw = phone.replace(/\\D/g, '');\n\n    // Verifica se já está formatado com (XX) XXXXX-XXXX (com ou sem espaço)\n    const formattedWithSpace = raw.length === 11 ? `(${raw.slice(0,2)}) ${raw.slice(2,7)}-${raw.slice(7)}` : phone;\n\n    if (phone.match(/^\\(\\d{2}\\) \\d{5}-\\d{4}$/)) {\n      // Já está no formato com espaço, retorna como está\n      return phone;\n    } else if (phone.match(/^\\(\\d{2}\\)\\d{5}-\\d{4}$/)) {\n      // Está formatado mas sem espaço, adiciona espaço\n      return phone.slice(0,3) + ' ' + phone.slice(3);\n    } else if (raw.length === 11) {\n      // Não formatado, formata e adiciona espaço\n      return formattedWithSpace;\n    } else {\n      // Qualquer outro caso retorna o que veio\n      return phone;\n    }\n  })()\n}}","NOME":"={{ $('AFILIADO ACEITO').item.json.body.name }}","DATA DA AFILIAÇÃO":"={{ $('Date & Time').item.json.formattedDate }}","MENSAGEM":"PARTNERS SANTOS","AFILIADO PAI":"={{ $('AFILIADO ACEITO').item.json.body.inviter }}","ACORDO":"=REV {{ $('AFILIADO ACEITO').item.json.body.Rev }}%","CHAVE PIX":"={{ $('AFILIADO ACEITO').item.json.body.chave_pix }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AFILIADO PAI","displayName":"AFILIADO PAI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ACORDO","displayName":"ACORDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GERENTE","displayName":"GERENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GRUPO BLACK","displayName":"GRUPO BLACK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SALA SINAL","displayName":"SALA SINAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DA AFILIAÇÃO","displayName":"DATA DA AFILIAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BANCA DEMO","displayName":"BANCA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL CONTA DEMO","displayName":"EMAIL CONTA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[40,-140],"id":"a0173a1f-d49a-4eba-9e8e-8d246603e73b","name":"CRIA OU EDITA AFILIADO","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}}],"connections":{"AFILIADO ACEITO":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"ENVIA MSG AO AFILIADO2":{"main":[[{"node":"MENSSAGEM ENVIADA","type":"main","index":0}],[{"node":"ERRO AO ENVIAR","type":"main","index":0}]]},"MENSSAGEM ENVIADA":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"ERRO AO ENVIAR":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"AFILIADO RECUSADO":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"CRIA OU EDITA JOGADOR","type":"main","index":0}]]},"CRIA OU EDITA JOGADOR":{"main":[[{"node":"CRIA OU EDITA AFILIADO","type":"main","index":0}]]},"CRIA OU EDITA AFILIADO":{"main":[[{"node":"ENVIA MSG AO AFILIADO2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f4c08352-3f67-4590-9b28-f43f9cb095db","triggerCount":2,"tags":[]}