[santobet]---pix-pagos-ZN7d1tnmpnAPfnFy.json
{"updatedAt":"2025-09-24T20:23:03.086Z","createdAt":"2025-02-12T20:06:54.522Z","id":"ZN7d1tnmpnAPfnFy","name":"[SANTOBET] - PIX PAGOS","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2928,-832],"id":"f861a0bf-a225-4c02-a4a6-d7c32d9c25c7","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Webhookpix').item.json.body.email }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Webhookpix').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ $('Webhookpix').item.json.body.amount }}","type":"string"},{"id":"063d2ba6-8224-4576-a8e3-60401710cf19","name":"VL_TAXA","value":"={{ \n  ( \n    $('Webhookpix').item.json.body.amount <= 30 \n    ? (0.80 + $('Webhookpix').item.json.body.amount * 0.01 - 0.01)  // Removemos 0.01 para evitar arredondamento para cima\n    : $('Webhookpix').item.json.body.amount * 0.04 - 0.01  // Também removemos 0.01 aqui para manter o padrão\n  )\n  .toFixed(2)  \n  .replace('.', ',')  \n  .replace(/^(\\d+)(\\d{2})$/, 'R$ $1,$2')  \n}}\n\n","type":"string"},{"id":"2331ec1d-d4f3-4821-9fa2-bdea243814c5","name":"CONVIDADO POR","value":"={{ $('Webhookpix').item.json.body.inviter }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2512,-832],"id":"da5c43e9-45f0-49ea-a322-314348804fdd","name":"Edit Fields5"},{"parameters":{"content":"## PIX pago\n** REGISTRO DE PIX GERADOS COM ID DO JOGADOR","height":260,"width":1304},"type":"n8n-nodes-base.stickyNote","position":[2288,-672],"typeVersion":1,"id":"0739b34f-f4ef-4945-95a8-988fb40c5366","name":"Sticky Note6"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1427298924,"mode":"list","cachedResultName":"DEPOSITO PAGO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1427298924"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","TELEFONE":"={{ $json.TELEFONE }}","DATA":"={{ $json.DATA }}"," VALOR ":"={{ $json.VALOR }}","TAXA BSPAY":"={{ $json.VL_TAXA }}","INDICADO POR":"={{ $json['CONVIDADO POR'] }}"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" VALOR ","displayName":" VALOR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TAXA BSPAY","displayName":"TAXA BSPAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2720,-832],"id":"1b43239e-800d-49ea-b84a-b3418712e74e","name":"SALVA JOGADOR NO SHEET2","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2304,-832],"id":"de105349-1e90-4d77-ae6c-2ee0b009e307","name":"Date & Time3"},{"parameters":{"httpMethod":"POST","path":"santopix","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2304,-592],"id":"729fa0a0-46ea-46e3-8046-eb8c153261da","name":"Webhookpix","webhookId":"914cfc4d-f456-4908-9435-53cb4295aef3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3360,-592],"id":"3c015f4a-91eb-45d2-a695-10deab371dee","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Webhookpix').item.json.body.email }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Webhookpix').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ $('Webhookpix').item.json.body.amount }}","type":"string"},{"id":"063d2ba6-8224-4576-a8e3-60401710cf19","name":"VL_TAXA","value":"={{ \n  ( \n    $('Webhookpix').item.json.body.amount <= 30 \n    ? (0.80 + $('Webhookpix').item.json.body.amount * 0.01 - 0.01)  // Removemos 0.01 para evitar arredondamento para cima\n    : $('Webhookpix').item.json.body.amount * 0.04 - 0.01  // Também removemos 0.01 aqui para manter o padrão\n  )\n  .toFixed(2)  \n  .replace('.', ',')  \n  .replace(/^(\\d+)(\\d{2})$/, 'R$ $1,$2')  \n}}\n\n","type":"string"},{"id":"2331ec1d-d4f3-4821-9fa2-bdea243814c5","name":"CONVIDADO POR","value":"={{ $('Webhookpix').item.json.body.inviter }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,-592],"id":"d2ece7cc-0271-4b7f-8cb3-99a3b3f062f3","name":"Edit Fields"},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2512,-592],"id":"fc2d33a2-16fd-4b66-a6f5-79cb222d1f20","name":"Date & Time"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.EMAIL }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2928,-592],"id":"83352abb-8a4d-425a-8eb4-c3cbc3e57a7b","name":"BUSCA DADOS NA TABELA JOGDOR","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1427298924,"mode":"list","cachedResultName":"DEPOSITO PAGO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1427298924"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","TELEFONE":"={{ $json.TELEFONE }}","DATA":"={{ $('Edit Fields').item.json.DATA }}"," VALOR ":"={{ $('Edit Fields').item.json.VALOR }}","TAXA BSPAY":"={{ $('Edit Fields').item.json.VL_TAXA }}","INDICADO POR":"={{ $('Edit Fields').item.json['CONVIDADO POR'] }}","ID":"={{ $json.ID }}"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" VALOR ","displayName":" VALOR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TAXA BSPAY","displayName":"TAXA BSPAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3136,-592],"id":"a3f257cf-448c-4b75-acdf-9bb00c853585","name":"SALVA DEPOSITO DO JOGADOR","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}}],"connections":{"Edit Fields5":{"main":[[{"node":"SALVA JOGADOR NO SHEET2","type":"main","index":0}]]},"Date & Time3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"SALVA JOGADOR NO SHEET2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]},"Webhookpix":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"BUSCA DADOS NA TABELA JOGDOR","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"BUSCA DADOS NA TABELA JOGDOR":{"main":[[{"node":"SALVA DEPOSITO DO JOGADOR","type":"main","index":0}]]},"SALVA DEPOSITO DO JOGADOR":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","sheetId":0,"lastRevision":19159,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME&revision=19159&exportFormat=xlsx"},"node:Google Sheets Trigger1":{"documentId":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","sheetId":1588102366,"lastRevision":2739,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME&revision=2739&exportFormat=xlsx"},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"94d13b70-70cf-4b7a-9508-4c61d869765d","activeVersionId":"94d13b70-70cf-4b7a-9508-4c61d869765d","triggerCount":1,"shared":[{"updatedAt":"2025-02-12T20:06:54.522Z","createdAt":"2025-02-12T20:06:54.522Z","role":"workflow:owner","workflowId":"ZN7d1tnmpnAPfnFy","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":{"updatedAt":"2025-12-02T03:40:31.482Z","createdAt":"2025-12-02T03:40:31.482Z","versionId":"94d13b70-70cf-4b7a-9508-4c61d869765d","workflowId":"ZN7d1tnmpnAPfnFy","nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2928,-832],"id":"f861a0bf-a225-4c02-a4a6-d7c32d9c25c7","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Webhookpix').item.json.body.email }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Webhookpix').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ $('Webhookpix').item.json.body.amount }}","type":"string"},{"id":"063d2ba6-8224-4576-a8e3-60401710cf19","name":"VL_TAXA","value":"={{ \n  ( \n    $('Webhookpix').item.json.body.amount <= 30 \n    ? (0.80 + $('Webhookpix').item.json.body.amount * 0.01 - 0.01)  // Removemos 0.01 para evitar arredondamento para cima\n    : $('Webhookpix').item.json.body.amount * 0.04 - 0.01  // Também removemos 0.01 aqui para manter o padrão\n  )\n  .toFixed(2)  \n  .replace('.', ',')  \n  .replace(/^(\\d+)(\\d{2})$/, 'R$ $1,$2')  \n}}\n\n","type":"string"},{"id":"2331ec1d-d4f3-4821-9fa2-bdea243814c5","name":"CONVIDADO POR","value":"={{ $('Webhookpix').item.json.body.inviter }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2512,-832],"id":"da5c43e9-45f0-49ea-a322-314348804fdd","name":"Edit Fields5"},{"parameters":{"content":"## PIX pago\n** REGISTRO DE PIX GERADOS COM ID DO JOGADOR","height":260,"width":1304},"type":"n8n-nodes-base.stickyNote","position":[2288,-672],"typeVersion":1,"id":"0739b34f-f4ef-4945-95a8-988fb40c5366","name":"Sticky Note6"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1427298924,"mode":"list","cachedResultName":"DEPOSITO PAGO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1427298924"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","TELEFONE":"={{ $json.TELEFONE }}","DATA":"={{ $json.DATA }}"," VALOR ":"={{ $json.VALOR }}","TAXA BSPAY":"={{ $json.VL_TAXA }}","INDICADO POR":"={{ $json['CONVIDADO POR'] }}"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" VALOR ","displayName":" VALOR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TAXA BSPAY","displayName":"TAXA BSPAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2720,-832],"id":"1b43239e-800d-49ea-b84a-b3418712e74e","name":"SALVA JOGADOR NO SHEET2","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2304,-832],"id":"de105349-1e90-4d77-ae6c-2ee0b009e307","name":"Date & Time3"},{"parameters":{"httpMethod":"POST","path":"santopix","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2304,-592],"id":"729fa0a0-46ea-46e3-8046-eb8c153261da","name":"Webhookpix","webhookId":"914cfc4d-f456-4908-9435-53cb4295aef3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3360,-592],"id":"3c015f4a-91eb-45d2-a695-10deab371dee","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Webhookpix').item.json.body.email }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Webhookpix').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ $('Webhookpix').item.json.body.amount }}","type":"string"},{"id":"063d2ba6-8224-4576-a8e3-60401710cf19","name":"VL_TAXA","value":"={{ \n  ( \n    $('Webhookpix').item.json.body.amount <= 30 \n    ? (0.80 + $('Webhookpix').item.json.body.amount * 0.01 - 0.01)  // Removemos 0.01 para evitar arredondamento para cima\n    : $('Webhookpix').item.json.body.amount * 0.04 - 0.01  // Também removemos 0.01 aqui para manter o padrão\n  )\n  .toFixed(2)  \n  .replace('.', ',')  \n  .replace(/^(\\d+)(\\d{2})$/, 'R$ $1,$2')  \n}}\n\n","type":"string"},{"id":"2331ec1d-d4f3-4821-9fa2-bdea243814c5","name":"CONVIDADO POR","value":"={{ $('Webhookpix').item.json.body.inviter }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,-592],"id":"d2ece7cc-0271-4b7f-8cb3-99a3b3f062f3","name":"Edit Fields"},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2512,-592],"id":"fc2d33a2-16fd-4b66-a6f5-79cb222d1f20","name":"Date & Time"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.EMAIL }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2928,-592],"id":"83352abb-8a4d-425a-8eb4-c3cbc3e57a7b","name":"BUSCA DADOS NA TABELA JOGDOR","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1427298924,"mode":"list","cachedResultName":"DEPOSITO PAGO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1427298924"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","TELEFONE":"={{ $json.TELEFONE }}","DATA":"={{ $('Edit Fields').item.json.DATA }}"," VALOR ":"={{ $('Edit Fields').item.json.VALOR }}","TAXA BSPAY":"={{ $('Edit Fields').item.json.VL_TAXA }}","INDICADO POR":"={{ $('Edit Fields').item.json['CONVIDADO POR'] }}","ID":"={{ $json.ID }}"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" VALOR ","displayName":" VALOR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TAXA BSPAY","displayName":"TAXA BSPAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3136,-592],"id":"a3f257cf-448c-4b75-acdf-9bb00c853585","name":"SALVA DEPOSITO DO JOGADOR","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}}],"connections":{"Edit Fields5":{"main":[[{"node":"SALVA JOGADOR NO SHEET2","type":"main","index":0}]]},"Date & Time3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"SALVA JOGADOR NO SHEET2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]},"Webhookpix":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"BUSCA DADOS NA TABELA JOGDOR","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"BUSCA DADOS NA TABELA JOGDOR":{"main":[[{"node":"SALVA DEPOSITO DO JOGADOR","type":"main","index":0}]]},"SALVA DEPOSITO DO JOGADOR":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null},"tags":[{"updatedAt":"2025-03-06T17:18:48.721Z","createdAt":"2025-03-06T17:18:48.721Z","id":"BjJH7wIAM5snchbM","name":"SANTOBET"}]}