[santobet]---scraping-dashboard-htxD6cOpVXTE52v1.json
{"createdAt":"2025-05-16T16:59:01.316Z","updatedAt":"2025-05-16T21:54:28.812Z","id":"htxD6cOpVXTE52v1","name":"[SANTOBET] - SCRAPING DASHBOARD","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://phplaravel-1403302-5232241.cloudwaysapps.com/livewire/update","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"accept-language","value":"pt-BR,pt;q=0.9"},{"name":"origin","value":"https://phplaravel-1403302-5232241.cloudwaysapps.com"},{"name":"priority","value":"u=1, i"},{"name":"referer","value":"https://phplaravel-1403302-5232241.cloudwaysapps.com/admin"},{"name":"sec-ch-ua","value":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"sec-fetch-dest","value":"empty"},{"name":"sec-fetch-mode","value":"cors"},{"name":"sec-fetch-site","value":"same-origin"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36"},{"name":"x-livewire"},{"name":"cookie","value":"XSRF-TOKEN=eyJpdiI6IkJMVFM4TnIvMGZROVFxQjR0UXR2R1E9PSIsInZhbHVlIjoiTnF5aFpvcmpRdCt2RHl4Q2t2VzkzNG04ekhzUzBtQ29VT1NPNThlaDE0R1RUV28xVlJQT1RGMzZLKzIwdU1wU2E0ZUZRbkdRa0FiRVkxSHp0UDlaMXJjOXRyMUJsWGJlSEFDV1dwcW9rTHRtM1lCRTlhcEFWd1hGSTJQQ2ZDamIiLCJtYWMiOiJiY2NhNTljOTA5N2Y3NmVkMDhlOGEyMTI0MWM4ZjgzMzg5MDFiYjdiY2IzYmY5MmMzZmIwNDE4ZTI0NTY0YzVlIiwidGFnIjoiIn0%3D;laravel_session=eyJpdiI6InVKZ3NFQ3NnWGFiVk9vRjhDMnpNMHc9PSIsInZhbHVlIjoiV2U3dW12QTJjVmZ0cHArU2xHRFYvVlNqRHpTemttYUpGMS9uOUNwbVhsL2VEdHgzZHdvcUVyZnd2WWtaZ21iQ3pqSXBzYytnZE5oMlFQS0J2ZkVmOXZvQ2VJMnJGcTVzY2pVNisrVHA1V0Vxd2pJN0l0RS9YM29HRUJVYklqQlkiLCJtYWMiOiI2ZWFmZjE5ODk5ZjdhZjA4MzJjZmI1ODRhYjhlOTVjYzcyYjRjM2IxZTFmOGU3YzdhNzRmNjQ1MzIzYjRiNmU4IiwidGFnIjoiIn0%3D;"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"_token\": \"anJi1ctqGGtsmI2ah6GTI2gFopI8rYtJZExyBwOH\",\n  \"components\": [\n    {\n      \"snapshot\": \"{\\\"data\\\":{\\\"dataChecksum\\\":\\\"f311146e1ea53465d99b299518ee0ae6\\\",\\\"filter\\\":null,\\\"filters\\\":null},\\\"memo\\\":{\\\"id\\\":\\\"pa9JJqhwgmLWTcBH6XMR\\\",\\\"name\\\":\\\"app.filament.widgets.z-register-chart\\\",\\\"path\\\":\\\"admin\\\",\\\"method\\\":\\\"GET\\\",\\\"children\\\":[],\\\"scripts\\\":[],\\\"assets\\\":[],\\\"props\\\":[\\\"filters\\\"],\\\"errors\\\":[],\\\"locale\\\":\\\"pt_BR\\\"},\\\"checksum\\\":\\\"d2843eb91e6a9260afb463e86c7c642a661443b36cc47124e2f58336c7562537\\\"}\",\n      \"updates\": {},\n      \"calls\": [\n        {\n          \"path\": \"\",\n          \"method\": \"updateChartData\",\n          \"params\": []\n        }\n      ]\n    },\n    {\n      \"snapshot\": \"{\\\"data\\\":{\\\"dataChecksum\\\":\\\"fd05fc8f89a2a940465f435da37c4c26\\\",\\\"filter\\\":null,\\\"filters\\\":null},\\\"memo\\\":{\\\"id\\\":\\\"jplYG05pdAfoh3NgHtVJ\\\",\\\"name\\\":\\\"app.filament.widgets.z-profit-chart\\\",\\\"path\\\":\\\"admin\\\",\\\"method\\\":\\\"GET\\\",\\\"children\\\":[],\\\"scripts\\\":[],\\\"assets\\\":[],\\\"props\\\":[\\\"filters\\\"],\\\"errors\\\":[],\\\"locale\\\":\\\"pt_BR\\\"},\\\"checksum\\\":\\\"e22751b7fcbafbe999dae115e6ec87c6b7f6d8cc21e8193251f0c778af474aa4\\\"}\",\n      \"updates\": {},\n      \"calls\": [\n        {\n          \"path\": \"\",\n          \"method\": \"updateChartData\",\n          \"params\": []\n        }\n      ]\n    },\n    {\n      \"snapshot\": \"{\\\"data\\\":[],\\\"memo\\\":{\\\"id\\\":\\\"sAT1bxm9ygLyMZUQPVxO\\\",\\\"name\\\":\\\"app.filament.widgets.second-stat\\\",\\\"path\\\":\\\"admin\\\",\\\"method\\\":\\\"GET\\\",\\\"children\\\":[],\\\"scripts\\\":[],\\\"assets\\\":[],\\\"errors\\\":[],\\\"locale\\\":\\\"pt_BR\\\"},\\\"checksum\\\":\\\"ae88dadbb66e5849ab89505e6cd412510f99138b45ab093b5765c3be44c4d5b4\\\"}\",\n      \"updates\": {},\n      \"calls\": []\n    },\n    {\n      \"snapshot\": \"{\\\"data\\\":{\\\"filters\\\":null},\\\"memo\\\":{\\\"id\\\":\\\"lDAb9IYKgzdgUDbCd9rV\\\",\\\"name\\\":\\\"app.filament.widgets.first-stat\\\",\\\"path\\\":\\\"admin\\\",\\\"method\\\":\\\"GET\\\",\\\"children\\\":[],\\\"scripts\\\":[],\\\"assets\\\":[],\\\"props\\\":[\\\"filters\\\"],\\\"errors\\\":[],\\\"locale\\\":\\\"pt_BR\\\"},\\\"checksum\\\":\\\"c915db86f008d386e04e47187e0b6c48fe17163b88455a06df1379b67da30157\\\"}\",\n      \"updates\": {},\n      \"calls\": []\n    },\n    {\n      \"snapshot\": \"{\\\"data\\\":{\\\"filters\\\":null},\\\"memo\\\":{\\\"id\\\":\\\"cC0r3eZnaOyPh6gGl3UJ\\\",\\\"name\\\":\\\"app.filament.widgets.third-stat\\\",\\\"path\\\":\\\"admin\\\",\\\"method\\\":\\\"GET\\\",\\\"children\\\":[],\\\"scripts\\\":[],\\\"assets\\\":[],\\\"props\\\":[\\\"filters\\\"],\\\"errors\\\":[],\\\"locale\\\":\\\"pt_BR\\\"},\\\"checksum\\\":\\\"555ff5354393b9ad46e0c29766c78543fcc7b25a7bd31714a4e4562b350c6533\\\"}\",\n      \"updates\": {},\n      \"calls\": []\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,-20],"id":"28040b45-c58b-4837-a825-c10ae33319f2","name":"HTTP Request"},{"parameters":{"html":"{{ $json.components[3].effects.html }}{{ $json.components[4].effects.html }}{{ $json.components[2].effects.html }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[100,-20],"id":"d17953a4-196e-4225-9cd9-edbb67e36842","name":"HTML"},{"parameters":{"promptType":"define","text":"={{ $json.html }}","options":{"systemMessage":"=Retire do html FORNECIDO, OS DADOS ABAIXO e me dê uma mensagem formatada para enviar no WhatsApp sempre em ptbr, NÃO INFORME OU DE DICAS DE MODIFICAÇÃO NA MENSAGEM DE SAIDA\n\nUSUÁRIOS NA CASA\n9212\nUsuários registrados\nSALDO DOS JOGADORES\nR$ \n4101 Jogadores com saldo\nSALDO GGR\nR$ \nTaxa ( 17% )\nTotal Pago GGR\nR$ \n10 Pagamentos Realizados\nDEPOSITOS REALIZADOS\nR$ \n7004 Depositos recebidos\nSAQUES REALIZADOS\nR$ \n213 Saques enviados\nPIX GERADOS\n8487\n83% Pagos\nLUCRO TOTAL\nR$ \nValor do lucro total\nPIX RECEBIDOS HOJE\nR$ \n33 Pagamentos Recebidos\nPIX REALIZADOS HOJE\nR$ \n0 Pagamentos Realizados\nPIX GERADOS HOJE\n41\n80% Pagos\nUSUARIOS CADASTRADOS HOJE\n35\n16 Depositaram ( 46% )\n\nPODE USAR EMOJIS PARA REPRESENTAR CADA CATEGORIA\n\nFORMATO DE SAÍDA da mensagem\n\nDATA: {{ new Date().toLocaleDateString('pt-BR') }}\n\n👤 Usuários na Casa: 9212\n✅ Usuários Registrados: 9212\n\n💰 Saldo dos Jogadores: R$ 6.819,02\n   🧑‍🤝‍🧑 Jogadores com Saldo: 4101\n\n📉 Saldo GGR: R$ -1.091,94\n   🪫 Taxa (17%): R$ -1.091,94\n   💸 Total Pago GGR: R$ 46.835,60\n   ✅ Pagamentos Realizados: 10\n\n📈 Depósitos Realizados: R$ 244.817,00\n   ✅ Depósitos Recebidos: 7004\n\n📤 Saques Realizados: R$ 65.040,40\n   ✅ Saques Enviados: 213\n\n PIX \n\n   ✅ Pix Gerados: 8487\n      ✅ Pix Pagos: 83%\n\n   ✅ Pix Recebidos Hoje: R$ 953,00\n      ✅ Pagamentos Recebidos: 33\n\n   📤 Pix Realizados Hoje: R$ 0,00\n      ✅ Pagamentos Realizados: 0\n\n   ✅ Pix Gerados Hoje: 41\n      ✅ Pix Pagos: 80%\n\n\n🤑 Lucro Total: R$ 179.776,60\n\n➕ Usuários Cadastrados Hoje: 35\n   ✅ Depositaram: 16 (46%)"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[320,-20],"id":"e3fcdd08-664a-46c0-8803-adde14b0868b","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"7fcde2d8-1f20-487b-8f11-93f5245bff11","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,-20],"id":"f1724fa8-c49a-42be-aa18-2cd5f44c0de5","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5534988187499"},{"name":"text","value":"=RELATÓRIO SITE SANTOBET\n{{ $json.output }}"}]},"options":{}},"id":"6f7ee29a-b9b3-4ad7-9dad-a1788968c6a7","name":"ENVIA MSG AO AFILIADO2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,-20],"alwaysOutputData":false,"retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"modelName":"models/gemini-1.5-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[300,180],"id":"de01d578-2884-400c-81db-270757d36e29","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"W9iqAHpJXispMNuH","name":"GEMINI JAMIL"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":59}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-340,-20],"id":"700a2d6d-2063-406c-af72-78e9299ef468","name":"Schedule Trigger1"},{"parameters":{"method":"POST","url":"https://phplaravel-1403302-5232241.cloudwaysapps.com/livewire/update","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"accept-language","value":"pt-BR,pt;q=0.9"},{"name":"origin","value":"https://phplaravel-1403302-5232241.cloudwaysapps.com"},{"name":"priority","value":"u=1, i"},{"name":"referer","value":"https://phplaravel-1403302-5232241.cloudwaysapps.com/admin"},{"name":"sec-ch-ua","value":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"sec-fetch-dest","value":"empty"},{"name":"sec-fetch-mode","value":"cors"},{"name":"sec-fetch-site","value":"same-origin"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36"},{"name":"x-livewire"},{"name":"cookie","value":"XSRF-TOKEN=eyJpdiI6IkJMVFM4TnIvMGZROVFxQjR0UXR2R1E9PSIsInZhbHVlIjoiTnF5aFpvcmpRdCt2RHl4Q2t2VzkzNG04ekhzUzBtQ29VT1NPNThlaDE0R1RUV28xVlJQT1RGMzZLKzIwdU1wU2E0ZUZRbkdRa0FiRVkxSHp0UDlaMXJjOXRyMUJsWGJlSEFDV1dwcW9rTHRtM1lCRTlhcEFWd1hGSTJQQ2ZDamIiLCJtYWMiOiJiY2NhNTljOTA5N2Y3NmVkMDhlOGEyMTI0MWM4ZjgzMzg5MDFiYjdiY2IzYmY5MmMzZmIwNDE4ZTI0NTY0YzVlIiwidGFnIjoiIn0%3D;laravel_session=eyJpdiI6InVKZ3NFQ3NnWGFiVk9vRjhDMnpNMHc9PSIsInZhbHVlIjoiV2U3dW12QTJjVmZ0cHArU2xHRFYvVlNqRHpTemttYUpGMS9uOUNwbVhsL2VEdHgzZHdvcUVyZnd2WWtaZ21iQ3pqSXBzYytnZE5oMlFQS0J2ZkVmOXZvQ2VJMnJGcTVzY2pVNisrVHA1V0Vxd2pJN0l0RS9YM29HRUJVYklqQlkiLCJtYWMiOiI2ZWFmZjE5ODk5ZjdhZjA4MzJjZmI1ODRhYjhlOTVjYzcyYjRjM2IxZTFmOGU3YzdhNzRmNjQ1MzIzYjRiNmU4IiwidGFnIjoiIn0%3D;"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"_token\": \"anJi1ctqGGtsmI2ah6GTI2gFopI8rYtJZExyBwOH\",\n  \"components\": [\n    {\n      \"snapshot\": \"{\\\"data\\\":{\\\"dataChecksum\\\":\\\"f311146e1ea53465d99b299518ee0ae6\\\",\\\"filter\\\":null,\\\"filters\\\":null},\\\"memo\\\":{\\\"id\\\":\\\"pa9JJqhwgmLWTcBH6XMR\\\",\\\"name\\\":\\\"app.filament.widgets.z-register-chart\\\",\\\"path\\\":\\\"admin\\\",\\\"method\\\":\\\"GET\\\",\\\"children\\\":[],\\\"scripts\\\":[],\\\"assets\\\":[],\\\"props\\\":[\\\"filters\\\"],\\\"errors\\\":[],\\\"locale\\\":\\\"pt_BR\\\"},\\\"checksum\\\":\\\"d2843eb91e6a9260afb463e86c7c642a661443b36cc47124e2f58336c7562537\\\"}\",\n      \"updates\": {},\n      \"calls\": [\n        {\n          \"path\": \"\",\n          \"method\": \"updateChartData\",\n          \"params\": []\n        }\n      ]\n    },\n    {\n      \"snapshot\": \"{\\\"data\\\":{\\\"dataChecksum\\\":\\\"fd05fc8f89a2a940465f435da37c4c26\\\",\\\"filter\\\":null,\\\"filters\\\":null},\\\"memo\\\":{\\\"id\\\":\\\"jplYG05pdAfoh3NgHtVJ\\\",\\\"name\\\":\\\"app.filament.widgets.z-profit-chart\\\",\\\"path\\\":\\\"admin\\\",\\\"method\\\":\\\"GET\\\",\\\"children\\\":[],\\\"scripts\\\":[],\\\"assets\\\":[],\\\"props\\\":[\\\"filters\\\"],\\\"errors\\\":[],\\\"locale\\\":\\\"pt_BR\\\"},\\\"checksum\\\":\\\"e22751b7fcbafbe999dae115e6ec87c6b7f6d8cc21e8193251f0c778af474aa4\\\"}\",\n      \"updates\": {},\n      \"calls\": [\n        {\n          \"path\": \"\",\n          \"method\": \"updateChartData\",\n          \"params\": []\n        }\n      ]\n    },\n    {\n      \"snapshot\": \"{\\\"data\\\":[],\\\"memo\\\":{\\\"id\\\":\\\"sAT1bxm9ygLyMZUQPVxO\\\",\\\"name\\\":\\\"app.filament.widgets.second-stat\\\",\\\"path\\\":\\\"admin\\\",\\\"method\\\":\\\"GET\\\",\\\"children\\\":[],\\\"scripts\\\":[],\\\"assets\\\":[],\\\"errors\\\":[],\\\"locale\\\":\\\"pt_BR\\\"},\\\"checksum\\\":\\\"ae88dadbb66e5849ab89505e6cd412510f99138b45ab093b5765c3be44c4d5b4\\\"}\",\n      \"updates\": {},\n      \"calls\": []\n    },\n    {\n      \"snapshot\": \"{\\\"data\\\":{\\\"filters\\\":null},\\\"memo\\\":{\\\"id\\\":\\\"lDAb9IYKgzdgUDbCd9rV\\\",\\\"name\\\":\\\"app.filament.widgets.first-stat\\\",\\\"path\\\":\\\"admin\\\",\\\"method\\\":\\\"GET\\\",\\\"children\\\":[],\\\"scripts\\\":[],\\\"assets\\\":[],\\\"props\\\":[\\\"filters\\\"],\\\"errors\\\":[],\\\"locale\\\":\\\"pt_BR\\\"},\\\"checksum\\\":\\\"c915db86f008d386e04e47187e0b6c48fe17163b88455a06df1379b67da30157\\\"}\",\n      \"updates\": {},\n      \"calls\": []\n    },\n    {\n      \"snapshot\": \"{\\\"data\\\":{\\\"filters\\\":null},\\\"memo\\\":{\\\"id\\\":\\\"cC0r3eZnaOyPh6gGl3UJ\\\",\\\"name\\\":\\\"app.filament.widgets.third-stat\\\",\\\"path\\\":\\\"admin\\\",\\\"method\\\":\\\"GET\\\",\\\"children\\\":[],\\\"scripts\\\":[],\\\"assets\\\":[],\\\"props\\\":[\\\"filters\\\"],\\\"errors\\\":[],\\\"locale\\\":\\\"pt_BR\\\"},\\\"checksum\\\":\\\"555ff5354393b9ad46e0c29766c78543fcc7b25a7bd31714a4e4562b350c6533\\\"}\",\n      \"updates\": {},\n      \"calls\": []\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,-300],"id":"b30215b5-e222-46b3-b867-63fb4a44e930","name":"HTTP Request1"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":60}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-340,-300],"id":"a1e5ab92-bc13-4c6f-ac35-661296b01f58","name":"Schedule Trigger"},{"parameters":{"content":"## MANTEM TOKEN ATIVO\n**ACESSA DE HORA EM HORA A DASHBOARD","height":260,"width":500},"type":"n8n-nodes-base.stickyNote","position":[-400,-400],"typeVersion":1,"id":"3e4a990e-2c1f-40df-ac76-2c27d164761d","name":"Sticky Note"},{"parameters":{"content":"## ACESSA A DASHBOARD E RASPA DADOS DA INICIAL\n**ENVIO SEMPRE 11:59 DE CADA DIA","height":480,"width":1600},"type":"n8n-nodes-base.stickyNote","position":[-400,-120],"typeVersion":1,"id":"00cce7e2-21b0-4853-9e00-c47074d76adf","name":"Sticky Note1"},{"parameters":{"url":"https://phplaravel-1403302-5232241.cloudwaysapps.com/admin/metrics/top100-payment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"},{"name":"accept-language","value":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7"},{"name":"cache-control","value":"max-age=0"},{"name":"priority","value":"u=0, i"},{"name":"referer","value":"https://phplaravel-1403302-5232241.cloudwaysapps.com/admin/metrics/top100-wallet"},{"name":"sec-ch-ua","value":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"sec-fetch-dest","value":"document"},{"name":"sec-fetch-mode","value":"navigate"},{"name":"sec-fetch-site","value":"same-origin"},{"name":"sec-fetch-user","value":"?1"},{"name":"upgrade-insecure-requests","value":"1"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36"},{"name":"cookie","value":"XSRF-TOKEN=eyJpdiI6IlVZMHF4N2RRKy9iVDNJWW5iZlBXU2c9PSIsInZhbHVlIjoiYnU3VXRudGtPczlOOVJFVUxsRGZGV3NWcCtiV1h1dzdUdFJSd2F5amZZR1pTTjhGME5rRStDWGozYWl4Mmo0VnNJZWRPRmgyaThLZ2hMR3Z3UkU0bWpKR1Y3eUxySjJqZ21BS1gyNWNYVDRCeS81cXJOR0cvcnArSG1zWUtDQngiLCJtYWMiOiI4NzlhZjkyYWU5Mjg5OTRhOTQ3N2VlZjJjNTk5YzNmNTc5MWE1MDNlODAwOTllNDNiZGIxYWUwMmU2Y2IwOTUzIiwidGFnIjoiIn0%3D;laravel_session=eyJpdiI6InlUZldEMzhPY0p6THhpTXdHTW02eUE9PSIsInZhbHVlIjoiV2pSTGI1d2tIUjlUeEFBdWxlTXJkSEpSQkl3UHAyZkI1Y2pGeHByUkhUckpZNldIVDhOSVc4UDN5ck5xWVh4Ty9lRWdxb0tDZE5EelJGTHFxcEo5TWxlM1BodVhzMC9qWU9sckNUSUNpc3dsK3Q4c1JDMytZckR5M3E1amNpZm8iLCJtYWMiOiI2MDNhMGEyNWIzMmE0NzM2MGM2MjFkNzY3OGI0ZDdjZWE1OWM5MTczZDcxNWRmZDEyMzBjMDY5OWQ2MzczMTU2IiwidGFnIjoiIn0%3D;"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,500],"id":"5a988865-0810-46a8-9593-e4c6c91e6a9e","name":"HTTP Request2"},{"parameters":{"html":"{{ $json.data }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-20,500],"id":"f02f3e39-d920-49f3-834b-167d14d9fde9","name":"HTML1"},{"parameters":{"promptType":"define","text":"={{ $json.html }}","options":{"systemMessage":"=Retire do html FORNECIDO, o top 25 jogadores de acordo com o html, me informando posição, email e total depositado.\n\n\nRanking\tJogador\tTotal Depositado\n\nPODE USAR EMOJIS de trofeu para representar as posições\n1 2 3 lugares use medalhas\n\nFORMATO DE SAÍDA da mensagem\n\nDATA: {{ new Date().toLocaleDateString('pt-BR') }}\n\nINFORMAÇÕES GERADAS"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[320,500],"id":"045efd05-df43-421b-b73b-e2b44980be6f","name":"AI Agent1"},{"parameters":{"assignments":{"assignments":[{"id":"7fcde2d8-1f20-487b-8f11-93f5245bff11","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,500],"id":"bc173b77-7588-4028-974b-2749cc6ee9ec","name":"Edit Fields1"},{"parameters":{"modelName":"models/gemini-1.5-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[380,720],"id":"edc575f1-00af-4337-bcbf-217d1f5911ee","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"W9iqAHpJXispMNuH","name":"GEMINI JAMIL"}}},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5534988187499"},{"name":"text","value":"=RELATÓRIO SITE SANTOBET\n{{ $json.output }}"}]},"options":{}},"id":"1747bb4e-08b5-4810-a259-98dde112db75","name":"ENVIA MSG AO AFILIADO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,500],"alwaysOutputData":false,"retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"content":"## ACESSA A DASHBOARD E RASPA RANK JOGADORES\n**ENVIO SEMPRE 11:59 DE CADA DIA","height":480,"width":1600},"type":"n8n-nodes-base.stickyNote","position":[-400,380],"typeVersion":1,"id":"d183c982-3fa5-47f7-b934-fc90aa8afcaf","name":"Sticky Note2"}],"connections":{"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"ENVIA MSG AO AFILIADO2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"HTML1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"ENVIA MSG AO AFILIADO","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2a86ffdd-3054-4ff1-887d-c62694674e7b","triggerCount":2,"tags":[]}