[santobet]---pix-gerados-e-pagos-ZN7d1tnmpnAPfnFy.json
{"createdAt":"2025-02-12T20:06:54.522Z","updatedAt":"2025-04-10T20:01:56.754Z","id":"ZN7d1tnmpnAPfnFy","name":"[SANTOBET] - PIX GERADOS E PAGOS","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3200,-460],"id":"f861a0bf-a225-4c02-a4a6-d7c32d9c25c7","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Switch').item.json.body.name }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Switch').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ $('Switch').item.json.body.amount }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2860,-740],"id":"2056ecf3-d94b-414e-abe2-4b0c3b7a39e7","name":"Edit Fields3"},{"parameters":{"content":"## PIX GERADO\n** REGISTRO DE PIX GERADOS","height":260,"width":1220},"type":"n8n-nodes-base.stickyNote","position":[2380,-840],"typeVersion":1,"id":"f2f534c7-3933-4955-80b2-2ddcd0186277","name":"Sticky Note3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1535349365,"mode":"list","cachedResultName":"DEPOSITO GERADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1535349365"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["EMAIL"],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PIX GERADO","displayName":"PIX GERADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3120,-740],"id":"edc2c464-afdd-4b69-918b-b3d01ec1f168","name":"SALVA JOGADOR NO SHEET1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2600,-740],"id":"f9b0ba61-97c6-4b95-9ef9-a24ae803f12d","name":"Date & Time1"},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Webhookpix').item.json.body.email }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Webhookpix').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ $('Webhookpix').item.json.body.amount }}","type":"string"},{"id":"063d2ba6-8224-4576-a8e3-60401710cf19","name":"VL_TAXA","value":"={{ \n  ( \n    $('Webhookpix').item.json.body.amount <= 30 \n    ? (0.80 + $('Webhookpix').item.json.body.amount * 0.01 - 0.01)  // Removemos 0.01 para evitar arredondamento para cima\n    : $('Webhookpix').item.json.body.amount * 0.04 - 0.01  // Também removemos 0.01 aqui para manter o padrão\n  )\n  .toFixed(2)  \n  .replace('.', ',')  \n  .replace(/^(\\d+)(\\d{2})$/, 'R$ $1,$2')  \n}}\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2820,-460],"id":"da5c43e9-45f0-49ea-a322-314348804fdd","name":"Edit Fields5"},{"parameters":{"content":"## PIX pago\n** REGISTRO DE PIX GERADOS","height":260,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[2380,-560],"typeVersion":1,"id":"0739b34f-f4ef-4945-95a8-988fb40c5366","name":"Sticky Note6"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1427298924,"mode":"list","cachedResultName":"DEPOSITO PAGO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1427298924"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","TELEFONE":"={{ $json.TELEFONE }}","DATA":"={{ $json.DATA }}"," VALOR ":"={{ $json.VALOR }}","TAXA BSPAY":"={{ $json.VL_TAXA }}"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" VALOR ","displayName":" VALOR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TAXA BSPAY","displayName":"TAXA BSPAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3020,-460],"id":"1b43239e-800d-49ea-b84a-b3418712e74e","name":"SALVA JOGADOR NO SHEET2","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2620,-460],"id":"de105349-1e90-4d77-ae6c-2ee0b009e307","name":"Date & Time3"},{"parameters":{"httpMethod":"POST","path":"santopix","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2420,-460],"id":"729fa0a0-46ea-46e3-8046-eb8c153261da","name":"Webhookpix","webhookId":"914cfc4d-f456-4908-9435-53cb4295aef3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3400,-740],"id":"3f0c1a94-fdd7-4c8e-be3e-8e19974d181f","name":"No Operation, do nothing2"},{"parameters":{"httpMethod":"POST","path":"santopixgerado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2420,-740],"id":"ae526c98-912e-43bc-93af-4a312a95330d","name":"Webhook1","webhookId":"1b3a19ac-6e10-4cef-a9c5-db4bc07fa42b","disabled":true}],"connections":{"Edit Fields3":{"main":[[{"node":"SALVA JOGADOR NO SHEET1","type":"main","index":0}]]},"SALVA JOGADOR NO SHEET1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"SALVA JOGADOR NO SHEET2","type":"main","index":0}]]},"Date & Time3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"SALVA JOGADOR NO SHEET2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]},"Webhookpix":{"main":[[{"node":"Date & Time3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","sheetId":0,"lastRevision":19159,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME&revision=19159&exportFormat=xlsx"},"node:Google Sheets Trigger1":{"documentId":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","sheetId":1588102366,"lastRevision":2739,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME&revision=2739&exportFormat=xlsx"},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"n8n.typebot.pro","user-agent":"GuzzleHttp/7","content-length":"212","content-type":"application/json","x-forwarded-for":"134.209.170.134","x-forwarded-host":"n8n.typebot.pro","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"239301ba036b","x-real-ip":"134.209.170.134","accept-encoding":"gzip"},"params":{},"query":{},"body":{"name":"vaneza.mouranascimento@gmail.com","email":"vaneza.mouranascimento@gmail.com","phone":"(92) 98599-5971","register_date":"2025-04-10T14:32:06.000000Z","ip_address":"2804:d4b:c863:b000:e102:7813:b22d:6412"},"webhookUrl":"https://n8n.typebot.pro/webhook/santobet","executionMode":"production"}}]},"versionId":"d23e6180-522a-4a14-80fd-da91a67899a4","triggerCount":1,"tags":[{"createdAt":"2025-03-06T17:18:48.721Z","updatedAt":"2025-03-06T17:18:48.721Z","id":"BjJH7wIAM5snchbM","name":"SANTOBET"}]}