[santobet]---operação-ZN7d1tnmpnAPfnFy.json
{"createdAt":"2025-02-12T20:06:54.522Z","updatedAt":"2025-04-09T12:51:31.872Z","id":"ZN7d1tnmpnAPfnFy","name":"[SANTOBET] - OPERAﾃﾃグ","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"santobet","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1960,-900],"id":"2d505778-3429-4dae-853c-282abf6bc708","name":"Webhook","webhookId":"1b3a19ac-6e10-4cef-a9c5-db4bc07fa42b"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.register_date }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"REGISTRO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89759896-0615-4761-84a9-395fddc5f4d2","leftValue":"={{ $json.body.pix_code }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"PIX GERADO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2180,-900],"id":"59fc1027-2174-4606-b084-927127fa9900","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"7dd815a0-d0e5-47d0-b26e-3b90811a7b05","name":"NOME","value":"={{ $('Switch').item.json.body.name }}","type":"string"},{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Switch').item.json.body.name }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Switch').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2600,-1040],"id":"cefaeebd-6500-4c52-9c96-9ef7bf9c869c","name":"Edit Fields"},{"parameters":{"content":"## NOVO CADASTRO\n**REGISTRO DE NOVOS JOGADORES","height":260,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[2380,-1120],"typeVersion":1,"id":"ccb665e7-8099-4b4c-ab48-602c95e9aa3d","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3200,-460],"id":"f861a0bf-a225-4c02-a4a6-d7c32d9c25c7","name":"No Operation, do nothing"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["NOME"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2820,-1040],"id":"f00ab3ee-dfd2-4740-b1ad-2c4a67764cb2","name":"SALVA JOGADOR NO SHEET","retryOnFail":true,"waitBetweenTries":5000,"notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}},"notes":"Salvar jogador no sheet"},{"parameters":{"content":"## WEBHOOK E STARTS","height":380,"width":460},"type":"n8n-nodes-base.stickyNote","position":[1900,-1120],"typeVersion":1,"id":"ea1300f4-577b-48f1-9151-410fa2c4bd16","name":"Sticky Note2"},{"parameters":{"operation":"formatDate","date":"={{ DateTime.now().setZone(\"America/Sao_Paulo\").toFormat(\"yyyy-MM-dd\") }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2400,-1040],"id":"e65c8a6f-da3d-4623-8cbc-a11836e13756","name":"Date & Time"},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Switch').item.json.body.name }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Switch').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ $('Switch').item.json.body.amount }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2660,-740],"id":"2056ecf3-d94b-414e-abe2-4b0c3b7a39e7","name":"Edit Fields3"},{"parameters":{"content":"## PIX GERADO\n** REGISTRO DE PIX GERADOS","height":260,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[2380,-840],"typeVersion":1,"id":"f2f534c7-3933-4955-80b2-2ddcd0186277","name":"Sticky Note3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1535349365,"mode":"list","cachedResultName":"DEPOSITO GERADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1535349365"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["EMAIL"],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PIX GERADO","displayName":"PIX GERADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2920,-740],"id":"edc2c464-afdd-4b69-918b-b3d01ec1f168","name":"SALVA JOGADOR NO SHEET1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2400,-740],"id":"f9b0ba61-97c6-4b95-9ef9-a24ae803f12d","name":"Date & Time1"},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Webhookpix').item.json.body.email }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Webhookpix').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ $('Webhookpix').item.json.body.amount }}","type":"string"},{"id":"063d2ba6-8224-4576-a8e3-60401710cf19","name":"VL_TAXA","value":"={{ \n  ( \n    $('Webhookpix').item.json.body.amount <= 30 \n    ? (0.80 + $('Webhookpix').item.json.body.amount * 0.01 - 0.01)  // Removemos 0.01 para evitar arredondamento para cima\n    : $('Webhookpix').item.json.body.amount * 0.04 - 0.01  // Tambﾃｩm removemos 0.01 aqui para manter o padrﾃ｣o\n  )\n  .toFixed(2)  \n  .replace('.', ',')  \n  .replace(/^(\\d+)(\\d{2})$/, 'R$ $1,$2')  \n}}\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2820,-460],"id":"da5c43e9-45f0-49ea-a322-314348804fdd","name":"Edit Fields5"},{"parameters":{"content":"## PIX pago\n** REGISTRO DE PIX GERADOS","height":260,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[2380,-560],"typeVersion":1,"id":"0739b34f-f4ef-4945-95a8-988fb40c5366","name":"Sticky Note6"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1427298924,"mode":"list","cachedResultName":"DEPOSITO PAGO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1427298924"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","TELEFONE":"={{ $json.TELEFONE }}","DATA":"={{ $json.DATA }}"," VALOR ":"={{ $json.VALOR }}","TAXA BSPAY":"={{ $json.VL_TAXA }}"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" VALOR ","displayName":" VALOR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TAXA BSPAY","displayName":"TAXA BSPAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3020,-460],"id":"1b43239e-800d-49ea-b84a-b3418712e74e","name":"SALVA JOGADOR NO SHEET2","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2620,-460],"id":"de105349-1e90-4d77-ae6c-2ee0b009e307","name":"Date & Time3"},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Webhooksaque').item.json.body.email }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ Number($('Webhooksaque').item.json.body.amount).toLocaleString('pt-BR', { minimumFractionDigits: 2 }) }}","type":"string"},{"id":"3fd940c2-60b3-483d-81c8-6de80077569c","name":"TAXA BSPAY","value":"={{ \n  ($('Webhooksaque').item.json.body.amount * 0.02)  \n  .toFixed(2)  \n  .replace('.', ',')  \n  .replace(/^(\\d+)(\\d{2})$/, 'R$ $1,$2')  \n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2820,-80],"id":"12901769-bea5-442f-bd4e-1201fcdeeae6","name":"Edit Fields6"},{"parameters":{"content":"## SAQUE FEITO\n** REGISTRO SAQUE REALIZADO","height":440,"width":1460},"type":"n8n-nodes-base.stickyNote","position":[2380,-280],"typeVersion":1,"id":"fbcee8e9-1fa1-432a-ae65-4a89793a2c0d","name":"Sticky Note11"},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2620,-80],"id":"3a61a31c-a2c7-451c-9d3e-b3684c9130d6","name":"Date & Time7"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.EMAIL }}"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3020,-80],"id":"462a9e8d-4478-48d7-a11d-a438fa567203","name":"Google Sheets8","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"69e591e4-0f41-4734-b9c8-ad4341c226a4","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3220,-80],"id":"ada42ab7-440f-40be-9549-e4483deec6e9","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1387268248,"mode":"list","cachedResultName":"SAQUES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1387268248"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","DATA":"={{ $('Edit Fields6').item.json.DATA }}","VALOR":"={{ $('Edit Fields6').item.json.VALOR }}","AFILIADO S/N":"AFILIADO","TAXA BSPAY":"={{ $('Edit Fields6').item.json['TAXA BSPAY'] }}"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AFILIADO S/N","displayName":"AFILIADO S/N","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TAXA BSPAY","displayName":"TAXA BSPAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3420,0],"id":"29fb885b-6b64-4361-b096-03decfed7048","name":"SAQUE AFILIADO","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1387268248,"mode":"list","cachedResultName":"SAQUES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1387268248"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields6').item.json.EMAIL }}","DATA":"={{ $('Edit Fields6').item.json.DATA }}","VALOR":"={{ $('Edit Fields6').item.json.VALOR }}","TAXA BSPAY":"={{ $('Edit Fields6').item.json['TAXA BSPAY'] }}"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AFILIADO S/N","displayName":"AFILIADO S/N","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TAXA BSPAY","displayName":"TAXA BSPAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3420,-180],"id":"7a80e0ec-4955-469e-a06d-12a27fa6a218","name":"SAQUE JOGADOR","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3640,-180],"id":"31c7a7bb-7c87-4b3c-8a61-d566dcffb615","name":"No Operation, do nothing1"},{"parameters":{"method":"POST","url":"https://notify.typebot.pro/SANTOBET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"CADASTRO"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"CADASTRO CONCLUﾃ好O","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3020,-1040],"id":"d9708983-aafb-4e47-9f7a-a5d99278933a","name":"NOTIFY CADASTRO","retryOnFail":false,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3640,0],"id":"62e85446-6fea-473e-91da-5760a961a8d6","name":"5s","webhookId":"13bfaa01-98f8-4e7f-86d2-ed8411acdd20"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"AFILIADO","lookupValue":"SIM"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2160,-1400],"id":"abfe595b-11bc-4cd0-9c13-d7613b3c44f6","name":"CADASTROS","executeOnce":true,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2160,-1560],"id":"bdbdd36b-eed6-46a7-ade0-91334c2ec2a5","name":"AFILIADOS","executeOnce":true,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"EMAIL","field2":"EMAIL"}]},"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[2620,-1440],"id":"f6f9b3eb-51d5-42c9-b2b7-2b552e94a546","name":"Compare Datasets"},{"parameters":{"assignments":{"assignments":[{"id":"199d99d4-467d-4ed6-983d-10050ef745c7","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2360,-1560],"id":"2e7f9655-8eaa-4b06-b621-91293003735d","name":"dados tratados 2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3240,-1540],"id":"9513ed9f-242b-413a-92b7-6ef0f38bd758","name":"No Operation, do nothing4"},{"parameters":{"assignments":{"assignments":[{"id":"cba4d36e-3504-432f-a362-7bca82020711","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2360,-1400],"id":"36c17d08-c8f6-478b-a3d8-95a1e8c523ff","name":"DADOS TRATADOS1"},{"parameters":{"content":"## MIGRA DADOS DO AFILIADO DA ABA JOGADOR PARA A ABA AFILIADOS","height":420,"width":1520,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1900,-1620],"typeVersion":1,"id":"4c81806b-3425-4fdd-b38a-47eeb272073a","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1940,-1480],"id":"fcfd8ce1-0a87-4111-b55a-fce9d4e69041","name":"Schedule Trigger2"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.EMAIL }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2900,-1380],"id":"ab69c36a-93ce-4887-8bd9-5dfe96e129de","name":"BUSCA DADOS DO AFILIADO","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","TELEFONE":"={{ $json.TELEFONE }}","DATA DA AFILIAﾃﾃグ":"={{ (new Date()).toLocaleDateString('pt-BR').replace(/\\//g, '-') }}","GERENTE":"LUCAS","ACORDO":"REV 40%"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ACORDO","displayName":"ACORDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GERENTE","displayName":"GERENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GRUPO BLACK","displayName":"GRUPO BLACK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SALA SINAL","displayName":"SALA SINAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA DA AFILIAﾃﾃグ","displayName":"DATA DA AFILIAﾃﾃグ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BANCA DEMO","displayName":"BANCA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL CONTA DEMO","displayName":"EMAIL CONTA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3100,-1380],"id":"95d32aa1-49d5-4cae-a059-eee670f1d464","name":"CRIA LINHA DO AFILIADO","executeOnce":false,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"formatDate","date":"={{ new Date().toISOString().split('T')[0] }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[4340,0],"id":"c0af07c9-29e9-4a9f-8103-fd367e71edcf","name":"Date & Time8"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.EMAIL }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3900,0],"id":"592bd747-61a5-4d79-bd33-e137fb7f1520","name":"Google Sheets9","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"assignments":{"assignments":[{"id":"5ae0d695-fdcd-4dca-bff7-e43ddfc29013","name":"TELEFONE","value":"=55{{ $json.TELEFONE.replace(/\\D/g, '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4120,0],"id":"de800a28-4d6a-420c-85ef-9aa26a97c066","name":"Edit Fields8"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/SUPORTESB","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Edit Fields8').item.json.TELEFONE }}"},{"name":"text","value":"=櫨 CONFIRMAﾃﾃグ DE SAQUE | SANTO BET 櫨\n\n套 Data: {{ $json['DATA PAGAMENTO'] }}\n\nOlﾃ｡, {{ $('Google Sheets9').item.json.EMAIL }}!\nSeu saque no valor de R$ {{ $json.VALOR }} foi processado com sucesso! 笨腸\n泊 Chave Pix: {{ $json['CHAVE PIX'] }}\n\nAgradecemos sua parceria! Qualquer dﾃｺvida, estamos ﾃ disposiﾃｧﾃ｣o. 丁\n\n隼 Equipe Santo Bet"}]},"options":{}},"id":"8360f5ce-b612-4422-a84b-3a39e5b64862","name":"ENVIA MSG AO AFILIADO2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4860,0],"alwaysOutputData":false},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1588102366,"mode":"list","cachedResultName":"SAQUE AFILIADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1588102366"},"columns":{"mappingMode":"defineBelow","value":{"AVISO ENVIADO":"SIM","DATA PAGAMENTO":"={{ $json.formattedDate }}","EMAIL":"={{ $('5s').item.json.EMAIL }}","DATA":"={{ $json.formattedDate }}","STATUS":"PAGO","CHAVE PIX":"DADO OCULTO","VERIFICADO":"SIM","VALOR":"={{ $('SAQUE AFILIADO').item.json.VALOR }}"},"matchingColumns":["row_number"],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VERIFICADO","displayName":"VERIFICADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA PAGAMENTO","displayName":"DATA PAGAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RECUSA MOTIVO","displayName":"RECUSA MOTIVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AVISO ENVIADO","displayName":"AVISO ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4600,0],"id":"cfc83c82-82ed-4c13-9302-d907fc6ec358","name":"Google Sheets10","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"content":"## AVISO DE SAQUE FEITO PARA AFILIADO\n**ENVIA RELATﾃ迭IO AO AFILIADO SOBRE SEU SAQUE","height":300,"width":1220,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3860,-140],"typeVersion":1,"id":"d54e12cb-663b-4502-aa59-92287ddbf224","name":"Sticky Note14"},{"parameters":{"httpMethod":"POST","path":"santopix","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2420,-460],"id":"729fa0a0-46ea-46e3-8046-eb8c153261da","name":"Webhookpix","webhookId":"914cfc4d-f456-4908-9435-53cb4295aef3"},{"parameters":{"httpMethod":"POST","path":"santosaque","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2420,-80],"id":"354c2892-13f4-42ae-b208-caf6e62e4263","name":"Webhooksaque","webhookId":"914cfc4d-f456-4908-9435-53cb4295aef3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3200,-740],"id":"3f0c1a94-fdd7-4c8e-be3e-8e19974d181f","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3220,-1040],"id":"537b28aa-f864-4288-ba9a-055e37ae24db","name":"No Operation, do nothing5"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Date & Time","type":"main","index":0}],[{"node":"Date & Time1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"SALVA JOGADOR NO SHEET","type":"main","index":0}]]},"SALVA JOGADOR NO SHEET":{"main":[[{"node":"NOTIFY CADASTRO","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"SALVA JOGADOR NO SHEET1","type":"main","index":0}]]},"SALVA JOGADOR NO SHEET1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"SALVA JOGADOR NO SHEET2","type":"main","index":0}]]},"Date & Time3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"SALVA JOGADOR NO SHEET2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Google Sheets8","type":"main","index":0}]]},"Date & Time7":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Google Sheets8":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"SAQUE JOGADOR","type":"main","index":0}],[{"node":"SAQUE AFILIADO","type":"main","index":0}]]},"SAQUE AFILIADO":{"main":[[{"node":"5s","type":"main","index":0}]]},"SAQUE JOGADOR":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"NOTIFY CADASTRO":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"5s":{"main":[[{"node":"Google Sheets9","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]},"CADASTROS":{"main":[[{"node":"DADOS TRATADOS1","type":"main","index":0}]]},"AFILIADOS":{"main":[[{"node":"dados tratados 2","type":"main","index":0}]]},"Compare Datasets":{"main":[[],[{"node":"No Operation, do nothing4","type":"main","index":0}],[],[{"node":"BUSCA DADOS DO AFILIADO","type":"main","index":0}]]},"dados tratados 2":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"DADOS TRATADOS1":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Schedule Trigger2":{"main":[[{"node":"AFILIADOS","type":"main","index":0},{"node":"CADASTROS","type":"main","index":0}]]},"BUSCA DADOS DO AFILIADO":{"main":[[{"node":"CRIA LINHA DO AFILIADO","type":"main","index":0}]]},"CRIA LINHA DO AFILIADO":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Date & Time8":{"main":[[{"node":"Google Sheets10","type":"main","index":0}]]},"Google Sheets9":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Date & Time8","type":"main","index":0}]]},"ENVIA MSG AO AFILIADO2":{"main":[[]]},"Google Sheets10":{"main":[[{"node":"ENVIA MSG AO AFILIADO2","type":"main","index":0}]]},"Webhookpix":{"main":[[{"node":"Date & Time3","type":"main","index":0}]]},"Webhooksaque":{"main":[[{"node":"Date & Time7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","sheetId":0,"lastRevision":19159,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME&revision=19159&exportFormat=xlsx"},"node:Google Sheets Trigger1":{"documentId":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","sheetId":1588102366,"lastRevision":2739,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME&revision=2739&exportFormat=xlsx"},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eca0c9da-c36c-46a0-bec5-8e486a77a205","triggerCount":4,"tags":[{"createdAt":"2025-03-06T17:18:48.721Z","updatedAt":"2025-03-06T17:18:48.721Z","id":"BjJH7wIAM5snchbM","name":"SANTOBET"}]}