[santobet]---relatorio-diario-I7f7b7JWFtQwuxJM.json
{"createdAt":"2025-04-04T05:09:37.392Z","updatedAt":"2025-04-22T16:08:01.168Z","id":"I7f7b7JWFtQwuxJM","name":"[SANTOBET] - RELATORIO DIARIO","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":59}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[100,-240],"id":"1a372a63-6d69-402e-b95e-2529cdd1ec65","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":409291493,"mode":"list","cachedResultName":"DASHBOARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=409291493"},"options":{"outputFormatting":{"values":{"general":"FORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[300,-240],"id":"41f05a04-3f20-40fa-9997-fa45082731ac","name":"Google Sheets","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[500,-240],"id":"426abe6f-b41c-478d-931a-498cdf749024","name":"Aggregate"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"120363382224860301@g.us"},{"name":"text","value":"=📊 RELATÓRIO SANTOBET\n📅 DATA: {{ $('Date & Time4').item.json.formattedDate }}\n\nNÚMEROS TOTAL USUÁRIOS\n👥 N° TOTAL DE JOGADORES: {{ $('Aggregate').item.json.data[2]['DASHBOARD SANTOBET'] }}\n🤝 N° TOTAL AFILIADOS: {{ $('Aggregate').item.json.data[4]['DASHBOARD SANTOBET'] }}\n\nRELATÓRIO GERAL\n📉 TOTAL PIX PAGOS: {{ $json['ENTRADA TOTAL'] }}\n📉 SAQUES JOGADORES: {{ $('Aggregate').item.json.data[2].col_3 }}\n📉 SAQUE AFILIADOS: {{ $('Aggregate').item.json.data[4].col_3 }}\n📉 SAÍDAS TOTAIS: {{ $json['SAIDA TOTAL'] }}\n💸 SALDO BSPAY: {{ $json['SALDO BSPAY'] }}\n\nRELATÓRIO 24 HORAS\n👥 N° REGISTROS 24H: {{ $('Aggregate').item.json.data[11].col_5 }}\n👥 N° AFILIADOS 24H: {{ $('Aggregate').item.json.data[13].col_5 }}\n💸 PIX RECEBIDOS 24H: {{ $('Aggregate').item.json.data[9].col_5 }}\n💸 DESPESAS 24H: {{ $('Aggregate').item.json.data[15].col_5 }}\n📈 % DE PIX PAGOS 24H: {{ $json['% PIX PAGOS'] }}\n\nSAQUES 24 HORAS\n💱 SAQUES TOTAL 24H: {{ $('Aggregate').item.json.data[2].col_5 }}\n💱 SAQUES JOGADORES 24H: {{ $('Aggregate').item.json.data[7].col_5 }}\n💱 SAQUE AFILIADOS 24H: {{ $('Aggregate').item.json.data[4].col_5 }}\n\nINFORMAÇÕES GERAIS\nNOSSO DEPÓSITO MÉDIO: {{ $('Aggregate').item.json.data[7].col_3 }}"}]},"options":{}},"id":"cdfdc21e-d10c-49df-9e5f-a914af81959d","name":"ENVIO RELATORIO GRUPO1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,-240],"alwaysOutputData":false},{"parameters":{"operation":"formatDate","date":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd') }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[700,-240],"id":"01753c56-2b5b-4ffe-a7b5-fbc7768340ca","name":"Date & Time4"},{"parameters":{"content":"## RELATÓRIO DIARIO SANTO BET\n**ENVIA RELATÓRIO NO GRUPO DIRETORIA","height":340,"width":1260,"color":3},"type":"n8n-nodes-base.stickyNote","position":[40,-360],"typeVersion":1,"id":"4f5d781a-f4d2-451a-81e7-bdc2162f7a65","name":"Sticky Note7"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1251155850,"mode":"list","cachedResultName":"AUDITORIA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1251155850"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.formattedDate }}","SAQUE JOGADOR":"={{ $('Aggregate').item.json.data[7].col_5 }}","SAQUE AFILIADO":"={{ $('Aggregate').item.json.data[4].col_5 }}","SAIDA TOTAL":"={{ $('Aggregate').item.json.data[11]['DASHBOARD SANTOBET'] }}","SALDO BSPAY":"={{ $('Aggregate').item.json.data[13]['DASHBOARD SANTOBET'] }}","REGISTROS 24H":"={{ $('Aggregate').item.json.data[11].col_5 }}","MEDIA DEPOSITO":"={{ $('Aggregate').item.json.data[7].col_3 }}","% PIX PAGOS":"={{ $('Aggregate').item.json.data[22].col_5 }}","ENTRADA TOTAL":"={{ $('Aggregate').item.json.data[9]['DASHBOARD SANTOBET'] }}","DESPESAS 24H":"={{ $('Aggregate').item.json.data[15].col_5 }}","TOTAL DE JOGADORES":"={{ $('Aggregate').item.json.data[2]['DASHBOARD SANTOBET'] }}","TOTAL DE AFILIADOS":"={{ $('Aggregate').item.json.data[4]['DASHBOARD SANTOBET'] }}","SAQUE TOTAL JOGADOR":"={{ $('Aggregate').item.json.data[2].col_3 }}","SAQUE TOTAL AFILIADO":"={{ $('Aggregate').item.json.data[4].col_3 }}","AFILIADOS 24H":"={{ $('Aggregate').item.json.data[13].col_5 }}","RECEBIDO 24H":"={{ $('Aggregate').item.json.data[9].col_5 }}","SAQUES TOTAL 24H":"={{ $('Aggregate').item.json.data[2].col_5 }}"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TOTAL DE JOGADORES","displayName":"TOTAL DE JOGADORES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TOTAL DE AFILIADOS","displayName":"TOTAL DE AFILIADOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENTRADA TOTAL","displayName":"ENTRADA TOTAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SAQUE TOTAL JOGADOR","displayName":"SAQUE TOTAL JOGADOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SAQUE TOTAL AFILIADO","displayName":"SAQUE TOTAL AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SAIDA TOTAL","displayName":"SAIDA TOTAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SALDO BSPAY","displayName":"SALDO BSPAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REGISTROS 24H","displayName":"REGISTROS 24H","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AFILIADOS 24H","displayName":"AFILIADOS 24H","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DESPESAS 24H","displayName":"DESPESAS 24H","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RECEBIDO 24H","displayName":"RECEBIDO 24H","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SAQUE JOGADOR","displayName":"SAQUE JOGADOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SAQUE AFILIADO","displayName":"SAQUE AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SAQUES TOTAL 24H","displayName":"SAQUES TOTAL 24H","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MEDIA DEPOSITO","displayName":"MEDIA DEPOSITO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"% PIX PAGOS","displayName":"% PIX PAGOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[900,-240],"id":"8f87c163-b7b6-401e-b00c-5c8eaa322f86","name":"SALVA PLANILHA AUDITORIA","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Date & Time4","type":"main","index":0}]]},"Date & Time4":{"main":[[{"node":"SALVA PLANILHA AUDITORIA","type":"main","index":0}]]},"SALVA PLANILHA AUDITORIA":{"main":[[{"node":"ENVIO RELATORIO GRUPO1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c25d53e-dcb1-4077-bc32-4383d7c7a721","triggerCount":1,"tags":[{"createdAt":"2025-03-06T17:18:48.721Z","updatedAt":"2025-03-06T17:18:48.721Z","id":"BjJH7wIAM5snchbM","name":"SANTOBET"}]}