[santobet]-cadastro-IwYvz8c7I1wdkRCw.json
{"createdAt":"2025-04-10T14:53:28.336Z","updatedAt":"2025-04-30T18:23:40.908Z","id":"IwYvz8c7I1wdkRCw","name":"[SANTOBET] CADASTRO","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"santocadastro","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,-180],"id":"b20ab670-3bac-4d53-8df0-6f4cad6c92f5","name":"Webhook","webhookId":"1b3a19ac-6e10-4cef-a9c5-db4bc07fa42b"},{"parameters":{"assignments":{"assignments":[{"id":"7dd815a0-d0e5-47d0-b26e-3b90811a7b05","name":"NOME","value":"={{ $('Webhook').item.json.body.name }}","type":"string"},{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Webhook').item.json.body.email }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Webhook').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,-180],"id":"9b9860de-505f-4b09-9634-0625792e0b33","name":"Edit Fields"},{"parameters":{"content":"## NOVO CADASTRO\n**REGISTRO DE NOVOS JOGADORES","height":260,"width":1280},"type":"n8n-nodes-base.stickyNote","position":[40,-260],"typeVersion":1,"id":"19f73f67-6397-4c2a-9ca4-2267bb1b201e","name":"Sticky Note1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["NOME"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BOAS VINDAS ENVIADAS","displayName":"BOAS VINDAS ENVIADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,-180],"id":"e454f9d1-062a-4abd-9d8e-95e7dbc7be59","name":"SALVA JOGADOR NO SHEET","retryOnFail":true,"waitBetweenTries":5000,"notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}},"notes":"Salvar jogador no sheet"},{"parameters":{"operation":"formatDate","date":"={{ DateTime.now().setZone(\"America/Sao_Paulo\").toFormat(\"yyyy-MM-dd\") }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[320,-180],"id":"fc44aa36-5968-42aa-bd98-0eae747f0288","name":"Date & Time"},{"parameters":{"method":"POST","url":"https://notify.typebot.pro/SANTOBET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"CADASTRO"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"CADASTRO CONCLUÍDO","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,-180],"id":"2e13d3e5-04bf-4187-aeb7-03701f3013c7","name":"NOTIFY CADASTRO","retryOnFail":false,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1140,-180],"id":"7eaba826-74ea-4e8f-aa7d-4a32c4e79e47","name":"No Operation, do nothing5"}],"connections":{"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"SALVA JOGADOR NO SHEET","type":"main","index":0}]]},"SALVA JOGADOR NO SHEET":{"main":[[{"node":"NOTIFY CADASTRO","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"NOTIFY CADASTRO":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e8351736-bfe7-4a95-9f41-bed2b09c2282","triggerCount":1,"tags":[]}