[santobet]-pedido-de-afiliação-xERzm2Jxux4PkVXq.json
{"createdAt":"2025-06-10T20:58:43.060Z","updatedAt":"2025-06-11T19:12:51.663Z","id":"xERzm2Jxux4PkVXq","name":"[SANTOBET] PEDIDO DE AFILIAÇÃO","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pedidoafiliacao","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,0],"id":"0e24d8e1-6218-4cbe-8a0c-712d1227d803","name":"solicitação de afiliado","webhookId":"b24d0fdc-a398-451f-87cf-8b8735d75329"},{"parameters":{"assignments":{"assignments":[{"id":"08b7f36e-35fb-403d-8729-f9361fd86d90","name":"NOME","value":"={{ $json.body.name }}","type":"string"},{"id":"20feea77-2ac4-4060-ac33-c0c96b2b840d","name":"EMAIL","value":"={{ $json.body.email }}","type":"string"},{"id":"4f825c14-fe24-4a6a-815b-d17e29278fa4","name":"TELEFONE","value":"={{ $json.body.phone }}","type":"string"},{"id":"4ca983b7-da65-4444-8a1b-8b97cf6fafe4","name":"INDICADO POR","value":"={{ $json.body.inviter }}","type":"string"},{"id":"e00a29f7-eac4-4003-83c8-18cc7c444326","name":"AFILIADO","value":"SOLICITADO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,0],"id":"f0adc19b-400c-4a5c-ad2a-8370feccfb17","name":"Edit Fields"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{"EMAIL":"={{ $json.EMAIL }}","AFILIADO":"SOLICITADO"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS ENVIADAS","displayName":"BOAS VINDAS ENVIADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[80,0],"id":"6c40e5bb-e649-4f6c-988a-8ef59d7c76d2","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[520,0],"id":"eadc54e7-a13a-4527-9eba-bc5f1405a277","name":"No Operation, do nothing"},{"parameters":{"method":"POST","url":"https://notify.typebot.pro/SANTOBET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"PEDIDO DE AFILIACAO"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $('solicitação de afiliado').item.json.body.email }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,0],"id":"b7c98370-b340-4372-95d5-0cf4b78495b0","name":"NOTIFY CADASTRO","retryOnFail":false,"waitBetweenTries":3000,"onError":"continueRegularOutput"}],"connections":{"solicitação de afiliado":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"NOTIFY CADASTRO","type":"main","index":0}]]},"NOTIFY CADASTRO":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7aef184c-62c2-4f38-b3d2-c3c5f2983c9a","triggerCount":1,"tags":[]}