[santobet]---crm-JqVXJRCCujgfX2vj.json
{"createdAt":"2025-04-06T18:27:03.576Z","updatedAt":"2025-04-06T22:26:24.471Z","id":"JqVXJRCCujgfX2vj","name":"[SANTOBET] - CRM","active":true,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":409291493,"mode":"list","cachedResultName":"DASHBOARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=409291493"},"options":{"outputFormatting":{"values":{"general":"FORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1080,-840],"id":"1d7c6026-674a-4f60-9bd1-5acaf4bdb850","name":"Google Sheets","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1320,-840],"id":"e5b10f52-d14a-4062-9287-ab5b54786951","name":"Aggregate"},{"parameters":{"content":"## DASHBOARD GERAL\nEXIBE DADOS GERAIS DA OPERA칂츾O","height":340,"width":1260,"color":3},"type":"n8n-nodes-base.stickyNote","position":[820,-960],"typeVersion":1,"id":"91d16094-cdcc-470f-8e9b-14a3c795e859","name":"Sticky Note7"},{"parameters":{"html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Dashboard Santobet</title>\n  <style>\n    body {\n      background-color: #0f1b2b;\n      color: #f1f1f1;\n      font-family: \"Segoe UI\", Tahoma, Geneva, Verdana, sans-serif;\n      padding: 20px;\n    }\n\n    h1 {\n      text-align: center;\n      background-color: #00bcd4;\n      color: #000;\n      padding: 15px;\n      border-radius: 10px;\n      font-size: 24px;\n    }\n\n    h2 {\n      margin-top: 40px;\n      color: #00bcd4;\n      border-bottom: 2px solid #00bcd4;\n      padding-bottom: 5px;\n    }\n\n    .container {\n      display: flex;\n      flex-wrap: wrap;\n      gap: 15px;\n      justify-content: space-between;\n    }\n\n    .card {\n      background-color: #1e2a38;\n      padding: 15px;\n      flex: 1 0 22%;\n      border-radius: 12px;\n      border: 1px solid #00bcd4;\n      box-shadow: 0 2px 5px rgba(0,0,0,0.3);\n      transition: transform 0.2s ease;\n    }\n\n    .card:hover {\n      transform: scale(1.03);\n    }\n\n    .card h3 {\n      color: #a8dadc;\n      font-size: 14px;\n      margin: 0 0 5px 0;\n      font-weight: 500;\n    }\n\n    .card p {\n      font-size: 20px;\n      font-weight: bold;\n      color: #f1faee;\n      margin: 0;\n    }\n\n    .chart {\n      background-color: #264653;\n      padding: 20px;\n      margin-top: 20px;\n      border-radius: 10px;\n    }\n  </style>\n</head>\n<body>\n  <h1>DASHBOARD SANTOBET - DATA {{ new Date().toLocaleDateString('pt-BR') }}</h1>\n\n  <h2>DADOS GERAIS</h2>\n  <div class=\"container\">\n    <div class=\"card\"><h3>N춿 JOGADORES</h3><p>{{ $json[\"data\"][2][\"DASHBOARD SANTOBET\"] }}</p></div>\n    <div class=\"card\"><h3>N춿 AFILIADOS</h3><p>{{ $json[\"data\"][4][\"DASHBOARD SANTOBET\"] }}</p></div>\n    <div class=\"card\"><h3>N춿 PIX GERADOS</h3><p>{{ $json[\"data\"][7][\"DASHBOARD SANTOBET\"] }}</p></div>\n    <div class=\"card\"><h3>RECEITA TOTAL</h3><p>{{ $json[\"data\"][13][\"DASHBOARD SANTOBET\"] }}</p></div>\n    <div class=\"card\"><h3>SA칈DA TOTAL</h3><p>{{ $json[\"data\"][15][\"DASHBOARD SANTOBET\"] }}</p></div>\n    <div class=\"card\"><h3>SALDO BSPAY</h3><p>{{ $json[\"data\"][17][\"DASHBOARD SANTOBET\"] }}</p></div>\n  </div>\n\n  <h2>SAQUES</h2>\n  <div class=\"container\">\n    <div class=\"card\"><h3>SAQUES JOGADOR</h3><p>{{ $json[\"data\"][2][\"col_3\"] }}</p></div>\n    <div class=\"card\"><h3>SAQUE AFILIADOS</h3><p>{{ $json[\"data\"][4][\"col_3\"] }}</p></div>\n  </div>\n\n  <h2>DADOS 칔LTIMAS 24 HORAS</h2>\n  <div class=\"container\">\n    <div class=\"card\"><h3>N춿 JOGADORES 24H</h3><p>{{ $json.data[11].col_5 }}</p></div>\n    <div class=\"card\"><h3>N춿 AFILIADOS 24H</h3><p>{{ $json.data[13].col_5 }}</p></div>\n    <div class=\"card\"><h3>DEP칍SITOS 24H</h3><p>{{ $json.data[9].col_5 }}</p></div>\n    <div class=\"card\"><h3>SAQUES JOGADOR 24H</h3><p>{{ $json.data[7].col_5 }}</p></div>\n    <div class=\"card\"><h3>SAQUES AFILIADO 24H</h3><p>{{ $json.data[4].col_5 }}</p></div>\n    <div class=\"card\"><h3>SAQUES TOTAL 24H</h3><p>{{ $json.data[2].col_5 }}</p></div>\n  </div>\n\n  <h2>DESPESAS</h2>\n  <div class=\"container\">\n    <div class=\"card\"><h3>GGR PAGO</h3><p>{{ $json.data[2].col_9 }}</p></div>\n    <div class=\"card\"><h3>DESPESAS DIVERSAS</h3><p>{{ $json.data[4].col_9 }}</p></div>\n  </div>\n\n  <h2>M칄TRICAS FINAIS</h2>\n  <div class=\"container\">\n    <div class=\"card\"><h3>DEP칍SITO M칄DIO</h3><p>{{ $json.data[7].col_3 }}</p></div>\n    <div class=\"card\"><h3>% PIX PAGOS</h3><p>{{ $json.data[9].col_3 }}</p></div>\n  </div>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1560,-840],"id":"0a5b2667-49c9-451b-9ce4-770b4c840bbb","name":"HTML1"},{"parameters":{"path":"dashboard","responseMode":"responseNode","options":{}},"id":"f526c28e-dbf6-4312-bd28-fb51f1f3cfb1","name":"Serve Frontend","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[860,-840],"webhookPath":"frontend","method":"GET","responseMode":"onReceived","responseData":{"body":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>An치lise de Conversas</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      height: 100vh;\n    }\n    .container {\n      max-width: 400px;\n      width: 100%;\n      text-align: center;\n    }\n    textarea {\n      width: 100%;\n      height: 150px;\n      margin-bottom: 10px;\n    }\n    button {\n      background-color: #45DE71;\n      border: none;\n      padding: 10px 15px;\n      color: white;\n      cursor: pointer;\n      border-radius: 5px;\n    }\n    button:disabled {\n      background-color: #ccc;\n    }\n    #result {\n      margin-top: 20px;\n      white-space: pre-wrap;\n      text-align: left;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>An치lise de Conversas</h1>\n    <textarea id=\"conversation\" placeholder=\"Cole a conversa aqui...\"></textarea>\n    <button id=\"analyzeButton\">Analisar Conversa</button>\n    <div id=\"result\"></div>\n  </div>\n\n  <script>\n    const analyzeButton = document.getElementById('analyzeButton');\n    const conversationInput = document.getElementById('conversation');\n    const resultDiv = document.getElementById('result');\n\n    analyzeButton.addEventListener('click', async () => {\n      const conversation = conversationInput.value.trim();\n      if (!conversation) {\n        alert('Por favor, insira uma conversa para an치lise.');\n        return;\n      }\n\n      analyzeButton.disabled = true;\n      resultDiv.textContent = 'Analisando...';\n\n      try {\n        const response = await fetch('/webhook/process', {\n          method: 'POST',\n          headers: {\n            'Content-Type': 'application/json',\n          },\n          body: JSON.stringify({ conversation }),\n        });\n\n        if (!response.ok) {\n          throw new Error('Erro ao analisar a conversa.');\n        }\n\n        const result = await response.json();\n        resultDiv.textContent = `Resultado da An치lise:\\n\\n${result.analysis}`;\n      } catch (error) {\n        resultDiv.textContent = 'Erro: N칚o foi poss칤vel analisar a conversa.';\n      } finally {\n        analyzeButton.disabled = false;\n      }\n    });\n  </script>\n</body>\n</html>"},"responseHeaders":[{"name":"Content-Type","value":"text/html"}],"webhookId":"18c4a0d9-b4fd-48ea-a3ec-02eca69abfbb"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1760,-840],"id":"9e5697d5-0510-4769-a1fc-dbea550a18a0","name":"Respond to Webhook1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Painel Principal - Santobet</title>\n  <style>\n    * {\n      box-sizing: border-box;\n    }\n\n    body {\n      margin: 0;\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      background-color: #0f1b2b;\n      color: #f1f1f1;\n      display: flex;\n      height: 100vh;\n    }\n\n    .sidebar {\n      width: 250px;\n      background-color: #1e2a38;\n      padding: 20px;\n      display: flex;\n      flex-direction: column;\n      border-right: 2px solid #00bcd4;\n    }\n\n    .sidebar h2 {\n      color: #00bcd4;\n      margin-bottom: 30px;\n      text-align: center;\n      font-size: 20px;\n    }\n\n    .menu a {\n      display: block;\n      padding: 12px 16px;\n      margin-bottom: 10px;\n      color: #f1f1f1;\n      text-decoration: none;\n      background-color: #2c3e50;\n      border-radius: 8px;\n      transition: background-color 0.2s ease;\n      cursor: pointer;\n    }\n\n    .menu a:hover {\n      background-color: #00bcd4;\n      color: #000;\n    }\n\n    .main {\n      flex: 1;\n      padding: 0;\n      overflow: hidden;\n    }\n\n    iframe {\n      width: 100%;\n      height: 100%;\n      border: none;\n    }\n\n    .placeholder {\n      color: #aaa;\n      padding: 30px;\n      text-align: center;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"sidebar\">\n    <h2>Santobet</h2>\n    <div class=\"menu\">\n      <a onclick=\"loadIframe('https://n8n.typebot.pro/webhook/dashboard')\">游늵 Dashboard</a>\n      <a onclick=\"loadIframe('https://n8n.typebot.pro/webhook/SBjogadores')\">游꿡 Jogadores</a>\n      <a onclick=\"loadIframe('https://n8n.typebot.pro/webhook/SBafiliados')\">游뱋 Afiliados</a>\n      <a onclick=\"loadIframe('https://n8n.typebot.pro/webhook/SBdespesas')\">游눶 Despesas</a>\n      <a onclick=\"loadIframe('https://n8n.typebot.pro/webhook/SBggr')\">游늳 GGR</a>\n      <a onclick=\"loadIframe('https://n8n.typebot.pro/webhook/SBsaquejogador')\">游낁 Saques Jogador</a>\n      <a onclick=\"loadIframe('https://n8n.typebot.pro/webhook/SBsaqueafiliados')\">游논 Saques Afiliados</a>\n      <a onclick=\"loadIframe('https://n8n.typebot.pro/webhook/SBdepositos')\">游눯 Dep칩sitos Pagos</a>\n    </div>\n  </div>\n\n  <div class=\"main\" id=\"content\">\n    <div class=\"placeholder\">Selecione uma se칞칚o no menu para carregar o conte칰do aqui.</div>\n  </div>\n\n  <script>\n    function loadIframe(url) {\n      const content = document.getElementById('content');\n      content.innerHTML = `<iframe src=\"${url}\"></iframe>`;\n    }\n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[340,-840],"id":"25599c9a-04b4-4fef-a968-07c835b564f2","name":"HTML"},{"parameters":{"path":"santobet","responseMode":"responseNode","options":{}},"id":"b64ddc7a-cb0f-4550-8adb-2848a0d7b507","name":"Serve Frontend2","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[120,-840],"webhookPath":"frontend","method":"GET","responseMode":"onReceived","responseData":{"body":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>An치lise de Conversas</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      height: 100vh;\n    }\n    .container {\n      max-width: 400px;\n      width: 100%;\n      text-align: center;\n    }\n    textarea {\n      width: 100%;\n      height: 150px;\n      margin-bottom: 10px;\n    }\n    button {\n      background-color: #45DE71;\n      border: none;\n      padding: 10px 15px;\n      color: white;\n      cursor: pointer;\n      border-radius: 5px;\n    }\n    button:disabled {\n      background-color: #ccc;\n    }\n    #result {\n      margin-top: 20px;\n      white-space: pre-wrap;\n      text-align: left;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>An치lise de Conversas</h1>\n    <textarea id=\"conversation\" placeholder=\"Cole a conversa aqui...\"></textarea>\n    <button id=\"analyzeButton\">Analisar Conversa</button>\n    <div id=\"result\"></div>\n  </div>\n\n  <script>\n    const analyzeButton = document.getElementById('analyzeButton');\n    const conversationInput = document.getElementById('conversation');\n    const resultDiv = document.getElementById('result');\n\n    analyzeButton.addEventListener('click', async () => {\n      const conversation = conversationInput.value.trim();\n      if (!conversation) {\n        alert('Por favor, insira uma conversa para an치lise.');\n        return;\n      }\n\n      analyzeButton.disabled = true;\n      resultDiv.textContent = 'Analisando...';\n\n      try {\n        const response = await fetch('/webhook/process', {\n          method: 'POST',\n          headers: {\n            'Content-Type': 'application/json',\n          },\n          body: JSON.stringify({ conversation }),\n        });\n\n        if (!response.ok) {\n          throw new Error('Erro ao analisar a conversa.');\n        }\n\n        const result = await response.json();\n        resultDiv.textContent = `Resultado da An치lise:\\n\\n${result.analysis}`;\n      } catch (error) {\n        resultDiv.textContent = 'Erro: N칚o foi poss칤vel analisar a conversa.';\n      } finally {\n        analyzeButton.disabled = false;\n      }\n    });\n  </script>\n</body>\n</html>"},"responseHeaders":[{"name":"Content-Type","value":"text/html"}],"webhookId":"18c4a0d9-b4fd-48ea-a3ec-02eca69abfbb"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[560,-840],"id":"48c424a7-c803-4e41-9f6c-d59c49e1ef76","name":"Respond to Webhook2"},{"parameters":{"content":"## DASHBOARD - PAINEL\nACESSO INICIAL","height":340,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","position":[80,-960],"typeVersion":1,"id":"4f65101f-ea55-486d-9f1e-d8cbd95e9b08","name":"Sticky Note"},{"parameters":{"content":"## DASHBOARD jogadores\nEXIBE DADOS GERAIS Dos jogadores","height":340,"width":1320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[820,-600],"typeVersion":1,"id":"52566dd3-7118-418a-a992-01ff4f762a56","name":"Sticky Note8"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Lista de Jogadores</title>\n  <style>\n    body {\n      background-color: #0f1b2b;\n      color: #f1f1f1;\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n    }\n\n    h1 {\n      color: #00bcd4;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 20px;\n    }\n\n    th, td {\n      padding: 10px;\n      border-bottom: 1px solid #2c3e50;\n      text-align: left;\n    }\n\n    th {\n      background-color: #1e2a38;\n    }\n\n    tr:hover {\n      background-color: #1a2a40;\n    }\n  </style>\n</head>\n<body>\n  <h1>Todos os Jogadores</h1>\n\n  <table>\n    <thead>\n      <tr>\n        <th>Email</th>\n        <th>Telefone</th>\n        <th>Data</th>\n        <th>Afiliado</th>\n        <th>SMS Enviado</th>\n      </tr>\n    </thead>\n    <tbody>\n      <tr>\n        <td>{{ $json.email }}</td>\n        <td>{{ $json.telefone }}</td>\n        <td>{{ $json.data }}</td>\n        <td>{{ $json.afiliado }}</td>\n        <td>{{ $json.smsenviado }}</td>\n      </tr>\n    </tbody>\n  </table>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2240,-760],"id":"cc1d0a4e-937d-4dbb-b79e-d745a6ae78a0","name":"HTML2"},{"parameters":{"path":"SBjogadores","responseMode":"responseNode","options":{}},"id":"1631769b-0812-43a2-930c-b43622e31f91","name":"Serve Frontend1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[860,-480],"webhookPath":"frontend","method":"GET","responseMode":"onReceived","responseData":{"body":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>An치lise de Conversas</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      height: 100vh;\n    }\n    .container {\n      max-width: 400px;\n      width: 100%;\n      text-align: center;\n    }\n    textarea {\n      width: 100%;\n      height: 150px;\n      margin-bottom: 10px;\n    }\n    button {\n      background-color: #45DE71;\n      border: none;\n      padding: 10px 15px;\n      color: white;\n      cursor: pointer;\n      border-radius: 5px;\n    }\n    button:disabled {\n      background-color: #ccc;\n    }\n    #result {\n      margin-top: 20px;\n      white-space: pre-wrap;\n      text-align: left;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>An치lise de Conversas</h1>\n    <textarea id=\"conversation\" placeholder=\"Cole a conversa aqui...\"></textarea>\n    <button id=\"analyzeButton\">Analisar Conversa</button>\n    <div id=\"result\"></div>\n  </div>\n\n  <script>\n    const analyzeButton = document.getElementById('analyzeButton');\n    const conversationInput = document.getElementById('conversation');\n    const resultDiv = document.getElementById('result');\n\n    analyzeButton.addEventListener('click', async () => {\n      const conversation = conversationInput.value.trim();\n      if (!conversation) {\n        alert('Por favor, insira uma conversa para an치lise.');\n        return;\n      }\n\n      analyzeButton.disabled = true;\n      resultDiv.textContent = 'Analisando...';\n\n      try {\n        const response = await fetch('/webhook/process', {\n          method: 'POST',\n          headers: {\n            'Content-Type': 'application/json',\n          },\n          body: JSON.stringify({ conversation }),\n        });\n\n        if (!response.ok) {\n          throw new Error('Erro ao analisar a conversa.');\n        }\n\n        const result = await response.json();\n        resultDiv.textContent = `Resultado da An치lise:\\n\\n${result.analysis}`;\n      } catch (error) {\n        resultDiv.textContent = 'Erro: N칚o foi poss칤vel analisar a conversa.';\n      } finally {\n        analyzeButton.disabled = false;\n      }\n    });\n  </script>\n</body>\n</html>"},"responseHeaders":[{"name":"Content-Type","value":"text/html"}],"webhookId":"18c4a0d9-b4fd-48ea-a3ec-02eca69abfbb"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1960,-480],"id":"a82016c6-c432-42fd-9382-6a3f4be4afb8","name":"Respond to Webhook"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"options":{"outputFormatting":{"values":{"general":"FORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1080,-480],"id":"8bea3852-ea46-4e4a-a13d-4abbe58212da","name":"SBjogadores","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"assignments":{"assignments":[{"id":"78d7f803-048f-43c6-9b60-996fd057f4db","name":"email","value":"={{ $json.EMAIL }}","type":"string"},{"id":"55e37a3a-9ae1-483d-a48d-e3b871d47dc1","name":"telefone","value":"={{ $json.TELEFONE }}","type":"string"},{"id":"efa82688-b8c0-4ffa-b95c-2aec34614268","name":"data","value":"={{ $json.DATA }}","type":"string"},{"id":"7688426f-e976-4a7a-bfc5-c101c0d0dc42","name":"afiliado","value":"={{ $json.AFILIADO }}","type":"string"},{"id":"3c4fa2f5-78be-4802-8789-c2729f422062","name":"smsenviado","value":"={{ $json['BOAS VINDAS ENVIADAS'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1300,-480],"id":"62b158b6-0cfb-4be5-8c3d-f6f683c495e4","name":"dados"},{"parameters":{"jsCode":"// Pega todos os registros recebidos\nconst registros = $input.all();\n\n// Inicia o HTML com o tema personalizado\nlet html = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Lista de Jogadores</title>\n  <style>\n    body {\n      background-color: #0f1b2b;\n      color: #f1f1f1;\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n    }\n    h1 {\n      color: #00bcd4;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 20px;\n    }\n    th, td {\n      padding: 10px;\n      border-bottom: 1px solid #2c3e50;\n      text-align: left;\n    }\n    th {\n      background-color: #1e2a38;\n    }\n    tr:hover {\n      background-color: #1a2a40;\n    }\n  </style>\n</head>\n<body>\n  <h1>Todos os Jogadores</h1>\n  <table>\n    <thead>\n      <tr>\n        <th>Email</th>\n        <th>Telefone</th>\n        <th>Data</th>\n        <th>Afiliado</th>\n        <th>SMS Enviado</th>\n      </tr>\n    </thead>\n    <tbody>\n`;\n\n// Adiciona cada registro como uma linha na tabela\nregistros.forEach(registro => {\n    const dados = registro.json;\n    html += `\n      <tr>\n        <td>${dados.email || 'N/A'}</td>\n        <td>${dados.telefone || 'N/A'}</td>\n        <td>${dados.data || 'N/A'}</td>\n        <td>${dados.afiliado || 'Nenhum'}</td>\n        <td>${dados.smsenviado || 'N/A'}</td>\n      </tr>\n    `;\n});\n\n// Fecha o HTML\nhtml += `\n    </tbody>\n  </table>\n</body>\n</html>\n`;\n\n// Retorna o HTML como um novo item\nreturn [{ json: { html: html } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,-480],"id":"23a285fb-4fa0-4f6d-8f72-28c27ae45695","name":"Code"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Lista de Jogadores</title>\n  <style>\n    body {\n      background-color: #0f1b2b;\n      color: #f1f1f1;\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n    }\n    h1 {\n      color: #00bcd4;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 20px;\n    }\n    th, td {\n      padding: 10px;\n      border-bottom: 1px solid #2c3e50;\n      text-align: left;\n    }\n    th {\n      background-color: #1e2a38;\n    }\n    tr:hover {\n      background-color: #1a2a40;\n    }\n    .filtros, .paginacao {\n      margin-top: 20px;\n    }\n    .paginacao button {\n      padding: 6px 12px;\n      margin-right: 10px;\n      background-color: #00bcd4;\n      color: #0f1b2b;\n      border: none;\n      border-radius: 4px;\n      cursor: pointer;\n    }\n    .paginacao button:hover {\n      background-color: #00acc1;\n    }\n  </style>\n</head>\n<body>\n\n  <!-- Filtro -->\n  <div class=\"filtros\">\n    <label for=\"filtroEmail\">Filtrar por email:</label>\n    <input type=\"text\" id=\"filtroEmail\" onkeyup=\"filtrarPorEmail()\" placeholder=\"Digite o email...\" style=\"padding:5px;margin-left:10px;color:black;\">\n  </div>\n\n  <!-- Tabela -->\n  <table>\n    <tbody>\n      {{ $json.html }}\n    </tbody>\n  </table>\n\n  <!-- Pagina칞칚o -->\n  <div class=\"paginacao\">\n    <button onclick=\"paginaAnterior()\">Anterior</button>\n    <button onclick=\"proximaPagina()\">Pr칩xima</button>\n    <span id=\"paginacaoInfo\"></span>\n  </div>\n\n  <!-- Scripts -->\n  <script>\n    let paginaAtual = 1;\n    const linhasPorPagina = 50;\n\n    function atualizarTabela() {\n      const linhas = document.querySelectorAll(\"tbody tr\");\n      const termoFiltro = document.getElementById(\"filtroEmail\").value.toLowerCase();\n\n      let linhasFiltradas = [];\n\n      linhas.forEach(linha => {\n        const email = linha.cells[0]?.textContent.toLowerCase() || \"\";\n        if (email.includes(termoFiltro)) {\n          linha.style.display = \"\";\n          linhasFiltradas.push(linha);\n        } else {\n          linha.style.display = \"none\";\n        }\n      });\n\n      const totalPaginas = Math.ceil(linhasFiltradas.length / linhasPorPagina);\n      if (paginaAtual > totalPaginas) paginaAtual = totalPaginas || 1;\n\n      linhasFiltradas.forEach((linha, index) => {\n        if (index >= (paginaAtual - 1) * linhasPorPagina && index < paginaAtual * linhasPorPagina) {\n          linha.style.display = \"\";\n        } else {\n          linha.style.display = \"none\";\n        }\n      });\n\n      document.getElementById(\"paginacaoInfo\").textContent = `P치gina ${paginaAtual} de ${totalPaginas}`;\n    }\n\n    function proximaPagina() {\n      const linhas = document.querySelectorAll(\"tbody tr\");\n      const termoFiltro = document.getElementById(\"filtroEmail\").value.toLowerCase();\n      const totalVisiveis = [...linhas].filter(l => l.cells[0]?.textContent.toLowerCase().includes(termoFiltro));\n      const totalPaginas = Math.ceil(totalVisiveis.length / linhasPorPagina);\n      if (paginaAtual < totalPaginas) {\n        paginaAtual++;\n        atualizarTabela();\n      }\n    }\n\n    function paginaAnterior() {\n      if (paginaAtual > 1) {\n        paginaAtual--;\n        atualizarTabela();\n      }\n    }\n\n    function filtrarPorEmail() {\n      paginaAtual = 1;\n      atualizarTabela();\n    }\n\n    window.addEventListener(\"load\", () => {\n      atualizarTabela();\n    });\n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1760,-480],"id":"eb9c5092-9163-4ce7-b9e6-240905ec0a35","name":"HTML4"},{"parameters":{"jsCode":"// Pega todos os registros recebidos\nconst registros = $input.all();\n\n// Inicia o HTML com o tema personalizado\nlet html = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Lista de Jogadores</title>\n  <style>\n    body {\n      background-color: #0f1b2b;\n      color: #f1f1f1;\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n    }\n    h1 {\n      color: #00bcd4;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 20px;\n    }\n    th, td {\n      padding: 10px;\n      border-bottom: 1px solid #2c3e50;\n      text-align: left;\n    }\n    th {\n      background-color: #1e2a38;\n    }\n    tr:hover {\n      background-color: #1a2a40;\n    }\n  </style>\n</head>\n<body>\n  <h1>Todos os Jogadores</h1>\n  <table>\n    <thead>\n      <tr>\n        <th>Email</th>\n        <th>Telefone</th>\n        <th>Data</th>\n        <th>Afiliado</th>\n        <th>SMS Enviado</th>\n      </tr>\n    </thead>\n    <tbody>\n`;\n\n// Adiciona cada registro como uma linha na tabela\nregistros.forEach(registro => {\n    const dados = registro.json;\n    html += `\n      <tr>\n        <td>${dados.email || 'N/A'}</td>\n        <td>${dados.telefone || 'N/A'}</td>\n        <td>${dados.data || 'N/A'}</td>\n        <td>${dados.afiliado || 'Nenhum'}</td>\n        <td>${dados.smsenviado || 'N/A'}</td>\n      </tr>\n    `;\n});\n\n// Fecha o HTML\nhtml += `\n    </tbody>\n  </table>\n</body>\n</html>\n`;\n\n// Retorna o HTML como um novo item\nreturn [{ json: { html: html } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2180,-940],"id":"9760bcb5-af75-4342-9b47-0ffcb97088d8","name":"tabela ok"},{"parameters":{"html":"<!-- Filtros -->\n<div style=\"margin-top: 20px;\">\n  <label for=\"filtroAfiliado\">Filtrar por afiliado:</label>\n  <input type=\"text\" id=\"filtroAfiliado\" onkeyup=\"filtrarTabela()\" placeholder=\"Digite o email do afiliado...\" style=\"padding:5px;margin-left:10px;color:black;\">\n</div>\n\n<script>\n  function filtrarTabela() {\n    const input = document.getElementById(\"filtroAfiliado\").value.toLowerCase();\n    const linhas = document.querySelectorAll(\"tbody tr\");\n\n    linhas.forEach(linha => {\n      const afiliado = linha.cells[3]?.textContent.toLowerCase() || \"\";\n      if (afiliado.includes(input)) {\n        linha.style.display = \"\";\n      } else {\n        linha.style.display = \"none\";\n      }\n    });\n  }\n</script>\n\n\n{{ $json.html }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2400,-940],"id":"62a8940e-94c5-4d0a-bded-949e471bd3c1","name":"HTML5"},{"parameters":{"html":"<!-- Filtro -->\n<div style=\"margin-top: 20px;\">\n  <label for=\"filtroEmail\">Filtrar por email:</label>\n  <input type=\"text\" id=\"filtroEmail\" onkeyup=\"filtrarPorEmail()\" placeholder=\"Digite o email...\" style=\"padding:5px;margin-left:10px;color:black;\">\n</div>\n\n<script>\n  function filtrarPorEmail() {\n    const input = document.getElementById(\"filtroEmail\").value.toLowerCase();\n    const linhas = document.querySelectorAll(\"tbody tr\");\n\n    linhas.forEach(linha => {\n      const email = linha.cells[0]?.textContent.toLowerCase() || \"\";\n      linha.style.display = email.includes(input) ? \"\" : \"none\";\n    });\n  }\n</script>\n\n{{ $json.html }}\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2620,-940],"id":"9c3f6f18-b7ef-4e0a-8263-9329295ad9fa","name":"filtro_ok"},{"parameters":{"content":"## DASHBOARD AFILIADOS\nEXIBE DADOS GERAIS Dos jogadores","height":340,"width":1320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[820,-240],"typeVersion":1,"id":"8a6dfc98-0647-437b-ae7a-dfaae3632807","name":"Sticky Note9"},{"parameters":{"path":"SBafiliados","responseMode":"responseNode","options":{}},"id":"95289604-f10a-4fb9-a760-78fea1ca9ae2","name":"Serve Frontend3","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[860,-120],"webhookPath":"frontend","method":"GET","responseMode":"onReceived","responseData":{"body":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>An치lise de Conversas</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      height: 100vh;\n    }\n    .container {\n      max-width: 400px;\n      width: 100%;\n      text-align: center;\n    }\n    textarea {\n      width: 100%;\n      height: 150px;\n      margin-bottom: 10px;\n    }\n    button {\n      background-color: #45DE71;\n      border: none;\n      padding: 10px 15px;\n      color: white;\n      cursor: pointer;\n      border-radius: 5px;\n    }\n    button:disabled {\n      background-color: #ccc;\n    }\n    #result {\n      margin-top: 20px;\n      white-space: pre-wrap;\n      text-align: left;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>An치lise de Conversas</h1>\n    <textarea id=\"conversation\" placeholder=\"Cole a conversa aqui...\"></textarea>\n    <button id=\"analyzeButton\">Analisar Conversa</button>\n    <div id=\"result\"></div>\n  </div>\n\n  <script>\n    const analyzeButton = document.getElementById('analyzeButton');\n    const conversationInput = document.getElementById('conversation');\n    const resultDiv = document.getElementById('result');\n\n    analyzeButton.addEventListener('click', async () => {\n      const conversation = conversationInput.value.trim();\n      if (!conversation) {\n        alert('Por favor, insira uma conversa para an치lise.');\n        return;\n      }\n\n      analyzeButton.disabled = true;\n      resultDiv.textContent = 'Analisando...';\n\n      try {\n        const response = await fetch('/webhook/process', {\n          method: 'POST',\n          headers: {\n            'Content-Type': 'application/json',\n          },\n          body: JSON.stringify({ conversation }),\n        });\n\n        if (!response.ok) {\n          throw new Error('Erro ao analisar a conversa.');\n        }\n\n        const result = await response.json();\n        resultDiv.textContent = `Resultado da An치lise:\\n\\n${result.analysis}`;\n      } catch (error) {\n        resultDiv.textContent = 'Erro: N칚o foi poss칤vel analisar a conversa.';\n      } finally {\n        analyzeButton.disabled = false;\n      }\n    });\n  </script>\n</body>\n</html>"},"responseHeaders":[{"name":"Content-Type","value":"text/html"}],"webhookId":"18c4a0d9-b4fd-48ea-a3ec-02eca69abfbb"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1960,-120],"id":"022918be-7989-46b3-91e1-76f4506bd89b","name":"Respond to Webhook3"},{"parameters":{"assignments":{"assignments":[{"id":"78d7f803-048f-43c6-9b60-996fd057f4db","name":"email","value":"={{ $json.EMAIL }}","type":"string"},{"id":"55e37a3a-9ae1-483d-a48d-e3b871d47dc1","name":"telefone","value":"={{ $json.TELEFONE }}","type":"string"},{"id":"efa82688-b8c0-4ffa-b95c-2aec34614268","name":"data","value":"={{ $json['DATA DA AFILIA칂츾O'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1300,-120],"id":"34bf15ac-3621-480d-9dbc-4d5fd58e719b","name":"dados1"},{"parameters":{"jsCode":"// Pega todos os registros recebidos\nconst registros = $input.all();\n\n// Inicia o HTML com o tema personalizado\nlet html = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Lista de Afiliados</title>\n  <style>\n    body {\n      background-color: #0f1b2b;\n      color: #f1f1f1;\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n    }\n    h1 {\n      color: #00bcd4;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 20px;\n    }\n    th, td {\n      padding: 10px;\n      border-bottom: 1px solid #2c3e50;\n      text-align: left;\n    }\n    th {\n      background-color: #1e2a38;\n    }\n    tr:hover {\n      background-color: #1a2a40;\n    }\n  </style>\n</head>\n<body>\n  <h1>Todos os Afiliados</h1>\n  <table>\n    <thead>\n      <tr>\n        <th>Email</th>\n        <th>Telefone</th>\n        <th>Data da Afilia칞칚o</th>\n      </tr>\n    </thead>\n    <tbody>\n`;\n\n// Adiciona cada registro como uma linha na tabela\nregistros.forEach(registro => {\n    const dados = registro.json;\n    html += `\n      <tr>\n        <td>${dados.email || 'N/A'}</td>\n        <td>${dados.telefone || 'N/A'}</td>\n        <td>${dados.data || 'N/A'}</td>\n      </tr>\n    `;\n});\n\n// Fecha o HTML\nhtml += `\n    </tbody>\n  </table>\n</body>\n</html>\n`;\n\n// Retorna o HTML como um novo item\nreturn [{ json: { html: html } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,-120],"id":"d3300c31-f1d1-4a2b-9142-e9949a59d4aa","name":"Code1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Lista de Afiliados</title>\n  <style>\n    body {\n      background-color: #0f1b2b;\n      color: #f1f1f1;\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n    }\n    h1 {\n      color: #00bcd4;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 20px;\n    }\n    th, td {\n      padding: 10px;\n      border-bottom: 1px solid #2c3e50;\n      text-align: left;\n    }\n    th {\n      background-color: #1e2a38;\n    }\n    tr:hover {\n      background-color: #1a2a40;\n    }\n    .filtros, .paginacao {\n      margin-top: 20px;\n    }\n    .paginacao button {\n      padding: 6px 12px;\n      margin-right: 10px;\n      background-color: #00bcd4;\n      color: #0f1b2b;\n      border: none;\n      border-radius: 4px;\n      cursor: pointer;\n    }\n    .paginacao button:hover {\n      background-color: #00acc1;\n    }\n  </style>\n</head>\n<body>\n\n  <!-- Filtro -->\n  <div class=\"filtros\">\n    <label for=\"filtroEmail\">Filtrar por email:</label>\n    <input type=\"text\" id=\"filtroEmail\" onkeyup=\"filtrarPorEmail()\" placeholder=\"Digite o email...\" style=\"padding:5px;margin-left:10px;color:black;\">\n  </div>\n\n  <!-- Tabela -->\n  <table>\n    <tbody>\n      {{ $json.html }}\n    </tbody>\n  </table>\n\n  <!-- Pagina칞칚o -->\n  <div class=\"paginacao\">\n    <button onclick=\"paginaAnterior()\">Anterior</button>\n    <button onclick=\"proximaPagina()\">Pr칩xima</button>\n    <span id=\"paginacaoInfo\"></span>\n  </div>\n\n  <!-- Scripts -->\n  <script>\n    let paginaAtual = 1;\n    const linhasPorPagina = 50;\n\n    function atualizarTabela() {\n      const linhas = document.querySelectorAll(\"tbody tr\");\n      const termoFiltro = document.getElementById(\"filtroEmail\").value.toLowerCase();\n\n      let linhasFiltradas = [];\n\n      linhas.forEach(linha => {\n        const email = linha.cells[0]?.textContent.toLowerCase() || \"\";\n        if (email.includes(termoFiltro)) {\n          linha.style.display = \"\";\n          linhasFiltradas.push(linha);\n        } else {\n          linha.style.display = \"none\";\n        }\n      });\n\n      const totalPaginas = Math.ceil(linhasFiltradas.length / linhasPorPagina);\n      if (paginaAtual > totalPaginas) paginaAtual = totalPaginas || 1;\n\n      linhasFiltradas.forEach((linha, index) => {\n        if (index >= (paginaAtual - 1) * linhasPorPagina && index < paginaAtual * linhasPorPagina) {\n          linha.style.display = \"\";\n        } else {\n          linha.style.display = \"none\";\n        }\n      });\n\n      document.getElementById(\"paginacaoInfo\").textContent = `P치gina ${paginaAtual} de ${totalPaginas}`;\n    }\n\n    function proximaPagina() {\n      const linhas = document.querySelectorAll(\"tbody tr\");\n      const termoFiltro = document.getElementById(\"filtroEmail\").value.toLowerCase();\n      const totalVisiveis = [...linhas].filter(l => l.cells[0]?.textContent.toLowerCase().includes(termoFiltro));\n      const totalPaginas = Math.ceil(totalVisiveis.length / linhasPorPagina);\n      if (paginaAtual < totalPaginas) {\n        paginaAtual++;\n        atualizarTabela();\n      }\n    }\n\n    function paginaAnterior() {\n      if (paginaAtual > 1) {\n        paginaAtual--;\n        atualizarTabela();\n      }\n    }\n\n    function filtrarPorEmail() {\n      paginaAtual = 1;\n      atualizarTabela();\n    }\n\n    window.addEventListener(\"load\", () => {\n      atualizarTabela();\n    });\n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1760,-120],"id":"331e7d7a-3dc3-47cd-a7fb-435600205aaa","name":"HTML6"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1080,-120],"id":"eeb32d79-13f5-41f2-b524-200165c37e45","name":"SBafiliados","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"content":"## DASHBOARD DESPESAS\nEXIBE DADOS GERAIS DAS DESPESAS","height":340,"width":1320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[820,120],"typeVersion":1,"id":"5df25948-b43a-44e3-926e-304ae792ef9c","name":"Sticky Note10"},{"parameters":{"path":"SBdespesas","responseMode":"responseNode","options":{}},"id":"5547b55c-ad3d-4271-9d0e-e5c4d8328345","name":"Serve Frontend4","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[860,240],"webhookPath":"frontend","method":"GET","responseMode":"onReceived","responseData":{"body":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>An치lise de Conversas</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      height: 100vh;\n    }\n    .container {\n      max-width: 400px;\n      width: 100%;\n      text-align: center;\n    }\n    textarea {\n      width: 100%;\n      height: 150px;\n      margin-bottom: 10px;\n    }\n    button {\n      background-color: #45DE71;\n      border: none;\n      padding: 10px 15px;\n      color: white;\n      cursor: pointer;\n      border-radius: 5px;\n    }\n    button:disabled {\n      background-color: #ccc;\n    }\n    #result {\n      margin-top: 20px;\n      white-space: pre-wrap;\n      text-align: left;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>An치lise de Conversas</h1>\n    <textarea id=\"conversation\" placeholder=\"Cole a conversa aqui...\"></textarea>\n    <button id=\"analyzeButton\">Analisar Conversa</button>\n    <div id=\"result\"></div>\n  </div>\n\n  <script>\n    const analyzeButton = document.getElementById('analyzeButton');\n    const conversationInput = document.getElementById('conversation');\n    const resultDiv = document.getElementById('result');\n\n    analyzeButton.addEventListener('click', async () => {\n      const conversation = conversationInput.value.trim();\n      if (!conversation) {\n        alert('Por favor, insira uma conversa para an치lise.');\n        return;\n      }\n\n      analyzeButton.disabled = true;\n      resultDiv.textContent = 'Analisando...';\n\n      try {\n        const response = await fetch('/webhook/process', {\n          method: 'POST',\n          headers: {\n            'Content-Type': 'application/json',\n          },\n          body: JSON.stringify({ conversation }),\n        });\n\n        if (!response.ok) {\n          throw new Error('Erro ao analisar a conversa.');\n        }\n\n        const result = await response.json();\n        resultDiv.textContent = `Resultado da An치lise:\\n\\n${result.analysis}`;\n      } catch (error) {\n        resultDiv.textContent = 'Erro: N칚o foi poss칤vel analisar a conversa.';\n      } finally {\n        analyzeButton.disabled = false;\n      }\n    });\n  </script>\n</body>\n</html>"},"responseHeaders":[{"name":"Content-Type","value":"text/html"}],"webhookId":"18c4a0d9-b4fd-48ea-a3ec-02eca69abfbb"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1980,240],"id":"4e349206-49b2-43a8-89ff-94e2e686148f","name":"Respond to Webhook4"},{"parameters":{"assignments":{"assignments":[{"id":"78d7f803-048f-43c6-9b60-996fd057f4db","name":"descricao","value":"={{ $json['DESCRI칂츾O'] }}","type":"string"},{"id":"55e37a3a-9ae1-483d-a48d-e3b871d47dc1","name":"valor","value":"={{ $json.VALOR }}","type":"string"},{"id":"efa82688-b8c0-4ffa-b95c-2aec34614268","name":"data","value":"={{ $json.DATA }}","type":"string"},{"id":"69db7032-8ef9-43b9-bbb4-1cea1f569000","name":"status","value":"={{ $json.STATUS }}","type":"string"},{"id":"4735a4e6-4147-4149-be65-a4f321c9853f","name":"pagoem","value":"={{ $json['PAGO EM'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1300,240],"id":"e41ac953-fc26-4e1e-bd76-ef229aa7edee","name":"dados2"},{"parameters":{"jsCode":"// Pega todos os registros recebidos\nconst registros = $input.all();\n\n// Inicia o HTML com o tema personalizado\nlet html = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Despesas</title>\n  <style>\n    body {\n      background-color: #0f1b2b;\n      color: #f1f1f1;\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n    }\n    h1 {\n      color: #00bcd4;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 20px;\n    }\n    th, td {\n      padding: 10px;\n      border-bottom: 1px solid #2c3e50;\n      text-align: left;\n    }\n    th {\n      background-color: #1e2a38;\n    }\n    tr:hover {\n      background-color: #1a2a40;\n    }\n  </style>\n</head>\n<body>\n  <h1>Todas as despesas</h1>\n  <table>\n    <thead>\n      <tr>\n        <th>Descri칞칚o</th>\n        <th>Valor</th>\n        <th>Data</th>\n        <th>Status</th>\n        <th>Pago Em</th>\n      </tr>\n    </thead>\n    <tbody>\n`;\n\n// Adiciona cada registro como uma linha na tabela\nregistros.forEach(registro => {\n    const dados = registro.json;\n    html += `\n      <tr>\n        <td>${dados.descricao || 'N/A'}</td>\n        <td>${dados.valor || 'N/A'}</td>\n        <td>${dados.data || 'N/A'}</td>\n        <td>${dados.status || 'N/A'}</td>\n        <td>${dados.pagoem || 'N/A'}</td>\n      </tr>\n    `;\n});\n\n// Fecha o HTML\nhtml += `\n    </tbody>\n  </table>\n</body>\n</html>\n`;\n\n// Retorna o HTML como um novo item\nreturn [{ json: { html: html } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,240],"id":"2a720976-e213-4563-a1ac-1da95f0ddb4b","name":"Code2"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>DESPESAS</title>\n  <style>\n    body {\n      background-color: #0f1b2b;\n      color: #f1f1f1;\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n    }\n    h1 {\n      color: #00bcd4;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 20px;\n    }\n    th, td {\n      padding: 10px;\n      border-bottom: 1px solid #2c3e50;\n      text-align: left;\n    }\n    th {\n      background-color: #1e2a38;\n    }\n    tr:hover {\n      background-color: #1a2a40;\n    }\n    .filtros, .paginacao {\n      margin-top: 20px;\n    }\n    .paginacao button {\n      padding: 6px 12px;\n      margin-right: 10px;\n      background-color: #00bcd4;\n      color: #0f1b2b;\n      border: none;\n      border-radius: 4px;\n      cursor: pointer;\n    }\n    .paginacao button:hover {\n      background-color: #00acc1;\n    }\n  </style>\n</head>\n<body>\n\n  <!-- Filtro -->\n  <div class=\"filtros\">\n    <label for=\"filtroEmail\">Filtrar por Despesa:</label>\n    <input type=\"text\" id=\"filtroEmail\" onkeyup=\"filtrarPorEmail()\" placeholder=\"Digite descri칞칚o\" style=\"padding:5px;margin-left:10px;color:black;\">\n  </div>\n\n  <!-- Tabela -->\n  <table>\n    <tbody>\n      {{ $json.html }}\n    </tbody>\n  </table>\n\n  <!-- Pagina칞칚o -->\n  <div class=\"paginacao\">\n    <button onclick=\"paginaAnterior()\">Anterior</button>\n    <button onclick=\"proximaPagina()\">Pr칩xima</button>\n    <span id=\"paginacaoInfo\"></span>\n  </div>\n\n  <!-- Scripts -->\n  <script>\n    let paginaAtual = 1;\n    const linhasPorPagina = 50;\n\n    function atualizarTabela() {\n      const linhas = document.querySelectorAll(\"tbody tr\");\n      const termoFiltro = document.getElementById(\"filtroEmail\").value.toLowerCase();\n\n      let linhasFiltradas = [];\n\n      linhas.forEach(linha => {\n        const email = linha.cells[0]?.textContent.toLowerCase() || \"\";\n        if (email.includes(termoFiltro)) {\n          linha.style.display = \"\";\n          linhasFiltradas.push(linha);\n        } else {\n          linha.style.display = \"none\";\n        }\n      });\n\n      const totalPaginas = Math.ceil(linhasFiltradas.length / linhasPorPagina);\n      if (paginaAtual > totalPaginas) paginaAtual = totalPaginas || 1;\n\n      linhasFiltradas.forEach((linha, index) => {\n        if (index >= (paginaAtual - 1) * linhasPorPagina && index < paginaAtual * linhasPorPagina) {\n          linha.style.display = \"\";\n        } else {\n          linha.style.display = \"none\";\n        }\n      });\n\n      document.getElementById(\"paginacaoInfo\").textContent = `P치gina ${paginaAtual} de ${totalPaginas}`;\n    }\n\n    function proximaPagina() {\n      const linhas = document.querySelectorAll(\"tbody tr\");\n      const termoFiltro = document.getElementById(\"filtroEmail\").value.toLowerCase();\n      const totalVisiveis = [...linhas].filter(l => l.cells[0]?.textContent.toLowerCase().includes(termoFiltro));\n      const totalPaginas = Math.ceil(totalVisiveis.length / linhasPorPagina);\n      if (paginaAtual < totalPaginas) {\n        paginaAtual++;\n        atualizarTabela();\n      }\n    }\n\n    function paginaAnterior() {\n      if (paginaAtual > 1) {\n        paginaAtual--;\n        atualizarTabela();\n      }\n    }\n\n    function filtrarPorEmail() {\n      paginaAtual = 1;\n      atualizarTabela();\n    }\n\n    window.addEventListener(\"load\", () => {\n      atualizarTabela();\n    });\n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1760,240],"id":"5c6c3026-4161-42a2-9966-e819c1594bc4","name":"HTML7"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1994659400,"mode":"list","cachedResultName":"DESPESAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1994659400"},"options":{"outputFormatting":{"values":{"general":"FORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1080,240],"id":"b18b25bf-5e4a-4100-a43e-068d47c8fae2","name":"SBdespesas","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}}],"connections":{"Google Sheets":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Serve Frontend":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Serve Frontend2":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"HTML2":{"main":[[]]},"Serve Frontend1":{"main":[[{"node":"SBjogadores","type":"main","index":0}]]},"SBjogadores":{"main":[[{"node":"dados","type":"main","index":0}]]},"dados":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTML4","type":"main","index":0}]]},"HTML4":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Serve Frontend3":{"main":[[{"node":"SBafiliados","type":"main","index":0}]]},"dados1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTML6","type":"main","index":0}]]},"HTML6":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"SBafiliados":{"main":[[{"node":"dados1","type":"main","index":0}]]},"Serve Frontend4":{"main":[[{"node":"SBdespesas","type":"main","index":0}]]},"dados2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"HTML7","type":"main","index":0}]]},"HTML7":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"SBdespesas":{"main":[[{"node":"dados2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Serve Frontend2":[{"json":{"headers":{"host":"n8n.typebot.pro","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","cache-control":"max-age=0","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FCloUqSHRXgrOO6GB0SG%2F2HkHjibQ9VwU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BuM64dVwpRZRtd9gFD4WXbHkqklVKRvMc%3D; _fbp=fb.1.1727729928210.333696686615375440; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Ijk1NjBhOGEwLWNhYTUtNDBkMC04ZDhlLWE5ZmM3M2E2YTY3YyIsImhhc2giOiJjeG1KQlBhTG1rIiwiYnJvd3NlcklkIjoibUhCR3JTL3RUdXprQlB0cjlTYVZYSkRieE1CQm1TdXFxNm1uNG9iRVBJWT0iLCJpYXQiOjE3NDM3MDExMTQsImV4cCI6MTc0NDMwNTkxNH0.jB3OGk7V2_PeQoPyexPAGFz-IFv4CaFmcHFJDTQ0KQo; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BniXb%2BtPyuVRzmKxb09BYu88K8EB66b2aLhoEXU%2FXfvX3kms2mm7zA8hEmJQuj0FXEJYz%2Bl8cNfA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2B1tMNfvr4FfH9I29zFWcRM9H%2FgBzAWYsQynCtasi4HhTDeJUYIxNp3ge6ESDCvzrGfRjkYimy7dg0Iy08pRjC8rcswMVwnVSVefJR2BSB776GjSL7EO7YQIM%2BSvCg0nwJmn1vDqPeDzqi2CKoptBXShRisGfTnCSA%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19Nl63GuPmKoucB94JrRhcyu2%2B9KXbN%2BrrBYshPAzKqpLs5C4cb5AxbL3KoZq34K8aYeoQ40%2FkpTvXTWw%2BKb0omqkRI7ZqtNkYk9B5HO6wVoSXXDdkdsBfEzgiJEF6FVHEKR9BVI4je4g%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%224716021bd420e1af868575cb5eed2477d42420dbeb2cb15c6699f9074cabfce0%239560a8a0-caa5-40d0-8d8e-a9fc73a6a67c%22%2C%22%24sesid%22%3A%5B1743967074399%2C%2201960c3d-4209-777e-bab0-7b6da2dff3c0%22%2C1743962063369%5D%2C%22%24epp%22%3Atrue%7D; rl_session=RudderEncrypt%3AU2FsdGVkX181chEDSZGQSqE2ntV%2FSQPF9%2FhIumkQTrXfla7ar%2BPkDQlequUf8dyFvhO48m8Qj7wqhebtPsDIOshw7Be9%2Foo1yJzGz05LbyUj0EIB1O7Q3ViZ0oaBpHy8KdpiRWBC8E7u%2FXIiw2Dw9A%3D%3D","priority":"u=0, i","sec-ch-ua":"\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"179.104.229.131","x-forwarded-host":"n8n.typebot.pro","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"239301ba036b","x-real-ip":"179.104.229.131"},"params":{},"query":{},"webhookUrl":"https://n8n.typebot.pro/webhook/dashboard","executionMode":"production"}}]},"versionId":"9415539f-a746-498f-b5d5-a34d5e83f977","triggerCount":5,"tags":[{"createdAt":"2025-03-06T17:18:48.721Z","updatedAt":"2025-03-06T17:18:48.721Z","id":"BjJH7wIAM5snchbM","name":"SANTOBET"}]}