[santobet]-saques-Gzmu0qT7vsLxeHsl.json
{"createdAt":"2025-04-10T14:55:47.500Z","updatedAt":"2025-04-10T20:02:02.100Z","id":"Gzmu0qT7vsLxeHsl","name":"[SANTOBET] SAQUES","active":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Webhooksaque').item.json.body.email }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ Number($('Webhooksaque').item.json.body.amount).toLocaleString('pt-BR', { minimumFractionDigits: 2 }) }}","type":"string"},{"id":"3fd940c2-60b3-483d-81c8-6de80077569c","name":"TAXA BSPAY","value":"={{ \n  ($('Webhooksaque').item.json.body.amount * 0.02)  \n  .toFixed(2)  \n  .replace('.', ',')  \n  .replace(/^(\\d+)(\\d{2})$/, 'R$ $1,$2')  \n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-820,40],"id":"73b1f234-5d91-4d69-bb50-8de2a2a7a6fb","name":"Edit Fields6"},{"parameters":{"content":"## SAQUE FEITO\n** REGISTRO SAQUE REALIZADO","height":440,"width":1460},"type":"n8n-nodes-base.stickyNote","position":[-1240,-160],"typeVersion":1,"id":"7b234099-6896-4818-967d-cccbf19bd0e6","name":"Sticky Note11"},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1020,40],"id":"d2fbdfd8-9602-4dd3-84d9-913d0364a88b","name":"Date & Time7"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.EMAIL }}"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-620,40],"id":"75cb546b-72f8-471e-b35f-1b443881e3a5","name":"Google Sheets8","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"69e591e4-0f41-4734-b9c8-ad4341c226a4","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-420,40],"id":"43af1eeb-5ca0-4ba2-8ff4-f939cf2b2c5c","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1387268248,"mode":"list","cachedResultName":"SAQUES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1387268248"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","DATA":"={{ $('Edit Fields6').item.json.DATA }}","VALOR":"={{ $('Edit Fields6').item.json.VALOR }}","AFILIADO S/N":"AFILIADO","TAXA BSPAY":"={{ $('Edit Fields6').item.json['TAXA BSPAY'] }}"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AFILIADO S/N","displayName":"AFILIADO S/N","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TAXA BSPAY","displayName":"TAXA BSPAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-220,120],"id":"52affa82-a704-490c-b20a-1ec997029d07","name":"SAQUE AFILIADO","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1387268248,"mode":"list","cachedResultName":"SAQUES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1387268248"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields6').item.json.EMAIL }}","DATA":"={{ $('Edit Fields6').item.json.DATA }}","VALOR":"={{ $('Edit Fields6').item.json.VALOR }}","TAXA BSPAY":"={{ $('Edit Fields6').item.json['TAXA BSPAY'] }}"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AFILIADO S/N","displayName":"AFILIADO S/N","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TAXA BSPAY","displayName":"TAXA BSPAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-220,-60],"id":"1e4ac0dd-4843-4b51-9c2e-60e4af71a5bb","name":"SAQUE JOGADOR","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,-60],"id":"d4e2540c-7065-4e2d-9b24-e6d428fa08a5","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,120],"id":"c951b8cd-f36e-40be-a531-6cf76e5b1c03","name":"5s","webhookId":"13bfaa01-98f8-4e7f-86d2-ed8411acdd20"},{"parameters":{"operation":"formatDate","date":"={{ new Date().toISOString().split('T')[0] }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[700,120],"id":"b3f1dc24-b776-482f-8f22-e8a92066a436","name":"Date & Time8"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.EMAIL }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[260,120],"id":"e3cc4b33-a8fa-4941-b73a-587e2dada4d1","name":"Google Sheets9","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"assignments":{"assignments":[{"id":"5ae0d695-fdcd-4dca-bff7-e43ddfc29013","name":"TELEFONE","value":"=55{{ $json.TELEFONE.replace(/\\D/g, '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,120],"id":"d4bd2864-3543-43df-ab79-f0ee61ea9ee6","name":"Edit Fields8"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/SUPORTESB","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Edit Fields8').item.json.TELEFONE }}"},{"name":"text","value":"=🔥 CONFIRMAÇÃO DE SAQUE | SANTO BET 🔥\n\n📅 Data: {{ $json['DATA PAGAMENTO'] }}\n\nOlá, {{ $('Google Sheets9').item.json.EMAIL }}!\nSeu saque no valor de R$ {{ $json.VALOR }} foi processado com sucesso! ✅💰\n🔑 Chave Pix: {{ $json['CHAVE PIX'] }}\n\nAgradecemos sua parceria! Qualquer dúvida, estamos à disposição. 💚\n\n🔹 Equipe Santo Bet"}]},"options":{}},"id":"a17041a3-d235-45ed-bbee-ca8dae76ca1a","name":"ENVIA MSG AO AFILIADO2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,120],"alwaysOutputData":false},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1588102366,"mode":"list","cachedResultName":"SAQUE AFILIADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1588102366"},"columns":{"mappingMode":"defineBelow","value":{"AVISO ENVIADO":"SIM","DATA PAGAMENTO":"={{ $json.formattedDate }}","EMAIL":"={{ $('5s').item.json.EMAIL }}","DATA":"={{ $json.formattedDate }}","STATUS":"PAGO","CHAVE PIX":"DADO OCULTO","VERIFICADO":"SIM","VALOR":"={{ $('SAQUE AFILIADO').item.json.VALOR }}"},"matchingColumns":["row_number"],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VERIFICADO","displayName":"VERIFICADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA PAGAMENTO","displayName":"DATA PAGAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RECUSA MOTIVO","displayName":"RECUSA MOTIVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AVISO ENVIADO","displayName":"AVISO ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[980,120],"id":"d14ade4f-4e7a-4cda-9623-0098c5e27f47","name":"Google Sheets10","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"content":"## AVISO DE SAQUE FEITO PARA AFILIADO\n**ENVIA RELATÓRIO AO AFILIADO SOBRE SEU SAQUE","height":300,"width":1220,"color":4},"type":"n8n-nodes-base.stickyNote","position":[220,-20],"typeVersion":1,"id":"e341df8b-333d-4a87-9e06-f41b950b2fea","name":"Sticky Note14"},{"parameters":{"httpMethod":"POST","path":"santosaque","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,40],"id":"24a58f57-99e7-4a16-99c4-fb372fcf4fa8","name":"Webhooksaque","webhookId":"914cfc4d-f456-4908-9435-53cb4295aef3"}],"connections":{"Edit Fields6":{"main":[[{"node":"Google Sheets8","type":"main","index":0}]]},"Date & Time7":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Google Sheets8":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"SAQUE JOGADOR","type":"main","index":0}],[{"node":"SAQUE AFILIADO","type":"main","index":0}]]},"SAQUE AFILIADO":{"main":[[{"node":"5s","type":"main","index":0}]]},"SAQUE JOGADOR":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"5s":{"main":[[{"node":"Google Sheets9","type":"main","index":0}]]},"Date & Time8":{"main":[[{"node":"Google Sheets10","type":"main","index":0}]]},"Google Sheets9":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Date & Time8","type":"main","index":0}]]},"Google Sheets10":{"main":[[{"node":"ENVIA MSG AO AFILIADO2","type":"main","index":0}]]},"Webhooksaque":{"main":[[{"node":"Date & Time7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e9c5a17a-4bb7-41a5-9e2c-73e7cf715556","triggerCount":1,"tags":[]}