[santobet]---pedido-saque-ba2XzGNMh4gl3arq.json
{"createdAt":"2025-04-28T02:04:36.634Z","updatedAt":"2025-04-30T15:22:54.411Z","id":"ba2XzGNMh4gl3arq","name":"[SANTOBET] - PEDIDO SAQUE","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"pedidosaque","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-180,-380],"id":"36689312-c34b-4747-8aa0-46db5589116d","name":"Webhook","webhookId":"f490aa9b-dd6e-4365-b929-760cb5d4a5cd"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data }}","rightValue":"OK","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENVIADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"451ba9af-29c8-4475-bf7d-bcc70f07be0d","leftValue":"={{ $json.data }}","rightValue":"=OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERRO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1320,-460],"id":"0d12443e-2ea0-4f20-b1f4-8695df0e5739","name":"Switch2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Loop Over Items').item.json.EMAIL }}","BOAS VINDAS ENVIADAS":"SIM"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BOAS VINDAS ENVIADAS","displayName":"BOAS VINDAS ENVIADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1520,-560],"id":"fbe72102-3632-40b9-bba3-621cbbe92aad","name":"SMS OK","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"https://sms.aresfun.com/integration/ffc59c17-29ea-4ed8-87aa-359b679273c9","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"\",\n  \"email\": \"{{ $('Google Sheets').item.json.EMAIL }}\",\n  \"phone\": \"55{{ $json.TELEFONE.replace(/[()\\s-]/g, '') }}\",\n  \"event\": \"new\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,-460],"id":"f7fa54ee-ffd5-412b-938a-50686d8a6a78","name":"POST INTEGRAFLUX"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1780,-380],"id":"a70de4d4-30e2-436b-a947-6eb5b8b222d0","name":"Wait","webhookId":"58e22cdc-1c1d-446f-80b1-d6eb924fbeae"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Loop Over Items').item.json.EMAIL }}","BOAS VINDAS ENVIADAS":"ERRO AO ENVIAR"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BOAS VINDAS ENVIADAS","displayName":"BOAS VINDAS ENVIADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1520,-380],"id":"2dd1efc6-155c-46e1-b499-542db27b1bb9","name":"SMS ERRO","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"https://notify.typebot.pro/SANTOBET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"PEDIDO DE SAQUE - PENDENTE"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"UM SAQUE FOI SOLICITADO","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,-380],"id":"c9be7e59-49da-4f8d-a8ae-e315258b4ce7","name":"NOTIFY SAQUE","retryOnFail":false,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://sms.aresfun.com/v1/integration/05d50314-9075-47c3-b36c-7699fb74d0a5/send-sms","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"to\": [\n    \"{{ $json.telefone }}\"\n  ],\n  \"message\": \"SANTOBET - AVISO: SEU SAQUE NO VALOR DE {{ $json.valor }}, JA ESTA SENDO PROCESSADO E BREVE SERA CONCLUIDO\",\n  \"from\": \"SANTOBET\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,-380],"id":"4eb739a6-3c01-4568-bc63-f4a7e6440d68","name":"ENVIAR SMS - JOGADOR"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.body.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[40,-380],"id":"da9c31a7-69aa-4e1a-b320-6390ede1adab","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"assignments":{"assignments":[{"id":"f02845ba-5a65-41d7-944d-371b23f5ddd2","name":"email","value":"={{ $json.EMAIL }}","type":"string"},{"id":"53a19576-d7b4-4c5c-9de1-af9c6244df38","name":"telefone","value":"=55{{ $json.TELEFONE.replace(/[()\\s-]/g, '') }}","type":"string"},{"id":"d27d921e-c05e-49dc-b97e-30752bec6c76","name":"valor","value":"=R$ {{ $('Webhook').item.json.body.amount }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,-380],"id":"ba250487-838f-4792-89ec-a0e01be7c060","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"SMS OK","type":"main","index":0}],[{"node":"SMS ERRO","type":"main","index":0}]]},"SMS OK":{"main":[[{"node":"Wait","type":"main","index":0}]]},"POST INTEGRAFLUX":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"SMS ERRO":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"ENVIAR SMS - JOGADOR":{"main":[[{"node":"NOTIFY SAQUE","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"ENVIAR SMS - JOGADOR","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"46209af1-da15-4021-9451-8cba14ac776c","triggerCount":1,"tags":[]}