[santobet]---ia-analise-base-zHO4wvze3iXlwD9x.json
{"createdAt":"2025-04-03T17:52:52.508Z","updatedAt":"2025-04-10T20:02:24.739Z","id":"zHO4wvze3iXlwD9x","name":"[SANTOBET] - IA ANALISE BASE","active":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=Com base nos dados da planilha AUDITORIA, aja como um especialista financeiro da plataforma Santobet, gere uma análise detalhada sobre a saúde financeira do projeto. Inclua insights sobre crescimento, liquidez, rentabilidade e possíveis riscos. Destaque padrões e tendências relevantes.\n\n\n## SOBRE AS COLUNAS\nDATA = DATA DO LANÇAMENTO\nT. DE JOGADORES = NUMERO DE JOGADORES TOTAIS\nT. AFILIADOS = NUMERO TOTAL DE AFILIADOS\nPIX PAGOS = NUMERO TOTAL DE PIX PAGOS \nJAQUE JOGADOR = VALOR QUE OS JOGADORES JA RETIRARAM\nSAQUE AFILIADO = VALOR QUE OS AFILIADOS JA RETIRARAM\nSAÍDAS TOTAIS = SOMA DE TODAS AS SAÍDAS\nSALDO BSPAY = SALDO NO DIA DO LANÇAMENTO\n\nPARA GERAR RELATÓRIO MAIS EXATO, LEVE EM CONSIDERAÇÕES OS VALORES DE CADA DIA \nREGISTROS 24 HORAS\nPIX 24 HORAS\nSAQUES 24 HORAS\n\nDiretrizes para a análise:\n\nLiquidez: O saldo BSPAY cobre as saídas totais? Como está a relação entre entradas e saídas?\n\nRentabilidade: Qual o impacto dos saques de jogadores e afiliados? O modelo atual é sustentável?\n\nCrescimento: O número de novos registros indica expansão saudável? Como os depósitos médios impactam a receita?\n\nRiscos: Há sinais de fluxo negativo ou riscos operacionais?\n\nForneça um parecer com base nesses pontos, sugerindo melhorias estratégicas para otimizar o desempenho da plataforma."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[0,-80],"id":"2faf98ad-f228-4b2d-8ed4-75d88331d606","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-40,120],"id":"c8cb4ac6-a1a2-47e9-81ed-6ce255702060","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"W9iqAHpJXispMNuH","name":"GEMINI JAMIL"}}},{"parameters":{"assignments":{"assignments":[{"id":"46d98cfb-8fe9-4c10-a4b6-c4a7c0e6c094","name":"saida","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-80],"id":"9a5cf341-6fde-4be7-b1a6-7a5d40caeb5e","name":"Edit Fields7"},{"parameters":{"content":"## IA DE ANALISE\n**CHECA OS DADOS E DA UM RELATORIO","height":460,"width":1320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-300,-160],"typeVersion":1,"id":"4d7d598f-aa55-49f7-8bc3-92dd86eb4596","name":"Sticky Note13"},{"parameters":{"descriptionType":"manual","toolDescription":"Use esta ferramenta para consultar dados na planilha auditoria","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1251155850,"mode":"list","cachedResultName":"AUDITORIA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1251155850"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"="}}}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[240,120],"id":"b0c5942c-784c-456b-9655-b6a4f5affe52","name":"Google Sheets12","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-440,0],"id":"add3bf33-bb7a-4957-a8bf-bcdeddf04e4f","name":"When chat message received","webhookId":"f0746b8d-fb6d-4945-ba3e-98c8ad4ed96f"}],"connections":{"AI Agent":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Sheets12":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9761a675-a0e0-4b49-a18b-ca01715f87b7","triggerCount":0,"tags":[]}