[santbet]---migrar-afiliados-vmxagPrUAYaBHxYp.json
{"createdAt":"2025-04-10T14:41:33.900Z","updatedAt":"2025-05-21T19:11:20.957Z","id":"vmxagPrUAYaBHxYp","name":"[SANTBET] - MIGRAR AFILIADOS","active":true,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"AFILIADO","lookupValue":"SIM"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-400,-140],"id":"adfd6a33-1bca-4943-a96e-5c19e9d3dbdc","name":"CADASTROS","executeOnce":true,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-400,-300],"id":"8e4b77a3-21e4-4960-965e-6fea39f38b79","name":"AFILIADOS","executeOnce":true,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"EMAIL","field2":"EMAIL"}]},"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[60,-240],"id":"3efac13c-591b-4089-9e91-a34a1195eaeb","name":"Compare Datasets"},{"parameters":{"assignments":{"assignments":[{"id":"199d99d4-467d-4ed6-983d-10050ef745c7","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,-300],"id":"a1bc3bea-1e91-46bb-bdc2-f9b068494a2b","name":"dados tratados 2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[560,-280],"id":"c10bb84b-b37c-49f6-8366-3571b02e9cab","name":"No Operation, do nothing4"},{"parameters":{"assignments":{"assignments":[{"id":"cba4d36e-3504-432f-a362-7bca82020711","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,-140],"id":"62fa9213-eb87-4d89-989b-08bfb3397499","name":"DADOS TRATADOS1"},{"parameters":{"content":"## MIGRA DADOS DO AFILIADO DA ABA JOGADOR PARA A ABA AFILIADOS\n** MIGRA AFILIADOS DO SHEET JOGADOR","height":740,"width":2500,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-660,-480],"typeVersion":1,"id":"b4e034a8-e03f-4418-9c38-d708c6754a60","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-620,-220],"id":"992df272-2505-4358-b1a2-6611620a7aa8","name":"Schedule Trigger2"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.EMAIL }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[560,-80],"id":"7ee7d0d3-c4bf-4057-8b67-aceabb76eca1","name":"BUSCA DADOS DO AFILIADO","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","TELEFONE":"={{ $json.TELEFONE }}","DATA DA AFILIAÇÃO":"={{ (new Date()).toLocaleDateString('pt-BR').replace(/\\//g, '-') }}","GERENTE":"LUCAS","ACORDO":"REV 40%"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ACORDO","displayName":"ACORDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GERENTE","displayName":"GERENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GRUPO BLACK","displayName":"GRUPO BLACK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SALA SINAL","displayName":"SALA SINAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA DA AFILIAÇÃO","displayName":"DATA DA AFILIAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BANCA DEMO","displayName":"BANCA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL CONTA DEMO","displayName":"EMAIL CONTA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[780,-80],"id":"2ddc555e-5779-4e2d-b950-7c20858b2c32","name":"CRIA LINHA DO AFILIADO","executeOnce":false,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[260,-100],"id":"8f29507f-ab8f-41d3-af79-66988a875021","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LUCASSANTOBET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55{{ $json.TELEFONE.replace(/[\\(\\)\\-\\s]/g, '') }}"},{"name":"text","value":"=🔥 AFILIAÇÃO APROVADA | SANTO BET 🔥\n\nOlá, {{ $json.EMAIL }}!, 👋 pode me informar seu nome?\nJá informo que sua afiliação foi aprovada com sucesso. 🟢🚀\nSeu painel já está liberado, pode pegar seu link e começar a divulgar.\n\nBem-vindo à equipe que mais cresce! 💼💚\n\n🔗 Acesso à Plataforma de Afiliados:\n👉 https://partners.santo.bet/app/login\n\n🔗 Drive Marketing Afiliados:\n👉 https://shre.ink/SantoBet\n\n💰 Modelo de Comissão:\n\n✔ Condição: 40% de REV (Participação dos lucros)\n📌 Você recebe 40% dos lucros gerados pelos seus clientes na SantoBet.\n\n✔ Valor mínimo para saque: R$100.00\n📌 Os saques podem ser solicitados diretamente pelo seu painel, sempre às segundas-feiras a partir das 9:00 (tentativas de saques fora deste período mostrarão mensagem de erro).\n\n✔ Todo material de apoio deve ser solicitado por este contato\ncomo Saldo para estratégias e MKT, Salas de análises e sinais, etc.\n\n💪 Sucesso e conte com a gente! 🚀\n\n🔹 Equipe Santo Bet"}]},"options":{}},"id":"9042dba7-2744-480b-8c8d-ad04c7327218","name":"ENVIA MSG AO AFILIADO2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,-220],"alwaysOutputData":false,"retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1400,60],"id":"49db993f-9243-443a-abfd-f2d06082cddb","name":"Wait","webhookId":"dd52aa9c-796a-4957-a119-f20fa5e79340"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff16969b-89b4-4685-aad3-04f8467c5a1a","leftValue":"={{ $json.TELEFONE }}","rightValue":"(55)","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1020,-80],"id":"bf241632-95f9-4423-87ef-9f59c041b815","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"columns":{"mappingMode":"defineBelow","value":{"MENSAGEM":"SEM WHATS","EMAIL":"={{ $json.EMAIL }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ACORDO","displayName":"ACORDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GERENTE","displayName":"GERENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GRUPO BLACK","displayName":"GRUPO BLACK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SALA SINAL","displayName":"SALA SINAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DA AFILIAÇÃO","displayName":"DATA DA AFILIAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BANCA DEMO","displayName":"BANCA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL CONTA DEMO","displayName":"EMAIL CONTA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1200,60],"id":"92a8272c-6974-45fb-89c1-366f5735991a","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('If').item.json.EMAIL }}","MENSAGEM":"ERRO AO ENVIAR"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ACORDO","displayName":"ACORDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GERENTE","displayName":"GERENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GRUPO BLACK","displayName":"GRUPO BLACK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SALA SINAL","displayName":"SALA SINAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DA AFILIAÇÃO","displayName":"DATA DA AFILIAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BANCA DEMO","displayName":"BANCA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL CONTA DEMO","displayName":"EMAIL CONTA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1660,0],"id":"3cd5acf5-0fd6-4993-8928-9a2e5da8163e","name":"ERRO AO ENVIAR","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('If').item.json.EMAIL }}","MENSAGEM":"PARTNER SANTO"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ACORDO","displayName":"ACORDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GERENTE","displayName":"GERENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GRUPO BLACK","displayName":"GRUPO BLACK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SALA SINAL","displayName":"SALA SINAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DA AFILIAÇÃO","displayName":"DATA DA AFILIAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BANCA DEMO","displayName":"BANCA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL CONTA DEMO","displayName":"EMAIL CONTA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1660,-200],"id":"3696235f-d843-4d81-b5dc-29835496a5d0","name":"MENSSAGEM ENVIADA","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}}],"connections":{"CADASTROS":{"main":[[{"node":"DADOS TRATADOS1","type":"main","index":0}]]},"AFILIADOS":{"main":[[{"node":"dados tratados 2","type":"main","index":0}]]},"Compare Datasets":{"main":[[],[{"node":"No Operation, do nothing4","type":"main","index":0}],[],[{"node":"Loop Over Items","type":"main","index":0}]]},"dados tratados 2":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"DADOS TRATADOS1":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Schedule Trigger2":{"main":[[{"node":"AFILIADOS","type":"main","index":0},{"node":"CADASTROS","type":"main","index":0}]]},"BUSCA DADOS DO AFILIADO":{"main":[[{"node":"CRIA LINHA DO AFILIADO","type":"main","index":0}]]},"CRIA LINHA DO AFILIADO":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}],[{"node":"BUSCA DADOS DO AFILIADO","type":"main","index":0}]]},"ENVIA MSG AO AFILIADO2":{"main":[[{"node":"MENSSAGEM ENVIADA","type":"main","index":0}],[{"node":"ERRO AO ENVIAR","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"ENVIA MSG AO AFILIADO2","type":"main","index":0}],[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait","type":"main","index":0}]]},"ERRO AO ENVIAR":{"main":[[{"node":"Wait","type":"main","index":0}]]},"MENSSAGEM ENVIADA":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3021475a-0fa9-4725-8207-a94008f72d16","triggerCount":1,"tags":[]}