[santbet]---migrar-afiliados-vmxagPrUAYaBHxYp.json
{"createdAt":"2025-04-10T14:41:33.900Z","updatedAt":"2025-04-11T15:42:14.209Z","id":"vmxagPrUAYaBHxYp","name":"[SANTBET] - MIGRAR AFILIADOS","active":true,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"AFILIADO","lookupValue":"SIM"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-400,-140],"id":"adfd6a33-1bca-4943-a96e-5c19e9d3dbdc","name":"CADASTROS","executeOnce":true,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-400,-300],"id":"8e4b77a3-21e4-4960-965e-6fea39f38b79","name":"AFILIADOS","executeOnce":true,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"EMAIL","field2":"EMAIL"}]},"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[60,-240],"id":"3efac13c-591b-4089-9e91-a34a1195eaeb","name":"Compare Datasets"},{"parameters":{"assignments":{"assignments":[{"id":"199d99d4-467d-4ed6-983d-10050ef745c7","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,-300],"id":"a1bc3bea-1e91-46bb-bdc2-f9b068494a2b","name":"dados tratados 2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[840,-260],"id":"c10bb84b-b37c-49f6-8366-3571b02e9cab","name":"No Operation, do nothing4"},{"parameters":{"assignments":{"assignments":[{"id":"cba4d36e-3504-432f-a362-7bca82020711","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,-140],"id":"62fa9213-eb87-4d89-989b-08bfb3397499","name":"DADOS TRATADOS1"},{"parameters":{"content":"## MIGRA DADOS DO AFILIADO DA ABA JOGADOR PARA A ABA AFILIADOS\n** MIGRA AFILIADOS DO SHEET JOGADOR","height":540,"width":1760,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-660,-480],"typeVersion":1,"id":"b4e034a8-e03f-4418-9c38-d708c6754a60","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-620,-220],"id":"992df272-2505-4358-b1a2-6611620a7aa8","name":"Schedule Trigger2"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.EMAIL }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[360,-120],"id":"7ee7d0d3-c4bf-4057-8b67-aceabb76eca1","name":"BUSCA DADOS DO AFILIADO","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","TELEFONE":"={{ $json.TELEFONE }}","DATA DA AFILIAÇÃO":"={{ (new Date()).toLocaleDateString('pt-BR').replace(/\\//g, '-') }}","GERENTE":"LUCAS","ACORDO":"REV 40%"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ACORDO","displayName":"ACORDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GERENTE","displayName":"GERENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GRUPO BLACK","displayName":"GRUPO BLACK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SALA SINAL","displayName":"SALA SINAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA DA AFILIAÇÃO","displayName":"DATA DA AFILIAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BANCA DEMO","displayName":"BANCA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL CONTA DEMO","displayName":"EMAIL CONTA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[560,-120],"id":"2ddc555e-5779-4e2d-b950-7c20858b2c32","name":"CRIA LINHA DO AFILIADO","executeOnce":false,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}}],"connections":{"CADASTROS":{"main":[[{"node":"DADOS TRATADOS1","type":"main","index":0}]]},"AFILIADOS":{"main":[[{"node":"dados tratados 2","type":"main","index":0}]]},"Compare Datasets":{"main":[[],[{"node":"No Operation, do nothing4","type":"main","index":0}],[],[{"node":"BUSCA DADOS DO AFILIADO","type":"main","index":0}]]},"dados tratados 2":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"DADOS TRATADOS1":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Schedule Trigger2":{"main":[[{"node":"AFILIADOS","type":"main","index":0},{"node":"CADASTROS","type":"main","index":0}]]},"BUSCA DADOS DO AFILIADO":{"main":[[{"node":"CRIA LINHA DO AFILIADO","type":"main","index":0}]]},"CRIA LINHA DO AFILIADO":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bf970356-3237-4a84-8be0-0faea462fe73","triggerCount":1,"tags":[]}