[santobet]---pix-gerado-IUSaAng4pOvGhTa1.json
{"createdAt":"2025-05-16T13:10:09.655Z","updatedAt":"2025-05-16T13:14:55.699Z","id":"IUSaAng4pOvGhTa1","name":"[SANTOBET] - PIX GERADO","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[780,-80],"id":"94c77139-cf9b-4073-8beb-01d42e62ef06","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Webhook1').item.json.body.email }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Webhook1').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ $('Webhook1').item.json.body.amount }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,-80],"id":"b49534db-161d-4163-806d-931043e43c41","name":"Edit Fields3"},{"parameters":{"content":"## PIX GERADO\n** REGISTRO DE PIX GERADOS","height":260,"width":1220},"type":"n8n-nodes-base.stickyNote","position":[-220,-160],"typeVersion":1,"id":"06f23aa7-a7ba-4d12-9427-15f59f7326d5","name":"Sticky Note3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1535349365,"mode":"list","cachedResultName":"DEPOSITO GERADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1535349365"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["EMAIL"],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IPANDRESS","displayName":"IPANDRESS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[540,-80],"id":"9c67a8f0-3627-4470-a161-8d9c7295079d","name":"SALVA JOGADOR NO SHEET1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[60,-80],"id":"b6f19d9b-b0f3-48eb-a084-921099468b8e","name":"Date & Time1"},{"parameters":{"httpMethod":"POST","path":"santopixgerado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-180,-80],"id":"e00db831-3462-422c-9735-42cc4232c7d4","name":"Webhook1","webhookId":"1b3a19ac-6e10-4cef-a9c5-db4bc07fa42b"}],"connections":{"Edit Fields3":{"main":[[{"node":"SALVA JOGADOR NO SHEET1","type":"main","index":0}]]},"SALVA JOGADOR NO SHEET1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8b4bb628-bd0e-4911-9e78-1f8c1a997a7e","triggerCount":1,"tags":[{"createdAt":"2025-03-06T17:18:48.721Z","updatedAt":"2025-03-06T17:18:48.721Z","id":"BjJH7wIAM5snchbM","name":"SANTOBET"}]}