[santobet]---envio-de-sms-kchc3qrigYCexFCu.json
{"createdAt":"2025-04-04T15:11:55.823Z","updatedAt":"2025-04-06T14:13:25.973Z","id":"kchc3qrigYCexFCu","name":"[SANTOBET] - ENVIO DE SMS","active":true,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data }}","rightValue":"OK","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENVIADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"451ba9af-29c8-4475-bf7d-bcc70f07be0d","leftValue":"={{ $json.data }}","rightValue":"=OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERRO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1220,-180],"id":"3a93a5b1-1870-43d8-beaf-7e13c5ef989a","name":"Switch2"},{"parameters":{"content":"## ENVIO DE SMS DE BOAS VINDAS\n** ENVIA SMS ATRAVES DA INTEGRAFLUX","height":660,"width":2040,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-180,-340],"typeVersion":1,"id":"1637a8e4-49d5-4d40-a14c-ab4a2860ebce","name":"Sticky Note5"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Loop Over Items').item.json.EMAIL }}","BOAS VINDAS ENVIADAS":"SIM"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BOAS VINDAS ENVIADAS","displayName":"BOAS VINDAS ENVIADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1420,-280],"id":"04d5aa2b-c9c7-4f44-acd3-223bbd9f517b","name":"SMS OK","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"https://sms.aresfun.com/integration/ffc59c17-29ea-4ed8-87aa-359b679273c9","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"\",\n  \"email\": \"{{ $('Google Sheets').item.json.EMAIL }}\",\n  \"phone\": \"55{{ $json.TELEFONE.replace(/[()\\s-]/g, '') }}\",\n  \"event\": \"new\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-180],"id":"37aa12f8-a324-4254-8f99-6ad02498856c","name":"POST INTEGRAFLUX"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,-240],"id":"ab5211fd-ec5d-4127-97a1-6617b31c5ca1","name":"Schedule Trigger","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"BOAS VINDAS ENVIADAS"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[80,-240],"id":"e033012c-90a2-4c79-9f3e-1838d1bd736d","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[560,-200],"id":"8b3b34c1-c1ca-470e-bd31-435c65287fa0","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"be247335-eb24-4c3d-ae37-1c50deb39a4c","name":"TELEFONE","value":"={{ $('Google Sheets').item.json.TELEFONE }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,-180],"id":"b8814426-54cd-47f1-9864-0c85d5222e75","name":"Edit Fields"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1680,-100],"id":"59e41762-51ae-4651-8828-5a7de577c6d8","name":"Wait","webhookId":"58e22cdc-1c1d-446f-80b1-d6eb924fbeae"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03ab580c-8f72-4587-898a-59c765b35c95","leftValue":"={{ $json.TELEFONE }}","rightValue":"(55)","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[280,-240],"id":"b48f6880-37c1-4323-959e-c6f40320235e","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Loop Over Items').item.json.EMAIL }}","BOAS VINDAS ENVIADAS":"ERRO AO ENVIAR"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BOAS VINDAS ENVIADAS","displayName":"BOAS VINDAS ENVIADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1420,-100],"id":"bad5dd87-76e0-48e3-b8c8-5b8ae376bc6a","name":"SMS ERRO","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[540,100],"id":"ba3afcf2-79d4-4987-91e7-73f95ad26251","name":"No Operation, do nothing"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","BOAS VINDAS ENVIADAS":"N° ERRADO"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BOAS VINDAS ENVIADAS","displayName":"BOAS VINDAS ENVIADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[300,20],"id":"d64b29f6-a84d-4a5b-8be7-f5aa9954a52d","name":"NUMERO ERRADO","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]},"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-140,-20],"id":"29a4cf0b-31dc-475a-8974-50ac1065f6bc","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"SF1Unu4pLd7J2N6s","name":"Google Sheets Trigger JAMIL"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[80,-20],"id":"a2878474-a117-4959-9ef3-633f1d510a5f","name":"Limit"}],"connections":{"Switch2":{"main":[[{"node":"SMS OK","type":"main","index":0}],[{"node":"SMS ERRO","type":"main","index":0}]]},"SMS OK":{"main":[[{"node":"Wait","type":"main","index":0}]]},"POST INTEGRAFLUX":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"POST INTEGRAFLUX","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"NUMERO ERRADO","type":"main","index":0}]]},"SMS ERRO":{"main":[[{"node":"Wait","type":"main","index":0}]]},"NUMERO ERRADO":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","sheetId":0,"lastIndexChecked":5664}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ad213499-3b4e-4637-ab06-c71b4b15bf08","triggerCount":1,"tags":[{"createdAt":"2025-03-06T17:18:48.721Z","updatedAt":"2025-03-06T17:18:48.721Z","id":"BjJH7wIAM5snchbM","name":"SANTOBET"}]}