[zap-financeiro]---wb-lastlink-XtQiReWMgJbowSqA.json
{"createdAt":"2025-03-06T01:45:01.256Z","updatedAt":"2025-04-10T19:58:24.088Z","id":"XtQiReWMgJbowSqA","name":"[ZAP FINANCEIRO] - WB LASTLINK","active":true,"nodes":[{"parameters":{"tableId":"usuario","fieldsUi":{"fieldValues":[{"fieldId":"NOME","fieldValue":"={{ $('Edit Fields15').item.json.NOME }}"},{"fieldId":"EMAIL","fieldValue":"={{ $('Edit Fields15').item.json.EMAIL }}"},{"fieldId":"TELEFONE","fieldValue":"={{ $('Edit Fields15').item.json.TELEFONE }}"},{"fieldId":"STATUS","fieldValue":"AGUARDANDO PAGAMENTO"},{"fieldId":"DATA DA COMPRA","fieldValue":"={{ $('Edit Fields15').item.json['DATA DA COMPRA'] }}"},{"fieldId":"REMOTEJID-USUARIO","fieldValue":"={{ $('Edit Fields15').item.json.TELEFONE }}@s.whatsapp.net "},{"fieldId":"CARGO","fieldValue":"={{ $('Edit Fields15').item.json.CARGO }}"},{"fieldId":"ORIGEM","fieldValue":"LASTLINK"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3120,720],"id":"ebc19e1f-c2c6-4d79-8070-851fc36277db","name":"Supabase2","credentials":{"supabaseApi":{"id":"337Z7ndUMMaF8CZx","name":"Supabase ZAP FINANCEIRO"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1717d3dd-1b75-4cba-8b25-65c37e3dc7a0","leftValue":"={{ $json.TELEFONE }}","rightValue":"={{ $('Edit Fields15').item.json.TELEFONE }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NÃO EXISTE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"63da9779-70b2-4ad6-9000-d927b5702851","leftValue":"={{ $('Edit Fields15').item.json.TELEFONE }}","rightValue":"={{ $json.TELEFONE }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"EXISTE"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2940,800],"id":"2e9ccf93-1f90-4c78-ab58-6bb6a14897e1","name":"Switch1"},{"parameters":{"content":"## ASSINATURA CANCELADA - COMPRA CANCELADA","height":220,"width":500,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2540,1460],"typeVersion":1,"id":"b721e071-df93-433e-8b53-33eff1cdb799","name":"Sticky Note24"},{"parameters":{"assignments":{"assignments":[{"id":"02913ae9-eaad-40b5-8ec8-400b1d361573","name":"NOME","value":"={{ $json.body.Data.Buyer.Name }}","type":"string"},{"id":"e3c31034-4bf1-4f0b-a290-f90e9223014e","name":"EMAIL","value":"={{ $json.body.Data.Buyer.Email }}","type":"string"},{"id":"fa7279ac-d5d9-4ff2-8369-c0921e0638a2","name":"TELEFONE","value":"={{ $json.body.Data.Buyer.PhoneNumber.replace(/\\D/g, '').replace(/^(55\\d{2})9/, '$1') }}","type":"string"},{"id":"d0c63cd7-6f24-4bb7-b400-948bd1bf6a3d","name":"STATUS","value":"ATIVO","type":"string"},{"id":"ae1dc5b3-ba50-4ea1-9f57-00900364dba7","name":"DATA DA COMPRA","value":"={{ new Date($json.body.CreatedAt).toLocaleDateString('pt-BR') }}","type":"string"},{"id":"cc2e7ab5-2cff-4c2c-b43d-5ca42b5e6525","name":"CARGO","value":"PADRÃO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2620,1520],"id":"a48cca50-d6a1-4fe6-9c22-32786d283b5a","name":"Edit Fields5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9639f247-cfb2-4a61-bbfd-2a72aa302e62","leftValue":"={{ $json.body.Event }}","rightValue":"Purchase_Request_Confirmed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FATURA CRIADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.Event }}","rightValue":"Purchase_Order_Confirmed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"COMPRA CONFIRMADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09948c9d-e419-4e59-82bd-9a042bf2992a","leftValue":"={{ $json.body.Event }}","rightValue":"Purchase_Request_Canceled","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"COMPRA CANCELADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce262b78-5cbe-434d-bff4-e9be521b5bdc","leftValue":"={{ $json.body.Event }}","rightValue":"Payment_Refund","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"COMPRA REEMBOLSADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f286b93d-e7cb-4537-8bcc-c31035e0cdf5","leftValue":"={{ $json.body.Event }}","rightValue":"Payment_Chargeback","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CHANGERBACK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c64c9f1-13a2-4c1c-ac67-1ca9796dce54","leftValue":"={{ $json.body.Event }}","rightValue":"Subscription_Expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ASSINATURA CANCELADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fef11042-d2c3-4fd9-b16e-e0aee1ed046c","leftValue":"={{ $json.body.Event }}","rightValue":"Abandoned_Cart","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ABANDONO DE CARRINHO"}]},"options":{}},"id":"c44dd71e-e543-4f20-9a94-f908475b5ffc","name":"ROTA-LASTLINK","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2280,1180]},{"parameters":{"httpMethod":"POST","path":"zapfinanceirolastlink","options":{}},"id":"e238a64b-62ed-452d-a667-20d1becb85c6","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2080,1260],"webhookId":"83d35c24-9126-41f7-97fa-366add86ed9f"},{"parameters":{"operation":"update","tableId":"usuario","filters":{"conditions":[{"keyName":"TELEFONE","condition":"eq","keyValue":"={{ $json.TELEFONE }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"NOME","fieldValue":"={{ $json.NOME }}"},{"fieldId":"EMAIL","fieldValue":"={{ $json.EMAIL }}"},{"fieldId":"TELEFONE","fieldValue":"={{ $json.TELEFONE }}"},{"fieldId":"STATUS","fieldValue":"=AGUARDANDO PAGAMENTO"},{"fieldId":"DATA DA COMPRA","fieldValue":"={{ $('Edit Fields15').item.json['DATA DA COMPRA'] }}"},{"fieldId":"REMOTEJID-USUARIO","fieldValue":"={{ $json.TELEFONE }}@s.whatsapp.net "},{"fieldId":"CARGO","fieldValue":"={{ $json.CARGO }}"},{"fieldId":"ORIGEM","fieldValue":"LASTLINK"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3120,900],"id":"3b84efe0-fb2c-4b21-a39d-f230dfc20fa5","name":"Supabase16","credentials":{"supabaseApi":{"id":"337Z7ndUMMaF8CZx","name":"Supabase ZAP FINANCEIRO"}}},{"parameters":{"assignments":{"assignments":[{"id":"02913ae9-eaad-40b5-8ec8-400b1d361573","name":"NOME","value":"={{ $json.body.Data.Buyer.Name }}","type":"string"},{"id":"e3c31034-4bf1-4f0b-a290-f90e9223014e","name":"EMAIL","value":"={{ $json.body.Data.Buyer.Email }}","type":"string"},{"id":"fa7279ac-d5d9-4ff2-8369-c0921e0638a2","name":"TELEFONE","value":"={{ $json.body.Data.Buyer.PhoneNumber.replace(/\\D/g, '').replace(/^(55\\d{2})9/, '$1') }}","type":"string"},{"id":"d0c63cd7-6f24-4bb7-b400-948bd1bf6a3d","name":"STATUS","value":"ATIVO","type":"string"},{"id":"ae1dc5b3-ba50-4ea1-9f57-00900364dba7","name":"DATA DA COMPRA","value":"={{ new Date($json.body.CreatedAt).toLocaleDateString('pt-BR') }}","type":"string"},{"id":"cc2e7ab5-2cff-4c2c-b43d-5ca42b5e6525","name":"CARGO","value":"PADRÃO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2580,800],"id":"41826b1c-e9a0-40e4-a774-8e9a7f61b7d9","name":"Edit Fields15"},{"parameters":{"content":"## FATURA CRIADA","height":360,"width":800,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2540,700],"typeVersion":1,"id":"a515a00a-5600-4655-9ca7-b2de1286d131","name":"Sticky Note8"},{"parameters":{"tableId":"usuario","fieldsUi":{"fieldValues":[{"fieldId":"NOME","fieldValue":"={{ $('Edit Fields16').item.json.NOME }}"},{"fieldId":"EMAIL","fieldValue":"={{ $('Edit Fields16').item.json.EMAIL }}"},{"fieldId":"TELEFONE","fieldValue":"={{ $('Edit Fields16').item.json.TELEFONE }}"},{"fieldId":"STATUS","fieldValue":"=ATIVO"},{"fieldId":"DATA DA COMPRA","fieldValue":"={{ $('Edit Fields16').item.json['DATA DA COMPRA'] }}"},{"fieldId":"REMOTEJID-USUARIO","fieldValue":"={{ $('Edit Fields16').item.json.TELEFONE }}@s.whatsapp.net "},{"fieldId":"CARGO","fieldValue":"={{ $('Edit Fields16').item.json.CARGO }}"},{"fieldId":"ORIGEM","fieldValue":"LASTLINK"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3120,1100],"id":"fad4e243-ce09-44e2-b939-c7f1f8a94fb4","name":"Supabase9","credentials":{"supabaseApi":{"id":"337Z7ndUMMaF8CZx","name":"Supabase ZAP FINANCEIRO"}}},{"parameters":{"operation":"getAll","tableId":"usuario","returnAll":true,"filters":{"conditions":[{"keyName":"TELEFONE","condition":"eq","keyValue":"={{ \n  (() => {\n    let numero = $json.TELEFONE;\n\n    // Se o número tem 13 dígitos (celular com o 9 extra), removemos o \"9\" após os 4 primeiros dígitos\n    if (numero.length === 13) {\n      numero = numero.slice(0, 4) + numero.slice(5);\n    }\n\n    return numero;\n  })()\n}}\n"},{"keyName":"TELEFONE","condition":"eq","keyValue":"={{ \n  (() => {\n    let numero = $json.TELEFONE;\n\n    // Se o número tem 12 dígitos (indica celular antigo sem o 9), adicionamos o \"9\" após os 4 primeiros dígitos\n    if (numero.length === 12) {\n      numero = numero.slice(0, 4) + '9' + numero.slice(4);\n    }\n\n    return numero;\n  })()\n}}\n"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2760,1200],"id":"4e12f408-1a0f-4391-8cfa-03af11a1ab0e","name":"Supabase17","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"337Z7ndUMMaF8CZx","name":"Supabase ZAP FINANCEIRO"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1717d3dd-1b75-4cba-8b25-65c37e3dc7a0","leftValue":"={{ $json.TELEFONE }}","rightValue":"={{ $('Edit Fields16').item.json.TELEFONE }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NÃO EXISTE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"63da9779-70b2-4ad6-9000-d927b5702851","leftValue":"={{ $('Edit Fields16').item.json.TELEFONE }}","rightValue":"={{ $json.TELEFONE }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"EXISTE"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2940,1200],"id":"7797b76f-6ffa-4244-8757-d10725040317","name":"Switch11"},{"parameters":{"operation":"update","tableId":"usuario","filters":{"conditions":[{"keyName":"TELEFONE","condition":"eq","keyValue":"={{ $json.TELEFONE }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"NOME","fieldValue":"={{ $json.NOME }}"},{"fieldId":"EMAIL","fieldValue":"={{ $json.EMAIL }}"},{"fieldId":"TELEFONE","fieldValue":"={{ $json.TELEFONE }}"},{"fieldId":"STATUS","fieldValue":"=ATIVO"},{"fieldId":"DATA DA COMPRA","fieldValue":"={{ $('Edit Fields16').item.json['DATA DA COMPRA'] }}"},{"fieldId":"REMOTEJID-USUARIO","fieldValue":"={{ $json.TELEFONE }}@s.whatsapp.net "},{"fieldId":"CARGO","fieldValue":"={{ $json.CARGO }}"},{"fieldId":"ORIGEM","fieldValue":"LASTLINK"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3120,1280],"id":"6dd1f806-8fb8-4d86-a6cf-dc2163078eba","name":"Supabase18","credentials":{"supabaseApi":{"id":"337Z7ndUMMaF8CZx","name":"Supabase ZAP FINANCEIRO"}}},{"parameters":{"assignments":{"assignments":[{"id":"02913ae9-eaad-40b5-8ec8-400b1d361573","name":"NOME","value":"={{ $json.body.Data.Buyer.Name }}","type":"string"},{"id":"e3c31034-4bf1-4f0b-a290-f90e9223014e","name":"EMAIL","value":"={{ $json.body.Data.Buyer.Email }}","type":"string"},{"id":"fa7279ac-d5d9-4ff2-8369-c0921e0638a2","name":"TELEFONE","value":"={{ $json.body.Data.Buyer.PhoneNumber.replace(/\\D/g, '').replace(/^(55\\d{2})9/, '$1') }}","type":"string"},{"id":"d0c63cd7-6f24-4bb7-b400-948bd1bf6a3d","name":"STATUS","value":"ATIVO","type":"string"},{"id":"ae1dc5b3-ba50-4ea1-9f57-00900364dba7","name":"DATA DA COMPRA","value":"={{ new Date($json.body.CreatedAt).toLocaleDateString('pt-BR') }}","type":"string"},{"id":"cc2e7ab5-2cff-4c2c-b43d-5ca42b5e6525","name":"CARGO","value":"PADRÃO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2580,1200],"id":"44eab6a4-de6e-47f3-b6cd-ec4347f9b259","name":"Edit Fields16"},{"parameters":{"content":"## PAGAMENTO OK","height":360,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2540,1080],"typeVersion":1,"id":"6dd1d919-c752-459d-bfbc-c609cf8b0cd3","name":"Sticky Note20"},{"parameters":{"operation":"getAll","tableId":"usuario","returnAll":true,"filters":{"conditions":[{"keyName":"TELEFONE","condition":"eq","keyValue":"={{ \n  (() => {\n    let numero = $json.TELEFONE;\n\n    // Se o número tem 13 dígitos (celular com o 9 extra), removemos o \"9\" após os 4 primeiros dígitos\n    if (numero.length === 13) {\n      numero = numero.slice(0, 4) + numero.slice(5);\n    }\n\n    return numero;\n  })()\n}}\n"},{"keyName":"TELEFONE","condition":"eq","keyValue":"={{ \n  (() => {\n    let numero = $json.TELEFONE;\n\n    // Se o número tem 12 dígitos (indica celular antigo sem o 9), adicionamos o \"9\" após os 4 primeiros dígitos\n    if (numero.length === 12) {\n      numero = numero.slice(0, 4) + '9' + numero.slice(4);\n    }\n\n    return numero;\n  })()\n}}\n"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2760,800],"id":"66f6118c-3188-4b89-afa6-b64cfd5f134e","name":"Supabase19","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"337Z7ndUMMaF8CZx","name":"Supabase ZAP FINANCEIRO"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3500,1340],"id":"be4e8de1-9821-40d4-bc6c-fe8d15b8b719","name":"No Operation, do nothing"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NGpi4nP2hfBLV5mq9ZvcCSnec4qH_l2Wg-mmONQ3LzI","mode":"list","cachedResultName":"AGENTE IA - GASTOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NGpi4nP2hfBLV5mq9ZvcCSnec4qH_l2Wg-mmONQ3LzI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1208608738,"mode":"list","cachedResultName":"SUPABASE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NGpi4nP2hfBLV5mq9ZvcCSnec4qH_l2Wg-mmONQ3LzI/edit#gid=1208608738"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["TELEFONE"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REMOTEJID-USUARIO","displayName":"REMOTEJID-USUARIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DA COMPRA","displayName":"DATA DA COMPRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ORIGEM","displayName":"ORIGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3500,1100],"id":"8133010b-8f3a-4af0-be10-e5e499f59271","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"content":"## BACKUP SHEET","height":260,"width":280,"color":5},"type":"n8n-nodes-base.stickyNote","position":[3400,1020],"typeVersion":1,"id":"8d4fdc2d-9c86-4815-9a1b-32d6fd1e2763","name":"Sticky Note9"},{"parameters":{"operation":"update","tableId":"usuario","filters":{"conditions":[{"keyName":"TELEFONE","condition":"eq","keyValue":"={{ $json.TELEFONE }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"NOME","fieldValue":"={{ $json.NOME }}"},{"fieldId":"EMAIL","fieldValue":"={{ $json.EMAIL }}"},{"fieldId":"TELEFONE","fieldValue":"={{ $json.TELEFONE }}"},{"fieldId":"STATUS","fieldValue":"={{ $json.STATUS }}"},{"fieldId":"CARGO","fieldValue":"={{ $json.CARGO }}"},{"fieldId":"ORIGEM","fieldValue":"LASTLINK"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2840,1520],"id":"5776ea25-453f-45d8-ba40-d47fe907b172","name":"Supabase15","credentials":{"supabaseApi":{"id":"337Z7ndUMMaF8CZx","name":"Supabase ZAP FINANCEIRO"}}},{"parameters":{"content":"# Webhook LASTLINK\n** BUSCA USUARIO NO DB, SE NÃO EXISTIR CRIA.\n** SE EXISTIR ATUALIZA STATUS","height":1300,"width":1680,"color":2},"type":"n8n-nodes-base.stickyNote","position":[2020,640],"typeVersion":1,"id":"b9a564bb-7d80-49d2-bbdf-a5922e921a42","name":"Sticky Note17"},{"parameters":{"content":"## CHANGERBACK E EXTORNO","height":260,"width":800,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"f1611c0e-5107-49e1-a098-49f139cd556e","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"02913ae9-eaad-40b5-8ec8-400b1d361573","name":"NOME","value":"={{ $json.body.Data.Buyer.Name }}","type":"string"},{"id":"e3c31034-4bf1-4f0b-a290-f90e9223014e","name":"EMAIL","value":"={{ $json.body.Data.Buyer.Email }}","type":"string"},{"id":"fa7279ac-d5d9-4ff2-8369-c0921e0638a2","name":"TELEFONE","value":"={{ $json.body.Data.Buyer.PhoneNumber.replace(/\\D/g, '').replace(/^(55\\d{2})9/, '$1') }}","type":"string"},{"id":"d0c63cd7-6f24-4bb7-b400-948bd1bf6a3d","name":"STATUS","value":"ATIVO","type":"string"},{"id":"ae1dc5b3-ba50-4ea1-9f57-00900364dba7","name":"DATA DA COMPRA","value":"={{ new Date($json.body.CreatedAt).toLocaleDateString('pt-BR') }}","type":"string"},{"id":"cc2e7ab5-2cff-4c2c-b43d-5ca42b5e6525","name":"CARGO","value":"PADRÃO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,80],"id":"485eb1f5-113c-42eb-b254-48fc2dc8cc6a","name":"Edit Fields"},{"parameters":{"operation":"update","tableId":"usuario","filters":{"conditions":[{"keyName":"TELEFONE","condition":"eq","keyValue":"={{ $json.TELEFONE }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"NOME","fieldValue":"={{ $json.NOME }}"},{"fieldId":"EMAIL","fieldValue":"={{ $json.EMAIL }}"},{"fieldId":"TELEFONE","fieldValue":"={{ $json.TELEFONE }}"},{"fieldId":"STATUS","fieldValue":"=NÃO ASSINANTE"},{"fieldId":"CARGO","fieldValue":"={{ $json.CARGO }}"},{"fieldId":"ORIGEM","fieldValue":"LASTLINK"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[540,80],"id":"04bcf259-dd08-470b-b734-91b4bfc23702","name":"Supabase","credentials":{"supabaseApi":{"id":"337Z7ndUMMaF8CZx","name":"Supabase ZAP FINANCEIRO"}}},{"parameters":{"assignments":{"assignments":[{"id":"02913ae9-eaad-40b5-8ec8-400b1d361573","name":"NOME","value":"={{ $json.body.Data.Buyer.Name }}","type":"string"},{"id":"e3c31034-4bf1-4f0b-a290-f90e9223014e","name":"EMAIL","value":"={{ $json.body.Data.Buyer.Email }}","type":"string"},{"id":"fa7279ac-d5d9-4ff2-8369-c0921e0638a2","name":"TELEFONE","value":"={{ $json.body.Data.Buyer.PhoneNumber.replace(/\\D/g, '').replace(/^(55\\d{2})9/, '$1') }}","type":"string"},{"id":"d0c63cd7-6f24-4bb7-b400-948bd1bf6a3d","name":"STATUS","value":"EXTORNADA","type":"string"},{"id":"ae1dc5b3-ba50-4ea1-9f57-00900364dba7","name":"DATA DA COMPRA","value":"={{ new Date($json.body.CreatedAt).toLocaleDateString('pt-BR') }}","type":"string"},{"id":"cc2e7ab5-2cff-4c2c-b43d-5ca42b5e6525","name":"CARGO","value":"PADRÃO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2620,1760],"id":"1fbc6ac2-6396-4c8c-9078-c90575bfeafa","name":"Edit Fields6"},{"parameters":{"content":"## CHANGERBACK E REEMBOLSO","height":220,"width":400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2540,1700],"typeVersion":1,"id":"428c45b0-dc4e-46f3-9537-efd000b6deaf","name":"Sticky Note25"},{"parameters":{"assignments":{"assignments":[{"id":"02913ae9-eaad-40b5-8ec8-400b1d361573","name":"NOME","value":"={{ $json.body.Data.Buyer.Name }}","type":"string"},{"id":"e3c31034-4bf1-4f0b-a290-f90e9223014e","name":"EMAIL","value":"={{ $json.body.Data.Buyer.Email }}","type":"string"},{"id":"fa7279ac-d5d9-4ff2-8369-c0921e0638a2","name":"TELEFONE","value":"={{ $json.body.Data.Buyer.PhoneNumber.replace(/\\D/g, '').replace(/^(55\\d{2})9/, '$1') }}","type":"string"},{"id":"d0c63cd7-6f24-4bb7-b400-948bd1bf6a3d","name":"STATUS","value":"CARRINHO ABANDONADO","type":"string"},{"id":"ae1dc5b3-ba50-4ea1-9f57-00900364dba7","name":"DATA DO EVENTO","value":"={{ new Date($json.body.CreatedAt).toLocaleDateString('pt-BR') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,1760],"id":"ff51c1b4-5eff-4cca-957e-e7da9dca8683","name":"Edit Fields7"},{"parameters":{"content":"## ABANDONO DE CARRINHO","height":220,"width":440,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2960,1700],"typeVersion":1,"id":"1aa1cef7-e07f-4848-8aeb-fdf6782d1b6b","name":"Sticky Note26"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NGpi4nP2hfBLV5mq9ZvcCSnec4qH_l2Wg-mmONQ3LzI","mode":"list","cachedResultName":"AGENTE IA - GASTOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NGpi4nP2hfBLV5mq9ZvcCSnec4qH_l2Wg-mmONQ3LzI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":861561614,"mode":"list","cachedResultName":"ABANDONO DE CARRINHO - LASTLINK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NGpi4nP2hfBLV5mq9ZvcCSnec4qH_l2Wg-mmONQ3LzI/edit#gid=861561614"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3220,1760],"id":"3bf49003-0910-4061-aabf-a8aa21ed13df","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}}],"connections":{"Switch1":{"main":[[{"node":"Supabase2","type":"main","index":0}],[{"node":"Supabase16","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Supabase15","type":"main","index":0}]]},"ROTA-LASTLINK":{"main":[[{"node":"Edit Fields15","type":"main","index":0}],[{"node":"Edit Fields16","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields6","type":"main","index":0}],[{"node":"Edit Fields6","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields7","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"ROTA-LASTLINK","type":"main","index":0}]]},"Edit Fields15":{"main":[[{"node":"Supabase19","type":"main","index":0}]]},"Supabase17":{"main":[[{"node":"Switch11","type":"main","index":0}]]},"Switch11":{"main":[[{"node":"Supabase9","type":"main","index":0}],[{"node":"Supabase18","type":"main","index":0}]]},"Edit Fields16":{"main":[[{"node":"Supabase17","type":"main","index":0}]]},"Supabase19":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Supabase9":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Supabase16":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Supabase18":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Supabase15":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Supabase15","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3bdfc936-17a2-4052-a128-05657c8ade5e","triggerCount":1,"tags":[{"createdAt":"2025-03-06T13:31:59.613Z","updatedAt":"2025-03-06T13:31:59.613Z","id":"SdawizUjteXovZWb","name":"ZAPFINANCEIRO"}]}