add-diego-ao-grupo-MDiAMGCVvnwN31vu.json
{"updatedAt":"2025-12-05T15:18:09.600Z","createdAt":"2025-12-05T13:21:06.841Z","id":"MDiAMGCVvnwN31vu","name":"ADD DIEGO AO GRUPO","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-432,-208],"id":"1bae86aa-015a-4cb3-8275-ec402af84d49","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":52835441,"mode":"list","cachedResultName":"DASHBOARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=52835441"},"filtersUI":{"values":[{"lookupColumn":"DIEGO ADD AO GRUPO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-176,-208],"id":"e5b55b96-e064-4425-94ec-139c0b4866d1","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"assignments":{"assignments":[{"id":"0f2f4867-6f2e-47a2-a383-9432ada7016d","name":"OPERAÇÃO","value":"={{ $json['OPERAÇÃO'] }}","type":"string"},{"id":"4b92b69d-7da1-4bdb-a62d-790be8dccf4f","name":"INSTANCIA","value":"={{ $json.INSTANCIA }}","type":"string"},{"id":"b7cd3d7a-78ac-4482-899c-b157689a0504","name":"ID_GRUPO","value":"={{ $json['ID GRUPOS'] }}","type":"string"},{"id":"9dffcd27-2857-4daa-b26e-f700738d8794","name":"URL_API","value":"https://whatsapi.typebot.pro","type":"string"},{"id":"37b16e18-1043-4043-aaf5-906bd40032ad","name":"API_KEY","value":"b4d71f9c38e3ac12a6b08e4b6d53aa90","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-208],"id":"e3929416-98a3-42f0-b17f-20e957c2ed44","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b299a732-1aa7-4680-9e79-d009281c6bec","leftValue":"={{ $json['OPERAÇÃO'] }}","rightValue":"OPERAÇÃO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[352,-208],"id":"8be77e95-b974-4f36-9252-1232ad41946f","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,-192],"id":"48f55dc7-0ce8-46fb-929a-5ffe2fe9f902","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"={{ $json.URL_API }}/group/updateParticipant/{{ $json.INSTANCIA }}?groupJid={{ $json.ID_GRUPO }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"action\": \"add\",\n  \"participants\": [\n    \"553492319501\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,-176],"id":"b40af57d-64c6-4bb9-ad36-a895ded7e3b1","name":"HTTP Request5","onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":52835441,"mode":"list","cachedResultName":"DASHBOARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=52835441"},"columns":{"mappingMode":"defineBelow","value":{"OPERAÇÃO":"={{ $json['OPERAÇÃO'] }}","DIEGO ADD AO GRUPO":"FALHA"},"matchingColumns":["OPERAÇÃO"],"schema":[{"id":"OPERAÇÃO","displayName":"OPERAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"INSTANCIA","displayName":"INSTANCIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS EVO","displayName":"STATUS EVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIEGO ADD AO GRUPO","displayName":"DIEGO ADD AO GRUPO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID GRUPOS","displayName":"ID GRUPOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QUANT. LEADS","displayName":"QUANT. LEADS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MENSALIDADE","displayName":"MENSALIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VENCIMENTO","displayName":"VENCIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PAGO","displayName":"PAGO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1152,-80],"id":"c406be80-cd0d-42f7-85f9-b38fa8eba448","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":52835441,"mode":"list","cachedResultName":"DASHBOARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=52835441"},"columns":{"mappingMode":"defineBelow","value":{"OPERAÇÃO":"={{ $('Loop Over Items').item.json['OPERAÇÃO'] }}","DIEGO ADD AO GRUPO":"ADICIONADO"},"matchingColumns":["OPERAÇÃO"],"schema":[{"id":"OPERAÇÃO","displayName":"OPERAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"INSTANCIA","displayName":"INSTANCIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS EVO","displayName":"STATUS EVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIEGO ADD AO GRUPO","displayName":"DIEGO ADD AO GRUPO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID GRUPOS","displayName":"ID GRUPOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QUANT. LEADS","displayName":"QUANT. LEADS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MENSALIDADE","displayName":"MENSALIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VENCIMENTO","displayName":"VENCIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PAGO","displayName":"PAGO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1152,-272],"id":"ca2312c0-bfcf-4573-ae1c-ffec3efe41cc","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,-272],"id":"6d819b34-8885-4e2f-a2ba-8a2f1056f24f","name":"Wait","webhookId":"75c8e60a-d899-465b-8201-68c2178a788a"},{"parameters":{"method":"PUT","url":"=https://whatsapi.typebot.pro/group/updateParticipant/{{$json.INSTANCIA}}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$json.APIKEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"action\": \"add\",\n  \"participants\": [\n    \"{{$json.NUMERO_PARTICIPANTE}}\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,336],"id":"34991491-8bd9-4d2c-ae8b-219efd8be276","name":"HTTP Request","onError":"continueErrorOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}],[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e2ce0c2-03ee-4e20-ad52-378025052826","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-05T13:21:06.841Z","createdAt":"2025-12-05T13:21:06.841Z","role":"workflow:owner","workflowId":"MDiAMGCVvnwN31vu","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":null,"tags":[]}