add-grupo-pro-team-Ff2lVEsvg4eVS1Ev.json
{"createdAt":"2025-01-21T17:51:48.482Z","updatedAt":"2025-01-28T19:32:30.827Z","id":"Ff2lVEsvg4eVS1Ev","name":"ADD GRUPO PRO TEAM","active":false,"nodes":[{"parameters":{"options":{}},"id":"4c5abcd8-5068-4f98-8031-2e1d7533adab","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,380]},{"parameters":{"content":"## DISPARADOR","height":440.89340037097963,"width":1518.1852698695072,"color":5},"id":"f549bc80-b5ac-4661-839c-d00496de236a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1000,300]},{"parameters":{"content":"## ATIVAR FLUXO MANUAL ","height":290.33576295324644,"width":422.85913011350954,"color":4},"id":"79baaf88-12af-4ffc-a460-0a78b649c5b3","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,300]},{"parameters":{},"id":"7ef80b22-da5e-4be9-bbe0-baf4676cd647","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[760,380]},{"parameters":{"amount":"={{Math.floor(Math.random() * (10 - 3 + 1)) + 3}}\n"},"id":"5558a2e3-192a-4357-8649-2a6d183024dd","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2380,520],"webhookId":"9e42c85c-a505-4662-b105-051c7a30a70b"},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://whatsapi.typebot.pro/","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"JAMILPESSOAL","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"=55{{ $json['TELEFONE ATUALIZADO'] }}","type":"string"},{"id":"fcfbd574-a54c-424b-83fd-22a5ce51ea4b","name":"grupo","value":"120363374803123069@g.us","type":"string"}]},"options":{}},"id":"f657cee9-4a02-49a0-91a0-a5a0cabcb892","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,400]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":112202027,"mode":"list","cachedResultName":"PRÓ TEM - APROVADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=112202027"},"columns":{"mappingMode":"defineBelow","value":{"TELEFONE ATUALIZADO":"={{ $('Google Sheets').item.json['TELEFONE ATUALIZADO'] }}","ADICIONADO":"SIM"},"matchingColumns":["TELEFONE ATUALIZADO"],"schema":[{"id":"affiliate_id","displayName":"affiliate_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"affiliate_name","displayName":"affiliate_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bo_user_email","displayName":"bo_user_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE ATUALIZADO","displayName":"TELEFONE ATUALIZADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ADICIONADO","displayName":"ADICIONADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"bab321a3-4691-4a3e-9fd8-c032779f38cb","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2100,360],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":112202027,"mode":"list","cachedResultName":"PRÓ TEM - APROVADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=112202027"},"filtersUI":{"values":[{"lookupColumn":"ADICIONADO"}]},"options":{}},"id":"7e17f717-c5b4-4328-878c-2aed4f048cfa","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1040,380],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}group/updateParticipant/{{ $json.instance }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"add\",\n  \"participants\": [\n    \"{{ $json.contato }}\"\n  ]\n}","options":{}},"id":"8ee40e62-d21f-4b92-a498-8cc1b8ad50db","name":"DESEJA RECEBER","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,400],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":112202027,"mode":"list","cachedResultName":"PRÓ TEM - APROVADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=112202027"},"columns":{"mappingMode":"defineBelow","value":{"TELEFONE ATUALIZADO":"={{ $('Google Sheets').item.json['TELEFONE ATUALIZADO'] }}","ADICIONADO":"NÃO"},"matchingColumns":["TELEFONE ATUALIZADO"],"schema":[{"id":"affiliate_id","displayName":"affiliate_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"affiliate_name","displayName":"affiliate_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bo_user_email","displayName":"bo_user_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE ATUALIZADO","displayName":"TELEFONE ATUALIZADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ADICIONADO","displayName":"ADICIONADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"46097bef-3dde-4e43-a6cf-1431159b9825","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2100,520],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"url":"={{ $json.baseUrl }}group/fetchAllGroups/{{ $json.instance }}?getParticipants=false","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"options":{}},"id":"37b1a213-1bb9-4346-a003-9e6c0e1d413d","name":"BAIXAR GRUPOS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-300],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://whatsapi.typebot.pro/","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"JAMILPESSOAL","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"=55{{ $json['TELEFONE ATUALIZADO'] }}","type":"string"},{"id":"517db1f5-671a-4666-8a38-9a6128fcc63b","name":"GRUPO","value":"120363374803123069@g.us","type":"string"}]},"options":{}},"id":"64540af7-8b51-498f-ac09-5b5b50f411ec","name":"DADOS CONEXÃO","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,-60]},{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}group/sendInvite/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"groupJid\": \"{{ $json.GRUPO }}\",\n  \"description\": \"GRUPO APENAS DOS APROVADOS NO PROCESSO DA DONALD, NÃO REPASSE\",\n  \"numbers\": [\n    \"{{ $json.contato }}\"\n  ]\n}","options":{}},"id":"4f83be04-dfc0-47c0-b07f-87faef4afdf4","name":"ENVIAR LINK DO GRUPO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,-60],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":112202027,"mode":"list","cachedResultName":"PRÓ TEM - APROVADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=112202027"},"filtersUI":{"values":[{"lookupColumn":"ADICIONADO","lookupValue":"NÃO"}]},"options":{}},"id":"1728b0c6-c059-482c-ac31-6f5142418c6c","name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1020,-60],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"options":{}},"id":"37dd7e22-df8e-4d5d-b52a-e3dc7255b333","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1220,-60]},{"parameters":{"amount":"={{Math.floor(Math.random() * (10 - 3 + 1)) + 3}}\n"},"id":"4a0d96e1-fd3c-41b3-9221-b06c63c11628","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2200,-20],"webhookId":"9e42c85c-a505-4662-b105-051c7a30a70b"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":112202027,"mode":"list","cachedResultName":"PRÓ TEM - APROVADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=112202027"},"columns":{"mappingMode":"defineBelow","value":{"TELEFONE ATUALIZADO":"={{ $('Google Sheets3').item.json['TELEFONE ATUALIZADO'] }}","ADICIONADO":"LINK ENVIADO"},"matchingColumns":["TELEFONE ATUALIZADO"],"schema":[{"id":"affiliate_id","displayName":"affiliate_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"affiliate_name","displayName":"affiliate_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bo_user_email","displayName":"bo_user_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE ATUALIZADO","displayName":"TELEFONE ATUALIZADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ADICIONADO","displayName":"ADICIONADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"b5f858d7-4744-4de3-9a8b-3fa5126e1019","name":"Google Sheets4","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1940,-80],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"DESEJA RECEBER","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"DESEJA RECEBER":{"main":[[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"Google Sheets2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"DADOS CONEXÃO":{"main":[[{"node":"ENVIAR LINK DO GRUPO","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"DADOS CONEXÃO","type":"main","index":0}]]},"ENVIAR LINK DO GRUPO":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9e3e956d-00d1-462a-bc5d-917185977a2d","triggerCount":1,"tags":[{"createdAt":"2025-01-28T19:32:15.714Z","updatedAt":"2025-01-28T19:32:15.714Z","id":"3P6JcgcIXGvnsKIt","name":"whatsapp"}]}