aquecedor-grupos-QjkDl7x5EMZtVzt3.json
{"createdAt":"2024-11-01T22:44:46.203Z","updatedAt":"2024-12-30T12:58:21.976Z","id":"QjkDl7x5EMZtVzt3","name":"AQUECEDOR GRUPOS","active":false,"nodes":[{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Lista de mensagens\nconst mensagens = [\n    \"'Digo isso há não menos de 50 anos. Não é superstição. O que acredito é que possamos nos motivar para a vida. Quando diz ‘estou cada vez melhor’, você erotiza, ilumina com amor, um olhar, um pensamento, e suas circunstâncias. Você vence a sombra. Assim, convocando a beleza, vence a tendência à banalização da vida, que por vezes predomina à nossa volta.'\",\n    \"'Tente uma, duas, três vezes e se possível tente a quarta, a quinta e quantas vezes for necessário. Só não desista nas primeiras tentativas, a persistência é amiga da conquista. Se você quer chegar aonde a maioria não chega, faça o que a maioria não faz.'\",\n    \"'Às vezes a gente tem de ser meio louco mesmo, extremamente obstinado, porque a loucura funciona – desde que exista disciplina, um objetivo muito claro, pé no chão e a humildade de saber que a gente vai errar muito, vai aprender com os erros e continuar.'\",\n    \"'O fundamental é manter sempre a mesma obsessão em alcançar o sucesso. Ter sucesso não é apenas ter dinheiro, mas sim saber que uma ideia que parece impossível pode vir a ser uma empresa que irá quebrar paradigmas.'\",\n    \"'Nunca tive sala, ficava no meio de todos os funcionários. Não gosto de nada fechado. Eu gosto muito de gente e acho que todo gestor tem que gostar de gente.' – Sônia Hess, Dudalina\",\n    \"'Não adianta só dar um salário para pessoa, porque não é só isso que segura alguém num emprego. É a qualidade de vida, é você conversar e entender as dores dos outros e saber que, às vezes, nem tudo vai estar bem. Não é só produzir, produzir e produzir.' – Nath Finanças, YouTuber\",\n    \"'Nada é mais rentável do que investir em um negócio. Porém, para ele crescer e trazer retorno, é preciso orientação no meio do caminho.' – João Kepler, Bossanova Investimentos\",\n    \"'Se você quer construir um negócio, construa primeiro as pessoas.' – Brownie Wise, Tupperware\",\n    \"'Ao procurar pessoas para contratar, você busca três qualidades: integridade, inteligência e energia. Se elas não tiverem a primeira, as outras duas matarão você.' – Warren Buffet, Investidor\",\n    \"'A vida não é sobre ter, é sobre dar e ser.' – Kevin Kruse\",\n    \"'Precisamos de uma nova mentalidade para tornar o capitalismo uma força aceitável no mundo. Se as empresas se importarem apenas em lucrar e acumular bônus, ferrando pessoas e o mundo no processo, então não se sustentarão por muito tempo, e nem vão merecer. Mas se elas começarem a ser uma força para o bem, eu realmente acho que poderíamos superar a maioria dos problemas do mundo. Seria uma maneira tão satisfatória de fazer as coisas que as pessoas se divertiriam muito.' – Richard Branson, Virgin Records\"\n];\n\n// Selecionando uma mensagem aleatória da lista acima\nconst texto = mensagens[Math.floor(Math.random() * mensagens.length)];\n\n// Obtendo a data e hora atual\nconst current_time = new Date();\n// Formatando para exibir apenas data e hora (sem segundos)\nconst formatted_time = current_time.toISOString().replace('T', ' ').slice(0, 16);\n\n// Montando a mensagem\nconst text_message = `${texto}`;\n\n// Retornar a mensagem formatada\nreturn {\n    text_message: text_message\n};\n"},"id":"da56a8b1-fd87-4b98-a5b1-e390629614cd","name":"mensagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,1280],"alwaysOutputData":true},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"35c67d13-c788-4d84-9f74-1f2bc5c70db6","name":"start-message-wa","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1240,1060]},{"parameters":{"method":"POST","url":"={{ $('DATA-OK1').item.json[\"dataApiUrl\"] }}/message/sendText/{{ $('DATA-OK1').item.json[\"dataApiInstance\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DATA-OK1').item.json[\"dataApiKey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('GRUPOS-FILTRADOS1').item.json[\"id\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.outputText }} 😉\"\n    }\n}","options":{}},"id":"c76e08e8-0912-4dc5-8fb9-761fbe5c6c7e","name":"AQUECEDOR ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3180,840]},{"parameters":{"url":"={{ $json[\"dataApiUrl\"] }}/group/fetchAllGroups/{{ $json.dataApiInstance}}?getParticipants=false","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.dataApiKey}}"}]},"options":{}},"id":"962cc2c0-fb33-410e-a3af-94c7559f0e5d","name":"PUXAR GRUPOS1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,1060]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7e03c319-e1af-431a-95dc-3f2716fdb1ec","leftValue":"={{ $json.subject }}","rightValue":"AQUECER CHIP","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"b9aa3d08-a627-43dc-aefb-059789f39e9b","name":"GRUPOS-FILTRADOS1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2020,1060]},{"parameters":{"assignments":{"assignments":[{"id":"242f7cc9-8ce3-447e-b7aa-51f1271db5cb","name":"dataApiUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"26e51dbf-d20c-4f7e-aaff-3c159f003352","name":"dataApiInstance","value":"ASGARDBOT","type":"string"},{"id":"5b5eeb57-c7ea-44f9-b155-346673610743","name":"dataApiKey","value":"9q88a5s7f2bicf46q6qb8","type":"string"},{"id":"4306cadc-d0a0-4834-9fe9-418eb70de8b6","name":"dataApiInstance1","value":"ASGARD4","type":"string"},{"id":"f8065a3d-dc67-4c52-baa7-c7ad04618ff6","name":"dataApiKey1","value":"l7izjkuj0zt846tcktja","type":"string"},{"id":"e5a2190a-7955-41aa-8129-ccf6a0497e86","name":"dataApiInstance2","value":"ASGARDMOTOG8","type":"string"},{"id":"dc511c31-dab0-48d9-af06-2330bea6e3c4","name":"dataApiKey2","value":"m4lacgqcdhggw3zppvaykb","type":"string"}]},"options":{}},"id":"2bf9f4f5-96dc-47ac-a560-1dc168aed0d9","name":"DATA-OK1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1520,1060]},{"parameters":{"options":{}},"id":"038809d5-b0e8-4f3c-9cf2-df932af5dc2a","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2340,840]},{"parameters":{"amount":10},"id":"573d2d78-2fd4-4d79-a60f-78aa59cafb86","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3400,840],"webhookId":"5992d611-2258-434f-b827-4578f5203a50"},{"parameters":{"method":"POST","url":"={{ $('DATA-OK1').item.json[\"dataApiUrl\"] }}/message/sendText/{{ $('DATA-OK1').item.json.dataApiInstance1 }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DATA-OK1').item.json.dataApiKey1 }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('GRUPOS-FILTRADOS1').item.json[\"id\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.outputText }} 😉\"\n    }\n}","options":{}},"id":"792159cc-0d09-4186-b7b2-a45b993b064e","name":"AQUECEDOR 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,460]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Lista de mensagens\nconst mensagens = [\n    \"'O único lugar onde o sucesso vem antes do trabalho é no dicionário.' – Albert Einstein\",\n    \"'Não espere por oportunidades extraordinárias. Agarre as ocasiões comuns e faça com que elas sejam grandes.' – Orison Swett Marden\",\n    \"'Acredite que você pode, assim você já está no meio do caminho.' – Theodore Roosevelt\",\n    \"'Coragem não é a ausência do medo, mas a decisão de que algo é mais importante do que o medo.' – Franklin D. Roosevelt\",\n    \"'Grandes coisas nunca vêm de zonas de conforto.'\",\n    \"'A única maneira de fazer um excelente trabalho é amar o que você faz.' – Steve Jobs\",\n    \"'Sucesso é ir de fracasso em fracasso sem perder o entusiasmo.' – Winston Churchill\",\n    \"'Você nunca será velho demais para traçar outro objetivo ou sonhar um novo sonho.' – C.S. Lewis\",\n    \"'Se você quer algo que nunca teve, deve estar disposto a fazer algo que nunca fez.' – Thomas Jefferson\",\n    \"'Acredite em si mesmo e em todo o seu potencial. Saiba que há algo dentro de você que é maior do que qualquer obstáculo.'\",\n    \"'A única pessoa que você está destinado a se tornar é a pessoa que você decide ser.' – Ralph Waldo Emerson\",\n    \"'Sonhar grande e sonhar pequeno dá o mesmo trabalho. Então, sonhe grande.'\"\n];\n\n// Selecionando uma mensagem aleatória da lista acima\nconst texto = mensagens[Math.floor(Math.random() * mensagens.length)];\n\n// Obtendo a data e hora atual\nconst current_time = new Date();\n// Formatando para exibir apenas data e hora (sem segundos)\nconst formatted_time = current_time.toISOString().replace('T', ' ').slice(0, 16);\n\n// Montando a mensagem\nconst text_message = `${texto}`;\n\n// Retornar a mensagem formatada\nreturn {\n    text_message: text_message\n};\n"},"id":"33db5cec-a3e8-4555-ae93-4f1ed33de334","name":"mensagem1","type":"n8n-nodes-base.code","typeVersion":2,"position":[740,640],"alwaysOutputData":true},{"parameters":{"amount":10},"id":"759309cb-3359-4fd9-84b8-ee41c8c7af70","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,620],"webhookId":"5992d611-2258-434f-b827-4578f5203a50"},{"parameters":{"options":{}},"id":"f68ba35f-7138-4f7b-aa59-3a54fd28649f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[460,640]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Lista de mensagens\nconst mensagens = [\n    \"'Digo isso há não menos de 50 anos. Não é superstição. O que acredito é que possamos nos motivar para a vida. Quando diz ‘estou cada vez melhor’, você erotiza, ilumina com amor, um olhar, um pensamento, e suas circunstâncias. Você vence a sombra. Assim, convocando a beleza, vence a tendência à banalização da vida, que por vezes predomina à nossa volta.'\",\n    \"'Tente uma, duas, três vezes e se possível tente a quarta, a quinta e quantas vezes for necessário. Só não desista nas primeiras tentativas, a persistência é amiga da conquista. Se você quer chegar aonde a maioria não chega, faça o que a maioria não faz.'\",\n    \"'Às vezes a gente tem de ser meio louco mesmo, extremamente obstinado, porque a loucura funciona – desde que exista disciplina, um objetivo muito claro, pé no chão e a humildade de saber que a gente vai errar muito, vai aprender com os erros e continuar.'\",\n    \"'O fundamental é manter sempre a mesma obsessão em alcançar o sucesso. Ter sucesso não é apenas ter dinheiro, mas sim saber que uma ideia que parece impossível pode vir a ser uma empresa que irá quebrar paradigmas.'\",\n    \"'Nunca tive sala, ficava no meio de todos os funcionários. Não gosto de nada fechado. Eu gosto muito de gente e acho que todo gestor tem que gostar de gente.' – Sônia Hess, Dudalina\",\n    \"'Não adianta só dar um salário para pessoa, porque não é só isso que segura alguém num emprego. É a qualidade de vida, é você conversar e entender as dores dos outros e saber que, às vezes, nem tudo vai estar bem. Não é só produzir, produzir e produzir.' – Nath Finanças, YouTuber\",\n    \"'Nada é mais rentável do que investir em um negócio. Porém, para ele crescer e trazer retorno, é preciso orientação no meio do caminho.' – João Kepler, Bossanova Investimentos\",\n    \"'Se você quer construir um negócio, construa primeiro as pessoas.' – Brownie Wise, Tupperware\",\n    \"'Ao procurar pessoas para contratar, você busca três qualidades: integridade, inteligência e energia. Se elas não tiverem a primeira, as outras duas matarão você.' – Warren Buffet, Investidor\",\n    \"'A vida não é sobre ter, é sobre dar e ser.' – Kevin Kruse\",\n    \"'Precisamos de uma nova mentalidade para tornar o capitalismo uma força aceitável no mundo. Se as empresas se importarem apenas em lucrar e acumular bônus, ferrando pessoas e o mundo no processo, então não se sustentarão por muito tempo, e nem vão merecer. Mas se elas começarem a ser uma força para o bem, eu realmente acho que poderíamos superar a maioria dos problemas do mundo. Seria uma maneira tão satisfatória de fazer as coisas que as pessoas se divertiriam muito.' – Richard Branson, Virgin Records\"\n];\n\n// Selecionando uma mensagem aleatória da lista acima\nconst texto = mensagens[Math.floor(Math.random() * mensagens.length)];\n\n// Obtendo a data e hora atual\nconst current_time = new Date();\n// Formatando para exibir apenas data e hora (sem segundos)\nconst formatted_time = current_time.toISOString().replace('T', ' ').slice(0, 16);\n\n// Montando a mensagem\nconst text_message = `${texto}`;\n\n// Retornar a mensagem formatada\nreturn {\n    text_message: text_message\n};\n"},"id":"e0310532-a8cc-4297-93cb-78456ee9cd12","name":"mensagem2","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,1100],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"={{ $('DATA-OK1').item.json[\"dataApiUrl\"] }}/message/sendText/{{ $('DATA-OK1').item.json.dataApiInstance2 }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DATA-OK1').item.json.dataApiKey2 }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('GRUPOS-FILTRADOS1').item.json[\"id\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.outputText }} 😉\"\n    }\n}","options":{}},"id":"85c06e99-d21c-44cc-af39-7463e60944c0","name":"AQUECEDOR 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3140,1240]},{"parameters":{"options":{}},"id":"f3f7c466-6641-446c-89a2-6b6c030ae319","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2340,1240]},{"parameters":{"amount":10},"id":"178b51e3-73f0-4aa8-899e-76583b511c9c","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3420,1240],"webhookId":"5992d611-2258-434f-b827-4578f5203a50"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"id":"e503796c-ad36-49af-a7fa-423b360259f6","name":"Modelo Google Gemini","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2600,1720],"credentials":{"googlePalmApi":{"id":"W9iqAHpJXispMNuH","name":"GEMINI JAMIL"}}},{"parameters":{"chunkSize":500},"id":"f249c4c2-c2a7-443d-900b-0bf54087b23f","name":"Token Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[2740,1720]},{"parameters":{"jsCode":"// Pega o texto da variável de entrada\nlet inputText = $('Resumir Mensagens').item.json.response.text;\n\n// Substitui todos os casos de **texto** para *texto*\nlet outputText = inputText.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\n// Substitui todas as ocorrências de \\n simples por \\n\\n, ignorando onde já tenha \\n\\n\noutputText = outputText.replace(/(?<!\\n)\\n(?!\\n)/g, '');\n\n// Escapa as quebras de linha para serem interpretadas corretamente no formato JSON\noutputText = outputText.replace(/\\n/g, \"\\\\n\");\n\n// Retorna o resultado com a formatação correta\nreturn {\n  json: {\n    outputText: outputText \n  }\n};\n"},"id":"8c8b2407-47dc-44c3-9632-ad86a2e04c14","name":"FormatarTexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[2920,1660]},{"parameters":{"chunkingMode":"advanced","options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"Escreva uma mensagem aleatória que pode ser motivacional, engraçada ou uma piada, seguindo os critérios abaixo:\n\nA mensagem deve ser curta e direta, ideal para ser lida rapidamente.\nCaso seja uma piada, escolha um humor leve e divertido.\nSe for uma mensagem motivacional, mantenha um tom descontraído e otimista.\nSe preferir ser engraçado, use um toque de sarcasmo, mas nada ofensivo.\nCada vez que o bot for chamado, gere uma mensagem diferente.\nAqui estão alguns exemplos de tom:\n\nMotivacional: Se a vida te der limões, faça uma limonada... ou uma torta de limão, porque é bem mais gostoso!\nEngraçado: Você nunca sabe o que tem até abrir a geladeira pela terceira vez em 10 minutos.\nPiada: Por que o livro de matemática ficou triste? Porque tinha muitos problemas.\nAgora, crie uma mensagem nova e única cada vez!","prompt":"Escreva uma mensagem aleatória que pode ser motivacional, engraçada ou uma piada, seguindo os critérios abaixo:\n\nA mensagem deve ser curta e direta, ideal para ser lida rapidamente.\nCaso seja uma piada, escolha um humor leve e divertido.\nSe for uma mensagem motivacional, mantenha um tom descontraído e otimista.\nSe preferir ser engraçado, use um toque de sarcasmo, mas nada ofensivo.\nCada vez que o bot for chamado, gere uma mensagem diferente.\nAqui estão alguns exemplos de tom:\n\nMotivacional: Se a vida te der limões, faça uma limonada... ou uma torta de limão, porque é bem mais gostoso!\nEngraçado: Você nunca sabe o que tem até abrir a geladeira pela terceira vez em 10 minutos.\nPiada: Por que o livro de matemática ficou triste? Porque tinha muitos problemas.\nAgora, crie uma mensagem nova e única cada vez!"}}}},"id":"cf00e4c1-0345-4d6d-ada3-ca3cd70f7269","name":"Resumir Mensagens","type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[2580,1540]},{"parameters":{"method":"POST","url":"=https://evolutionapi.typebot.pro/message/sendText/ASGARD4","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=l7izjkuj0zt846tcktja"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"120363303801206123@g.us\"\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"teste 😉\"\n    }\n}","options":{}},"id":"9d16b944-4620-4b60-986e-395b0ba58677","name":"AQUECEDOR 3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,540]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Lista de mensagens\nconst mensagens = [\n    \"'Digo isso há não menos de 50 anos. Não é superstição. O que acredito é que possamos nos motivar para a vida. Quando diz ‘estou cada vez melhor’, você erotiza, ilumina com amor, um olhar, um pensamento, e suas circunstâncias. Você vence a sombra. Assim, convocando a beleza, vence a tendência à banalização da vida, que por vezes predomina à nossa volta.'\",\n    \"'Tente uma, duas, três vezes e se possível tente a quarta, a quinta e quantas vezes for necessário. Só não desista nas primeiras tentativas, a persistência é amiga da conquista. Se você quer chegar aonde a maioria não chega, faça o que a maioria não faz.'\",\n    \"'Às vezes a gente tem de ser meio louco mesmo, extremamente obstinado, porque a loucura funciona – desde que exista disciplina, um objetivo muito claro, pé no chão e a humildade de saber que a gente vai errar muito, vai aprender com os erros e continuar.'\",\n    \"'O fundamental é manter sempre a mesma obsessão em alcançar o sucesso. Ter sucesso não é apenas ter dinheiro, mas sim saber que uma ideia que parece impossível pode vir a ser uma empresa que irá quebrar paradigmas.'\",\n    \"'Nunca tive sala, ficava no meio de todos os funcionários. Não gosto de nada fechado. Eu gosto muito de gente e acho que todo gestor tem que gostar de gente.' – Sônia Hess, Dudalina\",\n    \"'Não adianta só dar um salário para pessoa, porque não é só isso que segura alguém num emprego. É a qualidade de vida, é você conversar e entender as dores dos outros e saber que, às vezes, nem tudo vai estar bem. Não é só produzir, produzir e produzir.' – Nath Finanças, YouTuber\",\n    \"'Nada é mais rentável do que investir em um negócio. Porém, para ele crescer e trazer retorno, é preciso orientação no meio do caminho.' – João Kepler, Bossanova Investimentos\",\n    \"'Se você quer construir um negócio, construa primeiro as pessoas.' – Brownie Wise, Tupperware\",\n    \"'Ao procurar pessoas para contratar, você busca três qualidades: integridade, inteligência e energia. Se elas não tiverem a primeira, as outras duas matarão você.' – Warren Buffet, Investidor\",\n    \"'A vida não é sobre ter, é sobre dar e ser.' – Kevin Kruse\",\n    \"'Precisamos de uma nova mentalidade para tornar o capitalismo uma força aceitável no mundo. Se as empresas se importarem apenas em lucrar e acumular bônus, ferrando pessoas e o mundo no processo, então não se sustentarão por muito tempo, e nem vão merecer. Mas se elas começarem a ser uma força para o bem, eu realmente acho que poderíamos superar a maioria dos problemas do mundo. Seria uma maneira tão satisfatória de fazer as coisas que as pessoas se divertiriam muito.' – Richard Branson, Virgin Records\"\n];\n\n// Selecionando uma mensagem aleatória da lista acima\nconst texto = mensagens[Math.floor(Math.random() * mensagens.length)];\n\n// Obtendo a data e hora atual\nconst current_time = new Date();\n// Formatando para exibir apenas data e hora (sem segundos)\nconst formatted_time = current_time.toISOString().replace('T', ' ').slice(0, 16);\n\n// Montando a mensagem\nconst text_message = `${texto}`;\n\n// Retornar a mensagem formatada\nreturn {\n    text_message: text_message\n};\n"},"id":"4d9c79ca-0f01-4885-9800-2585a754529f","name":"mensagem3","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,920],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"={{ $('DATA-OK1').item.json[\"dataApiUrl\"] }}/message/sendText/{{ $('DATA-OK1').item.json[\"dataApiInstance1\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DATA-OK1').item.json[\"dataApiKey1\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('GRUPOS-FILTRADOS1').item.json[\"id\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.outputText }} 😉\"\n    }\n}","options":{}},"id":"fc0cb1da-e08e-4695-889a-3354b14af745","name":"AQUECEDOR 4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3180,1660]},{"parameters":{"options":{}},"id":"66026c80-360d-49d8-8a36-3e83be4fe488","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2360,1620]},{"parameters":{"amount":10},"id":"ac7f374b-7043-46ca-bf77-ebf022744758","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3420,1660],"webhookId":"5992d611-2258-434f-b827-4578f5203a50"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"id":"e31f6dbe-e805-4c1e-a5eb-e4a064d0956a","name":"Modelo Google Gemini1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2620,1260],"credentials":{"googlePalmApi":{"id":"W9iqAHpJXispMNuH","name":"GEMINI JAMIL"}}},{"parameters":{"chunkSize":500},"id":"259c3ddc-63ba-4579-8891-d6e2c123aa52","name":"Token Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[2780,1260]},{"parameters":{"jsCode":"// Pega o texto da variável de entrada\nlet inputText = $('Resumir Mensagens1').item.json.response.text;\n\n// Substitui todos os casos de **texto** para *texto*\nlet outputText = inputText.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\n// Substitui todas as ocorrências de \\n simples por \\n\\n, ignorando onde já tenha \\n\\n\noutputText = outputText.replace(/(?<!\\n)\\n(?!\\n)/g, '');\n\n// Escapa as quebras de linha para serem interpretadas corretamente no formato JSON\noutputText = outputText.replace(/\\n/g, \"\\\\n\");\n\n// Retorna o resultado com a formatação correta\nreturn {\n  json: {\n    outputText: outputText \n  }\n};\n"},"id":"75c5b533-4d90-4886-a01f-42052f3c8b85","name":"FormatarTexto1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2940,1240]},{"parameters":{"chunkingMode":"advanced","options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"Escreva uma mensagem aleatória que pode ser motivacional, engraçada ou uma piada, seguindo os critérios abaixo:\n\nA mensagem deve ser curta e direta, ideal para ser lida rapidamente.\nCaso seja uma piada, escolha um humor leve e divertido.\nSe for uma mensagem motivacional, mantenha um tom descontraído e otimista.\nSe preferir ser engraçado, use um toque de sarcasmo, mas nada ofensivo.\nCada vez que o bot for chamado, gere uma mensagem diferente.\nAqui estão alguns exemplos de tom:\n\nMotivacional: Se a vida te der limões, faça uma limonada... ou uma torta de limão, porque é bem mais gostoso!\nEngraçado: Você nunca sabe o que tem até abrir a geladeira pela terceira vez em 10 minutos.\nPiada: Por que o livro de matemática ficou triste? Porque tinha muitos problemas.\nAgora, crie uma mensagem nova e única cada vez!","prompt":"Escreva uma mensagem aleatória que pode ser motivacional, engraçada ou uma piada, seguindo os critérios abaixo:\n\nA mensagem deve ser curta e direta, ideal para ser lida rapidamente.\nCaso seja uma piada, escolha um humor leve e divertido.\nSe for uma mensagem motivacional, mantenha um tom descontraído e otimista.\nSe preferir ser engraçado, use um toque de sarcasmo, mas nada ofensivo.\nCada vez que o bot for chamado, gere uma mensagem diferente.\nAqui estão alguns exemplos de tom:\n\nMotivacional: Se a vida te der limões, faça uma limonada... ou uma torta de limão, porque é bem mais gostoso!\nEngraçado: Você nunca sabe o que tem até abrir a geladeira pela terceira vez em 10 minutos.\nPiada: Por que o livro de matemática ficou triste? Porque tinha muitos problemas.\nAgora, crie uma mensagem nova e única cada vez!"}}}},"id":"d9afd96d-4cca-4596-9731-2427d96e0b49","name":"Resumir Mensagens1","type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[2560,1100]},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"id":"9fe0f917-9c7e-470a-87fe-32d777894489","name":"Modelo Google Gemini2","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2620,880],"credentials":{"googlePalmApi":{"id":"W9iqAHpJXispMNuH","name":"GEMINI JAMIL"}}},{"parameters":{"chunkSize":500},"id":"6f5101c9-70eb-45d7-8163-6ed8e9866abd","name":"Token Splitter2","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[2780,880]},{"parameters":{"jsCode":"// Pega o texto da variável de entrada\nlet inputText = $('Resumir Mensagens2').item.json.response.text;\n\n// Substitui todos os casos de **texto** para *texto*\nlet outputText = inputText.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\n// Substitui todas as ocorrências de \\n simples por \\n\\n, ignorando onde já tenha \\n\\n\noutputText = outputText.replace(/(?<!\\n)\\n(?!\\n)/g, '');\n\n// Escapa as quebras de linha para serem interpretadas corretamente no formato JSON\noutputText = outputText.replace(/\\n/g, \"\\\\n\");\n\n// Retorna o resultado com a formatação correta\nreturn {\n  json: {\n    outputText: outputText \n  }\n};\n"},"id":"00b1d31d-74c8-4912-a4e2-6a49030344da","name":"FormatarTexto2","type":"n8n-nodes-base.code","typeVersion":2,"position":[2960,840]},{"parameters":{"chunkingMode":"advanced","options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"Escreva uma mensagem aleatória que pode ser motivacional, engraçada ou uma piada, seguindo os critérios abaixo:\n\nA mensagem deve ser curta e direta, ideal para ser lida rapidamente.\nCaso seja uma piada, escolha um humor leve e divertido.\nSe for uma mensagem motivacional, mantenha um tom descontraído e otimista.\nSe preferir ser engraçado, use um toque de sarcasmo, mas nada ofensivo.\nCada vez que o bot for chamado, gere uma mensagem diferente.\nAqui estão alguns exemplos de tom:\n\nMotivacional: Se a vida te der limões, faça uma limonada... ou uma torta de limão, porque é bem mais gostoso!\nEngraçado: Você nunca sabe o que tem até abrir a geladeira pela terceira vez em 10 minutos.\nPiada: Por que o livro de matemática ficou triste? Porque tinha muitos problemas.\nAgora, crie uma mensagem nova e única cada vez!","prompt":"Escreva uma mensagem aleatória que pode ser motivacional, engraçada ou uma piada, seguindo os critérios abaixo:\n\nA mensagem deve ser curta e direta, ideal para ser lida rapidamente.\nCaso seja uma piada, escolha um humor leve e divertido.\nSe for uma mensagem motivacional, mantenha um tom descontraído e otimista.\nSe preferir ser engraçado, use um toque de sarcasmo, mas nada ofensivo.\nCada vez que o bot for chamado, gere uma mensagem diferente.\nAqui estão alguns exemplos de tom:\n\nMotivacional: Se a vida te der limões, faça uma limonada... ou uma torta de limão, porque é bem mais gostoso!\nEngraçado: Você nunca sabe o que tem até abrir a geladeira pela terceira vez em 10 minutos.\nPiada: Por que o livro de matemática ficou triste? Porque tinha muitos problemas.\nAgora, crie uma mensagem nova e única cada vez!"}}}},"id":"20dd5ebe-b986-424f-bd94-ce0bd7abd8c4","name":"Resumir Mensagens2","type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[2580,720]}],"connections":{"start-message-wa":{"main":[[{"node":"DATA-OK1","type":"main","index":0}]]},"AQUECEDOR ":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"PUXAR GRUPOS1":{"main":[[{"node":"GRUPOS-FILTRADOS1","type":"main","index":0}]]},"GRUPOS-FILTRADOS1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0},{"node":"Loop Over Items1","type":"main","index":0},{"node":"Loop Over Items2","type":"main","index":0}]]},"DATA-OK1":{"main":[[{"node":"PUXAR GRUPOS1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Resumir Mensagens2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"mensagem1":{"main":[[{"node":"AQUECEDOR 3","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"mensagem1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AQUECEDOR 2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Resumir Mensagens1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Modelo Google Gemini":{"ai_languageModel":[[{"node":"Resumir Mensagens","type":"ai_languageModel","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Resumir Mensagens","type":"ai_textSplitter","index":0}]]},"Resumir Mensagens":{"main":[[{"node":"FormatarTexto","type":"main","index":0}]]},"FormatarTexto":{"main":[[{"node":"AQUECEDOR 4","type":"main","index":0}]]},"AQUECEDOR 3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"AQUECEDOR 4":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Resumir Mensagens","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Modelo Google Gemini1":{"ai_languageModel":[[{"node":"Resumir Mensagens1","type":"ai_languageModel","index":0}]]},"Token Splitter1":{"ai_textSplitter":[[{"node":"Resumir Mensagens1","type":"ai_textSplitter","index":0}]]},"Resumir Mensagens1":{"main":[[{"node":"FormatarTexto1","type":"main","index":0}]]},"FormatarTexto1":{"main":[[{"node":"AQUECEDOR 2","type":"main","index":0}]]},"Modelo Google Gemini2":{"ai_languageModel":[[{"node":"Resumir Mensagens2","type":"ai_languageModel","index":0}]]},"Token Splitter2":{"ai_textSplitter":[[{"node":"Resumir Mensagens2","type":"ai_textSplitter","index":0}]]},"FormatarTexto2":{"main":[[{"node":"AQUECEDOR ","type":"main","index":0}]]},"Resumir Mensagens2":{"main":[[{"node":"FormatarTexto2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:start-message-wa":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f9f2b1ce-499a-47d4-9ac9-d73a0a128be5","triggerCount":1,"tags":[]}