atualizar-db-sheet-santobet-lxLTWXPnR06vR2st.json
{"updatedAt":"2025-09-24T20:11:51.972Z","createdAt":"2025-09-24T19:35:06.843Z","id":"lxLTWXPnR06vR2st","name":"ATUALIZAR DB SHEET SANTOBET","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-608,-160],"id":"9ad402a5-bd51-4b66-8de6-e54c64d1da23","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1Q_RhQF6KUQRKWM0FZTFOa9TJJyhuE6VoxiFitx6ilro","mode":"list","cachedResultName":"DB SANTOX","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q_RhQF6KUQRKWM0FZTFOa9TJJyhuE6VoxiFitx6ilro/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q_RhQF6KUQRKWM0FZTFOa9TJJyhuE6VoxiFitx6ilro/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-400,-160],"id":"74c49d76-7ce2-462c-b4f0-00e8bb3fa33c","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"assignments":{"assignments":[{"id":"3bc0ff1c-a4c6-40f5-9022-367d6cbca0ee","name":"ID","value":"={{ $json.col_1 }}","type":"string"},{"id":"bbfa6a62-042f-4a15-810f-865debc105f1","name":"NOME","value":"={{ $json['`name`'] }}","type":"string"},{"id":"e010221a-246d-48ab-b223-dde79184bad6","name":"EMAIL","value":"={{ $json['`email`'] }}","type":"string"},{"id":"e278e396-8de2-482a-839e-34c504ecc5ea","name":"TELEFONE","value":"={{ $json['`phone`'] }}","type":"string"},{"id":"94c861b0-be1d-4189-acbb-0d1b7a20f150","name":"=DATA","value":"={{ \n  (() => {\n    const raw = $json['`created_at`'].toString().trim().slice(0,10); // pega só \"YYYY-MM-DD\"\n    const parts = raw.split(\"-\"); // separa [YYYY, MM, DD]\n    if(parts.length !== 3) return \"\"; // se não for válido, retorna vazio\n    return `${parts[2]}-${parts[1]}-${parts[0]}`; // forma DD-MM-AAAA\n  })()\n}}","type":"string"},{"id":"1bba3f78-49eb-492d-956d-a355e288ae0a","name":"AFILIADO","value":"={{ $json['`affiliate`'] == 1 ? \"SIIM\" : \"\" }}","type":"string"},{"id":"594e49da-d96c-4fe5-9c71-a9270d62b8af","name":"INDICADO POR","value":"={{ $json['`inviter`'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,-160],"id":"60c48cdb-913f-4752-a6b5-5f3c910a2791","name":"Edit Fields"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL.replace(/'/g, \"\") }}","ID":"={{ $json.ID }}","NOME":"={{ $json.NOME.replace(/'/g, \"\") }}","INDICADO POR":"={{ $json['INDICADO POR'].replace(/'/g, \"\") }}","AFILIADO":"={{ $json.AFILIADO }}","DATA":"={{ $json.DATA }}","TELEFONE":"={{ $json.TELEFONE.replace(/'/g, \"\") }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"INDICADO POR","displayName":"INDICADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS ENVIADAS","displayName":"BOAS VINDAS ENVIADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[272,-144],"id":"404a2441-14f7-4b84-a2c3-3b06d416b488","name":"Update row in sheet","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"batchSize":2000,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[16,-160],"id":"e63a13f6-230c-4a21-95a2-5cc3b3cf635f","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[560,336],"id":"91951d7f-1749-4320-ac51-e1bd5755ab76"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[496,-144],"id":"1b5af31d-3fa8-45a9-8afc-95660a43fe25","name":"Wait","webhookId":"77e02555-090c-4e47-8fc4-223571553f4a"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Update row in sheet","type":"main","index":0}]]},"Replace Me":{"main":[[]]},"Update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dc028f5e-16fd-4cee-b402-e477a79183b4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-24T19:35:06.843Z","createdAt":"2025-09-24T19:35:06.843Z","role":"workflow:owner","workflowId":"lxLTWXPnR06vR2st","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":null,"tags":[]}