auto-resposta---academy-envio-MCWOSfT9vuBQNcV6.json
{"createdAt":"2024-12-03T20:44:46.079Z","updatedAt":"2025-01-29T12:15:10.451Z","id":"MCWOSfT9vuBQNcV6","name":"AUTO RESPOSTA - ACADEMY ENVIO","active":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}/message/sendText/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.mensagem }}\"\n    }\n}","options":{}},"id":"04c05944-ef8c-4cd0-b58b-c66297189c76","name":"SEND LIST1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,480],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ATENDIMENTOASGARD","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"LaaxXSXdg1O0HgOSIr63aznmp6kwwkSi1Gt7GYDNSr7r54NdrqixvVpTTPmWNDPMcmU2veJPtwvdUELlK1ZzcceT89IiZ2cABTk9mvZNp8vWPWQuIMWP3AjFgPrcqfYi","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"bgd0m2h2aewjxsxsfpnvkc","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"={{ $json.body.data.key.remoteJid.replace(/@.*/, '') }}","type":"string"},{"id":"c0f2d0dd-4a4c-495e-bed1-2e23506910a5","name":"mensagem","value":"=沽交沽 Opa que bom que ja esta por dentro, nﾃ｣o deixa de acessar mesmo, pois estou sempre mandando novidades la para todo time...","type":"string"}]},"options":{}},"id":"d542665a-ec87-4e23-b5a8-2f5a05fdb1fc","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,480]},{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}/message/sendText/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.mensagem }}\"\n    }\n}","options":{}},"id":"f8f46f6d-bd3e-4fbe-8bf3-95a4343697b3","name":"SEND LIST2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,660],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ATENDIMENTOASGARD","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"LaaxXSXdg1O0HgOSIr63aznmp6kwwkSi1Gt7GYDNSr7r54NdrqixvVpTTPmWNDPMcmU2veJPtwvdUELlK1ZzcceT89IiZ2cABTk9mvZNp8vWPWQuIMWP3AjFgPrcqfYi","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"bgd0m2h2aewjxsxsfpnvkc","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"={{ $json.body.data.key.remoteJid.replace(/@.*/, '') }}","type":"string"},{"id":"c0f2d0dd-4a4c-495e-bed1-2e23506910a5","name":"mensagem","value":"=沽ｱ沽ｱ Nﾃ｣o vacila, ja corre la pra comunidade e nﾃ｣o perde nada, link tﾃ｡ ai em cima. Sempre tﾃｴ postando tudo la dentro...","type":"string"}]},"options":{}},"id":"06ef1cf6-5937-4eb3-b28f-5990ee06caba","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,660]},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ATENDIMENTOASGARD","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"LaaxXSXdg1O0HgOSIr63aznmp6kwwkSi1Gt7GYDNSr7r54NdrqixvVpTTPmWNDPMcmU2veJPtwvdUELlK1ZzcceT89IiZ2cABTk9mvZNp8vWPWQuIMWP3AjFgPrcqfYi","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"bgd0m2h2aewjxsxsfpnvkc","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"={{ $json.body.data.key.remoteJid.replace(/@.*/, '') }}","type":"string"},{"id":"c0f2d0dd-4a4c-495e-bed1-2e23506910a5","name":"mensagem","value":"=沽ｱ沽ｱ Uma pena, mas respeito sua escolha.\\nem breve seu acesso a ﾃ｡rea de membros serﾃ｡ encerrado","type":"string"}]},"options":{}},"id":"ab85fae8-4aba-42fc-ba2a-1d5e20ce1768","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,1040]},{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}/message/sendText/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.mensagem }}\"\n    }\n}\n\n","options":{}},"id":"dfd2a013-7f0c-47d3-aa15-8d62f7b049ff","name":"AQUECEDOR ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,1040],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"jsCode":"let contato = $('Edit Fields').item.json.contato;\n\n// Adiciona o nﾃｺmero 9 apenas apﾃｳs os quatro primeiros dﾃｭgitos\nlet formattedContato = contato.replace(/^(\\d{4})/, '$19');\n\nreturn {\n  json: {\n    formattedContato: formattedContato\n  }\n};\n"},"id":"ed02afc9-13a7-49b1-a9a2-ae05231e484d","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,500]},{"parameters":{"assignments":{"assignments":[{"id":"24163531-2e3f-41cf-b2ec-13454cab308b","name":"contato","value":"={{ $('Edit Fields').item.json.contato }}","type":"string"}]},"options":{}},"id":"c81a04d8-32f7-4ccf-a8bf-4dadec2ec54d","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,1040]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.message.listResponseMessage.title }}","rightValue":"SIM","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SIM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"442c0ea0-74c1-4b16-a689-0156ef9b8d12","leftValue":"={{ $json.body.data.message.listResponseMessage.title }}","rightValue":"Nﾃグ","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Nﾃグ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9c886dae-0fbb-4f70-bb89-3fbf760f888b","leftValue":"={{ $json.body.data.message.listResponseMessage.title }}","rightValue":"SIM DESEJO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DESEJO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c644ba96-bc97-4108-802b-b70964c56027","leftValue":"={{ $json.body.data.message.listResponseMessage.title }}","rightValue":"Nﾃグ DESEJO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Nﾃグ DESEJO"}]},"options":{}},"id":"d7561af7-19c7-4d79-a28a-4bdcc3164ccd","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[260,540]},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ATENDIMENTOASGARD","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"LaaxXSXdg1O0HgOSIr63aznmp6kwwkSi1Gt7GYDNSr7r54NdrqixvVpTTPmWNDPMcmU2veJPtwvdUELlK1ZzcceT89IiZ2cABTk9mvZNp8vWPWQuIMWP3AjFgPrcqfYi","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"bgd0m2h2aewjxsxsfpnvkc","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"={{ $json.body.data.key.remoteJid.replace(/@.*/, '') }}","type":"string"},{"id":"c0f2d0dd-4a4c-495e-bed1-2e23506910a5","name":"mensagem","value":"=沽昨沽 Show, teremos muitos mais conteﾃｺdos este ano...","type":"string"}]},"options":{}},"id":"303753ed-e911-4733-be7d-dc6699b07b39","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,840]},{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}/message/sendText/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.mensagem }}\"\n    }\n}\n\n","options":{}},"id":"7305ff09-a252-4a60-b909-99132e863e0c","name":"AQUECEDOR 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,840],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"WHATSAPP":"={{ $json.formattedContato }}","REMOVER ACESSO":"Nﾃグ"},"matchingColumns":["WHATSAPP"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REMOVER ACESSO","displayName":"REMOVER ACESSO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"406efdb2-e620-4587-a59a-24ea9231b9e7","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1460,840],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"jsCode":"let contato = $('Edit Fields2').item.json.contato;\n\n// Adiciona o nﾃｺmero 9 apenas apﾃｳs os quatro primeiros dﾃｭgitos\nlet formattedContato = contato.replace(/^(\\d{4})/, '$19');\n\nreturn {\n  json: {\n    formattedContato: formattedContato\n  }\n};\n"},"id":"58d55d19-5d18-4768-b55b-cf637d1a50ff","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,840]},{"parameters":{"assignments":{"assignments":[{"id":"24163531-2e3f-41cf-b2ec-13454cab308b","name":"contato","value":"={{ $('Edit Fields2').item.json.contato }}","type":"string"}]},"options":{}},"id":"b51ab362-9fb2-4e00-8093-867a239b4001","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,840]},{"parameters":{"jsCode":"let contato = $('Edit Fields2').item.json.contato;\n\n// Adiciona o nﾃｺmero 9 apenas apﾃｳs os quatro primeiros dﾃｭgitos\nlet formattedContato = contato.replace(/^(\\d{4})/, '$19');\n\nreturn {\n  json: {\n    formattedContato: formattedContato\n  }\n};\n"},"id":"db726249-27cc-46b3-89bc-0ce6eabe1bcb","name":"Code2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,1040]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"WHATSAPP":"={{ $json.formattedContato }}","REMOVER ACESSO":"SIM"},"matchingColumns":["WHATSAPP"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REMOVER ACESSO","displayName":"REMOVER ACESSO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"c51dfa2e-5518-4668-bc3c-8f453ad5267a","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1460,1040],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"httpMethod":"POST","path":"aee62e79-09ce-4993-a493-42e8ad034f6f","options":{}},"id":"38ec3037-3d5a-4ff4-ad08-1ee4d2c46ca1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[20,540],"webhookId":"aee62e79-09ce-4993-a493-42e8ad034f6f"}],"connections":{"Edit Fields3":{"main":[[{"node":"SEND LIST1","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"SEND LIST2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AQUECEDOR ","type":"main","index":0}]]},"AQUECEDOR ":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AQUECEDOR 1","type":"main","index":0}]]},"AQUECEDOR 1":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b17a6144-c1cb-4373-904b-d8f7cd350e32","triggerCount":1,"tags":[]}