aviso-de-premiação-asgard-nX4zdClKDCqgGQkR.json
{"createdAt":"2024-11-05T23:01:30.464Z","updatedAt":"2025-03-31T20:46:24.043Z","id":"nX4zdClKDCqgGQkR","name":"AVISO DE PREMIAÇÃO ASGARD","active":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":781560592,"mode":"list","cachedResultName":"PREMIAÇÕES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=781560592"},"filtersUI":{"values":[{"lookupColumn":"STATUS DE PRODUÇÃO","lookupValue":"PRODUÇÃO"},{"lookupColumn":"AVISO ENVIADO"}]},"options":{}},"id":"a7343126-3ce6-493a-8390-51b159c2ce01","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1060,400],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"options":{}},"id":"debe0f71-6b87-4cea-9eb6-ced5c20f3f5a","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1300,400]},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ASGARDBOT","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"LaaxXSXdg1O0HgOSIr63aznmp6kwwkSi1Gt7GYDNSr7r54NdrqixvVpTTPmWNDPMcmU2veJPtwvdUELlK1ZzcceT89IiZ2cABTk9mvZNp8vWPWQuIMWP3AjFgPrcqfYi","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"9q88a5s7f2bicf46q6qb8","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"=55{{ $json.TELEFONE }}","type":"string"},{"id":"c0f2d0dd-4a4c-495e-bed1-2e23506910a5","name":"mensagem","value":"=Ola, {{ $('Google Sheets').item.json['NOME AFILIADO'] }}, com imenso prazer que lhe aviso que sua premiação do TEAM ASGARD já está em produção, e logo mais te aviso aqui do envio.\\n\\nabaixo VOU DEIXAR UM RELATÓRIO DE TODAS AS PREMIAÇÕES JA RECEBIDAS\\n\\nPulseira 10k: {{ $json['PULSEIRA 10K'] }}\\nPlaca 20k: {{ $json['PLACA 20K'] }}\\nPlaca 50k: {{ $json['PLACA 50K'] }}\\nPlaca 100k: {{ $json['PLACA 100K'] }}\\nPlaca de 250k: {{ $json['PLACA 250K'] }}\\n\\nParabens pela sua trajetória até aqui e desejamos ainda muito sucesso a você!\\n\\nConte com a gente do TEAM ASGARD","type":"string"}]},"options":{}},"id":"c119a21b-98c7-4ab6-ba27-1e10ed3ce7d2","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,420]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":781560592,"mode":"list","cachedResultName":"PREMIAÇÕES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=781560592"},"columns":{"mappingMode":"defineBelow","value":{"NOME AFILIADO":"={{ $('Google Sheets').item.json['NOME AFILIADO'] }}","AVISO ENVIADO":"AVISO DE PRODUÇÃO ENVIADO"},"matchingColumns":["NOME AFILIADO"],"schema":[{"id":"NOME AFILIADO","displayName":"NOME AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"USUÁRIO","displayName":"USUÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PULSEIRA 10K","displayName":"PULSEIRA 10K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLACA 20K","displayName":"PLACA 20K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLACA 50K","displayName":"PLACA 50K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLACA 100K","displayName":"PLACA 100K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLACA 250K","displayName":"PLACA 250K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENDEREÇO","displayName":"ENDEREÇO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RASTREIO","displayName":"RASTREIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINK DE RASTREIO","displayName":"LINK DE RASTREIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PREMIAÇÃO ENVIADA","displayName":"PREMIAÇÃO ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DO ENVIO","displayName":"DATA DO ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DE PRODUÇÃO","displayName":"STATUS DE PRODUÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AVISO ENVIADO","displayName":"AVISO ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"caa587d9-0ece-4541-834a-dd10ca6323b8","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2020,420],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"content":"## AVISO DE PRODUÇÃO DE PREMIAÇÃO","height":301,"width":1331.1857707509876},"id":"6d2aaf57-fb62-4441-9401-26baed50b9a9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1020,340]},{"parameters":{"documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":781560592,"mode":"list","cachedResultName":"PREMIAÇÕES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=781560592"},"filtersUI":{"values":[{"lookupColumn":"STATUS DE PRODUÇÃO","lookupValue":"ENVIADO"},{"lookupColumn":"AVISO ENVIADO"}]},"options":{}},"id":"42d11679-c1ef-4992-b8d0-734ca2989e4c","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1060,1040],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"options":{}},"id":"fdc24a1e-7fd5-4421-b09c-15adca640d63","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,1040]},{"parameters":{"method":"POST","url":"={{ $('Edit Fields1').item.json.baseUrl }}/message/sendText/{{ $('Edit Fields1').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Edit Fields1').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.mensagem }}\"\n    }\n}","options":{}},"id":"f6b9daac-d264-413c-9820-395c007b0d96","name":"AQUECEDOR ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,1400],"executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ASGARDBOT","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"=55{{ $json.TELEFONE }}","type":"string"},{"id":"c0f2d0dd-4a4c-495e-bed1-2e23506910a5","name":"mensagem","value":"=Ola, {{ $json['NOME AFILIADO'] }}, com imenso prazer que lhe aviso que sua premiação do TEAM ASGARD já está sendo transportada e abaixo deixo o código de rastreio para poder ver onde já esta!\n\nTodos os envios e Recebimentos:\nPulseira 10k: {{ $json['PULSEIRA 10K'] }}\nPlaca 20k: {{ $json['PLACA 20K'] }}\nPlaca 50k: {{ $json['PLACA 50K'] }}\nPlaca 100k: {{ $json['PLACA 100K'] }}\nPlaca de 250k: {{ $json['PLACA 250K'] }}}\n\nCódigo de Rastreio: {{ $json.RASTREIO }}\n\nSegue link para rastreio: {{ $json['LINK DE RASTREIO'] }}\n\nGrato da parceria desejamos ainda muito mais sucesso.\n\nDetalhe ta, recebendo, ja posta nos grupos e se quiser marcar a gente no Instagram @jamilabrao","type":"string"},{"id":"378e816c-9f6d-4ee1-89fa-ed2050f42c9f","name":"dataenvio","value":"={{ $json['DATA DO ENVIO'] }}","type":"string"},{"id":"c2166ff5-8e8d-4380-86bf-1f61b16feaa9","name":"itemenviado","value":"={{ $json['PREMIAÇÃO ENVIADA'] }}","type":"string"},{"id":"1dbdb004-8148-4099-b536-7c346aa9d15e","name":"codrastreio","value":"={{ $json.RASTREIO }}","type":"string"},{"id":"074aab5b-4584-4cb0-afab-63d0ddffd0ae","name":"linkrastreio","value":"={{ $json['LINK DE RASTREIO'] }}","type":"string"}]},"options":{}},"id":"ac7e5dae-f5bd-4a87-bf43-ce3f708894f1","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,1060]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":781560592,"mode":"list","cachedResultName":"PREMIAÇÕES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=781560592"},"columns":{"mappingMode":"defineBelow","value":{"AVISO ENVIADO":"ENVIADO NA AUTOMAÇÃO","NOME AFILIADO":"={{ $('Google Sheets2').item.json['NOME AFILIADO'] }}"},"matchingColumns":["NOME AFILIADO"],"schema":[{"id":"NOME AFILIADO","displayName":"NOME AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-MAIL","displayName":"E-MAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"USUÁRIO","displayName":"USUÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PREMIAÇÃO","displayName":"PREMIAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PULSEIRA 10K","displayName":"PULSEIRA 10K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLACA 20K","displayName":"PLACA 20K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLACA 50K","displayName":"PLACA 50K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLACA 100K","displayName":"PLACA 100K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLACA 250K","displayName":"PLACA 250K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENDEREÇO","displayName":"ENDEREÇO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RASTREIO","displayName":"RASTREIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINK DE RASTREIO","displayName":"LINK DE RASTREIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PREMIAÇÃO ENVIADA","displayName":"PREMIAÇÃO ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA DO ENVIO","displayName":"DATA DO ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS DE PRODUÇÃO","displayName":"STATUS DE PRODUÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AVISO ENVIADO","displayName":"AVISO ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"0a98fb6b-1b85-4ee7-a2c2-c995abfac673","name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1960,1060],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"content":"## AVISO DE ENVIO DE PREMIAÇÃO","height":301,"width":1325.857707509882},"id":"b377da1e-0e88-4610-a0e1-f69b055307b9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1020,980]},{"parameters":{},"id":"640adb9e-1643-4897-9fb4-95eb461dbde1","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[660,720]},{"parameters":{"documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":781560592,"mode":"list","cachedResultName":"PREMIAÇÕES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=781560592"},"filtersUI":{"values":[{"lookupColumn":"STATUS DE PRODUÇÃO","lookupValue":"PREPARAÇÃO DE ENVIO"},{"lookupColumn":"AVISO ENVIADO"}]},"options":{}},"id":"e3dfae0b-9c5e-4825-90ce-eb4f3fd07b2f","name":"Google Sheets4","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1060,720],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"options":{}},"id":"12e2a621-5847-4561-af5c-377a3b407512","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1300,720]},{"parameters":{"method":"POST","url":"={{ $('Edit Fields2').item.json.baseUrl }}/message/sendText/{{ $('Edit Fields2').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Edit Fields2').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.mensagem }}\"\n    }\n}","options":{}},"id":"f3408a4a-f41f-475f-bea8-7068972d4197","name":"AQUECEDOR 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,740],"executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ASGARDBOT","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"LaaxXSXdg1O0HgOSIr63aznmp6kwwkSi1Gt7GYDNSr7r54NdrqixvVpTTPmWNDPMcmU2veJPtwvdUELlK1ZzcceT89IiZ2cABTk9mvZNp8vWPWQuIMWP3AjFgPrcqfYi","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"9q88a5s7f2bicf46q6qb8","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"=55{{ $json.TELEFONE }}","type":"string"},{"id":"c0f2d0dd-4a4c-495e-bed1-2e23506910a5","name":"mensagem","value":"=Ola, {{ $('Google Sheets4').item.json['NOME AFILIADO'] }}, com imenso prazer que lhe aviso que sua premiação do TEAM ASGARD já está pronta, e sendo despachada hoje, logo mais te envio codigo de rastreio.\\n\\nabaixo VOU DEIXAR UM RELATÓRIO DE TODAS AS PREMIAÇÕES RECEBIDAS\\n\\nPulseira 10k: {{ $json['PULSEIRA 10K'] }}\\nPlaca 20k: {{ $json['PLACA 20K'] }}\\nPlaca 50k: {{ $json['PLACA 50K'] }}\\nPlaca 100k: {{ $json['PLACA 100K'] }}\\nPlaca de 250k: {{ $json['PLACA 250K'] }}\\n\\nParabens pela sua trajetória até aqui e desejamos ainda muito sucesso a você!\\n\\nConte com a gente do TEAM ASGARD","type":"string"}]},"options":{}},"id":"325f2572-8f7f-4b35-bb3b-1974a5df74a0","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,740]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":781560592,"mode":"list","cachedResultName":"PREMIAÇÕES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=781560592"},"columns":{"mappingMode":"defineBelow","value":{"NOME AFILIADO":"={{ $('Google Sheets4').item.json['NOME AFILIADO'] }}","AVISO ENVIADO":"ENVIADO NA AUTOMAÇÃO"},"matchingColumns":["NOME AFILIADO"],"schema":[{"id":"NOME AFILIADO","displayName":"NOME AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"USUÁRIO","displayName":"USUÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PULSEIRA 10K","displayName":"PULSEIRA 10K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLACA 20K","displayName":"PLACA 20K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLACA 50K","displayName":"PLACA 50K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLACA 100K","displayName":"PLACA 100K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLACA 250K","displayName":"PLACA 250K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENDEREÇO","displayName":"ENDEREÇO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RASTREIO","displayName":"RASTREIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINK DE RASTREIO","displayName":"LINK DE RASTREIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PREMIAÇÃO ENVIADA","displayName":"PREMIAÇÃO ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DO ENVIO","displayName":"DATA DO ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DE PRODUÇÃO","displayName":"STATUS DE PRODUÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AVISO ENVIADO","displayName":"AVISO ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"e8330f25-9da7-4ac9-87d6-36ec84e2450d","name":"Google Sheets5","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2020,740],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"content":"## AVISO DE PREPARAÇÃO PARA ENVIO","height":301,"width":1332.5177865612648},"id":"734576e2-b4fa-4fe0-b9ce-2f4eddc60f2a","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1020,660]},{"parameters":{"content":"## ATIVAR FLUXO MANUAL ","height":290.33576295324644,"width":422.85913011350954,"color":4},"id":"f909a3a1-b66f-4fb2-95db-e170ea79f6f8","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,660]},{"parameters":{"amount":10},"id":"c4536fab-c3b4-4982-b40b-b8aff8893b7b","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2200,740],"webhookId":"385a87e4-8bc0-4327-a5d4-8f8c50b2ab82"},{"parameters":{"amount":10},"id":"5767303f-e4b5-45ec-aad3-2c7eac873ec4","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2200,420],"webhookId":"385a87e4-8bc0-4327-a5d4-8f8c50b2ab82"},{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}/message/sendText/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.mensagem }}\"\n    }\n}","options":{}},"id":"46b3b7ec-5317-48e5-a87c-6f5d1cfb5076","name":"AQUECEDOR 3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,420],"executeOnce":true},{"parameters":{"amount":10},"id":"bcecfb61-4cb3-4d1d-a797-e4db54c5367e","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2180,1060],"webhookId":"385a87e4-8bc0-4327-a5d4-8f8c50b2ab82"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/ASGARDBOT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.contato }}"},{"name":"text","value":"={{ $json.mensagem }}"}]},"options":{}},"id":"1ec42b94-8d91-487f-bd59-7a3e37773a7b","name":"ENVIA MSG AO AFILIADO2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,1060],"alwaysOutputData":false}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AQUECEDOR 3","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"AQUECEDOR ":{"main":[[]]},"Google Sheets3":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Edit Fields2","type":"main","index":0}]]},"AQUECEDOR 2":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AQUECEDOR 2","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AQUECEDOR 3":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"ENVIA MSG AO AFILIADO2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"ENVIA MSG AO AFILIADO2":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ddedb668-f996-4a89-9a1d-3507d6a30cd1","triggerCount":0,"tags":[]}