boas-vindas-whatsapp---daniel-goulart-Bt5RILuMiDMThvmb.json
{"updatedAt":"2025-09-24T17:14:46.117Z","createdAt":"2025-09-08T19:05:11.955Z","id":"Bt5RILuMiDMThvmb","name":"BOAS VINDAS WHATSAPP - daniel goulart","active":false,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"242f7cc9-8ce3-447e-b7aa-51f1271db5cb","name":"dataApiUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"26e51dbf-d20c-4f7e-aaff-3c159f003352","name":"dataApiInstance","value":"ASGARDBOT","type":"string"},{"id":"5b5eeb57-c7ea-44f9-b155-346673610743","name":"dataApiKey","value":"9q88a5s7f2bicf46q6qb8","type":"string"},{"id":"0fe8c5d2-e994-4733-87cb-098877e0aa8a","name":"datagrupo","value":"={{ $json.body.data.id }}","type":"string"},{"id":"d387a2e5-29d5-4f08-894e-47e710f78bac","name":"datastatus","value":"={{ $json.body.data.action }}","type":"string"},{"id":"293a46c2-b70b-4325-8a7a-2b9ce9da7176","name":"datamembro","value":"={{ $json.body.data.participants[0] }}","type":"string"},{"id":"54630c03-c5c1-4c63-ba21-845314571654","name":"datamembronome","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"188b3d09-8027-4bf9-abd7-89da1e1a2db8","name":"data1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[176,640]},{"parameters":{"method":"POST","url":"={{ $('data1').item.json.dataApiUrl }}/message/sendText/{{ $('data1').item.json.dataApiInstance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('data1').item.json.dataApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json[\"datagrupo\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false,\n            \"mentioned\": [\n                \"{{ $('data1').item.json.datamembro }}\"\n            ]\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"Olha temos um novo administrador na area. 🥷 Aproveite seu cargo {{ $('Remover Dominio').item.json[\"numeroLimpo\"] }}\"\n    }\n}","options":{}},"id":"ffa3f3a8-88e4-481d-8f4b-2cdbe33f69bf","name":"enviar msg novo adm","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,784]},{"parameters":{"method":"POST","url":"={{ $('data1').item.json.dataApiUrl }}/message/sendText/{{ $('data1').item.json.dataApiInstance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('data1').item.json.dataApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json[\"datagrupo\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false,\n            \"mentioned\": [\n                \"{{ $('data1').item.json.datamembro }}\"\n            ]\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"Olha temos um novo membro na área {{ $('Remover Dominio').item.json[\"numeroLimpo\"] }}\\n\\n.🥷 Aproveite sua estada\\nBem-vindo(a)! 🎉 Esperamos que esteja preparado(a) para uma experiência única, afinal, nem todo grupo tem um fórum incrível como o nosso:\\nhttps://www.bettalk.com.br/!\\n\\nE, claro, se quiser fazer parte da nossa base de afiliados que só cresce na plataforma Donald, basta dar uma olhadinha em\\nhttps://www.teamasgard.pro \\n\\nAproveite, porque aqui você não vai encontrar nada comum e já leia as regras da *DESCRIÇÃO DO GRUPO*... 😉\"\n    }\n}","options":{}},"id":"566aa683-f813-4ca6-b674-fa966a81c000","name":"enviar msg novo membro","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,608]},{"parameters":{"method":"POST","url":"={{ $('data1').item.json.dataApiUrl }}/message/sendText/{{ $('data1').item.json.dataApiInstance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('data1').item.json.dataApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json[\"datagrupo\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false,\n            \"mentioned\": [\n                \"{{ $json.numeroLimpo }}\"\n            ]\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.numeroLimpo }}\\nAgradecemos a sua breve participação no grupo, foi realmente inesquecível... ou quase.\\nEsperamos que encontre um grupo que esteja à altura do seu alto nível de exigência.\\nBoa sorte na sua nova jornada e lembre-se, as portas estão sempre abertas (caso você sinta saudades)!\"\n    }\n}","options":{}},"id":"e9e821dd-5f07-4061-b71e-0b255fd8dc62","name":"enviar msg membro saiu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,432]},{"parameters":{"values":{"string":[{"name":"numeroLimpo","value":"={{ $json[\"datamembro\"].replace(\"@s.whatsapp.net\", \"\")}}"}]},"options":{}},"name":"Remover Dominio","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,640],"id":"b1286cff-c62b-4327-bf04-985fa6400930"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.datastatus }}","rightValue":"remove","operator":{"type":"string","operation":"equals"},"id":"f5f11924-dfe7-47b6-984d-88e93cac180f"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"194a6c01-fea5-4ee1-984f-e645d4c8c23a","leftValue":"={{ $json.datastatus }}","rightValue":"add","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2cd2b930-fd35-483f-8f67-99413771f9d6","leftValue":"={{ $json.datastatus }}","rightValue":"promote","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"18cd678a-54f6-4119-9176-9ac3c520691c","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[944,608]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.id }}","rightValue":"120363127737464835@g.us","operator":{"type":"string","operation":"equals"},"id":"73f36c82-2b03-4201-839a-1ee97d8650e6"}],"combinator":"and"},"renameOutput":true,"outputKey":"ALL WIN"}]},"options":{}},"id":"745dbec2-be68-4721-8579-cbf3c4e8af5b","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[656,640]},{"parameters":{"httpMethod":"POST","path":"0dfd631c-bcd9-467e-a3fb-61ef93889fa6","options":{}},"id":"1ae384af-e3ba-41be-8938-02f6c7fe335a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-32,640],"webhookId":"0dfd631c-bcd9-467e-a3fb-61ef93889fa6"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/SUPORTESB","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55{{ $json.TELEFONE.replace(/[\\(\\)\\-\\s]/g, '') }}"},{"name":"text","value":"=🔥 AFILIAÇÃO APROVADA | SANTO BET 🔥\n\nOlá, {{ $json.NOME }}, Email: {{ $json.EMAIL }}!,\nJá informo que sua afiliação foi aprovada com sucesso. 🟢🚀\nSeu painel já está liberado, pode pegar seu link e começar a divulgar.\n\nBem-vindo à equipe que mais cresce! 💼💚\n\n🔗 Acesso à Plataforma de Afiliados:\n👉 https://partners.santox.bet/app/login\n\n🔗 Drive Marketing Afiliados:\n👉 https://shre.ink/SantoBet\n\n💰 Modelo de Comissão:\n\n✔ Condição: {{ $json.ACORDO }} (Participação dos lucros)\n📌 Você recebe {{ $('AFILIADO ACEITO').item.json.body.Rev }}%  dos lucros gerados pelos seus clientes na SantoBet.\n\n✔ Valor mínimo para saque: R$100.00\n📌 Os saques podem ser solicitados diretamente pelo seu painel, sempre às segundas-feiras a partir das 9:00 (tentativas de saques fora deste período mostrarão mensagem de erro).\n\n✔ Todo material de apoio deve ser solicitado por este contato\ncomo Saldo para estratégias e MKT, Salas de análises e sinais, etc.\n\n💪 Sucesso e conte com a gente! 🚀\n\n🔹 Equipe Santo Bet"}]},"options":{}},"id":"466cb6dc-3e64-4cac-9813-f0374ce3a2a7","name":"MEMBRO SAIU","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,416],"alwaysOutputData":false,"retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"}],"connections":{"data1":{"main":[[{"node":"Remover Dominio","type":"main","index":0}]]},"Remover Dominio":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"MEMBRO SAIU","type":"main","index":0}],[],[]]},"Switch1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"data1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true,"saveManualExecutions":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"68c760df-48c9-44a2-a31b-2eb4e04996ee","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-08T19:05:11.955Z","createdAt":"2025-09-08T19:05:11.955Z","role":"workflow:owner","workflowId":"Bt5RILuMiDMThvmb","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":null,"tags":[]}