boas-vindas-whatsapp-O3GpqRqCpr6iFaOD.json
{"createdAt":"2024-11-01T22:43:36.679Z","updatedAt":"2024-12-09T22:30:13.911Z","id":"O3GpqRqCpr6iFaOD","name":"BOAS VINDAS WHATSAPP","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"242f7cc9-8ce3-447e-b7aa-51f1271db5cb","name":"dataApiUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"26e51dbf-d20c-4f7e-aaff-3c159f003352","name":"dataApiInstance","value":"ASGARDBOT","type":"string"},{"id":"5b5eeb57-c7ea-44f9-b155-346673610743","name":"dataApiKey","value":"9q88a5s7f2bicf46q6qb8","type":"string"},{"id":"0fe8c5d2-e994-4733-87cb-098877e0aa8a","name":"datagrupo","value":"={{ $json.body.data.id }}","type":"string"},{"id":"d387a2e5-29d5-4f08-894e-47e710f78bac","name":"datastatus","value":"={{ $json.body.data.action }}","type":"string"},{"id":"293a46c2-b70b-4325-8a7a-2b9ce9da7176","name":"datamembro","value":"={{ $json.body.data.participants[0] }}","type":"string"},{"id":"54630c03-c5c1-4c63-ba21-845314571654","name":"datamembronome","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"a409c5c9-c9e6-4f53-90db-4f02b1f4f1d2","name":"data1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[140,860]},{"parameters":{"method":"POST","url":"={{ $('data1').item.json.dataApiUrl }}/message/sendText/{{ $('data1').item.json.dataApiInstance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('data1').item.json.dataApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json[\"datagrupo\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false,\n            \"mentioned\": [\n                \"{{ $('data1').item.json.datamembro }}\"\n            ]\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"Olha temos um novo administrador na area. 🥷 Aproveite seu cargo {{ $('Remover Dominio').item.json[\"numeroLimpo\"] }}\"\n    }\n}","options":{}},"id":"06a9296a-85a5-457b-b0c6-231688f8b99e","name":"enviar msg novo adm","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,780]},{"parameters":{"method":"POST","url":"={{ $('data1').item.json.dataApiUrl }}/message/sendText/{{ $('data1').item.json.dataApiInstance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('data1').item.json.dataApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json[\"datagrupo\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false,\n            \"mentioned\": [\n                \"{{ $('data1').item.json.datamembro }}\"\n            ]\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"Olha temos um novo membro na área {{ $('Remover Dominio').item.json[\"numeroLimpo\"] }}\\n\\n.🥷 Aproveite sua estada\\nBem-vindo(a)! 🎉 Esperamos que esteja preparado(a) para uma experiência única, afinal, nem todo grupo tem um fórum incrível como o nosso:\\nhttps://www.bettalk.com.br/!\\n\\nE, claro, se quiser fazer parte da nossa base de afiliados que só cresce na plataforma Donald, basta dar uma olhadinha em\\nhttps://www.teamasgard.pro \\n\\nAproveite, porque aqui você não vai encontrar nada comum e já leia as regras da *DESCRIÇÃO DO GRUPO*... 😉\"\n    }\n}","options":{}},"id":"dd80affb-731f-47b1-a1b4-e6be40c98fba","name":"enviar msg novo membro","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,600]},{"parameters":{"method":"POST","url":"={{ $('data1').item.json.dataApiUrl }}/message/sendText/{{ $('data1').item.json.dataApiInstance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('data1').item.json.dataApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json[\"datagrupo\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false,\n            \"mentioned\": [\n                \"{{ $json.numeroLimpo }}\"\n            ]\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.numeroLimpo }}\\nAgradecemos a sua breve participação no grupo, foi realmente inesquecível... ou quase.\\nEsperamos que encontre um grupo que esteja à altura do seu alto nível de exigência.\\nBoa sorte na sua nova jornada e lembre-se, as portas estão sempre abertas (caso você sinta saudades)!\"\n    }\n}","options":{}},"id":"aded573b-40df-4701-9d5a-6c10dceee8e6","name":"enviar msg membro saiu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,420]},{"parameters":{"values":{"string":[{"name":"numeroLimpo","value":"={{ $json[\"datamembro\"].replace(\"@s.whatsapp.net\", \"\")}}"}]},"options":{}},"name":"Remover Dominio","type":"n8n-nodes-base.set","typeVersion":1,"position":[140,700],"id":"ae383dfd-6b7a-4d29-90bb-d90bb70f55ff"},{"parameters":{"method":"POST","url":"={{ $('data1').item.json.dataApiUrl }}/message/sendText/{{ $('data1').item.json.dataApiInstance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('data1').item.json.dataApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json[\"datagrupo\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"Olha temos um novo administrador na area. 🥷 {{ $('Remover Dominio').item.json[\"numeroLimpo\"] }}  \"\n    }\n}","options":{}},"id":"ac1143da-feb2-413b-bcda-73377e9d845d","name":"enviar msg novo adm1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,1440]},{"parameters":{"method":"POST","url":"={{ $('data1').item.json.dataApiUrl }}/message/sendText/{{ $('data1').item.json.dataApiInstance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('data1').item.json.dataApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json[\"datagrupo\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $('Remover Dominio').item.json[\"numeroLimpo\"] }}\\nSaiu e nem pagou a coca cola pro Grupo 😉\"\n    }\n}","options":{}},"id":"fdfde2bb-7aa9-4243-b655-b2993fdd4083","name":"enviar msg membro saiu1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,1080]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.datastatus }}","rightValue":"remove","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"194a6c01-fea5-4ee1-984f-e645d4c8c23a","leftValue":"={{ $json.datastatus }}","rightValue":"add","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2cd2b930-fd35-483f-8f67-99413771f9d6","leftValue":"={{ $json.datastatus }}","rightValue":"promote","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"08bf58a8-062c-454d-86d0-5808a89a06a2","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[940,1140]},{"parameters":{"method":"POST","url":"={{ $('data1').item.json.dataApiUrl }}/message/sendText/{{ $('data1').item.json.dataApiInstance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('data1').item.json.dataApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json[\"datagrupo\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $('Remover Dominio').item.json[\"numeroLimpo\"] }}\\n📌 REGRAS DO GRUPO 📝\\n\\nPROIBIDO DIVULGAÇÃO DE OUTRAS CASAS;\\nPROIBIDO VENDA DE QUALQUER TIPO DE PRODUTO SEM AUTORIZAÇÃO;\\nPROIBIDO CHAMAR OS MEMBROS NO PARTICULAR;\\nPROIBIDO OFENÇAS E BRIGAS;\\nPROIBIDO ASSUNTOS SOBRE MÉTODOS, MEIOS E GOLPES;\\nPROIBIDO QUALQUER ASSUNTO FORA DO IGAMING;\\n\\n❌ ATENÇÃO: O NÃO CUMPRIMENTO DAS REGRAS PODE RESULTAR NA REMOÇÃO DO GRUPO! ❌\\n\\n➡ LINK DA CASA\\nhttps://donald.bet/\\n\\n➡ DASHBOARD\\nhttps://app.donald.bet/auth/login\\n\\n➡ ÁREA DE MEMBROS\\nhttps://membros.teamasgard.pro/\\n\\n➡ GRUPO TELEGRAM - LEADS DONALD\\nhttps://t.me/donaldbetoficial\\n\\n➡ GRUPO TELEGRAM - TEAM ASGARD\\nhttps://t.me/asgarddonald\\n\\n➡ DRIVE DONALD.BET\\nhttps://tinyurl.com/MateriaisParaAfiliados\\n\\n➡ DRIVE TEAM ASGARD\\nhttps://tinyurl.com/TeamAsgard\\n\\n➡ FÓRUM IGAMING\\nhttps://www.bettalk.com.br/ 😉\"\n    }\n}","options":{}},"id":"63dceb49-ad0c-411c-8408-71382c14344c","name":"enviar msg novo membro2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,1260]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.datastatus }}","rightValue":"remove","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"194a6c01-fea5-4ee1-984f-e645d4c8c23a","leftValue":"={{ $json.datastatus }}","rightValue":"add","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2cd2b930-fd35-483f-8f67-99413771f9d6","leftValue":"={{ $json.datastatus }}","rightValue":"promote","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"8b32143d-cf98-49bd-bc3a-01ecb79b8654","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[940,600]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.id }}","rightValue":"120363127737464835@g.us","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PAPO RETO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"19677023-9cc9-4b74-9117-33f937d642db","leftValue":"={{ $('Webhook').item.json.body.data.id }}","rightValue":"120363217939208153@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SUB AFILIADO DONALD"}]},"options":{}},"id":"e784d516-f8ae-4313-8704-77388fd60996","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[620,860]},{"parameters":{"httpMethod":"POST","path":"boasvindas","options":{}},"id":"6ce287f7-fecd-4066-a864-3c18c5cfb418","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,860],"webhookId":"89f7ad9f-48db-482f-92e4-aaeb2e7c60df"}],"connections":{"data1":{"main":[[{"node":"Remover Dominio","type":"main","index":0}]]},"Remover Dominio":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"enviar msg membro saiu1","type":"main","index":0}],[{"node":"enviar msg novo membro2","type":"main","index":0}],[{"node":"enviar msg novo adm1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"enviar msg membro saiu","type":"main","index":0}],[{"node":"enviar msg novo membro","type":"main","index":0}],[{"node":"enviar msg novo adm","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"data1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true,"saveManualExecutions":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"96bbf3c1-17ae-4efb-8e51-431006a1f8ba","triggerCount":1,"tags":[]}