cadastro-jeff-uo9hPHklkzT16ICO.json
{"createdAt":"2025-01-11T01:18:36.334Z","updatedAt":"2025-01-28T13:53:48.542Z","id":"uo9hPHklkzT16ICO","name":"CADASTRO JEFF","active":false,"nodes":[{"parameters":{"options":{}},"id":"4a83aef3-ced1-4902-8cc7-974a0019b1ce","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[520,540]},{"parameters":{},"id":"b669c13d-4877-4a56-b910-da7ce05b6a85","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[40,540]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A","mode":"list","cachedResultName":"EMAILS BASE JEFF","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields1').item.json.EMAIL }}","CADASTROS OK":"JA CADASTRADO"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"802ec046-6202-4743-b945-e7ccd1af804d","name":"Google Sheets5","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1580,720],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A","mode":"list","cachedResultName":"EMAILS BASE JEFF","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields1').item.json.EMAIL }}","CADASTROS OK":"ERRO"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"83dc67ac-e6e2-4cb0-a5b0-f11b757ad1ac","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1580,900],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"documentId":{"__rl":true,"value":"1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A","mode":"list","cachedResultName":"EMAILS BASE JEFF","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"CADASTROS OK"},{"lookupColumn":"DUPLICADO"}]},"options":{}},"id":"f96e312e-208e-40b9-846d-f6559534ccee","name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[280,540],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"amount":"={{Math.floor(Math.random() * (2 - 3 + 1)) + 3}}"},"id":"f8ba5b03-d732-40f0-8477-07ecb5bfc01f","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1860,1000],"webhookId":"080d5809-780a-4b12-8ece-6cad494c0580"},{"parameters":{"assignments":{"assignments":[{"id":"70dee12f-9ba1-4978-b857-f54ce6e6fd10","name":"NOME","value":"={{ $('Google Sheets3').item.json.NOME }}","type":"string"},{"id":"d19db95c-34ae-49ec-b371-1a6de8ee8c90","name":"WHATSAPP","value":"={{ $json.WHATSAPP }}","type":"string"},{"id":"43fa5a6d-1a57-41fe-b141-bc13fdf40968","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"id":"fdfafb73-776f-4f7f-9052-7e2869d4b6e8","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,560]},{"parameters":{"method":"POST","url":"https://app.viral-loops.com/api/v2/events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Key","value":"Content-Type"},{"name":"Value","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"publicToken\": \"Zl4TjVybatDzmW1Y8dJyZbKWLGE\",\n    \"params\": {\n        \"event\": \"registration\",\n        \"user\": {\n            \"firstname\": \"{{ $json.NOME }}\",\n            \"lastname\": \"\",\n            \"email\": \"{{ $json.EMAIL }}\",\n            \"acquiredFrom\": \"form_widgetV2\",\n            \"initialAcquiredFrom\": \"https://jeffecom.com/combo/?referralCode=7ybek55&refSource=copy#price\",\n            \"extraData\": {\n                \"GLl7glgn\": \"{{ $json.WHATSAPP }}\"\n            },\n            \"consents\": []\n        },\n        \"referrer\": {\n            \"referralCode\": \"7ybek55\"\n        },\n        \"refSource\": \"copy\",\n        \"acquiredFrom\": \"form_widgetV2\"\n    }\n}\n","options":{}},"id":"e75227b8-9f56-4b82-a380-5d8fe3a98e72","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,560],"onError":"continueErrorOutput"},{"parameters":{"amount":"={{Math.floor(Math.random() * (12 - 3 + 1)) + 3}}"},"id":"373b45d1-5832-4df5-a3bb-e395f0dc1216","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1860,720],"webhookId":"080d5809-780a-4b12-8ece-6cad494c0580"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A","mode":"list","cachedResultName":"EMAILS BASE JEFF","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields1').item.json.EMAIL }}","CADASTROS OK":"FEITO"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"d6b28b08-ca3a-4504-85c2-50937b94873d","name":"Google Sheets4","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1580,520],"retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.isNew }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"FEITO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4c8bd4b-9ad7-40b3-984b-9037d87102c1","leftValue":"={{ $json.isNew }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"JA CADASTRADO"}]},"options":{}},"id":"a8aff61a-d718-4b38-80f0-ceaaef7c296a","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1340,560]}],"connections":{"Loop Over Items1":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Google Sheets","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Google Sheets4","type":"main","index":0}],[{"node":"Google Sheets5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"29e55691-d7cc-43e5-a846-13a6d1869dae","triggerCount":0,"tags":[{"createdAt":"2025-01-25T15:40:47.289Z","updatedAt":"2025-01-25T15:40:47.289Z","id":"qxTexbrB01dLSjDn","name":"JEFF"}]}