cadastro-asgardacademy-NTqvicbwqBgWfYzU.json
{"updatedAt":"2025-10-15T14:09:29.179Z","createdAt":"2025-09-09T19:58:53.208Z","id":"NTqvicbwqBgWfYzU","name":"CADASTRO ASGARDACADEMY","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"ASGARDACADEMY","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,-432],"id":"773b8fba-00b6-4662-81d6-04237c6f90a8","name":"Webhook","webhookId":"f082e427-0b03-4032-bbc1-3ffbc286c2f6","disabled":true},{"parameters":{"html":"<!doctype html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n  <title>Cadastro - Team Asgard</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      background: linear-gradient(135deg, #0f172a, #1e3a8a, #3b82f6);\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      height: 100vh;\n      margin: 0;\n    }\n    .card {\n      background: #fff;\n      padding: 32px;\n      border-radius: 20px;\n      box-shadow: 0 12px 40px rgba(0,0,0,0.15);\n      max-width: 420px;\n      width: 100%;\n      text-align: center;\n      animation: fadeIn 0.7s ease;\n    }\n    @keyframes fadeIn {\n      from {opacity: 0; transform: translateY(20px);}\n      to {opacity: 1; transform: translateY(0);}\n    }\n    .logo {\n      width: 160px;\n      margin-bottom: 20px;\n    }\n    h2 {\n      margin-bottom: 8px;\n      font-size: 24px;\n      color: #1e3a8a;\n    }\n    p {\n      margin-bottom: 24px;\n      color: #555;\n      font-size: 14px;\n    }\n    label {\n      display: block;\n      text-align: left;\n      font-weight: 600;\n      margin: 8px 0 4px;\n      color: #333;\n      font-size: 14px;\n    }\n    input {\n      width: 100%;\n      padding: 12px;\n      border: 2px solid #e5e7eb;\n      border-radius: 12px;\n      font-size: 15px;\n      transition: all 0.3s ease;\n    }\n    input:focus {\n      border-color: #3b82f6;\n      box-shadow: 0 0 0 4px rgba(59,130,246,0.2);\n      outline: none;\n    }\n    button {\n      margin-top: 20px;\n      width: 100%;\n      padding: 14px;\n      font-size: 16px;\n      font-weight: bold;\n      border: none;\n      border-radius: 12px;\n      background: linear-gradient(135deg,#3b82f6,#2563eb);\n      color: #fff;\n      cursor: pointer;\n      transition: transform 0.2s ease, box-shadow 0.2s ease;\n    }\n    button:hover {\n      transform: translateY(-2px);\n      box-shadow: 0 8px 20px rgba(59,130,246,0.4);\n    }\n    .success, .error {\n      display: none;\n      margin-top: 16px;\n      padding: 12px;\n      border-radius: 12px;\n      font-weight: 600;\n      font-size: 14px;\n    }\n    .success {\n      background: rgba(16,185,129,0.15);\n      color: #047857;\n    }\n    .error {\n      background: rgba(239,68,68,0.15);\n      color: #b91c1c;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <img class=\"logo\" src=\"https://www.teamasgard.com.br/wp-content/uploads/2024/07/LOGO-ASGARD-PNG.webp\" alt=\"Team Asgard Logo\">\n    <h2>🚀 Cadastrar-se</h2>\n    <p>Preencha seus dados para entrar na comunidade <b>Team Asgard</b></p>\n    <form id=\"leadForm\">\n      <label for=\"nome\">Nome</label>\n      <input type=\"text\" id=\"nome\" name=\"nome\" placeholder=\"Seu nome completo\" required>\n      \n      <label for=\"email\">Email</label>\n      <input type=\"email\" id=\"email\" name=\"email\" placeholder=\"seu@exemplo.com\" required>\n      \n      <label for=\"whatsapp\">WhatsApp</label>\n      <input type=\"tel\" id=\"whatsapp\" name=\"whatsapp\" placeholder=\"+55 11 9xxxx-xxxx\" required>\n      \n      <button type=\"submit\">CADASTRAR</button>\n      <div class=\"success\" id=\"successMsg\">✅ Cadastro realizado com sucesso!<br>Vou Te enviar no Whatsapp seu acesso</div>\n      <div class=\"error\" id=\"errorMsg\">⚠️ Preencha todos os campos corretamente.</div>\n    </form>\n  </div>\n\n  <script>\nconst form = document.getElementById('leadForm');\nconst success = document.getElementById('successMsg');\nconst error = document.getElementById('errorMsg');\n\nform.addEventListener('submit', async (e) => {\n  e.preventDefault();\n  const nome = form.nome.value.trim();\n  const email = form.email.value.trim();\n  const whatsapp = form.whatsapp.value.trim();\n\n  if (!nome || !email || !whatsapp) {\n    success.style.display = 'none';\n    error.textContent = '⚠️ Preencha todos os campos corretamente.';\n    error.style.display = 'block';\n    return;\n  }\n\n  error.style.display = 'none';\n\n  try {\n    const response = await fetch('https://n8n.typebot.pro/webhook/CADASTRORECEBIDO', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ nome, email, whatsapp })\n    });\n\n    if (!response.ok) throw new Error('Erro no envio');\n\n    success.style.display = 'block';\n    form.reset();\n  } catch (err) {\n    error.textContent = '❌ Não foi possível enviar os dados. Tente novamente.';\n    error.style.display = 'block';\n    console.error(err);\n  }\n});\n</script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-80,-432],"id":"38813ec5-b745-4650-bbfb-14889b110bec","name":"HTML"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[144,-432],"id":"ba1c5124-ceff-49fb-9767-8202f8588272","name":"Respond to Webhook2"},{"parameters":{"httpMethod":"POST","path":"CADASTRORECEBIDO","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-304,-80],"id":"da628235-5ca9-4610-a07d-91948967e4cf","name":"CADASTRO","webhookId":"76823ad5-23f1-41ef-9087-61bedea2556d","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"523f3309-9976-4f3e-b757-cde1ff25ccc5","name":"nome","value":"={{ $json.body.nome }}","type":"string"},{"id":"331d22cc-7f4a-4072-9f71-51311dbad269","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"8dc441e5-3934-4dfa-a632-8027ec494b41","name":"telefone","value":"={{ $json.body.whatsapp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-80],"id":"d0b540ea-73f5-4b7d-9351-45299c833dd2","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://membros.teamasgard.com.br/wp-json/uap/v2/uap-13690-13691","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $json.nome }}"},{"name":"email","value":"={{ $json.email }}"},{"name":"telefone","value":"={{ $json.telefone }}"},{"name":"password","value":"asgard123"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,-80],"id":"4f0f03dd-e1e7-40fb-8482-ed2464018fbb","name":"HTTP Request"},{"parameters":{"content":"## TELA DE CADASTRO\n**FRONT DE CADASTRO","height":320,"width":736,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-352,-544],"typeVersion":1,"id":"23c95007-cbd7-446d-ba89-dc595a5c9e65","name":"Sticky Note"},{"parameters":{"content":"## CRIAÇÃO DE ALUNO\n**CRIA O ALUNO NA AREA DE MEMBROS","height":320,"width":624,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-352,-208],"typeVersion":1,"id":"6d04f096-f423-4529-8c35-b33397576a12","name":"Sticky Note1"},{"parameters":{"content":"## ATUALIZA OU SALVA ALUNO NO GOOGLE SHEET","height":320,"width":336,"color":4},"type":"n8n-nodes-base.stickyNote","position":[288,-208],"typeVersion":1,"id":"b349b97a-f700-4569-9751-1f30c180db1b","name":"Sticky Note2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REMOVER ACESSO","displayName":"REMOVER ACESSO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[400,-80],"id":"de25e053-a8fc-494c-ae11-176d276b8fd0","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"content":"## ENVIA MENSAGEM DE BOAS VINDAS E DADOS DE ACESSO","height":320,"width":336,"color":4},"type":"n8n-nodes-base.stickyNote","position":[640,-208],"typeVersion":1,"id":"843313bb-2624-441c-937c-cece00781183","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/SUPORTESB","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Edit Fields8').item.json.TELEFONE }}"},{"name":"text","value":"=🔥 CONFIRMAÇÃO DE SAQUE | SANTO BET 🔥\n\n📅 Data: {{ $json['DATA PAGAMENTO'] }}\n\nOlá, {{ $('Google Sheets9').item.json.EMAIL }}!\nSeu saque no valor de R$ {{ $json.VALOR }} foi processado com sucesso! ✅💰\n🔑 Chave Pix: {{ $json['CHAVE PIX'] }}\n\nAgradecemos sua parceria! Qualquer dúvida, estamos à disposição. 💚\n\n🔹 Equipe Santo Bet"}]},"options":{}},"id":"014f0c96-11fa-4e18-86d3-126a84433c7f","name":"ENVIA MSG AO ALUNO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,-80],"alwaysOutputData":false},{"parameters":{"content":"## ATUALIZA ENVIO DE MSG DE BOAS VINDAS ENVIADA","height":320,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[992,-208],"typeVersion":1,"id":"ddc4a026-cacf-4cab-8df4-56aab3daf990","name":"Sticky Note4"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REMOVER ACESSO","displayName":"REMOVER ACESSO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1104,-80],"id":"b503f886-cc3d-4567-8098-d4f2a34da829","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"httpMethod":"POST","path":"cadastroasgardmembros","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,384],"id":"66f1682d-36a4-4e5a-a80c-f59e504d4534","name":"Webhook1","webhookId":"95331f32-16fc-4f4a-b625-852e5bd78ef2"},{"parameters":{"assignments":{"assignments":[{"id":"7902b479-c4ff-4c37-a6af-09aac712216a","name":"NOME","value":"={{ $json.body.nome }}","type":"string"},{"id":"fe5e10af-1425-458b-ae29-3468a8468abe","name":"WHATSAPP","value":"={{ $json.body.whatsapp }}","type":"string"},{"id":"19212139-51ed-489a-8b93-4b51f8896cee","name":"EMAIL","value":"={{ $json.body.email }}","type":"string"},{"id":"dd92aed8-cc58-43eb-b1e6-0e55e6cdb8a5","name":"DATA","value":"={{ $json.body.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,384],"id":"0101a67c-10c1-4657-87d2-39d9c150bac8","name":"Edit Fields1"},{"parameters":{"content":"## ENVIA MENSAGEM DE BOAS VINDAS E DADOS DE ACESSO","height":320,"width":336,"color":4},"type":"n8n-nodes-base.stickyNote","position":[256,304],"typeVersion":1,"id":"6a925c05-e04a-476b-aeca-3215d0625dea","name":"Sticky Note5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/ASGARDACADEMY","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.WHATSAPP }}"},{"name":"text","value":"=ASGARD ACADEMY - DADOS DE ACESSO\n\nOlá {{ $json.NOME }}, tudo bem?\n\n✅ Seja bem-vindo(a) à nossa área de membros **TEAM ASGARD**!\n\n🔗 Link de acesso: https://membros.teamasgard.com.br/\n\n👤 Usuário: {{ $json.EMAIL }}\n🔒 Senha: asgard123\n(👉 altere após o primeiro login caso queira)\n\n⚠️ Importante: Salve este contato 📲 para liberar o link e conseguir acessar!\n\n🤝 Junte-se também à nossa comunidade no WhatsApp:\n👉 https://chat.whatsapp.com/J0VrXsn150G4QsiyBylMj2\n"}]},"options":{}},"id":"bf6ae16d-5f07-4b97-acda-baa5360a4494","name":"ENVIA MSG AO ALUNO1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,432],"alwaysOutputData":false},{"parameters":{"content":"## ATUALIZA ENVIO DE MSG DE BOAS VINDAS ENVIADA","height":320,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[608,304],"typeVersion":1,"id":"08fba151-9ead-44c5-bcc1-44654956551d","name":"Sticky Note6"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields1').item.json.EMAIL }}","STATUS ENVIO":"SIM","row_number":0,"CADASTROS OK":"SIM"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[720,432],"id":"2b01e6c2-7670-414f-831f-9969391e7cc5","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"content":"## ENVIAR BOAS VINDAS\n** RECEBE WEBHOOK, TRATA E ENVIA BOAS VINDAS E APOOS MARCA NO SHEET OK","height":416,"width":1360},"type":"n8n-nodes-base.stickyNote","position":[-400,256],"typeVersion":1,"id":"33145d36-88c9-4dca-b474-a26c10ec2231","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[{"id":"7902b479-c4ff-4c37-a6af-09aac712216a","name":"NOME","value":"={{ $json.NOME }}","type":"string"},{"id":"fe5e10af-1425-458b-ae29-3468a8468abe","name":"WHATSAPP","value":"={{ $json.WHATSAPP }}","type":"string"},{"id":"19212139-51ed-489a-8b93-4b51f8896cee","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"},{"id":"dd92aed8-cc58-43eb-b1e6-0e55e6cdb8a5","name":"DATA","value":"={{ $json.DATA }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,832],"id":"05454b25-1a4a-47a7-8c18-9096df4b21d8","name":"Edit Fields2"},{"parameters":{"content":"## ENVIA MENSAGEM DE BOAS VINDAS E DADOS DE ACESSO","height":320,"width":336,"color":4},"type":"n8n-nodes-base.stickyNote","position":[496,720],"typeVersion":1,"id":"d1e6b6fa-f6ff-4dc7-af8a-6abaca10a03b","name":"Sticky Note8"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/ASGARDACADEMY","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.WHATSAPP }}"},{"name":"text","value":"=ASGARD ACADEMY - DADOS DE ACESSO\n\nOlá {{ $json.NOME }}, tudo bem?\n\n✅ Seja bem-vindo(a) à nossa área de membros **TEAM ASGARD**!\n\n🔗 Link de acesso: https://membros.teamasgard.com.br/\n\n👤 Usuário: {{ $json.EMAIL }}\n🔒 Senha: asgard123\n(👉 altere após o primeiro login caso queira)\n\n⚠️ Importante: Salve este contato 📲 para liberar o link e conseguir acessar!\n\n🤝 Junte-se também à nossa comunidade no WhatsApp:\n👉 https://chat.whatsapp.com/J0VrXsn150G4QsiyBylMj2\n"}]},"options":{}},"id":"31a80c0b-b306-4e4d-9027-71eecbf5ba09","name":"ENVIA MSG AO ALUNO2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,848],"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"content":"## ATUALIZA ENVIO DE MSG DE BOAS VINDAS ENVIADA","height":528,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[848,720],"typeVersion":1,"id":"2662e52a-eb34-42a8-9c99-155d2fe695ea","name":"Sticky Note9"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields2').item.json.EMAIL }}","STATUS ENVIO":"SIM","row_number":0,"CADASTROS OK":"SIM"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,832],"id":"4ba7d482-835b-4978-a2dd-501971042349","name":"Update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"content":"## ENVIAR ACESSOS NAO ENVIADOS (MANUAL)\n** LE A TABELA DO SHEET E ENVIA PARA QUEM TEM STATUS ENVIO VAZIO","height":576,"width":1824},"type":"n8n-nodes-base.stickyNote","position":[-400,688],"typeVersion":1,"id":"585b0178-cbbd-42c4-8630-938cfcd8fde8","name":"Sticky Note10"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-352,832],"id":"1f21d538-6b41-4e74-9b52-6b55139dbd3d","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"STATUS ENVIO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-128,832],"id":"d70cd124-83a4-4490-84aa-6b7fc250fae3","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,832],"id":"d19a05aa-ada8-4fd0-806c-01c519369dde","name":"Loop Over Items"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields2').item.json.EMAIL }}","STATUS ENVIO":"NÃO","row_number":0,"CADASTROS OK":"SIM"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,992],"id":"0b3374f7-a7bc-4153-960d-9879198fd7f6","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[32,1056],"id":"bd91634a-64ac-4d5b-a837-94031de4333a","name":"No Operation, do nothing"},{"parameters":{"content":"## FORMS E TELA DE CADASTRO\n**DCADASTRA E JA LIBERA (DESATIVADO)","height":784,"width":1776},"type":"n8n-nodes-base.stickyNote","position":[-400,-640],"typeVersion":1,"id":"118ad95d-f180-4bcb-9993-6662b70a0398","name":"Sticky Note11"},{"parameters":{"amount":"={{Math.floor(Math.random() * (10 - 3 + 1)) + 3}}\n"},"id":"2261d862-7072-4f59-aabe-b53525db6243","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1264,912],"webhookId":"c9cec972-2b86-441b-bcc5-be273613989c"}],"connections":{"Webhook":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Respond to Webhook2":{"main":[[]]},"CADASTRO":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"ENVIA MSG AO ALUNO","type":"main","index":0}]]},"ENVIA MSG AO ALUNO":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"ENVIA MSG AO ALUNO1":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"ENVIA MSG AO ALUNO1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ENVIA MSG AO ALUNO2":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}],[{"node":"Update row in sheet3","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"ENVIA MSG AO ALUNO2","type":"main","index":0}]]},"Update row in sheet2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Update row in sheet3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"132c725e-8b46-410f-980e-bb097c49bb27","activeVersionId":"132c725e-8b46-410f-980e-bb097c49bb27","triggerCount":1,"shared":[{"updatedAt":"2025-09-09T19:58:53.208Z","createdAt":"2025-09-09T19:58:53.208Z","role":"workflow:owner","workflowId":"NTqvicbwqBgWfYzU","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":{"updatedAt":"2025-12-02T03:40:31.482Z","createdAt":"2025-12-02T03:40:31.482Z","versionId":"132c725e-8b46-410f-980e-bb097c49bb27","workflowId":"NTqvicbwqBgWfYzU","nodes":[{"parameters":{"path":"ASGARDACADEMY","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,-432],"id":"773b8fba-00b6-4662-81d6-04237c6f90a8","name":"Webhook","webhookId":"f082e427-0b03-4032-bbc1-3ffbc286c2f6","disabled":true},{"parameters":{"html":"<!doctype html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n  <title>Cadastro - Team Asgard</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      background: linear-gradient(135deg, #0f172a, #1e3a8a, #3b82f6);\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      height: 100vh;\n      margin: 0;\n    }\n    .card {\n      background: #fff;\n      padding: 32px;\n      border-radius: 20px;\n      box-shadow: 0 12px 40px rgba(0,0,0,0.15);\n      max-width: 420px;\n      width: 100%;\n      text-align: center;\n      animation: fadeIn 0.7s ease;\n    }\n    @keyframes fadeIn {\n      from {opacity: 0; transform: translateY(20px);}\n      to {opacity: 1; transform: translateY(0);}\n    }\n    .logo {\n      width: 160px;\n      margin-bottom: 20px;\n    }\n    h2 {\n      margin-bottom: 8px;\n      font-size: 24px;\n      color: #1e3a8a;\n    }\n    p {\n      margin-bottom: 24px;\n      color: #555;\n      font-size: 14px;\n    }\n    label {\n      display: block;\n      text-align: left;\n      font-weight: 600;\n      margin: 8px 0 4px;\n      color: #333;\n      font-size: 14px;\n    }\n    input {\n      width: 100%;\n      padding: 12px;\n      border: 2px solid #e5e7eb;\n      border-radius: 12px;\n      font-size: 15px;\n      transition: all 0.3s ease;\n    }\n    input:focus {\n      border-color: #3b82f6;\n      box-shadow: 0 0 0 4px rgba(59,130,246,0.2);\n      outline: none;\n    }\n    button {\n      margin-top: 20px;\n      width: 100%;\n      padding: 14px;\n      font-size: 16px;\n      font-weight: bold;\n      border: none;\n      border-radius: 12px;\n      background: linear-gradient(135deg,#3b82f6,#2563eb);\n      color: #fff;\n      cursor: pointer;\n      transition: transform 0.2s ease, box-shadow 0.2s ease;\n    }\n    button:hover {\n      transform: translateY(-2px);\n      box-shadow: 0 8px 20px rgba(59,130,246,0.4);\n    }\n    .success, .error {\n      display: none;\n      margin-top: 16px;\n      padding: 12px;\n      border-radius: 12px;\n      font-weight: 600;\n      font-size: 14px;\n    }\n    .success {\n      background: rgba(16,185,129,0.15);\n      color: #047857;\n    }\n    .error {\n      background: rgba(239,68,68,0.15);\n      color: #b91c1c;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <img class=\"logo\" src=\"https://www.teamasgard.com.br/wp-content/uploads/2024/07/LOGO-ASGARD-PNG.webp\" alt=\"Team Asgard Logo\">\n    <h2>🚀 Cadastrar-se</h2>\n    <p>Preencha seus dados para entrar na comunidade <b>Team Asgard</b></p>\n    <form id=\"leadForm\">\n      <label for=\"nome\">Nome</label>\n      <input type=\"text\" id=\"nome\" name=\"nome\" placeholder=\"Seu nome completo\" required>\n      \n      <label for=\"email\">Email</label>\n      <input type=\"email\" id=\"email\" name=\"email\" placeholder=\"seu@exemplo.com\" required>\n      \n      <label for=\"whatsapp\">WhatsApp</label>\n      <input type=\"tel\" id=\"whatsapp\" name=\"whatsapp\" placeholder=\"+55 11 9xxxx-xxxx\" required>\n      \n      <button type=\"submit\">CADASTRAR</button>\n      <div class=\"success\" id=\"successMsg\">✅ Cadastro realizado com sucesso!<br>Vou Te enviar no Whatsapp seu acesso</div>\n      <div class=\"error\" id=\"errorMsg\">⚠️ Preencha todos os campos corretamente.</div>\n    </form>\n  </div>\n\n  <script>\nconst form = document.getElementById('leadForm');\nconst success = document.getElementById('successMsg');\nconst error = document.getElementById('errorMsg');\n\nform.addEventListener('submit', async (e) => {\n  e.preventDefault();\n  const nome = form.nome.value.trim();\n  const email = form.email.value.trim();\n  const whatsapp = form.whatsapp.value.trim();\n\n  if (!nome || !email || !whatsapp) {\n    success.style.display = 'none';\n    error.textContent = '⚠️ Preencha todos os campos corretamente.';\n    error.style.display = 'block';\n    return;\n  }\n\n  error.style.display = 'none';\n\n  try {\n    const response = await fetch('https://n8n.typebot.pro/webhook/CADASTRORECEBIDO', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ nome, email, whatsapp })\n    });\n\n    if (!response.ok) throw new Error('Erro no envio');\n\n    success.style.display = 'block';\n    form.reset();\n  } catch (err) {\n    error.textContent = '❌ Não foi possível enviar os dados. Tente novamente.';\n    error.style.display = 'block';\n    console.error(err);\n  }\n});\n</script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-80,-432],"id":"38813ec5-b745-4650-bbfb-14889b110bec","name":"HTML"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[144,-432],"id":"ba1c5124-ceff-49fb-9767-8202f8588272","name":"Respond to Webhook2"},{"parameters":{"httpMethod":"POST","path":"CADASTRORECEBIDO","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-304,-80],"id":"da628235-5ca9-4610-a07d-91948967e4cf","name":"CADASTRO","webhookId":"76823ad5-23f1-41ef-9087-61bedea2556d","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"523f3309-9976-4f3e-b757-cde1ff25ccc5","name":"nome","value":"={{ $json.body.nome }}","type":"string"},{"id":"331d22cc-7f4a-4072-9f71-51311dbad269","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"8dc441e5-3934-4dfa-a632-8027ec494b41","name":"telefone","value":"={{ $json.body.whatsapp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-80],"id":"d0b540ea-73f5-4b7d-9351-45299c833dd2","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://membros.teamasgard.com.br/wp-json/uap/v2/uap-13690-13691","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $json.nome }}"},{"name":"email","value":"={{ $json.email }}"},{"name":"telefone","value":"={{ $json.telefone }}"},{"name":"password","value":"asgard123"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,-80],"id":"4f0f03dd-e1e7-40fb-8482-ed2464018fbb","name":"HTTP Request"},{"parameters":{"content":"## TELA DE CADASTRO\n**FRONT DE CADASTRO","height":320,"width":736,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-352,-544],"typeVersion":1,"id":"23c95007-cbd7-446d-ba89-dc595a5c9e65","name":"Sticky Note"},{"parameters":{"content":"## CRIAÇÃO DE ALUNO\n**CRIA O ALUNO NA AREA DE MEMBROS","height":320,"width":624,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-352,-208],"typeVersion":1,"id":"6d04f096-f423-4529-8c35-b33397576a12","name":"Sticky Note1"},{"parameters":{"content":"## ATUALIZA OU SALVA ALUNO NO GOOGLE SHEET","height":320,"width":336,"color":4},"type":"n8n-nodes-base.stickyNote","position":[288,-208],"typeVersion":1,"id":"b349b97a-f700-4569-9751-1f30c180db1b","name":"Sticky Note2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REMOVER ACESSO","displayName":"REMOVER ACESSO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[400,-80],"id":"de25e053-a8fc-494c-ae11-176d276b8fd0","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"content":"## ENVIA MENSAGEM DE BOAS VINDAS E DADOS DE ACESSO","height":320,"width":336,"color":4},"type":"n8n-nodes-base.stickyNote","position":[640,-208],"typeVersion":1,"id":"843313bb-2624-441c-937c-cece00781183","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/SUPORTESB","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Edit Fields8').item.json.TELEFONE }}"},{"name":"text","value":"=🔥 CONFIRMAÇÃO DE SAQUE | SANTO BET 🔥\n\n📅 Data: {{ $json['DATA PAGAMENTO'] }}\n\nOlá, {{ $('Google Sheets9').item.json.EMAIL }}!\nSeu saque no valor de R$ {{ $json.VALOR }} foi processado com sucesso! ✅💰\n🔑 Chave Pix: {{ $json['CHAVE PIX'] }}\n\nAgradecemos sua parceria! Qualquer dúvida, estamos à disposição. 💚\n\n🔹 Equipe Santo Bet"}]},"options":{}},"id":"014f0c96-11fa-4e18-86d3-126a84433c7f","name":"ENVIA MSG AO ALUNO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,-80],"alwaysOutputData":false},{"parameters":{"content":"## ATUALIZA ENVIO DE MSG DE BOAS VINDAS ENVIADA","height":320,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[992,-208],"typeVersion":1,"id":"ddc4a026-cacf-4cab-8df4-56aab3daf990","name":"Sticky Note4"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REMOVER ACESSO","displayName":"REMOVER ACESSO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1104,-80],"id":"b503f886-cc3d-4567-8098-d4f2a34da829","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"httpMethod":"POST","path":"cadastroasgardmembros","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,384],"id":"66f1682d-36a4-4e5a-a80c-f59e504d4534","name":"Webhook1","webhookId":"95331f32-16fc-4f4a-b625-852e5bd78ef2"},{"parameters":{"assignments":{"assignments":[{"id":"7902b479-c4ff-4c37-a6af-09aac712216a","name":"NOME","value":"={{ $json.body.nome }}","type":"string"},{"id":"fe5e10af-1425-458b-ae29-3468a8468abe","name":"WHATSAPP","value":"={{ $json.body.whatsapp }}","type":"string"},{"id":"19212139-51ed-489a-8b93-4b51f8896cee","name":"EMAIL","value":"={{ $json.body.email }}","type":"string"},{"id":"dd92aed8-cc58-43eb-b1e6-0e55e6cdb8a5","name":"DATA","value":"={{ $json.body.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,384],"id":"0101a67c-10c1-4657-87d2-39d9c150bac8","name":"Edit Fields1"},{"parameters":{"content":"## ENVIA MENSAGEM DE BOAS VINDAS E DADOS DE ACESSO","height":320,"width":336,"color":4},"type":"n8n-nodes-base.stickyNote","position":[256,304],"typeVersion":1,"id":"6a925c05-e04a-476b-aeca-3215d0625dea","name":"Sticky Note5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/ASGARDACADEMY","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.WHATSAPP }}"},{"name":"text","value":"=ASGARD ACADEMY - DADOS DE ACESSO\n\nOlá {{ $json.NOME }}, tudo bem?\n\n✅ Seja bem-vindo(a) à nossa área de membros **TEAM ASGARD**!\n\n🔗 Link de acesso: https://membros.teamasgard.com.br/\n\n👤 Usuário: {{ $json.EMAIL }}\n🔒 Senha: asgard123\n(👉 altere após o primeiro login caso queira)\n\n⚠️ Importante: Salve este contato 📲 para liberar o link e conseguir acessar!\n\n🤝 Junte-se também à nossa comunidade no WhatsApp:\n👉 https://chat.whatsapp.com/J0VrXsn150G4QsiyBylMj2\n"}]},"options":{}},"id":"bf6ae16d-5f07-4b97-acda-baa5360a4494","name":"ENVIA MSG AO ALUNO1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,432],"alwaysOutputData":false},{"parameters":{"content":"## ATUALIZA ENVIO DE MSG DE BOAS VINDAS ENVIADA","height":320,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[608,304],"typeVersion":1,"id":"08fba151-9ead-44c5-bcc1-44654956551d","name":"Sticky Note6"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields1').item.json.EMAIL }}","STATUS ENVIO":"SIM","row_number":0,"CADASTROS OK":"SIM"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[720,432],"id":"2b01e6c2-7670-414f-831f-9969391e7cc5","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"content":"## ENVIAR BOAS VINDAS\n** RECEBE WEBHOOK, TRATA E ENVIA BOAS VINDAS E APOOS MARCA NO SHEET OK","height":416,"width":1360},"type":"n8n-nodes-base.stickyNote","position":[-400,256],"typeVersion":1,"id":"33145d36-88c9-4dca-b474-a26c10ec2231","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[{"id":"7902b479-c4ff-4c37-a6af-09aac712216a","name":"NOME","value":"={{ $json.NOME }}","type":"string"},{"id":"fe5e10af-1425-458b-ae29-3468a8468abe","name":"WHATSAPP","value":"={{ $json.WHATSAPP }}","type":"string"},{"id":"19212139-51ed-489a-8b93-4b51f8896cee","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"},{"id":"dd92aed8-cc58-43eb-b1e6-0e55e6cdb8a5","name":"DATA","value":"={{ $json.DATA }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,832],"id":"05454b25-1a4a-47a7-8c18-9096df4b21d8","name":"Edit Fields2"},{"parameters":{"content":"## ENVIA MENSAGEM DE BOAS VINDAS E DADOS DE ACESSO","height":320,"width":336,"color":4},"type":"n8n-nodes-base.stickyNote","position":[496,720],"typeVersion":1,"id":"d1e6b6fa-f6ff-4dc7-af8a-6abaca10a03b","name":"Sticky Note8"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/ASGARDACADEMY","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.WHATSAPP }}"},{"name":"text","value":"=ASGARD ACADEMY - DADOS DE ACESSO\n\nOlá {{ $json.NOME }}, tudo bem?\n\n✅ Seja bem-vindo(a) à nossa área de membros **TEAM ASGARD**!\n\n🔗 Link de acesso: https://membros.teamasgard.com.br/\n\n👤 Usuário: {{ $json.EMAIL }}\n🔒 Senha: asgard123\n(👉 altere após o primeiro login caso queira)\n\n⚠️ Importante: Salve este contato 📲 para liberar o link e conseguir acessar!\n\n🤝 Junte-se também à nossa comunidade no WhatsApp:\n👉 https://chat.whatsapp.com/J0VrXsn150G4QsiyBylMj2\n"}]},"options":{}},"id":"31a80c0b-b306-4e4d-9027-71eecbf5ba09","name":"ENVIA MSG AO ALUNO2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,848],"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"content":"## ATUALIZA ENVIO DE MSG DE BOAS VINDAS ENVIADA","height":528,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[848,720],"typeVersion":1,"id":"2662e52a-eb34-42a8-9c99-155d2fe695ea","name":"Sticky Note9"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields2').item.json.EMAIL }}","STATUS ENVIO":"SIM","row_number":0,"CADASTROS OK":"SIM"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,832],"id":"4ba7d482-835b-4978-a2dd-501971042349","name":"Update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"content":"## ENVIAR ACESSOS NAO ENVIADOS (MANUAL)\n** LE A TABELA DO SHEET E ENVIA PARA QUEM TEM STATUS ENVIO VAZIO","height":576,"width":1824},"type":"n8n-nodes-base.stickyNote","position":[-400,688],"typeVersion":1,"id":"585b0178-cbbd-42c4-8630-938cfcd8fde8","name":"Sticky Note10"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-352,832],"id":"1f21d538-6b41-4e74-9b52-6b55139dbd3d","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"STATUS ENVIO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-128,832],"id":"d70cd124-83a4-4490-84aa-6b7fc250fae3","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,832],"id":"d19a05aa-ada8-4fd0-806c-01c519369dde","name":"Loop Over Items"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields2').item.json.EMAIL }}","STATUS ENVIO":"NÃO","row_number":0,"CADASTROS OK":"SIM"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTROS OK","displayName":"CADASTROS OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,992],"id":"0b3374f7-a7bc-4153-960d-9879198fd7f6","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[32,1056],"id":"bd91634a-64ac-4d5b-a837-94031de4333a","name":"No Operation, do nothing"},{"parameters":{"content":"## FORMS E TELA DE CADASTRO\n**DCADASTRA E JA LIBERA (DESATIVADO)","height":784,"width":1776},"type":"n8n-nodes-base.stickyNote","position":[-400,-640],"typeVersion":1,"id":"118ad95d-f180-4bcb-9993-6662b70a0398","name":"Sticky Note11"},{"parameters":{"amount":"={{Math.floor(Math.random() * (10 - 3 + 1)) + 3}}\n"},"id":"2261d862-7072-4f59-aabe-b53525db6243","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1264,912],"webhookId":"c9cec972-2b86-441b-bcc5-be273613989c"}],"connections":{"Webhook":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Respond to Webhook2":{"main":[[]]},"CADASTRO":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"ENVIA MSG AO ALUNO","type":"main","index":0}]]},"ENVIA MSG AO ALUNO":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"ENVIA MSG AO ALUNO1":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"ENVIA MSG AO ALUNO1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ENVIA MSG AO ALUNO2":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}],[{"node":"Update row in sheet3","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"ENVIA MSG AO ALUNO2","type":"main","index":0}]]},"Update row in sheet2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Update row in sheet3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null},"tags":[]}