cap-face-ads-E5nWiUosqAZhlHt2.json
{"createdAt":"2024-11-01T22:45:44.208Z","updatedAt":"2024-11-01T22:45:44.208Z","id":"E5nWiUosqAZhlHt2","name":"CAP FACE ADS","active":false,"nodes":[{"parameters":{},"id":"ffb048be-638c-4745-960c-2b08f6d5a8b5","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[740,300],"typeVersion":1},{"parameters":{"respondWith":"text","responseBody":"={{$json[\"query\"][\"hub.challenge\"]}}","options":{}},"name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[980,520],"id":"d24632db-abd0-4d11-aa5b-f47337fe1449"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"EMAIL","value":"={{ $json.email }}"},{"name":"NOME","value":"={{ $json.full_name }}"},{"name":"DATA","value":"={{$node[\"Date & Time\"].json[\"data\"]}}"},{"name":"WHATSAPP","value":"={{ $json.phone_number }}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[2040,640],"id":"e0f0e664-1a85-45c5-937c-c813e1de163c"},{"parameters":{"value":"={{$json[\"created_time\"]}}","custom":true,"toFormat":"DD/MM/YYYY HH:mm","options":{"fromTimezone":"America/Sao_Paulo"}},"name":"Date & Time","type":"n8n-nodes-base.dateTime","typeVersion":1,"position":[1886,640],"id":"59992f73-7d33-4b08-99e7-300fa96f7623"},{"parameters":{"url":"=https://graph.facebook.com/v19.0/{{$json[\"body\"][\"entry\"][0][\"changes\"][0][\"value\"][\"leadgen_id\"]}}","options":{},"queryParametersUi":{"parameter":[{"name":"access_token","value":"<SEU TOKEN DE ACESSO>"}]}},"name":"Obter dados lead","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1560,640],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"id":"ce39e86d-87f6-4d26-85be-f200b8900e53"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"query\"][\"hub.verify_token\"]}}","value2":"va1234"}]}},"name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[726,640],"id":"98663b4e-ddec-4151-83ea-f51418ba552f"},{"parameters":{},"name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[986,760],"id":"e414fc9d-359a-4337-8df0-0dced2326576"},{"parameters":{"content":"\n# Cadastrar **webhook**\n","height":460,"width":726.4033082417657},"name":"Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460],"id":"2d5f8b4e-c2e9-4bd8-bebf-28ecb6911cbf"},{"parameters":{"content":"# **FB LEADS ADS > N8N > SHEETS > HUBSPOT > EMAIL > WHATS 🚀**\n","height":577.9996621392863,"width":1069.6724862418132,"color":4},"name":"Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1346,460],"id":"7c56142d-1b1f-4bad-83bb-1b939516b127"},{"parameters":{"httpMethod":"POST","path":"d09dfb46-3dfd-43b3-a61b-f28c8cec75da","options":{}},"name":"Webhook cadastros","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[1386,640],"webhookId":"523d849e-a2ec-4146-a920-3f4146779008","id":"f493cb6f-b8e2-4eb5-89f2-f3a9dd6c40d2"},{"parameters":{"functionCode":"for (i in item.field_data) {\n  item[item.field_data[i].name] = item.field_data[i].values[0];\n}\nreturn item;"},"name":"Cria campos com o nome","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1726,640],"id":"e38b1405-2b15-4b94-a4bf-26dddf2ae3d3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"141s35J533hsGukAa4N_q0b_jjaBRGqjCJIslETiNprA","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/141s35J533hsGukAa4N_q0b_jjaBRGqjCJIslETiNprA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.DATA }}","NOME":"={{ $json.NOME }}","EMAIL":"={{ $json.EMAIL }}","WHATSAPP":"={{ $json.WHATSAPP }}"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"d44ab5fa-51ac-4229-b7b9-1ef650192075","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2206,640]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"var name =  $json.NOME;\n\nif (name != null) {\n  var fname = name.split(' ');\n  $json[\"nome\"] = fname[0];\n  if (fname.length > 1) {\n    $json[\"sobrenome\"] = fname.slice(1).join(' ');\n  } else {\n    $json[\"sobrenome\"] = \"\";\n  }\n}\n\nreturn {\n  json: $json\n};\n"},"id":"fdc32ea2-79a0-452c-a38b-9da2c7d2b47f","name":"Retorna nome e sobrenome","type":"n8n-nodes-base.code","typeVersion":1,"position":[1406,840]},{"parameters":{"authentication":"appToken","resource":"contact","email":"={{ $json.EMAIL }}","additionalFields":{"contactOwner":741047180,"firstName":"={{ $('Retorna nome e sobrenome').item.json[\"nome\"] }}","lastName":"={{ $('Retorna nome e sobrenome').item.json[\"sobrenome\"] }}","phoneNumber":"={{ $json.WHATSAPP }}"}},"id":"db6d7394-60b9-49e1-a9f5-9cdb9d1d6e9a","name":"Criar ou atualizar contato","type":"n8n-nodes-base.hubspot","typeVersion":1,"position":[1566,840]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"URL API","value":"<SUA URL EVO>"},{"name":"APIKEY","value":"<SUA API KEY EVO>"},{"name":"Nome da Instancia","value":"<SUA INSTANCIA EVO>"},{"name":"Telefone","value":"={{ $('Retorna nome e sobrenome').item.json.WHATSAPP }}"},{"name":"Nome","value":"={{ $('Retorna nome e sobrenome').item.json.NOME }}"}]},"options":{}},"id":"755045d4-cd36-4408-bdae-78c037b35ba1","name":"EvolutionAPI","type":"n8n-nodes-base.set","typeVersion":2,"position":[1886,840]},{"parameters":{"method":"POST","url":"={{ $node[\"EvolutionAPI\"].json[\"URL API\"] }}/message/sendText/{{ $node [\"EvolutionAPI\"].json['Nome da Instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $node[\"EvolutionAPI\"].json.APIKEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.Telefone }}\",\n  \"options\": {\n    \"delay\": 0,\n    \"presence\": \"composing\"\n  },\n  \"textMessage\": {\n    \"text\": \"Olá, {{ $('Set').item.json.NOME }}, tudo bem? <SEU TEXTO>\"\n  }\n} ","options":{}},"id":"a4d28965-57ee-41b3-80b7-ec29c59cb231","name":"Enviar Mensagem WhatsApp Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2040,840],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ $node[\"EvolutionAPI\"].json[\"URL API\"] }}/message/sendText/{{ $node [\"EvolutionAPI\"].json['Nome da Instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $node[\"EvolutionAPI\"].json.APIKEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('EvolutionAPI').item.json.Telefone }}\",\n  \"options\": {\n    \"delay\": 50,\n    \"presence\": \"composing\"\n  },\n  \"textMessage\": {\n    \"text\": \"{{ $('Set').item.json.NOME }}, <SEU TEXTO>\"\n  }\n}\n","options":{}},"id":"a93e87f1-8c3b-4f14-9bc6-f492792ddf7d","name":"Enviar Mensagem WhatsApp 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2206,840],"continueOnFail":true},{"parameters":{"fromEmail":"TITULO <aaa@gmail.com>","toEmail":"={{ $('Retorna nome e sobrenome').item.json[\"EMAIL\"] }}","subject":"<Descrição do email>","text":"=SEU TEXTO DE EMAIL","options":{}},"id":"f238b037-25b0-4f33-9e59-4656ae77e406","name":"Enviar Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1726,840]},{"parameters":{"path":"d09dfb46-3dfd-43b3-a61b-f28c8cec75da","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[480,640],"webhookId":"87c70431-85a8-4b19-940c-3901d9cf6b9e","id":"491c2eba-a6e3-42f6-a438-7e2cecd7547b"}],"connections":{"Set":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Set","type":"main","index":0}]]},"Obter dados lead":{"main":[[{"node":"Cria campos com o nome","type":"main","index":0}]]},"IF":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"NoOp","type":"main","index":0}]]},"Webhook cadastros":{"main":[[{"node":"Obter dados lead","type":"main","index":0}]]},"Cria campos com o nome":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Retorna nome e sobrenome","type":"main","index":0}]]},"Retorna nome e sobrenome":{"main":[[{"node":"Criar ou atualizar contato","type":"main","index":0}]]},"Criar ou atualizar contato":{"main":[[{"node":"Enviar Email","type":"main","index":0}]]},"EvolutionAPI":{"main":[[{"node":"Enviar Mensagem WhatsApp Lead","type":"main","index":0}]]},"Enviar Mensagem WhatsApp Lead":{"main":[[{"node":"Enviar Mensagem WhatsApp 2","type":"main","index":0}]]},"Enviar Email":{"main":[[{"node":"EvolutionAPI","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"620dc19a-67af-4d01-927c-c5ee67441725","triggerCount":0,"tags":[]}