chat-luan---coyote-buHTx8Gq7V8zgqPN.json
{"createdAt":"2025-11-25T15:05:03.336Z","updatedAt":"2025-11-25T15:35:17.355Z","id":"buHTx8Gq7V8zgqPN","name":"CHAT LUAN - COYOTE","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"744c0e87-4a0c-4818-b281-5b83b7c5e9f5","name":"data.numero","value":"={{ $json.participante }}","type":"string"},{"id":"c953c65b-60f0-4564-a686-7de49801e353","name":"data.urlapi","value":"https://whatsapi.typebot.pro","type":"string"},{"id":"461e2770-82e0-4af8-9fba-761fdf08a7d2","name":"data.instancia","value":"={{ $('Webhook').item.json.body.instance }}","type":"string"},{"id":"f1d06dba-5d8b-42dd-af60-75547ec05738","name":"data.globalapi","value":"b4d71f9c38e3ac12a6b08e4b6d53aa90","type":"string"},{"id":"0de92c80-a4ad-46d2-98ad-e01536be0f67","name":"data.apikey","value":"b4d71f9c38e3ac12a6b08e4b6d53aa90","type":"string"},{"id":"b9a7f52a-4adb-4e1b-a588-5161815f93c3","name":"data.acao","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"6fb2e3a5-6827-474a-b3a9-0f2ab28bec79","name":"contato","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"id":"5d5ea95a-b3e7-4c75-805a-5bcdb334967e","name":"DADOS","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-304]},{"parameters":{"content":"## START E DADOS\n**CONFIGURAR SEU WEBHOOK E DEFINIR A CONFIGURAÇÃO DE ADM","height":498,"width":1246,"color":4},"id":"9f3a5ff7-e659-4c98-9201-4e5c19c8e968","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-432,-368]},{"parameters":{"jsCode":"// Para cada item no array, edite o campo \"participante\"\nreturn items.map(item => {\n  const participante = item.json.participante;\n  \n  // Remova tudo após o @\n  const cleanedParticipante = participante.split('@')[0];\n  \n  // Retorne o item com o valor atualizado\n  return {\n    json: {\n      ...item.json,\n      participante: cleanedParticipante\n    }\n  };\n});\n"},"id":"a5d39489-0b74-4a55-965d-017906c69454","name":"REMOVER NUMERO","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-304]},{"parameters":{"assignments":{"assignments":[{"id":"7fa3b8aa-e310-4a57-9460-a05f635824fe","name":"participante","value":"={{ $json.body.data.key.participant }}","type":"string"},{"id":"d50f6a63-20ed-43e6-a1ca-881493f50a4a","name":"participante","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"26a4adc1-67d7-4eb1-8de0-7e1187d181b2","name":"participante","value":"={{ $json.body.data.key.participantAlt }}","type":"string"}]},"options":{}},"id":"422c0579-9299-4f02-acf2-10f79f03e268","name":"NUMERO ADM","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-304]},{"parameters":{"content":"## MENCIONAR TODOS","height":249,"width":490,"color":3},"id":"555e2613-838f-475e-83b1-4451a820f4ef","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,-176]},{"parameters":{"assignments":{"assignments":[{"id":"3df5be45-f7f7-4297-a1ad-0da61420e6a6","name":"botao.titulo","value":"CERTIFICADO PARA IPHONE","type":"string"},{"id":"a8a466c4-6cd7-4b40-9071-aecadb9fe926","name":"botao.mensagem","value":"=🌟 Vantagens do Certificado para iPhone 🌟\\n\\n✅ Tenha vários WhatsApp, Facebook, Telegram e mais sem precisar de jailbreak 🎉\\n✅ Certificado com validade de 1 ano 📆\\n✅ Instalação simples com tutorial enviado após a compra 📄\\n✅ Suporte especializado e acesso a um grupo exclusivo com várias apps (.ipa) incríveis para instalar 🚀\\n\\n⚡ Aproveite a liberdade e praticidade no seu iPhone! 💻📱","type":"string"}]},"options":{}},"id":"93b9bd93-e074-47d8-b8f2-471bd308c777","name":"DADOS BOTAO13","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[944,-112]},{"parameters":{},"id":"827426b3-6bb6-425e-8eea-958f14dc19bd","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[224,-160]},{"parameters":{"content":"## Start / WEBHOOK","height":222,"width":277,"color":6},"id":"e67b3fa8-3552-49ee-9f9c-737187420781","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,-272]},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/message/sendText/{{ $('DADOS').item.json.data.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('COMANDOS-WHATS1').item.json.contato }}\",\n  \"text\": \"✅ você foi Marcado, não leve a mal esta mensagem, ela é a forma que temos de te avisar de algo importante. A mensagem está acima desta\",\n  \"delay\": 1200,\n  \"quoted\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"linkPreview\": false,\n  \"mentionsEveryOne\": true\n}","options":{}},"id":"15bace23-3ce3-49fc-8c97-8aa989167ca7","name":"ENVIO SEM BOTÃO13","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,-112],"alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7de3a6ae-11ea-4c10-aed7-19f0302b1d26","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"MSG EM GRUPO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9151c9e5-1d23-4167-aa52-2065d31fb6dd","leftValue":"={{ $json.body.data.key.participant }}","rightValue":"247931416395799@lid","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LID LUAN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3bfc46cf-6626-472c-b171-d91211cf1a29","leftValue":"={{ $json.body.data.key.participantAlt }}","rightValue":"553488187499@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JID LUAN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d31367b8-0827-4991-a0c5-fe02211c9a78","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENCERRAR WEBHOOK"}]},"options":{}},"id":"40d08f71-211a-4a26-8b73-45f6a3b2c577","name":"REGRAS PARA SOMENTE EU2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-400,-240]},{"parameters":{"httpMethod":"POST","path":"luancoyote","options":{}},"id":"0389694f-8e2a-4c6b-b42a-68e02e8b1faa","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-688,-208],"webhookId":"c1477320-2e00-4e1f-845b-52016a3c35bb","notesInFlow":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7de3a6ae-11ea-4c10-aed7-19f0302b1d26","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"/","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"COMANDO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c909f544-4bfd-4ce1-af26-be534ff4c0a1","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"=/","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"=MSG COMUM"}]},"options":{}},"id":"e26333f2-8e44-462c-be06-10d3f82b9cb9","name":"CONTEM / COMANDO","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-32,-272]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"686d6896-0bfd-4467-9fe4-502bc48813b8","leftValue":"={{ $('DADOS').item.json.data.acao }}","rightValue":"/todos","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CHAMAR TODOS"}]},"options":{}},"id":"baae3bca-5912-4e07-9be4-935c83a76e8c","name":"COMANDOS-WHATS4","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[672,-112]}],"connections":{"DADOS":{"main":[[{"node":"COMANDOS-WHATS4","type":"main","index":0}]]},"REMOVER NUMERO":{"main":[[{"node":"DADOS","type":"main","index":0}]]},"NUMERO ADM":{"main":[[{"node":"REMOVER NUMERO","type":"main","index":0}]]},"DADOS BOTAO13":{"main":[[{"node":"ENVIO SEM BOTÃO13","type":"main","index":0}]]},"REGRAS PARA SOMENTE EU2":{"main":[[{"node":"CONTEM / COMANDO","type":"main","index":0}],[{"node":"CONTEM / COMANDO","type":"main","index":0}],[{"node":"CONTEM / COMANDO","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"REGRAS PARA SOMENTE EU2","type":"main","index":0}]]},"CONTEM / COMANDO":{"main":[[{"node":"NUMERO ADM","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"COMANDOS-WHATS4":{"main":[[{"node":"DADOS BOTAO13","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4265462f-cc3b-4cf3-a325-c4475e13e1e5","triggerCount":0,"shared":[{"createdAt":"2025-11-25T15:05:03.336Z","updatedAt":"2025-11-25T15:05:03.336Z","role":"workflow:owner","workflowId":"buHTx8Gq7V8zgqPN","projectId":"86fLtGJ4RKYxddia"}],"tags":[]}