conectar-evo-via---web-JWFa5boFnK2o9MqS.json
{"createdAt":"2025-04-14T23:03:21.898Z","updatedAt":"2025-04-14T23:18:54.966Z","id":"JWFa5boFnK2o9MqS","name":"CONECTAR EVO VIA - WEB","active":true,"nodes":[{"parameters":{"path":"conectar","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"f3c4f4de-e3a5-410b-9f2e-48167b18969b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1300,260],"webhookId":"f3fd55e9-fd2d-44f6-9244-354d8b41266b"},{"parameters":{"respondWith":"text","responseBody":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Dispositivo Conectado</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif;\n            min-height: 100vh;\n            background: linear-gradient(to bottom, #dcfce7, #ffffff);\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            padding: 1rem;\n        }\n\n        .container {\n            max-width: 32rem;\n            width: 100%;\n            background: white;\n            border-radius: 1rem;\n            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);\n            padding: 2rem;\n            text-align: center;\n        }\n\n        .success-icon {\n            width: 48px;\n            height: 48px;\n            margin: 0 auto 1.5rem;\n            color: #16a34a;\n        }\n\n        .avatar-container {\n            position: relative;\n            width: 200px;\n            height: 200px;\n            margin: 2rem auto;\n        }\n\n        .avatar-border {\n            position: absolute;\n            top: -8px;\n            left: -8px;\n            right: -8px;\n            bottom: -8px;\n            border-radius: 50%;\n            background: conic-gradient(from 0deg, #16a34a, #86efac, #16a34a);\n            animation: spin 4s linear infinite;\n        }\n\n        @keyframes spin {\n            100% {\n                transform: rotate(360deg);\n            }\n        }\n\n        .avatar-wrapper {\n            position: relative;\n            width: 100%;\n            height: 100%;\n            border-radius: 50%;\n            overflow: hidden;\n            background: white;\n        }\n\n        #avatar-image {\n            width: 100%;\n            height: 100%;\n            object-fit: cover;\n            border-radius: 50%;\n        }\n\n        h1 {\n            color: #1f2937;\n            font-size: 1.875rem;\n            font-weight: bold;\n            margin-bottom: 1rem;\n        }\n\n        .status {\n            display: inline-flex;\n            align-items: center;\n            gap: 0.5rem;\n            background: #f0fdf4;\n            color: #16a34a;\n            padding: 0.5rem 1rem;\n            border-radius: 9999px;\n            font-weight: 500;\n            margin-bottom: 2rem;\n        }\n\n        .phone-number {\n            color: #4b5563;\n            font-size: 1.25rem;\n            margin-top: 1.5rem;\n        }\n\n        .phone-label {\n            color: #6b7280;\n            font-size: 0.875rem;\n            margin-bottom: 0.5rem;\n        }\n\n        @media (max-width: 640px) {\n            .container {\n                padding: 1.5rem;\n            }\n\n            h1 {\n                font-size: 1.5rem;\n            }\n\n            .avatar-container {\n                width: 150px;\n                height: 150px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"success-icon\">\n            <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\">\n                <path d=\"M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z\"/>\n                <path d=\"m9 12 2 2 4-4\"/>\n            </svg>\n        </div>\n\n        <h1>Dispositivo Conectado</h1>\n        \n        <div class=\"status\">\n            <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\">\n                <path d=\"M5 12l5 5L20 7\"/>\n            </svg>\n            Conexão estabelecida\n        </div>\n\n        <div class=\"avatar-container\">\n            <div class=\"avatar-border\"></div>\n            <div class=\"avatar-wrapper\">\n                <img \n                    id=\"avatar-image\" \n                    alt=\"Foto do Perfil\" \n                    src=\"{{ $json.profilePicUrl }}\"\n                >\n            </div>\n        </div>\n\n        <div class=\"phone-number\">\n            <div class=\"phone-label\">Número conectado</div>\n            <strong>+{{ $json.ownerJid.replace(\"@s.whatsapp.net\", \"\") }}\n</strong>\n        </div>\n    </div>\n</body>\n</html>","options":{}},"id":"f9e7764c-833c-4b70-ace6-4424adab06bc","name":"Dispositivo Conectado","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[180,340]},{"parameters":{"respondWith":"text","responseBody":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>QR Code de Conexão</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif;\n            min-height: 100vh;\n            background: linear-gradient(to bottom, #f0f9ff, #ffffff);\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            padding: 1rem;\n        }\n\n        .container {\n            max-width: 32rem;\n            width: 100%;\n            background: white;\n            border-radius: 1rem;\n            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);\n            padding: 2rem;\n            text-align: center;\n        }\n\n        .icon {\n            width: 48px;\n            height: 48px;\n            margin: 0 auto 1.5rem;\n            color: #0284c7;\n        }\n\n        h1 {\n            color: #1f2937;\n            font-size: 1.875rem;\n            font-weight: bold;\n            margin-bottom: 1rem;\n        }\n\n        .message {\n            color: #4b5563;\n            font-size: 1.125rem;\n            margin-bottom: 2rem;\n        }\n\n        .qr-container {\n            background: #f8fafc;\n            border-radius: 1rem;\n            padding: 2rem;\n            margin-bottom: 2rem;\n            position: relative;\n        }\n\n        .qr-code {\n            max-width: 256px;\n            width: 100%;\n            height: auto;\n            display: block;\n            margin: 0 auto;\n            border-radius: 0.5rem;\n        }\n\n        .pulse {\n            position: absolute;\n            top: 50%;\n            left: 50%;\n            transform: translate(-50%, -50%);\n            width: calc(100% - 2rem);\n            height: calc(100% - 2rem);\n            border-radius: 0.5rem;\n            border: 2px solid #0284c7;\n            animation: pulse 2s infinite;\n        }\n\n        @keyframes pulse {\n            0% {\n                transform: translate(-50%, -50%) scale(0.95);\n                opacity: 1;\n            }\n            70% {\n                transform: translate(-50%, -50%) scale(1);\n                opacity: 0;\n            }\n            100% {\n                transform: translate(-50%, -50%) scale(0.95);\n                opacity: 0;\n            }\n        }\n\n        .instructions {\n            color: #6b7280;\n            font-size: 0.875rem;\n            line-height: 1.5;\n            margin-bottom: 1rem;\n        }\n\n        @media (max-width: 640px) {\n            .container {\n                padding: 1.5rem;\n            }\n\n            h1 {\n                font-size: 1.5rem;\n            }\n\n            .message {\n                font-size: 1rem;\n            }\n\n            .qr-container {\n                padding: 1.5rem;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"icon\">\n            <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\">\n                <path d=\"M3 7V5a2 2 0 0 1 2-2h2\"/>\n                <path d=\"M17 3h2a2 2 0 0 1 2 2v2\"/>\n                <path d=\"M21 17v2a2 2 0 0 1-2 2h-2\"/>\n                <path d=\"M7 21H5a2 2 0 0 1-2-2v-2\"/>\n                <rect width=\"7\" height=\"7\" x=\"7\" y=\"7\" rx=\"1\"/>\n                <rect width=\"7\" height=\"7\" x=\"10\" y=\"10\" rx=\"1\"/>\n            </svg>\n        </div>\n\n        <h1>QR Code de Conexão</h1>\n        \n        <p class=\"message\">\n            Escaneie o código QR abaixo para conectar\n        </p>\n\n        <div class=\"qr-container\">\n            <div class=\"pulse\"></div>\n            <img \n                id=\"qrcode-image\" \n                class=\"qr-code\" \n                alt=\"QR Code de Conexão\" \n                src=\"{{ $node[\"QRcode gerado\"].json[\"base64\"] }}\"\n            >\n        </div>\n\n        <p class=\"instructions\">\n            1. Abra o aplicativo do Whatsapp<br>\n            2. Toque no nos 3 pontos na parte superior direita<br>\n            3. Toque em Dispositivos Conectados<br>\n            4. Toque em Conectar dispositivo<br>\n            5. Aponte a câmera para este código\n        </p>\n    </div>\n</body>\n</html>","options":{}},"id":"f018ca78-ad7e-4821-b06b-5b592a06af36","name":"Gera QRcode","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[60,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"0ffc551f-e083-498f-aee3-5d413365105e","leftValue":"={{ $node[\"Webhook\"].json[\"query\"][\"instancia\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"feb5f48b-6921-433f-8803-00f3f3e3f16a","name":"Existe instância?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1060,260]},{"parameters":{"documentId":{"__rl":true,"value":"1TGwNckD2R5WYjHkAMIFvRTDqccBG5-grJgFHIafkHV8","mode":"list","cachedResultName":"instanciasevolution","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TGwNckD2R5WYjHkAMIFvRTDqccBG5-grJgFHIafkHV8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"INSTANCIAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TGwNckD2R5WYjHkAMIFvRTDqccBG5-grJgFHIafkHV8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"instancia","lookupValue":"={{ $node[\"Webhook\"].json[\"query\"][\"instancia\"] }}"}]},"options":{}},"id":"d53134b6-e302-4777-b885-ae26c151e83f","name":"Busca instancia","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-820,120],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"362282bb-6908-4834-88c8-ed08b480a507","leftValue":"={{ $node[\"Busca instancia\"].json[\"row_number\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"7a963da6-c54e-45a5-98d6-97b4ab9bf065","name":"Verifica instância","type":"n8n-nodes-base.if","typeVersion":2,"position":[-620,120]},{"parameters":{"url":"=https://whatsapi.typebot.pro/instance/connect/WESLEY2","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"57ec53c5bd97b369472d545052e77007"}]},"options":{}},"id":"7aff6f6f-7e0e-48dd-ab1e-102ea31da3b3","name":"QRcode","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"874028c7-7ded-4272-8132-6fa8625032fe","leftValue":"={{ $node[\"QRcode\"].json[\"instance\"][\"state\"] }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"46fb1929-8bd8-4e97-b3f3-2745d2de700d","name":"QRcode gerado","type":"n8n-nodes-base.if","typeVersion":2,"position":[-180,100]},{"parameters":{"url":"=https:/SEULINKDAEVOAQUI/instance/fetchInstances","sendQuery":true,"queryParameters":{"parameters":[{"name":"instanceName","value":"={{ $node[\"Busca instancia\"].json[\"instancia\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SUAAPIGLOBAL"}]},"options":{}},"id":"725c5a6c-dc3b-40f4-99b7-4fb11b26f1fd","name":"Pega número","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,340]},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Acesso Proibido</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif;\n            min-height: 100vh;\n            background: linear-gradient(to bottom, #fee2e2, #ffffff);\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            padding: 1rem;\n        }\n\n        .container {\n            max-width: 32rem;\n            width: 100%;\n            background: white;\n            border-radius: 1rem;\n            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);\n            padding: 2rem;\n            text-align: center;\n        }\n\n        .icon {\n            width: 80px;\n            height: 80px;\n            margin: 0 auto 1.5rem;\n        }\n\n        h1 {\n            color: #1f2937;\n            font-size: 1.875rem;\n            font-weight: bold;\n            margin-bottom: 1rem;\n        }\n\n        .message {\n            color: #4b5563;\n            font-size: 1.125rem;\n            margin-bottom: 0.5rem;\n        }\n\n        .submessage {\n            color: #6b7280;\n            margin-bottom: 2rem;\n        }\n\n        .error-box {\n            background-color: #fee2e2;\n            border-radius: 0.5rem;\n            padding: 1rem;\n            margin-bottom: 2rem;\n        }\n\n        .error-text {\n            color: #dc2626;\n            font-size: 0.875rem;\n        }\n\n        .button {\n            background-color: #dc2626;\n            color: white;\n            border: none;\n            padding: 0.75rem 1.5rem;\n            border-radius: 0.5rem;\n            font-size: 1rem;\n            cursor: pointer;\n            transition: background-color 0.2s;\n        }\n\n        .button:hover {\n            background-color: #b91c1c;\n        }\n\n        @media (max-width: 640px) {\n            .container {\n                padding: 1.5rem;\n            }\n\n            h1 {\n                font-size: 1.5rem;\n            }\n\n            .message {\n                font-size: 1rem;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"icon\">\n            <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#dc2626\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\">\n                <path d=\"M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z\"/>\n                <line x1=\"16.5\" y1=\"7.5\" x2=\"7.5\" y2=\"16.5\"/>\n                <line x1=\"7.5\" y1=\"7.5\" x2=\"16.5\" y2=\"16.5\"/>\n            </svg>\n        </div>\n\n        <h1>Acesso Proibido</h1>\n        \n        <p class=\"message\">\n            Desculpe, você não tem autorização para acessar esta página.\n        </p>\n        <p class=\"submessage\">\n            Por favor, verifique suas credenciais ou entre em contato com o administrador do sistema.\n        </p>\n\n        <div class=\"error-box\">\n            <p class=\"error-text\">\n                Erro: Parâmetros de acesso inválidos ou insuficientes.\n            </p>\n        </div>\n\n        <button onclick=\"window.history.back()\" class=\"button\">\n            Voltar\n        </button>\n    </div>\n</body>\n</html>","options":{}},"id":"9a3f90e7-1c8f-455c-bbea-2e5ed703141e","name":"Não existe","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-620,380]},{"parameters":{"content":"Aqui você coloca a URL da sua Evolution","height":240,"width":200},"type":"n8n-nodes-base.stickyNote","position":[-440,20],"typeVersion":1,"id":"c4e2ac1d-6522-40e4-9333-6e5a56948411","name":"Sticky Note"},{"parameters":{"content":"Aqui a API GLOBAL DA EVO.\nAquela recebida na Instalação","height":180,"width":360},"type":"n8n-nodes-base.stickyNote","position":[-240,320],"typeVersion":1,"id":"1b1160ff-ac91-47bd-9eaa-b5b9fabe2f88","name":"Sticky Note1"}],"connections":{"Webhook":{"main":[[{"node":"Existe instância?","type":"main","index":0}]]},"Existe instância?":{"main":[[{"node":"Busca instancia","type":"main","index":0}],[{"node":"Não existe","type":"main","index":0}]]},"Busca instancia":{"main":[[{"node":"Verifica instância","type":"main","index":0}]]},"Verifica instância":{"main":[[{"node":"QRcode","type":"main","index":0}],[{"node":"Não existe","type":"main","index":0}]]},"QRcode":{"main":[[{"node":"QRcode gerado","type":"main","index":0}]]},"QRcode gerado":{"main":[[{"node":"Gera QRcode","type":"main","index":0}],[{"node":"Pega número","type":"main","index":0}]]},"Pega número":{"main":[[{"node":"Dispositivo Conectado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"409abce3-99e5-45c5-afcf-e98807c2e200","triggerCount":1,"tags":[]}