conversa-instagram-2AYhxmV6I8iSCdDM.json
{"createdAt":"2024-11-28T14:52:49.316Z","updatedAt":"2024-11-28T14:52:49.316Z","id":"2AYhxmV6I8iSCdDM","name":"CONVERSA INSTAGRAM","active":false,"nodes":[{"parameters":{"content":"token instagram\n\nIGQWRQVFh4ZAHdwcXkwUVlmYk0xdy1Xb29yQ3ZA3NGM0cjBMZA20tYnJ4NUNaMGFSNGNmV0NKaFNObkdFRGdoUW9vWjFiRFB1MWFhTHpMTnRQRncwSVpKd3ZANdFJ0cUh5RG4waDBieFMzSEJRNnhIOTROTG1Oa0RYcjgZD","width":461.3775933609958},"id":"56a1beab-5d8e-423f-957d-044568a6e4f8","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,220]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"id":"7504c0f4-d276-49bd-9fee-0c2b90494e81","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[740,500]},{"parameters":{"path":"f45d8f7f-6d2d-41ea-bba6-8a9a4e8c2328","responseMode":"responseNode","options":{}},"id":"ee19aa39-3cc3-469b-af2c-a57edce902a6","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[480,500],"webhookId":"f45d8f7f-6d2d-41ea-bba6-8a9a4e8c2328"},{"parameters":{"assignments":{"assignments":[{"id":"74086113-ee6b-4a24-9a10-24a6b6530d7a","name":"sender","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"bd28045e-4049-4cfc-8318-42f2d82b9369","name":"recipient","value":"={{ $json.body.entry[0].messaging[0].recipient.id }}","type":"string"},{"id":"d76be487-6cd1-4c50-9447-07aacf36fd31","name":"text","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"},{"id":"75653ce7-37be-4ca1-b43b-0b974bc695c1","name":"page_id","value":"={{ $json.body.entry[0].id }}","type":"string"}]},"options":{}},"id":"3c0b8198-3560-42fa-a439-6234ef669062","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,780]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75d76fb1-ac0f-4462-b182-a35c8c08211b","leftValue":"={{ $json.sender }}","rightValue":"={{ $json.page_id }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"1081c85b-19d5-4766-8064-bab20e61cf6e","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[940,780]},{"parameters":{"assignments":{"assignments":[{"id":"86e4ad81-a4b2-400b-8192-c2bd05d4ac6e","name":"mensagem_enviar","value":"NOTION ASGARD ACADEMY\\n\\n🌟 Mais de 1200 Prompts para usar no ChatGPT e transformar suas estratégias!\\n\\n💡 Entenda o ChatGPT\\n✉ E-mail Marketing\\n📱 Redes Sociais\\n🎥 TikTok ou Instagram\\n📹 Marketing no YouTube\\n🎙 Marketing e Podcast\\n🐦 Twitter\\n📈 Anúncios no Instagram (Meta)\\n🔍 SEO\\n💼 LinkedIn\\n\\n🔥 +350 Prompts específicos para te ajudar:\\n✍ Copywriting\\n📓 Manual dos Negócios\\n💸 Funil Lucrativo\\n🤝 Marketing de Afiliados\\n📲 Marketing por SMS\\n🤖 Atendimento ao Cliente\\n🛒 Website e E-commerce","type":"string"},{"id":"2b0d26de-faf6-42d9-ba30-de77f2640bf7","name":"mensagem_link","value":"https://reflective-zucchini-911.notion.site/ASGARD-ACADEMY-GPT-MASTER-1120d2b8e749804f8365c444ed03bbcb","type":"string"}]},"options":{}},"id":"8df9a08c-7dc3-41a0-a1c7-a57dd5390fe8","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,800]},{"parameters":{"method":"POST","url":"https://graph.instagram.com/v21.0/me/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message.text","value":"={{ $json.mensagem_enviar }}"},{"name":"recipient.id","value":"={{ $('Edit Fields').item.json.sender }}"},{}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"168e66be-6671-4cbf-a696-b4a202848e72","name":"Resposta1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,1220],"credentials":{"httpHeaderAuth":{"id":"HmsyBM9wCzJsvNEC","name":"Header Auth instagram"}}},{"parameters":{"method":"POST","url":"https://graph.instagram.com/v21.0/me/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message.text","value":"=https://reflective-zucchini-911.notion.site/ASGARD-ACADEMY-GPT-MASTER-1120d2b8e749804f8365c444ed03bbcb"},{"name":"recipient.id","value":"={{ $('Edit Fields').item.json.sender }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"3c257097-91bb-42fe-9fda-33359498d6c8","name":"Resposta2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,1220],"credentials":{"httpHeaderAuth":{"id":"HmsyBM9wCzJsvNEC","name":"Header Auth instagram"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84b84a90-bc6c-452a-ab2c-4c99050f43bb","leftValue":"={{ $('Webhook1').item.json.body.entry[0].messaging[0].message.text }}","rightValue":"gpt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"48f2608d-86d6-4756-bdd1-6cd2f1e6838b","leftValue":"={{ $('Webhook1').item.json.body.entry[0].messaging[0].message.text }}","rightValue":"Gpt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"ff681630-25d4-4ee8-91ba-13cfd8f1e4fc","leftValue":"={{ $('Webhook1').item.json.body.entry[0].messaging[0].message.text }}","rightValue":"GPT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"9167d024-39b9-47db-83e3-4b2b77446f86","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,780]},{"parameters":{"amount":10,"path":"769f0b58-f53d-47af-ac51-cacaafc3ad9d"},"id":"3558c629-8413-4e07-a4f5-7566594793b2","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1500,1220],"webhookId":"769f0b58-f53d-47af-ac51-cacaafc3ad9d"},{"parameters":{"httpMethod":"POST","path":"11969ee9-5148-4a62-9acd-f12767f92860","options":{}},"id":"93822a49-fa36-49fe-a128-b5575ec1d563","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[480,780],"webhookId":"11969ee9-5148-4a62-9acd-f12767f92860"},{"parameters":{"method":"POST","url":"https://graph.instagram.com/v21.0/me/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields').item.json.sender }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"{{ $json.mensagem_enviar }}\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n            \"url\": \"{{ $json.mensagem_link }}\",\n            \"title\": \"ACESSAR AQUI\"\n          }\n        ]\n      }\n    }\n  }\n}\n","options":{"response":{"response":{"fullResponse":true}}}},"id":"efc0de22-567b-429f-b1b9-6089e69cfe7b","name":"enviando botão","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,800],"credentials":{"httpHeaderAuth":{"id":"HmsyBM9wCzJsvNEC","name":"Header Auth instagram"}}},{"parameters":{"content":"## conexão api insta","height":276.4179104477611,"width":465.3731343283582},"id":"c9e00124-4535-4ac0-9038-585d4b4076c9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,410.7462686567164]},{"parameters":{"content":"## RECEBIMENTO E RESPOSTA","height":276.4179104477611,"width":913.1343283582087},"id":"7110eabf-e53a-44d9-a8cf-af9380b9a55c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,720]},{"parameters":{"content":"## ENVIO NOTION","height":231.64179104477597,"width":445.9701492537312,"color":4},"id":"54fafd7b-fbf7-4a25-a080-88099f5ee3ef","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,740]}],"connections":{"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"enviando botão","type":"main","index":0}]]},"Resposta1":{"main":[[{"node":"Resposta2","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Resposta1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5dfe0423-efc3-4496-ac50-21181ed3acad","triggerCount":2,"tags":[]}