criar-instancia-evolution-x7oNaYA8qd1hLgWH.json
{"createdAt":"2025-01-27T01:14:53.428Z","updatedAt":"2025-01-27T01:15:04.435Z","id":"x7oNaYA8qd1hLgWH","name":"CRIAR INSTANCIA EVOLUTION","active":false,"nodes":[{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[380,-120],"id":"0ba257fb-aca3-46df-b0eb-7ce598a34dd0","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"https://evolution.grapeassist.com/instance/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"47a665f11ae5f0c476a80f4f87ac7a9a"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"instanceName","value":"={{ $json.body.instanceName }}"},{"name":"qrcode","value":true},{"name":"integration","value":"WHATSAPP-BAILEYS"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,60],"id":"f59f3ebf-4d0b-4028-90ec-09934da514a6","name":"Criar instancia evolution"},{"parameters":{"respondWith":"binary","responseDataSource":"set","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[840,60],"id":"63c6f0e7-e5c9-472d-9478-a022f7c08234","name":"Respond to Webhook1"},{"parameters":{"respondWith":"binary","responseDataSource":"set","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,280],"id":"943fe457-df4f-4b05-a081-5cfd3eda764c","name":"Respond to Webhook2"},{"parameters":{"url":"=https://evolution.grapeassist.com/instance/connect/{{ $json.body.instanceName }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"47a665f11ae5f0c476a80f4f87ac7a9a"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,280],"id":"22e4a501-427e-4b87-b75e-fad75fe2774a","name":"Criar instancia evolution1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[600,60],"id":"8f612558-17c9-4aed-a96b-4bcccba96e0d","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"7997d699-2380-48aa-8dc3-b1eac974e16e","name":"base64","value":"={{ $json.qrcode.base64.split(\",\").last() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,60],"id":"0402ced0-0661-491b-85fa-f0c026443967","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[580,280],"id":"959e9ad9-8a0c-484c-b3e5-706411ddf182","name":"Convert to File1"},{"parameters":{"assignments":{"assignments":[{"id":"7997d699-2380-48aa-8dc3-b1eac974e16e","name":"base64","value":"={{ $json.base64.split(',').last() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[360,280],"id":"9ae278dc-d4ed-42ef-a6e5-eb0b7fdd314b","name":"Edit Fields1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Gerar QR Code</title>\n  <script src=\"https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js\"></script>\n  <style>\n    body {\n      margin: 0;\n      padding: 0;\n      font-family: Arial, sans-serif;\n      color: #fff;\n      overflow: hidden;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: 100vh;\n    }\n\n    #particles-js {\n      position: absolute;\n      width: 100%;\n      height: 100%;\n      background: linear-gradient(135deg, #1a1a1d, #0d0d0f);\n      z-index: -1;\n    }\n\n    .login-container {\n      background-color: rgba(255, 255, 255, 0.95);\n      border-radius: 10px;\n      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);\n      text-align: center;\n      width: 320px;\n      padding: 30px 20px;\n      position: relative;\n      z-index: 10;\n      color: #333;\n      animation: fadeIn 1s ease-out;\n    }\n\n    @keyframes fadeIn {\n      from {\n        opacity: 0;\n        transform: translateY(20px);\n      }\n      to {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n\n    .login-container h1 {\n      font-size: 22px;\n      margin-bottom: 20px;\n    }\n\n    .login-container input {\n      width: 90%;\n      padding: 10px;\n      margin: 10px 0;\n      border: 1px solid #ddd;\n      border-radius: 5px;\n      font-size: 14px;\n      transition: all 0.3s ease;\n    }\n\n    .login-container input:focus {\n      outline: none;\n      border-color: #6a11cb;\n      box-shadow: 0 0 8px rgba(106, 17, 203, 0.5);\n    }\n\n    .login-container button {\n      background-color: #6a11cb;\n      color: #fff;\n      border: none;\n      padding: 12px 20px;\n      border-radius: 5px;\n      cursor: pointer;\n      font-size: 14px;\n      transition: background-color 0.3s, transform 0.2s;\n    }\n\n    .login-container button:hover {\n      background-color: #2575fc;\n      transform: scale(1.05);\n    }\n\n    .qr-container {\n      margin-top: 20px;\n      opacity: 0;\n      transition: opacity 0.5s ease-in-out;\n    }\n\n    .qr-container.show {\n      opacity: 1;\n    }\n\n    .qr-container img {\n      max-width: 100%;\n      height: auto;\n      animation: popIn 0.5s ease-out;\n    }\n\n    @keyframes popIn {\n      from {\n        transform: scale(0.8);\n        opacity: 0;\n      }\n      to {\n        transform: scale(1);\n        opacity: 1;\n      }\n    }\n\n    .timer {\n      font-size: 14px;\n      color: #666;\n      margin-top: 10px;\n    }\n  </style>\n</head>\n<body>\n  <div id=\"particles-js\"></div>\n\n  <div class=\"login-container\">\n    <h1>Gerar QR Code</h1>\n    <input type=\"text\" id=\"instanceName\" placeholder=\"Nome da Instância\" />\n    <button id=\"generateButton\">Gerar QR Code</button>\n\n    <div class=\"qr-container\" id=\"qrContainer\">\n      <div id=\"qrcode\"></div>\n      <div class=\"timer\" id=\"timer\">Próximo QR Code em: <span id=\"countdown\">30</span>s</div>\n    </div>\n  </div>\n\n  <script>\n    const generateButton = document.getElementById(\"generateButton\");\n    const qrcodeElement = document.getElementById(\"qrcode\");\n    const timerElement = document.getElementById(\"timer\");\n\n    let timeLeft = 30;\n    let timerInterval;\n\n    async function generateQRCode(isInitial = true) {\n      const instanceName = document.getElementById(\"instanceName\").value;\n      if (!instanceName.trim()) {\n        alert(\"Por favor, insira o nome da instância.\");\n        return;\n      }\n\n      generateButton.disabled = true;\n      timerElement.style.display = \"block\";\n\n      try {\n        const endpoint = isInitial \n          ? 'https://n8n.grapeassist.com/webhook/instanciaevolution'\n          : 'https://n8n.grapeassist.com/webhook/atualizar-qr-code';\n\n        const response = await fetch(endpoint, {\n          method: 'POST',\n          headers: {\n            'Content-Type': 'application/json',\n          },\n          body: JSON.stringify({ instanceName: instanceName }),\n        });\n\n        if (!response.ok) {\n          throw new Error('Erro na resposta do servidor');\n        }\n\n        const contentType = response.headers.get('content-type');\n\n        let imgSrc;\n        if (contentType && contentType.includes('application/json')) {\n          const data = await response.json();\n          imgSrc = `data:image/png;base64,${data.qrCodeBase64}`;\n        } else {\n          const blob = await response.blob();\n          imgSrc = URL.createObjectURL(blob);\n        }\n\n        qrcodeElement.innerHTML = `<img src=\"${imgSrc}\" alt=\"QR Code\">`;\n        qrcodeElement.parentElement.classList.add(\"show\");\n      } catch (error) {\n        console.error('Erro ao gerar QR code:', error);\n        alert('Erro ao gerar QR code. Por favor, tente novamente.');\n      } finally {\n        generateButton.disabled = false;\n      }\n    }\n\n    function updateTimer() {\n      timerElement.textContent = `Novo QR Code em: ${timeLeft}s`;\n\n      if (timeLeft === 0) {\n        clearInterval(timerInterval);\n        generateQRCode(false);\n        timeLeft = 30;\n        timerInterval = setInterval(updateTimer, 1000);\n      } else {\n        timeLeft--;\n      }\n    }\n\n    generateButton.addEventListener(\"click\", () => {\n      generateQRCode();\n      clearInterval(timerInterval);\n      timeLeft = 30;\n      timerInterval = setInterval(updateTimer, 1000);\n    });\n\n    // Configurar partículas animadas\n    particlesJS(\"particles-js\", {\n      particles: {\n        number: {\n          value: 100,\n          density: {\n            enable: true,\n            value_area: 800\n          }\n        },\n        color: {\n          value: \"#ffffff\"\n        },\n        shape: {\n          type: \"circle\",\n          stroke: {\n            width: 0,\n            color: \"#000000\"\n          },\n        },\n        opacity: {\n          value: 0.5,\n          random: true,\n        },\n        size: {\n          value: 3,\n          random: true,\n        },\n        line_linked: {\n          enable: true,\n          distance: 150,\n          color: \"#ffffff\",\n          opacity: 0.4,\n          width: 1\n        },\n        move: {\n          enable: true,\n          speed: 6,\n          direction: \"none\",\n          random: false,\n          straight: false,\n          out_mode: \"out\",\n          attract: {\n            enable: false,\n          }\n        }\n      },\n      interactivity: {\n        detect_on: \"canvas\",\n        events: {\n          onhover: {\n            enable: true,\n            mode: \"repulse\"\n          },\n          onclick: {\n            enable: true,\n            mode: \"push\"\n          },\n        },\n        modes: {\n          repulse: {\n            distance: 100,\n            duration: 0.4\n          },\n        }\n      },\n    });\n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[160,-120],"id":"366b22cd-fdcd-4005-8354-1fc40e964b26","name":"HTML1"},{"parameters":{"httpMethod":"POST","path":"instanciaevolution","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,60],"id":"bbe115cc-42d4-4ce3-831e-8f6ff68f9b41","name":"criar-instancia-evolution","webhookId":"f3988766-f52b-4be0-b0bd-254e485671a3"},{"parameters":{"httpMethod":"POST","path":"atualizar-qr-code","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,280],"id":"ade580ef-ce3a-4216-aecd-70b7b6982b38","name":"Atualiza qr code","webhookId":"f3988766-f52b-4be0-b0bd-254e485671a3"},{"parameters":{"path":"instanciaevolution","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,-120],"id":"13833737-d0fd-4fee-9d6b-2b2f288f04bb","name":"Pagina do QR code","webhookId":"cce5e6b5-f99a-48a3-8b18-cf524f03c4ce"}],"connections":{"Criar instancia evolution":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Criar instancia evolution1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"criar-instancia-evolution":{"main":[[{"node":"Criar instancia evolution","type":"main","index":0}]]},"Atualiza qr code":{"main":[[{"node":"Criar instancia evolution1","type":"main","index":0}]]},"Pagina do QR code":{"main":[[{"node":"HTML1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"90b26345-29dd-4a13-beb3-37e40c1cafb5","triggerCount":0,"tags":[{"createdAt":"2025-01-27T01:15:03.160Z","updatedAt":"2025-01-27T01:15:03.160Z","id":"cLqgLV9JkFaHv71Z","name":"EVOLUTION"}]}