db-raspou_santo-xTqENnDmT3vbuqdu.json
{"createdAt":"2025-08-17T17:00:35.330Z","updatedAt":"2025-08-18T19:50:49.395Z","id":"xTqENnDmT3vbuqdu","name":"DB RASPOU_SANTO","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-672,-496],"id":"73f75bfd-202f-4669-92ce-24d6477d6580","name":"Schedule Trigger"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-448,-272],"id":"a6dbf63c-98f6-4dde-b228-6c2488d47679","name":"DB RASPOU","credentials":{"mySql":{"id":"Nea1PMp29YiJuZk0","name":"DB RASPOU_SANTO"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2094637867,"mode":"list","cachedResultName":"USER","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=2094637867"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-448,-448],"id":"f4c3b9a2-a867-4275-89b2-54e194f44750","name":"USER SHEET","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"email","field2":"email"}]},"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[96,-400],"id":"ea2c752a-b254-4757-ae89-fb1e3aeadac7","name":"Compare Datasets"},{"parameters":{"assignments":{"assignments":[{"id":"7b185661-a72a-4a32-a30c-5c90890d9df2","name":"email","value":"={{ $json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-448],"id":"45084d89-1c7b-4b00-881a-837c54e0aae9","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"7b185661-a72a-4a32-a30c-5c90890d9df2","name":"email","value":"={{ $json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-272],"id":"a659fa44-248b-43fc-b105-0f153e22571c","name":"Edit Fields1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2094637867,"mode":"list","cachedResultName":"USER","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=2094637867"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telephone","displayName":"telephone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"balance","displayName":"balance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"balance_real","displayName":"balance_real","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"balance_bonus","displayName":"balance_bonus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_admin","displayName":"is_admin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_blocked","displayName":"is_blocked","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_demo","displayName":"is_demo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rollover_status","displayName":"rollover_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rollover_completed_at","displayName":"rollover_completed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"demo_rtp_scratch","displayName":"demo_rtp_scratch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"demo_rtp_tic_tac_toe","displayName":"demo_rtp_tic_tac_toe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"affiliate_id","displayName":"affiliate_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bonus_eligible","displayName":"bonus_eligible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bonus_claimed","displayName":"bonus_claimed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bonus_amount_applied","displayName":"bonus_amount_applied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bonus_expires_at","displayName":"bonus_expires_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"password","displayName":"password","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_login_at","displayName":"last_login_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_login_ip","displayName":"last_login_ip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"failed_login_attempts","displayName":"failed_login_attempts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"locked_until","displayName":"locked_until","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"password_changed_at","displayName":"password_changed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"two_factor_enabled","displayName":"two_factor_enabled","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"two_factor_secret","displayName":"two_factor_secret","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"session_token","displayName":"session_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"session_expires_at","displayName":"session_expires_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"demo_created_by","displayName":"demo_created_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"demo_created_at","displayName":"demo_created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[784,-256],"id":"14192e93-e115-49b6-ad67-3567d10d65b4","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"returnAll":true,"where":{"values":[{"column":"email","value":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[352,-272],"id":"d69d86a2-4cd2-4360-97a0-e0eb9e543b85","name":"DB RASPOU1","credentials":{"mySql":{"id":"Nea1PMp29YiJuZk0","name":"DB RASPOU_SANTO"}}},{"parameters":{"method":"POST","url":"https://notify.typebot.pro/SANTOBET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"CADASTRO - OP2"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"NOVO CADASTRO CONCLUÍDO","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,-256],"id":"5bd2aef0-1ce4-4697-8aec-79a2912b67b7","name":"NOTIFY SAQUE","retryOnFail":false,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1008,-416],"id":"b6ef69dc-a4d8-4f17-9040-14ba9b16ee76","name":"No Operation, do nothing"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,-272],"id":"576d5445-1c97-4413-846e-f8b9b480e10a","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1424,-256],"id":"69fa6abe-d55e-4354-85c5-f0aa5b9f4df7","name":"Wait","webhookId":"10ca09eb-4264-4da3-a6c6-b324a1a6da3c"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"withdrawals","mode":"list","cachedResultName":"withdrawals"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-480,160],"id":"74573621-5861-49b4-a1a4-c72726126c93","name":"DB RASPOU2","credentials":{"mySql":{"id":"Nea1PMp29YiJuZk0","name":"DB RASPOU_SANTO"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001431518,"mode":"list","cachedResultName":"SAQUES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=1001431518"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-64,160],"id":"018505e6-aab2-4db0-9394-ba6bf4e5e721","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"content":"## SAQUE\n**SALVA SAQUES NO SHEET","height":304,"width":880},"type":"n8n-nodes-base.stickyNote","position":[-736,80],"typeVersion":1,"id":"ec167877-8477-402c-a533-56bc4a89481d","name":"Sticky Note"},{"parameters":{"content":"## SALVA JOGADORES\n** SALVA NO SHEET","height":688,"width":2352,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-736,-624],"typeVersion":1,"id":"8f671177-d4e3-4dcc-85cd-ebf9b64393a5","name":"Sticky Note1"},{"parameters":{"notificationName":"OPERAÇÃO 2","additionalFields":{}},"type":"n8n-nodes-base.pushcut","typeVersion":1,"position":[1216,-256],"id":"6c844486-1a38-4701-aef3-94f67b27233a","name":"Send a notification","credentials":{"pushcutApi":{"id":"qXAZZaOJS2sOdnQn","name":"Pushcut account"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"id","field2":"id"},{"field1":"status","field2":"status"}]},"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[32,560],"id":"39ca19bf-9dfa-4ccf-932c-320d117bb056","name":"Compare Datasets1"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"deposits","mode":"list","cachedResultName":"deposits"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-432,512],"id":"ad6d9fe3-3521-49ac-9192-8ae686a91e1a","name":"DB RASPOU4","credentials":{"mySql":{"id":"Nea1PMp29YiJuZk0","name":"DB RASPOU_SANTO"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":927773440,"mode":"list","cachedResultName":"DEPOSITOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=927773440"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor","displayName":"valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"metodo","displayName":"metodo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pago_em","displayName":"pago_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"via","displayName":"via","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[352,464],"id":"7b833b92-31e3-4ae4-9bc8-79947dc7e506","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-704,688],"id":"6ef5fa87-c384-48a8-a123-b174a7762acb","name":"Schedule Trigger3"},{"parameters":{"assignments":{"assignments":[{"id":"2dba1ec4-898e-4386-93f9-1ae6ca848e20","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"28a3ac37-2fbb-4242-8e2e-032099de6121","name":"valor","value":"={{ $json.amount }}","type":"number"},{"id":"e6e0ac0d-75e9-430d-b477-eb20682b7f32","name":"metodo","value":"={{ $json.payment_method }}","type":"string"},{"id":"88766fed-29c5-42ba-801c-fd5af1b77771","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"28b30d68-8493-40b7-a007-492f3122db67","name":"criado_em","value":"={{ $json.created_at }}","type":"string"},{"id":"29b37e17-9b31-4744-9b45-e172da07dbe3","name":"pago_em","value":"={{ $json.updated_at }}","type":"string"},{"id":"f0d20e17-4bbb-4f1e-9904-c293553fcab7","name":"via","value":"={{ $json.pix_api_used }}","type":"string"},{"id":"2fee17c4-428d-45cb-a146-b5463254af22","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,512],"id":"7b07d135-8184-403e-85f3-d4d363f277e4","name":"Edit Fields3"},{"parameters":{"documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":927773440,"mode":"list","cachedResultName":"DEPOSITOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=927773440"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-432,688],"id":"7c83d115-8179-4e27-843d-c60f6c46d113","name":"USER SHEET2","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"assignments":{"assignments":[{"id":"2dba1ec4-898e-4386-93f9-1ae6ca848e20","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"28a3ac37-2fbb-4242-8e2e-032099de6121","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"e6e0ac0d-75e9-430d-b477-eb20682b7f32","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"88766fed-29c5-42ba-801c-fd5af1b77771","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"cbe0b66f-959a-4e97-82de-0b9435baf0e1","name":"valor","value":"={{ $json.valor }}","type":"string"},{"id":"c0375e54-6247-4fee-b305-8f5f0888e052","name":"metodo","value":"={{ $json.metodo }}","type":"string"},{"id":"64f04e01-44ea-41e9-9634-e23f285c5d03","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"02fad46c-734f-4a23-a473-ee1051f3df8d","name":"criado_em","value":"={{ $json.criado_em }}","type":"string"},{"id":"8c135619-d66c-493d-a7e5-7ea133e0822c","name":"pago_em","value":"={{ $json.pago_em }}","type":"string"},{"id":"1584673b-5bb0-45b5-b57f-08f3108c1f00","name":"via","value":"={{ $json.via }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,688],"id":"4ef3ed8f-bcbb-42cd-bfc8-1aa6e05dff1c","name":"Edit Fields4"},{"parameters":{"notificationName":"OPERAÇÃO 2","additionalFields":{"text":"=Deposito de {{ $json.valor }}","title":"DEPOSITO - OP2"}},"type":"n8n-nodes-base.pushcut","typeVersion":1,"position":[592,720],"id":"4b74beb0-7005-4b76-b96a-d98371dc995a","name":"Send a notification2","credentials":{"pushcutApi":{"id":"qXAZZaOJS2sOdnQn","name":"Pushcut account"}},"disabled":true},{"parameters":{"content":"## DEPOSITOS\n**SALVA SAQUES NO SHEET","height":512,"width":1520},"type":"n8n-nodes-base.stickyNote","position":[-736,400],"typeVersion":1,"id":"d04fbb24-313a-4381-a90f-05c4c17a1623","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[576,464],"id":"ffad74e1-b4a5-4dc5-9483-60978694172d","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"8d5f9dd1-0ea5-4360-b1b9-dfa9af85700d","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"00db66c0-3d03-4af1-bca2-bd9152224aad","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"cc90474d-883d-466e-ade2-bfd101609fac","name":"amount","value":"={{ $json.amount }}","type":"number"},{"id":"23dc92cb-19ee-4161-9e26-5b5883f022b8","name":"pix_key","value":"={{ $json.pix_key }}","type":"string"},{"id":"401895a0-fc58-4416-8a99-2dc210b66955","name":"pix_key_type","value":"={{ $json.pix_key_type }}","type":"string"},{"id":"be9880c4-c577-47f1-88fd-2547207e7b2b","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"8a45ff2d-02c7-4a49-9cb7-1a98185b3eb1","name":"keyclub_status","value":"={{ $json.keyclub_status }}","type":"string"},{"id":"d86868f9-980d-4291-b123-714485985b5a","name":"keyclub_transaction_id","value":"={{ $json.keyclub_transaction_id }}","type":"string"},{"id":"d7ada4c9-a05e-448e-9dd8-6bc947aca0d5","name":"admin_notes","value":"={{ $json.admin_notes }}","type":"string"},{"id":"6ba5a42f-b978-4d5e-861a-73eaac20e605","name":"processed_at","value":"={{ $json.processed_at }}","type":"string"},{"id":"20c53e21-d6bd-44ea-a5cc-be4decc841e1","name":"created_at","value":"={{ $json.created_at }}","type":"string"},{"id":"4ac5b26f-74f5-4707-84b7-f762740e0fa0","name":"updated_at","value":"={{ $json.updated_at }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,160],"id":"791b6aef-bd69-42b0-b961-833beb3258ef","name":"Edit Fields5"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-288,1040],"id":"f4ddce0f-0ab6-4209-953b-3b53acc291ca","name":"Aggregate"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"120363382224860301@g.us"},{"name":"text","value":"=🍀🍀🍀RASPOU SANTOBET🍀🍀🍀\n📊 RELATÓRIO RASPOU-SANTOBET\n📅 DATA: {{ $('Date & Time4').item.json.formattedDate }}\n\nNÚMEROS TOTAL USUÁRIOS\n👥 N° TOTAL DE JOGADORES: {{ $json['JOGADORES '] }}\n\nRELATÓRIO GERAL\n📉 TOTAL PIX PAGOS: {{ $json['DEPOSITOS PAGOS'] }}\n📉 SAQUES JOGADORES: {{ $json['SAQUES TOTAIS'] }}\n📉 SAQUE AFILIADOS: {{ $json['SAQUE AFF TOTAL'] }}\n📉 SAÍDAS TOTAIS: {{ $json['SAQUES TOTAIS'] }}\n\nRELATÓRIO 24 HORAS\n👥 N° REGISTROS 24H: {{ $json['REGISTROS 24'] }}\n💸 PIX RECEBIDOS 24H: {{ $json['PIX PAGOS 24'] }}\n💸 DESPESAS 24H:\n💱 SAQUES JOGADORES 24H: {{ $json['SAQUES 24'] }}\n💱 SAQUES AFILIADOS 24H: {{ $json['SAQUE AFF 24'] }}\n\n💸 SALDO TOTAL GATEWAY (APROXIMADO): {{ $json['SALDO KEYCLUB (APROXIMADO)'] }}\n"}]},"options":{}},"id":"948df409-8e31-4cc3-bfef-111527c6f9e3","name":"ENVIO RELATORIO GRUPO1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,1040],"alwaysOutputData":false},{"parameters":{"operation":"formatDate","date":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd') }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-80,1040],"id":"bdb6ad1f-9adf-4d1d-bb92-58f58d3a75f2","name":"Date & Time4"},{"parameters":{"content":"## RELATÓRIO DIARIO 23:59\n**ENVIA RELATÓRIO NO GRUPO DIRETORIA","height":340,"width":1368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-736,928],"typeVersion":1,"id":"31e695f0-9e32-4d4d-8c9c-c891cd768b89","name":"Sticky Note7"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2146278273,"mode":"list","cachedResultName":"AUDITORIA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=2146278273"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.formattedDate }}","JOGADORES ":"={{ $('Aggregate').item.json.data[0].col_2 }}","DEPOSITO GERADO":"={{ parseFloat($('Aggregate').item.json.data[1].col_2).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}","DEPOSITOS PAGOS":"={{ parseFloat($('Aggregate').item.json.data[2].col_2).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}","PIX GERADOS 24":"={{ parseFloat($('Aggregate').item.json.data[3].col_2).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}","PIX PAGOS 24":"={{ parseFloat($('Aggregate').item.json.data[4].col_2).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}","REGISTROS 24":"={{ $('Aggregate').item.json.data[6].col_2 }}","SAQUES 24":"={{ parseFloat($('Aggregate').item.json.data[6].col_2).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}","SAQUES TOTAIS":"={{ parseFloat($('Aggregate').item.json.data[3].col_2).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}","SAQUE AFF TOTAL":"={{ parseFloat($('Aggregate').item.json.data[4].col_2).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}","SAQUE AFF 24":"={{ parseFloat($('Aggregate').item.json.data[9].col_2).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}","SALDO KEYCLUB (APROXIMADO)":"={{ parseFloat($('Aggregate').item.json.data[11].col_2).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}"},"matchingColumns":["DATA"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"JOGADORES ","displayName":"JOGADORES ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DEPOSITO GERADO","displayName":"DEPOSITO GERADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DEPOSITOS PAGOS","displayName":"DEPOSITOS PAGOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SAQUE AFF TOTAL","displayName":"SAQUE AFF TOTAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SAQUES TOTAIS","displayName":"SAQUES TOTAIS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PIX GERADOS 24","displayName":"PIX GERADOS 24","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PIX PAGOS 24","displayName":"PIX PAGOS 24","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REGISTROS 24","displayName":"REGISTROS 24","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SAQUES 24","displayName":"SAQUES 24","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SAQUE AFF 24","displayName":"SAQUE AFF 24","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SALDO KEYCLUB (APROXIMADO)","displayName":"SALDO KEYCLUB (APROXIMADO)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[128,1040],"id":"bfae5e28-acd0-482b-9ad5-8dc78ccd6564","name":"SALVA PLANILHA AUDITORIA","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"content":"## SALVA NA TABELA AUDITORIA DO SHEET\n**ENVIA RELATÓRIO NO GRUPO DIRETORIA","height":276,"width":520,"color":4},"type":"n8n-nodes-base.stickyNote","position":[96,960],"typeVersion":1,"id":"f1dbd482-9408-4f7b-aa06-14a5c5984220","name":"Sticky Note8"},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":59}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-688,1040],"id":"c15c2a7f-3240-4a80-b6e5-b3c9528a13fd","name":"Schedule Trigger4"},{"parameters":{"documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2141763786,"mode":"list","cachedResultName":"DASHBOARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=2141763786"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-480,1040],"id":"36899c1d-bd55-4964-8d4a-ecb3cecd462a","name":"Get row(s) in sheet","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"affiliate_withdrawals","mode":"list","cachedResultName":"affiliate_withdrawals"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[432,160],"id":"ae7224df-b00b-4c81-93de-72905de32c82","name":"DB RASPOU3","credentials":{"mySql":{"id":"Nea1PMp29YiJuZk0","name":"DB RASPOU_SANTO"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":457347637,"mode":"list","cachedResultName":"SAQUES AFF","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=457347637"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"affiliate_id","displayName":"affiliate_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pix_key","displayName":"pix_key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pix_key_type","displayName":"pix_key_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"keyclub_status","displayName":"keyclub_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"keyclub_transaction_id","displayName":"keyclub_transaction_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"admin_notes","displayName":"admin_notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"processed_at","displayName":"processed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[912,160],"id":"6ea535a7-598e-4940-8509-bc900c9aacc2","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"content":"## SAQUE AFILIADO\n**SALVA SAQUES NO SHEET","height":304,"width":928},"type":"n8n-nodes-base.stickyNote","position":[176,80],"typeVersion":1,"id":"d9bb77bc-bcc5-4010-83e3-fced55680dbe","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[224,160],"id":"6c508922-bf06-43c4-8843-2be3bd8daff4","name":"Schedule Trigger2"},{"parameters":{"assignments":{"assignments":[{"id":"8d5f9dd1-0ea5-4360-b1b9-dfa9af85700d","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"00db66c0-3d03-4af1-bca2-bd9152224aad","name":"affiliate_id","value":"={{ $json.affiliate_id }}","type":"string"},{"id":"cc90474d-883d-466e-ade2-bfd101609fac","name":"amount","value":"={{ $json.amount }}","type":"number"},{"id":"23dc92cb-19ee-4161-9e26-5b5883f022b8","name":"pix_key","value":"={{ $json.pix_key }}","type":"string"},{"id":"401895a0-fc58-4416-8a99-2dc210b66955","name":"pix_key_type","value":"={{ $json.pix_key_type }}","type":"string"},{"id":"be9880c4-c577-47f1-88fd-2547207e7b2b","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"8a45ff2d-02c7-4a49-9cb7-1a98185b3eb1","name":"keyclub_status","value":"={{ $json.keyclub_status }}","type":"string"},{"id":"d86868f9-980d-4291-b123-714485985b5a","name":"keyclub_transaction_id","value":"={{ $json.keyclub_transaction_id }}","type":"string"},{"id":"d7ada4c9-a05e-448e-9dd8-6bc947aca0d5","name":"admin_notes","value":"={{ $json.admin_notes.replace(/\\n/g, \"\") }}","type":"string"},{"id":"6ba5a42f-b978-4d5e-861a-73eaac20e605","name":"processed_at","value":"={{ $json.processed_at }}","type":"string"},{"id":"20c53e21-d6bd-44ea-a5cc-be4decc841e1","name":"created_at","value":"={{ $json.created_at }}","type":"string"},{"id":"4ac5b26f-74f5-4707-84b7-f762740e0fa0","name":"updated_at","value":"={{ $json.updated_at }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,160],"id":"d662cbd6-6342-4db8-aea8-9350c1e6409a","name":"Edit Fields6"},{"parameters":{"content":"## ULTIMA ATT DO DIA","height":304,"width":496},"type":"n8n-nodes-base.stickyNote","position":[-1248,80],"typeVersion":1,"id":"e0adb095-9a51-4839-9cf9-4931a6c0e3b2","name":"Sticky Note4"},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":57}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1072,160],"id":"32647035-58e5-4f74-9a8b-9836c10787ce","name":"Trigger Geral"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-688,160],"id":"9e801b16-abee-4ec1-98ee-f1fc546aa91d","name":"Trigger Saque"}],"connections":{"Schedule Trigger":{"main":[[{"node":"USER SHEET","type":"main","index":0},{"node":"DB RASPOU","type":"main","index":0}]]},"DB RASPOU":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"USER SHEET":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Compare Datasets":{"main":[[],[{"node":"No Operation, do nothing","type":"main","index":0}],[],[{"node":"DB RASPOU1","type":"main","index":0}]]},"DB RASPOU1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"NOTIFY SAQUE","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"NOTIFY SAQUE":{"main":[[{"node":"Send a notification","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"DB RASPOU2":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Send a notification":{"main":[[{"node":"Wait","type":"main","index":0}]]},"DB RASPOU4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"DB RASPOU4","type":"main","index":0},{"node":"USER SHEET2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Compare Datasets1","type":"main","index":0}]]},"USER SHEET2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Compare Datasets1","type":"main","index":1}]]},"Compare Datasets1":{"main":[[{"node":"Append or update row in sheet2","type":"main","index":0}]]},"Append or update row in sheet2":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Date & Time4","type":"main","index":0}]]},"Date & Time4":{"main":[[{"node":"SALVA PLANILHA AUDITORIA","type":"main","index":0}]]},"SALVA PLANILHA AUDITORIA":{"main":[[{"node":"ENVIO RELATORIO GRUPO1","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"DB RASPOU3":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"DB RASPOU3","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Trigger Geral":{"main":[[{"node":"USER SHEET","type":"main","index":0},{"node":"DB RASPOU","type":"main","index":0},{"node":"DB RASPOU2","type":"main","index":0},{"node":"DB RASPOU4","type":"main","index":0},{"node":"USER SHEET2","type":"main","index":0}]]},"Trigger Saque":{"main":[[{"node":"DB RASPOU2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger5":{"recurrenceRules":[]},"node:Trigger Geral":{"recurrenceRules":[]},"node:Trigger Saque":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"12e816cb-b909-4f1b-89bd-ded990e682e5","triggerCount":6,"tags":[]}