db-raspou_santo-xTqENnDmT3vbuqdu.json
{"createdAt":"2025-08-17T17:00:35.330Z","updatedAt":"2025-08-18T02:00:24.225Z","id":"xTqENnDmT3vbuqdu","name":"DB RASPOU_SANTO","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-672,-384],"id":"73f75bfd-202f-4669-92ce-24d6477d6580","name":"Schedule Trigger"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-448,-272],"id":"a6dbf63c-98f6-4dde-b228-6c2488d47679","name":"DB RASPOU","credentials":{"mySql":{"id":"Nea1PMp29YiJuZk0","name":"DB RASPOU_SANTO"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2094637867,"mode":"list","cachedResultName":"USER","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=2094637867"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-448,-448],"id":"f4c3b9a2-a867-4275-89b2-54e194f44750","name":"USER SHEET","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"email","field2":"email"}]},"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[96,-400],"id":"ea2c752a-b254-4757-ae89-fb1e3aeadac7","name":"Compare Datasets"},{"parameters":{"assignments":{"assignments":[{"id":"7b185661-a72a-4a32-a30c-5c90890d9df2","name":"email","value":"={{ $json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-448],"id":"45084d89-1c7b-4b00-881a-837c54e0aae9","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"7b185661-a72a-4a32-a30c-5c90890d9df2","name":"email","value":"={{ $json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-272],"id":"a659fa44-248b-43fc-b105-0f153e22571c","name":"Edit Fields1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2094637867,"mode":"list","cachedResultName":"USER","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=2094637867"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telephone","displayName":"telephone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"balance","displayName":"balance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"balance_real","displayName":"balance_real","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"balance_bonus","displayName":"balance_bonus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_admin","displayName":"is_admin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_blocked","displayName":"is_blocked","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_demo","displayName":"is_demo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rollover_status","displayName":"rollover_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rollover_completed_at","displayName":"rollover_completed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"demo_rtp_scratch","displayName":"demo_rtp_scratch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"demo_rtp_tic_tac_toe","displayName":"demo_rtp_tic_tac_toe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"affiliate_id","displayName":"affiliate_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bonus_eligible","displayName":"bonus_eligible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bonus_claimed","displayName":"bonus_claimed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bonus_amount_applied","displayName":"bonus_amount_applied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bonus_expires_at","displayName":"bonus_expires_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"password","displayName":"password","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_login_at","displayName":"last_login_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_login_ip","displayName":"last_login_ip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"failed_login_attempts","displayName":"failed_login_attempts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"locked_until","displayName":"locked_until","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"password_changed_at","displayName":"password_changed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"two_factor_enabled","displayName":"two_factor_enabled","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"two_factor_secret","displayName":"two_factor_secret","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"session_token","displayName":"session_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"session_expires_at","displayName":"session_expires_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"demo_created_by","displayName":"demo_created_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"demo_created_at","displayName":"demo_created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[784,-256],"id":"14192e93-e115-49b6-ad67-3567d10d65b4","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"returnAll":true,"where":{"values":[{"column":"email","value":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[352,-272],"id":"d69d86a2-4cd2-4360-97a0-e0eb9e543b85","name":"DB RASPOU1","credentials":{"mySql":{"id":"Nea1PMp29YiJuZk0","name":"DB RASPOU_SANTO"}}},{"parameters":{"method":"POST","url":"https://notify.typebot.pro/SANTOBET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"CADASTRO - OP2"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"NOVO CADASTRO CONCLUÍDO","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,-256],"id":"5bd2aef0-1ce4-4697-8aec-79a2912b67b7","name":"NOTIFY SAQUE","retryOnFail":false,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1008,-416],"id":"b6ef69dc-a4d8-4f17-9040-14ba9b16ee76","name":"No Operation, do nothing"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,-272],"id":"576d5445-1c97-4413-846e-f8b9b480e10a","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1424,-256],"id":"69fa6abe-d55e-4354-85c5-f0aa5b9f4df7","name":"Wait","webhookId":"10ca09eb-4264-4da3-a6c6-b324a1a6da3c"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"withdrawals","mode":"list","cachedResultName":"withdrawals"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-464,160],"id":"74573621-5861-49b4-a1a4-c72726126c93","name":"DB RASPOU2","credentials":{"mySql":{"id":"Nea1PMp29YiJuZk0","name":"DB RASPOU_SANTO"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001431518,"mode":"list","cachedResultName":"SAQUES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=1001431518"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pix_key","displayName":"pix_key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pix_key_type","displayName":"pix_key_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pixupbr_status","displayName":"pixupbr_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"keyclub_status","displayName":"keyclub_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pixupbr_transaction_id","displayName":"pixupbr_transaction_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"keyclub_transaction_id","displayName":"keyclub_transaction_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pixupbr_webhook_received","displayName":"pixupbr_webhook_received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"keyclub_webhook_received","displayName":"keyclub_webhook_received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rollover_checked","displayName":"rollover_checked","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rollover_blocked","displayName":"rollover_blocked","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rollover_progress","displayName":"rollover_progress","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"admin_notes","displayName":"admin_notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"processed_by","displayName":"processed_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"processed_at","displayName":"processed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-256,160],"id":"018505e6-aab2-4db0-9394-ba6bf4e5e721","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"content":"## SAQUE\n**SALVA SAQUES NO SHEET","height":304,"width":880},"type":"n8n-nodes-base.stickyNote","position":[-720,80],"typeVersion":1,"id":"ec167877-8477-402c-a533-56bc4a89481d","name":"Sticky Note"},{"parameters":{"content":"## SALVA JOGADORES\n** SALVA NO SHEET","height":688,"width":2512,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-736,-624],"typeVersion":1,"id":"8f671177-d4e3-4dcc-85cd-ebf9b64393a5","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-672,160],"id":"9e801b16-abee-4ec1-98ee-f1fc546aa91d","name":"Schedule Trigger1"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"deposits","mode":"list","cachedResultName":"deposits"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-464,496],"id":"f3a760f1-30f1-4be8-832d-5380bd03df03","name":"DB RASPOU3","credentials":{"mySql":{"id":"Nea1PMp29YiJuZk0","name":"DB RASPOU_SANTO"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":927773440,"mode":"list","cachedResultName":"DEPOSITOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=927773440"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor","displayName":"valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"metodo","displayName":"metodo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pago_em","displayName":"pago_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"via","displayName":"via","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-32,496],"id":"11d6ff69-e417-4604-8485-0833fdec221c","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"content":"## DEPOSITOS\n**SALVA SAQUES NO SHEET","height":368,"width":880},"type":"n8n-nodes-base.stickyNote","position":[-720,416],"typeVersion":1,"id":"755577c4-461a-49a9-adbb-d0813820f699","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-672,496],"id":"254510f4-9990-4ac3-b2c3-e99af82a012c","name":"Schedule Trigger2","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"2dba1ec4-898e-4386-93f9-1ae6ca848e20","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"28a3ac37-2fbb-4242-8e2e-032099de6121","name":"valor","value":"={{ $json.amount }}","type":"string"},{"id":"e6e0ac0d-75e9-430d-b477-eb20682b7f32","name":"metodo","value":"={{ $json.payment_method }}","type":"string"},{"id":"88766fed-29c5-42ba-801c-fd5af1b77771","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"28b30d68-8493-40b7-a007-492f3122db67","name":"criado_em","value":"={{ $json.created_at }}","type":"string"},{"id":"29b37e17-9b31-4744-9b45-e172da07dbe3","name":"pago_em","value":"={{ $json.updated_at }}","type":"string"},{"id":"f0d20e17-4bbb-4f1e-9904-c293553fcab7","name":"via","value":"={{ $json.pix_api_used }}","type":"string"},{"id":"2fee17c4-428d-45cb-a146-b5463254af22","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,496],"id":"27853b80-c292-449b-b972-f4ceab92663f","name":"Edit Fields2"},{"parameters":{"notificationName":"OPERAÇÃO 2","additionalFields":{}},"type":"n8n-nodes-base.pushcut","typeVersion":1,"position":[1216,-256],"id":"6c844486-1a38-4701-aef3-94f67b27233a","name":"Send a notification","credentials":{"pushcutApi":{"id":"qXAZZaOJS2sOdnQn","name":"Pushcut account"}}},{"parameters":{"notificationName":"OPERAÇÃO 2","additionalFields":{}},"type":"n8n-nodes-base.pushcut","typeVersion":1,"position":[1248,288],"id":"7928cce4-34c1-456c-b154-564695b2697f","name":"Send a notification1","credentials":{"pushcutApi":{"id":"qXAZZaOJS2sOdnQn","name":"Pushcut account"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":927773440,"mode":"list","cachedResultName":"DEPOSITOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=927773440"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-352,640],"id":"5c5cf68f-0fda-4502-80a6-e1d70555c404","name":"USER SHEET1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"id","field2":"id"},{"field1":"status","field2":"status"}]},"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[48,976],"id":"39ca19bf-9dfa-4ccf-932c-320d117bb056","name":"Compare Datasets1"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"deposits","mode":"list","cachedResultName":"deposits"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-416,928],"id":"ad6d9fe3-3521-49ac-9192-8ae686a91e1a","name":"DB RASPOU4","credentials":{"mySql":{"id":"Nea1PMp29YiJuZk0","name":"DB RASPOU_SANTO"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":927773440,"mode":"list","cachedResultName":"DEPOSITOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=927773440"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor","displayName":"valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"metodo","displayName":"metodo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pago_em","displayName":"pago_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"via","displayName":"via","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[368,880],"id":"7b833b92-31e3-4ae4-9bc8-79947dc7e506","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-688,928],"id":"6ef5fa87-c384-48a8-a123-b174a7762acb","name":"Schedule Trigger3"},{"parameters":{"assignments":{"assignments":[{"id":"2dba1ec4-898e-4386-93f9-1ae6ca848e20","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"28a3ac37-2fbb-4242-8e2e-032099de6121","name":"valor","value":"={{ $json.amount }}","type":"string"},{"id":"e6e0ac0d-75e9-430d-b477-eb20682b7f32","name":"metodo","value":"={{ $json.payment_method }}","type":"string"},{"id":"88766fed-29c5-42ba-801c-fd5af1b77771","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"28b30d68-8493-40b7-a007-492f3122db67","name":"criado_em","value":"={{ $json.created_at }}","type":"string"},{"id":"29b37e17-9b31-4744-9b45-e172da07dbe3","name":"pago_em","value":"={{ $json.updated_at }}","type":"string"},{"id":"f0d20e17-4bbb-4f1e-9904-c293553fcab7","name":"via","value":"={{ $json.pix_api_used }}","type":"string"},{"id":"2fee17c4-428d-45cb-a146-b5463254af22","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,928],"id":"7b07d135-8184-403e-85f3-d4d363f277e4","name":"Edit Fields3"},{"parameters":{"documentId":{"__rl":true,"value":"1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20","mode":"list","cachedResultName":"RASPADINHA SANTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":927773440,"mode":"list","cachedResultName":"DEPOSITOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RopVsyKQrqfg8KqgbxaaGyUA1kFjkS49Jhcce4Aau20/edit#gid=927773440"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-416,1104],"id":"7c83d115-8179-4e27-843d-c60f6c46d113","name":"USER SHEET2","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"assignments":{"assignments":[{"id":"2dba1ec4-898e-4386-93f9-1ae6ca848e20","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"28a3ac37-2fbb-4242-8e2e-032099de6121","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"e6e0ac0d-75e9-430d-b477-eb20682b7f32","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"88766fed-29c5-42ba-801c-fd5af1b77771","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"cbe0b66f-959a-4e97-82de-0b9435baf0e1","name":"valor","value":"={{ $json.valor }}","type":"string"},{"id":"c0375e54-6247-4fee-b305-8f5f0888e052","name":"metodo","value":"={{ $json.metodo }}","type":"string"},{"id":"64f04e01-44ea-41e9-9634-e23f285c5d03","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"02fad46c-734f-4a23-a473-ee1051f3df8d","name":"criado_em","value":"={{ $json.criado_em }}","type":"string"},{"id":"8c135619-d66c-493d-a7e5-7ea133e0822c","name":"pago_em","value":"={{ $json.pago_em }}","type":"string"},{"id":"1584673b-5bb0-45b5-b57f-08f3108c1f00","name":"via","value":"={{ $json.via }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,1104],"id":"4ef3ed8f-bcbb-42cd-bfc8-1aa6e05dff1c","name":"Edit Fields4"},{"parameters":{"notificationName":"OPERAÇÃO 2","additionalFields":{"text":"=Deposito de {{ $json.valor }}","title":"DEPOSITO - OP2"}},"type":"n8n-nodes-base.pushcut","typeVersion":1,"position":[608,1136],"id":"4b74beb0-7005-4b76-b96a-d98371dc995a","name":"Send a notification2","credentials":{"pushcutApi":{"id":"qXAZZaOJS2sOdnQn","name":"Pushcut account"}},"disabled":true},{"parameters":{"content":"## DEPOSITOS\n**SALVA SAQUES NO SHEET","height":512,"width":1520},"type":"n8n-nodes-base.stickyNote","position":[-720,816],"typeVersion":1,"id":"d04fbb24-313a-4381-a90f-05c4c17a1623","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[592,880],"id":"ffad74e1-b4a5-4dc5-9483-60978694172d","name":"No Operation, do nothing1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"USER SHEET","type":"main","index":0},{"node":"DB RASPOU","type":"main","index":0}]]},"DB RASPOU":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"USER SHEET":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Compare Datasets":{"main":[[],[{"node":"No Operation, do nothing","type":"main","index":0}],[],[{"node":"DB RASPOU1","type":"main","index":0}]]},"DB RASPOU1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"NOTIFY SAQUE","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"NOTIFY SAQUE":{"main":[[{"node":"Send a notification","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"DB RASPOU2":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"DB RASPOU2","type":"main","index":0}]]},"DB RASPOU3":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"DB RASPOU3","type":"main","index":0},{"node":"USER SHEET1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Send a notification":{"main":[[{"node":"Wait","type":"main","index":0}]]},"DB RASPOU4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"DB RASPOU4","type":"main","index":0},{"node":"USER SHEET2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Compare Datasets1","type":"main","index":0}]]},"USER SHEET2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Compare Datasets1","type":"main","index":1}]]},"Compare Datasets1":{"main":[[{"node":"Append or update row in sheet2","type":"main","index":0}]]},"Append or update row in sheet2":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7cb05f4e-bba5-4e99-8785-4e209a558b00","triggerCount":3,"tags":[]}