dispara-pro---manter-db-ativo-CB0vdFwzHFurRfjj.json
{"createdAt":"2025-11-08T18:03:42.423Z","updatedAt":"2025-11-08T18:04:37.628Z","id":"CB0vdFwzHFurRfjj","name":"DISPARA PRO - MANTER DB ATIVO","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":59}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-192,80],"id":"fe2f1cfd-78d0-4186-acba-363a433378c3","name":"Schedule Trigger1"},{"parameters":{"tableId":"checkativo","fieldsUi":{"fieldValues":[{"fieldId":"created_at","fieldValue":"={{ $json.timestamp }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[16,80],"id":"4a4720f4-aa49-45c0-ae9b-1f2670fe5137","name":"Create a row","credentials":{"supabaseApi":{"id":"gSmzosOueGcVRiU6","name":"supabase enviazap"}}},{"parameters":{"content":"## MANTER DB ATIVO\n","height":368,"width":688},"type":"n8n-nodes-base.stickyNote","position":[-256,-80],"typeVersion":1,"id":"1f025a95-30e1-4ada-a9e2-dbc0828f048e","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[224,80],"id":"862e4734-01b9-412e-baa5-b50774a76f1a","name":"No Operation, do nothing1"}],"connections":{"Schedule Trigger1":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"28936a27-57f6-4295-bf40-21ebe4e11661","triggerCount":1,"shared":[{"createdAt":"2025-11-08T18:03:42.423Z","updatedAt":"2025-11-08T18:03:42.423Z","role":"workflow:owner","workflowId":"CB0vdFwzHFurRfjj","projectId":"86fLtGJ4RKYxddia"}],"tags":[]}