disparador-whatsapp-PCsDjDdDBfMlm1w8.json
{"createdAt":"2024-12-03T15:19:42.805Z","updatedAt":"2025-02-07T00:41:08.816Z","id":"PCsDjDdDBfMlm1w8","name":"DISPARADOR WHATSAPP","active":false,"nodes":[{"parameters":{"options":{}},"id":"2e09b046-2175-41b7-bf9d-31cdcc476197","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1320,700]},{"parameters":{"content":"## DISPARADOR","height":383.59144544401283,"width":1518.1852698695072,"color":5},"id":"95687270-fa95-4b9c-ad74-1bff36ef4455","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,620]},{"parameters":{"content":"## ATIVAR FLUXO MANUAL ","height":290.33576295324644,"width":422.85913011350954,"color":4},"id":"26860492-6d10-4383-8f02-df5c93b921b8","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,320]},{"parameters":{"content":"## CHECAR WHATSAPP","height":527.482940976174,"width":1604.4410898999236},"id":"6a647555-71b3-45c1-a332-78699d5627a5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,80.78349194580193]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c04d9717-7c1d-4f2b-9bac-06dcff95b91f","leftValue":"={{ $json.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a438b0ec-aefc-4b3f-83d9-3f7c5ce7bed0","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2020,360]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"WHATSAPP":"={{ $json.number }}","TEM WHATSAPP":"NÃO"},"matchingColumns":["WHATSAPP"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"d283ad8b-91ce-4a44-b2e9-79fcdaae2d08","name":"EDITA SEM WHATSAPP","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2240,400],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"options":{}},"id":"9dbbb05d-0c2c-4292-a07c-9c17ae1fa51a","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1320,340]},{"parameters":{},"id":"41a13b57-9c4f-4a80-872f-6f6eeecaacf2","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[680,420]},{"parameters":{"amount":"={{Math.floor(Math.random() * (10 - 3 + 1)) + 3}}\n"},"id":"a4b26d9f-e41a-4995-8a32-e9ba2616673a","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2400,820],"webhookId":"c9cec972-2b86-441b-bcc5-be273613989c"},{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}/message/sendText/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.mensagem }}\"\n    }\n}\n\n","options":{}},"id":"eef5be04-41a0-499f-9fd8-7de75fcfd1f2","name":"AQUECEDOR ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2140,1140],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ATENDIMENTOASGARD","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"LaaxXSXdg1O0HgOSIr63aznmp6kwwkSi1Gt7GYDNSr7r54NdrqixvVpTTPmWNDPMcmU2veJPtwvdUELlK1ZzcceT89IiZ2cABTk9mvZNp8vWPWQuIMWP3AjFgPrcqfYi","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"bgd0m2h2aewjxsxsfpnvkc","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"={{ $json.WHATSAPP }}","type":"string"},{"id":"c0f2d0dd-4a4c-495e-bed1-2e23506910a5","name":"mensagem","value":"=Olá, {{ $json.NOME }}! 😊 Tudo bem com você?\\nO Jeff Ecom liberou acesso à COMUNIDADE ECOM completa GRATUITAMENTE\\nVou deixar o link para vocês para se inscrever.\\nAproveitem a oportunidade.\\nMuito conteúdo de valor para o marketing digital no Brasil\\nCADASTRO LIBERADO APENAS HOJE","type":"string"}]},"options":{}},"id":"a7acba94-13ce-4d2c-a613-5defbacc6c5f","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,720]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"STATUS ENVIO":"ENVIADA","WHATSAPP":"={{ $('Edit Fields').item.json.contato }}"},"matchingColumns":["WHATSAPP"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"f1582a63-a937-4531-a2b8-582a8f51c6d7","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2140,640],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"TEM WHATSAPP","lookupValue":"SIM"},{"lookupColumn":"STATUS ENVIO"}]},"options":{}},"id":"91830d11-448f-402b-9fc1-063809f64d98","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1080,700],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.message.listResponseMessage.title }}","rightValue":"SIM","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SIM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"442c0ea0-74c1-4b16-a689-0156ef9b8d12","leftValue":"={{ $json.body.data.message.listResponseMessage.title }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NÃO"}]},"options":{}},"id":"6f88c29d-de70-4412-abed-dc2bb9084e74","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1100,-220]},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ASGARDBOT2","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"LaaxXSXdg1O0HgOSIr63aznmp6kwwkSi1Gt7GYDNSr7r54NdrqixvVpTTPmWNDPMcmU2veJPtwvdUELlK1ZzcceT89IiZ2cABTk9mvZNp8vWPWQuIMWP3AjFgPrcqfYi","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"bgd0m2h2aewjxsxsfpnvkc","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"={{ $json.body.data.key.remoteJid.replace(/@.*/, '') }}","type":"string"},{"id":"c0f2d0dd-4a4c-495e-bed1-2e23506910a5","name":"mensagem","value":"=Não vacila, ja corre la pra comunidade e nao perde nada, link ta ai em cima. sempre to postando tudo la dentro...","type":"string"}]},"options":{}},"id":"9f547c6a-e1f5-4698-a38c-b58db1098e91","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,-100]},{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}/message/sendText/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.mensagem }}\"\n    }\n}","options":{}},"id":"97ebe526-5a3d-4e24-b189-18f1753b1aca","name":"SEND LIST2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,-100],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ASGARDBOT2","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"LaaxXSXdg1O0HgOSIr63aznmp6kwwkSi1Gt7GYDNSr7r54NdrqixvVpTTPmWNDPMcmU2veJPtwvdUELlK1ZzcceT89IiZ2cABTk9mvZNp8vWPWQuIMWP3AjFgPrcqfYi","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"bgd0m2h2aewjxsxsfpnvkc","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"={{ $json.body.data.key.remoteJid.replace(/@.*/, '') }}","type":"string"},{"id":"c0f2d0dd-4a4c-495e-bed1-2e23506910a5","name":"mensagem","value":"=Opa que bom que ja esta por dentro, não deixa de acessar mesmo, pois estou sempre mandando novidades la para todo time...","type":"string"}]},"options":{}},"id":"99b9d984-3d8e-4ccd-bca4-d8453478ba3c","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,-280]},{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}/message/sendText/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.mensagem }}\"\n    }\n}","options":{}},"id":"77708d84-55ba-43da-8f3c-86ddb50da9c8","name":"SEND LIST1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,-280],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"content":"## RESPONDE QUEM RESPONDEU A LISTA","height":433.9831914169138,"width":803.3543574633277,"color":3},"id":"a2a32bd5-8588-4413-aed2-5086d42c1c1d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,-380]},{"parameters":{"documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"TEM WHATSAPP"}]},"options":{}},"id":"94d711cb-4bfb-46b4-b1b4-9e8beb78d071","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1080,340],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://whatsapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"BOSS","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"={{ $json.WHATSAPP }}","type":"string"}]},"options":{}},"id":"b4c3fb89-6821-44bf-8514-66b36d5f9014","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,360]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"WHATSAPP":"={{ $json.number }}","TEM WHATSAPP":"SIM"},"matchingColumns":["WHATSAPP"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"77083c8a-9e0a-45b4-b130-b38133c225ee","name":"EDITA COM WHATSAPP","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2220,220],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}/message/sendList/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\"\n    },\n    \"listMessage\": {\n        \"title\": \"COMUNICADO ASGARD ACADEMY\",\n        \"description\": \"{{ $json.mensagem }}\",\n        \"buttonText\": \"VER OPÇÕES\",\n        \"footerText\": \"ACESSAR ASGARD ACADEMY\\nhttps://membros.teamasgard.pro\",\n        \"sections\": [\n            {\n                \"title\": \"JA ACESSOU E VIU AS NOVIDADES\",\n                \"rows\": [\n                    {\n                        \"title\": \"SIM\",\n                        \"description\": \"SIM, JA ACESSEI\",\n                        \"rowId\": \"rowId 001\"\n                    },\n                    {\n                        \"title\": \"NÃO\",\n                        \"description\": \"NÃO ACESSEI AINDA\",\n                        \"rowId\": \"rowId 002\"\n                    }\n                ]\n            }\n        ]\n    }\n}","options":{}},"id":"8f8b89ed-fc4e-4a79-95f3-dd1c576d2008","name":"SEND LIST3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,1140],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}/message/sendList/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\"\n    },\n    \"listMessage\": {\n        \"title\": \"COMUNICADO ASGARD ACADEMY\",\n        \"description\": \"{{ $json.mensagem }}\",\n        \"buttonText\": \"VER OPÇÕES\",\n        \"footerText\": \"ACESSAR COMUNIDADE ECOM\\nhttps://jeffecom.com/combo/?referralCode=7ybek55&refSource=copy\",\n        \"sections\": [\n            {\n                \"title\": \"DESEJA ACESSAR A COMUNIDADE ECOM\",\n                \"rows\": [\n                    {\n                        \"title\": \"SIM QUERO\",\n                        \"description\": \"https://jeffecom.com/combo/?referralCode=7ybek55&refSource=copy\",\n                        \"rowId\": \"rowId 001\"\n                    },\n                    {\n                        \"title\": \"NÃO OBRIGADO\",\n                        \"description\": \" \",\n                        \"rowId\": \"rowId 002\"\n                    }\n                ]\n            }\n        ]\n    }\n}","options":{}},"id":"cc6202fe-abca-46aa-805e-52d8cec4c664","name":"DESEJA RECEBER","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,720],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk","mode":"list","cachedResultName":"CADASTROS ASGARD ACADEMY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CADASTROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Sl2jzpEA2GFDAC7ke6M4PGuXO1JjAxF4y2-thdIZLZk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"STATUS ENVIO":"ERRO AO ENVIAR","WHATSAPP":"={{ $('Edit Fields').item.json.contato }}"},"matchingColumns":["WHATSAPP"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TEM WHATSAPP","displayName":"TEM WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS ENVIO","displayName":"STATUS ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"db344129-bc07-466c-a217-c74b899e1ed8","name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2140,820],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"amount":"={{Math.floor(Math.random() * (10 - 3 + 1)) + 3}}\n"},"id":"be20f10c-b6df-43d9-9a00-970abb4bf09f","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2480,360],"webhookId":"c9cec972-2b86-441b-bcc5-be273613989c"},{"parameters":{"method":"POST","url":"={{ $json.baseUrl }}/chat/whatsappNumbers/{{ $json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"numbers\": [\n    \"{{ $json.contato }}\"\n  ]\n}","options":{}},"id":"8e3eed1c-419e-4ab2-b1c8-1d924b87a245","name":"CHECAR WHATSAPP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,360],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ATENDIMENTOASGARD","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"LaaxXSXdg1O0HgOSIr63aznmp6kwwkSi1Gt7GYDNSr7r54NdrqixvVpTTPmWNDPMcmU2veJPtwvdUELlK1ZzcceT89IiZ2cABTk9mvZNp8vWPWQuIMWP3AjFgPrcqfYi","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"bgd0m2h2aewjxsxsfpnvkc","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"contato","value":"={{ $json.WHATSAPP }}","type":"string"},{"id":"c0f2d0dd-4a4c-495e-bed1-2e23506910a5","name":"mensagem","value":"=Olá, {{ $json.NOME }}! 😊 Tudo bem com você?\\n\\nEstamos passando para confirmar seus dados e avisar que temos material novo no ASGARD ACADEMY! 🚀\\n\\nNo card MENTORIAS E CALLS, basta acessar o último card: *O JOGO RESPONSÁVEL*. 🎯\\n\\nConfira seus email abaixo:\\n📧 E-mail: {{ $json.EMAIL }}\\nBasta acessar usando ele e sua senha pessoal.\\n\\nPor favor, salve este contato para garantir que sempre receberá nosso conteúdo de qualidade. Valorizamos muito você e fornecemos tudo 100% gratuito! 🙌\\n\\nSe, por algum motivo, você não quiser mais receber essas mensagens, basta digitar *SAIR*.\\nLembre-se de que, ao sair, seu acesso a AREA DE MEMBROS *ASGARD ACADEMY* também será restrito\\n\\nEstamos aqui para ajudar você! 🌟","type":"string"}]},"options":{}},"id":"ba7e9873-26bd-47c7-a243-4c817d2469a0","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,900]}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"EDITA COM WHATSAPP","type":"main","index":0}],[{"node":"EDITA SEM WHATSAPP","type":"main","index":0}]]},"EDITA SEM WHATSAPP":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"DESEJA RECEBER","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"SEND LIST2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"SEND LIST1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"CHECAR WHATSAPP","type":"main","index":0}]]},"EDITA COM WHATSAPP":{"main":[[{"node":"Wait","type":"main","index":0}]]},"DESEJA RECEBER":{"main":[[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"CHECAR WHATSAPP":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bd0d408a-4bde-4670-becb-e45df8c0df8c","triggerCount":1,"tags":[{"createdAt":"2025-01-28T19:32:15.714Z","updatedAt":"2025-01-28T19:32:15.714Z","id":"3P6JcgcIXGvnsKIt","name":"whatsapp"}]}