disparador-93IIxvXrAn1JNHUU.json
{"createdAt":"2024-11-14T13:45:31.962Z","updatedAt":"2024-11-18T13:23:09.753Z","id":"93IIxvXrAn1JNHUU","name":"DISPARADOR","active":false,"nodes":[{"parameters":{},"id":"3210f459-071b-446d-99d9-7ff60ac77c1b","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[340,1640],"typeVersion":1},{"parameters":{"options":{}},"id":"71ba974f-3584-4a15-a216-cb346aa20c26","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[860,1640]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1VP-HZmsFCpkLgJbDDdFG3NaIc-jgVHqEYL_kett0eCk","mode":"list","cachedResultName":"DISPAROS WHATSAPP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VP-HZmsFCpkLgJbDDdFG3NaIc-jgVHqEYL_kett0eCk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"NUMEROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VP-HZmsFCpkLgJbDDdFG3NaIc-jgVHqEYL_kett0eCk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Loop Over Items1').item.json.NUMERO }}","STATUS":"ENVIADA"},"matchingColumns":["NUMERO"],"schema":[{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"fd0fa715-c26c-4df7-8b59-f9189a230a12","name":"Atualiza Sucesso1","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1660,1520],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"documentId":{"__rl":true,"value":"1VP-HZmsFCpkLgJbDDdFG3NaIc-jgVHqEYL_kett0eCk","mode":"list","cachedResultName":"DISPAROS WHATSAPP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VP-HZmsFCpkLgJbDDdFG3NaIc-jgVHqEYL_kett0eCk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"NUMEROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VP-HZmsFCpkLgJbDDdFG3NaIc-jgVHqEYL_kett0eCk/edit#gid=0"},"options":{}},"id":"550f9118-5ac7-4e62-bb74-3b8a43caa751","name":"Obtem todos os contatos1","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[600,1640],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"amount":10},"id":"a7b1645f-c0c8-4f93-922c-171082c35a50","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1900,1660],"webhookId":"2987fe5c-e96e-433b-ba83-c95cadc6d0c9"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1VP-HZmsFCpkLgJbDDdFG3NaIc-jgVHqEYL_kett0eCk","mode":"list","cachedResultName":"DISPAROS WHATSAPP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VP-HZmsFCpkLgJbDDdFG3NaIc-jgVHqEYL_kett0eCk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"NUMEROS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VP-HZmsFCpkLgJbDDdFG3NaIc-jgVHqEYL_kett0eCk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Loop Over Items1').item.json.NUMERO }}","STATUS":"FALHA AO ENVIAR"},"matchingColumns":["NUMERO"],"schema":[{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"c20cb112-5ccf-4f51-89bf-10bfd9d9a904","name":"Não Enviado1","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1660,1700],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"https://evolutionapi.typebot.pro/message/sendText/jessicadonald ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"ef88n3hzzct5720gtt3nis"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Obtem todos os contatos1').item.json.NUMERO }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.msg }}\"\n    }\n}","options":{}},"id":"07bdfb85-b39c-4175-bc1a-bea46cebda7e","name":"Evolution 2.1.0 - Texto1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,1660],"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4e978591-c43f-4671-8a3e-2444dbaa0791","name":"msg","value":"=Olá tudo bem, meu nome é Jessica, trabalho na Donald e vim te fazer um convite, você roda Igaming-cassino?\\nQueria te apresentar a Donald, que foi uma das primeiras casas de apostas a começar com o processo de regulamentação junto ao Ministério da Fazenda.\\nTenho uma proposta especial para você se tornar nosso afiliado e vir rodar com a gente em um lugar seguro e transparente, caso ainda não seja nosso afiliado claro, e vir para o *TEAM ASGARD*.\\n\\nTem interesse em prosseguir e saber mais sobre nosso trabalho, posso te falar das vantagens, premiações e tudo mais?","type":"string"}]},"options":{}},"id":"d8b9acef-62ad-41a2-b583-1760ec3f915a","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,1660]},{"parameters":{"content":"## planilha com os contatos","height":324.5797289752334},"id":"cd991bac-0c06-4816-acce-9545eb711643","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[540,1540]},{"parameters":{"content":"## confirmação de envio","height":419.59483023928567,"width":243.39339647371617},"id":"4ac76855-f0bd-42af-b9da-e083cc90428e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1600,1439]},{"parameters":{"content":"## mensagem a ser enviada","height":304.2193501329367,"width":243.39339647371617},"id":"044ea6b1-e79f-4b01-85b1-656a140b0a1e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1020,1554.5047355287124]},{"parameters":{"content":"## configurar api aqui","height":295.7358589486463,"width":243.39339647371617},"id":"c0b53c00-5e97-421f-b967-8bc498cfda57","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1320,1558]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Obtem todos os contatos1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Atualiza Sucesso1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Obtem todos os contatos1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Não Enviado1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Evolution 2.1.0 - Texto1":{"main":[[{"node":"Atualiza Sucesso1","type":"main","index":0}],[{"node":"Não Enviado1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Evolution 2.1.0 - Texto1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b3089bd1-4e29-4ae5-a4bf-17604317e600","triggerCount":0,"tags":[]}