donald---scraper-eFmlcx44LjEcuBhy.json
{"createdAt":"2025-01-30T12:19:33.184Z","updatedAt":"2025-02-02T21:41:11.231Z","id":"eFmlcx44LjEcuBhy","name":"DONALD - SCRAPER","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1480,-60],"id":"8d413e08-4b61-4096-9e69-2b3a99ade0d9","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"https://app.donald.bet/api/api/auth/login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"accept-language","value":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7"},{"name":"authorization","value":"Bearer null"},{"name":"cache-control","value":"no-store"},{"name":"cookie","value":"_gcl_au=1.1.460288005.1731066695; _ga=GA1.1.1008632408.1731066696; FPID=FPID2.2.y3X03dcvfBcWHjRL7J8hSlhAoVZf9TkgttMYmaD7lS0%3D.1731066696; _fbp=fb.1.1731066694964.1868251131; __user_id=uid-1391331642.7462005241; _gtmeec=eyJjdCI6ImEwNjE0MmYwNjFkMjY4NDljYWQ5ZWJmOTJlZTU3YTk3Yzk0OTMzOTUzMDlmMjJmNGFmNzhmNGVjMDliOWYzNjEiLCJzdCI6ImU5OTQ5ZDkwNGQ0MzZlMWZkMjFiMWFjMjM0YzFmYWQyMGIwOTM5ZjBkNmY0MjkyZjc4NjI1Y2ViYWYyNjdlZDgiLCJjb3VudHJ5IjoiODg1MDM2YTBkYTNkZmYzYzNlMDViYzc5YmY0OTM4MmIxMmJjNTA5ODUxNGVkNTdjZTA4NzVhYmExYWEyYzQwZCIsImV4dGVybmFsX2lkIjoiZTY0NDc0ZmQ5MWYxNmEwODkxZmIxZGUyM2RmZjA2ZThiZDBhMGVlNDk1ZjFhZGQyZWMwOGEwN2YxZmI2M2JiNCJ9; _ga_BF8EJ3V8ZR=GS1.1.1734102259.46.0.1734102259.0.0.0; _ga_56WGP16JV6=GS1.1.1734102259.46.0.1734102259.0.0.0; _ga_1QZQKE6JTJ=GS1.1.1734102253.47.1.1734102259.54.0.2123241686; _ga_RWDRRM3WM0=GS1.1.1734102259.46.0.1734102259.0.0.0; __tr=ddukqdbxvlzbzhgzyvuufwpry; layout=%7B%22isModalOpen%22%3Afalse%2C%22isModalTermOpen%22%3Afalse%2C%22currentLang%22%3A%22pt%22%7D; appearance=%7B%22logo_url%22%3A%22%2Fdonaldpartners%2Fappearance%2F_07_01_2025_12_08_23.png%22%2C%22color_primary%22%3A%22%23FFE420%22%2C%22color_background%22%3A%22%23212425%22%2C%22color_global_text%22%3A%22%23FFFFFF%22%2C%22color_button_text%22%3A%22%23000000%22%7D; _clck=7r95hi%7C2%7Cft0%7C0%7C1773; __cf_bm=cwCQHGxYE6QCHc3m3YhWejEH1JI2xbPbv6GM5hJEpoM-1738240332-1.0.1.1-SE_PqP2zqo.bMVcK70d_0NbNb58KjXVXxjDQ_hxGJ_r5uJMnuxKTuzG_9B10Ysk6RPJjhssFIPzGZEQb5MhY.w; _cfuvid=6cqkFqlQY5eihY38rOHPWZN01xK6SGtDvkaviVv4xyM-1738240332794-0.0.1.1-604800000; user_data=%7B%22user_data%22%3A%5B%5D%2C%22user_data_load%22%3Afalse%2C%22user_deal%22%3A%5B%5D%2C%22user_deal_load%22%3Atrue%7D; gamification=%7B%22gamification_loading%22%3Atrue%2C%22gamification_params%22%3A%7B%7D%2C%22gamification_levels%22%3A%5B%5D%2C%22user_gamification%22%3A%5B%5D%7D; _ga_YKZ4GJ6WYX=GS1.1.1738238901.69.1.1738240769.0.0.1089376159; _clsk=skv2qh%7C1738240770692%7C13%7C1%7Cs.clarity.ms%2Fcollect"},{"name":"environment","value":"undefined"},{"name":"lang","value":"pt"},{"name":"local-pass","value":"undefined"},{"name":"origin","value":"https://app.donald.bet"},{"name":"priority","value":"u=1, i"},{"name":"referer","value":"https://app.donald.bet/pt/auth/login"},{"name":"sec-ch-ua","value":"\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"Google Chrome\";v=\"132\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"sec-fetch-dest","value":"empty"},{"name":"sec-fetch-mode","value":"cors"},{"name":"sec-fetch-site","value":"same-origin"},{"name":"tenant","value":"app.donald.bet"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $('dados').item.json.email }}"},{"name":"password","value":"={{ $('dados').item.json.senha }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1280,160],"id":"3774d440-3c11-4255-82e8-adcbfca17a7e","name":"HTTP Request1"},{"parameters":{"url":"https://app.donald.bet/api/api/report","sendQuery":true,"queryParameters":{"parameters":[{"name":"date_from","value":"={{ $('Code').item.json.dataInicialFormatada }}"},{"name":"date_to","value":"={{ $('Code').item.json.dataFinalFormatada }}"},{"name":"group_by"},{"name":"aggregation_period","value":"DAY"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"accept-language","value":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7"},{"name":"authorization","value":"=Bearer {{ $json.data.authorization.token }}"},{"name":"cache-control","value":"no-store"},{"name":"cookie","value":"_gcl_au=1.1.460288005.1731066695; _ga=GA1.1.1008632408.1731066696; FPID=FPID2.2.y3X03dcvfBcWHjRL7J8hSlhAoVZf9TkgttMYmaD7lS0%3D.1731066696; _fbp=fb.1.1731066694964.1868251131; __user_id=uid-1391331642.7462005241; _gtmeec=eyJjdCI6ImEwNjE0MmYwNjFkMjY4NDljYWQ5ZWJmOTJlZTU3YTk3Yzk0OTMzOTUzMDlmMjJmNGFmNzhmNGVjMDliOWYzNjEiLCJzdCI6ImU5OTQ5ZDkwNGQ0MzZlMWZkMjFiMWFjMjM0YzFmYWQyMGIwOTM5ZjBkNmY0MjkyZjc4NjI1Y2ViYWYyNjdlZDgiLCJjb3VudHJ5IjoiODg1MDM2YTBkYTNkZmYzYzNlMDViYzc5YmY0OTM4MmIxMmJjNTA5ODUxNGVkNTdjZTA4NzVhYmExYWEyYzQwZCIsImV4dGVybmFsX2lkIjoiZTY0NDc0ZmQ5MWYxNmEwODkxZmIxZGUyM2RmZjA2ZThiZDBhMGVlNDk1ZjFhZGQyZWMwOGEwN2YxZmI2M2JiNCJ9; _ga_BF8EJ3V8ZR=GS1.1.1734102259.46.0.1734102259.0.0.0; _ga_56WGP16JV6=GS1.1.1734102259.46.0.1734102259.0.0.0; _ga_1QZQKE6JTJ=GS1.1.1734102253.47.1.1734102259.54.0.2123241686; _ga_RWDRRM3WM0=GS1.1.1734102259.46.0.1734102259.0.0.0; __tr=ddukqdbxvlzbzhgzyvuufwpry; layout=%7B%22isModalOpen%22%3Afalse%2C%22isModalTermOpen%22%3Afalse%2C%22currentLang%22%3A%22pt%22%7D; appearance=%7B%22logo_url%22%3A%22%2Fdonaldpartners%2Fappearance%2F_07_01_2025_12_08_23.png%22%2C%22color_primary%22%3A%22%23FFE420%22%2C%22color_background%22%3A%22%23212425%22%2C%22color_global_text%22%3A%22%23FFFFFF%22%2C%22color_button_text%22%3A%22%23000000%22%7D; _clck=7r95hi%7C2%7Cft0%7C0%7C1773; _cfuvid=6cqkFqlQY5eihY38rOHPWZN01xK6SGtDvkaviVv4xyM-1738240332794-0.0.1.1-604800000; __cf_bm=gAVxTKQoNDJOq8beYMUVhRq1vr2A_XV9IkgrNeaPRNE-1738242591-1.0.1.1-VMVSaIQc2n1eHfN7861KeyCVsPPR6dWPMkBANM7p3b7aGutovFk6AZ9HTnBMynjUNJZOFzL4xSpzLYbUrcs0gQ; _ga_YKZ4GJ6WYX=GS1.1.1738243047.70.0.1738243050.0.0.1184419059; user_data=%7B%22user_data%22%3A%7B%22avatar_url%22%3A%22%2Fassets%2Favatar%2F5.png%22%2C%22name%22%3A%22Jamil%20Abr%C3%A3o%22%2C%22firstname%22%3A%22Jamil%22%2C%22lastname%22%3A%22Abr%C3%A3o%22%2C%22email%22%3A%22jamilabrao%40hotmail.com%22%2C%22username%22%3A%22jamil_abr%C3%A3o_WCTP6fHR%22%2C%22phone%22%3A%2234988187499%22%2C%22status%22%3A%22Approved%22%2C%22sub_affiliate_url%22%3A%22https%3A%2F%2Fapp.donald.bet%2F%3Fpaff%3D54298%26mgr%3D710227%22%2C%22source_event%22%3Anull%2C%22created_at%22%3A%222023-10-10T20%3A44%3A35.000000Z%22%2C%22updated_at%22%3A%222025-01-30T13%3A17%3A40.000000Z%22%2C%22manager_id%22%3A710227%2C%22terms%22%3A1%2C%22manager%22%3A%7B%22name%22%3A%22Marlon%20%20Soares%22%2C%22username%22%3A%22msoares%40donaldbet%22%2C%22email%22%3A%22marlon.soares%40donald.bet%22%2C%22phone%22%3A%22%22%2C%22telegram%22%3A%22%22%7D%2C%22authorization%22%3A%7B%22token%22%3A%228449987%7CMmzCCBTnimUkkM28B75gAnzgo9pmjHtfqiiPqNHyf9d46eb6%22%7D%2C%22roles%22%3A%5B%22affiliate%22%5D%2C%22permissions%22%3A%5B%22request_payments%22%2C%22request_bank_account_update%22%5D%7D%2C%22user_data_load%22%3Afalse%2C%22user_deal%22%3A%7B%22status%22%3Atrue%2C%22deal_group_name%22%3A%22Rev%20Share%20%22%2C%22deal_id%22%3A607251%2C%22cpa_amount%22%3A0%2C%22rev_share_percentage%22%3A35%2C%22deal_name%22%3A%2235%25%20RevShare%22%7D%2C%22user_deal_load%22%3Afalse%7D; _clsk=skv2qh%7C1738243057337%7C30%7C1%7Cs.clarity.ms%2Fcollect; gamification=%7B%22gamification_loading%22%3Afalse%2C%22gamification_params%22%3A%7B%7D%2C%22gamification_levels%22%3A%5B%5D%7D"},{"name":"environment","value":"undefined"},{"name":"lang","value":"pt"},{"name":"local-pass","value":"undefined"},{"name":"priority","value":"u=1, i"},{"name":"referer","value":"https://app.donald.bet/pt/report"},{"name":"sec-ch-ua","value":"\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"Google Chrome\";v=\"132\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"sec-fetch-dest","value":"empty"},{"name":"sec-fetch-mode","value":"cors"},{"name":"sec-fetch-site","value":"same-origin"},{"name":"tenant","value":"app.donald.bet"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1080,160],"id":"b4b38202-a900-4d63-ad4e-3644a4572ed2","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"data.rows","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-880,160],"id":"af460ceb-a76c-4b53-bb63-9fedbf8b678c","name":"Split Out"},{"parameters":{"jsCode":"// Acessa os campos 'data inicial' e 'data final' do nó anterior\nlet dataInicial = items[0].json['data inicial'];  // Acessa o campo 'data inicial'\nlet dataFinal = items[0].json['data final'];  // Acessa o campo 'data final'\n\n// Converte a data no formato \"dd/MM/yyyy\" para \"yyyy-MM-dd\"\nlet partesDataInicial = dataInicial.split('/');\nlet dataInicialFormatada = `${partesDataInicial[2]}-${partesDataInicial[1]}-${partesDataInicial[0]}`;\n\nlet partesDataFinal = dataFinal.split('/');\nlet dataFinalFormatada = `${partesDataFinal[2]}-${partesDataFinal[1]}-${partesDataFinal[0]}`;\n\nreturn {\n  json: {\n    dataInicialFormatada: dataInicialFormatada,\n    dataFinalFormatada: dataFinalFormatada\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1460,160],"id":"f0541503-3e84-4f5d-8106-7d034e20af43","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"9bc6fa9a-de1a-4c90-b7d4-2868bb50e1ea","name":"email","value":"jamilabrao@hotmail.com","type":"string"},{"id":"89b62eff-4b0f-4dac-b24a-5637a84c7c3b","name":"senha","value":"Mva0306.","type":"string"},{"id":"eb376124-a5a9-4c11-9d69-472e18c115fb","name":"data inicial","value":"01/01/2025","type":"string"},{"id":"fce59eef-9c1e-4288-846f-65c2da873963","name":"data final","value":"02/02/2025","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1280,-60],"id":"e8217f8f-b7be-47fa-8b5c-08177b52ef3e","name":"dados"},{"parameters":{"assignments":{"assignments":[{"id":"eb376124-a5a9-4c11-9d69-472e18c115fb","name":"data inicial","value":"01/01/2025","type":"string"},{"id":"fce59eef-9c1e-4288-846f-65c2da873963","name":"data final","value":"02/02/2025","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,-60],"id":"66a8704f-1303-4325-8e60-f83b7401190e","name":"data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5f315c58-9ead-470b-9905-c06cdb1f3561","leftValue":"={{ $json.date }}","rightValue":"={{ new Date(new Date().setDate(new Date().getDate() - 1)).toISOString().split('T')[0] }}","operator":{"type":"dateTime","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-640,80],"id":"d8665d74-c8ae-400d-a1b7-4dd1c4481578","name":"Filter"},{"parameters":{"method":"POST","url":"={{ $('dados evolution 2.0').item.json.baseUrl }}/message/sendText/{{ $('dados evolution 2.0').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('dados evolution 2.0').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('dados evolution 2.0').item.json.grupo }}\",\n    \"text\": \"RELATORIO FATURAMENTO DIA\\n\\nDATA: {{ $json.date }}\\nComissão: {{ $json.commissions_total }}\"\n}","options":{}},"id":"f0387a1e-bf6f-4e22-96d8-31d892d27049","name":"ENVIAR NO GRUPO DADOS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,80]},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://whatsapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"BOSS","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"grupo","value":"120363319311443540@g.us","type":"string"}]},"options":{}},"id":"3a697f1b-726c-4b68-b9c5-b814f231a9bd","name":"dados evolution 2.0","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1100,-60]},{"parameters":{"content":"## DADOS E CONFIGURAÇÃO\n**USUARIO E SENHA DO PAINEL DONALD","height":580,"width":1500},"type":"n8n-nodes-base.stickyNote","position":[-1520,-160],"typeVersion":1,"id":"5e4abca3-4ee4-4ca6-b5eb-2f869e107bca","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"b66126fb-16b7-4a44-85fa-e0ab4e4f1990","name":"date","value":"={{ new Date().getDate().toString().padStart(2, '0') + '/' + (new Date().getMonth() + 1).toString().padStart(2, '0') + '/' + new Date().getFullYear() }}","type":"string"},{"id":"38c7530d-0952-44f2-afba-268948913740","name":"data.email","value":"={{ $('HTTP Request1').item.json.data.email }}","type":"string"},{"id":"1a580309-87e5-48f7-8c8b-642473bec651","name":"data.manager.name","value":"={{ $('HTTP Request1').item.json.data.manager.name }}","type":"string"},{"id":"c1afc48b-a457-4476-9012-6e480ef8abac","name":"sub_commission_from_child","value":"={{ $json.sub_commission_from_child }}","type":"number"},{"id":"0eaff6d0-b013-4725-93c4-09cd86ccd7a4","name":"commissions_total","value":"={{ $json.commissions_total }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-440,80],"id":"4f02564b-3dda-436a-960e-c954baf6204e","name":"COLETAR DADOS"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"dados","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"dados":{"main":[[{"node":"dados evolution 2.0","type":"main","index":0}]]},"data":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"COLETAR DADOS","type":"main","index":0}]]},"dados evolution 2.0":{"main":[[{"node":"data","type":"main","index":0}]]},"COLETAR DADOS":{"main":[[{"node":"ENVIAR NO GRUPO DADOS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"995eac4f-4dcf-4851-89e4-e2e00d91b77d","triggerCount":0,"tags":[]}