editar-nome-sheet-hIgDCUTcRJQEmKjk.json
{"createdAt":"2025-01-11T18:54:09.662Z","updatedAt":"2025-01-12T18:46:51.863Z","id":"hIgDCUTcRJQEmKjk","name":"EDITAR NOME SHEET","active":false,"nodes":[{"parameters":{"options":{}},"id":"5afe8409-4669-405a-880f-dba0aac49901","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[620,680],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"documentId":{"__rl":true,"value":"1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A","mode":"list","cachedResultName":"EMAILS BASE JEFF","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1959795884,"mode":"list","cachedResultName":"NOME2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A/edit#gid=1959795884"},"filtersUI":{"values":[{"lookupColumn":"NOME"}]},"options":{}},"id":"6cb0fe8e-6d7c-4116-8f4a-a70145375d4c","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-40,480],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"assignments":{"assignments":[{"id":"f686e27c-be95-4acd-8472-81761818b990","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"id":"da092b3f-05b9-483a-a0d0-33218bee655e","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,500]},{"parameters":{"batchSize":50,"options":{}},"id":"b37830ed-3146-4ac7-9d7d-ab067f6270d3","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,480]},{"parameters":{"assignments":{"assignments":[{"id":"b16309b5-4b43-4d7c-8c88-74981d9ec765","name":"NOME","value":"={{ $json.output }}","type":"string"}]},"options":{}},"id":"6fa457f2-d9a6-4ded-99b3-ca566a192d51","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1080,500]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A","mode":"list","cachedResultName":"EMAILS BASE JEFF","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1959795884,"mode":"list","cachedResultName":"NOME2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lrc5zglzx3-Sy1_p2y0ozpny5cK6wt6Bf47rpTDH10A/edit#gid=1959795884"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields2').item.json.EMAIL }}","NOME":"={{ $json.NOME }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"d4fb0fa5-a40a-4c98-9008-748cc596a795","name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1320,500],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"amount":3},"id":"0a3e7f4c-fe7e-4d40-aec7-8eedcebc2920","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1320,700],"webhookId":"70845797-5e4d-4a17-ac20-fc65cfb52e29"},{"parameters":{},"id":"2af68442-5666-4e0f-a91e-40bbec3d63c5","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-260,480]},{"parameters":{"promptType":"define","text":"=PEGAR O EMAIL {{ $json.EMAIL }} E BASEADO NELE DEFINIR O NOME CONFORME O EMAIL, PARA SALVAR COMO NOME DA PESSOA COM ESPAÇO ONDE ACHA QUE TENHA PARA DEFINIR NOME E SOBRENOME, SOBRE NOME SEM NEXO IGNORAR E PASSAR APENAS NOME, DE APENAS O NOME SEM MAIS DADOS SEM O TEXTO **NOME**\n\nNÃO USE NEGRITO OU QUEBRA DE LINHAS NA SAÍDA.\nNÃO INFORME O ERRO NA SAÍDA, APENAS DEFINA UM NOME ALEATÓRIO DA LISTA ABAIXO.\nCASO NO EMAIL NÃO Você NÃO IDENTIFIQUE UM NOME DE PESSOA, ESCOLHA UM ALEATÓRIO DA LISTA QUE FORNECI ABAIXO E EVITE REPETIR O NOME QUE ESCOLHER.\n\nJoão\nMaria\nJosé\nAna\nPedro\nLucas\nMarcos\nFrancisco\nMatheus\nAntônio\nRafael\nPaulo\nCarlos\nRodrigo\nFernanda\nJuliana\nLeonardo\nAdriana\nLetícia\nBruno\nMarcelo\nEduardo\nFelipe\nDaniel\nVitor\nGustavo\nAndré\nMariana\nCamila\nRenata\nPatrícia\nTiago\nDiego\nGuilherme\nFernando\nRicardo\nAline\nBianca\nAmanda\nRebeca\nSandra\nEliane\nCláudia\nCarolina\nFábio\nRoberto\nAntônio\nSebastião\nEverton\nSilvio\nVanessa\nGiovanna\nMarcelo\nMaurício\nAlex\nCristian\nHenrique\nIsabel\nValéria\nLarissa\nDaiane\nJoyce\nCintia\nLilian\nVivian\nPriscila\nNathalia\nBeatriz\nRoberta\nJoão Vitor\nMaria Clara\nAna Beatriz\nPedro Henrique\nLucas Gabriel\nLuiz Felipe\nJosé Eduardo\nAna Júlia\nMaria Eduarda\nJoão Pedro\nVitória\nManuela\nAlice\nSofia\nIsabela\nEmanuel\nEnzo\nHeitor\nDavi\nMiguel\nClara\nRafael\nSamuel\nBernardo\nArthur\nMatheus\nCaio\nVicente\nCatarina","options":{}},"id":"e2f5529b-c98b-4ef4-90ff-a9154020eadf","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[620,1100]},{"parameters":{"promptType":"define","text":"=**Objetivo:** Extrair um nome de pessoa a partir do campo de email fornecido (`{{ $json.EMAIL }}`) e formatar o resultado adequadamente. \n\n**Regras:**\n\n1. **Extração do Nome:**\n   - Utilize o valor do email para inferir o nome da pessoa.\n   - Identifique o nome e o sobrenome separando as palavras no email por espaços.\n   - Se houver múltiplos termos, utilize apenas o primeiro como o nome, descartando os demais.\n   - Se o nome não puder ser identificado claramente, selecione um nome aleatório da lista fornecida.\n   - Evite nomes como contato, gerente, especialista, credito, cred, financiamento\n\n2. **Formato de Saída:**\n   - Retorne apenas o nome, sem formatação adicional, negrito ou quebras de linha.\n   - Não inclua qualquer texto adicional como \"NOME\".\n   - Não retorne mensagens de erro, mesmo que a extração falhe.\n\n3. **Nomes Aleatórios:**\n   - Se a extração não for possível, selecione um nome aleatório da lista fornecida abaixo.\n   - Evite repetir nomes já escolhidos anteriormente.\n\n**Lista de Nomes:**\n- João, Maria, José, Ana, Pedro, Lucas, Marcos, Francisco, Matheus, Antônio, Rafael, Paulo, Carlos, Rodrigo, Fernanda, Juliana, Leonardo, Adriana, Letícia, Bruno, Marcelo, Eduardo, Felipe, Daniel, Vitor, Gustavo, André, Mariana, Camila, Renata, Patrícia, Tiago, Diego, Guilherme, Fernando, Ricardo, Aline, Bianca, Amanda, Rebeca, Sandra, Eliane, Cláudia, Carolina, Fábio, Roberto, Antônio, Sebastião, Everton, Silvio, Vanessa, Giovanna, Marcelo, Maurício, Alex, Cristian, Henrique, Isabel, Valéria, Larissa, Daiane, Joyce, Cintia, Lilian, Vivian, Priscila, Nathalia, Beatriz, Roberta, João Vitor, Maria Clara, Ana Beatriz, Pedro Henrique, Lucas Gabriel, Luiz Felipe, José Eduardo, Ana Júlia, Maria Eduarda, João Pedro, Vitória, Manuela, Alice, Sofia, Isabela, Emanuel, Enzo, Heitor, Davi, Miguel, Clara, Rafael, Samuel, Bernardo, Arthur, Matheus, Caio, Vicente, Catarina.","options":{}},"id":"7a965199-d7d5-4272-aa64-f550ce32b5ba","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[660,500]}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Google Sheets2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7ecf2d5d-d318-4f55-a8bc-fae2c04c679b","triggerCount":0,"tags":[]}