enviar-rank-jeff-B3khkqbbQbVi52Aw.json
{"createdAt":"2025-01-11T09:07:41.509Z","updatedAt":"2025-02-02T17:35:04.659Z","id":"B3khkqbbQbVi52Aw","name":"ENVIAR RANK JEFF","active":false,"nodes":[{"parameters":{"url":"https://app.viral-loops.com/api/v2/rank?publicToken=Zl4TjVybatDzmW1Y8dJyZbKWLGE&params[user][referralCode]=889imbm","options":{}},"id":"0138368c-fdd0-4390-bb5b-9644db8b9a7b","name":"matheus oliveira","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,-60]},{"parameters":{"url":"https://app.viral-loops.com/api/v2/rank?publicToken=Zl4TjVybatDzmW1Y8dJyZbKWLGE&params[user][referralCode]=7ybek55","options":{}},"id":"8da2a7ab-9118-4c75-996a-ea0b49b632b0","name":"jamil abrao","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,620]},{"parameters":{"assignments":{"assignments":[{"id":"996564ff-aa3b-4087-ba6e-ce5ff89ee540","name":"rankjamil","value":"={{ $('jamil abrao').item.json.referralCountTotal }}","type":"string"}]},"options":{}},"id":"71d2e4ac-038e-46d3-974f-5ffb1963079c","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,620]},{"parameters":{"url":"https://app.viral-loops.com/api/v2/rank?publicToken=Zl4TjVybatDzmW1Y8dJyZbKWLGE&params[user][referralCode]=2vizofe","options":{}},"id":"243d522a-6c87-4eba-b1ad-b05bdcab6828","name":"lucca","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,-60]},{"parameters":{"url":"https://app.viral-loops.com/api/v2/rank?publicToken=Zl4TjVybatDzmW1Y8dJyZbKWLGE&params[user][referralCode]=3kzktp1","options":{}},"id":"438925e8-6529-40ca-b2b0-ff00ba0c3274","name":"maria julia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,-60]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"778c505c-7205-4b38-b64e-0c3effaf4e5e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[140,620]},{"parameters":{"method":"POST","url":"https://evolutionapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"w5zi59v6tprtdy9pms4e8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"553488187499@s.whatsapp.net\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"RANK JEFF\\n\\nJAMIL: {{ $('jamil abrao').item.json.referralCountTotal }}\\nMATHEUS OLIVEIRA {{ $('matheus oliveira').item.json.referralCountTotal }}\\nLUCCAS {{ $('lucca').item.json.referralCountTotal }}\"\n    }\n}","options":{}},"id":"6e55851b-0d2e-42b7-84b3-b102da580f01","name":"ENVIAR RANK WHATSAPP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,120]},{"parameters":{"fieldToSplitOut":"leaderBoard","options":{}},"id":"69f3b2e2-60a9-4ed3-9efa-91e8b4557b88","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1080,620]},{"parameters":{"method":"POST","url":"https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"553488187499@s.whatsapp.net\",\n    \"text\": \"RELATÓRIO JEFF\\n\\nContador Jamil: {{ $('Edit Fields').item.json.rankjamil }}\\n\\nRANK GERAL\\n{{ $json.formattedLeadname }}\"\n}","options":{}},"id":"335f1be1-da9f-4b70-882e-6e4018c194d2","name":"ENVIAR RANK WHATSAPP1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,620]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"leadname"}]},"options":{}},"id":"9092e881-4962-4f70-8327-0355512755ea","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1340,620]},{"parameters":{"jsCode":"// Suponha que você receba a lista de nomes no JSON\nlet leadnameList = $(\"Aggregate\").item.json.leadname;\n\n// Junta os nomes em uma única string com '\\n' entre eles\nlet formattedLeadname = leadnameList.join(\"\\\\n\");\n\n// Retorna o resultado formatado\nreturn {\n  json: {\n    formattedLeadname: formattedLeadname\n  }\n};\n"},"id":"347db839-699f-4fa9-b882-de51ed2e7c58","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1580,620]},{"parameters":{"url":"https://app.viral-loops.com/api/v2/data?publicToken=Zl4TjVybatDzmW1Y8dJyZbKWLGE&params[accessors]=referralUrls&params[accessors]=userData&params[accessors]=referralCount&params[accessors]=leaderBoard&params[accessors]=rank&params[user][email]=jamilabrao%40hotmail.com&params[user][referralCode]=7ybek55","options":{}},"id":"de736be5-3feb-4fee-94db-ef1c1d6980a7","name":"RANK GERAL","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,620]},{"parameters":{"amount":3},"id":"5f246454-9b0b-48c9-8d08-e5e618277fcd","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1080,120],"webhookId":"53e92948-b2d6-4d11-8c8a-3debe9ab1019"}],"connections":{"matheus oliveira":{"main":[[{"node":"lucca","type":"main","index":0}]]},"jamil abrao":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"lucca":{"main":[[{"node":"maria julia","type":"main","index":0}]]},"maria julia":{"main":[[]]},"Edit Fields":{"main":[[{"node":"RANK GERAL","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"jamil abrao","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"ENVIAR RANK WHATSAPP1","type":"main","index":0}]]},"ENVIAR RANK WHATSAPP":{"main":[[{"node":"Wait","type":"main","index":0}]]},"RANK GERAL":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Wait":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9a9f778a-d527-4819-9cae-efacd5463746","triggerCount":0,"tags":[{"createdAt":"2025-01-25T15:40:47.289Z","updatedAt":"2025-01-25T15:40:47.289Z","id":"qxTexbrB01dLSjDn","name":"JEFF"}]}