extrator-de-grupos-cl8wfsUZCkMbsylB.json
{"createdAt":"2024-12-04T17:40:29.932Z","updatedAt":"2025-05-12T01:06:42.883Z","id":"cl8wfsUZCkMbsylB","name":"EXTRATOR DE GRUPOS","active":false,"nodes":[{"parameters":{"url":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"baseUrl\"] }}/group/fetchAllGroups/{{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"instance\"] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"getParticipants","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"apiKey\"] }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"b6bceb33-17a9-4f0a-b49b-fcce685e5ab9","name":"CONSULTA GRUPOS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-780,600]},{"parameters":{},"id":"7a6630c0-4afb-4ef3-976b-68e9a3256e9f","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1560,660]},{"parameters":{"assignments":{"assignments":[{"id":"4fdc6267-c0b6-4b2c-a148-0b805af92766","name":"baseUrl","value":"URL DA SUA API","type":"string"},{"id":"416374cf-8e3e-467b-9ab5-7fc1c759db42","name":"instance","value":"Sua instancia","type":"string"},{"id":"b4c27edc-5aad-4acb-abb8-964db5601178","name":"apiKey","value":"SUA KEY","type":"string"}]},"options":{}},"id":"0cd841e9-0db0-427a-b35d-58df5809777b","name":"VARIÁVEIS","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1300,660]},{"parameters":{},"id":"2dafa132-f7a9-4761-ae1c-501689258a1d","name":"Limit2","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-220,420]},{"parameters":{"amount":10},"id":"a4a074aa-b396-4976-8baa-da7e75ff3a94","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[460,460],"webhookId":"5befb0b2-3c08-497d-996a-8bbffce29588"},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"baseUrl\"] }}/message/sendText/{{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"instance\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"apiKey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $item(\"0\").$node[\"CONSULTA INSTANCIA\"].json[\"ownerJid\"] }}"},{"name":"text","value":"=Prontinho! Contatos salvos! ☝️\n\nQue tal aproveitar que tá no WhatsApp e entrar no melhor grupos de Ofertas que tem atualmente? \n\nO *Clube Muquirana* é um grupo de WhatsApp que envia diariamente ofertas das melhores lojas online! E o melhor? Não custa nada! 🤩\n\nClica aqui 👉 clubemuquirana.com.br/zap que vamos encontrar um grupo com vagas para Você!"}]},"options":{"redirect":{"redirect":{}}}},"id":"a6ffdd27-b0b6-4782-b117-9197428f8870","name":"FIM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20,400]},{"parameters":{"options":{}},"id":"6cd68111-f953-4567-9690-2742524ee4ba","name":"LOOP OVER","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-540,640]},{"parameters":{"content":"## ALTERE SUAS VARIÁVEIS","height":298.5646909280789,"width":327.38313842311254,"color":3},"id":"80294564-e83c-4088-bc03-c747eaae7188","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1400,560]},{"parameters":{"url":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"baseUrl\"] }}/instance/fetchInstances/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"apiKey\"] }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"b1e7add4-d59d-4f60-9936-f271b65f3245","name":"CONSULTA INSTANCIA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1020,600]},{"parameters":{"fieldToSplitOut":"participants","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-300,740],"id":"5157c758-da44-430a-ae84-5584d098391f","name":"Split Out"},{"parameters":{"amount":45},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[380,840],"id":"16f82dec-6266-4188-a33a-0bfd8a1cdd40","name":"Wait1","webhookId":"3b9cdd3c-72e0-4077-8323-123da67eea23"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1UvB-YD-1oxIeGB-kefC21wagTCe9V50Ob5zGBWInMtA","mode":"list","cachedResultName":"CONTATOS EXTRAIDOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UvB-YD-1oxIeGB-kefC21wagTCe9V50Ob5zGBWInMtA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UvB-YD-1oxIeGB-kefC21wagTCe9V50Ob5zGBWInMtA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"GRUPO":"={{ $('LOOP OVER').item.json.subject }}","REMOTEJID":"={{ $json.id }}","GROUP ID":"={{ $('LOOP OVER').item.json.id }}","TAMANHO":"={{ $('LOOP OVER').item.json.size }}"},"matchingColumns":["REMOTEJID"],"schema":[{"id":"REMOTEJID","displayName":"REMOTEJID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GRUPO","displayName":"GRUPO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GROUP ID","displayName":"GROUP ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TAMANHO","displayName":"TAMANHO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,800],"id":"01d26275-7e02-4270-966d-8e8cc96bc3a7","name":"SALVA CONTATOS","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}},"onError":"continueErrorOutput"},{"parameters":{"content":"## CRIA SUA PLANILHA\n### AQUI EU USEI AS COLUNAS \nREMOTEJId, GRUPO, GROUP ID E\tTAMANHO","height":298.5646909280789,"width":327.38313842311254,"color":3},"id":"99360faa-5b71-4eeb-a4ac-a5015f3d01f1","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,680]},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"baseUrl\"] }}/message/sendText/{{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"instance\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"apiKey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363298635851010@g.us"},{"name":"text","value":"=Teste de envio de msg"}]},"options":{"redirect":{"redirect":{}}}},"id":"e7266a52-f565-47f8-af9d-5117bba13be2","name":"FIM2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,1040]}],"connections":{"CONSULTA GRUPOS":{"main":[[{"node":"LOOP OVER","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"VARIÁVEIS","type":"main","index":0}]]},"VARIÁVEIS":{"main":[[{"node":"CONSULTA INSTANCIA","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"FIM","type":"main","index":0}]]},"Wait":{"main":[[{"node":"LOOP OVER","type":"main","index":0}]]},"LOOP OVER":{"main":[[{"node":"Limit2","type":"main","index":0}],[{"node":"Split Out","type":"main","index":0}]]},"CONSULTA INSTANCIA":{"main":[[{"node":"CONSULTA GRUPOS","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"SALVA CONTATOS","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"SALVA CONTATOS":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"85c7a7f5-44a5-4216-bbc6-81533e73045d","triggerCount":0,"tags":[]}