ia-+-atendimento-humano-yN6stJMmulwwat2B.json
{"updatedAt":"2025-09-03T15:17:14.489Z","createdAt":"2025-09-03T15:17:14.489Z","id":"yN6stJMmulwwat2B","name":"IA + ATENDIMENTO HUMANO","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/message/sendText/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Credenciais').item.json.WhatsApp }}\",\n  \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"').trim() }}\"\n}\n","options":{}},"id":"5090874a-be3f-47ed-a819-99ba41ce33f0","name":"Enviar Mensagem WhatsApp Lead6","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3936,288],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"2f8e1fbf-9134-4b48-be29-066509e021f5","name":"telefone","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"59fd3a53-08be-41db-b91e-9abccd7ef4ad","name":"Audio","value":"={{ $json.text || '' }}","type":"string"},{"id":"1f3efabc-087b-4843-8766-742b9109e955","name":"WhatsWeb","value":"={{ $json.pergunta || ''}}","type":"string"},{"id":"60d6b895-fea6-4d7f-932a-b8771c97242e","name":"WhatsAppApp","value":"={{ $json.mensagem || '' }}","type":"string"},{"id":"f45d0d25-8456-4a53-9290-69eed044964e","name":"Imagem","value":"={{ $json.content || ''}}","type":"string"},{"id":"0d9377f3-acbb-49ed-9254-ef9e3e561465","name":"Documento","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"63a14715-8779-4412-893e-78877bf164d1","name":"Filtra Webhook","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2064,112]},{"parameters":{"amount":7},"id":"34c7b0d1-77f7-4adb-996a-49610535f10c","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2400,128],"webhookId":"750464c1-5a4c-4c90-8c9d-2142a312a177"},{"parameters":{"operation":"get","propertyName":"mensagem","key":"={{ $json.telefone }}","options":{}},"id":"6b6fe2c6-ccc9-4f26-990a-fee6c02c89dc","name":"Puxar as Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2496,368],"credentials":{"redis":{"id":"UHcdFvnvoozYhCLm","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9e9b4155-e399-4936-a5db-2d79c8cb871f","leftValue":"={{ $json.mensagem.last() }}","rightValue":"={{ $('Filtra Webhook').item.json.Audio || $('Filtra Webhook').item.json.WhatsWeb || $('Filtra Webhook').item.json.WhatsAppApp || $('Filtra Webhook').item.json.Imagem }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"9e497059-ddc9-4e3e-9d09-2ab143a40a49","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[2656,224]},{"parameters":{"assignments":{"assignments":[{"id":"bce70488-3d4e-412d-9c28-4858906bc722","name":"mensagem","value":"={{ $('Puxar as Mensagens').item.json.mensagem.join('\\n') }}","type":"string"},{"id":"abca95c7-60a4-474b-95ed-a22557fa8af7","name":"telefone","value":"={{ $('Wait').item.json.telefone }}","type":"string"}]},"options":{}},"id":"419fdb0d-bb4e-4e81-be53-a433e434645c","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2848,112]},{"parameters":{},"id":"5c979fc2-981e-4930-b027-36eb25d01078","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2864,368]},{"parameters":{"operation":"delete","key":"={{ $json.telefone }}"},"id":"37ec00a9-9d29-49c3-98a2-4b950bf8b222","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3024,112],"credentials":{"redis":{"id":"UHcdFvnvoozYhCLm","name":"Redis account"}}},{"parameters":{},"id":"1fa73bd9-2dd0-4764-8118-3ed89adc7f35","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[3584,288]},{"parameters":{"options":{}},"id":"c12d130c-bdba-4cfa-aa1a-2366246389cf","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3328,304],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"df9efc9b-e03a-4e7b-88e6-c4fc937397f5","name":"Mensagem de Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1440,-144],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"efa91a12-68bb-462c-9af4-404edeb5e86a","name":"Converter Áudio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1600,-144]},{"parameters":{"assignments":{"assignments":[{"id":"6b7bef37-abbe-4207-aae0-5447388019a3","name":"baseUrl","value":"( base Url)","type":"string"},{"id":"67c50f2f-89e2-4a5c-84c2-c2ac76962f6e","name":"apikey","value":"(api)","type":"string"},{"id":"9177d222-437a-4284-a96f-115fba66662c","name":"instancia","value":"( instancia)","type":"string"},{"id":"ab90e3ce-3657-4124-968d-37c0aaebd5ab","name":"xi-api-key","value":"(api elevenlabs)","type":"string"},{"id":"8d6c586e-0f00-4100-bc40-231cda7f93b7","name":"WhatsApp","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"f7abb3fa-f859-44c8-8114-88b755a4f0a7","name":"Credenciais","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[976,208]},{"parameters":{"assignments":{"assignments":[{"id":"17694db0-6248-444f-afb9-ff7ed13996ef","name":"pergunta","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"id":"0361fbd8-ec39-4a88-b204-a80c3eea5c6a","name":"Texto Web","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1440,32],"notesInFlow":false,"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"2f8e1fbf-9134-4b48-be29-066509e021f5","name":"telefone","value":"={{ $('input evolution').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"a6004904-d9e1-4627-be79-d2a5b073d44f","name":"mensagem","value":"={{ $('input evolution').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"6dd6b0a6-28c0-4c79-aff6-802c029277e1","name":"Filta Msg App","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,192]},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"210ef798-5a57-4f68-aecc-cde600e84012","name":"Envio de Imagens","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1440,368],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"image","mimeType":""}},"id":"e9e8845b-f585-4b13-a228-e567249e0c81","name":"Converter Imagem","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1600,368]},{"parameters":{"operation":"push","list":"={{ $json.telefone }}","messageData":"={{ $json.Audio || $json.WhatsWeb || $json.WhatsAppApp || $json.Imagem || $json.mensagem}}","tail":true},"id":"9b14e847-e311-4e45-8122-3e906a86fbd6","name":"Lista Mensagens1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2208,352],"credentials":{"redis":{"id":"UHcdFvnvoozYhCLm","name":"Redis account"}}},{"parameters":{"operation":"pdf","options":{}},"id":"7ebf63c8-8f55-4456-b133-9262df524dec","name":"Extrair Dados","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1760,544]},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('input evolution').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"f8380ed8-68bc-49aa-9ba9-e09f4b7af65a","name":"Envio de Documentos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1424,544],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"=image {{ $('Switch').item.json.body.data.message.documentMessage.fileName }}","mimeType":"={{ $('Switch').item.json.body.data.message.documentMessage.mimetype }}"}},"id":"04dbe413-d5ec-4454-b671-caaf44f9c900","name":"Converter Arquivo1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1600,544]},{"parameters":{"content":"Filtra as Mensagens","height":840.9167639981462,"width":1069.89342253457,"color":5},"id":"1ed66dc8-db60-41d5-b3ad-f05a64366261","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,-160]},{"parameters":{"content":"Concatenação de Mensagens","height":846.1913732061371,"width":952.7060569889857,"color":6},"id":"e89ecccc-ec0d-4546-9f3c-8e9fc7e78eb8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2016,-160]},{"parameters":{"content":"IA","height":838.8485983917634,"width":1292.417508558578,"color":4},"id":"ff8465f6-2add-4c0f-8ea3-0f8869146958","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2976,-160]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.telefone }}"},"id":"af511ac2-7637-4250-893c-ca2fd4ac9f22","name":"Redis Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.3,"position":[3440,304],"credentials":{"redis":{"id":"UHcdFvnvoozYhCLm","name":"Redis account"}}},{"parameters":{"content":"## Responde em Áudio\n","height":279.83391588940833,"width":462.3461016030301,"color":3},"id":"e454c68c-a835-4ec8-89d0-ae06bdb32e31","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3808,-160]},{"parameters":{"content":"## Responde em Texto\n","height":239.1747914011388,"width":249.0313820540327},"id":"12660d88-fefa-4f8b-ba2d-5eb951ab6c5b","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3888,208]},{"parameters":{"mode":"delete"},"id":"d1956a51-6a1d-49c4-9b89-b143473b0237","name":"Chat Memory Manager","type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[3024,768],"disabled":true},{"parameters":{"content":"Limpa Memória","height":304.83247531487484,"width":415.33068089188083,"color":7},"id":"3b6fa4a3-5523-4eca-babd-54fc0478750d","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2976,688]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/jsCqWAovK2LkecY7zXl4","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"audio/mpeg"},{"name":"Content-Type","value":"application/json"},{"name":"xi-api-key","value":"={{ $('Credenciais').item.json['xi-api-key'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\\\\\"').replace(/\\*/g, '').replace(/\\s+/g, ' ').trim() }}\",\n    \"model_id\": \"eleven_multilingual_v2\",\n    \"voice_settings\": {\n        \"stability\": 0.5,\n        \"similarity_boost\": 0.5\n    }\n}","options":{}},"id":"76921ef1-4a0b-4a68-b6a5-739744cfc84f","name":"ElevenLabs1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3840,-48]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"34838073-3d97-4e5e-8658-c449b7f57a22","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4000,-48]},{"parameters":{"method":"POST","url":"={{ $('Credenciais').item.json.baseUrl }}/message/sendWhatsAppAudio/{{ $('Credenciais').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Credenciais').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('input evolution').item.json.body.data.key.remoteJid }}\",\n    \"audio\": \"{{ $json.data }}\"\n}\n","options":{}},"id":"c3007abb-a5a8-4938-a116-8ff383c79cd7","name":"sendWhatsAppAudio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4160,-48]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9432a5cd-37fc-4ba9-a0e3-c12017585807","leftValue":"={{ $json.output.length }}","rightValue":200,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"4fcd9566-e829-4729-a751-c2c2acf0598e","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3664,32]},{"parameters":{"jsCode":"function limparMensagem(texto) {\n  if (typeof texto !== 'string') {\n    return '';\n  }\n\n  // Função para remover metadados e dados técnicos\n  function removerMetadataTecnico(str) {\n    return str\n      // Remove objetos e chaves de metadados específicos\n      .replace(/\"response_metadata\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"response_metadata\"\n      .replace(/\"additional_kwargs\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"additional_kwargs\"\n      .replace(/\"tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"tool_calls\" vazio\n      .replace(/\"invalid_tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"invalid_tool_calls\" vazio\n      .replace(/\"type\"\\s*:\\s*\"(ai|human)\"/g, '')  // Remove os tipos \"ai\" e \"human\"\n      .replace(/\"data\"\\s*:\\s*{[^}]*}/g, '')  // Remove a chave \"data\"\n      // Remove objetos JSON em excesso ou vazios\n      .replace(/,\\s*{[^}]*}/g, '') // Remove objetos soltos\n      .replace(/,\\s*\\[\\s*\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*null/g, '') // Remove valores null\n      .replace(/\\s*:\\s*\\[\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*{}/g, '') // Remove objetos vazios\n      // Ajusta espaços desnecessários\n      .replace(/\\s+/g, ' ')\n      .replace(/^\\s+|\\s+$/g, '');  // Remove espaços no início e fim\n  }\n\n  // Função para limpar caracteres especiais\n  function limparCaracteresEspeciais(str) {\n    return str\n      .replace(/\\\\\\\\[rnt]/g, ' ')  // Limpa sequências de escape\n      .replace(/\\\\\\\\\\\"/g, '')  // Remove as aspas escapadas\n      .replace(/\\\\\\\\\\\\\\\\/g, '')  // Remove barras invertidas\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '')  // Remove caracteres de controle\n      .replace(/\\\"+/g, '')  // Remove aspas extras\n      .replace(/[{}[\\]]/g, '')  // Remove chaves e colchetes extras\n      .trim();\n  }\n\n  // Função para extrair e limpar a mensagem principal\n  function extrairMensagemPrincipal(str) {\n    // Divide em frases, removendo pontuação extra\n    const frases = str.split(/(?<=[.!?])\\s+/);\n\n    return frases\n      .map(frase => frase.trim())\n      .filter(frase => {\n        // Remove frases que ainda têm metadados ou são irrelevantes\n        return frase.length > 0 &&\n          !frase.includes('tool_calls') &&\n          !frase.includes('invalid_tool_calls') &&\n          !frase.match(/^[:\\s\\[\\]{}]+$/);\n      })\n      .join(' ');\n  }\n\n  // Processo de limpeza e extração\n  let resultado = texto;\n\n  // Passo 1: Remove metadados e chaves indesejadas\n  resultado = removerMetadataTecnico(resultado);\n\n  // Passo 2: Extrai a mensagem relevante, ignorando o que não é necessário\n  resultado = extrairMensagemPrincipal(resultado);\n\n  // Passo 3: Remove caracteres especiais e formatação indesejada\n  resultado = limparCaracteresEspeciais(resultado);\n\n  // Limpeza final para remover espaços extras\n  resultado = resultado\n    .replace(/\\s+/g, ' ')\n    .replace(/^[\\\",\\s]+|[\\\",\\s]+$/g, '')\n    .trim();\n\n  return resultado;\n}\n\nfunction processarMensagens(items) {\n  return items.map(item => {\n    try {\n      if (!item?.json?.mensagem) {\n        return item;\n      }\n\n      let mensagem = item.json.mensagem;\n\n      // Se for objeto, converte para string\n      if (typeof mensagem === 'object') {\n        try {\n          mensagem = JSON.stringify(mensagem);\n        } catch (e) {\n          console.error('Erro ao converter objeto para string:', e);\n          return item;\n        }\n      }\n\n      // Aplica a limpeza\n      const mensagemLimpa = limparMensagem(mensagem);\n\n      // Atualiza apenas se houver conteúdo significativo\n      if (mensagemLimpa && mensagemLimpa.length > 0) {\n        item.json.mensagem = mensagemLimpa;\n      }\n\n      return { json: item.json };\n    } catch (error) {\n      console.error('Erro ao processar item:', error);\n      return item;\n    }\n  });\n}\n\n// Execução principal\ntry {\n  const items = $input.all();\n  return processarMensagens(items);\n} catch (error) {\n  console.error('Erro na execução:', error);\n  throw error;\n}\n"},"id":"1bea5ab3-cae9-4a20-90dd-a5ab5ba700d9","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,-48]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"9fb1f235-c22d-4ca2-9eab-6725f71da391","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1760,-144],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva essa imagem, oque tem nela?","inputType":"base64","options":{}},"id":"300ce9d9-812d-42c0-add7-63106b0c6c61","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1760,368],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $('input evolution').item.json.body.data.key.id || '' }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('input evolution').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('input evolution').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('input evolution').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('input evolution').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('input evolution').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('input evolution').item.json.body.data.message.audioMessage?.url || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('input evolution').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"b2f1f6b5-292f-4695-9e41-be200c6d7053","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"572fcce5-8a26-4e8f-a48a-ef0bee569dcd","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"e90043db-657b-461c-b040-2d6089abfbdb","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"}]},"options":{}},"id":"17a9f4fb-2826-42d0-9db4-ce23ad5f34dd","name":"normalizacao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,208]},{"parameters":{"operation":"set","key":"={{ $json.message.chat_id }}_block","value":"true","keyType":"string","expire":true,"ttl":900},"id":"0e626934-696b-4d61-b246-a8a75dd30bd4","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[672,64],"credentials":{"redis":{"id":"UHcdFvnvoozYhCLm","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.message.chat_id }}_block","options":{}},"id":"862700d9-eca8-4fc6-8df5-4ef222a38ea6","name":"Get Block Chat Id","type":"n8n-nodes-base.redis","typeVersion":1,"position":[512,304],"credentials":{"redis":{"id":"UHcdFvnvoozYhCLm","name":"Redis account"}}},{"parameters":{"content":"## Intervenção Humana \nTTL = Segundos\n60 = 1 Min\n900 = 15 Min","height":840,"width":1067},"id":"5c68bb92-46f1-40b6-8d87-40dd0afcf4e1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-112,-160]},{"parameters":{"httpMethod":"POST","path":"intervencao","options":{}},"id":"332eb31a-9675-4408-8cff-4cc3dc91ec81","name":"input evolution","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,208],"webhookId":"69ea39b0-54b6-4354-8b13-d0e58420c0a7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA NAO PODE RESPONDER"}]},"options":{}},"id":"eee1c739-03ab-45dd-ae9e-df6bfb3def07","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[672,288]},{"parameters":{},"id":"4bbb3c07-9043-43e8-aead-e3643f8ca33d","name":"No Operation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[832,496]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"101c3ff7-e997-43bb-8e99-fe82746c5993","leftValue":"={{ $('input evolution').item.json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audioMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4b94d2ac-53e5-4153-9377-4cc6db20cb1c","leftValue":"={{ $json.body.data.message.extendedTextMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"extendedTextMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"38226af4-80fe-4155-9ceb-2379f44e29ed","leftValue":"={{ $('input evolution').item.json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"conversation"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"300366d9-2416-4cf4-93c3-e48c8761c60f","leftValue":"={{ $('input evolution').item.json.body.data.message.imageMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imageMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f33566fd-3eb9-45f4-934a-3a39e2adca6c","leftValue":"={{ $('input evolution').item.json.body.data.messageType === 'documentMessage' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"documentMessage"}]},"options":{"fallbackOutput":"none"}},"id":"2f36dbd7-2dc0-46a5-9e6b-e6cdd39bd189","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1168,192]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"79528ac1-dfb8-499a-aefd-9b481f0161b9","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[320,208]},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Você é o assistente virtual oficial da BotXpert, especializado em oferecer uma experiência humanizada, eficiente e personalizada para atender às necessidades dos nossos clientes e impulsionar os resultados empresariais. Seu objetivo é simplificar processos, reduzir custos operacionais e aumentar a satisfação do cliente. Utilize um tom profissional, acolhedor e adaptável ao contexto de cada interação.  \n\nMissão e Visão\n- Sua missão é representar a inovação e a excelência da BotXpert, destacando-se pela humanização no atendimento e pela transformação digital que oferecemos aos nossos clientes.  \n- Sua visão é ajudar nossos clientes a alcançar competitividade e resultados superiores no mercado, mostrando como as soluções da BotXpert são únicas e eficazes.  \n\nEstrutura do Atendimento\n1. Interação Natural e Humanizada  \n   - Garanta que a comunicação seja clara, personalizada e empática.  \n   - Use linguagem acessível e demonstre que você compreende as dores e desafios dos clientes.  \n\n2. Velocidade e Eficiência  \n   - Responda às interações em menos de 1 segundo, destacando sua capacidade de agilizar o atendimento.  \n   - Utilize inteligência artificial para interpretar perguntas complexas e oferecer respostas objetivas.  \n\n3. Soluções Inovadoras  \n   - Explique como os produtos e serviços da BotXpert são projetados para integrar-se à identidade do cliente, oferecendo um chatbot que não parece um sistema frio, mas sim uma extensão do próprio negócio.  \n   - Destaque como a abordagem humanizada melhora a reputação da marca e fideliza os clientes.  \n\nBenefícios dos Serviços da BotXpert\n1. Economia Financeira  \n   - Compare os custos de um atendente CLT tradicional (R$ 3.200/mês) com a eficiência do chatbot da BotXpert, que opera 24/7 sem custos adicionais como alimentação, transporte ou folgas.  \n   - Mostre como a redução de custos permite que o cliente invista em áreas estratégicas do negócio.  \n\n2. Eficiência Operacional \n   - Explique que a automação liberará a equipe para tarefas estratégicas, enquanto o chatbot lida com agendamentos, dúvidas e captação de leads.  \n   - Destaque a escalabilidade do sistema, que permite atender a um grande volume de clientes de forma consistente.  \n\n3. Segurança de Dados  \n   - Reforce que a plataforma utiliza criptografia robusta e segue medidas de segurança avançadas para proteger informações sensíveis dos clientes.  \n\n4. Análises Avançadas  \n   - Informe que a BotXpert oferece relatórios detalhados para otimizar processos e maximizar resultados.  \n\nPlanos da BotXpert\nExplique os diferenciais dos planos com clareza e adaptação ao perfil do cliente:  \n1. Plano Starter (R$ 397/mês)\n   - ChatBot 24/7.  \n   - Desenvolvimento básico de fluxo de conversa.  \n   - Design de imagens e logotipos.  \n   - Servidor e domínio profissional.  \n\n2. Plano Premium (R$ 497/mês)  \n   - Tudo do Plano Starter.  \n   - Integração de voz com IA.  \n   - Monitoramento em tempo real.  \n\n3. Plano Empresarial (R$ 597/mês)  \n   - Tudo do Plano Premium.  \n   - Plataforma de atendimento omnichannel.  \n   - Recursos avançados para fluxos complexos de conversa.  \n\nEstudos de Caso\nUtilize exemplos práticos para ilustrar como a BotXpert transformou negócios:  \n- Pacheco Segurança: Reduziu a carga operacional e aumentou a captação de leads com um chatbot interativo e personalizado.  \n- Ygor Arts Barbeiro: Aumento de mais de 50% no faturamento, permitindo que o barbeiro dedique mais tempo aos clientes.  \n- Adriana Vilaça Tatuagens: Simplificou agendamentos e melhorou a experiência do cliente, resultando em trabalhos mais personalizados e um fluxo mais eficiente. \n\nDiretrizes Finais \n1. Sempre adapte sua abordagem ao contexto e setor do cliente.  \n2. Priorize a empatia e demonstre que a BotXpert é mais do que tecnologia, é uma solução para crescimento e competitividade.  \n3. Finalize cada interação com um convite para explorar mais sobre nossos serviços e incentivos para fechar a contratação.  \n\nContato para mais informações:  \n- WhatsApp: 15 99269-2781  \n- E-mail: atendimento@botxpert.com.br  \n- Site: site.botxpert.com.br"}},"id":"f83e16f6-7e27-4457-908c-b19cc7957996","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3344,32]}],"connections":{"Filtra Webhook":{"main":[[{"node":"Lista Mensagens1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Puxar as Mensagens","type":"main","index":0}]]},"Puxar as Mensagens":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Mensagem de Audio":{"main":[[{"node":"Converter Áudio","type":"main","index":0}]]},"Converter Áudio":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Credenciais":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Texto Web":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"Filta Msg App":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"Envio de Imagens":{"main":[[{"node":"Converter Imagem","type":"main","index":0}]]},"Converter Imagem":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Lista Mensagens1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Extrair Dados":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"Envio de Documentos1":{"main":[[{"node":"Converter Arquivo1","type":"main","index":0}]]},"Converter Arquivo1":{"main":[[{"node":"Extrair Dados","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"ElevenLabs1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"sendWhatsAppAudio1","type":"main","index":0}]]},"If":{"main":[[{"node":"ElevenLabs1","type":"main","index":0}],[{"node":"Enviar Mensagem WhatsApp Lead6","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"normalizacao":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Get Block Chat Id":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"input evolution":{"main":[[{"node":"normalizacao","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"Credenciais","type":"main","index":0}],[{"node":"No Operation","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mensagem de Audio","type":"main","index":0}],[{"node":"Texto Web","type":"main","index":0}],[{"node":"Filta Msg App","type":"main","index":0}],[{"node":"Envio de Imagens","type":"main","index":0}],[{"node":"Envio de Documentos1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"Get Block Chat Id","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e41d7f0-4d4c-465a-ba1b-36feb59d1253","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-03T15:17:14.489Z","createdAt":"2025-09-03T15:17:14.489Z","role":"workflow:owner","workflowId":"yN6stJMmulwwat2B","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":null,"tags":[]}