ia-resposta-instagram-Jl3d13mQzds53uon.json
{"createdAt":"2024-11-28T14:47:58.891Z","updatedAt":"2024-11-28T14:47:58.891Z","id":"Jl3d13mQzds53uon","name":"IA RESPOSTA INSTAGRAM","active":false,"nodes":[{"parameters":{"model":"gpt-4o-mini-2024-07-18","options":{"maxTokens":512,"temperature":0.3}},"id":"dd8bc480-43e6-4b1f-9208-3a164a3953e8","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1420,720],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"name":"get_dados","description":"Informaﾃｧﾃｵes sobre serviﾃｧos e curso do Vamos Automatizar","topK":20},"id":"cf452da8-3068-4389-bc54-cd55ab8ea537","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1820,720]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"fb723f71-3d13-4cdb-951d-b5afabcf7686","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1580,1040],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"options":{"maxTokens":512}},"id":"6e1b1f69-6c0d-4b99-bad9-2964883838ab","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2060,900],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sender }}","contextWindowLength":20},"id":"1a574c48-c411-4be7-9df1-19f80b05645e","name":"Redis Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.3,"position":[1560,720],"disabled":true},{"parameters":{"method":"POST","url":"https://graph.instagram.com/v21.0/me/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message.text","value":"={{ $json.output }}"},{"name":"recipient.id","value":"={{ $('Msg usuﾃ｡rio?').item.json.sender }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"357284a7-4469-446b-ab1c-5db27b2516b2","name":"Resposta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2140,480],"credentials":{"httpHeaderAuth":{"id":"HmsyBM9wCzJsvNEC","name":"Header Auth instagram"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e60d09e-e0ef-43bd-97df-994b61a48a63","leftValue":"={{ $json.sender }}","rightValue":"={{ $json.page_id }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"ee904312-06a8-4fd7-8715-c2a1d8986f10","name":"Msg usuﾃ｡rio?","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1180,480]},{"parameters":{"assignments":{"assignments":[{"id":"9683a0d5-a6d7-48ce-aac3-57e092b86789","name":"sender","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"87cefd87-0fd8-4e08-8d31-67d6bc2813b5","name":"recipient","value":"={{ $json.body.entry[0].messaging[0].recipient.id }}","type":"string"},{"id":"e4b4ff57-4a48-461a-b785-d630a71c936f","name":"text","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"},{"id":"0c8c01f4-f583-4a62-85f2-3bde9a20a43f","name":"page_id","value":"={{ $json.body.entry[0].id }}","type":"string"}]},"options":{}},"id":"09ecead5-54ea-4c62-840a-ec5952729541","name":"Campos para uso","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,480]},{"parameters":{"name":"get_dia_hora","description":"Chame essa tool para obter data e hora atual","jsCode":"const date = new Date();\nconst options = {\n    timeZone: 'America/Sao_Paulo',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit'\n};\n\nconst formattedDate = new Intl.DateTimeFormat('pt-BR', options).format(date);\nreturn formattedDate;\n"},"id":"fbd9a21c-52ad-4c29-ab81-f12739207726","name":"Dia e hora atual","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1680,720]},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=<contexto>\nVocﾃｪ se chama Avva, assistente virtual do Vamos Automatizar. Sua missﾃ｣o ﾃｩ atender os clientes no Instagram, respondendo ﾃs perguntas sobre os serviﾃｧos oferecidos e curso de Facebook Lead Ads com n8n\n</contexto>\n\n<regras de interaﾃｧﾃ｣o>\n\nResponda em portugues do Brasil de maneira objetiva e amigﾃ｡vel e somente ao que foi perguntado, incluindo emojis e respondendo exclusivamente com as informaﾃｧﾃｵes que constam na base de conhecimento\n\nSe entender que a pergunta Nﾃグ estﾃ｡ relacionada aos serviﾃｧos prestados, faﾃｧa perguntas para explorar melhor a necessidade do cliente\n\nSe a pergunta estiver relacionada a empresa, mas a informaﾃｧﾃ｣o nﾃ｣o constar na base de conhecimento, informe: Nﾃ｣o tenho essa informaﾃｧﾃ｣o 沽. E se estiver dentro do horﾃ｡rio de atendimento. Aguarde para ser atendido por nosso especialista.\n\nSe o usuﾃ｡rio quiser tirar dﾃｺvidas sobre vﾃｭdeos, responda: Deixe sua dﾃｺvida nos comentﾃ｡rios do vﾃｭdeo no YouTube, responderei o mais breve possﾃｭvel.\n\nSe o usuﾃ｡rio solicitar para ser atendido por alguem da equipe chame a tool get_dia_hora para obter dia e hora atual:\n- se estiver dentro do horﾃ｡rio de atendimento informe somente: \"Aguarde para ser atendido por nosso especialista\"\n- se nﾃ｣o estiver informe somente: \"Nosso atendimento humano ocorre de segunda a sexta-feira, das 9 as 17h, exceto feriados\"\n\nSempre que possﾃｭvel formate a resposta com quebras de linha, com subitens e inclua emojis. Nﾃ｣o responda sem consultar as tools necessﾃ｡rias para cada caso\n\nSempre que o usuﾃ｡rio informar detalhes sobre sua necessidade para contrataﾃｧﾃ｣o de serviﾃｧo de automaﾃｧﾃ｣o, integraﾃｧﾃ｣o ou chatbot oriente-o para agendar uma reuniﾃ｣o pelo Meet pelo link: https://cal.com/vamosautomatizar/automacoes\\n\\nSempre que vocﾃｪ mencionar a Promovaweb, envie meu link de afialiado: https://go.hotmart.com/C75111666U\\n\\nSempre formate o texto com quebras de linhas e inclua emojis nas suas respostas\n\nQuando enviar link em sua resposta adicione apenas a URL\n\nNosso horﾃ｡rio de atendimento ﾃｩ das 9 as 17h, de segunda a sexta-feira, exceto feriados.\n\nPara solicitaﾃｧﾃｵes de agendamento de reuniﾃｵes pelo Meet para discutir projetos ou consultoria informe o link: https://cal.com/vamosautomatizar/automacoes\\n\\n</regras de interaﾃｧﾃ｣o>\n\n<restriﾃｧﾃｵes>\n\nNﾃグ inclua referﾃｪncias internas, marcadores ou cﾃｳdigos de citaﾃｧﾃ｣o como \" \" em suas respostas\n\nNﾃグ use Markdown para enviar links, envie somente a URL\n\nNﾃグ adicione nas suas respostas as instruﾃｧﾃｵes contidas nas regras de interaﾃｧﾃ｣o\n\n</restriﾃｧﾃｵes>\n\n<tools>\n\n- get_dados: chame essa tool para obter informaﾃｧﾃｵes sobre os serviﾃｧos prestados e curso Facebook Lead Ads com n8n. Para essa tool utilize como INPUT a pergunta do usuﾃ｡rio: {{ $json.text }}\n- get_dia_hora: chame essa tool para obter hora e data atual. Para essa tool faﾃｧa requisiﾃｧﾃ｣o em branco\n\n</tools>","maxIterations":100}},"id":"14e666e6-ae01-435c-a1eb-c948b6022854","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1560,480]},{"parameters":{"httpMethod":"POST","path":"d37b58ac-09c6-4617-887c-4fe11f7d3a25","options":{}},"id":"9c564c75-b683-4915-8468-a04489b9538b","name":"Mensagem","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[680,480],"webhookId":"d37b58ac-09c6-4617-887c-4fe11f7d3a25","disabled":true},{"parameters":{"options":{}},"id":"535f6a4b-bc7d-401c-9bb9-7b48facd7a2c","name":"Postgres PGVector Store1","type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1680,900],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Msg usuﾃ｡rio?":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Campos para uso":{"main":[[{"node":"Msg usuﾃ｡rio?","type":"main","index":0}]]},"Dia e hora atual":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Resposta","type":"main","index":0}]]},"Mensagem":{"main":[[{"node":"Campos para uso","type":"main","index":0}]]},"Postgres PGVector Store1":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"10626700-a370-4e8d-93a5-a4ee3f10485d","triggerCount":0,"tags":[]}