ia-voz-halluo-S7DniTy45OGGOg72.json
{"createdAt":"2025-01-12T18:51:50.519Z","updatedAt":"2025-01-12T20:18:06.076Z","id":"S7DniTy45OGGOg72","name":"IA VOZ HALLUO","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"0492ad0b-27f6-48c8-9c81-207e4c32049e","name":"hex","value":"={{ $json.data.audio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,360],"id":"dbbf20ed-8a75-42d9-ac15-a90f7a4bb0f5","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-260,360],"id":"6a5c0252-c82a-46db-9155-d526bde46558","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"const hexString = $json[\"hex\"];  // Aqui você pega o valor hexadecimal, altere conforme seu fluxo\n\n// Função para converter hexadecimal para bytes\nfunction hexToBytes(hex) {\n    let bytes = [];\n    for (let i = 0; i < hex.length; i += 2) {\n        bytes.push(parseInt(hex.substr(i, 2), 16));\n    }\n    return new Uint8Array(bytes);\n}\n\n// Converter para Base64\nconst byteArray = hexToBytes(hexString);\nconst base64String = Buffer.from(byteArray).toString('base64');\n\n// Definir o valor Base64\nreturn [\n  {\n    json: {\n      base64: base64String\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[600,360],"id":"3a30c779-39b6-4870-ac11-7aa81d0e9628","name":"Code"},{"parameters":{"content":"## secretkey\neyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJKYW1pbCBBYnLDo28iLCJVc2VyTmFtZSI6IkphbWlsIEFicsOjbyIsIkFjY291bnQiOiIiLCJTdWJqZWN0SUQiOiIxODc4MTk2MTUzNjk1MDgwODg0IiwiUGhvbmUiOiIiLCJHcm91cElEIjoiMTg3ODE5NjE1MzY4NjY5MjI3NiIsIlBhZ2VOYW1lIjoiIiwiTWFpbCI6ImphbWlsYWJyYW8yMDExQGdtYWlsLmNvbSIsIkNyZWF0ZVRpbWUiOiIyMDI1LTAxLTEzIDAyOjU3OjA4IiwiVG9rZW5UeXBlIjoxLCJpc3MiOiJtaW5pbWF4In0.hFFdiVAdmItnZdaboojkqJUyjX_Pv3hNjNY6oozOSKTDRyqN6fCT6jRwFl2naVy100h7cNi8a7lD3sV2SkkVmIB3gSPIXFPvGc9mBWpUprPpzmW9iH3ssYWZNBkUbw5N9uOk7iKJ66Ya5loYAcbRJqTX9ulj00k8SIrmmOF2TE3w6X3eGlb9kMBnPOdJY0YNsHsOWXBmifF0X5B8avt-ZrO_GP_beGUFvm6SxSl5lmy9iR47BUpVVrwiAluXp-R3m3yvYyQ0pv2no7BCQltKPEaFfqiM4C4vIW-p0YDir93jFJz72U22JiExxk6SObIaivoyj_viMov127cwMZAcdg\n\n## SITE\nhttps://www.hailuo.ai/audio/voices","height":216,"width":510},"id":"2e33dd7b-911a-49b7-a4de-7de34024a75f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-280,100]},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"JAMILPESSOAL","remoteJid":"={{ $('Edit Fields1').item.json.grupo }}","media":"={{ $json.base64 }}","options_message":{}},"id":"09fe816f-eb2a-488b-b09b-792383eb7faf","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[840,360],"credentials":{"evolutionApi":{"id":"yZ8Sx7tn3eiiMcG2","name":"evo20 - jamil"}}},{"parameters":{"method":"POST","url":"https://api.minimaxi.chat/v1/t2a_v2?GroupId=1878196153686692276","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJKYW1pbCBBYnLDo28iLCJVc2VyTmFtZSI6IkphbWlsIEFicsOjbyIsIkFjY291bnQiOiIiLCJTdWJqZWN0SUQiOiIxODc4MTk2MTUzNjk1MDgwODg0IiwiUGhvbmUiOiIiLCJHcm91cElEIjoiMTg3ODE5NjE1MzY4NjY5MjI3NiIsIlBhZ2VOYW1lIjoiIiwiTWFpbCI6ImphbWlsYWJyYW8yMDExQGdtYWlsLmNvbSIsIkNyZWF0ZVRpbWUiOiIyMDI1LTAxLTEzIDAyOjU3OjA4IiwiVG9rZW5UeXBlIjoxLCJpc3MiOiJtaW5pbWF4In0.hFFdiVAdmItnZdaboojkqJUyjX_Pv3hNjNY6oozOSKTDRyqN6fCT6jRwFl2naVy100h7cNi8a7lD3sV2SkkVmIB3gSPIXFPvGc9mBWpUprPpzmW9iH3ssYWZNBkUbw5N9uOk7iKJ66Ya5loYAcbRJqTX9ulj00k8SIrmmOF2TE3w6X3eGlb9kMBnPOdJY0YNsHsOWXBmifF0X5B8avt-ZrO_GP_beGUFvm6SxSl5lmy9iR47BUpVVrwiAluXp-R3m3yvYyQ0pv2no7BCQltKPEaFfqiM4C4vIW-p0YDir93jFJz72U22JiExxk6SObIaivoyj_viMov127cwMZAcdg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"speech-01-turbo\",\n  \"text\": \"bora malhar esses corpinhos seus frangos...\",\n  \"stream\": false,\n  \"voice_setting\": {\n    \"voice_id\": \"Portuguese_Strong-WilledBoy\",\n    \"speed\": 1,\n    \"vol\": 1,\n    \"pitch\": 0\n  },\n  \"audio_setting\": {\n    \"sample_rate\": 32000,\n    \"bitrate\": 128000,\n    \"format\": \"mp3\",\n    \"channel\": 1\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,660],"id":"67a12f31-5fd9-450e-b010-255f0d3c8cd0","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://api.minimaxi.chat/v1/t2a_v2?GroupId=moss_audio_7804e8ae-d11a-11ef-a36a-7293399586de","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJKYW1pbCBBYnLDo28iLCJVc2VyTmFtZSI6IkphbWlsIEFicsOjbyIsIkFjY291bnQiOiIiLCJTdWJqZWN0SUQiOiIxODc4MTk2MTUzNjk1MDgwODg0IiwiUGhvbmUiOiIiLCJHcm91cElEIjoiMTg3ODE5NjE1MzY4NjY5MjI3NiIsIlBhZ2VOYW1lIjoiIiwiTWFpbCI6ImphbWlsYWJyYW8yMDExQGdtYWlsLmNvbSIsIkNyZWF0ZVRpbWUiOiIyMDI1LTAxLTEzIDAyOjU3OjA4IiwiVG9rZW5UeXBlIjoxLCJpc3MiOiJtaW5pbWF4In0.hFFdiVAdmItnZdaboojkqJUyjX_Pv3hNjNY6oozOSKTDRyqN6fCT6jRwFl2naVy100h7cNi8a7lD3sV2SkkVmIB3gSPIXFPvGc9mBWpUprPpzmW9iH3ssYWZNBkUbw5N9uOk7iKJ66Ya5loYAcbRJqTX9ulj00k8SIrmmOF2TE3w6X3eGlb9kMBnPOdJY0YNsHsOWXBmifF0X5B8avt-ZrO_GP_beGUFvm6SxSl5lmy9iR47BUpVVrwiAluXp-R3m3yvYyQ0pv2no7BCQltKPEaFfqiM4C4vIW-p0YDir93jFJz72U22JiExxk6SObIaivoyj_viMov127cwMZAcdg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"speech-01-turbo\",\n  \"text\": \"bora malhar esses corpinhos seus frangos...\",\n  \"stream\": false,\n  \"voice_setting\": {\n    \"voice_id\": \"Portuguese_Strong-WilledBoy\",\n    \"speed\": 1,\n    \"vol\": 1,\n    \"pitch\": 0\n  },\n  \"audio_setting\": {\n    \"sample_rate\": 32000,\n    \"bitrate\": 128000,\n    \"format\": \"mp3\",\n    \"channel\": 1\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-380,660],"id":"7615c9dc-73b8-40be-9315-027428521056","name":"cariane"},{"parameters":{"assignments":{"assignments":[{"id":"e634cc2b-3032-4ddb-980c-eaa0b25c41ca","name":"mensagem","value":"Bitcoin esta uma novela né, vamos dar whey e creatina para o satoshi para ver se chega nos 250 Mil dolares.","type":"string"},{"id":"7118aee6-c559-4b2a-8904-7209ea35fbbf","name":"grupo","value":"120363047102471901@g.us","type":"string"},{"id":"47851545-3c63-4936-9bce-59b7dfb284b3","name":"voz","value":"moss_audio_7804e8ae-d11a-11ef-a36a-7293399586de","type":"string"}]},"options":{}},"id":"21775baa-76b7-41ec-8c76-0db1fec017af","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,360]},{"parameters":{"method":"POST","url":"https://api.minimaxi.chat/v1/t2a_v2?GroupId=1878196153686692276","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJKYW1pbCBBYnLDo28iLCJVc2VyTmFtZSI6IkphbWlsIEFicsOjbyIsIkFjY291bnQiOiIiLCJTdWJqZWN0SUQiOiIxODc4MTk2MTUzNjk1MDgwODg0IiwiUGhvbmUiOiIiLCJHcm91cElEIjoiMTg3ODE5NjE1MzY4NjY5MjI3NiIsIlBhZ2VOYW1lIjoiIiwiTWFpbCI6ImphbWlsYWJyYW8yMDExQGdtYWlsLmNvbSIsIkNyZWF0ZVRpbWUiOiIyMDI1LTAxLTEzIDAyOjU3OjA4IiwiVG9rZW5UeXBlIjoxLCJpc3MiOiJtaW5pbWF4In0.hFFdiVAdmItnZdaboojkqJUyjX_Pv3hNjNY6oozOSKTDRyqN6fCT6jRwFl2naVy100h7cNi8a7lD3sV2SkkVmIB3gSPIXFPvGc9mBWpUprPpzmW9iH3ssYWZNBkUbw5N9uOk7iKJ66Ya5loYAcbRJqTX9ulj00k8SIrmmOF2TE3w6X3eGlb9kMBnPOdJY0YNsHsOWXBmifF0X5B8avt-ZrO_GP_beGUFvm6SxSl5lmy9iR47BUpVVrwiAluXp-R3m3yvYyQ0pv2no7BCQltKPEaFfqiM4C4vIW-p0YDir93jFJz72U22JiExxk6SObIaivoyj_viMov127cwMZAcdg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"speech-01-turbo\",\n  \"text\": \"{{ $json.mensagem }}\",\n  \"stream\": false,\n  \"voice_setting\": {\n    \"voice_id\": \"moss_audio_7804e8ae-d11a-11ef-a36a-7293399586de\",\n    \"speed\": 1,\n    \"vol\": 1,\n    \"pitch\": 0\n  },\n  \"audio_setting\": {\n    \"sample_rate\": 32000,\n    \"bitrate\": 128000,\n    \"format\": \"mp3\",\n    \"channel\": 1\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,660],"id":"9b8f3638-d460-43e7-857b-672fbd713c7a","name":"CARIANI"},{"parameters":{"method":"POST","url":"https://api.minimaxi.chat/v1/t2a_v2?GroupId=1878196153686692276","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJKYW1pbCBBYnLDo28iLCJVc2VyTmFtZSI6IkphbWlsIEFicsOjbyIsIkFjY291bnQiOiIiLCJTdWJqZWN0SUQiOiIxODc4MTk2MTUzNjk1MDgwODg0IiwiUGhvbmUiOiIiLCJHcm91cElEIjoiMTg3ODE5NjE1MzY4NjY5MjI3NiIsIlBhZ2VOYW1lIjoiIiwiTWFpbCI6ImphbWlsYWJyYW8yMDExQGdtYWlsLmNvbSIsIkNyZWF0ZVRpbWUiOiIyMDI1LTAxLTEzIDAyOjU3OjA4IiwiVG9rZW5UeXBlIjoxLCJpc3MiOiJtaW5pbWF4In0.hFFdiVAdmItnZdaboojkqJUyjX_Pv3hNjNY6oozOSKTDRyqN6fCT6jRwFl2naVy100h7cNi8a7lD3sV2SkkVmIB3gSPIXFPvGc9mBWpUprPpzmW9iH3ssYWZNBkUbw5N9uOk7iKJ66Ya5loYAcbRJqTX9ulj00k8SIrmmOF2TE3w6X3eGlb9kMBnPOdJY0YNsHsOWXBmifF0X5B8avt-ZrO_GP_beGUFvm6SxSl5lmy9iR47BUpVVrwiAluXp-R3m3yvYyQ0pv2no7BCQltKPEaFfqiM4C4vIW-p0YDir93jFJz72U22JiExxk6SObIaivoyj_viMov127cwMZAcdg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"speech-01-turbo\",\n  \"text\": \"{{ $json.mensagem }}\",\n  \"stream\": false,\n  \"voice_setting\": {\n    \"voice_id\": \"{{ $json.voz }}\",\n    \"speed\": 1,\n    \"vol\": 1,\n    \"pitch\": 0\n  },\n  \"audio_setting\": {\n    \"sample_rate\": 32000,\n    \"bitrate\": 128000,\n    \"format\": \"mp3\",\n    \"channel\": 1\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,360],"id":"d0184909-8c47-47f8-9849-387112e48361","name":"AUDIO MULHER"}],"connections":{"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AUDIO MULHER","type":"main","index":0}]]},"AUDIO MULHER":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"db857709-37a3-43f1-bf15-8fb4fbaf97cd","triggerCount":0,"tags":[]}