kirvano---typebot-B5RxIpXu8Pbd625n.json
{"createdAt":"2024-11-01T22:32:16.016Z","updatedAt":"2024-11-19T22:37:56.792Z","id":"B5RxIpXu8Pbd625n","name":"KIRVANO - TYPEBOT","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"e97fc246-a476-4594-a017-282e2d2a5298","name":"nome","value":"={{ $json.body.customer.name }}","type":"string"},{"id":"929916b8-86bf-4a66-8340-b50e711af18e","name":"produto","value":"={{ $json.body.products[0].name }}","type":"string"},{"id":"f06b9ff0-7e29-487e-a8dd-30234cfba541","name":"whatsapp","value":"={{ $json.body.customer.phone_number }}","type":"string"},{"id":"ed0fabeb-d341-4b19-b964-a5558c114560","name":"email","value":"={{ $json.body.customer.email }}","type":"string"},{"id":"52b75e5b-beaa-4722-9dc2-6e2dc2bb9e6b","name":"Status","value":"={{ $json.body.status }}","type":"string"},{"id":"7df5f54c-8038-43e2-b111-fd5bccdf00cd","name":"SiteCadatro","value":"https://administrador.typebot.pro/pt-BR/signin","type":"string"},{"id":"feb7be09-a5c3-4f9e-8dba-9debb7dd9d75","name":"ValorCompra","value":"={{ $json.body.total_price }}","type":"string"},{"id":"f0931ee2-0dc2-430e-9544-c23fe1422cad","name":"IdProduto","value":"={{ $json.body.products[0].id }}","type":"string"}]},"options":{}},"id":"bd5a9fe4-66d3-4e54-bda6-2d88df801208","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[980,1160]},{"parameters":{"amount":1},"id":"cc52d799-e658-43e6-b393-8c8eb4bcff84","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1700,1200],"webhookId":"da7ad2c1-7ed6-4c2f-a032-d874051097e9"},{"parameters":{"assignments":{"assignments":[{"id":"1c4ce0a0-2668-4893-9b46-8aad0cd5c4d6","name":"whatsantigo","value":"={{ $json.whatsapp }}","type":"string"},{"id":"38c5b718-8728-40dc-9540-5cbfa1a08960","name":"whatsmodificado","value":"={{ \"+\" + $json.whatsapp.replace(/\\D/g,'').replace(/^(\\d{2})(\\d{5})(\\d{4})$/, '55$1$2$3').trim() }}","type":"string"}]},"options":{}},"id":"f654f4b8-ec26-4919-91d7-1c0cea92472f","name":"Adicionar +55 Número","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1220,1160]},{"parameters":{"method":"POST","url":"https://evolutionapi.typebot.pro/message/sendText/ASGARDBOT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"9q88a5s7f2bicf46q6qb8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Edit Fields').item.json.whatsapp }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"Olá, {{ $('Edit Fields').item.json[\"nome\"] }}.\\n\\n🎊 Parabéns você acaba de comprar o *{{ $('Edit Fields').item.json[\"produto\"] }}* No plano PRO\\n\\ntodos os dados de acesso foram enviados para o seu e-mail: *{{ $('Webhook').item.json[\"body\"][\"customer\"][\"email\"] }}*\\n\\nJa vou aproveitar e deixar aqui o link onde deve criar sua conta e logo após ja atualizo seu plano\\nAcesse:{{ $('Edit Fields').item.json.SiteCadatro }}\\n\\nJa vou liberar seu bonus exclusivo, acesso a nossa comunidade no telegram https://t.me/brasiltypebot\\n\\nTe espero lá!\"\n    }\n}","options":{}},"id":"5f671383-235d-4c81-893e-52a34ab7434d","name":"Evolution API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,1200]},{"parameters":{},"id":"623dfd82-2d5e-4b00-8c71-70f2d22de829","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1520,760]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4491b0a8-44b6-4f12-8144-05e2779c75f8","leftValue":"={{ $('Informações').item.json.Status }}","rightValue":"={{ $('Informações').item.json.Status }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c6f5987d-d6e9-465a-8344-5817fbd83d09","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1220,700]},{"parameters":{"method":"POST","url":"https://evolutionapi.typebot.pro/message/sendText/ASGARDBOT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"9q88a5s7f2bicf46q6qb8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json[\"whatsmodificado\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"Olá, {{ $('Informações').item.json.nome }}.\\n\\n🛒 Você deixou o *{{ $('Informações').item.json.produto }}* no carrinho de compras, finalize já a sua compra, antes que a promoção acabe, última semana com esse preço especial 🏃⏰\\n\\n Clique Aqui para Comprar: *{{ $('Informações').item.json.checkoutlink }}*\"\n    }\n}   ","options":{}},"id":"6ea432d4-9a02-4379-8c55-9cb7fd89b6d6","name":"MSG 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,500]},{"parameters":{"assignments":{"assignments":[{"id":"1c4ce0a0-2668-4893-9b46-8aad0cd5c4d6","name":"whatsantigo","value":"={{ $json.whatsapp }}","type":"string"},{"id":"38c5b718-8728-40dc-9540-5cbfa1a08960","name":"whatsmodificado","value":"={{ \"+\" + $json.whatsapp.replace(/\\D/g,'').replace(/^(\\d{2})(\\d{5})(\\d{4})$/, '55$1$2$3').trim() }}","type":"string"}]},"options":{}},"id":"61b806f4-1eb8-45fa-ac82-28b63dfa842e","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[920,700]},{"parameters":{"assignments":{"assignments":[{"id":"e97fc246-a476-4594-a017-282e2d2a5298","name":"nome","value":"={{ $json.body.customer.name }}","type":"string"},{"id":"929916b8-86bf-4a66-8340-b50e711af18e","name":"produto","value":"={{ $json.body.products[0].name }}","type":"string"},{"id":"f06b9ff0-7e29-487e-a8dd-30234cfba541","name":"whatsapp","value":"={{ $json.body.customer.phone_number }}","type":"string"},{"id":"ed0fabeb-d341-4b19-b964-a5558c114560","name":"email","value":"={{ $json.body.customer.email }}","type":"string"},{"id":"52b75e5b-beaa-4722-9dc2-6e2dc2bb9e6b","name":"Status","value":"={{ $json.body.status }}","type":"string"},{"id":"d5ca4267-c141-40bc-98cc-91667d986686","name":"checkoutlink","value":"={{ $json.body.checkout_url }}","type":"string"}]},"options":{}},"id":"ff9a4bed-ca9f-4c14-a4d6-23aaf1899d5d","name":"Informações","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[740,540]},{"parameters":{"amount":1},"id":"9b2f98d9-a3bd-45ce-948a-6120026102d0","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1060,540],"webhookId":"71a098fa-1eec-426e-b3db-bbe605c9dfa0"},{"parameters":{"content":"## CARRINHO ABANDONADO","height":483,"width":1319},"id":"162cdd99-0a0b-443b-8614-e7a5eeeeda32","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"content":"## COMPRA COMPLETA","height":784.3824985777826,"width":1885.0264519610396},"id":"b331283b-c57e-483e-8796-d24555ae110e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,980]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0","mode":"list","cachedResultName":"COMPRAS TYPEBOT PRO - KIRVANO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"COMPRAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NOME":"={{ $('Edit Fields').item.json.nome }}","PRODUTO":"={{ $('Edit Fields').item.json.produto }}","TELEFONE":"={{ $('Edit Fields').item.json.whatsapp }}","EMAIL":"={{ $('Edit Fields').item.json.email }}","STATUS":"={{ $('Edit Fields').item.json.Status }}","DATA":"={{ $('Webhook').item.json.body.created_at }}","VALOR":"={{ $('Edit Fields').item.json.ValorCompra }}","PLANO":"PLANO PRO"},"matchingColumns":[],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRODUTO","displayName":"PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLANO","displayName":"PLANO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"36b43c91-af45-4242-bac0-d23d6ce057a4","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1900,1200],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"tableName":{"__rl":true,"value":"User","mode":"list","cachedResultName":"User"},"additionalFields":{},"options":{}},"id":"897cb444-f46e-4bc3-a8a0-4bfbf6df7b26","name":"Postgres Trigger","type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[480,1880],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"assignments":{"assignments":[{"id":"99808e0a-c218-4bc8-8006-13a04ffec8b4","name":"Email","value":"={{ $json.payload.email }}","type":"string"}]},"options":{}},"id":"b8d3aebe-63c4-4f09-ba34-7427bc7b2129","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,1880]},{"parameters":{"documentId":{"__rl":true,"value":"1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0","mode":"list","cachedResultName":"COMPRAS TYPEBOT PRO - KIRVANO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"COMPRAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit#gid=0"},"options":{}},"id":"589be383-dd30-45b8-9106-20dfc99d7f73","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[840,1880],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"User","mode":"list","cachedResultName":"User"},"where":{"values":[{"column":"email","value":"={{ $json.EMAIL }}"}]},"options":{}},"id":"4a5db362-af64-437b-80b2-050929143537","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1500,1820],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"assignments":{"assignments":[{"id":"3f67a1c2-0d23-4c51-8f07-235ea4ebde99","name":"emailtypebot","value":"={{ $json.email }}","type":"string"},{"id":"10d7a663-edbf-4488-a03b-4b92c59ca73b","name":"idtypebotuser","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"64ec179c-194d-4661-aef9-1af492c61fa9","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1660,1820]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"MemberInWorkspace","mode":"list","cachedResultName":"MemberInWorkspace"},"where":{"values":[{"column":"userId","value":"={{ $json.idtypebotuser }}"}]},"options":{}},"id":"c34f9ad4-c8af-4a5e-820d-fc6d9d9ec411","name":"Postgres2","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1880,1820],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"assignments":{"assignments":[{"id":"362b9880-f44d-40cc-bef0-bd2ad4378f26","name":"userid","value":"={{ $json.userId }}","type":"string"},{"id":"3ff48612-439a-48a2-a4bd-2831f7d95c49","name":"workspaceid","value":"={{ $json.workspaceId }}","type":"string"}]},"options":{}},"id":"b156dc29-ca63-4ae9-bbf1-5ef483aa791d","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,1820]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"Workspace","mode":"list","cachedResultName":"Workspace"},"columns":{"mappingMode":"defineBelow","value":{"isQuarantined":false,"isSuspended":false,"isPastDue":false,"isVerified":false,"id":"={{ $json.workspaceid }}","plan":"STARTER","name":"={{ $('Google Sheets1').item.json.NOME }}","additionalChatsIndex":0,"additionalStorageIndex":0,"customChatsLimit":0,"customSeatsLimit":0,"customStorageLimit":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"icon","displayName":"icon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"plan","displayName":"plan","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":false,"options":[{"name":"FREE","value":"FREE"},{"name":"STARTER","value":"STARTER"},{"name":"PRO","value":"PRO"},{"name":"LIFETIME","value":"LIFETIME"},{"name":"OFFERED","value":"OFFERED"},{"name":"CUSTOM","value":"CUSTOM"},{"name":"UNLIMITED","value":"UNLIMITED"}]},{"id":"stripeId","displayName":"stripeId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"additionalChatsIndex","displayName":"additionalChatsIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"additionalStorageIndex","displayName":"additionalStorageIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"chatsLimitFirstEmailSentAt","displayName":"chatsLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"chatsLimitSecondEmailSentAt","displayName":"chatsLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitFirstEmailSentAt","displayName":"storageLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitSecondEmailSentAt","displayName":"storageLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"customChatsLimit","displayName":"customChatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customSeatsLimit","displayName":"customSeatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customStorageLimit","displayName":"customStorageLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"isQuarantined","displayName":"isQuarantined","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isSuspended","displayName":"isSuspended","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isPastDue","displayName":"isPastDue","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isVerified","displayName":"isVerified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false}]},"options":{}},"id":"7bebf4e5-abcf-4571-82ad-65ca3e135c04","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2300,1820],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"content":"## LIBERAÇÃO PLANO STARTER","height":426.53626798229885,"width":2079.535546471912},"id":"89ffea48-77de-4135-9655-12a16571e081","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,1800]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4491b0a8-44b6-4f12-8144-05e2779c75f8","leftValue":"={{ $json.body.status }}","rightValue":"=CANCELED","operator":{"type":"string","operation":"equals"}},{"id":"71ac1597-d8c9-4a03-88a1-d546a440330a","leftValue":"={{ $json.body.status }}","rightValue":"REFUNDED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"777242b0-988f-4358-b9a9-8bd00dc57b26","leftValue":"={{ $json.body.status }}","rightValue":"CHARGEBACK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"b985f19d-9628-4de5-8ef9-22aeac477128","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[740,1460]},{"parameters":{"assignments":{"assignments":[{"id":"3f67a1c2-0d23-4c51-8f07-235ea4ebde99","name":"emailtypebot","value":"={{ $json.email }}","type":"string"},{"id":"10d7a663-edbf-4488-a03b-4b92c59ca73b","name":"idtypebotuser","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"818ff8df-f1b1-4f73-9e58-d600d967a309","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,1400]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"MemberInWorkspace","mode":"list","cachedResultName":"MemberInWorkspace"},"where":{"values":[{"column":"userId","value":"={{ $json.idtypebotuser }}"}]},"options":{}},"id":"fe26a42a-9bf0-44f2-822c-ef61e50f10b0","name":"Postgres4","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1440,1400],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"assignments":{"assignments":[{"id":"362b9880-f44d-40cc-bef0-bd2ad4378f26","name":"userid","value":"={{ $json.userId }}","type":"string"},{"id":"3ff48612-439a-48a2-a4bd-2831f7d95c49","name":"workspaceid","value":"={{ $json.workspaceId }}","type":"string"}]},"options":{}},"id":"9685b379-4bf7-4903-97f6-27c39cb3557a","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,1400]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"Workspace","mode":"list","cachedResultName":"Workspace"},"columns":{"mappingMode":"defineBelow","value":{"isQuarantined":false,"isSuspended":false,"isPastDue":false,"isVerified":false,"id":"={{ $json.workspaceid }}","plan":"FREE","name":"={{ $('Webhook').item.json.body.customer.name }}","additionalChatsIndex":0,"additionalStorageIndex":0,"customChatsLimit":0,"customSeatsLimit":0,"customStorageLimit":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"icon","displayName":"icon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"plan","displayName":"plan","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":false,"options":[{"name":"FREE","value":"FREE"},{"name":"STARTER","value":"STARTER"},{"name":"PRO","value":"PRO"},{"name":"LIFETIME","value":"LIFETIME"},{"name":"OFFERED","value":"OFFERED"},{"name":"CUSTOM","value":"CUSTOM"},{"name":"UNLIMITED","value":"UNLIMITED"}]},{"id":"stripeId","displayName":"stripeId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"additionalChatsIndex","displayName":"additionalChatsIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"additionalStorageIndex","displayName":"additionalStorageIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"chatsLimitFirstEmailSentAt","displayName":"chatsLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"chatsLimitSecondEmailSentAt","displayName":"chatsLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitFirstEmailSentAt","displayName":"storageLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitSecondEmailSentAt","displayName":"storageLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"customChatsLimit","displayName":"customChatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customSeatsLimit","displayName":"customSeatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customStorageLimit","displayName":"customStorageLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"isQuarantined","displayName":"isQuarantined","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isSuspended","displayName":"isSuspended","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isPastDue","displayName":"isPastDue","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isVerified","displayName":"isVerified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false}]},"options":{}},"id":"55069674-e68c-41fe-86b4-26e245c190c5","name":"Postgres5","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1860,1400],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"User","mode":"list","cachedResultName":"User"},"where":{"values":[{"column":"email","value":"=jamilabrao@hotmail.com"}]},"options":{}},"id":"64688e53-153d-4f8c-8dd5-bc166551902d","name":"Postgres3","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[980,1400],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0","mode":"list","cachedResultName":"COMPRAS TYPEBOT PRO - KIRVANO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"COMPRAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Postgres3').item.json.email }}","STATUS":"={{ $('Webhook').item.json.body.status }}","DATA":"={{ $('Webhook').item.json.body.created_at }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRODUTO","displayName":"PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"7a1cc478-6c31-47fb-b092-78f15d1166e0","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2100,1400],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"assignments":{"assignments":[{"id":"3f67a1c2-0d23-4c51-8f07-235ea4ebde99","name":"emailtypebot","value":"={{ $json.email }}","type":"string"},{"id":"10d7a663-edbf-4488-a03b-4b92c59ca73b","name":"idtypebotuser","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"96d6f54f-f7bf-4742-bc89-6290a9f092ec","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,1600]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"MemberInWorkspace","mode":"list","cachedResultName":"MemberInWorkspace"},"where":{"values":[{"column":"userId","value":"={{ $json.idtypebotuser }}"}]},"options":{}},"id":"8a533fd1-866a-4349-9df7-a900d3cf28a7","name":"Postgres6","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1440,1600],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"assignments":{"assignments":[{"id":"362b9880-f44d-40cc-bef0-bd2ad4378f26","name":"userid","value":"={{ $json.userId }}","type":"string"},{"id":"3ff48612-439a-48a2-a4bd-2831f7d95c49","name":"workspaceid","value":"={{ $json.workspaceId }}","type":"string"}]},"options":{}},"id":"26091a76-bb5a-41f4-9e8d-fdbe762ee7fe","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,1600]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"Workspace","mode":"list","cachedResultName":"Workspace"},"columns":{"mappingMode":"defineBelow","value":{"isQuarantined":false,"isSuspended":false,"isPastDue":false,"isVerified":false,"id":"={{ $json.workspaceid }}","plan":"FREE","name":"={{ $('Webhook').item.json.body.customer.name }}","additionalChatsIndex":0,"additionalStorageIndex":0,"customChatsLimit":0,"customSeatsLimit":0,"customStorageLimit":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"icon","displayName":"icon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"plan","displayName":"plan","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":false,"options":[{"name":"FREE","value":"FREE"},{"name":"STARTER","value":"STARTER"},{"name":"PRO","value":"PRO"},{"name":"LIFETIME","value":"LIFETIME"},{"name":"OFFERED","value":"OFFERED"},{"name":"CUSTOM","value":"CUSTOM"},{"name":"UNLIMITED","value":"UNLIMITED"}]},{"id":"stripeId","displayName":"stripeId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"additionalChatsIndex","displayName":"additionalChatsIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"additionalStorageIndex","displayName":"additionalStorageIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"chatsLimitFirstEmailSentAt","displayName":"chatsLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"chatsLimitSecondEmailSentAt","displayName":"chatsLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitFirstEmailSentAt","displayName":"storageLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitSecondEmailSentAt","displayName":"storageLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"customChatsLimit","displayName":"customChatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customSeatsLimit","displayName":"customSeatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customStorageLimit","displayName":"customStorageLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"isQuarantined","displayName":"isQuarantined","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isSuspended","displayName":"isSuspended","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isPastDue","displayName":"isPastDue","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isVerified","displayName":"isVerified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false}]},"options":{}},"id":"a57a74b9-f899-4eb0-a0fd-a2c01eabcf6e","name":"Postgres7","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1860,1600],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"User","mode":"list","cachedResultName":"User"},"where":{"values":[{"column":"email","value":"={{ $json.body.customer.email }}"}]},"options":{}},"id":"18298cc1-eac0-40f0-a7a1-732b4769a302","name":"Postgres8","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[980,1600],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0","mode":"list","cachedResultName":"COMPRAS TYPEBOT PRO - KIRVANO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"COMPRAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Postgres8').item.json.email }}","STATUS":"={{ $('Webhook').item.json.body.status }}","DATA":"={{ $('Webhook').item.json.body.created_at }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRODUTO","displayName":"PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"d4294813-b14c-4c28-92cb-2e5290d7b926","name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2080,1600],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"814b2c65-e802-44ac-85b3-249734d6574e","leftValue":"={{ $json.body.status }}","rightValue":"APPROVED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"bf04685f-c671-4f88-bacb-75e80532ca75","name":"If3","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,1180]},{"parameters":{"amount":1},"id":"576fb0bc-0f31-4e06-a89e-6d2662aa0b12","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1700,1020],"webhookId":"da7ad2c1-7ed6-4c2f-a032-d874051097e9"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0","mode":"list","cachedResultName":"COMPRAS TYPEBOT PRO - KIRVANO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"COMPRAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NOME":"={{ $('Edit Fields').item.json.nome }}","PRODUTO":"={{ $('Edit Fields').item.json.produto }}","TELEFONE":"={{ $('Edit Fields').item.json.whatsapp }}","EMAIL":"={{ $('Edit Fields').item.json.email }}","STATUS":"={{ $('Edit Fields').item.json.Status }}","DATA":"={{ $('Webhook').item.json.body.created_at }}","VALOR":"={{ $('Edit Fields').item.json.ValorCompra }}","PLANO":"PLANO STARTER"},"matchingColumns":[],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRODUTO","displayName":"PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLANO","displayName":"PLANO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"75041a3f-1b71-4402-a980-8e5bc28c3847","name":"Google Sheets4","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1900,1020],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"https://evolutionapi.typebot.pro/message/sendText/ASGARDBOT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"9q88a5s7f2bicf46q6qb8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Edit Fields').item.json.whatsapp }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"Olá, {{ $('Edit Fields').item.json[\"nome\"] }}.\\n\\n🎊 Parabéns você acaba de comprar o *{{ $('Edit Fields').item.json[\"produto\"] }}* No plano STARTER.\\n\\ntodos os dados de acesso foram enviados para o seu e-mail: *{{ $('Webhook').item.json[\"body\"][\"customer\"][\"email\"] }}*\\n\\nJa vou aproveitar e deixar aqui o link onde deve criar sua conta e logo após ja atualizo seu plano\\nAcesse:{{ $('Edit Fields').item.json.SiteCadatro }}\\n\\nJa vou liberar seu bonus exclusivo, acesso a nossa comunidade no telegram https://t.me/brasiltypebot\\n\\nTe espero lá!\"\n    }\n}","options":{}},"id":"3ac2d116-e2d6-4247-b324-f779a41656fd","name":"Evolution API1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,1020]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"User","mode":"list","cachedResultName":"User"},"where":{"values":[{"column":"email","value":"={{ $json.EMAIL }}"}]},"options":{}},"id":"b2c14c14-0b96-4ec2-bf6e-e424e3809f1e","name":"Postgres9","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1460,2020],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"assignments":{"assignments":[{"id":"3f67a1c2-0d23-4c51-8f07-235ea4ebde99","name":"emailtypebot","value":"={{ $json.email }}","type":"string"},{"id":"10d7a663-edbf-4488-a03b-4b92c59ca73b","name":"idtypebotuser","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"58b2ab12-2dfd-44dc-850a-c6fa66f9c928","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1660,2020]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"MemberInWorkspace","mode":"list","cachedResultName":"MemberInWorkspace"},"where":{"values":[{"column":"userId","value":"={{ $json.idtypebotuser }}"}]},"options":{}},"id":"8604ed3f-994f-4fe5-ab73-d13306027fd7","name":"Postgres10","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1880,2020],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"assignments":{"assignments":[{"id":"362b9880-f44d-40cc-bef0-bd2ad4378f26","name":"userid","value":"={{ $json.userId }}","type":"string"},{"id":"3ff48612-439a-48a2-a4bd-2831f7d95c49","name":"workspaceid","value":"={{ $json.workspaceId }}","type":"string"}]},"options":{}},"id":"48d227de-f48e-42b5-bc73-a8a3d6a5e807","name":"Edit Fields10","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,2020]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"Workspace","mode":"list","cachedResultName":"Workspace"},"columns":{"mappingMode":"defineBelow","value":{"isQuarantined":false,"isSuspended":false,"isPastDue":false,"isVerified":false,"id":"={{ $json.workspaceid }}","plan":"PRO","name":"={{ $('Google Sheets1').item.json.NOME }}","additionalChatsIndex":0,"additionalStorageIndex":0,"customChatsLimit":0,"customSeatsLimit":0,"customStorageLimit":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"icon","displayName":"icon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"plan","displayName":"plan","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":false,"options":[{"name":"FREE","value":"FREE"},{"name":"STARTER","value":"STARTER"},{"name":"PRO","value":"PRO"},{"name":"LIFETIME","value":"LIFETIME"},{"name":"OFFERED","value":"OFFERED"},{"name":"CUSTOM","value":"CUSTOM"},{"name":"UNLIMITED","value":"UNLIMITED"}]},{"id":"stripeId","displayName":"stripeId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"additionalChatsIndex","displayName":"additionalChatsIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"additionalStorageIndex","displayName":"additionalStorageIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"chatsLimitFirstEmailSentAt","displayName":"chatsLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"chatsLimitSecondEmailSentAt","displayName":"chatsLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitFirstEmailSentAt","displayName":"storageLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitSecondEmailSentAt","displayName":"storageLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"customChatsLimit","displayName":"customChatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customSeatsLimit","displayName":"customSeatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customStorageLimit","displayName":"customStorageLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"isQuarantined","displayName":"isQuarantined","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isSuspended","displayName":"isSuspended","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isPastDue","displayName":"isPastDue","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isVerified","displayName":"isVerified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false}]},"options":{}},"id":"506fe86a-0a8b-423b-bace-10897415f5c0","name":"Postgres11","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2300,2020],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"db typebot"}}},{"parameters":{"httpMethod":"POST","path":"compraaprovada","options":{}},"id":"8860536b-46d5-4bac-9d25-f3f0cf3d7971","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[500,1180],"webhookId":"57fa96d5-5cf2-42f5-b8b0-5984f4e67270"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('If3').item.json.body.products[0].offer_name }}","rightValue":"PLANO STARTER","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PLANO STARTER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a16d1c88-1586-4760-9896-b55bc74a5878","leftValue":"={{ $('If3').item.json.body.products[0].offer_name }}","rightValue":"PLANO PRO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PLANO PRO"}]},"options":{}},"id":"498b2a58-398c-45ab-b092-31e710b8689b","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1420,1160]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Google Sheets1').item.json.PLANO }}","rightValue":"PLANO STARTER","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PLANO STARTER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ad322bcf-96c2-4435-851d-2fc1630ad7b2","leftValue":"={{ $('Google Sheets1').item.json.PLANO }}","rightValue":"PLANO PRO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PLANO PRO"}]},"options":{}},"id":"d4853ad7-e855-40f7-ac44-c6ecedf6cfa7","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1280,1840]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.EMAIL }}","rightValue":"={{ $('Edit Fields2').item.json.Email }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"EMAIL VALIDO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e558367-5f53-4a9b-8493-643388529c98","leftValue":"={{ $('Edit Fields2').item.json.Email }}","rightValue":"={{ $json.EMAIL }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}}]},"options":{}},"id":"38a7642a-7660-4fc4-8c32-c6e04e3fa1e4","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1040,1880],"alwaysOutputData":false},{"parameters":{"httpMethod":"POST","path":"carrinhoabandonado","options":{}},"id":"354cf2b6-e536-4378-a155-06109bd39731","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[520,620],"webhookId":"80e8ab35-fa2b-4aec-b294-1360ea4f455d"}],"connections":{"Edit Fields":{"main":[[{"node":"Adicionar +55 Número","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Adicionar +55 Número":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If":{"main":[[{"node":"MSG 1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Informações":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Postgres Trigger":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Postgres2","type":"main","index":0}]]},"Postgres2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Postgres3","type":"main","index":0}],[{"node":"Postgres8","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Postgres4","type":"main","index":0}]]},"Postgres4":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Postgres5","type":"main","index":0}]]},"Postgres3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Postgres5":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Postgres6","type":"main","index":0}]]},"Postgres6":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Postgres7","type":"main","index":0}]]},"Postgres7":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Postgres8":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Postgres9":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Postgres10","type":"main","index":0}]]},"Postgres10":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Postgres11","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Postgres","type":"main","index":0}],[{"node":"Postgres9","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Informações","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"174867c2-12f0-458c-9883-c8d2758db108","triggerCount":3,"tags":[{"createdAt":"2024-11-01T22:32:03.912Z","updatedAt":"2024-11-01T22:32:03.912Z","id":"LSqD4FiWFTY1XcIr","name":"kirvano"},{"createdAt":"2024-11-01T22:32:03.911Z","updatedAt":"2024-11-01T22:32:03.911Z","id":"7WN0Yb5ttq3waHPE","name":"TYPEBOT PRO"}]}