lastlink---asgard-sender-8P2v3jOujj2NFV0q.json
{"createdAt":"2024-12-10T18:30:32.058Z","updatedAt":"2025-03-13T14:29:54.505Z","id":"8P2v3jOujj2NFV0q","name":"LASTLINK - ASGARD SENDER","active":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"e97fc246-a476-4594-a017-282e2d2a5298","name":"nome","value":"={{ $json.body.Data.Buyer.Name }}","type":"string"},{"id":"929916b8-86bf-4a66-8340-b50e711af18e","name":"produto","value":"={{ $json.body.Data.Products[0].Name }}","type":"string"},{"id":"f06b9ff0-7e29-487e-a8dd-30234cfba541","name":"whatsapp","value":"={{ $json.body.Data.Buyer.PhoneNumber }}","type":"string"},{"id":"ed0fabeb-d341-4b19-b964-a5558c114560","name":"email","value":"={{ $json.body.Data.Buyer.Email }}","type":"string"},{"id":"52b75e5b-beaa-4722-9dc2-6e2dc2bb9e6b","name":"Status","value":"={{ $json.body.Event }}","type":"string"},{"id":"feb7be09-a5c3-4f9e-8dba-9debb7dd9d75","name":"ValorCompra","value":"={{ $json.body.Data.Purchase.OriginalPrice.Value }}","type":"string"},{"id":"f0931ee2-0dc2-430e-9544-c23fe1422cad","name":"IdProduto","value":"={{ $json.body.Data.Products[0].Id }}","type":"string"},{"id":"ec1c4e32-f10e-4fc7-9af5-11de7b64f3d3","name":"DataCompra","value":"={{ $json.body.CreatedAt }}","type":"string"},{"id":"57d5dfa4-a42c-4f22-b066-ca722314bbbe","name":"Recorencia","value":"={{ $json.body.Data.Purchase.Recurrency }}","type":"string"}]},"options":{}},"id":"43fb2c9a-c0a2-4473-9725-16259b62c9e0","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[980,1160]},{"parameters":{},"id":"834c6541-04fa-4ad3-b5ee-2e1a5b4eea30","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1520,760]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4491b0a8-44b6-4f12-8144-05e2779c75f8","leftValue":"={{ $('Informações').item.json.Status }}","rightValue":"={{ $('Informações').item.json.Status }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"54556c88-e325-4ddf-a63a-1586e1b21c36","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1220,700]},{"parameters":{"method":"POST","url":"https://evolutionapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"w5zi59v6tprtdy9pms4e8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json[\"whatsmodificado\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"Olá, {{ $('Informações').item.json.nome }}.\\n\\n🛒 Você deixou o *{{ $('Informações').item.json.produto }}* no carrinho de compras, finalize já a sua compra, antes que a promoção acabe, última semana com esse preço especial 🏃⏰\\n\\n Clique Aqui para Comprar: *{{ $('Informações').item.json.checkoutlink }}*\"\n    }\n}   ","options":{}},"id":"6d129ecc-0c5e-4d04-85b3-732d91c64ef2","name":"MSG 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,500]},{"parameters":{"assignments":{"assignments":[{"id":"1c4ce0a0-2668-4893-9b46-8aad0cd5c4d6","name":"whatsantigo","value":"={{ $json.whatsapp }}","type":"string"},{"id":"38c5b718-8728-40dc-9540-5cbfa1a08960","name":"whatsmodificado","value":"={{ \"+\" + $json.whatsapp.replace(/\\D/g,'').replace(/^(\\d{2})(\\d{5})(\\d{4})$/, '55$1$2$3').trim() }}","type":"string"}]},"options":{}},"id":"a8862f2d-2f01-4e7a-8972-d5861ca0288e","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[920,700]},{"parameters":{"assignments":{"assignments":[{"id":"e97fc246-a476-4594-a017-282e2d2a5298","name":"nome","value":"={{ $json.body.customer.name }}","type":"string"},{"id":"929916b8-86bf-4a66-8340-b50e711af18e","name":"produto","value":"={{ $json.body.products[0].name }}","type":"string"},{"id":"f06b9ff0-7e29-487e-a8dd-30234cfba541","name":"whatsapp","value":"={{ $json.body.customer.phone_number }}","type":"string"},{"id":"ed0fabeb-d341-4b19-b964-a5558c114560","name":"email","value":"={{ $json.body.customer.email }}","type":"string"},{"id":"52b75e5b-beaa-4722-9dc2-6e2dc2bb9e6b","name":"Status","value":"={{ $json.body.status }}","type":"string"},{"id":"d5ca4267-c141-40bc-98cc-91667d986686","name":"checkoutlink","value":"={{ $json.body.checkout_url }}","type":"string"}]},"options":{}},"id":"4536ffea-54a2-436c-a12b-091bd8631d89","name":"Informações","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[740,540]},{"parameters":{"amount":1},"id":"73fcc8a5-8b41-461c-8cea-2967afa41e55","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1060,540],"webhookId":"6eb73f5d-f77d-41f2-8e6b-c4aefe812221"},{"parameters":{"content":"## CARRINHO ABANDONADO","height":483,"width":1319},"id":"b6a94758-29f1-4f31-ab4b-77db00f4123b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1fqzrNS-FItzyWi7y599jrotK1cHjRZ_-e3LxUE1M7Bo","mode":"list","cachedResultName":"// JAMIL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fqzrNS-FItzyWi7y599jrotK1cHjRZ_-e3LxUE1M7Bo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"VENDAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fqzrNS-FItzyWi7y599jrotK1cHjRZ_-e3LxUE1M7Bo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NOME ":"={{ $json.nome }}","Nº DE CONTATO":"={{ $json.whatsapp }}","E-MAIL":"={{ $json.email }}","PRODUTO":"ASGARD SENDER","DATA DA COMPRA ":"={{ $json.DataCompra }}","PLANO ":"={{ $json.Recorencia }}","PRODUTOR / AFILIADO":"JAMIL / LUCAS","STATUS DO PLANO ":"={{ $json.Status }}"},"matchingColumns":[],"schema":[{"id":"PRODUTOR / AFILIADO","displayName":"PRODUTOR / AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME ","displayName":"NOME ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nº DE CONTATO","displayName":"Nº DE CONTATO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-MAIL","displayName":"E-MAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRODUTO","displayName":"PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DA COMPRA ","displayName":"DATA DA COMPRA ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLANO ","displayName":"PLANO ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DO PLANO ","displayName":"STATUS DO PLANO ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DE VALIDADE ","displayName":"DATA DE VALIDADE ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"b3588e30-6b2c-4724-982e-9970fe70ea7c","name":"Google Sheets4","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1200,1160],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"120363378460957875@g.us\",\n    \"text\": \"Tivemos uma Venda, dados abaixo.\\n\\nNome: {{ $('Edit Fields').item.json.nome }}\\ndata Compra: {{ $('Edit Fields').item.json.DataCompra }}\\nE-mail: {{ $('Edit Fields').item.json.email }}\\nTelefone: {{ $('Edit Fields').item.json.whatsapp }}\\nMeses Assinados: {{ $('Edit Fields').item.json.Recorencia }}\"\n}","options":{}},"id":"f6b8dc2a-2109-489a-b58a-065e652e7844","name":"Evolution API1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,1160]},{"parameters":{"httpMethod":"POST","path":"10470a57-bf5b-461e-a148-053d12dbbaa5","options":{}},"id":"2d7008ab-05ab-4995-b3bd-8c12c2754ca3","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[520,620],"webhookId":"10470a57-bf5b-461e-a148-053d12dbbaa5","disabled":true},{"parameters":{"content":"## COMPRA COMPLETA","height":784.3824985777826,"width":1408.1641822806246},"id":"70a0b818-a241-43ef-bc4a-ec2e595c24e8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,980]},{"parameters":{"assignments":{"assignments":[{"id":"e97fc246-a476-4594-a017-282e2d2a5298","name":"nome","value":"={{ $json.body.Data.Buyer.Name }}","type":"string"},{"id":"929916b8-86bf-4a66-8340-b50e711af18e","name":"produto","value":"={{ $json.body.Data.Products[0].Name }}","type":"string"},{"id":"f06b9ff0-7e29-487e-a8dd-30234cfba541","name":"whatsapp","value":"={{ $json.body.Data.Buyer.PhoneNumber }}","type":"string"},{"id":"ed0fabeb-d341-4b19-b964-a5558c114560","name":"email","value":"={{ $json.body.Data.Buyer.Email }}","type":"string"},{"id":"52b75e5b-beaa-4722-9dc2-6e2dc2bb9e6b","name":"Status","value":"={{ $json.body.Event }}","type":"string"},{"id":"feb7be09-a5c3-4f9e-8dba-9debb7dd9d75","name":"ValorCompra","value":"={{ $json.body.Data.Purchase.OriginalPrice.Value }}","type":"string"},{"id":"f0931ee2-0dc2-430e-9544-c23fe1422cad","name":"IdProduto","value":"={{ $json.body.Data.Products[0].Id }}","type":"string"},{"id":"ec1c4e32-f10e-4fc7-9af5-11de7b64f3d3","name":"DataCompra","value":"={{ $json.body.CreatedAt }}","type":"string"},{"id":"57d5dfa4-a42c-4f22-b066-ca722314bbbe","name":"Recorencia","value":"={{ $json.body.Data.Purchase.Recurrency }}","type":"string"}]},"options":{}},"id":"702b2ce9-3a21-4e4e-905a-ff18f49d1750","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[980,1360]},{"parameters":{"method":"POST","url":"https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"120363378460957875@g.us\",\n    \"text\": \"Tivemos uma Venda CANCELADA OU EXTORNADA\\n\\nCONFERIR NA PLANILHA, dados abaixo.\\n\\nNome: {{ $('Edit Fields2').item.json.nome }}\\ndata Compra: {{ $('Edit Fields2').item.json.DataCompra }}\\nE-mail: {{ $('Edit Fields2').item.json.email }}\\nTelefone: {{ $('Edit Fields2').item.json.whatsapp }}\\nMeses Assinados: {{ $('Edit Fields2').item.json.Recorencia }}\"\n}","options":{}},"id":"383eb477-2a22-459a-b373-6be17c77dc7e","name":"Evolution API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,1360]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1fqzrNS-FItzyWi7y599jrotK1cHjRZ_-e3LxUE1M7Bo","mode":"list","cachedResultName":"// JAMIL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fqzrNS-FItzyWi7y599jrotK1cHjRZ_-e3LxUE1M7Bo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"VENDAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fqzrNS-FItzyWi7y599jrotK1cHjRZ_-e3LxUE1M7Bo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NOME ":"={{ $json.nome }}","Nº DE CONTATO":"={{ $json.whatsapp }}","E-MAIL":"={{ $json.email }}","PRODUTO":"ASGARD SENDER","DATA DA COMPRA ":"={{ $json.DataCompra }}","PLANO ":"={{ $json.Recorencia }}","PRODUTOR / AFILIADO":"JAMIL / LUCAS","STATUS DO PLANO ":"={{ $json.Status }}"},"matchingColumns":["E-MAIL"],"schema":[{"id":"PRODUTOR / AFILIADO","displayName":"PRODUTOR / AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME ","displayName":"NOME ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nº DE CONTATO","displayName":"Nº DE CONTATO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-MAIL","displayName":"E-MAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PRODUTO","displayName":"PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DA COMPRA ","displayName":"DATA DA COMPRA ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLANO ","displayName":"PLANO ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DO PLANO ","displayName":"STATUS DO PLANO ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DE VALIDADE ","displayName":"DATA DE VALIDADE ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"be84cd57-09ea-41de-ae39-9fcebd7e4993","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1200,1360],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Edit Fields').item.json.whatsapp }}\",\n    \"text\": \"Ola, {{ $('Edit Fields').item.json.nome }}, tudo bem?\\nRecebemos seu pedido de compra do nosso *ASGARD SENDER* em breve nossa equipe vai entrar em contato para te enviar a KEY de ATIVAÇÃO. Agradecemos pela sua confiança e esperamos que faça uso total desta ferramenta incrível.\\n\\nVocê pode acessar as vídeo aulas dele na nossa área de membros *ASGARD ACADEMY* no link a seguir: https://membros.teamasgard.pro/\\nSe você nao tiver conta ainda basta criar clicando em cadastrar.\\n\\n Duvidas chame nosso Suporte: 34991417397\"\n}","options":{}},"id":"9d586adc-fe75-4b5a-93e7-e3ccf57d8404","name":"Evolution API2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,1160]},{"parameters":{"method":"POST","url":"https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Edit Fields2').item.json.whatsapp }}\",\n    \"text\": \"Seu acesso à ferramenta ASGARD SENDER foi encerrado, pedimos para que conferir na LASTLINK o status do seu pedido ou chame nosso suporte no whatsapp 34991417397\"\n}","options":{}},"id":"5b3f1672-1a58-4325-8616-9a8e3a1f44e5","name":"Evolution API3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,1360]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.Event }}","rightValue":"Purchase_Order_Confirmed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"COMPRA CONFIRMADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09948c9d-e419-4e59-82bd-9a042bf2992a","leftValue":"={{ $json.body.Event }}","rightValue":"Purchase_Request_Canceled","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"COMPRA CANCELADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce262b78-5cbe-434d-bff4-e9be521b5bdc","leftValue":"={{ $json.body.Event }}","rightValue":"Payment_Refund","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"COMPRA REEMBOLSADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f286b93d-e7cb-4537-8bcc-c31035e0cdf5","leftValue":"={{ $json.body.Event }}","rightValue":"Payment_Chargeback","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CHANGERBACK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c64c9f1-13a2-4c1c-ac67-1ca9796dce54","leftValue":"={{ $json.body.Event }}","rightValue":"Subscription_Expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ASSINATURA CANCELADA"}]},"options":{}},"id":"83ac53fe-532f-4af5-a1d0-bd70df4d4025","name":"Switch3","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[700,1320]},{"parameters":{"httpMethod":"POST","path":"asgardsender","options":{}},"id":"4b9856de-031a-461e-b6d4-b1568e3873a7","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[500,1340],"webhookId":"c03277b9-ad25-4b57-be47-3894bf32777d"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>SAC</title>\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/css/intlTelInput.css\">\n    <style>\n        .iti { width: 100%; }\n        .loader {\n            border: 5px solid #f3f3f3;\n            border-top: 5px solid #3498db;\n            border-radius: 50%;\n            width: 50px;\n            height: 50px;\n            animation: spin 1s linear infinite;\n            margin: 20px auto;\n            display: none;\n        }\n        @keyframes spin {\n            0% { transform: rotate(0deg); }\n            100% { transform: rotate(360deg); }\n        }\n        .animate-pulse {\n            animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;\n        }\n        @keyframes pulse {\n            0%, 100% { opacity: 1; }\n            50% { opacity: 0.5; }\n        }\n    </style>\n</head>\n<body class=\"bg-gray-100 min-h-screen flex items-center justify-center p-4\">\n    <div class=\"bg-white p-8 rounded-lg shadow-md w-full max-w-md\">\n        <h1 class=\"text-2xl font-bold mb-6 text-center\">CHAVE DE ATIVAÇÃO</h1>\n        <form id=\"licenseForm\" class=\"space-y-4\">\n            <div class=\"text-red-500 font-bold animate-pulse text-center\">⚠ Atenção: Use os dados usados na compra!</div>\n            <div>\n                <label for=\"fullName\" class=\"block text-sm font-medium text-gray-700\">Nome do usuário</label>\n                <input type=\"text\" id=\"fullName\" name=\"fullName\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50\" placeholder=\"Digite o nome completo\" required>\n            </div>\n            <div>\n                <label for=\"whatsapp\" class=\"block text-sm font-medium text-gray-700\">WhatsApp do usuário</label>\n                <input type=\"tel\" id=\"whatsapp\" name=\"whatsapp\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50\" required>\n            </div>\n            <div>\n                <label for=\"email\" class=\"block text-sm font-medium text-gray-700\">E-mail do usuário</label>\n                <input type=\"email\" id=\"email\" name=\"email\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50\" placeholder=\"Digite o e-mail\" required>\n            </div>\n            <div class=\"flex space-x-4\">\n                <div class=\"w-full\">\n                    <label for=\"product\" class=\"block text-sm font-medium text-gray-700\">Produto</label>\n                    <select id=\"product\" name=\"product\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50\" required>\n                        <option value=\"Multsender\">Multsender</option>\n                    </select>\n                </div>\n                <div class=\"w-full\">\n                    <label for=\"plan\" class=\"block text-sm font-medium text-gray-700\">Plano</label>\n                    <select id=\"plan\" name=\"plan\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50\" required>\n                        <option value=\"Anual\">Anual</option>\n                        <option value=\"Semestral\">Semestral</option>\n                        <option value=\"Trimestral\">Trimestral</option>\n                        <option value=\"Mensal\">Mensal</option>\n                    </select>\n                </div>\n            </div>\n            <div class=\"text-center text-red-500 font-semibold mt-2\">Escolha seu Produto e plano contratado</div>\n            <p class=\"font-bold text-center\">🔐 Seus dados estão protegidos</p>\n            <button type=\"submit\" id=\"submitButton\" class=\"w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50\">Gerar chave</button>\n        </form>\n        <div id=\"loader\" class=\"loader\"></div>\n        <div id=\"responseContainer\" class=\"mt-4 hidden\">\n            <pre id=\"responseText\" class=\"bg-gray-100 p-4 rounded whitespace-pre-wrap word-wrap break-word text-sm overflow-x-auto\"></pre>\n            <button id=\"copyButton\" class=\"mt-2 w-full bg-green-600 text-white py-2 px-4 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50\">FINALIZAR</button>\n        </div>\n    </div>\n\n    <script src=\"https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js\"></script>\n    <script>\n        document.addEventListener('DOMContentLoaded', function() {\n            const phoneInput = document.querySelector(\"#whatsapp\");\n            const iti = window.intlTelInput(phoneInput, {\n                utilsScript: \"https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js\",\n                preferredCountries: ['br'],\n                initialCountry: \"br\"\n            });\n\n            const form = document.getElementById('licenseForm');\n            const submitButton = document.getElementById('submitButton');\n            const loader = document.getElementById('loader');\n            const responseContainer = document.getElementById('responseContainer');\n            const responseText = document.getElementById('responseText');\n            const copyButton = document.getElementById('copyButton');\n\n            form.addEventListener('submit', async function(e) {\n                e.preventDefault();\n                submitButton.disabled = true;\n                submitButton.textContent = 'Gerando...';\n                loader.style.display = 'block';\n                responseContainer.classList.add('hidden');\n\n                const formData = new FormData(form);\n                const planDays = {\n                    Mensal: 30,\n                    Trimestral: 90,\n                    Semestral: 180,\n                    Anual: 365\n                };\n\n                const payload = {\n                    Nome: formData.get('fullName'),\n                    WhatsApp: iti.getNumber(),\n                    'E-mail': formData.get('email'),\n                    Produto: formData.get('product'),\n                    Plano: formData.get('plan'),\n                    Dias: planDays[formData.get('plan')] || 30,\n                    'Data de ativação': new Date().toISOString().split('T')[0]\n                };\n\n                try {\n                    const response = await fetch('https://n8n.flowbot.online/webhook/software', {\n                        method: 'POST',\n                        headers: { 'Content-Type': 'application/json' },\n                        body: JSON.stringify(payload)\n                    });\n\n                    const result = await response.text();\n                    responseText.textContent = result;\n                    responseContainer.classList.remove('hidden');\n                } catch (error) {\n                    console.error('Erro ao configurar licença:', error);\n                    responseText.textContent = 'Ocorreu um erro ao processar a solicitação.';\n                    responseContainer.classList.remove('hidden');\n                } finally {\n                    submitButton.disabled = false;\n                    submitButton.textContent = 'Gerar chave';\n                    loader.style.display = 'none';\n                }\n            });\n\n            copyButton.addEventListener('click', function() {\n                navigator.clipboard.writeText(responseText.textContent)\n                    .then(() => {\n                        alert('Solicitação enviada com sucesso!');\n                        location.reload(); // Atualiza a página após copiar a chave\n                    })\n                    .catch(err => alert('Erro ao copiar a resposta: ' + err));\n            });\n        });\n    </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[660,1880],"id":"e1f6bd66-6ce9-4ea6-95bd-de603935c6b7","name":"HTML"},{"parameters":{"path":"softwares","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[480,1880],"id":"7e453288-3ea3-44f3-89e2-552a29465e97","name":"Pagina do QR code","webhookId":"cce5e6b5-f99a-48a3-8b18-cf524f03c4ce"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[820,1880],"id":"7e7a73e1-6e8f-497c-a061-f2bd789bd92c","name":"Respond to Webhook12"},{"parameters":{"httpMethod":"POST","path":"software","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[480,2100],"id":"fca173c0-7eb6-4bf8-9256-d105c459a1dd","name":"Webhook4","webhookId":"995d159e-58a6-4f8b-aef5-169033daf289","disabled":true},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"p9nw0bde2eos143","table":"m7cw7zjqvikkik3","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[980,2100],"id":"7d687215-d0be-42d9-82c5-27b568242f52","name":"Consulta usuários2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"13ff82dd-b3c7-4468-87d2-c7ca2491f6ba","leftValue":"={{ $json['Status do produto'] }}","rightValue":"order_approved","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1420,2100],"id":"1b76e3f0-5072-441e-b236-7f0a69beb963","name":"Status Produto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d54ef8e-bcb2-4d2a-a8fc-b13b5177a761","leftValue":"={{ $json['E-mail'] }}","rightValue":"={{ $('Dados Gerais').item.json['E-mail Usuário'] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a96be23c-5d7b-4f70-93c3-2e728fdf0f6e","leftValue":"={{ $json.Produto }}","rightValue":"={{ $('Dados Gerais').item.json.Produto }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d98aa43a-1b44-479b-ba31-c4e2eb66649d","leftValue":"={{ $json.Plano }}","rightValue":"={{ $('Dados Gerais').item.json.Plano }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,2100],"id":"1ac9aed6-df86-4dfc-b159-0a174b06e272","name":"E-mail - Produto - Plano"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d9a1352-a142-4e74-9b8f-7ef6527ca2cd","leftValue":"={{ $json['Status do plano'] }}","rightValue":"Ativa","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1640,2100],"id":"33b32ee2-7b57-4d16-ac91-b81f2cd98535","name":"Filtra Status do Plano"},{"parameters":{"respondWith":"text","responseBody":"=Desculpe, e-mail não localizado!","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1500,2260],"id":"40ab2b86-e4fc-4417-a53f-c29014772114","name":"E-mail não localizado"},{"parameters":{"respondWith":"text","responseBody":"=Sua assinatura foi cancelada. Para continuar utilizando nossa ferramenta, reative sua assinatura.","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1760,2260],"id":"24e3161d-2eda-462e-8242-4f9a6bcccfa8","name":"Assinatura cancelada"},{"parameters":{"respondWith":"text","responseBody":"=Desculpe, sua assinatura está vencida desde {{ $json['Data de validade'] }}, adquira um novo plano e volte a usar nossa ferramenta!","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2040,2260],"id":"75dabf79-e7b7-4a49-93e6-6a5aa2d89f47","name":"Assinatura vencida"},{"parameters":{"respondWith":"text","responseBody":"=⚠ ATENÇÃO: Sua chave de ativação será enviada em até 24h em seu WhatsApp.\n\n❌ NÂO solicite outa antes do prazo!","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2640,2100],"id":"86336f4e-d76f-4459-b14b-68192e73b121","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"={{ $('Dados Gerais').item.json['Base Url'] }}/message/sendText/{{ $('Dados Gerais').item.json['Instância'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Dados Gerais').item.json.Apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Dados Gerais').item.json['Nº Usuário'] }}"},{"name":"text","value":"=*🚨 Atenção {{ $json.Nome }}🚨*\n\n*✅ RECEBEMOS SUA SOLICITAÇÃO*\n\n_*📲Aguarde até que seja enviada aqui!*_\n\n*⛔ NÃO RESPONDA ESTA MENSAGEM*\n\n*❌ NÃO SOLICITE UMA NOVA CHAVE ANTES DO PRAZO DE ENTREGA*\n\n_*🔑 Sua chave será enviada em até 24h dentro do horário comercial*_\nSegunda a Sexta das 09:00h as 18:00h\n\n_*📲 ESTE CANAL NÃO RECEBE MENSAGENS*_\n\n*➡️  AGRADECEMOS PELA SUA COMPREENSÃO!*\n\n\n   "}]},"options":{"redirect":{"redirect":{"maxRedirects":3}}}},"id":"d45fd147-52e0-4948-a562-c9799096a409","name":"Mensagem Cliente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,2100],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"c039f8ef-7b7c-4608-92c5-9bb165bf229a","name":"Base Url","value":"https://evo.flowbot.online","type":"string"},{"id":"18a6e1aa-e18b-4b5a-89c8-d8d50b9667bd","name":"Instância","value":"SuporteGMDigital","type":"string"},{"id":"ec5ead7e-91e1-4e0f-9fa2-aa5e2e125da5","name":"Apikey","value":"9a809c1a2b3c4d5e","type":"string"},{"id":"dfd0ca25-9106-4826-994a-5b6feaa8a63f","name":"Nº Gefferson","value":"556292963314","type":"string"},{"id":"14e36a2e-45b0-46a2-a367-2faa46d381f4","name":"Nome Usuário","value":"={{ $json.body.Nome }}","type":"string"},{"id":"98fc24b8-4ed7-4c8e-b6ea-99cd07516c2d","name":"Nº Usuário","value":"={{ $json.body.WhatsApp }}","type":"string"},{"id":"1a68fc38-a184-45fe-92bf-044743ef7a39","name":"E-mail Usuário","value":"={{ $json.body['E-mail'] }}","type":"string"},{"id":"893aed14-a04d-467b-9431-0073109fa704","name":"Produto","value":"={{ $json.body.Produto }}","type":"string"},{"id":"e5357a18-5ece-4c3a-ba25-f8e4c06578e7","name":"Plano","value":"={{ $json.body.Plano }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,2100],"id":"4b984c5e-4e01-4ac6-95ef-2e414eb2ff6e","name":"Dados Gerais"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2080,2100],"id":"202deac9-3197-413a-a177-790532621284","name":"Aggregate"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2460,2100],"id":"d4ab442c-0e9c-4fc7-b0b6-0d65cee66380","name":"Aggregate1"},{"parameters":{"method":"POST","url":"={{ $('Dados Gerais').item.json['Base Url'] }}/message/sendText/{{ $('Dados Gerais').item.json['Instância'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Dados Gerais').item.json.Apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Dados Gerais').item.json['Nº Gefferson'] }}"},{"name":"text","value":"=*CHAVE DE ATIVAÇÃO*\n\n*NOME:* {{ $('Consulta usuários2').item.json['Nome completo'] }}\n*NÚMERO:* {{ $('Consulta usuários2').item.json['Nº de contato'] }}\n*E_MAIL:* {{ $('Consulta usuários2').item.json['E-mail'] }}\n*PRODUTO:* {{ $('Consulta usuários2').item.json.Produto }}\n*DIAS RESTANTES:* {{ $('Consulta usuários2').item.json['Dias restantes'] }}\n\n*PRAZO DE ENTREGA: ATÉ 24H EM HORÁRIO COMERCIAL.*\n\n\n   "}]},"options":{"redirect":{"redirect":{"maxRedirects":3}}}},"id":"76473e74-2a51-4ec0-bb6b-818b944b8cea","name":"Mensagem Gefferson","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,2100]},{"parameters":{"content":"## MULTSENDER\n","height":380,"width":1920,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[920,2040],"id":"a3382122-e488-49aa-ba46-dc660b6af8c2","name":"Sticky Note2"}],"connections":{"Edit Fields":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"If":{"main":[[{"node":"MSG 1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Informações":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Informações","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook12","type":"main","index":0}]]},"Pagina do QR code":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Webhook4":{"main":[[{"node":"Dados Gerais","type":"main","index":0}]]},"Consulta usuários2":{"main":[[{"node":"E-mail - Produto - Plano","type":"main","index":0}]]},"Status Produto":{"main":[[{"node":"Filtra Status do Plano","type":"main","index":0}],[{"node":"Assinatura cancelada","type":"main","index":0}]]},"E-mail - Produto - Plano":{"main":[[{"node":"Status Produto","type":"main","index":0}],[{"node":"E-mail não localizado","type":"main","index":0}]]},"Filtra Status do Plano":{"main":[[{"node":"Mensagem Cliente","type":"main","index":0}],[{"node":"Assinatura vencida","type":"main","index":0}]]},"Mensagem Cliente":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Dados Gerais":{"main":[[{"node":"Consulta usuários2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Mensagem Gefferson","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Mensagem Gefferson":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all","saveDataSuccessExecution":"all"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.typebot.pro","content-length":"952","accept":"application/json","accept-encoding":"gzip, deflate","content-type":"application/json; charset=utf-8","traceparent":"00-9b43a99e0679ebd53d205c14602d959d-0b2a27af245f6ba9-01","x-forwarded-for":"100.27.6.1","x-forwarded-host":"n8n.typebot.pro","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"239301ba036b","x-lastlink-token":"c101b0dd60674979a6342a3f862b1614","x-real-ip":"100.27.6.1"},"params":{},"query":{},"body":{"Id":"8ed788d5-e02f-11ef-a602-0e34ae58072f","IsTest":false,"Event":"Subscription_Expired","CreatedAt":"2025-02-01T00:00:33","Data":{"Products":[{"Id":"800b585c-063e-4213-90ed-ea41eab68e5e","Name":"ASGARD SENDER"}],"Buyer":{"Id":"58acecad-c16e-4907-9262-09c6e5127318","Email":"wagnerrgarcia@gmail.com","Name":"Wagner Roberto Ramos Garcia Junior","PhoneNumber":"+5541991976476"},"Seller":{"Id":"09c565b7-e74a-44c2-aa6c-12ae687fe6c9","Email":"jamilabrao@hotmail.com"},"Purchase":{"Recurrency":1,"OriginalPrice":{"Value":97},"Price":{"Value":97},"Payment":{"NumberOfInstallments":1,"PaymentMethod":"pix","InterestRateAmount":0},"Affiliate":{"Id":"895d7866-12c3-49d8-a3e7-87631d033b19","Email":"caduigaming1@gmail.com"}},"Subscriptions":[{"Id":"85ad9491-32f4-420a-ab9a-0e1ef0ae0061","ProductId":"800b585c-063e-4213-90ed-ea41eab68e5e","ExpiredDate":"2025-02-01T00:00:33"}],"Offer":{"Id":"41f5c88f-c3de-4201-b394-c6a274d0b24b","Name":"ASGARD SENDER"}}},"webhookUrl":"https://n8n.typebot.pro/webhook/asgardsender","executionMode":"production"}}],"Webhook4":[{"json":{"headers":{"host":"n8n.flowbot.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36","content-length":"191","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"application/json","cookie":"ph_phc_7F92HoXJPeGnTKmYv0eOw62FurPMRW9Aqr0TPrDzvHh_posthog=%7B%22distinct_id%22%3A%22b04CAfVQ6AADSpGULyGR1%22%2C%22%24device_id%22%3A%22019408f7-58fb-7efe-8a4a-8a773a595d1c%22%2C%22%24user_state%22%3A%22identified%22%2C%22%24sesid%22%3A%5B1735667299313%2C%2201941dd3-fa7c-7ced-b2e0-40644fd313d4%22%2C1735667219068%5D%2C%22%24user_id%22%3A%22b04CAfVQ6AADSpGULyGR1%22%2C%22%24stored_person_properties%22%3A%7B%22activepiecesVersion%22%3A%220.13.0%22%2C%22activepiecesEnvironment%22%3A%22prod%22%7D%2C%22%24session_recording_enabled_server_side%22%3Afalse%2C%22%24autocapture_disabled_server_side%22%3Afalse%2C%22%24active_feature_flags%22%3A%5B%5D%2C%22%24enabled_feature_flags%22%3A%7B%7D%2C%22%24feature_flag_payloads%22%3A%7B%7D%7D; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19thS0XYrc7%2FtoYqdDUI1GVhC6Cb199ylg%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19Wxd79nd2LaWqp9uF4HRbngpatrLJIeg0%3D; _fbp=fb.1.1737596164251.598757060152915939; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMxOTdjNDlkLWRmM2EtNDAxMS1hZDUyLTllMWQ4NzA2NDE4MyIsImhhc2giOiJ4Wm94dXdQSXRMIiwiYnJvd3NlcklkIjoiKzJ0Mmllekl1Z0t2VlR2RDlBYnlyNDFHamxLVG9nUWJENWFLT01LMUdhQT0iLCJpYXQiOjE3Mzg3NTgxMTgsImV4cCI6MTczOTM2MjkxOH0.l9bbbFN0rZWcVPW82KTOonI82NI4ebZQnXfCeg_2sDE; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX184gLhQLWf4Ih%2BMsmHKOAyJRdodY6hjgYtQz5Q29pR4AcxXU%2F%2BJMP6ILzswBDgB9IcKiBd82T7T4Q%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2B3fTw5yHt8tRs%2FZ%2B73dlOEsaQPO5ib8Vm8doOm7TEP4e%2FJUjsCgmgf%2BEaawNluBq4ws92arM4bDEhWBt%2BKVKauQ0%2BhJmArRE1wYeYx2i9BMVb8AwrcYaUb6IyhAn02tX5zGb0lGgMbSbMjWdlv1vAWRy7c18ULthQ%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B9%2BnmYTFZDsHzQDFSJNsxdpNQP1g7wvxLStOQeh2he01K4u67yJwVBTStL6Q3nyviZ6%2BYr75ll%2B5h%2Bq4vjY%2BwgKTAz7by9RGIuZjaNq%2F6q3zZNZEXqzT%2F%2BJ5tmAKDMREz0jrSyJxzt1Q%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%2201719f7f8acdc1423a8809fa3052b43a34d334f415c4fafe7fe878fd2dd58c6a%23c197c49d-df3a-4011-ad52-9e1d87064183%22%2C%22%24sesid%22%3A%5B1738774130383%2C%220194d703-aeb1-7476-8e6a-9b954bf06493%22%2C1738774130353%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.flowbot.online%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FAFd8VX7oqmXzm7sP%2Fq4Yt2mOaV54cbDB37M8NAW4h5hcdYxnwOo70vsguQt2IqgBlIVpWj1rFs5rvNN%2Fx1nYoQUwBc4PCjj4GWJ6bPRfPltNl7A87GDg%2B9HmG8lIupmLjPb3TIsKqvw%3D%3D","origin":"https://n8n.flowbot.online","priority":"u=1, i","referer":"https://n8n.flowbot.online/webhook/softwares","sec-ch-ua":"\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"Google Chrome\";v=\"132\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-origin","x-forwarded-for":"45.239.139.192","x-forwarded-host":"n8n.flowbot.online","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c46c903075f4","x-real-ip":"45.239.139.192"},"params":{},"query":{},"body":{"Nome":"Débora Nobrega dos Santos","WhatsApp":"+556292963314","E-mail":"debora_nobrega@outlook.com","Produto":"Multsender","Plano":"Semestral","Dias":180,"Data de ativação":"2025-02-05"},"webhookUrl":"https://n8n.flowbot.online/webhook/software","executionMode":"production"}}]},"versionId":"bfb4ce45-7847-4b29-832e-bc6d10a2c42b","triggerCount":2,"tags":[]}