lastlink---typebot-rYeKXTRmieo2xwv5.json
{"createdAt":"2024-11-19T14:27:55.351Z","updatedAt":"2025-05-15T18:05:21.459Z","id":"rYeKXTRmieo2xwv5","name":"LASTLINK - TYPEBOT","active":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"e97fc246-a476-4594-a017-282e2d2a5298","name":"nome","value":"={{ $json.body.Data.Buyer.Name }}","type":"string"},{"id":"929916b8-86bf-4a66-8340-b50e711af18e","name":"produto","value":"={{ $json.body.Data.Offer.Name }}","type":"string"},{"id":"f06b9ff0-7e29-487e-a8dd-30234cfba541","name":"whatsapp","value":"={{ $json.body.Data.Buyer.PhoneNumber }}","type":"string"},{"id":"ed0fabeb-d341-4b19-b964-a5558c114560","name":"email","value":"={{ $json.body.Data.Buyer.Email }}","type":"string"},{"id":"52b75e5b-beaa-4722-9dc2-6e2dc2bb9e6b","name":"Status","value":"={{ $json.body.Event }}","type":"string"},{"id":"7df5f54c-8038-43e2-b111-fd5bccdf00cd","name":"SiteCadatro","value":"https://administrador.typebot.pro/pt-BR/signin","type":"string"},{"id":"feb7be09-a5c3-4f9e-8dba-9debb7dd9d75","name":"ValorCompra","value":"={{ $json.body.Data.Purchase.OriginalPrice.Value }}","type":"string"},{"id":"f0931ee2-0dc2-430e-9544-c23fe1422cad","name":"IdProduto","value":"={{ $json.body.Data.Products[0].Id }}","type":"string"},{"id":"ec1c4e32-f10e-4fc7-9af5-11de7b64f3d3","name":"DataCompra","value":"={{ $json.body.CreatedAt }}","type":"string"}]},"options":{}},"id":"660cf95d-65cf-4b13-90c3-fd38ff17f520","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[980,1160]},{"parameters":{"assignments":{"assignments":[{"id":"1c4ce0a0-2668-4893-9b46-8aad0cd5c4d6","name":"whatsantigo","value":"={{ $json.whatsapp }}","type":"string"},{"id":"38c5b718-8728-40dc-9540-5cbfa1a08960","name":"whatsmodificado","value":"={{ \"+\" + $json.whatsapp.replace(/\\D/g,'').replace(/^(\\d{2})(\\d{5})(\\d{4})$/, '55$1$2$3').trim() }}","type":"string"}]},"options":{}},"id":"f19b98f0-9aa4-4461-b0f0-f10bcbf06c1c","name":"Adicionar +55 Número","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1200,980]},{"parameters":{"method":"POST","url":"https://whatsapi.typebot.pro/manager/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Edit Fields').item.json.whatsapp }}\",\n    \"text\": \"Olá, {{ $('Edit Fields').item.json[\"nome\"] }}.\\n\\n🎊 Parabéns você acaba de comprar o *{{ $('Edit Fields').item.json[\"produto\"] }}* No plano PRO\\n\\ntodos os dados de acesso foram enviados para o seu e-mail: *{{ $json.EMAIL }}*\\n\\nJa vou aproveitar e deixar aqui o link onde deve criar sua conta e logo após ja atualizo seu plano\\nAcesse:{{ $('Edit Fields').item.json.SiteCadatro }}\\n\\nJa vou liberar seu bonus exclusivo, acesso a nossa comunidade no telegram https://t.me/brasiltypebot\\n\\nTe espero lá!\"\n}","options":{}},"id":"c617b7db-c6ae-43ed-9b51-9f1928736140","name":"Evolution API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,680]},{"parameters":{},"id":"13444343-6b0e-40fd-a4ca-3159977eb398","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1520,760]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4491b0a8-44b6-4f12-8144-05e2779c75f8","leftValue":"={{ $('Informações').item.json.Status }}","rightValue":"={{ $('Informações').item.json.Status }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"eb7f6ea0-5245-4f73-a84d-75ecc55839ea","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1220,700]},{"parameters":{"method":"POST","url":"https://evolutionapi.typebot.pro/message/sendText/ASGARDBOT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"9q88a5s7f2bicf46q6qb8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json[\"whatsmodificado\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"Olá, {{ $('Informações').item.json.nome }}.\\n\\n🛒 Você deixou o *{{ $('Informações').item.json.produto }}* no carrinho de compras, finalize já a sua compra, antes que a promoção acabe, última semana com esse preço especial 🏃⏰\\n\\n Clique Aqui para Comprar: *{{ $('Informações').item.json.checkoutlink }}*\"\n    }\n}   ","options":{}},"id":"34ee6547-4a86-4605-985a-cfbad8596ad0","name":"MSG 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,500]},{"parameters":{"assignments":{"assignments":[{"id":"1c4ce0a0-2668-4893-9b46-8aad0cd5c4d6","name":"whatsantigo","value":"={{ $json.whatsapp }}","type":"string"},{"id":"38c5b718-8728-40dc-9540-5cbfa1a08960","name":"whatsmodificado","value":"={{ \"+\" + $json.whatsapp.replace(/\\D/g,'').replace(/^(\\d{2})(\\d{5})(\\d{4})$/, '55$1$2$3').trim() }}","type":"string"}]},"options":{}},"id":"e60078ca-ad31-4ccd-b289-b840d98cb927","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[920,700]},{"parameters":{"assignments":{"assignments":[{"id":"e97fc246-a476-4594-a017-282e2d2a5298","name":"nome","value":"={{ $json.body.customer.name }}","type":"string"},{"id":"929916b8-86bf-4a66-8340-b50e711af18e","name":"produto","value":"={{ $json.body.products[0].name }}","type":"string"},{"id":"f06b9ff0-7e29-487e-a8dd-30234cfba541","name":"whatsapp","value":"={{ $json.body.customer.phone_number }}","type":"string"},{"id":"ed0fabeb-d341-4b19-b964-a5558c114560","name":"email","value":"={{ $json.body.customer.email }}","type":"string"},{"id":"52b75e5b-beaa-4722-9dc2-6e2dc2bb9e6b","name":"Status","value":"={{ $json.body.status }}","type":"string"},{"id":"d5ca4267-c141-40bc-98cc-91667d986686","name":"checkoutlink","value":"={{ $json.body.checkout_url }}","type":"string"}]},"options":{}},"id":"d0f858ec-35f6-4305-ae47-6bdab986b530","name":"Informações","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[740,540]},{"parameters":{"amount":1},"id":"4ac77cbf-3cb5-4d9b-9cd0-9148c64e59c6","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1060,540],"webhookId":"34463196-1573-4dc1-ac5d-2f7a9be4ad69"},{"parameters":{"content":"## CARRINHO ABANDONADO","height":483,"width":1319},"id":"849b87a0-1475-4ec7-8165-b790662d6bc9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0","mode":"list","cachedResultName":"COMPRAS TYPEBOT PRO - KIRVANO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":886512728,"mode":"list","cachedResultName":"COMPRA LASTLINK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit#gid=886512728"},"columns":{"mappingMode":"defineBelow","value":{"NOME":"={{ $('Edit Fields').item.json.nome }}","PRODUTO":"={{ $('Edit Fields').item.json.produto }}","TELEFONE":"={{ $('Edit Fields').item.json.whatsapp }}","EMAIL":"={{ $('Edit Fields').item.json.email }}","STATUS":"={{ $('Edit Fields').item.json.Status }}","DATA":"={{ $('Webhook').item.json.body.created_at }}","VALOR":"={{ $('Edit Fields').item.json.ValorCompra }}","PLANO":"PLANO PRO"},"matchingColumns":[],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRODUTO","displayName":"PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLANO","displayName":"PLANO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"5e702082-74c2-4ca4-9c02-0e02337963fd","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1560,1220],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"tableName":{"__rl":true,"value":"User","mode":"list","cachedResultName":"User"},"additionalFields":{},"options":{}},"id":"0a81d706-08db-43d9-a69f-0cacb803740a","name":"Postgres Trigger","type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[500,1880],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"POSTGRESS TYPEBOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"99808e0a-c218-4bc8-8006-13a04ffec8b4","name":"Email","value":"={{ $json.payload.email }}","type":"string"}]},"options":{}},"id":"16538290-9947-469a-9bca-ae7d9a5eee0b","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,1880]},{"parameters":{"documentId":{"__rl":true,"value":"1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0","mode":"list","cachedResultName":"COMPRAS TYPEBOT PRO - KIRVANO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":886512728,"mode":"list","cachedResultName":"COMPRA LASTLINK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit#gid=886512728"},"options":{}},"id":"03ecd816-7a15-4fe1-9172-c231341b0648","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,1880],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"User","mode":"list","cachedResultName":"User"},"where":{"values":[{"column":"email","value":"={{ $json.EMAIL }}"}]},"options":{}},"id":"dfe17774-5144-4f58-9320-f7e4150b3eaa","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1460,1820],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"POSTGRESS TYPEBOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"3f67a1c2-0d23-4c51-8f07-235ea4ebde99","name":"emailtypebot","value":"={{ $json.email }}","type":"string"},{"id":"10d7a663-edbf-4488-a03b-4b92c59ca73b","name":"idtypebotuser","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"e4421e3a-62e3-481b-9584-73e1b377403a","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1660,1820]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"MemberInWorkspace","mode":"list","cachedResultName":"MemberInWorkspace"},"where":{"values":[{"column":"userId","value":"={{ $json.idtypebotuser }}"}]},"options":{}},"id":"b974257d-be95-4d17-bd5b-d703f990a8a7","name":"Postgres2","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1880,1820],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"POSTGRESS TYPEBOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"362b9880-f44d-40cc-bef0-bd2ad4378f26","name":"userid","value":"={{ $json.userId }}","type":"string"},{"id":"3ff48612-439a-48a2-a4bd-2831f7d95c49","name":"workspaceid","value":"={{ $json.workspaceId }}","type":"string"}]},"options":{}},"id":"1e083981-20ad-48ce-9010-a06dbe8e3d53","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,1820]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"Workspace","mode":"list","cachedResultName":"Workspace"},"columns":{"mappingMode":"defineBelow","value":{"isQuarantined":false,"isSuspended":false,"isPastDue":false,"isVerified":false,"id":"={{ $json.workspaceid }}","plan":"STARTER","name":"={{ $('Google Sheets1').item.json.NOME }}","additionalChatsIndex":0,"additionalStorageIndex":0,"customChatsLimit":0,"customSeatsLimit":0,"customStorageLimit":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"icon","displayName":"icon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"plan","displayName":"plan","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":false,"options":[{"name":"FREE","value":"FREE"},{"name":"STARTER","value":"STARTER"},{"name":"PRO","value":"PRO"},{"name":"LIFETIME","value":"LIFETIME"},{"name":"OFFERED","value":"OFFERED"},{"name":"CUSTOM","value":"CUSTOM"},{"name":"UNLIMITED","value":"UNLIMITED"}]},{"id":"stripeId","displayName":"stripeId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"additionalChatsIndex","displayName":"additionalChatsIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"additionalStorageIndex","displayName":"additionalStorageIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"chatsLimitFirstEmailSentAt","displayName":"chatsLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"chatsLimitSecondEmailSentAt","displayName":"chatsLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitFirstEmailSentAt","displayName":"storageLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitSecondEmailSentAt","displayName":"storageLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"customChatsLimit","displayName":"customChatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customSeatsLimit","displayName":"customSeatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customStorageLimit","displayName":"customStorageLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"isQuarantined","displayName":"isQuarantined","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isSuspended","displayName":"isSuspended","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isPastDue","displayName":"isPastDue","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isVerified","displayName":"isVerified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false}]},"options":{}},"id":"d7af0196-77de-4683-8f6c-0f97da652e6d","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2300,1820],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"POSTGRESS TYPEBOT"}}},{"parameters":{"content":"## LIBERAÇÃO PLANO STARTER","height":426.53626798229885,"width":2079.535546471912},"id":"42dd4abb-bf35-4f35-8cb4-067e7925ab10","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,1800]},{"parameters":{"assignments":{"assignments":[{"id":"3f67a1c2-0d23-4c51-8f07-235ea4ebde99","name":"emailtypebot","value":"={{ $json.email }}","type":"string"},{"id":"10d7a663-edbf-4488-a03b-4b92c59ca73b","name":"idtypebotuser","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"a97e35ef-4f36-477d-8364-c85dfb3b0f76","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,1400]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"MemberInWorkspace","mode":"list","cachedResultName":"MemberInWorkspace"},"where":{"values":[{"column":"userId","value":"={{ $json.idtypebotuser }}"}]},"options":{}},"id":"bfc481c4-01ed-4173-aa85-75e498d14b71","name":"Postgres4","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1440,1400],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"POSTGRESS TYPEBOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"362b9880-f44d-40cc-bef0-bd2ad4378f26","name":"userid","value":"={{ $json.userId }}","type":"string"},{"id":"3ff48612-439a-48a2-a4bd-2831f7d95c49","name":"workspaceid","value":"={{ $json.workspaceId }}","type":"string"}]},"options":{}},"id":"7a7a8da8-9e83-4bb9-9d0f-d57af711b869","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,1400]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"Workspace","mode":"list","cachedResultName":"Workspace"},"columns":{"mappingMode":"defineBelow","value":{"isQuarantined":false,"isSuspended":false,"isPastDue":false,"isVerified":false,"id":"={{ $json.workspaceid }}","plan":"FREE","name":"=","additionalChatsIndex":0,"additionalStorageIndex":0,"customChatsLimit":0,"customSeatsLimit":0,"customStorageLimit":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"icon","displayName":"icon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"plan","displayName":"plan","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":false,"options":[{"name":"FREE","value":"FREE"},{"name":"STARTER","value":"STARTER"},{"name":"PRO","value":"PRO"},{"name":"LIFETIME","value":"LIFETIME"},{"name":"OFFERED","value":"OFFERED"},{"name":"CUSTOM","value":"CUSTOM"},{"name":"UNLIMITED","value":"UNLIMITED"}]},{"id":"stripeId","displayName":"stripeId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"additionalChatsIndex","displayName":"additionalChatsIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"additionalStorageIndex","displayName":"additionalStorageIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"chatsLimitFirstEmailSentAt","displayName":"chatsLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"chatsLimitSecondEmailSentAt","displayName":"chatsLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitFirstEmailSentAt","displayName":"storageLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitSecondEmailSentAt","displayName":"storageLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"customChatsLimit","displayName":"customChatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customSeatsLimit","displayName":"customSeatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customStorageLimit","displayName":"customStorageLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"isQuarantined","displayName":"isQuarantined","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isSuspended","displayName":"isSuspended","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isPastDue","displayName":"isPastDue","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isVerified","displayName":"isVerified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2e046595-c5d8-41f7-8552-ea858d89d2bb","name":"Postgres5","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1860,1400],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"POSTGRESS TYPEBOT"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"User","mode":"list","cachedResultName":"User"},"where":{"values":[{"column":"email","value":"={{ $json.body.Data.Buyer.Email }}"}]},"options":{}},"id":"5e31db8a-4b38-4408-9efe-40046e78acf7","name":"Postgres3","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[980,1400],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"POSTGRESS TYPEBOT"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0","mode":"list","cachedResultName":"COMPRAS TYPEBOT PRO - KIRVANO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":886512728,"mode":"list","cachedResultName":"COMPRA LASTLINK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit#gid=886512728"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Webhook').item.json.body.Data.Buyer.Email }}","STATUS":"={{ $('Webhook').item.json.body.Event }}","CANCELAMENTO":"={{ $('Webhook').item.json.body.CreatedAt }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRODUTO","displayName":"PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLANO","displayName":"PLANO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CANCELAMENTO","displayName":"CANCELAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"32df38fe-1232-411f-bd3c-712fadef88e0","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2100,1400],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0","mode":"list","cachedResultName":"COMPRAS TYPEBOT PRO - KIRVANO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":886512728,"mode":"list","cachedResultName":"COMPRA LASTLINK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MVyyPehJl8TkEZ_CwbW_hx_wJLHWSFr7EiZQj2_pFb0/edit#gid=886512728"},"columns":{"mappingMode":"defineBelow","value":{"NOME":"={{ $('Edit Fields').item.json.nome }}","PRODUTO":"={{ $('Edit Fields').item.json.produto }}","TELEFONE":"={{ $('Edit Fields').item.json.whatsapp }}","EMAIL":"={{ $('Edit Fields').item.json.email }}","STATUS":"=COMPRA OK","DATA":"={{ $json.DataCompra }}","VALOR":"={{ $('Edit Fields').item.json.ValorCompra }}","PLANO":"PLANO STARTER - MENSAL"},"matchingColumns":[],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRODUTO","displayName":"PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PLANO","displayName":"PLANO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"df9ea319-ed2a-41e0-ad82-abab797f3843","name":"Google Sheets4","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1560,1040],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"https://evolutionapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Edit Fields').item.json.whatsapp }}\",\n    \"text\": \"Olá, {{ $('Edit Fields').item.json[\"nome\"] }}.\\n\\n🎊 Parabéns você acaba de comprar o *{{ $('Edit Fields').item.json[\"produto\"] }}* No plano MENSAL.\\n\\ntodos os dados de acesso foram enviados para o seu e-mail: *{{ $json.EMAIL }}*\\n\\nJa vou aproveitar e deixar aqui o link onde deve criar sua conta *com o mesmo email que usou na compra* e logo após ja atualizo seu plano\\nAcesse:{{ $('Edit Fields').item.json.SiteCadatro }}\\n\\nJa vou liberar seu bonus exclusivo, acesso a nossa comunidade no Telegram https://t.me/brasiltypebot\\n\\nTe espero lá!\"\n}","options":{}},"id":"b92343a5-f491-4a65-b4da-0b005e070f46","name":"Evolution API1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,680]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"User","mode":"list","cachedResultName":"User"},"where":{"values":[{"column":"email","value":"={{ $json.EMAIL }}"}]},"options":{}},"id":"4cc9a204-4282-41c0-b0c6-9968c89bd686","name":"Postgres9","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1460,2020],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"POSTGRESS TYPEBOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"3f67a1c2-0d23-4c51-8f07-235ea4ebde99","name":"emailtypebot","value":"={{ $json.email }}","type":"string"},{"id":"10d7a663-edbf-4488-a03b-4b92c59ca73b","name":"idtypebotuser","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"b1c0c19c-5fdb-42c9-9d14-2eb2a7f50536","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1660,2020]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"MemberInWorkspace","mode":"list","cachedResultName":"MemberInWorkspace"},"where":{"values":[{"column":"userId","value":"={{ $json.idtypebotuser }}"}]},"options":{}},"id":"10ecf9ac-e1fb-40cb-baf4-05bdbf01e838","name":"Postgres10","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1880,2020],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"POSTGRESS TYPEBOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"362b9880-f44d-40cc-bef0-bd2ad4378f26","name":"userid","value":"={{ $json.userId }}","type":"string"},{"id":"3ff48612-439a-48a2-a4bd-2831f7d95c49","name":"workspaceid","value":"={{ $json.workspaceId }}","type":"string"}]},"options":{}},"id":"a326aa0c-b4ac-4e3f-94d5-ebdaf43234f5","name":"Edit Fields10","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,2020]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"Workspace","mode":"list","cachedResultName":"Workspace"},"columns":{"mappingMode":"defineBelow","value":{"isQuarantined":false,"isSuspended":false,"isPastDue":false,"isVerified":false,"id":"={{ $json.workspaceid }}","plan":"PRO","name":"={{ $('Google Sheets1').item.json.NOME }}","additionalChatsIndex":0,"additionalStorageIndex":0,"customChatsLimit":0,"customSeatsLimit":0,"customStorageLimit":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"icon","displayName":"icon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"plan","displayName":"plan","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":false,"options":[{"name":"FREE","value":"FREE"},{"name":"STARTER","value":"STARTER"},{"name":"PRO","value":"PRO"},{"name":"LIFETIME","value":"LIFETIME"},{"name":"OFFERED","value":"OFFERED"},{"name":"CUSTOM","value":"CUSTOM"},{"name":"UNLIMITED","value":"UNLIMITED"}]},{"id":"stripeId","displayName":"stripeId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"additionalChatsIndex","displayName":"additionalChatsIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"additionalStorageIndex","displayName":"additionalStorageIndex","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"chatsLimitFirstEmailSentAt","displayName":"chatsLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"chatsLimitSecondEmailSentAt","displayName":"chatsLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitFirstEmailSentAt","displayName":"storageLimitFirstEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"storageLimitSecondEmailSentAt","displayName":"storageLimitSecondEmailSentAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"customChatsLimit","displayName":"customChatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customSeatsLimit","displayName":"customSeatsLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"customStorageLimit","displayName":"customStorageLimit","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"isQuarantined","displayName":"isQuarantined","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isSuspended","displayName":"isSuspended","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isPastDue","displayName":"isPastDue","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"isVerified","displayName":"isVerified","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false}]},"options":{}},"id":"896695e0-0261-48ca-b71d-25ed27b13af3","name":"Postgres11","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2300,2020],"credentials":{"postgres":{"id":"JGwGzhipCw6MaPn7","name":"POSTGRESS TYPEBOT"}}},{"parameters":{"httpMethod":"POST","path":"dbd49880-d6ea-4f91-a859-c658ee70cad4","options":{}},"id":"82d31681-8f9e-4bfb-b84a-fdbf57bd9585","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[520,620],"webhookId":"dbd49880-d6ea-4f91-a859-c658ee70cad4","disabled":true},{"parameters":{"content":"## COMPRA COMPLETA","height":784.3824985777826,"width":1885.0264519610396},"id":"d8a4f8d0-b711-454b-bb6b-2f947b1089c5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,980]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.produto }}","rightValue":"PLANO STARTER","operator":{"type":"string","operation":"equals"},"id":"aa18247d-6975-4a27-aa46-55895bb85e7e"}],"combinator":"and"},"renameOutput":true,"outputKey":"PLANO STARTER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a16d1c88-1586-4760-9896-b55bc74a5878","leftValue":"={{ $json.produto }}","rightValue":"=PLANO PRO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PLANO PRO"}]},"options":{}},"id":"90bdd8f2-9190-4558-878b-d47fc519a7fe","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1220,1160]},{"parameters":{"httpMethod":"POST","path":"TYPEBOT","options":{}},"id":"b26f5e0a-e231-4f96-9fea-4d74c62c8cd8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[500,1380],"webhookId":"83d35c24-9126-41f7-97fa-366add86ed9f"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.Event }}","rightValue":"Purchase_Order_Confirmed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"COMPRA CONFIRMADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09948c9d-e419-4e59-82bd-9a042bf2992a","leftValue":"={{ $json.body.Event }}","rightValue":"Purchase_Request_Canceled","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"COMPRA CANCELADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce262b78-5cbe-434d-bff4-e9be521b5bdc","leftValue":"={{ $json.body.Event }}","rightValue":"Payment_Refund","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"COMPRA REEMBOLSADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f286b93d-e7cb-4537-8bcc-c31035e0cdf5","leftValue":"={{ $json.body.Event }}","rightValue":"Payment_Chargeback","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CHANGERBACK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c64c9f1-13a2-4c1c-ac67-1ca9796dce54","leftValue":"={{ $json.body.Event }}","rightValue":"Subscription_Expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ASSINATURA CANCELADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6244847a-7473-47e7-9c70-4af168670d6f","leftValue":"={{ $json.body.Data.Action }}","rightValue":"Remove","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REMOVE"}]},"options":{}},"id":"9c060f2f-2712-49ea-86ef-c7dc3583a4d9","name":"Switch3","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[700,1320]},{"parameters":{"content":"# EVENTOS DO WEBHOOK\n\n# Carrinho Abandonado = [Abandoned_Cart]\n\n30 minutos após a última ação na página de checkout, e a compra não foi confirmada. A captura do lead é feita a partir da página de vendas.\n\n# Pedido de Compra Cancelado = [Purchase_Request_Canceled]\n\nNão realizou o pagamento e cancelou a fatura gerada.\n\n# Pedido de Compra Expirada = [Purchase_Request_Expired]\n\nQuando a compra não foi paga após o período conforme o método de pagamento utilizado pelo comprador.\n\n# Pedido de Reembolso Expirado = [Refund_Period_Over]\n\nQuando passa o prazo de sete dias para solicitar reembolso.\n​\n​\n# Somente primeira compra.\n\n# Fatura criada = [Purchase_Request_Confirmed]\n\nQuando o cliente clicou em “comprar” e confirmamos o pedido de compra no nosso sistema. ​\n​Nesse momento, a compra foi confirmada, mas ainda não foi paga.\n\n# Compra completa = [Purchase_Order_Confirmed]\n\nMomento em que o membro teve o pagamento confirmado do produto.\n\n# Pagamento de recorrência efetuado = [Recurrent_Payment]\n\nO pagamento da fatura de renovação da assinatura foi confirmado.\n\n# Pagamento Reembolsado = [Payment_Refund]\n\nFatura foi reembolsada e a compra cancelada.​\n​Reembolso acontece quando o valor é devolvido ao cliente via sistema Lastlink\n\n# Pagamento Estornado = [Payment_Chargeback]\n\nFatura foi estornada e a compra cancelada. ​\n​Estorno ou chargeback acontece quando o cliente pede devolução do valor da compra diretamente na operadora do cartão dele.\n\n# Assinatura Cancelada = [Subscription_Canceled]\n\nO cliente cancelou a recorrência da assinatura.\n\n# Assinatura Expirada = [Subscription_Expired]\n\nQuando o pagamento da fatura de renovação não foi realizado.\n\n# Assinatura Pendente de Renovação = [Subscription_Renewal_Pending]\n\nUm novo ciclo de recorrência iniciou, e estamos aguardando um pagamento para renovar a assinatura.\n\n# Início da Liberação de Acesso = [Product_access_started]\n\nAcesso do membro ao conteúdo é liberado, seja porque houve confirmação de pagamento ou porque ele foi convidado.\n\n# Fim da Liberação de Acesso = [Product_access_ended]\n\nO acesso do membro ao conteúdo é removido, seja por falta de um período de pagamento válido ou porque o tempo do convite expirou - em caso de convidado -.","height":1589.2356590667218,"width":1493.837519687649,"color":7},"id":"d1052a48-a6f7-4ac9-ad5d-408620a1be62","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1080,460]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.EMAIL }}","rightValue":"={{ $('Edit Fields2').item.json.Email }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"EMAIL VALIDO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e558367-5f53-4a9b-8493-643388529c98","leftValue":"={{ $('Edit Fields2').item.json.Email }}","rightValue":"={{ $json.EMAIL }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}}]},"options":{}},"id":"339e937d-9c4d-459a-9e65-d1fd06435a97","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1080,1880],"alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Google Sheets1').item.json.PLANO }}","rightValue":"PLANO STARTER - MENSAL","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PLANO STARTER - MENSAL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ad322bcf-96c2-4435-851d-2fc1630ad7b2","leftValue":"={{ $('Google Sheets1').item.json.PLANO }}","rightValue":"PLANO PRO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PLANO PRO - MENSAL"}]},"options":{}},"id":"fcc3944c-52d4-4bf9-89cd-f8f85d32b51e","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1040,2040]},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Google Sheets').item.json.TELEFONE }}"},{"name":"text","value":"={{ $json.texto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,1220],"id":"e5ef6cfa-601a-452f-82d8-a1946548893d","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"23d45b03-46de-448f-9add-50ea096a193b","name":"texto","value":"=Olá, {{ $('Edit Fields').item.json[\"nome\"] }}.\n\n🎊 Parabéns você acaba de comprar o {{ $('Edit Fields').item.json[\"produto\"] }} No plano PRO\n\ntodos os dados de acesso foram enviados para o seu e-mail: *{{ $json.EMAIL }}*\n\nJá vou aproveitar e deixar aqui o link onde deve criar sua conta e logo após já atualizo seu plano\n\nAcesse:{{ $('Edit Fields').item.json.SiteCadatro }}\n\nEstou liberarando seu bônus exclusivo, acesso a nossa comunidade no Telegram https://t.me/brasiltypebot\nTe espero lá!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,1220],"id":"c8516bda-7feb-49f6-95d2-d61df882decb","name":"Edit Fields7"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Google Sheets4').item.json.TELEFONE }}"},{"name":"text","value":"={{ $json.texto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,1040],"id":"29ecf90f-8e16-4415-b104-89d6b248ae68","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"23d45b03-46de-448f-9add-50ea096a193b","name":"texto","value":"=Olá, {{ $('Edit Fields').item.json[\"nome\"] }}.\n\n🎊 Parabéns você acaba de comprar o {{ $('Edit Fields').item.json[\"produto\"] }} No plano PRO\n\ntodos os dados de acesso foram enviados para o seu e-mail: *{{ $json.EMAIL }}*\n\nJá vou aproveitar e deixar aqui o link onde deve criar sua conta e logo após já atualizo seu plano\n\nAcesse:{{ $('Edit Fields').item.json.SiteCadatro }}\n\nEstou liberarando seu bônus exclusivo, acesso a nossa comunidade no Telegram https://t.me/brasiltypebot\nTe espero lá!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,1040],"id":"7c2c64db-60f4-4693-9c47-e63a886d344f","name":"Edit Fields8"}],"connections":{"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If":{"main":[[{"node":"MSG 1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Informações":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Postgres Trigger":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Postgres2","type":"main","index":0}]]},"Postgres2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Postgres4","type":"main","index":0}]]},"Postgres4":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Postgres5","type":"main","index":0}]]},"Postgres3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Postgres5":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Postgres9":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Postgres10","type":"main","index":0}]]},"Postgres10":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Postgres11","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Informações","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Google Sheets4","type":"main","index":0}],[{"node":"Google Sheets","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Postgres3","type":"main","index":0}],[{"node":"Postgres3","type":"main","index":0}],[{"node":"Postgres3","type":"main","index":0}],[{"node":"Postgres3","type":"main","index":0}],[{"node":"Postgres3","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Postgres","type":"main","index":0}],[{"node":"Postgres9","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"041696b0-06d6-452c-91d5-0b648d0cb696","triggerCount":2,"tags":[{"createdAt":"2024-11-01T22:32:03.911Z","updatedAt":"2024-11-01T22:32:03.911Z","id":"7WN0Yb5ttq3waHPE","name":"TYPEBOT PRO"}]}