lead20-ope-salinas-jsOLZzrMSGPn64kA.json
{"updatedAt":"2025-12-03T17:27:05.138Z","createdAt":"2025-11-28T21:35:46.964Z","id":"jsOLZzrMSGPn64kA","name":"LEAD20-OPE-SALINAS","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"LEAD20-OP-SALINAS","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1424,1360],"id":"5754af50-38b3-49d7-915e-5e88b843161a","name":"Webhook1","webhookId":"d57dadc6-62a2-49d5-a719-42f8e18d2c84"},{"parameters":{"content":"## CHECKLIST\nCHECAR WEBHOOK\nCHECAR ID GRUPO\nCHECAR NTFY","height":176,"width":448},"type":"n8n-nodes-base.stickyNote","position":[-1232,1632],"typeVersion":1,"id":"94b40e06-4443-4be0-ba9b-bbef09ee52b6","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c213f252-cd88-41b1-a3ba-584cc094262a","leftValue":"={{ $('Webhook1').item.json.body.data.pushName }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"sem nome"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"760361aa-224e-403f-80b8-00884bb9436c","leftValue":"={{ $json.body.data.key.remoteJidAlt }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJidAlt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8afd39ad-83f2-4545-a4c1-d77e594f264f","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJid"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-768,1488],"id":"0acac7c6-9bff-4950-93a5-ece1b4012585","name":"Switch3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"739f9a84-d69e-4009-93c5-869c3a7a8092","leftValue":"={{ $('Webhook1').item.json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,1360],"id":"a1952f7b-1dd7-40b8-8c95-5878d0ea1576","name":"msg propria2"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJidAlt.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1504],"id":"95e03a36-ca7d-4719-9d6c-37ab52d7c942","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-400,1344],"id":"276fcefe-d00b-4eb8-a7af-dcdfc1f18751","name":"No Operation, do nothing5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422534407098@g.us"},{"name":"text","value":"=👤 NOME: {{ $('buscar lead').item.json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $('buscar lead').item.json.NUMERO }}\n⏰ DATA/HORA: {{ $('buscar lead').item.json['DATA/HORA'] }}\n\nOBS: Respeite a sua vez para capturar o lead\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,1408],"id":"cc5b957c-0c61-4fe2-90cf-f691f7027a48","name":"HTTP Request5","retryOnFail":false,"waitBetweenTries":1000},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.NUMERO }}"},{"name":"text","value":"=Acabei de encaminhar seu contato para um dos nossos consultores! Em instantes ele entrará em contato com você."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,1424],"id":"f49f9f24-a56b-43fc-aaef-7d6b55234020","name":"HTTP Request6","retryOnFail":true,"waitBetweenTries":4000,"onError":"continueErrorOutput"},{"parameters":{"amount":"=1"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,1408],"id":"2c2c6b87-4c3d-40a0-a4e7-fd9cd1c19eaa","name":"Wait3","webhookId":"1e52089f-f012-4dd7-b266-c5ffc111e73c"},{"parameters":{"content":"## ENVIA DADOS AO GRUPO DE SUPORTE","height":1040,"width":3392,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1264,1296],"typeVersion":1,"id":"926dbdab-4130-4fd0-9b3c-5b5b4cd95fb6","name":"Sticky Note7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,1712],"id":"1faa390c-cf02-49b1-b182-54bee87274ec","name":"No Operation, do nothing6"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Edit Fields6').item.json.NUMERO }}","row_number":0,"BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1728,1408],"id":"7bed0b78-4beb-492a-b663-b644f7b6b8c2","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","row_number":0,"BOAS VINDAS":"FALHA AO ENVIAR"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1312,1632],"id":"dde1c297-d4e7-4d15-a3d0-e8a99b15b36b","name":"Update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a4d295e-9ba8-412e-bb57-5e157595c8f6","name":"NUMERO","value":"={{ $('buscar lead').item.json.NUMERO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1424],"id":"c7fa236e-1f26-4b3f-aeda-72125c33a8e4","name":"Edit Fields6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"074be921-161b-485b-80df-1c8e8511f2dd","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"NOVO LEAD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9bfcd8a1-ce81-4cd8-b786-d3560007ed7b","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JA FOI DIRECIONADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b06466d1-d8ea-48db-99de-5779af9b1f18","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"LEAD SALVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LEAD JA SALVO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[464,1552],"id":"35c0a26f-8adf-43ab-95ad-d45e6c02badd","name":"Switch4"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5521975342163@s.whatsapp.net"},{"name":"text","value":"=📊 RELATÓRIO DIÁRIO – SALINAS\n\n📅 Data do relatório:\n{{ new Date().toLocaleDateString(\"pt-BR\") }}\n\n📈 Total de leads processados hoje:\n🔹 {{ $json.count_NUMERO }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,1968],"id":"4a1a4c55-936b-452a-9237-1c18cf16e46d","name":"HTTP Request"},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-928,1984],"id":"af7d3e8a-9a0f-4f69-aed3-adb49009a781","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d47ecbe-b731-4d75-a5d0-04ec1f797bcb","leftValue":"={{ $json['DATA/HORA'].split(',')[0].trim() }}","rightValue":"={{ new Date().toLocaleDateString(\"pt-BR\") }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,1984],"id":"0d06caa7-df67-42f0-a799-bc73a1ceb8f0","name":"If"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"NUMERO"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-544,1968],"id":"2249ae6a-6859-4f8b-8a7c-4cc8d24b1f97","name":"Summarize"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-544,2128],"id":"2f854ec8-6390-4767-b348-445ad591b321","name":"No Operation, do nothing1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":23,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1152,1984],"id":"65099230-3353-4720-8572-9344909f5707","name":"Schedule Trigger"},{"parameters":{"content":"## ENVIA RELATORIO\n**ENVIA QUANTIDADE DE LEADS RECEBIDOS","height":416,"width":1152,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1232,1888],"typeVersion":1,"id":"1a20a482-44a8-4e85-bfe6-286814bac0b1","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJid.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1680],"id":"07ae97aa-3d86-4399-8598-79227fbf79eb","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","NOME":"={{ $json.NOME }}","DATA/HORA":"={{ $json.DATA }}"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,1568],"id":"1ac4e063-963f-4a4a-9acf-9728aa9badee","name":"criar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"filtersUI":{"values":[{"lookupColumn":"NUMERO","lookupValue":"={{ $json.NUMERO }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,1568],"id":"a83b4a39-b591-4c5a-8065-e6b9502b3a2d","name":"buscar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","BOAS VINDAS":"LEAD SALVO"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,1424],"id":"acd0f82a-d388-4cbd-9e2c-93dd48036c5c","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE-SALINAS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422534407098@g.us"},{"name":"text","value":"=👤 NOME: {{ $json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $json.NUMERO }}\n⏰ DATA/HORA: {{ $json['DATA/HORA'] }}\n\nOBS: Respeite a sua vez para capturar o lead\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,2096],"id":"f9817d2c-eb38-46d3-af13-d6bcd87967cc","name":"HTTP Request7","retryOnFail":false,"waitBetweenTries":1000},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"filtersUI":{"values":[{"lookupColumn":"BOAS VINDAS","lookupValue":"FALHA AO ENVIAR"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,2080],"id":"d2e979ec-f918-49f4-bbc1-7ced3b20b3a6","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,2080],"id":"6eff1135-56dc-4cbc-b04d-419b841f755a","name":"Loop Over Items"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1888,2096],"id":"148424f6-6689-4f75-a548-da981c5c8230","name":"Wait","webhookId":"0591c228-e242-4a0a-9e76-84c95807e568"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1696,2096],"id":"34bef75b-cd1f-4866-ab49-7b768a4d2f65","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[720,2080],"id":"2a47202e-dd0e-4be5-b777-25c97d7c4016","name":"When clicking ‘Execute workflow’"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[464,1792],"id":"39141075-e291-4486-9f3d-10737e2d0f23","name":"Wait1","webhookId":"4c4ac267-9f00-4cb9-a630-68a22ab36df2"}],"connections":{"Webhook1":{"main":[[{"node":"msg propria2","type":"main","index":0}]]},"msg propria2":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}],[]]},"HTTP Request6":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"Update row in sheet4","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Update row in sheet3":{"main":[[]]},"Update row in sheet4":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Get row(s) in sheet1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Summarize","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"criar lead":{"main":[[{"node":"buscar lead","type":"main","index":0}]]},"buscar lead":{"main":[[{"node":"Switch4","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request7","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"buscar lead","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[23]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"n8n.typebot.pro","user-agent":"axios/1.12.2","content-length":"8878","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"192.168.64.1","x-forwarded-host":"n8n.typebot.pro","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"239301ba036b","x-real-ip":"192.168.64.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"LEAD20-OPE-SALINAS","data":{"key":{"remoteJid":"5522998918621@s.whatsapp.net","remoteJidAlt":"5522998918621@s.whatsapp.net","fromMe":false,"id":"AC8DFF81DAB0340C48795CC377C8A039"},"pushName":"Pedro.H","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"recipientKeyHash":{"0":190,"1":96,"2":90,"3":235,"4":151,"5":57,"6":190,"7":252,"8":120,"9":53},"recipientTimestamp":1764365622},"deviceListMetadataVersion":2,"messageSecret":{"0":97,"1":193,"2":116,"3":106,"4":169,"5":116,"6":144,"7":1,"8":72,"9":141,"10":96,"11":161,"12":178,"13":243,"14":1,"15":151,"16":93,"17":83,"18":108,"19":55,"20":221,"21":9,"22":223,"23":164,"24":167,"25":91,"26":64,"27":49,"28":166,"29":39,"30":128,"31":74}},"conversation":"Sobre essa proposta"},"contextInfo":{"mentionedJid":[],"groupMentions":[],"stanzaId":"AC2DDAD90DCB98844B90E9776495E2A0","participant":"5522998918621@s.whatsapp.net","quotedMessage":{"imageMessage":{"interactiveAnnotations":[],"scanLengths":[13401,64294,31028,42825],"annotations":[],"url":"https://mmg.whatsapp.net/v/t62.7118-24/41110196_886423280408665_3063943209451148648_n.enc?ccb=11-4&oh=01_Q5Aa3AGZKF4UqSeYVwhMn8OtN-33Fiactv8GXLr4sRkO92w-Bw&oe=6957A556&_nc_sid=5e03e0&mms3=true","mimetype":"image/jpeg","fileSha256":{"0":89,"1":131,"2":31,"3":166,"4":165,"5":253,"6":133,"7":211,"8":185,"9":70,"10":76,"11":1,"12":29,"13":108,"14":124,"15":26,"16":99,"17":47,"18":245,"19":227,"20":229,"21":254,"22":122,"23":198,"24":84,"25":210,"26":190,"27":35,"28":234,"29":244,"30":61,"31":227},"fileLength":151548,"height":1600,"width":717,"mediaKey":{"0":32,"1":115,"2":47,"3":170,"4":15,"5":241,"6":8,"7":14,"8":217,"9":125,"10":141,"11":212,"12":192,"13":174,"14":76,"15":120,"16":57,"17":188,"18":96,"19":69,"20":14,"21":99,"22":137,"23":11,"24":244,"25":111,"26":194,"27":39,"28":100,"29":208,"30":237,"31":159},"fileEncSha256":{"0":201,"1":93,"2":223,"3":118,"4":67,"5":239,"6":161,"7":123,"8":66,"9":9,"10":247,"11":9,"12":58,"13":224,"14":7,"15":72,"16":44,"17":0,"18":87,"19":253,"20":11,"21":99,"22":26,"23":61,"24":112,"25":208,"26":125,"27":190,"28":124,"29":246,"30":50,"31":33},"directPath":"/v/t62.7118-24/41110196_886423280408665_3063943209451148648_n.enc?ccb=11-4&oh=01_Q5Aa3AGZKF4UqSeYVwhMn8OtN-33Fiactv8GXLr4sRkO92w-Bw&oe=6957A556&_nc_sid=5e03e0","mediaKeyTimestamp":1764773830,"jpegThumbnail":{"0":255,"1":216,"2":255,"3":224,"4":0,"5":16,"6":74,"7":70,"8":73,"9":70,"10":0,"11":1,"12":1,"13":0,"14":0,"15":1,"16":0,"17":1,"18":0,"19":0,"20":255,"21":219,"22":0,"23":132,"24":0,"25":27,"26":27,"27":27,"28":27,"29":28,"30":27,"31":30,"32":33,"33":33,"34":30,"35":42,"36":45,"37":40,"38":45,"39":42,"40":61,"41":56,"42":51,"43":51,"44":56,"45":61,"46":93,"47":66,"48":71,"49":66,"50":71,"51":66,"52":93,"53":141,"54":88,"55":103,"56":88,"57":88,"58":103,"59":88,"60":141,"61":125,"62":151,"63":123,"64":115,"65":123,"66":151,"67":125,"68":224,"69":176,"70":156,"71":156,"72":176,"73":224,"74":255,"75":217,"76":206,"77":217,"78":255,"79":255,"80":255,"81":255,"82":255,"83":255,"84":255,"85":255,"86":255,"87":255,"88":255,"89":1,"90":27,"91":27,"92":27,"93":27,"94":28,"95":27,"96":30,"97":33,"98":33,"99":30,"100":42,"101":45,"102":40,"103":45,"104":42,"105":61,"106":56,"107":51,"108":51,"109":56,"110":61,"111":93,"112":66,"113":71,"114":66,"115":71,"116":66,"117":93,"118":141,"119":88,"120":103,"121":88,"122":88,"123":103,"124":88,"125":141,"126":125,"127":151,"128":123,"129":115,"130":123,"131":151,"132":125,"133":224,"134":176,"135":156,"136":156,"137":176,"138":224,"139":255,"140":217,"141":206,"142":217,"143":255,"144":255,"145":255,"146":255,"147":255,"148":255,"149":255,"150":255,"151":255,"152":255,"153":255,"154":255,"155":194,"156":0,"157":17,"158":8,"159":0,"160":72,"161":0,"162":31,"163":3,"164":1,"165":34,"166":0,"167":2,"168":17,"169":1,"170":3,"171":17,"172":1,"173":255,"174":196,"175":0,"176":46,"177":0,"178":0,"179":2,"180":3,"181":1,"182":0,"183":0,"184":0,"185":0,"186":0,"187":0,"188":0,"189":0,"190":0,"191":0,"192":0,"193":0,"194":3,"195":4,"196":0,"197":2,"198":5,"199":1,"200":1,"201":1,"202":1,"203":1,"204":1,"205":0,"206":0,"207":0,"208":0,"209":0,"210":0,"211":0,"212":0,"213":0,"214":0,"215":0,"216":0,"217":1,"218":2,"219":0,"220":3,"221":255,"222":218,"223":0,"224":12,"225":3,"226":1,"227":0,"228":2,"229":16,"230":3,"231":16,"232":0,"233":0,"234":0,"235":204,"236":27,"237":160,"238":205,"239":26,"240":6,"241":247,"242":58,"243":199,"244":19,"245":138,"246":212,"247":154,"248":194,"249":8,"250":178,"251":189,"252":235,"253":64,"254":90,"255":81,"256":231,"257":80,"258":245,"259":70,"260":29,"261":5,"262":213,"263":59,"264":178,"265":187,"266":37,"267":76,"268":146,"269":109,"270":255,"271":196,"272":0,"273":35,"274":16,"275":0,"276":2,"277":2,"278":2,"279":3,"280":0,"281":1,"282":5,"283":1,"284":0,"285":0,"286":0,"287":0,"288":0,"289":0,"290":0,"291":1,"292":2,"293":0,"294":17,"295":3,"296":4,"297":18,"298":19,"299":33,"300":5,"301":34,"302":49,"303":65,"304":66,"305":81,"306":97,"307":255,"308":218,"309":0,"310":8,"311":1,"312":1,"313":0,"314":1,"315":63,"316":0,"317":26,"318":116,"319":43,"320":156,"321":58,"322":96,"323":126,"324":240,"325":104,"326":169,"327":253,"328":230,"329":31,"330":143,"331":57,"332":109,"333":57,"334":208,"335":157,"336":130,"337":234,"338":230,"339":86,"340":32,"341":92,"342":87,"343":110,"344":5,"345":174,"346":104,"347":11,"348":199,"349":202,"350":102,"351":85,"352":86,"353":34,"354":188,"355":6,"356":90,"357":5,"358":20,"359":73,"360":179,"361":232,"362":157,"363":56,"364":206,"365":34,"366":252,"367":72,"368":242,"369":106,"370":231,"371":56,"372":199,"373":173,"374":107,"375":54,"376":95,"377":93,"378":178,"379":50,"380":243,"381":163,"382":43,"383":84,"384":15,"385":50,"386":152,"387":185,"388":48,"389":85,"390":54,"391":118,"392":49,"393":105,"394":242,"395":117,"396":98,"397":123,"398":6,"399":29,"400":116,"401":200,"402":11,"403":147,"404":68,"405":206,"406":149,"407":83,"408":64,"409":217,"410":157,"411":92,"412":88,"413":217,"414":19,"415":89,"416":16,"417":61,"418":131,"419":14,"420":86,"421":68,"422":224,"423":195,"424":217,"425":129,"426":153,"427":131,"428":18,"429":46,"430":43,"431":146,"432":196,"433":21,"434":38,"435":47,"436":93,"437":169,"438":196,"439":167,"440":253,"441":89,"442":179,"443":141,"444":131,"445":185,"446":32,"447":129,"448":248,"449":159,"450":31,"451":151,"452":8,"453":198,"454":225,"455":200,"456":4,"457":205,"458":157,"459":69,"460":9,"461":217,"462":141,"463":238,"464":40,"465":56,"466":144,"467":58,"468":183,"469":176,"470":252,"471":142,"472":6,"473":4,"474":25,"475":217,"476":173,"477":100,"478":251,"479":6,"480":207,"481":223,"482":234,"483":32,"484":76,"485":59,"486":58,"487":248,"488":216,"489":22,"490":128,"491":84,"492":247,"493":251,"494":61,"495":254,"496":194,"497":39,"498":255,"499":196,"500":0,"501":26,"502":17,"503":0,"504":2,"505":3,"506":1,"507":1,"508":0,"509":0,"510":0,"511":0,"512":0,"513":0,"514":0,"515":0,"516":0,"517":0,"518":0,"519":0,"520":1,"521":2,"522":16,"523":33,"524":49,"525":65,"526":255,"527":218,"528":0,"529":8,"530":1,"531":2,"532":1,"533":1,"534":63,"535":0,"536":36,"537":228,"538":189,"539":19,"540":58,"541":37,"542":90,"543":205,"544":191,"545":255,"546":196,"547":0,"548":24,"549":17,"550":0,"551":3,"552":1,"553":1,"554":0,"555":0,"556":0,"557":0,"558":0,"559":0,"560":0,"561":0,"562":0,"563":0,"564":0,"565":0,"566":0,"567":1,"568":32,"569":33,"570":81,"571":255,"572":218,"573":0,"574":8,"575":1,"576":3,"577":1,"578":1,"579":63,"580":0,"581":51,"582":131,"583":81,"584":138,"585":63,"586":255,"587":217},"contextInfo":{"mentionedJid":[],"groupMentions":[],"pairedMediaType":0,"statusSourceType":0},"scansSidecar":{"0":159,"1":22,"2":20,"3":199,"4":126,"5":254,"6":222,"7":252,"8":3,"9":153,"10":72,"11":123,"12":228,"13":82,"14":198,"15":213,"16":177,"17":2,"18":186,"19":60,"20":127,"21":81,"22":61,"23":23,"24":5,"25":112,"26":165,"27":145,"28":179,"29":247,"30":240,"31":181,"32":45,"33":146,"34":108,"35":162,"36":63,"37":9,"38":137,"39":225},"midQualityFileSha256":{"0":225,"1":146,"2":42,"3":40,"4":218,"5":99,"6":79,"7":163,"8":65,"9":50,"10":81,"11":181,"12":21,"13":113,"14":246,"15":71,"16":28,"17":237,"18":45,"19":59,"20":195,"21":83,"22":43,"23":148,"24":165,"25":91,"26":138,"27":217,"28":14,"29":191,"30":73,"31":69}}},"expiration":604800,"ephemeralSettingTimestamp":1753557169,"disappearingMode":{"initiator":1,"trigger":2,"initiatedByMe":true}},"messageType":"conversation","messageTimestamp":1764773857,"instanceId":"a257ba02-d0b1-4d52-9db7-e8cd7bf6e031","source":"android"},"destination":"https://n8n.typebot.pro/webhook/LEAD20-OP-SALINAS","date_time":"2025-12-03T11:57:38.178Z","sender":"5522997597320@s.whatsapp.net","server_url":"https://whatsapi.typebot.pro","apikey":"5C4B90491609-4200-9D8C-D068115DFC68"},"webhookUrl":"https://n8n.typebot.pro/webhook/LEAD20-OP-SALINAS","executionMode":"production"}}]},"versionId":"d668fa12-fd3a-4ef6-aae9-7b85a1bba425","activeVersionId":"d668fa12-fd3a-4ef6-aae9-7b85a1bba425","triggerCount":2,"shared":[{"updatedAt":"2025-11-28T21:35:46.964Z","createdAt":"2025-11-28T21:35:46.964Z","role":"workflow:owner","workflowId":"jsOLZzrMSGPn64kA","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":{"updatedAt":"2025-12-03T17:27:05.126Z","createdAt":"2025-12-03T17:27:05.126Z","versionId":"d668fa12-fd3a-4ef6-aae9-7b85a1bba425","workflowId":"jsOLZzrMSGPn64kA","nodes":[{"parameters":{"httpMethod":"POST","path":"LEAD20-OP-SALINAS","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1424,1360],"id":"5754af50-38b3-49d7-915e-5e88b843161a","name":"Webhook1","webhookId":"d57dadc6-62a2-49d5-a719-42f8e18d2c84"},{"parameters":{"content":"## CHECKLIST\nCHECAR WEBHOOK\nCHECAR ID GRUPO\nCHECAR NTFY","height":176,"width":448},"type":"n8n-nodes-base.stickyNote","position":[-1232,1632],"typeVersion":1,"id":"94b40e06-4443-4be0-ba9b-bbef09ee52b6","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c213f252-cd88-41b1-a3ba-584cc094262a","leftValue":"={{ $('Webhook1').item.json.body.data.pushName }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"sem nome"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"760361aa-224e-403f-80b8-00884bb9436c","leftValue":"={{ $json.body.data.key.remoteJidAlt }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJidAlt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8afd39ad-83f2-4545-a4c1-d77e594f264f","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJid"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-768,1488],"id":"0acac7c6-9bff-4950-93a5-ece1b4012585","name":"Switch3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"739f9a84-d69e-4009-93c5-869c3a7a8092","leftValue":"={{ $('Webhook1').item.json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,1360],"id":"a1952f7b-1dd7-40b8-8c95-5878d0ea1576","name":"msg propria2"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJidAlt.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1504],"id":"95e03a36-ca7d-4719-9d6c-37ab52d7c942","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-400,1344],"id":"276fcefe-d00b-4eb8-a7af-dcdfc1f18751","name":"No Operation, do nothing5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422534407098@g.us"},{"name":"text","value":"=👤 NOME: {{ $('buscar lead').item.json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $('buscar lead').item.json.NUMERO }}\n⏰ DATA/HORA: {{ $('buscar lead').item.json['DATA/HORA'] }}\n\nOBS: Respeite a sua vez para capturar o lead\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,1408],"id":"cc5b957c-0c61-4fe2-90cf-f691f7027a48","name":"HTTP Request5","retryOnFail":false,"waitBetweenTries":1000},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.NUMERO }}"},{"name":"text","value":"=Acabei de encaminhar seu contato para um dos nossos consultores! Em instantes ele entrará em contato com você."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,1424],"id":"f49f9f24-a56b-43fc-aaef-7d6b55234020","name":"HTTP Request6","retryOnFail":true,"waitBetweenTries":4000,"onError":"continueErrorOutput"},{"parameters":{"amount":"=1"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,1408],"id":"2c2c6b87-4c3d-40a0-a4e7-fd9cd1c19eaa","name":"Wait3","webhookId":"1e52089f-f012-4dd7-b266-c5ffc111e73c"},{"parameters":{"content":"## ENVIA DADOS AO GRUPO DE SUPORTE","height":1040,"width":3392,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1264,1296],"typeVersion":1,"id":"926dbdab-4130-4fd0-9b3c-5b5b4cd95fb6","name":"Sticky Note7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,1712],"id":"1faa390c-cf02-49b1-b182-54bee87274ec","name":"No Operation, do nothing6"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Edit Fields6').item.json.NUMERO }}","row_number":0,"BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1728,1408],"id":"7bed0b78-4beb-492a-b663-b644f7b6b8c2","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","row_number":0,"BOAS VINDAS":"FALHA AO ENVIAR"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1312,1632],"id":"dde1c297-d4e7-4d15-a3d0-e8a99b15b36b","name":"Update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a4d295e-9ba8-412e-bb57-5e157595c8f6","name":"NUMERO","value":"={{ $('buscar lead').item.json.NUMERO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1424],"id":"c7fa236e-1f26-4b3f-aeda-72125c33a8e4","name":"Edit Fields6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"074be921-161b-485b-80df-1c8e8511f2dd","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"NOVO LEAD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9bfcd8a1-ce81-4cd8-b786-d3560007ed7b","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JA FOI DIRECIONADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b06466d1-d8ea-48db-99de-5779af9b1f18","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"LEAD SALVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LEAD JA SALVO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[464,1552],"id":"35c0a26f-8adf-43ab-95ad-d45e6c02badd","name":"Switch4"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5521975342163@s.whatsapp.net"},{"name":"text","value":"=📊 RELATÓRIO DIÁRIO – SALINAS\n\n📅 Data do relatório:\n{{ new Date().toLocaleDateString(\"pt-BR\") }}\n\n📈 Total de leads processados hoje:\n🔹 {{ $json.count_NUMERO }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,1968],"id":"4a1a4c55-936b-452a-9237-1c18cf16e46d","name":"HTTP Request"},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-928,1984],"id":"af7d3e8a-9a0f-4f69-aed3-adb49009a781","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d47ecbe-b731-4d75-a5d0-04ec1f797bcb","leftValue":"={{ $json['DATA/HORA'].split(',')[0].trim() }}","rightValue":"={{ new Date().toLocaleDateString(\"pt-BR\") }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,1984],"id":"0d06caa7-df67-42f0-a799-bc73a1ceb8f0","name":"If"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"NUMERO"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-544,1968],"id":"2249ae6a-6859-4f8b-8a7c-4cc8d24b1f97","name":"Summarize"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-544,2128],"id":"2f854ec8-6390-4767-b348-445ad591b321","name":"No Operation, do nothing1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":23,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1152,1984],"id":"65099230-3353-4720-8572-9344909f5707","name":"Schedule Trigger"},{"parameters":{"content":"## ENVIA RELATORIO\n**ENVIA QUANTIDADE DE LEADS RECEBIDOS","height":416,"width":1152,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1232,1888],"typeVersion":1,"id":"1a20a482-44a8-4e85-bfe6-286814bac0b1","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJid.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1680],"id":"07ae97aa-3d86-4399-8598-79227fbf79eb","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","NOME":"={{ $json.NOME }}","DATA/HORA":"={{ $json.DATA }}"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,1568],"id":"1ac4e063-963f-4a4a-9acf-9728aa9badee","name":"criar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"filtersUI":{"values":[{"lookupColumn":"NUMERO","lookupValue":"={{ $json.NUMERO }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,1568],"id":"a83b4a39-b591-4c5a-8065-e6b9502b3a2d","name":"buscar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","BOAS VINDAS":"LEAD SALVO"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,1424],"id":"acd0f82a-d388-4cbd-9e2c-93dd48036c5c","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE-SALINAS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422534407098@g.us"},{"name":"text","value":"=👤 NOME: {{ $json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $json.NUMERO }}\n⏰ DATA/HORA: {{ $json['DATA/HORA'] }}\n\nOBS: Respeite a sua vez para capturar o lead\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,2096],"id":"f9817d2c-eb38-46d3-af13-d6bcd87967cc","name":"HTTP Request7","retryOnFail":false,"waitBetweenTries":1000},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"filtersUI":{"values":[{"lookupColumn":"BOAS VINDAS","lookupValue":"FALHA AO ENVIAR"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,2080],"id":"d2e979ec-f918-49f4-bbc1-7ced3b20b3a6","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,2080],"id":"6eff1135-56dc-4cbc-b04d-419b841f755a","name":"Loop Over Items"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1888,2096],"id":"148424f6-6689-4f75-a548-da981c5c8230","name":"Wait","webhookId":"0591c228-e242-4a0a-9e76-84c95807e568"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1696,2096],"id":"34bef75b-cd1f-4866-ab49-7b768a4d2f65","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[720,2080],"id":"2a47202e-dd0e-4be5-b777-25c97d7c4016","name":"When clicking ‘Execute workflow’"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[464,1792],"id":"39141075-e291-4486-9f3d-10737e2d0f23","name":"Wait1","webhookId":"4c4ac267-9f00-4cb9-a630-68a22ab36df2"}],"connections":{"Webhook1":{"main":[[{"node":"msg propria2","type":"main","index":0}]]},"msg propria2":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}],[]]},"HTTP Request6":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"Update row in sheet4","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Update row in sheet3":{"main":[[]]},"Update row in sheet4":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Get row(s) in sheet1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Summarize","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"criar lead":{"main":[[{"node":"buscar lead","type":"main","index":0}]]},"buscar lead":{"main":[[{"node":"Switch4","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request7","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"buscar lead","type":"main","index":0}]]}},"authors":"jamil abrao sobrinho","name":null,"description":null},"tags":[]}