lead-2.0-op1---confort-N4qrDr4RsuGl9A84.json
{"createdAt":"2025-11-26T19:50:50.478Z","updatedAt":"2025-11-27T23:06:11.097Z","id":"N4qrDr4RsuGl9A84","name":"LEAD 2.0 OP1 - CONFORT","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NOME":"={{ $json.NOME }}","NUMERO":"={{ $json.telefone }}","DATA/HORA":"={{ $json.DATA }}","LID":"={{ $json.LID }}"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,-496],"id":"572f0c96-91e1-4ea4-a783-8298b77bcd89","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/OPMATHEUS-ASGARD","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363288601507294@g.us"},{"name":"text","value":"={{ $json.botao.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,-336],"id":"d86c5a2e-4cf0-419e-971b-a9d7fd4d3e04","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"a8a466c4-6cd7-4b40-9071-aecadb9fe926","name":"botao.mensagem","value":"=👤 NOME: {{ $('Append or update row in sheet').item.json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $('Code').item.json.telefone }}\n⏰ DATA/HORA: {{ $('Code').item.json.DATA }}\n🆔 LID: https://wa.me/{{ $('Code').item.json.telefone }}\n\nOBS: reaja com o seu emoji e respeite um máximo de 5 Leads por vez","type":"string"}]},"options":{}},"id":"96bbc266-7632-474a-ad54-42b76e95a5a5","name":"DADOS BOTAO14","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1120,-336]},{"parameters":{"httpMethod":"POST","path":"LEAD20-OP1-CONFORT","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1184,864],"id":"5c6e0515-d3d3-490e-a11c-81e06f0bc430","name":"Webhook1","webhookId":"0a1fd1b1-8499-4c88-b1f3-44932984edaf"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/OPMATHEUS-ASGARD","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Code').item.json.telefone }}"},{"name":"text","value":"={{ $json.botao.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,-592],"id":"7854b958-7e25-4bc4-aef1-839b7951cd7b","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"a8a466c4-6cd7-4b40-9071-aecadb9fe926","name":"botao.mensagem","value":"=Opa! Tudo bem? Acabei de encaminhar seu contato para um dos nossos consultores! Em instantes ele entrará em contato com você.","type":"string"}]},"options":{}},"id":"1e5e9ee2-f4a6-4ec9-a49b-00c06f385e1c","name":"DADOS BOTAO","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1008,-592]},{"parameters":{"jsCode":"return items.map(item => {\n  let lid = (item.json.LID || \"\").toString().trim();\n  let numero = (item.json.NUMERO || \"\").toString().trim();\n  let remotejidalt = (item.json.REMOTEJIDALT || \"\").toString().trim();\n\n  // Remover tudo que não for número\n  lid = lid.replace(/\\D/g, \"\");\n  numero = numero.replace(/\\D/g, \"\");\n  remotejidalt = numero.replace(/\\D/g, \"\");\n\n  // Regex para pegar telefone iniciando em 55 (12 a 15 dígitos)\n  const regex = /55\\d{10,13}/;\n\n  let telefone = null;\n\n  if (regex.test(lid)) {\n    telefone = lid.match(regex)[0];\n  } else if (regex.test(numero)) {\n    telefone = numero.match(regex)[0];\n  }\n\n  item.json.telefone = telefone;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-496],"id":"861eedc9-82ad-47b6-a727-5f2ee4c98542","name":"Code"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[912,-336],"id":"ee93fcd2-7a7a-4c13-b162-23997038d643","name":"Wait1","webhookId":"c2d3b7d8-8110-448b-9548-9ebfd0f46c64"},{"parameters":{"content":"## RECEBE HOOK, TRATA E SALVA DADOS","height":592,"width":1392,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-576,-656],"typeVersion":1,"id":"a38ce803-6b52-4d96-86d4-f8b1696eef9c","name":"Sticky Note"},{"parameters":{"content":"## BOAS VINDAS AO LEAD","height":240,"width":592},"type":"n8n-nodes-base.stickyNote","position":[832,-656],"typeVersion":1,"id":"79a52746-5c1e-44de-af3d-95bfd2276ad7","name":"Sticky Note1"},{"parameters":{"content":"## ENVIA DADOS AO GRUPO DE SUPORTE","height":288,"width":704,"color":4},"type":"n8n-nodes-base.stickyNote","position":[832,-400],"typeVersion":1,"id":"ee1d4772-711b-42a0-b61b-58ca20147bef","name":"Sticky Note2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"739f9a84-d69e-4009-93c5-869c3a7a8092","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-448],"id":"ae7e4d40-3271-4314-8c9d-dbfc2faf279f","name":"msg propria"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-320,-592],"id":"71a1ed14-3476-43a1-abda-756983053a21","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"836e203a-48e3-4be1-be95-7d59e6bd3220","name":"NOME","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"4d0fb4de-670b-4971-b14e-229940a1ca6a","name":"REMOTEJIDALT","value":"={{ $json.body.data.key.remoteJidAlt.split('@')[0] }}","type":"string"},{"id":"59b418e8-0f42-41b3-8271-901cf38f24d3","name":"LID","value":"={{ $json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"9e04b168-079c-4c6d-a1c7-665b37d32b2b","name":"DATA","value":"={{ new Date($json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,64],"id":"6575b7ce-20c1-4d67-a2cb-f7645c4d279a","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":586715170,"mode":"list","cachedResultName":"TODOS LEADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=586715170"},"columns":{"mappingMode":"defineBelow","value":{"NOME":"={{ $json.NOME }}","WHATSAPP":"={{ $json.telefone }}","DATA/HORA":"={{ $json.DATA }}"},"matchingColumns":["WHATSAPP"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,64],"id":"45510402-6cd2-4061-a4ea-57aa7e07180b","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"jsCode":"return items.map(item => {\n  let lid = (item.json.LID || \"\").toString().trim();\n  let numero = (item.json.NUMERO || \"\").toString().trim();\n  let remotejidalt = (item.json.REMOTEJIDALT || \"\").toString().trim();\n\n  // Remover tudo que não for número\n  lid = lid.replace(/\\D/g, \"\");\n  numero = numero.replace(/\\D/g, \"\");\n  remotejidalt = numero.replace(/\\D/g, \"\");\n\n  // Regex para pegar telefone iniciando em 55 (12 a 15 dígitos)\n  const regex = /55\\d{10,13}/;\n\n  let telefone = null;\n\n  if (regex.test(lid)) {\n    telefone = lid.match(regex)[0];\n  } else if (regex.test(numero)) {\n    telefone = numero.match(regex)[0];\n  }\n\n  item.json.telefone = telefone;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,64],"id":"6f2e896e-ffee-4b03-8bc0-eb6fde3e69f1","name":"Code1"},{"parameters":{"content":"## SALVAR EM TODOS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":304,"width":992},"type":"n8n-nodes-base.stickyNote","position":[-576,-48],"typeVersion":1,"id":"42260cad-e211-4cf6-a550-22412b120e75","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"17cf4291-5388-41a2-bb02-a9576a4e4532","name":"msg","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-432],"id":"a1d8b539-f655-435a-9842-cfe0185753c4","name":"msg"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msg }}","rightValue":"=Olá! Tenho interesse e queria mais informações, por favor.","operator":{"type":"string","operation":"equals"},"id":"2635fe69-63e2-4906-9cdf-d9893e9c3929"}],"combinator":"and"},"renameOutput":true,"outputKey":"GATILHO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10471bd8-915c-4127-bff6-bbf68ccd62c0","leftValue":"={{ $json.msg }}","rightValue":"Olá! Tenho interesse e queria mais informações, por favor.","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SEM GATILHO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-64,-432],"id":"d25f0578-ec81-4cd3-bed1-c5f218abe59d","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"836e203a-48e3-4be1-be95-7d59e6bd3220","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"dde3bd2e-0fd0-4365-a1d9-138eeb401e1f","name":"NUMERO","value":"={{ $('Webhook1').item.json.body.data.key.remoteJidAlt.split('@')[0] }}","type":"string"},{"id":"69d5b990-2a4f-42af-9d10-dc8908ad6e81","name":"LID","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"9e04b168-079c-4c6d-a1c7-665b37d32b2b","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-496],"id":"92acd4e4-5547-49e8-b977-68b5115469ee","name":"dados"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[256,-304],"id":"b1a2371f-5826-4666-bad4-4a7ddd7bef61","name":"No Operation, do nothing2"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363288601507294@g.us"},{"name":"text","value":"=👤 NOME: {{ $('Get row(s) in sheet2').item.json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $('dados3').item.json.NUMERO }}\n⏰ DATA/HORA: {{ $('dados3').item.json.DATA }}\n\nOBS: reaja com o seu emoji e respeite um máximo de 5 Leads por vez"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,736],"id":"b23b868a-f366-4203-aa3e-154dffbef58c","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.NUMERO }}"},{"name":"text","value":"=Acabei de encaminhar seu contato para um dos nossos consultores! Em instantes ele entrará em contato com você."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,752],"id":"83550e75-19a1-46a4-8dfb-80a2b02c829e","name":"HTTP Request3","retryOnFail":false,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1392,736],"id":"e2670bc7-26fc-4313-97ba-485ac4dd8a22","name":"Wait","webhookId":"c2d3b7d8-8110-448b-9548-9ebfd0f46c64"},{"parameters":{"content":"## RECEBE HOOK, TRATA E SALVA DADOS","height":592,"width":1392,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-576,672],"typeVersion":1,"id":"50c565de-98a3-4435-8df8-5176b2c960ba","name":"Sticky Note4"},{"parameters":{"content":"## ENVIA DADOS AO GRUPO DE SUPORTE","height":592,"width":1456,"color":4},"type":"n8n-nodes-base.stickyNote","position":[832,672],"typeVersion":1,"id":"e987a8b2-6852-4688-9fd0-ba350cac6b65","name":"Sticky Note6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"739f9a84-d69e-4009-93c5-869c3a7a8092","leftValue":"={{ $('Webhook1').item.json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,880],"id":"1c651d32-7ede-48d4-ba4b-08a457428425","name":"msg propria1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-96,720],"id":"658b0e49-3f26-4d50-8749-40e5c5ec4985","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"836e203a-48e3-4be1-be95-7d59e6bd3220","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"dde3bd2e-0fd0-4365-a1d9-138eeb401e1f","name":"NUMERO","value":"={{ (() => { const n = $json.NUMERO.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"number"},{"id":"9e04b168-079c-4c6d-a1c7-665b37d32b2b","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"836d7dad-16eb-482c-a885-f01c6472789f","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,896],"id":"47eb06eb-72c2-417a-8558-eaf90c605a03","name":"dados3"},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"NUMERO","lookupValue":"={{ $json.NUMERO }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[480,896],"id":"88630888-6d05-4d79-9c70-b9adcb724013","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[976,960],"id":"2de650ce-ec03-4428-8bad-db94858cc572","name":"No Operation, do nothing4"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","NOME":"={{ $json.NOME }}","DATA/HORA":"={{ $json.DATA }}"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[112,896],"id":"08352f01-0534-4570-8f28-0ffdf21b0921","name":"Append or update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Edit Fields4').item.json.NUMERO }}","row_number":0,"BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1840,736],"id":"c14fee97-b394-41f9-850b-6762b77b3399","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2096,960],"id":"2e305c57-a97d-4f88-958e-e7a0bd63c618","name":"No Operation, do nothing3"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Code5').item.json.telefone }}","row_number":0,"BOAS VINDAS":"FALHA AO ENVIAR"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1408,960],"id":"a37483ca-eb84-4329-beca-08995a097775","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"method":"POST","url":"https://notify.typebot.pro/op_lead-20","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"CONFORT"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"NOVO LEAD ENVIADO AO TIME","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,736],"id":"5814758c-7b78-44ba-bd29-e5348f7b0970","name":"HTTP Request4","credentials":{"httpBasicAuth":{"id":"cUb7pyXy5tejKNVF","name":"Notify-jamil"}}},{"parameters":{"content":"## CHECKLIST\nCHECAR WEBHOOK\nCHECAR ID GRUPO\nCHECAR NTFY","height":176,"width":448},"type":"n8n-nodes-base.stickyNote","position":[-576,480],"typeVersion":1,"id":"c8a8fb85-2345-401f-82e0-0515612d79b3","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fd28acd-d0b4-4a3f-b8ef-cb1c546e701f","leftValue":"={{ $('Webhook1').item.json.body.data.pushName }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,864],"id":"d3029e7d-d063-4afe-a3b1-2c35dcf34919","name":"pushname null - trafego"},{"parameters":{"jsCode":"function findWhatsNumbers(obj) {\n  const resultados = [];\n\n  function scan(value) {\n    if (typeof value === \"string\") {\n      if (value.includes(\"@s.whatsapp.net\")) {\n        // pega tudo antes do @\n        let numero = value.split(\"@\")[0];\n        // deixa só dígitos\n        numero = numero.replace(/\\D/g, \"\");\n        // garante que começa com 55 e evita duplicado\n        if (numero.startsWith(\"55\") && !resultados.includes(numero)) {\n          resultados.push(numero);\n        }\n      }\n    } else if (Array.isArray(value)) {\n      value.forEach(v => scan(v));\n    } else if (typeof value === \"object\" && value !== null) {\n      Object.values(value).forEach(v => scan(v));\n    }\n  }\n\n  scan(obj);\n  return resultados;\n}\n\nreturn items.map(item => {\n  // varre TODO o JSON desse item\n  const numeros = findWhatsNumbers(item.json);\n\n  // salva em um campo novo\n  item.json.telefones = numeros;   // ex: [\"5521972734912\", \"5521969092329\"]\n\n  // se quiser só o primeiro:\n  item.json.telefone = numeros[0] || null;\n\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,1328],"id":"118a0c7c-d5ed-4cf9-8372-66fb69b2cb8b","name":"Code2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.key.remoteJidAlt }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"},"id":"ea255287-445c-4f88-8b0a-af27fb2b07f2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c213f252-cd88-41b1-a3ba-584cc094262a","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-992,864],"id":"45e8b811-90bb-4b2a-9285-85d197633b8d","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ $json.body.data.key.remoteJidAlt }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-752,784],"id":"14918561-aecc-477c-b4f9-96412f363348","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-752,944],"id":"7d5ae5b7-6967-4d5d-b161-e36dbf5b3187","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"5a4d295e-9ba8-412e-bb57-5e157595c8f6","name":"NUMERO","value":"={{ $('Get row(s) in sheet2').item.json.NUMERO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,752],"id":"eb123acd-d168-4f76-91f1-0d1a044a7142","name":"Edit Fields4"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"3621f548-4459-43e8-b038-f7dc16fd0a9f"}],"combinator":"and"},"renameOutput":true,"outputKey":"NOVO LEAD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9bfcd8a1-ce81-4cd8-b786-d3560007ed7b","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JA RECEBEU MSG"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[672,896],"id":"de63a2c1-08eb-4bc0-b296-5b554fa485e1","name":"Switch2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[304,896],"id":"614dd9ca-3075-48c7-bca0-64416b52277c","name":"Wait2","webhookId":"c91d59f3-730d-43ae-8bff-96c3f6351aee"}],"connections":{"Append or update row in sheet":{"main":[[{"node":"DADOS BOTAO","type":"main","index":0}]]},"DADOS BOTAO14":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"DADOS BOTAO":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"DADOS BOTAO14","type":"main","index":0}]]},"msg propria":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0},{"node":"msg","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"msg":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"dados","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"dados":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Update row in sheet1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"msg propria1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"dados3","type":"main","index":0}]]},"dados3":{"main":[[{"node":"Append or update row in sheet4","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Append or update row in sheet4":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"pushname null - trafego":{"main":[[],[{"node":"msg propria1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"pushname null - trafego","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"pushname null - trafego","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a74292d-4398-4123-a6aa-c37274ce8760","triggerCount":1,"shared":[{"createdAt":"2025-11-26T19:50:50.478Z","updatedAt":"2025-11-26T19:50:50.478Z","role":"workflow:owner","workflowId":"N4qrDr4RsuGl9A84","projectId":"86fLtGJ4RKYxddia"}],"tags":[]}