lead20-ope-tornado-cFEGVQfYV8BwzWdn.json
{"updatedAt":"2025-12-06T02:20:26.466Z","createdAt":"2025-12-06T02:11:39.567Z","id":"cFEGVQfYV8BwzWdn","name":"LEAD20-OPE-TORNADO","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"LEAD20-OPE-TORNADO","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1424,1360],"id":"85a8afb9-7fdf-4f7a-8829-8d71a761b58e","name":"Webhook1","webhookId":"58e5b8c9-74da-4522-9a19-1d40e17a0f2e"},{"parameters":{"content":"## CHECKLIST\nCHECAR WEBHOOK\nCHECAR ID GRUPO\nCHECAR NTFY","height":176,"width":448},"type":"n8n-nodes-base.stickyNote","position":[-1232,1632],"typeVersion":1,"id":"7fd5d84f-ab68-48c1-9a12-6f8324fd089e","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c213f252-cd88-41b1-a3ba-584cc094262a","leftValue":"={{ $('Webhook1').item.json.body.data.pushName }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"sem nome"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"760361aa-224e-403f-80b8-00884bb9436c","leftValue":"={{ $json.body.data.key.remoteJidAlt }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJidAlt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8afd39ad-83f2-4545-a4c1-d77e594f264f","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJid"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-768,1488],"id":"6b5e7e8d-8e89-4094-9e2a-ac4756f06f02","name":"Switch3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"739f9a84-d69e-4009-93c5-869c3a7a8092","leftValue":"={{ $('Webhook1').item.json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,1360],"id":"1762c06c-8ef7-4f16-98b5-3c52d029f8d0","name":"msg propria2"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJidAlt.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1504],"id":"15117ba1-b525-4743-9f73-5faff9592e7f","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-400,1344],"id":"e462dddc-259a-4ec6-88a3-8addcc8fecfa","name":"No Operation, do nothing5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363405867587786@g.us"},{"name":"text","value":"=👤 NOME: {{ $('buscar lead').item.json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $('buscar lead').item.json.NUMERO }}\n⏰ DATA/HORA: {{ $('buscar lead').item.json['DATA/HORA'] }}\n\nOBS: reaja com o seu emoji e respeite um máximo de 5 Leads por vez\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,1408],"id":"d564f4a7-37ce-496f-bf20-693cac060b5a","name":"HTTP Request5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.NUMERO }}"},{"name":"text","value":"=Acabei de encaminhar seu contato para um dos nossos consultores! Em instantes ele entrará em contato com você."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,1424],"id":"d80cd62e-dee9-4815-9354-f4eca20839a8","name":"HTTP Request6","retryOnFail":true,"waitBetweenTries":4000,"onError":"continueErrorOutput"},{"parameters":{"amount":"=1"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,1408],"id":"fce01a22-dcea-4c2e-bf1b-b3fa95b9e1f1","name":"Wait3","webhookId":"787de5ef-7743-4dc2-a329-c2cabbc244d1"},{"parameters":{"content":"## ENVIA DADOS AO GRUPO DE SUPORTE","height":1040,"width":3392,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1264,1296],"typeVersion":1,"id":"078815ca-75b9-4e37-abb1-6b5ff53e3c07","name":"Sticky Note7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,1712],"id":"6451019f-ceb9-44d6-b0b4-1ad96bf73263","name":"No Operation, do nothing6"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1574444101,"mode":"list","cachedResultName":"LEAD20-OPE-TORNADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=1574444101"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Edit Fields6').item.json.NUMERO }}","row_number":0,"BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1856,1408],"id":"ff3ad11e-82b0-4a0f-8e20-bb3234165cfd","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1574444101,"mode":"list","cachedResultName":"LEAD20-OPE-TORNADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=1574444101"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","row_number":0,"BOAS VINDAS":"FALHA AO ENVIAR"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1344,1616],"id":"037d7997-8fef-4de6-a85b-80f6a4921fe1","name":"Update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a4d295e-9ba8-412e-bb57-5e157595c8f6","name":"NUMERO","value":"={{ $('buscar lead').item.json.NUMERO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1424],"id":"f8bfb6b7-acae-4735-9a47-7b6253cc1962","name":"Edit Fields6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"074be921-161b-485b-80df-1c8e8511f2dd","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"NOVO LEAD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9bfcd8a1-ce81-4cd8-b786-d3560007ed7b","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JA FOI DIRECIONADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b06466d1-d8ea-48db-99de-5779af9b1f18","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"LEAD SALVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LEAD JA SALVO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[464,1552],"id":"c82abd8b-9362-48de-ae06-a362716d3f9c","name":"Switch4"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJid.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1680],"id":"52c78f53-8a36-41dc-b948-b89c5b0f5a7f","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1574444101,"mode":"list","cachedResultName":"LEAD20-OPE-TORNADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=1574444101"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","NOME":"={{ $json.NOME }}","DATA/HORA":"={{ $json.DATA }}"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,1568],"id":"002baea8-640a-4c65-939d-046cd2d896aa","name":"criar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1574444101,"mode":"list","cachedResultName":"LEAD20-OPE-TORNADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=1574444101"},"filtersUI":{"values":[{"lookupColumn":"NUMERO","lookupValue":"={{ $json.NUMERO }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,1568],"id":"ff676eba-c85b-4dad-929e-5a18295265d0","name":"buscar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1574444101,"mode":"list","cachedResultName":"LEAD20-OPE-TORNADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=1574444101"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","BOAS VINDAS":"LEAD SALVO"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,1424],"id":"f41f897b-32b8-47db-b3ea-4954d050a3f0","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363288601507294@g.us"},{"name":"text","value":"=👤 NOME: {{ $json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $json.NUMERO }}\n⏰ DATA/HORA: {{ $json['DATA/HORA'] }}\n\nOBS: Respeite a sua vez para capturar o lead\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,2080],"id":"54b7da77-d8c0-4896-a146-74acd116b537","name":"HTTP Request7","retryOnFail":false,"waitBetweenTries":1000},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"BOAS VINDAS","lookupValue":"FALHA AO ENVIAR"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,2064],"id":"86c2eb6d-597c-492a-a71d-68989d36ea22","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,2064],"id":"899981a5-0723-42e2-bcc0-c2e035762ebd","name":"Loop Over Items"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1904,2080],"id":"c632b575-b2e6-41aa-9b96-f87808eb885e","name":"Wait","webhookId":"66a4f129-0396-4a22-9bd8-edae82815611"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Get row(s) in sheet').item.json.NUMERO }}","BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1696,2080],"id":"87b90f57-7b10-4250-b42a-3b2d44f00151","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[720,2064],"id":"a6e81950-f50d-4509-b330-91dce100c237","name":"When clicking ‘Execute workflow’"}],"connections":{"Webhook1":{"main":[[{"node":"msg propria2","type":"main","index":0}]]},"msg propria2":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"Update row in sheet4","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Update row in sheet3":{"main":[[]]},"Update row in sheet4":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"criar lead":{"main":[[{"node":"buscar lead","type":"main","index":0}]]},"buscar lead":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request7","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[23]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"167c892e-fc69-44bb-bc40-15cd96725299","activeVersionId":"167c892e-fc69-44bb-bc40-15cd96725299","triggerCount":1,"shared":[{"updatedAt":"2025-12-06T02:11:39.567Z","createdAt":"2025-12-06T02:11:39.567Z","role":"workflow:owner","workflowId":"cFEGVQfYV8BwzWdn","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":{"updatedAt":"2025-12-06T02:20:26.450Z","createdAt":"2025-12-06T02:20:26.450Z","versionId":"167c892e-fc69-44bb-bc40-15cd96725299","workflowId":"cFEGVQfYV8BwzWdn","nodes":[{"parameters":{"httpMethod":"POST","path":"LEAD20-OPE-TORNADO","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1424,1360],"id":"85a8afb9-7fdf-4f7a-8829-8d71a761b58e","name":"Webhook1","webhookId":"58e5b8c9-74da-4522-9a19-1d40e17a0f2e"},{"parameters":{"content":"## CHECKLIST\nCHECAR WEBHOOK\nCHECAR ID GRUPO\nCHECAR NTFY","height":176,"width":448},"type":"n8n-nodes-base.stickyNote","position":[-1232,1632],"typeVersion":1,"id":"7fd5d84f-ab68-48c1-9a12-6f8324fd089e","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c213f252-cd88-41b1-a3ba-584cc094262a","leftValue":"={{ $('Webhook1').item.json.body.data.pushName }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"sem nome"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"760361aa-224e-403f-80b8-00884bb9436c","leftValue":"={{ $json.body.data.key.remoteJidAlt }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJidAlt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8afd39ad-83f2-4545-a4c1-d77e594f264f","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJid"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-768,1488],"id":"6b5e7e8d-8e89-4094-9e2a-ac4756f06f02","name":"Switch3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"739f9a84-d69e-4009-93c5-869c3a7a8092","leftValue":"={{ $('Webhook1').item.json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,1360],"id":"1762c06c-8ef7-4f16-98b5-3c52d029f8d0","name":"msg propria2"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJidAlt.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1504],"id":"15117ba1-b525-4743-9f73-5faff9592e7f","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-400,1344],"id":"e462dddc-259a-4ec6-88a3-8addcc8fecfa","name":"No Operation, do nothing5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363405867587786@g.us"},{"name":"text","value":"=👤 NOME: {{ $('buscar lead').item.json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $('buscar lead').item.json.NUMERO }}\n⏰ DATA/HORA: {{ $('buscar lead').item.json['DATA/HORA'] }}\n\nOBS: reaja com o seu emoji e respeite um máximo de 5 Leads por vez\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,1408],"id":"d564f4a7-37ce-496f-bf20-693cac060b5a","name":"HTTP Request5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.NUMERO }}"},{"name":"text","value":"=Acabei de encaminhar seu contato para um dos nossos consultores! Em instantes ele entrará em contato com você."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,1424],"id":"d80cd62e-dee9-4815-9354-f4eca20839a8","name":"HTTP Request6","retryOnFail":true,"waitBetweenTries":4000,"onError":"continueErrorOutput"},{"parameters":{"amount":"=1"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,1408],"id":"fce01a22-dcea-4c2e-bf1b-b3fa95b9e1f1","name":"Wait3","webhookId":"787de5ef-7743-4dc2-a329-c2cabbc244d1"},{"parameters":{"content":"## ENVIA DADOS AO GRUPO DE SUPORTE","height":1040,"width":3392,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1264,1296],"typeVersion":1,"id":"078815ca-75b9-4e37-abb1-6b5ff53e3c07","name":"Sticky Note7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,1712],"id":"6451019f-ceb9-44d6-b0b4-1ad96bf73263","name":"No Operation, do nothing6"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1574444101,"mode":"list","cachedResultName":"LEAD20-OPE-TORNADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=1574444101"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Edit Fields6').item.json.NUMERO }}","row_number":0,"BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1856,1408],"id":"ff3ad11e-82b0-4a0f-8e20-bb3234165cfd","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1574444101,"mode":"list","cachedResultName":"LEAD20-OPE-TORNADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=1574444101"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","row_number":0,"BOAS VINDAS":"FALHA AO ENVIAR"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1344,1616],"id":"037d7997-8fef-4de6-a85b-80f6a4921fe1","name":"Update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a4d295e-9ba8-412e-bb57-5e157595c8f6","name":"NUMERO","value":"={{ $('buscar lead').item.json.NUMERO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1424],"id":"f8bfb6b7-acae-4735-9a47-7b6253cc1962","name":"Edit Fields6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"074be921-161b-485b-80df-1c8e8511f2dd","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"NOVO LEAD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9bfcd8a1-ce81-4cd8-b786-d3560007ed7b","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JA FOI DIRECIONADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b06466d1-d8ea-48db-99de-5779af9b1f18","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"LEAD SALVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LEAD JA SALVO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[464,1552],"id":"c82abd8b-9362-48de-ae06-a362716d3f9c","name":"Switch4"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJid.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1680],"id":"52c78f53-8a36-41dc-b948-b89c5b0f5a7f","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1574444101,"mode":"list","cachedResultName":"LEAD20-OPE-TORNADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=1574444101"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","NOME":"={{ $json.NOME }}","DATA/HORA":"={{ $json.DATA }}"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,1568],"id":"002baea8-640a-4c65-939d-046cd2d896aa","name":"criar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1574444101,"mode":"list","cachedResultName":"LEAD20-OPE-TORNADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=1574444101"},"filtersUI":{"values":[{"lookupColumn":"NUMERO","lookupValue":"={{ $json.NUMERO }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,1568],"id":"ff676eba-c85b-4dad-929e-5a18295265d0","name":"buscar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1574444101,"mode":"list","cachedResultName":"LEAD20-OPE-TORNADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=1574444101"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","BOAS VINDAS":"LEAD SALVO"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,1424],"id":"f41f897b-32b8-47db-b3ea-4954d050a3f0","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363288601507294@g.us"},{"name":"text","value":"=👤 NOME: {{ $json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $json.NUMERO }}\n⏰ DATA/HORA: {{ $json['DATA/HORA'] }}\n\nOBS: Respeite a sua vez para capturar o lead\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,2080],"id":"54b7da77-d8c0-4896-a146-74acd116b537","name":"HTTP Request7","retryOnFail":false,"waitBetweenTries":1000},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"BOAS VINDAS","lookupValue":"FALHA AO ENVIAR"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,2064],"id":"86c2eb6d-597c-492a-a71d-68989d36ea22","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,2064],"id":"899981a5-0723-42e2-bcc0-c2e035762ebd","name":"Loop Over Items"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1904,2080],"id":"c632b575-b2e6-41aa-9b96-f87808eb885e","name":"Wait","webhookId":"66a4f129-0396-4a22-9bd8-edae82815611"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Get row(s) in sheet').item.json.NUMERO }}","BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1696,2080],"id":"87b90f57-7b10-4250-b42a-3b2d44f00151","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[720,2064],"id":"a6e81950-f50d-4509-b330-91dce100c237","name":"When clicking ‘Execute workflow’"}],"connections":{"Webhook1":{"main":[[{"node":"msg propria2","type":"main","index":0}]]},"msg propria2":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"Update row in sheet4","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Update row in sheet3":{"main":[[]]},"Update row in sheet4":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"criar lead":{"main":[[{"node":"buscar lead","type":"main","index":0}]]},"buscar lead":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request7","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"authors":"jamil abrao sobrinho","name":null,"description":null},"tags":[]}