lead20-ope-confort-auto-N4qrDr4RsuGl9A84.json
{"createdAt":"2025-11-26T19:50:50.478Z","updatedAt":"2025-11-29T23:14:38.791Z","id":"N4qrDr4RsuGl9A84","name":"LEAD20-OPE-CONFORT-AUTO","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"LEAD20-OP1-CONFORT","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1424,1360],"id":"5c6e0515-d3d3-490e-a11c-81e06f0bc430","name":"Webhook1","webhookId":"0a1fd1b1-8499-4c88-b1f3-44932984edaf"},{"parameters":{"content":"## CHECKLIST\nCHECAR WEBHOOK\nCHECAR ID GRUPO\nCHECAR NTFY","height":176,"width":448},"type":"n8n-nodes-base.stickyNote","position":[-1232,1632],"typeVersion":1,"id":"c8a8fb85-2345-401f-82e0-0515612d79b3","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c213f252-cd88-41b1-a3ba-584cc094262a","leftValue":"={{ $('Webhook1').item.json.body.data.pushName }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"sem nome"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"760361aa-224e-403f-80b8-00884bb9436c","leftValue":"={{ $json.body.data.key.remoteJidAlt }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJidAlt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8afd39ad-83f2-4545-a4c1-d77e594f264f","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJid"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-768,1488],"id":"738e78c3-4c69-4d30-a369-26c102d94715","name":"Switch3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"739f9a84-d69e-4009-93c5-869c3a7a8092","leftValue":"={{ $('Webhook1').item.json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,1360],"id":"7370cc94-33bb-4893-9440-08bec8ae92c4","name":"msg propria2"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJidAlt.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1504],"id":"d10e67f8-b77e-4619-8b30-aa651101a731","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-400,1344],"id":"2c74f924-3116-496d-82a0-209d722096c8","name":"No Operation, do nothing5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363288601507294@g.us"},{"name":"text","value":"=👤 NOME: {{ $('buscar lead').item.json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $('buscar lead').item.json.NUMERO }}\n⏰ DATA/HORA: {{ $('buscar lead').item.json['DATA/HORA'] }}\n\nOBS: reaja com o seu emoji e respeite um máximo de 5 Leads por vez\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,1408],"id":"13ec88e5-8f42-43be-8008-f462032f10c6","name":"HTTP Request5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.NUMERO }}"},{"name":"text","value":"=Acabei de encaminhar seu contato para um dos nossos consultores! Em instantes ele entrará em contato com você."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,1424],"id":"808c5f6c-a74b-4c54-8797-d50f5e76ca7b","name":"HTTP Request6","retryOnFail":false,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"amount":"=1"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,1408],"id":"c9349a6f-9cb4-414a-86d0-940f07cb75e4","name":"Wait3","webhookId":"c2d3b7d8-8110-448b-9548-9ebfd0f46c64"},{"parameters":{"content":"## ENVIA DADOS AO GRUPO DE SUPORTE","height":1040,"width":3392,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1264,1296],"typeVersion":1,"id":"af4abf84-671a-425e-9b01-be7260c81d95","name":"Sticky Note7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,1712],"id":"07420a51-a6d7-4360-8a25-a3fb3dd7678c","name":"No Operation, do nothing6"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Edit Fields6').item.json.NUMERO }}","row_number":0,"BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1696,1408],"id":"e96ba079-e92d-4cab-b0d9-9400681978d7","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","row_number":0,"BOAS VINDAS":"FALHA AO ENVIAR"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1296,1632],"id":"8f4f15b9-357a-48a8-8b63-89eb8f1639eb","name":"Update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a4d295e-9ba8-412e-bb57-5e157595c8f6","name":"NUMERO","value":"={{ $('buscar lead').item.json.NUMERO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1424],"id":"c2214d78-2107-4000-b03e-46bdbce8f392","name":"Edit Fields6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"074be921-161b-485b-80df-1c8e8511f2dd","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"NOVO LEAD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9bfcd8a1-ce81-4cd8-b786-d3560007ed7b","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JA FOI DIRECIONADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b06466d1-d8ea-48db-99de-5779af9b1f18","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"LEAD SALVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LEAD JA SALVO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[464,1552],"id":"52cd4895-e86a-4d55-9462-07b8ad769581","name":"Switch4"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5521975342163@s.whatsapp.net"},{"name":"text","value":"=📊 RELATÓRIO DIÁRIO – CONFORT AUTO\n\n📅 Data do relatório:\n{{ new Date().toLocaleDateString(\"pt-BR\") }}\n\n📈 Total de leads processados hoje:\n🔹 {{ $json.count_NUMERO }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,1968],"id":"5aadf47e-2325-401b-a5a7-a75c3252a098","name":"HTTP Request"},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-928,1984],"id":"9cca75b8-6389-4a38-915d-85b7c41fcf65","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d47ecbe-b731-4d75-a5d0-04ec1f797bcb","leftValue":"={{ $json['DATA/HORA'].split(',')[0].trim() }}","rightValue":"={{ new Date().toLocaleDateString(\"pt-BR\") }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,1984],"id":"f31e60f4-c1b0-471d-a155-3d476691e69a","name":"If"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"NUMERO"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-544,1968],"id":"2d8129f3-91d9-41ca-849b-09046b6b9c28","name":"Summarize"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-544,2128],"id":"791a4b56-e1be-4d5a-add2-2517bd266396","name":"No Operation, do nothing1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":23,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1152,1984],"id":"0bc8acfc-3e1f-4215-832f-fec7ad239319","name":"Schedule Trigger"},{"parameters":{"content":"## ENVIA RELATORIO\n**ENVIA QUANTIDADE DE LEADS RECEBIDOS","height":416,"width":1152,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1232,1888],"typeVersion":1,"id":"19aeffff-cb19-4085-bfb4-2d8ed3e460ff","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJid.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1680],"id":"458ebc54-b18d-426d-ba52-15bffb22750f","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","NOME":"={{ $json.NOME }}","DATA/HORA":"={{ $json.DATA }}"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,1568],"id":"e136ae1e-2f18-4c34-9039-22a536ee1b5f","name":"criar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"NUMERO","lookupValue":"={{ $json.NUMERO }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,1568],"id":"a89f2baf-6ca2-4574-854c-3cdfc1ec3f54","name":"buscar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","BOAS VINDAS":"LEAD SALVO"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,1424],"id":"d29ef1e8-15c7-42c5-a367-413563b98d0f","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363288601507294@g.us"},{"name":"text","value":"=👤 NOME: {{ $json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $json.NUMERO }}\n⏰ DATA/HORA: {{ $json['DATA/HORA'] }}\n\nOBS: Respeite a sua vez para capturar o lead\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,2080],"id":"72fe39f0-5a7e-4263-989d-a5d1a2bf6dfb","name":"HTTP Request7","retryOnFail":false,"waitBetweenTries":1000},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"BOAS VINDAS","lookupValue":"FALHA AO ENVIAR"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,2064],"id":"0f8d24d0-2562-4674-8882-210172d6558a","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,2064],"id":"00ce6cfd-8811-45d8-89b2-65872f980b4f","name":"Loop Over Items"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1888,2080],"id":"e04040d8-705e-4d5a-901f-f4057c0fce2a","name":"Wait","webhookId":"0591c228-e242-4a0a-9e76-84c95807e568"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEAD CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Get row(s) in sheet').item.json.NUMERO }}","BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1696,2080],"id":"3a8d5db5-dc16-4195-8d71-28f3a19d6a84","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[720,2064],"id":"dd715dd0-833c-427e-9ce5-62b8528c22e5","name":"When clicking ‘Execute workflow’"}],"connections":{"Webhook1":{"main":[[{"node":"msg propria2","type":"main","index":0}]]},"msg propria2":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"Update row in sheet4","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Update row in sheet3":{"main":[[]]},"Update row in sheet4":{"main":[[]]},"Edit Fields6":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Get row(s) in sheet1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Summarize","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"criar lead":{"main":[[{"node":"buscar lead","type":"main","index":0}]]},"buscar lead":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request7","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[23]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e372f2d4-556a-4a38-bf8b-5b71af024170","triggerCount":2,"shared":[{"createdAt":"2025-11-26T19:50:50.478Z","updatedAt":"2025-11-26T19:50:50.478Z","role":"workflow:owner","workflowId":"N4qrDr4RsuGl9A84","projectId":"86fLtGJ4RKYxddia"}],"tags":[]}