lead-2.0-op1-ubFDcFCxR89EyoCL.json
{"updatedAt":"2025-11-27T16:26:49.363Z","createdAt":"2025-11-27T16:24:21.305Z","id":"ubFDcFCxR89EyoCL","name":"LEAD 2.0 OP1","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. MATHEUS - ASGARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NOME":"={{ $json.NOME }}","NUMERO":"={{ $json.telefone }}","DATA/HORA":"={{ $json.DATA }}","LID":"={{ $json.LID }}"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,-112],"id":"d4bca01c-e083-4957-a0f3-c19f3b96fd4c","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/OPMATHEUS-ASGARD","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363288601507294@g.us"},{"name":"text","value":"={{ $json.botao.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,48],"id":"6038b9eb-e32a-40c2-8411-b84df3af67c3","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"a8a466c4-6cd7-4b40-9071-aecadb9fe926","name":"botao.mensagem","value":"=👤 NOME: {{ $('Append or update row in sheet').item.json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $('Code').item.json.telefone }}\n⏰ DATA/HORA: {{ $('Code').item.json.DATA }}\n🆔 LID: https://wa.me/{{ $('Code').item.json.telefone }}\n\nOBS: reaja com o seu emoji e respeite um máximo de 5 Leads por vez","type":"string"}]},"options":{}},"id":"a765a164-ad8c-4371-8f4c-46e03a1a6551","name":"DADOS BOTAO14","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1120,48]},{"parameters":{"httpMethod":"POST","path":"lead20op1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-800,-64],"id":"b3e064a3-71ee-4397-b57e-7161b59e3101","name":"Webhook1","webhookId":"2dfb96cc-e14f-4c76-a4ee-c0ecbc47a7d5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/OPMATHEUS-ASGARD","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Code').item.json.telefone }}"},{"name":"text","value":"={{ $json.botao.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,-208],"id":"08199d13-5e32-4eb2-9d4b-1ecf235bb2d2","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"a8a466c4-6cd7-4b40-9071-aecadb9fe926","name":"botao.mensagem","value":"=Opa! Tudo bem? Acabei de encaminhar seu contato para um dos nossos consultores! Em instantes ele entrará em contato com você.","type":"string"}]},"options":{}},"id":"be655bad-8d63-4b73-a1db-89107516af07","name":"DADOS BOTAO","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1008,-208]},{"parameters":{"jsCode":"return items.map(item => {\n  let lid = (item.json.LID || \"\").toString().trim();\n  let numero = (item.json.NUMERO || \"\").toString().trim();\n  let remotejidalt = (item.json.REMOTEJIDALT || \"\").toString().trim();\n\n  // Remover tudo que não for número\n  lid = lid.replace(/\\D/g, \"\");\n  numero = numero.replace(/\\D/g, \"\");\n  remotejidalt = numero.replace(/\\D/g, \"\");\n\n  // Regex para pegar telefone iniciando em 55 (12 a 15 dígitos)\n  const regex = /55\\d{10,13}/;\n\n  let telefone = null;\n\n  if (regex.test(lid)) {\n    telefone = lid.match(regex)[0];\n  } else if (regex.test(numero)) {\n    telefone = numero.match(regex)[0];\n  }\n\n  item.json.telefone = telefone;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-112],"id":"96fd7967-4de8-4bf5-a3bf-05f26b8ed08d","name":"Code"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[912,48],"id":"797780f2-2189-4a31-be8d-b6583969be3f","name":"Wait1","webhookId":"36bbfd39-04c5-4d0a-8e81-bbca239922a0"},{"parameters":{"content":"## RECEBE HOOK, TRATA E SALVA DADOS","height":592,"width":1392,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-576,-272],"typeVersion":1,"id":"a9c4f79d-a403-4dea-bcfe-6e14959df984","name":"Sticky Note"},{"parameters":{"content":"## BOAS VINDAS AO LEAD","height":240,"width":592},"type":"n8n-nodes-base.stickyNote","position":[832,-272],"typeVersion":1,"id":"1213f91a-1113-4ff3-9b14-3c8861c9e38f","name":"Sticky Note1"},{"parameters":{"content":"## ENVIA DADOS AO GRUPO DE SUPORTE","height":288,"width":704,"color":4},"type":"n8n-nodes-base.stickyNote","position":[832,-16],"typeVersion":1,"id":"ca1894e4-270d-45f5-9ea6-4b08a0cfe913","name":"Sticky Note2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"739f9a84-d69e-4009-93c5-869c3a7a8092","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-64],"id":"c191df1a-098f-4a3b-a2fc-fc5dc6777a2b","name":"msg propria"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-320,-208],"id":"97ff0d73-53e1-4041-90c5-80a47c987f4e","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"836e203a-48e3-4be1-be95-7d59e6bd3220","name":"NOME","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"4d0fb4de-670b-4971-b14e-229940a1ca6a","name":"REMOTEJIDALT","value":"={{ $json.body.data.key.remoteJidAlt.split('@')[0] }}","type":"string"},{"id":"59b418e8-0f42-41b3-8271-901cf38f24d3","name":"LID","value":"={{ $json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"9e04b168-079c-4c6d-a1c7-665b37d32b2b","name":"DATA","value":"={{ new Date($json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,448],"id":"2876c402-5a47-4437-81a8-35d3dc65d087","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. MATHEUS - ASGARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":586715170,"mode":"list","cachedResultName":"TODOS LEADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=586715170"},"columns":{"mappingMode":"defineBelow","value":{"NOME":"={{ $json.NOME }}","WHATSAPP":"={{ $json.telefone }}","DATA/HORA":"={{ $json.DATA }}"},"matchingColumns":["WHATSAPP"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,448],"id":"e136aa2f-faac-49c4-9b12-4e72199b4eb7","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"jsCode":"return items.map(item => {\n  let lid = (item.json.LID || \"\").toString().trim();\n  let numero = (item.json.NUMERO || \"\").toString().trim();\n  let remotejidalt = (item.json.REMOTEJIDALT || \"\").toString().trim();\n\n  // Remover tudo que não for número\n  lid = lid.replace(/\\D/g, \"\");\n  numero = numero.replace(/\\D/g, \"\");\n  remotejidalt = numero.replace(/\\D/g, \"\");\n\n  // Regex para pegar telefone iniciando em 55 (12 a 15 dígitos)\n  const regex = /55\\d{10,13}/;\n\n  let telefone = null;\n\n  if (regex.test(lid)) {\n    telefone = lid.match(regex)[0];\n  } else if (regex.test(numero)) {\n    telefone = numero.match(regex)[0];\n  }\n\n  item.json.telefone = telefone;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,448],"id":"4eb997c3-d6d2-4114-a11c-97a0214d0633","name":"Code1"},{"parameters":{"content":"## SALVAR EM TODOS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":304,"width":992},"type":"n8n-nodes-base.stickyNote","position":[-576,336],"typeVersion":1,"id":"023f6d72-c143-4c67-9747-2bc34131b13b","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"17cf4291-5388-41a2-bb02-a9576a4e4532","name":"msg","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-48],"id":"58a617ff-4e3c-4054-8caa-d64c5bdfe94b","name":"msg"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msg }}","rightValue":"=Olá! Tenho interesse e queria mais informações, por favor.","operator":{"type":"string","operation":"equals"},"id":"2635fe69-63e2-4906-9cdf-d9893e9c3929"}],"combinator":"and"},"renameOutput":true,"outputKey":"GATILHO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10471bd8-915c-4127-bff6-bbf68ccd62c0","leftValue":"={{ $json.msg }}","rightValue":"Olá! Tenho interesse e queria mais informações, por favor.","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SEM GATILHO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-64,-48],"id":"a782c62b-77ed-4e99-a11b-db061408cef4","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"836e203a-48e3-4be1-be95-7d59e6bd3220","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"dde3bd2e-0fd0-4365-a1d9-138eeb401e1f","name":"NUMERO","value":"={{ $('Webhook1').item.json.body.data.key.remoteJidAlt.split('@')[0] }}","type":"string"},{"id":"69d5b990-2a4f-42af-9d10-dc8908ad6e81","name":"LID","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"9e04b168-079c-4c6d-a1c7-665b37d32b2b","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-112],"id":"a9c1aa36-839c-4775-8c35-1b869d645e12","name":"dados"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[256,80],"id":"3402c9d6-e234-4939-bfb9-d74ebd947504","name":"No Operation, do nothing2"}],"connections":{"Append or update row in sheet":{"main":[[{"node":"DADOS BOTAO","type":"main","index":0}]]},"DADOS BOTAO14":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"msg propria","type":"main","index":0}]]},"DADOS BOTAO":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"DADOS BOTAO14","type":"main","index":0}]]},"msg propria":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0},{"node":"msg","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"msg":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"dados","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"dados":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a0b83c79-ce9b-427a-953a-a5cd8a9137ae","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-27T16:24:21.305Z","createdAt":"2025-11-27T16:24:21.305Z","role":"workflow:owner","workflowId":"ubFDcFCxR89EyoCL","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":null,"tags":[]}