manychat-proprio-SJ3eIWWEUXSAcRbT.json
{"createdAt":"2024-11-27T18:26:01.422Z","updatedAt":"2025-03-06T21:47:18.163Z","id":"SJ3eIWWEUXSAcRbT","name":"manychat proprio","active":false,"nodes":[{"parameters":{"content":"token instagram\n\nIGAAl8AZAfEOm1BZAE9YeC1WM05mdFZAtX1JlVXB3SS1lZAGYwVmtWdzBvT3d6Tkk0QWxZAeUZASSWZApeDRJNVVSWW1fZAkVXQXBzYW1OZA3ZAtZA2FTM2pGRzd3eUxsWjRIcXdZARUlyenA2Ty1uZA3huV1E0a2t4SWFrQ25oYW1kSVpBY3FiRQZDZD","width":461.3775933609958},"id":"431409b8-90c1-44fb-b4e4-ab34559efc83","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,220]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"id":"c5bb3180-abce-4063-b868-2d992bc55870","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[740,500]},{"parameters":{"assignments":{"assignments":[{"id":"74086113-ee6b-4a24-9a10-24a6b6530d7a","name":"sender","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"bd28045e-4049-4cfc-8318-42f2d82b9369","name":"recipient","value":"={{ $json.body.entry[0].messaging[0].recipient.id }}","type":"string"},{"id":"d76be487-6cd1-4c50-9447-07aacf36fd31","name":"text","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"},{"id":"75653ce7-37be-4ca1-b43b-0b974bc695c1","name":"page_id","value":"={{ $json.body.entry[0].id }}","type":"string"}]},"options":{}},"id":"457cd898-e6a8-4afa-ad83-cf3a1f9ff67a","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,780]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75d76fb1-ac0f-4462-b182-a35c8c08211b","leftValue":"={{ $json.sender }}","rightValue":"={{ $json.page_id }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"4557e187-a14f-4795-901a-c59bc1f6c852","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[940,780]},{"parameters":{"assignments":{"assignments":[{"id":"86e4ad81-a4b2-400b-8192-c2bd05d4ac6e","name":"mensagem_enviar","value":"NOTION ASGARD ACADEMY\\n\\n🌟 Mais de 1200 Prompts para usar no ChatGPT e transformar suas estratégias!\\n\\n💡 Entenda o ChatGPT\\n✉ E-mail Marketing\\n📱 Redes Sociais\\n🎥 TikTok ou Instagram\\n📹 Marketing no YouTube\\n🎙 Marketing e Podcast\\n🐦 Twitter\\n📈 Anúncios no Instagram (Meta)\\n🔍 SEO\\n💼 LinkedIn\\n\\n🔥 +350 Prompts específicos para te ajudar:\\n✍ Copywriting\\n📓 Manual dos Negócios\\n💸 Funil Lucrativo\\n🤝 Marketing de Afiliados\\n📲 Marketing por SMS\\n🤖 Atendimento ao Cliente\\n🛒 Website e E-commerce","type":"string"},{"id":"2b0d26de-faf6-42d9-ba30-de77f2640bf7","name":"mensagem_link","value":"https://reflective-zucchini-911.notion.site/ASGARD-ACADEMY-GPT-MASTER-1120d2b8e749804f8365c444ed03bbcb","type":"string"}]},"options":{}},"id":"c62051e9-bae7-413a-a297-7349c2da3a3b","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1480,920]},{"parameters":{"method":"POST","url":"https://graph.instagram.com/v21.0/me/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields').item.json.sender }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"{{ $json.mensagem_enviar }}\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n            \"url\": \"{{ $json.mensagem_link }}\",\n            \"title\": \"ACESSAR AQUI\"\n          }\n        ]\n      }\n    }\n  }\n}\n","options":{"response":{"response":{"fullResponse":true}}}},"id":"bc75f0a8-ac02-4002-9792-a2de24e95dbf","name":"enviando botão","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,920],"credentials":{"httpHeaderAuth":{"id":"uqmdX2pWCzjasf3Q","name":"insta jamil - fb jamil"}}},{"parameters":{"content":"## conexão api insta","height":276.4179104477611,"width":465.3731343283582},"id":"b73ccdd5-6152-46d5-bb95-99a5ea55bd58","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,410.7462686567164]},{"parameters":{"content":"## RECEBIMENTO E RESPOSTA","height":276.4179104477611,"width":913.1343283582087},"id":"8103472f-a656-4823-a745-12440d9a3a11","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,720]},{"parameters":{"content":"## ENVIO NOTION","height":231.64179104477597,"width":459.4321922848772,"color":4},"id":"5d3f3da9-4644-420f-bc9e-4e7a88a7c316","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,860]},{"parameters":{"assignments":{"assignments":[{"id":"86e4ad81-a4b2-400b-8192-c2bd05d4ac6e","name":"mensagem_enviar","value":"Ja que tu mandou aqui, vou te dar acesso 100% grátis a todo material, basta se escever ai.","type":"string"},{"id":"2b0d26de-faf6-42d9-ba30-de77f2640bf7","name":"mensagem_link","value":"https://membros.teamasgard.pro/","type":"string"}]},"options":{}},"id":"05a05f2b-1660-4361-9d32-044f9870acdb","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1480,640]},{"parameters":{"method":"POST","url":"https://graph.instagram.com/v21.0/me/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields').item.json.sender }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"{{ $json.mensagem_enviar }}\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n            \"url\": \"{{ $json.mensagem_link }}\",\n            \"title\": \"ACESSAR AQUI\"\n          }\n        ]\n      }\n    }\n  }\n}\n","options":{"response":{"response":{"fullResponse":true}}}},"id":"c0136a63-0b5b-459d-a18f-5b4b22c3a01d","name":"enviando botão1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,640],"credentials":{"httpHeaderAuth":{"id":"uqmdX2pWCzjasf3Q","name":"insta jamil - fb jamil"}}},{"parameters":{"content":"## membros","height":258.433134107439,"width":454.1376342344614,"color":4},"id":"996cfb64-2477-4070-8d44-892026cdc0ad","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,580]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook1').item.json.body.entry[0].messaging[0].message.text }}","rightValue":"/eu quero/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"membros"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"276fec4e-e559-43c4-946c-90ed9e222a64","leftValue":"={{ $('Webhook1').item.json.body.entry[0].messaging[0].message.text }}","rightValue":"/gpt/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gpt"}]},"options":{}},"id":"13b24958-a2cb-4205-b774-39b26ed06a65","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1140,780]},{"parameters":{"path":"9bcf8863-b10b-4758-ae1d-1d70d102770f","responseMode":"responseNode","options":{}},"id":"1bb153cc-c002-40f4-832c-f08503632b1c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[480,500],"webhookId":"9bcf8863-b10b-4758-ae1d-1d70d102770f"},{"parameters":{"httpMethod":"POST","path":"9bcf8863-b10b-4758-ae1d-1d70d102770f","options":{}},"id":"fac37ff4-a939-487b-84f1-9d3b7596ae77","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[480,780],"webhookId":"9bcf8863-b10b-4758-ae1d-1d70d102770f"}],"connections":{"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"enviando botão","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"enviando botão1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c9677ac0-26ac-47c7-9138-2e19a9537d78","triggerCount":2,"tags":[]}