maturador-de-instancias-JJBwxiXcFQN0tDPm.json
{"createdAt":"2024-11-25T15:12:03.777Z","updatedAt":"2024-11-26T13:26:08.723Z","id":"JJBwxiXcFQN0tDPm","name":"MATURADOR DE INSTANCIAS","active":false,"nodes":[{"parameters":{"jsCode":"// Definir variáveis manualmente (ou através de outros nós antes de chegar aqui)\nconst textoCompleto = items[0].json.mensagem;  // Texto completo da mensagem\nconst numero1 = items[0].json.numero1;  // Primeiro número\nconst numero2 = items[0].json.numero2;  // Segundo número\nconst instancia1 = items[0].json.instancia1;  // Primeira instância\nconst instancia2 = items[0].json.instancia2;  // Segunda instância\n\n// Dividir o texto em mensagens separadas por '\\n'\nconst mensagensSeparadas = textoCompleto.split('\\n');\n\nlet alternador = true;  // Para alternar entre numero1 e numero2\nlet contador = 0;  // Inicializa o contador\n\n// Retorna as mensagens com alternância entre os números e instâncias\nreturn mensagensSeparadas.map(mensagem => {\n  const numeroAtual = alternador ? numero1 : numero2;  // Alterna entre os números\n  const instanciaAtual = alternador ? instancia2 : instancia1;  // Alterna a instância para enviar a mensagem\n\n  alternador = !alternador;  // Inverte o alternador para a próxima mensagem\n\n  // Incrementa o contador e reseta para 1 após chegar a 20\n  contador = (contador % 20) + 1;\n\n  return {\n    json: {\n      numero: numeroAtual,  // Define qual número enviará a mensagem\n      instancia: instanciaAtual,  // Define a instância para onde a mensagem será enviada\n      mensagem: mensagem.trim(),  // Remove espaços em branco extras da mensagem\n      contador: contador  // Contador que vai de 1 até 20 e depois reinicia\n    }\n  };\n});\n"},"id":"e8725746-32ed-4b11-8c45-0a7225267973","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-760,460],"alwaysOutputData":false},{"parameters":{"options":{}},"id":"b518a1d5-3b23-43d5-a092-f86d1a52cbde","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-520,460],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('config').item.json.evoUrl }}message/sendText/{{ $json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('config').item.json.key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.numero }}\",\n    \"options\": {},\n    \"delay\": 1200,\n    \"text\": \"{{ $json.mensagem ? $json.mensagem : 'vazio' }}\"\n}\n","options":{}},"id":"ef6259dc-205c-4aa5-8a36-a4181575abdb","name":"sendText1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1e59b00e-4810-484d-b306-2de671585cb4","leftValue":"={{ $('Code1').item.json.contador }}","rightValue":20,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"ebee8272-7097-40b2-85fd-f76e3e8b940a","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[220,460]},{"parameters":{"amount":"={{ Math.floor(Math.random() * (120 - 80 + 1) + 80) }}"},"id":"fbbaea77-8c26-4abd-9f07-cdf5399e182b","name":"enviar entre 80 a 120s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-40,460],"webhookId":"f5883cc4-36ee-43a9-88a2-4a9db7c99251"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"07 23 * * *"}]}},"id":"8239ec5f-6a97-456a-8576-9d8400f8ce19","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1180,380]},{"parameters":{"unit":"minutes"},"id":"643a214e-6b3b-485b-b16e-ccb72ba1bebf","name":"5 minutos","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[440,440],"webhookId":"f1e024e4-769a-4604-8f71-19550eb8c6e1"},{"parameters":{"assignments":{"assignments":[{"id":"e19cb515-25c8-40d2-b0dc-6194c9421398","name":"numero1","value":"553432130851","type":"string"},{"id":"14ae83ca-a8b1-4a8e-a2d4-293132e4cc23","name":"numero2","value":"553129422412","type":"string"},{"id":"5ec1aea5-c25f-41c1-91f6-68470458bfa7","name":"mensagem","value":"=Oi, tudo bem?  \nTudo sim, e você?  \nEstou bem, obrigado. O que você tem feito ultimamente?  \nTenho trabalhado bastante, mas também tentando tirar um tempinho pra descansar. E você?  \nTambém estou bem ocupado com alguns projetos novos, sabe como é.  \nQue tipo de projeto?  \nEstou criando um ebook de receitas caseiras para desinchar e emagrecer.  \nNossa, isso é super interessante! O que você vai incluir nele?  \nVou colocar receitas com ingredientes naturais, como o psyllium, que é ótimo pra ajudar na digestão.  \nPsyllium? Nunca ouvi falar, o que é isso?  \nÉ uma fibra natural que vem da casca de uma semente. Ajuda muito com a sensação de saciedade e a melhorar o trânsito intestinal.  \nUau, não sabia disso. Parece ser algo bem saudável.  \nSim, é muito bom, principalmente para quem busca uma forma mais natural de cuidar da saúde.  \nE as outras receitas? Você já decidiu todas?  \nEstou quase finalizando. Estou pensando em incluir algumas bebidas detox, smoothies e até umas sopas leves.  \nIsso é incrível, adoro receitas desse tipo. Sempre estou procurando formas mais naturais de manter uma alimentação balanceada.  \nFico feliz em ouvir isso! Acho que você vai adorar as receitas. Estou tentando manter tudo bem simples e acessível.  \nIsso é ótimo, porque às vezes as receitas são complicadas demais e as pessoas acabam desistindo de fazer.  \nExato! Minha ideia é que qualquer pessoa possa fazer, mesmo quem não tem muita experiência na cozinha.  \nVocê está planejando colocar informações nutricionais também?  \nSim, quero que as pessoas saibam o que estão consumindo. Vou incluir informações sobre as calorias, proteínas e fibras, por exemplo.  \nIsso faz muita diferença. Quando você pretende lançar o ebook?  \nProvavelmente no próximo mês. Ainda estou ajustando alguns detalhes, mas já está quase pronto.  \nE como você vai fazer o lançamento? Vai divulgar nas redes sociais?  \nSim, vou usar o WhatsApp para divulgar em alguns grupos que faço parte e também nas minhas redes.  \nParece uma ótima estratégia. Muita gente está interessada em alimentação saudável hoje em dia.  \nCom certeza! Acho que as pessoas estão cada vez mais preocupadas com a saúde e buscando alternativas naturais.  \nE você sempre foi muito bom em criar esse tipo de conteúdo. Tenho certeza que vai ser um sucesso.  \nObrigado! Estou dando o meu melhor para entregar algo realmente valioso.  \nE você, tem algum projeto novo em mente?  \nEstou pensando em começar a trabalhar com algo relacionado a skincare. Estou estudando mais sobre produtos naturais para cuidar da pele.  \nAh, eu adoro skincare! E com produtos naturais, melhor ainda.  \nSim, essa é a ideia. Acho que o mercado de skincare está crescendo muito, especialmente com essa pegada mais natural.  \nConcordo totalmente. Eu mesma prefiro produtos que não têm tantos químicos, parece que a pele responde melhor.  \nExatamente! Quero criar algo que as pessoas possam usar no dia a dia sem medo de irritações ou reações adversas.  \nVocê já tem algum produto específico em mente?  \nEstou pensando em algo simples, talvez um hidratante ou uma máscara facial. Mas tudo com ingredientes que as pessoas já conhecem, como aloe vera e óleo de coco.  \nNossa, isso seria perfeito. Eu adoraria testar.  \nVou te avisar assim que tiver algo mais concreto! Estou no começo ainda, mas bem animado com as possibilidades.  \nE vai ser um produto que você mesmo vai desenvolver ou pensa em trabalhar com alguma marca já existente?  \nAinda estou decidindo. A ideia inicial era fazer algo próprio, mas estou aberto a parcerias também.  \nAs parcerias podem ser uma boa, principalmente com marcas que já têm um público fiel.  \nSim, essa é a minha linha de pensamento também. Pode facilitar bastante na hora de divulgar o produto.  \nE como você está se organizando com tudo isso? Deve ser bastante trabalho lidar com várias coisas ao mesmo tempo.  \nÉ bastante coisa mesmo, mas estou tentando manter uma rotina bem organizada. Estou usando algumas ferramentas de produtividade para me ajudar.  \nQuais ferramentas você está usando?  \nEstou usando o Notion para organizar minhas ideias e projetos. Tem sido bem útil.  \nAh, eu já ouvi falar do Notion, mas nunca usei. Ele é fácil de usar?  \nNo começo parece um pouco complexo, mas depois que você pega o jeito, ele é super versátil. Dá para organizar praticamente tudo nele.  \nInteressante! Vou dar uma olhada depois. Tenho precisado de algo assim para organizar minhas tarefas.  \nVale a pena, com certeza. Além disso, estou tentando dedicar um tempo específico para cada projeto, assim não fico tão sobrecarregado.  \nEssa é uma boa ideia. Eu também preciso me organizar melhor, às vezes sinto que estou com muita coisa ao mesmo tempo e não consigo focar.  \nEu entendo, isso acontece muito. Às vezes, o mais difícil é justamente saber onde colocar nossa energia.  \nExatamente. E quando você tem várias ideias ao mesmo tempo, fica difícil priorizar o que fazer primeiro.  \nCom certeza. O segredo é tentar fazer um planejamento semanal e se comprometer a seguir ele, mesmo que surjam imprevistos.  \nVou tentar isso. Acho que se eu planejar a semana com antecedência, consigo ser mais produtivo.  \nSim, e não precisa ser algo rígido. O importante é ter uma direção.  \nFaz sentido. Vou tentar aplicar essa estratégia a partir de amanhã.  \nIsso, comece aos poucos, e logo você vai ver a diferença.  \nEspero que sim. E você, além do ebook e do projeto de skincare, tem mais alguma coisa em mente?  \nTenho algumas ideias para o futuro, mas ainda estão bem no início. Quem sabe algo mais voltado para conteúdo digital.  \nConteúdo digital sempre tem muita demanda, né?  \nSim, especialmente agora com as redes sociais em alta. Estou pensando em criar um curso ou algo nesse sentido.  \nSobre o quê?  \nTalvez algo relacionado a hábitos saudáveis ou até sobre empreendedorismo digital.  \nEmpreendedorismo digital é uma área em que muita gente tem interesse. E você tem bastante experiência nisso.  \nPois é, acho que pode ser um bom caminho. Vou começar a esboçar algo e ver no que dá.  \nAcho uma ótima ideia! Tenho certeza de que você vai se sair super bem.  \nObrigado! E você, tem pensado em algum projeto novo para o futuro?  \nAinda não tenho nada muito claro, mas estou sempre de olho em novas oportunidades.  \nIsso é bom. Às vezes as ideias surgem quando a gente menos espera.  \nCom certeza! Vou ficar atento para não perder nenhuma chance.  \nÉ isso aí, nunca se sabe o que pode aparecer.\nOi, tudo bem?  \nTudo sim, e você?  \nEstou bem, obrigado. O que você tem feito ultimamente?  \nTenho trabalhado bastante, mas também tentando tirar um tempinho pra descansar. E você?  \nTambém estou bem ocupado com alguns projetos novos, sabe como é.  \nQue tipo de projeto?  \nEstou criando um ebook de receitas caseiras para desinchar e emagrecer.  \nNossa, isso é super interessante! O que você vai incluir nele?  \nVou colocar receitas com ingredientes naturais, como o psyllium, que é ótimo pra ajudar na digestão.  \nPsyllium? Nunca ouvi falar, o que é isso?  \nÉ uma fibra natural que vem da casca de uma semente. Ajuda muito com a sensação de saciedade e a melhorar o trânsito intestinal.  \nUau, não sabia disso. Parece ser algo bem saudável.  \nSim, é muito bom, principalmente para quem busca uma forma mais natural de cuidar da saúde.  \nE as outras receitas? Você já decidiu todas?  \nEstou quase finalizando. Estou pensando em incluir algumas bebidas detox, smoothies e até umas sopas leves.  \nIsso é incrível, adoro receitas desse tipo. Sempre estou procurando formas mais naturais de manter uma alimentação balanceada.  \nFico feliz em ouvir isso! Acho que você vai adorar as receitas. Estou tentando manter tudo bem simples e acessível.  \nIsso é ótimo, porque às vezes as receitas são complicadas demais e as pessoas acabam desistindo de fazer.  \nExato! Minha ideia é que qualquer pessoa possa fazer, mesmo quem não tem muita experiência na cozinha.  \nVocê está planejando colocar informações nutricionais também?  \nSim, quero que as pessoas saibam o que estão consumindo. Vou incluir informações sobre as calorias, proteínas e fibras, por exemplo.  \nIsso faz muita diferença. Quando você pretende lançar o ebook?  \nProvavelmente no próximo mês. Ainda estou ajustando alguns detalhes, mas já está quase pronto.  \nE como você vai fazer o lançamento? Vai divulgar nas redes sociais?  \nSim, vou usar o WhatsApp para divulgar em alguns grupos que faço parte e também nas minhas redes.  \nParece uma ótima estratégia. Muita gente está interessada em alimentação saudável hoje em dia.  \nCom certeza! Acho que as pessoas estão cada vez mais preocupadas com a saúde e buscando alternativas naturais.  \nE você sempre foi muito bom em criar esse tipo de conteúdo. Tenho certeza que vai ser um sucesso.  \nObrigado! Estou dando o meu melhor para entregar algo realmente valioso.  \nE você, tem algum projeto novo em mente?  \nEstou pensando em começar a trabalhar com algo relacionado a skincare. Estou estudando mais sobre produtos naturais para cuidar da pele.  \nAh, eu adoro skincare! E com produtos naturais, melhor ainda.  \nSim, essa é a ideia. Acho que o mercado de skincare está crescendo muito, especialmente com essa pegada mais natural.  \nConcordo totalmente. Eu mesma prefiro produtos que não têm tantos químicos, parece que a pele responde melhor.  \nExatamente! Quero criar algo que as pessoas possam usar no dia a dia sem medo de irritações ou reações adversas.  \nVocê já tem algum produto específico em mente?  \nEstou pensando em algo simples, talvez um hidratante ou uma máscara facial. Mas tudo com ingredientes que as pessoas já conhecem, como aloe vera e óleo de coco.  \nNossa, isso seria perfeito. Eu adoraria testar.  \nVou te avisar assim que tiver algo mais concreto! Estou no começo ainda, mas bem animado com as possibilidades.  \nE vai ser um produto que você mesmo vai desenvolver ou pensa em trabalhar com alguma marca já existente?  \nAinda estou decidindo. A ideia inicial era fazer algo próprio, mas estou aberto a parcerias também.  \nAs parcerias podem ser uma boa, principalmente com marcas que já têm um público fiel.  \nSim, essa é a minha linha de pensamento também. Pode facilitar bastante na hora de divulgar o produto.  \nE como você está se organizando com tudo isso? Deve ser bastante trabalho lidar com várias coisas ao mesmo tempo.  \nÉ bastante coisa mesmo, mas estou tentando manter uma rotina bem organizada. Estou usando algumas ferramentas de produtividade para me ajudar.  \nQuais ferramentas você está usando?  \nEstou usando o Notion para organizar minhas ideias e projetos. Tem sido bem útil.  \nAh, eu já ouvi falar do Notion, mas nunca usei. Ele é fácil de usar?  \nNo começo parece um pouco complexo, mas depois que você pega o jeito, ele é super versátil. Dá para organizar praticamente tudo nele.  \nInteressante! Vou dar uma olhada depois. Tenho precisado de algo assim para organizar minhas tarefas.  \nVale a pena, com certeza. Além disso, estou tentando dedicar um tempo específico para cada projeto, assim não fico tão sobrecarregado.  \nEssa é uma boa ideia. Eu também preciso me organizar melhor, às vezes sinto que estou com muita coisa ao mesmo tempo e não consigo focar.  \nEu entendo, isso acontece muito. Às vezes, o mais difícil é justamente saber onde colocar nossa energia.  \nExatamente. E quando você tem várias ideias ao mesmo tempo, fica difícil priorizar o que fazer primeiro.  \nCom certeza. O segredo é tentar fazer um planejamento semanal e se comprometer a seguir ele, mesmo que surjam imprevistos.  \nVou tentar isso. Acho que se eu planejar a semana com antecedência, consigo ser mais produtivo.  \nSim, e não precisa ser algo rígido. O importante é ter uma direção.  \nFaz sentido. Vou tentar aplicar essa estratégia a partir de amanhã.  \nIsso, comece aos poucos, e logo você vai ver a diferença.  \nEspero que sim. E você, além do ebook e do projeto de skincare, tem mais alguma coisa em mente?  \nTenho algumas ideias para o futuro, mas ainda estão bem no início. Quem sabe algo mais voltado para conteúdo digital.  \nConteúdo digital sempre tem muita demanda, né?  \nSim, especialmente agora com as redes sociais em alta. Estou pensando em criar um curso ou algo nesse sentido.  \nSobre o quê?  \nTalvez algo relacionado a hábitos saudáveis ou até sobre empreendedorismo digital.  \nEmpreendedorismo digital é uma área em que muita gente tem interesse. E você tem bastante experiência nisso.  \nPois é, acho que pode ser um bom caminho. Vou começar a esboçar algo e ver no que dá.  \nAcho uma ótima ideia! Tenho certeza de que você vai se sair super bem.  \nObrigado! E você, tem pensado em algum projeto novo para o futuro?  \nAinda não tenho nada muito claro, mas estou sempre de olho em novas oportunidades.  \nIsso é bom. Às vezes as ideias surgem quando a gente menos espera.  \nCom certeza! Vou ficar atento para não perder nenhuma chance.  \nÉ isso aí, nunca se sabe o que pode aparecer.\nOi, tudo bem?  \nTudo sim, e você?  \nEstou bem, obrigado. O que você tem feito ultimamente?  \nTenho trabalhado bastante, mas também tentando tirar um tempinho pra descansar. E você?  \nTambém estou bem ocupado com alguns projetos novos, sabe como é.  \nQue tipo de projeto?  \nEstou criando um ebook de receitas caseiras para desinchar e emagrecer.  \nNossa, isso é super interessante! O que você vai incluir nele?  \nVou colocar receitas com ingredientes naturais, como o psyllium, que é ótimo pra ajudar na digestão.  \nPsyllium? Nunca ouvi falar, o que é isso?  \nÉ uma fibra natural que vem da casca de uma semente. Ajuda muito com a sensação de saciedade e a melhorar o trânsito intestinal.  \nUau, não sabia disso. Parece ser algo bem saudável.  \nSim, é muito bom, principalmente para quem busca uma forma mais natural de cuidar da saúde.  \nE as outras receitas? Você já decidiu todas?  \nEstou quase finalizando. Estou pensando em incluir algumas bebidas detox, smoothies e até umas sopas leves.  \nIsso é incrível, adoro receitas desse tipo. Sempre estou procurando formas mais naturais de manter uma alimentação balanceada.  \nFico feliz em ouvir isso! Acho que você vai adorar as receitas. Estou tentando manter tudo bem simples e acessível.  \nIsso é ótimo, porque às vezes as receitas são complicadas demais e as pessoas acabam desistindo de fazer.  \nExato! Minha ideia é que qualquer pessoa possa fazer, mesmo quem não tem muita experiência na cozinha.  \nVocê está planejando colocar informações nutricionais também?  \nSim, quero que as pessoas saibam o que estão consumindo. Vou incluir informações sobre as calorias, proteínas e fibras, por exemplo.  \nIsso faz muita diferença. Quando você pretende lançar o ebook?  \nProvavelmente no próximo mês. Ainda estou ajustando alguns detalhes, mas já está quase pronto.  \nE como você vai fazer o lançamento? Vai divulgar nas redes sociais?  \nSim, vou usar o WhatsApp para divulgar em alguns grupos que faço parte e também nas minhas redes.  \nParece uma ótima estratégia. Muita gente está interessada em alimentação saudável hoje em dia.  \nCom certeza! Acho que as pessoas estão cada vez mais preocupadas com a saúde e buscando alternativas naturais.  \nE você sempre foi muito bom em criar esse tipo de conteúdo. Tenho certeza que vai ser um sucesso.  \nObrigado! Estou dando o meu melhor para entregar algo realmente valioso.  \nE você, tem algum projeto novo em mente?  \nEstou pensando em começar a trabalhar com algo relacionado a skincare. Estou estudando mais sobre produtos naturais para cuidar da pele.  \nAh, eu adoro skincare! E com produtos naturais, melhor ainda.  \nSim, essa é a ideia. Acho que o mercado de skincare está crescendo muito, especialmente com essa pegada mais natural.  \nConcordo totalmente. Eu mesma prefiro produtos que não têm tantos químicos, parece que a pele responde melhor.  \nExatamente! Quero criar algo que as pessoas possam usar no dia a dia sem medo de irritações ou reações adversas.  \nVocê já tem algum produto específico em mente?  \nEstou pensando em algo simples, talvez um hidratante ou uma máscara facial. Mas tudo com ingredientes que as pessoas já conhecem, como aloe vera e óleo de coco.  \nNossa, isso seria perfeito. Eu adoraria testar.  \nVou te avisar assim que tiver algo mais concreto! Estou no começo ainda, mas bem animado com as possibilidades.  \nE vai ser um produto que você mesmo vai desenvolver ou pensa em trabalhar com alguma marca já existente?  \nAinda estou decidindo. A ideia inicial era fazer algo próprio, mas estou aberto a parcerias também.  \nAs parcerias podem ser uma boa, principalmente com marcas que já têm um público fiel.  \nSim, essa é a minha linha de pensamento também. Pode facilitar bastante na hora de divulgar o produto.  \nE como você está se organizando com tudo isso? Deve ser bastante trabalho lidar com várias coisas ao mesmo tempo.  \nÉ bastante coisa mesmo, mas estou tentando manter uma rotina bem organizada. Estou usando algumas ferramentas de produtividade para me ajudar.  \nQuais ferramentas você está usando?  \nEstou usando o Notion para organizar minhas ideias e projetos. Tem sido bem útil.  \nAh, eu já ouvi falar do Notion, mas nunca usei. Ele é fácil de usar?  \nNo começo parece um pouco complexo, mas depois que você pega o jeito, ele é super versátil. Dá para organizar praticamente tudo nele.  \nInteressante! Vou dar uma olhada depois. Tenho precisado de algo assim para organizar minhas tarefas.  \nVale a pena, com certeza. Além disso, estou tentando dedicar um tempo específico para cada projeto, assim não fico tão sobrecarregado.  \nEssa é uma boa ideia. Eu também preciso me organizar melhor, às vezes sinto que estou com muita coisa ao mesmo tempo e não consigo focar.  \nEu entendo, isso acontece muito. Às vezes, o mais difícil é justamente saber onde colocar nossa energia.  \nExatamente. E quando você tem várias ideias ao mesmo tempo, fica difícil priorizar o que fazer primeiro.  \nCom certeza. O segredo é tentar fazer um planejamento semanal e se comprometer a seguir ele, mesmo que surjam imprevistos.  \nVou tentar isso. Acho que se eu planejar a semana com antecedência, consigo ser mais produtivo.  \nSim, e não precisa ser algo rígido. O importante é ter uma direção.  \nFaz sentido. Vou tentar aplicar essa estratégia a partir de amanhã.  \nIsso, comece aos poucos, e logo você vai ver a diferença.  \nEspero que sim. E você, além do ebook e do projeto de skincare, tem mais alguma coisa em mente?  \nTenho algumas ideias para o futuro, mas ainda estão bem no início. Quem sabe algo mais voltado para conteúdo digital.  \nConteúdo digital sempre tem muita demanda, né?  \nSim, especialmente agora com as redes sociais em alta. Estou pensando em criar um curso ou algo nesse sentido.  \nSobre o quê?  \nTalvez algo relacionado a hábitos saudáveis ou até sobre empreendedorismo digital.  \nEmpreendedorismo digital é uma área em que muita gente tem interesse. E você tem bastante experiência nisso.  \nPois é, acho que pode ser um bom caminho. Vou começar a esboçar algo e ver no que dá.  \nAcho uma ótima ideia! Tenho certeza de que você vai se sair super bem.  \nObrigado! E você, tem pensado em algum projeto novo para o futuro?  \nAinda não tenho nada muito claro, mas estou sempre de olho em novas oportunidades.  \nIsso é bom. Às vezes as ideias surgem quando a gente menos espera.  \nCom certeza! Vou ficar atento para não perder nenhuma chance.  \nÉ isso aí, nunca se sabe o que pode aparecer.\nOi, tudo bem?  \nTudo sim, e você?  \nEstou bem, obrigado. O que você tem feito ultimamente?  \nTenho trabalhado bastante, mas também tentando tirar um tempinho pra descansar. E você?  \nTambém estou bem ocupado com alguns projetos novos, sabe como é.  \nQue tipo de projeto?  \nEstou criando um ebook de receitas caseiras para desinchar e emagrecer.  \nNossa, isso é super interessante! O que você vai incluir nele?  \nVou colocar receitas com ingredientes naturais, como o psyllium, que é ótimo pra ajudar na digestão.  \nPsyllium? Nunca ouvi falar, o que é isso?  \nÉ uma fibra natural que vem da casca de uma semente. Ajuda muito com a sensação de saciedade e a melhorar o trânsito intestinal.  \nUau, não sabia disso. Parece ser algo bem saudável.  \nSim, é muito bom, principalmente para quem busca uma forma mais natural de cuidar da saúde.  \nE as outras receitas? Você já decidiu todas?  \nEstou quase finalizando. Estou pensando em incluir algumas bebidas detox, smoothies e até umas sopas leves.  \nIsso é incrível, adoro receitas desse tipo. Sempre estou procurando formas mais naturais de manter uma alimentação balanceada.  \nFico feliz em ouvir isso! Acho que você vai adorar as receitas. Estou tentando manter tudo bem simples e acessível.  \nIsso é ótimo, porque às vezes as receitas são complicadas demais e as pessoas acabam desistindo de fazer.  \nExato! Minha ideia é que qualquer pessoa possa fazer, mesmo quem não tem muita experiência na cozinha.  \nVocê está planejando colocar informações nutricionais também?  \nSim, quero que as pessoas saibam o que estão consumindo. Vou incluir informações sobre as calorias, proteínas e fibras, por exemplo.  \nIsso faz muita diferença. Quando você pretende lançar o ebook?  \nProvavelmente no próximo mês. Ainda estou ajustando alguns detalhes, mas já está quase pronto.  \nE como você vai fazer o lançamento? Vai divulgar nas redes sociais?  \nSim, vou usar o WhatsApp para divulgar em alguns grupos que faço parte e também nas minhas redes.  \nParece uma ótima estratégia. Muita gente está interessada em alimentação saudável hoje em dia.  \nCom certeza! Acho que as pessoas estão cada vez mais preocupadas com a saúde e buscando alternativas naturais.  \nE você sempre foi muito bom em criar esse tipo de conteúdo. Tenho certeza que vai ser um sucesso.  \nObrigado! Estou dando o meu melhor para entregar algo realmente valioso.  \nE você, tem algum projeto novo em mente?  \nEstou pensando em começar a trabalhar com algo relacionado a skincare. Estou estudando mais sobre produtos naturais para cuidar da pele.  \nAh, eu adoro skincare! E com produtos naturais, melhor ainda.  \nSim, essa é a ideia. Acho que o mercado de skincare está crescendo muito, especialmente com essa pegada mais natural.  \nConcordo totalmente. Eu mesma prefiro produtos que não têm tantos químicos, parece que a pele responde melhor.  \nExatamente! Quero criar algo que as pessoas possam usar no dia a dia sem medo de irritações ou reações adversas.  \nVocê já tem algum produto específico em mente?  \nEstou pensando em algo simples, talvez um hidratante ou uma máscara facial. Mas tudo com ingredientes que as pessoas já conhecem, como aloe vera e óleo de coco.  \nNossa, isso seria perfeito. Eu adoraria testar.  \nVou te avisar assim que tiver algo mais concreto! Estou no começo ainda, mas bem animado com as possibilidades.  \nE vai ser um produto que você mesmo vai desenvolver ou pensa em trabalhar com alguma marca já existente?  \nAinda estou decidindo. A ideia inicial era fazer algo próprio, mas estou aberto a parcerias também.  \nAs parcerias podem ser uma boa, principalmente com marcas que já têm um público fiel.  \nSim, essa é a minha linha de pensamento também. Pode facilitar bastante na hora de divulgar o produto.  \nE como você está se organizando com tudo isso? Deve ser bastante trabalho lidar com várias coisas ao mesmo tempo.  \nÉ bastante coisa mesmo, mas estou tentando manter uma rotina bem organizada. Estou usando algumas ferramentas de produtividade para me ajudar.  \nQuais ferramentas você está usando?  \nEstou usando o Notion para organizar minhas ideias e projetos. Tem sido bem útil.  \nAh, eu já ouvi falar do Notion, mas nunca usei. Ele é fácil de usar?  \nNo começo parece um pouco complexo, mas depois que você pega o jeito, ele é super versátil. Dá para organizar praticamente tudo nele.  \nInteressante! Vou dar uma olhada depois. Tenho precisado de algo assim para organizar minhas tarefas.  \nVale a pena, com certeza. Além disso, estou tentando dedicar um tempo específico para cada projeto, assim não fico tão sobrecarregado.  \nEssa é uma boa ideia. Eu também preciso me organizar melhor, às vezes sinto que estou com muita coisa ao mesmo tempo e não consigo focar.  \nEu entendo, isso acontece muito. Às vezes, o mais difícil é justamente saber onde colocar nossa energia.  \nExatamente. E quando você tem várias ideias ao mesmo tempo, fica difícil priorizar o que fazer primeiro.  \nCom certeza. O segredo é tentar fazer um planejamento semanal e se comprometer a seguir ele, mesmo que surjam imprevistos.  \nVou tentar isso. Acho que se eu planejar a semana com antecedência, consigo ser mais produtivo.  \nSim, e não precisa ser algo rígido. O importante é ter uma direção.  \nFaz sentido. Vou tentar aplicar essa estratégia a partir de amanhã.  \nIsso, comece aos poucos, e logo você vai ver a diferença.  \nEspero que sim. E você, além do ebook e do projeto de skincare, tem mais alguma coisa em mente?  \nTenho algumas ideias para o futuro, mas ainda estão bem no início. Quem sabe algo mais voltado para conteúdo digital.  \nConteúdo digital sempre tem muita demanda, né?  \nSim, especialmente agora com as redes sociais em alta. Estou pensando em criar um curso ou algo nesse sentido.  \nSobre o quê?  \nTalvez algo relacionado a hábitos saudáveis ou até sobre empreendedorismo digital.  \nEmpreendedorismo digital é uma área em que muita gente tem interesse. E você tem bastante experiência nisso.  \nPois é, acho que pode ser um bom caminho. Vou começar a esboçar algo e ver no que dá.  \nAcho uma ótima ideia! Tenho certeza de que você vai se sair super bem.  \nObrigado! E você, tem pensado em algum projeto novo para o futuro?  \nAinda não tenho nada muito claro, mas estou sempre de olho em novas oportunidades.  \nIsso é bom. Às vezes as ideias surgem quando a gente menos espera.  \nCom certeza! Vou ficar atento para não perder nenhuma chance.  \nÉ isso aí, nunca se sabe o que pode aparecer.\nOi, tudo bem?  \nTudo sim, e você?  \nEstou bem, obrigado. O que você tem feito ultimamente?  \nTenho trabalhado bastante, mas também tentando tirar um tempinho pra descansar. E você?  \nTambém estou bem ocupado com alguns projetos novos, sabe como é.  \nQue tipo de projeto?  \nEstou criando um ebook de receitas caseiras para desinchar e emagrecer.  \nNossa, isso é super interessante! O que você vai incluir nele?  \nVou colocar receitas com ingredientes naturais, como o psyllium, que é ótimo pra ajudar na digestão.  \nPsyllium? Nunca ouvi falar, o que é isso?  \nÉ uma fibra natural que vem da casca de uma semente. Ajuda muito com a sensação de saciedade e a melhorar o trânsito intestinal.  \nUau, não sabia disso. Parece ser algo bem saudável.  \nSim, é muito bom, principalmente para quem busca uma forma mais natural de cuidar da saúde.  \nE as outras receitas? Você já decidiu todas?  \nEstou quase finalizando. Estou pensando em incluir algumas bebidas detox, smoothies e até umas sopas leves.  \nIsso é incrível, adoro receitas desse tipo. Sempre estou procurando formas mais naturais de manter uma alimentação balanceada.  \nFico feliz em ouvir isso! Acho que você vai adorar as receitas. Estou tentando manter tudo bem simples e acessível.  \nIsso é ótimo, porque às vezes as receitas são complicadas demais e as pessoas acabam desistindo de fazer.  \nExato! Minha ideia é que qualquer pessoa possa fazer, mesmo quem não tem muita experiência na cozinha.  \nVocê está planejando colocar informações nutricionais também?  \nSim, quero que as pessoas saibam o que estão consumindo. Vou incluir informações sobre as calorias, proteínas e fibras, por exemplo.  \nIsso faz muita diferença. Quando você pretende lançar o ebook?  \nProvavelmente no próximo mês. Ainda estou ajustando alguns detalhes, mas já está quase pronto.  \nE como você vai fazer o lançamento? Vai divulgar nas redes sociais?  \nSim, vou usar o WhatsApp para divulgar em alguns grupos que faço parte e também nas minhas redes.  \nParece uma ótima estratégia. Muita gente está interessada em alimentação saudável hoje em dia.  \nCom certeza! Acho que as pessoas estão cada vez mais preocupadas com a saúde e buscando alternativas naturais.  \nE você sempre foi muito bom em criar esse tipo de conteúdo. Tenho certeza que vai ser um sucesso.  \nObrigado! Estou dando o meu melhor para entregar algo realmente valioso.  \nE você, tem algum projeto novo em mente?  \nEstou pensando em começar a trabalhar com algo relacionado a skincare. Estou estudando mais sobre produtos naturais para cuidar da pele.  \nAh, eu adoro skincare! E com produtos naturais, melhor ainda.  \nSim, essa é a ideia. Acho que o mercado de skincare está crescendo muito, especialmente com essa pegada mais natural.  \nConcordo totalmente. Eu mesma prefiro produtos que não têm tantos químicos, parece que a pele responde melhor.  \nExatamente! Quero criar algo que as pessoas possam usar no dia a dia sem medo de irritações ou reações adversas.  \nVocê já tem algum produto específico em mente?  \nEstou pensando em algo simples, talvez um hidratante ou uma máscara facial. Mas tudo com ingredientes que as pessoas já conhecem, como aloe vera e óleo de coco.  \nNossa, isso seria perfeito. Eu adoraria testar.  \nVou te avisar assim que tiver algo mais concreto! Estou no começo ainda, mas bem animado com as possibilidades.  \nE vai ser um produto que você mesmo vai desenvolver ou pensa em trabalhar com alguma marca já existente?  \nAinda estou decidindo. A ideia inicial era fazer algo próprio, mas estou aberto a parcerias também.  \nAs parcerias podem ser uma boa, principalmente com marcas que já têm um público fiel.  \nSim, essa é a minha linha de pensamento também. Pode facilitar bastante na hora de divulgar o produto.  \nE como você está se organizando com tudo isso? Deve ser bastante trabalho lidar com várias coisas ao mesmo tempo.  \nÉ bastante coisa mesmo, mas estou tentando manter uma rotina bem organizada. Estou usando algumas ferramentas de produtividade para me ajudar.  \nQuais ferramentas você está usando?  \nEstou usando o Notion para organizar minhas ideias e projetos. Tem sido bem útil.  \nAh, eu já ouvi falar do Notion, mas nunca usei. Ele é fácil de usar?  \nNo começo parece um pouco complexo, mas depois que você pega o jeito, ele é super versátil. Dá para organizar praticamente tudo nele.  \nInteressante! Vou dar uma olhada depois. Tenho precisado de algo assim para organizar minhas tarefas.  \nVale a pena, com certeza. Além disso, estou tentando dedicar um tempo específico para cada projeto, assim não fico tão sobrecarregado.  \nEssa é uma boa ideia. Eu também preciso me organizar melhor, às vezes sinto que estou com muita coisa ao mesmo tempo e não consigo focar.  \nEu entendo, isso acontece muito. Às vezes, o mais difícil é justamente saber onde colocar nossa energia.  \nExatamente. E quando você tem várias ideias ao mesmo tempo, fica difícil priorizar o que fazer primeiro.  \nCom certeza. O segredo é tentar fazer um planejamento semanal e se comprometer a seguir ele, mesmo que surjam imprevistos.  \nVou tentar isso. Acho que se eu planejar a semana com antecedência, consigo ser mais produtivo.  \nSim, e não precisa ser algo rígido. O importante é ter uma direção.  \nFaz sentido. Vou tentar aplicar essa estratégia a partir de amanhã.  \nIsso, comece aos poucos, e logo você vai ver a diferença.  \nEspero que sim. E você, além do ebook e do projeto de skincare, tem mais alguma coisa em mente?  \nTenho algumas ideias para o futuro, mas ainda estão bem no início. Quem sabe algo mais voltado para conteúdo digital.  \nConteúdo digital sempre tem muita demanda, né?  \nSim, especialmente agora com as redes sociais em alta. Estou pensando em criar um curso ou algo nesse sentido.  \nSobre o quê?  \nTalvez algo relacionado a hábitos saudáveis ou até sobre empreendedorismo digital.  \nEmpreendedorismo digital é uma área em que muita gente tem interesse. E você tem bastante experiência nisso.  \nPois é, acho que pode ser um bom caminho. Vou começar a esboçar algo e ver no que dá.  \nAcho uma ótima ideia! Tenho certeza de que você vai se sair super bem.  \nObrigado! E você, tem pensado em algum projeto novo para o futuro?  \nAinda não tenho nada muito claro, mas estou sempre de olho em novas oportunidades.  \nIsso é bom. Às vezes as ideias surgem quando a gente menos espera.  \nCom certeza! Vou ficar atento para não perder nenhuma chance.  \nÉ isso aí, nunca se sabe o que pode aparecer.\nOi, tudo bem?  \nTudo sim, e você?  \nEstou bem, obrigado. O que você tem feito ultimamente?  \nTenho trabalhado bastante, mas também tentando tirar um tempinho pra descansar. E você?  \nTambém estou bem ocupado com alguns projetos novos, sabe como é.  \nQue tipo de projeto?  \nEstou criando um ebook de receitas caseiras para desinchar e emagrecer.  \nNossa, isso é super interessante! O que você vai incluir nele?  \nVou colocar receitas com ingredientes naturais, como o psyllium, que é ótimo pra ajudar na digestão.  \nPsyllium? Nunca ouvi falar, o que é isso?  \nÉ uma fibra natural que vem da casca de uma semente. Ajuda muito com a sensação de saciedade e a melhorar o trânsito intestinal.  \nUau, não sabia disso. Parece ser algo bem saudável.  \nSim, é muito bom, principalmente para quem busca uma forma mais natural de cuidar da saúde.  \nE as outras receitas? Você já decidiu todas?  \nEstou quase finalizando. Estou pensando em incluir algumas bebidas detox, smoothies e até umas sopas leves.  \nIsso é incrível, adoro receitas desse tipo. Sempre estou procurando formas mais naturais de manter uma alimentação balanceada.  \nFico feliz em ouvir isso! Acho que você vai adorar as receitas. Estou tentando manter tudo bem simples e acessível.  \nIsso é ótimo, porque às vezes as receitas são complicadas demais e as pessoas acabam desistindo de fazer.  \nExato! Minha ideia é que qualquer pessoa possa fazer, mesmo quem não tem muita experiência na cozinha.  \nVocê está planejando colocar informações nutricionais também?  \nSim, quero que as pessoas saibam o que estão consumindo. Vou incluir informações sobre as calorias, proteínas e fibras, por exemplo.  \nIsso faz muita diferença. Quando você pretende lançar o ebook?  \nProvavelmente no próximo mês. Ainda estou ajustando alguns detalhes, mas já está quase pronto.  \nE como você vai fazer o lançamento? Vai divulgar nas redes sociais?  \nSim, vou usar o WhatsApp para divulgar em alguns grupos que faço parte e também nas minhas redes.  \nParece uma ótima estratégia. Muita gente está interessada em alimentação saudável hoje em dia.  \nCom certeza! Acho que as pessoas estão cada vez mais preocupadas com a saúde e buscando alternativas naturais.  \nE você sempre foi muito bom em criar esse tipo de conteúdo. Tenho certeza que vai ser um sucesso.  \nObrigado! Estou dando o meu melhor para entregar algo realmente valioso.  \nE você, tem algum projeto novo em mente?  \nEstou pensando em começar a trabalhar com algo relacionado a skincare. Estou estudando mais sobre produtos naturais para cuidar da pele.  \nAh, eu adoro skincare! E com produtos naturais, melhor ainda.  \nSim, essa é a ideia. Acho que o mercado de skincare está crescendo muito, especialmente com essa pegada mais natural.  \nConcordo totalmente. Eu mesma prefiro produtos que não têm tantos químicos, parece que a pele responde melhor.  \nExatamente! Quero criar algo que as pessoas possam usar no dia a dia sem medo de irritações ou reações adversas.  \nVocê já tem algum produto específico em mente?  \nEstou pensando em algo simples, talvez um hidratante ou uma máscara facial. Mas tudo com ingredientes que as pessoas já conhecem, como aloe vera e óleo de coco.  \nNossa, isso seria perfeito. Eu adoraria testar.  \nVou te avisar assim que tiver algo mais concreto! Estou no começo ainda, mas bem animado com as possibilidades.  \nE vai ser um produto que você mesmo vai desenvolver ou pensa em trabalhar com alguma marca já existente?  \nAinda estou decidindo. A ideia inicial era fazer algo próprio, mas estou aberto a parcerias também.  \nAs parcerias podem ser uma boa, principalmente com marcas que já têm um público fiel.  \nSim, essa é a minha linha de pensamento também. Pode facilitar bastante na hora de divulgar o produto.  \nE como você está se organizando com tudo isso? Deve ser bastante trabalho lidar com várias coisas ao mesmo tempo.  \nÉ bastante coisa mesmo, mas estou tentando manter uma rotina bem organizada. Estou usando algumas ferramentas de produtividade para me ajudar.  \nQuais ferramentas você está usando?  \nEstou usando o Notion para organizar minhas ideias e projetos. Tem sido bem útil.  \nAh, eu já ouvi falar do Notion, mas nunca usei. Ele é fácil de usar?  \nNo começo parece um pouco complexo, mas depois que você pega o jeito, ele é super versátil. Dá para organizar praticamente tudo nele.  \nInteressante! Vou dar uma olhada depois. Tenho precisado de algo assim para organizar minhas tarefas.  \nVale a pena, com certeza. Além disso, estou tentando dedicar um tempo específico para cada projeto, assim não fico tão sobrecarregado.  \nEssa é uma boa ideia. Eu também preciso me organizar melhor, às vezes sinto que estou com muita coisa ao mesmo tempo e não consigo focar.  \nEu entendo, isso acontece muito. Às vezes, o mais difícil é justamente saber onde colocar nossa energia.  \nExatamente. E quando você tem várias ideias ao mesmo tempo, fica difícil priorizar o que fazer primeiro.  \nCom certeza. O segredo é tentar fazer um planejamento semanal e se comprometer a seguir ele, mesmo que surjam imprevistos.  \nVou tentar isso. Acho que se eu planejar a semana com antecedência, consigo ser mais produtivo.  \nSim, e não precisa ser algo rígido. O importante é ter uma direção.  \nFaz sentido. Vou tentar aplicar essa estratégia a partir de amanhã.  \nIsso, comece aos poucos, e logo você vai ver a diferença.  \nEspero que sim. E você, além do ebook e do projeto de skincare, tem mais alguma coisa em mente?  \nTenho algumas ideias para o futuro, mas ainda estão bem no início. Quem sabe algo mais voltado para conteúdo digital.  \nConteúdo digital sempre tem muita demanda, né?  \nSim, especialmente agora com as redes sociais em alta. Estou pensando em criar um curso ou algo nesse sentido.  \nSobre o quê?  \nTalvez algo relacionado a hábitos saudáveis ou até sobre empreendedorismo digital.  \nEmpreendedorismo digital é uma área em que muita gente tem interesse. E você tem bastante experiência nisso.  \nPois é, acho que pode ser um bom caminho. Vou começar a esboçar algo e ver no que dá.  \nAcho uma ótima ideia! Tenho certeza de que você vai se sair super bem.  \nObrigado! E você, tem pensado em algum projeto novo para o futuro?  \nAinda não tenho nada muito claro, mas estou sempre de olho em novas oportunidades.  \nIsso é bom. Às vezes as ideias surgem quando a gente menos espera.  \nCom certeza! Vou ficar atento para não perder nenhuma chance.  \nÉ isso aí, nunca se sabe o que pode aparecer.\nOi, tudo bem?  \nTudo sim, e você?  \nEstou bem, obrigado. O que você tem feito ultimamente?  \nTenho trabalhado bastante, mas também tentando tirar um tempinho pra descansar. E você?  \nTambém estou bem ocupado com alguns projetos novos, sabe como é.  \nQue tipo de projeto?  \nEstou criando um ebook de receitas caseiras para desinchar e emagrecer.  \nNossa, isso é super interessante! O que você vai incluir nele?  \nVou colocar receitas com ingredientes naturais, como o psyllium, que é ótimo pra ajudar na digestão.  \nPsyllium? Nunca ouvi falar, o que é isso?  \nÉ uma fibra natural que vem da casca de uma semente. Ajuda muito com a sensação de saciedade e a melhorar o trânsito intestinal.  \nUau, não sabia disso. Parece ser algo bem saudável.  \nSim, é muito bom, principalmente para quem busca uma forma mais natural de cuidar da saúde.  \nE as outras receitas? Você já decidiu todas?  \nEstou quase finalizando. Estou pensando em incluir algumas bebidas detox, smoothies e até umas sopas leves.  \nIsso é incrível, adoro receitas desse tipo. Sempre estou procurando formas mais naturais de manter uma alimentação balanceada.  \nFico feliz em ouvir isso! Acho que você vai adorar as receitas. Estou tentando manter tudo bem simples e acessível.  \nIsso é ótimo, porque às vezes as receitas são complicadas demais e as pessoas acabam desistindo de fazer.  \nExato! Minha ideia é que qualquer pessoa possa fazer, mesmo quem não tem muita experiência na cozinha.  \nVocê está planejando colocar informações nutricionais também?  \nSim, quero que as pessoas saibam o que estão consumindo. Vou incluir informações sobre as calorias, proteínas e fibras, por exemplo.  \nIsso faz muita diferença. Quando você pretende lançar o ebook?  \nProvavelmente no próximo mês. Ainda estou ajustando alguns detalhes, mas já está quase pronto.  \nE como você vai fazer o lançamento? Vai divulgar nas redes sociais?  \nSim, vou usar o WhatsApp para divulgar em alguns grupos que faço parte e também nas minhas redes.  \nParece uma ótima estratégia. Muita gente está interessada em alimentação saudável hoje em dia.  \nCom certeza! Acho que as pessoas estão cada vez mais preocupadas com a saúde e buscando alternativas naturais.  \nE você sempre foi muito bom em criar esse tipo de conteúdo. Tenho certeza que vai ser um sucesso.  \nObrigado! Estou dando o meu melhor para entregar algo realmente valioso.  \nE você, tem algum projeto novo em mente?  \nEstou pensando em começar a trabalhar com algo relacionado a skincare. Estou estudando mais sobre produtos naturais para cuidar da pele.  \nAh, eu adoro skincare! E com produtos naturais, melhor ainda.  \nSim, essa é a ideia. Acho que o mercado de skincare está crescendo muito, especialmente com essa pegada mais natural.  \nConcordo totalmente. Eu mesma prefiro produtos que não têm tantos químicos, parece que a pele responde melhor.  \nExatamente! Quero criar algo que as pessoas possam usar no dia a dia sem medo de irritações ou reações adversas.  \nVocê já tem algum produto específico em mente?  \nEstou pensando em algo simples, talvez um hidratante ou uma máscara facial. Mas tudo com ingredientes que as pessoas já conhecem, como aloe vera e óleo de coco.  \nNossa, isso seria perfeito. Eu adoraria testar.  \nVou te avisar assim que tiver algo mais concreto! Estou no começo ainda, mas bem animado com as possibilidades.  \nE vai ser um produto que você mesmo vai desenvolver ou pensa em trabalhar com alguma marca já existente?  \nAinda estou decidindo. A ideia inicial era fazer algo próprio, mas estou aberto a parcerias também.  \nAs parcerias podem ser uma boa, principalmente com marcas que já têm um público fiel.  \nSim, essa é a minha linha de pensamento também. Pode facilitar bastante na hora de divulgar o produto.  \nE como você está se organizando com tudo isso? Deve ser bastante trabalho lidar com várias coisas ao mesmo tempo.  \nÉ bastante coisa mesmo, mas estou tentando manter uma rotina bem organizada. Estou usando algumas ferramentas de produtividade para me ajudar.  \nQuais ferramentas você está usando?  \nEstou usando o Notion para organizar minhas ideias e projetos. Tem sido bem útil.  \nAh, eu já ouvi falar do Notion, mas nunca usei. Ele é fácil de usar?  \nNo começo parece um pouco complexo, mas depois que você pega o jeito, ele é super versátil. Dá para organizar praticamente tudo nele.  \nInteressante! Vou dar uma olhada depois. Tenho precisado de algo assim para organizar minhas tarefas.  \nVale a pena, com certeza. Além disso, estou tentando dedicar um tempo específico para cada projeto, assim não fico tão sobrecarregado.  \nEssa é uma boa ideia. Eu também preciso me organizar melhor, às vezes sinto que estou com muita coisa ao mesmo tempo e não consigo focar.  \nEu entendo, isso acontece muito. Às vezes, o mais difícil é justamente saber onde colocar nossa energia.  \nExatamente. E quando você tem várias ideias ao mesmo tempo, fica difícil priorizar o que fazer primeiro.  \nCom certeza. O segredo é tentar fazer um planejamento semanal e se comprometer a seguir ele, mesmo que surjam imprevistos.  \nVou tentar isso. Acho que se eu planejar a semana com antecedência, consigo ser mais produtivo.  \nSim, e não precisa ser algo rígido. O importante é ter uma direção.  \nFaz sentido. Vou tentar aplicar essa estratégia a partir de amanhã.  \nIsso, comece aos poucos, e logo você vai ver a diferença.  \nEspero que sim. E você, além do ebook e do projeto de skincare, tem mais alguma coisa em mente?  \nTenho algumas ideias para o futuro, mas ainda estão bem no início. Quem sabe algo mais voltado para conteúdo digital.  \nConteúdo digital sempre tem muita demanda, né?  \nSim, especialmente agora com as redes sociais em alta. Estou pensando em criar um curso ou algo nesse sentido.  \nSobre o quê?  \nTalvez algo relacionado a hábitos saudáveis ou até sobre empreendedorismo digital.  \nEmpreendedorismo digital é uma área em que muita gente tem interesse. E você tem bastante experiência nisso.  \nPois é, acho que pode ser um bom caminho. Vou começar a esboçar algo e ver no que dá.  \nAcho uma ótima ideia! Tenho certeza de que você vai se sair super bem.  \nObrigado! E você, tem pensado em algum projeto novo para o futuro?  \nAinda não tenho nada muito claro, mas estou sempre de olho em novas oportunidades.  \nIsso é bom. Às vezes as ideias surgem quando a gente menos espera.  \nCom certeza! Vou ficar atento para não perder nenhuma chance.  \nÉ isso aí, nunca se sabe o que pode aparecer.\nSHREK\nEra uma vez uma linda\nPrincesa. Mas ela tinha um encantamento\nsobre ela de um tipo terrível que poderia\nsó ser quebrado pelo primeiro beijo do amor.\nEla foi trancada em um castelo guardado\npor um terrível dragão cuspidor de fogo.\nMuitos bravos cavaleiros tentaram\nlibertá-la desta terrível prisão,\nmas não prevaleceu. Ela esperou no\nfortaleza do dragão na sala mais alta de\na torre mais alta para seu verdadeiro amor\ne o primeiro beijo do amor verdadeiro. (risos)\nComo se isso fosse acontecer. o que\numa carga de - (descarga do vaso sanitário)\n\nAllstar - por Smashmouth começa a tocar. Shrek continua sua\ndia. Enquanto em uma cidade próxima, os moradores se reúnem para ir\ndepois do ogro.\n\nNOITE - PERTO DA CASA DE SHREK\n\nMAN1\nAcha que está lá?\n\nMAN2\nTudo bem. Vamos obtê-lo!\n\nMAN1\nUau. Aguentar. Você sabe o que isso\ncoisa pode fazer com você?\n\nMAN3\nSim, vai moer seus ossos por isso\npão.\n\nShrek se esgueira por trás deles e ri.\n\nSHREK\nSim, bem, na verdade, isso seria um\ngigante. Agora, ogros, oh, eles são muito piores.\nEles vão fazer um terno de seu recém-\npele descascada.\n\nHOMENS\nNão!\n\nSHREK\nEles vão raspar seu fígado. Aperte o\ngeléia de seus olhos! Na verdade, é\nmuito bom em torradas.\n\nMAN1\nDe volta! De volta, fera! De volta! Eu te aviso!\n(acena a tocha para Shrek.)\n\nShrek calmamente lambe os dedos e apaga a tocha. o\nos homens se afastam dele. Shrek ruge muito alto e longo\ne sua respiração extingue todas as tochas restantes até que o\nos homens estão no escuro.\n\nSHREK\nEsta é a parte em que você foge.\n(Os homens correm para fugir. Ele ri.)\nE fique de fora! (olha para baixo e pega\naté um pedaço de papel. Lê.) \"Procurado.\nCriaturas de contos de fadas.\" (Ele suspira e\njoga o papel por cima do ombro.)\n\n\nO PRÓXIMO DIA\n\nHá uma linha de criaturas de contos de fadas. O chefe da guarda\nsenta em uma mesa pagando as pessoas por trazerem as criaturas dos contos de fadas\npara ele. Há gaiolas ao redor. Algumas das pessoas na fila\nsão Peter Pan, que está carregando Sininho em uma gaiola, Gipetto\nque está carregando Pinóquio, e um fazendeiro que está carregando os três\npequenos porcos.\n\nGUARDA\nTudo bem. Este está cheio. Pegue\num jeito! Mova-o junto. Vamos! Levante-se!\n\n\nPROTETOR DE CABEÇA\nPróximo!\n\nGUARDA\n(pegando a vassoura de bruxa) Dá-me isso!\nSeus dias de vôo acabaram. (quebra o\nvassoura ao meio)\n\nPROTETOR DE CABEÇA\nSão 20 moedas de prata para a bruxa.\nPróximo!\n\nGUARDA\nLevante-se! Vamos!\n\nPROTETOR DE CABEÇA\nVinte peças.\n\nURSINHO\n(chorando) Esta gaiola é muito pequena.\n\nBURRO\nPor favor, não me entregue. Eu nunca vou\nser teimoso novamente. Eu posso mudar. Por favor!\nMe dê outra chance!\n\nVELHA\nAh, cale a boca. (empurra a corda)\n\nBURRO\nOh!\n\nPROTETOR DE CABEÇA\nPróximo! O que voce conseguiu?\n\nGIPETTO\nEste pequeno boneco de madeira.\n\nPINÓQUIO\nEu não sou um fantoche. Eu sou um menino de verdade. (seu\nnariz cresce)\n\nPROTETOR DE CABEÇA\nCinco xelins pelo brinquedo possuído.\nLeve-o embora.\n\nPINÓQUIO\nPai, por favor! Não os deixe fazer isso!\nAjude-me!\n\nGipetto pega o dinheiro e vai embora. A velha avança\npara a mesa.\n\nPROTETOR DE CABEÇA\nPróximo! O que voce conseguiu?\n\nVELHA\nBem, eu tenho um burro falante.\n\nPROTETOR DE CABEÇA\nCerto. Bem, isso é bom para dez xelins,\nse você puder provar isso.\n\nVELHA\nOh, vá em frente, amiguinho.\n\nBurro apenas olha para ela.\n\nPROTETOR DE CABEÇA\nNós iremos?\n\nVELHA\nOh, oh, ele é apenas... ele é apenas um pouco\nnervoso. Ele é realmente um tagarela.\nFale, seu idiota cabeça-dura...\n\nPROTETOR DE CABEÇA\nÉ isso. Já ouvi o suficiente. Guardas!\n\n\nVELHA\nNão, não, ele fala! Ele faz. (finge\nser Burro) eu posso falar. eu amo\nconversa. Eu sou a coisa mais falante\nvocê já viu.\n\nPROTETOR DE CABEÇA\nTire-a da minha vista.\n\nVELHA\nNão não! Juro! Oh! Ele pode falar!\n\nOs guardas agarram a velha e ela luta com eles. Um\nde suas pernas voa para fora e chuta Sininho para fora do Peter Pan\nmãos, e sua gaiola cai na cabeça do Burro. Ele fica aspergido\ncom pó de fada e ele é capaz de voar.\n\nBURRO\nEi! Eu posso voar!\n\nPETER PAN\nEle pode voar!\n\n3 PORQUINHOS\nEle pode voar!\n\nPROTETOR DE CABEÇA\nEle pode falar!\n\nBURRO\nHá, há! Isso mesmo, idiota! Agora eu sou\num burro voador e falante. Você pode\nvi uma mosca doméstica, talvez até uma supermosca\nmas eu aposto que você nunca viu um burro\nvoe. Há, há! (o pó mágico começa\npara se desgastar) Uh-oh. (ele começa a afundar\npara o chão.)\n\nEle bate no chão com um baque.\n\nPROTETOR DE CABEÇA\nAproveite-o! (O burro começa a correr.)\nDepois dele!\n\nGUARDAS\nEle está fugindo! Pegue ele! Deste jeito!\nVirar!\n\nBurro continua correndo e ele finalmente encontra Shrek. Literalmente.\nShrek se vira para ver quem esbarrou nele. Burro parece assustado\npor um momento, ele vê os guardas vindo pelo caminho. Ele\nrapidamente se esconde atrás de Shrek.\n\nPROTETOR DE CABEÇA\nVocê aí. Ogro!\n\nSHREK\nSim?\n\nPROTETOR DE CABEÇA\nPor ordem de Lord Farquaad estou autorizado\npara colocá-lo tanto sob prisão e transporte\nvocê a uma instalação de reassentamento designada.\n\n\nSHREK\nOh sério? Você e que exército?\n\nEle olha para trás do guarda e o guarda se vira para olhar também\ne vemos que os outros homens fugiram. O guarda dobra o rabo\ne foge. Shrek ri e volta para seus negócios e\ncomeça a caminhar de volta para sua casa.\n\nBURRO\nPosso te dizer uma coisa? Ouço,\nvocê era realmente, realmente, realmente algo\nde volta aqui. Incrível!\n\nSHREK\nVocê está falando com... (ele se vira\ne Burro se foi) eu? (ele volta\nao redor e Burro está bem na frente\ndele.) Uau!\n\nBURRO\nSim. Eu estava falando com você. Posso dizer\nvocê que você que você foi ótimo de volta\naqui? Esses guardas! Eles pensaram que\nfoi tudo isso. Então você apareceu,\ne bam! Eles estavam tropeçando em si mesmos\ncomo bebês na floresta. Isso realmente\nme fez sentir bem em ver isso.\n\nSHREK\nOh isso é ótimo. Sério.\n\nBURRO\nCara, é bom ser livre.\n\nSHREK\nAgora, por que você não vai comemorar o seu\nliberdade com seus próprios amigos? Hum?\n\n\nBURRO\nMas, uh, eu não tenho nenhum amigo. E\nEu não vou lá fora sozinho. Ei,\nespere um minuto! Tive uma ótima ideia! Eu vou\nficar com você. Você é mau, verde,\nmáquina de luta. Juntos vamos assustar\no cuspe de qualquer um que cruze\nnós.\n\nShrek se vira e olha Burro por um momento antes de rugir muito\nruidosamente.\n\nBURRO\nUau! Isso foi realmente assustador. Se você\nnão se importe que eu diga, se isso não acontecer\ntrabalho, sua respiração certamente vai ficar\no trabalho feito, porque você definitivamente\npreciso de alguns Tic Tacs ou algo assim, porque\nseu hálito fede! Você quase queimou\no cabelo do meu nariz, assim como o\ntempo... (Shrek cobre a boca, mas Burro\ncontinua a falar, então Shrek remove\nsua mão.) ... então eu comi alguns podres\nbagas. Eu tive gases fortes vazando\nfora da minha bunda naquele dia.\n\nSHREK\nPor que você está me seguindo?\n\nBURRO\nEu vou te dizer por quê. (cantando) Porque\nEstou sozinho, não há ninguém aqui ao lado\neu, meus problemas todos se foram, há\nninguém para me ridicularizar, mas você tem que ter\nfé...\n\nSHREK\nPára de cantar! Não é de admirar que você não\ntem algum amigo.\n\nBURRO\nUau. Só um verdadeiro amigo seria isso\ncruelmente honesto.\n\nSHREK\nOuça, burrinho. Dê uma olhada\nEu. O que eu sou?\n\nBURRO\n(olha todo o caminho para Shrek) Uh ... realmente\nalta?\n\nSHREK\nNão! Eu sou um ogro! Você sabe. \"Pegue seu\ntocha e forcados.\" Não é isso\nincomodá-lo?\n\nBURRO\nNão.\n\nSHREK\nSério?\n\nBURRO\nSério sério.\n\nSHREK\nOh.\n\nBURRO\nCara, eu gosto de você. Qual é o seu nome?\n\nSHREK\nAh, Shrek.\n\nBURRO\nShrek? Bem, você sabe o que eu gosto sobre\nvocê, Shrek? Você tem aquele tipo de eu-não-me importo-o-que-ninguém-pensa-de-mim\ncoisa. Eu gosto disso. Eu respeito isso,\nShrek. Você está bem. (Eles vêm\numa colina e você pode ver a cabana de Shrek.)\nUau! Olhe para isso. Quem gostaria de viver\nno lugar assim?\n\nSHREK\nEssa seria a minha casa.\n\nBURRO\nOh! E é adorável! Apenas bonita.\nVocê sabe que é um grande decorador.\nÉ incrível o que você fez com tal\num orçamento modesto. Eu gosto daquele pedregulho.\nEssa é uma bela pedra. eu acho que você\nnão entretém muito, não é?\n\nSHREK\nEu gosto da minha privacidade.\n\nBURRO\nSabe, eu também. Isso é outra coisa\ntemos em comum. Como eu odeio quando\nvocê tem alguém na sua cara. Você tem\ntentando dar-lhes uma dica, e eles\nnão vai sair. Há aquele silêncio constrangedor.\n(silêncio constrangedor) Posso ficar com você?\n\n\nSHREK\nUh o quê?\n\nBURRO\nPosso ficar com você, por favor?\n\nSHREK\n(sarcasticamente) Claro!\n\nBURRO\nSério?\n\nSHREK\nNão.\n\nBURRO\nPor favor! Eu não quero voltar lá!\nVocê não sabe como é ser\nconsiderado uma aberração. (pausa enquanto ele\nolha para Shrek) Bem, talvez sim.\nMas é por isso que temos que ficar juntos.\nVocê tem que me deixar ficar! Por favor! Por favor!\n\n\nSHREK\nOk! Ok! Mas uma noite apenas.\n\nBURRO\nAh! Obrigada! (ele corre para dentro da cabana)\n\n\nSHREK\nO que você está...? (O burro salta para\numa cadeira.) Não! Não!\n\nBURRO\nIsso vai ser divertido! Podemos ficar acordados\ntarde, trocando histórias viris, e em\nde manhã estou fazendo waffles.\n\nSHREK\nOh!\n\nBURRO\nOnde, uh, eu durmo?\n\nSHREK\n(irritado) Lá fora!\n\nBURRO\nOh, bem, eu acho que é legal. Quero dizer,\nEu não te conheço, e você não sabe\neu, então acho que fora é melhor, você\nconhecer. Aqui vou eu. Boa noite. (Shrek\nbate a porta.) (suspiro) Quer dizer, eu faço\ncomo o ar livre. Eu sou um burro. Eu era\nnascido fora. eu vou estar apenas sentado por\nme fora, eu acho, você sabe. Por\neu mesmo, fora. eu estou sozinho... há\nninguém aqui ao meu lado...\n\nCASA DO SHREK - NOITE\n\nShrek está se preparando para o jantar. Ele se senta e acende\numa vela feita de cera de ouvido. Ele começa a comer quando ouve um\nruído. Ele se levanta com um huff.\n\nSHREK\n(para Burro) Eu pensei que eu te disse para\nfique do lado de fora.\n\nBURRO\n(da janela) Estou do lado de fora.\n\nHá outro barulho e Shrek se vira para encontrar a pessoa que\nfez o barulho. Ele vê várias sombras se movendo. Ele finalmente se transforma\ne vê 3 ratos cegos em sua mesa.\n\nRATO CEGO1\nBem, senhores, está muito longe do\nfazenda, mas que escolha temos?\n\n\nRATO CEGO 2\nNão é casa, mas vai ficar bem.\n\n\nGORDO\n(pulando em uma lesma) Que cama linda.\n\n\nSHREK\nEntendi. (Pega um mouse, mas ele escapa\ne cai em seu ombro.)\n\nGORDO\nEncontrei um pouco de queijo. (morde o Shrek\norelha)\n\nSHREK\nAi!\n\nGORDO\nBlá! Coisas horríveis.\n\nRATO CEGO1\nÉ você, Gordo?\n\nGORDO\nComo você sabia?\n\nSHREK\nO suficiente! (ele pega os 3 ratos) O que são\nvocê está fazendo na minha casa? (Ele é atropelado\npor trás e ele deixa cair os ratos.)\nEi! (ele se vira e vê os Sete Anões\ncom a Branca de Neve na mesa.) Ah, não,\nnão não. Morto fora da mesa.\n\n\nANÃO\nOnde devemos colocá-la? o\ncama está tomada.\n\nSHREK\nHuh?\n\nShrek vai até o quarto e abre a cortina.\nO Lobo Mau está sentado na cama. O lobo apenas olha\ndele.\n\nLOBO MAU\nO que?\n\nLAPSO DE TEMPO\n\nShrek agora tem o Lobo Mau pela gola e está arrastando\nele para a porta da frente.\n\nSHREK\nEu moro em um pântano. Eu coloquei sinais. Eu estou\num ogro aterrorizante! O que eu tenho que\nobter um pouco de privacidade? (Ele abre o\nporta da frente para jogar o lobo fora e\nele vê que todas as Fadas coletadas\nAs Criaturas do Conto estão em sua terra.) Oh,\nnão. Não! Não!\n\nOs 3 ursos estão sentados ao redor do fogo, o flautista está tocando seu\ncachimbo e os ratos estão todos correndo para ele, alguns elfos estão dirigindo\ntráfego aéreo para que as fadas e bruxas possam pousar...etc.\n\n\nSHREK\nO que você está fazendo no meu pântano? (isto\necoa e todos ficam em silêncio.)\n\n\nSuspiros são ouvidos por toda parte. As 3 fadas boas se escondem dentro de um\nbarraca.\n\nSHREK\nTudo bem, saia daqui. Todos vocês,\nMova isso! Vamos! Vamos lá! Hapaya!\nHapaya! Ei! Rapidamente. Vamos! (mais\nanões correm para dentro de casa) Não, não!\nNão não. Não está lá. Não está lá. (elas\nfeche a porta nele) Oh! (vira para\nolha Burro)\n\nBURRO\nEi, não olhe para mim. eu não convidei\neles.\n\nPINÓQUIO\nOh, Deus, ninguém nos convidou.\n\nSHREK\nO que?\n\nPINÓQUIO\nFomos obrigados a vir aqui.\n\nSHREK\n(espantado) Por quem?\n\nPEQUENO PORCO\nSenhor Farquaad. Ele bufou e ele bufou\ne ele... assinou um aviso de despejo.\n\n\nSHREK\n(suspiro pesado) Tudo bem. Quem sabe onde\nesse cara Farquaad é?\n\nTodos se olham, mas ninguém responde.\n\nBURRO\nAh, eu sei. Eu sei onde ele está.\n\nSHREK\nAlguém mais sabe onde encontrar\ndele? Qualquer um?\n\nBURRO\nEu! Eu!\n\nSHREK\nAlguém?\n\nBURRO\nOh! Ah, me escolha! Oh eu sei! Eu sei!\nEu, eu!\n\nSHREK\n(suspiro) Ok, tudo bem. Atenção, todas as fadas\ncoisas de conto. Não fique confortável.\nSuas boas-vindas estão oficialmente esgotadas.\nNa verdade, eu vou ver esse cara Farquaad\nagora e tirar todos da minha terra\ne de volta de onde você veio! (Pausa.\nEntão a multidão vai à loucura.) Oh! (para Burro)\nVocê! Você vem comigo.\n\nBURRO\nTudo bem, isso é o que eu gosto de ouvir,\ncara. Shrek e Burro, dois robustos\namigos, em uma cidade grande turbilhão\naventura. Eu amo isso!\n\nBURRO\n(cantando) Na estrada novamente. Cante isso\ncomigo, Shrek. Eu não posso esperar para obter\nNa estrada novamente.\n\nSHREK\nO que eu disse sobre cantar?\n\nBURRO\nPosso assobiar?\n\nSHREK\nNão.\n\nBURRO\nPosso cantarolar?\n\nSHREK\nTudo bem, cantarolar.\n\nBurro começa a cantarolar 'On the Road Again'.\n\nDULOC - COZINHA\n\nUm homem mascarado está torturando o Gingerbread Man. Ele está continuamente\nmergulhando-o em um copo de leite. Lord Farquaad entra.\n\nFARQUAAD\nÉ o bastante. Ele está pronto para falar.\n\n\nO Gingerbread Man é retirado do leite e derrubado\nem uma assadeira. Farquaad ri enquanto caminha até o\ntabela. Porém quando ele chega na mesa vemos que vai\naté os olhos. Ele limpa a garganta e a mesa é abaixada.\n\n\nFARQUAAD\n(ele pega as pernas do Gingerbread Man\ne brinca com eles) Corra, corra, corra,\no mais rápido que puder. Você não pode pegar\nEu. Eu sou o homem-biscoito.\n\nHOMEM DE GENGIBRE\nVocê é um monstro.\n\nFARQUAAD\nEu não sou o monstro aqui. Tu es. Você\ne o resto daquele lixo de conto de fadas,\nenvenenando meu mundo perfeito. Agora, diga\nEu! Onde estão os outros?\n\nHOMEM DE GENGIBRE\nComa-me! (Ele cospe leite na boca de Farquaad\nolho.)\n\nFARQUAAD\nTentei ser justo com vocês, criaturas.\nAgora minha paciência chegou ao fim!\nDiga-me ou eu vou... (ele faz como se\npuxe os botões do Gingerbread Man)\n\n\nHOMEM DE GENGIBRE\nNão, não, não os botões. Não é minha goma\nbotões.\n\nFARQUAAD\nTudo bem então. Quem os está escondendo?\n\n\nHOMEM DE GENGIBRE\nOk, eu vou te dizer. Voce sabe o\nhomem muffin?\n\nFARQUAAD\nO homem do muffin?\n\nHOMEM DE GENGIBRE\nO homem dos bolinhos.\n\nFARQUAAD\nSim, eu conheço o homem muffin, que vive\nem Drury Lane?\n\nHOMEM DE GENGIBRE\nBem, ela é casada com o homem dos bolinhos.\n\n\nFARQUAAD\nO homem do muffin?\n\nHOMEM DE GENGIBRE\nO homem muffin!\n\nFARQUAAD\nEla é casada com o homem muffin.\n\nA porta se abre e o guarda-chefe entra.\n\nPROTETOR DE CABEÇA\nMeu Senhor! Nós achamos.\n\nFARQUAAD\nEntão o que você está esperando? Trazer\nem.\n\nMais guardas entram carregando algo que está coberto por um lençol.\nEles desligam o que quer que seja e removem o lençol. É a Magia\nEspelho.\n\nHOMEM DE GENGIBRE\n(com admiração) Ahhhh...\n\nFARQUAAD\nEspelho mágico...\n\nHOMEM DE GENGIBRE\nNão diga nada a ele! (Escolhas do Farquaad\nele e joga ele em uma lata de lixo\ncom tampa.) Não!\n\nFARQUAAD\nTarde. Espelho, espelho na parede.\nEste não é o reino mais perfeito\nde todos eles?\n\nESPELHO\nBem, tecnicamente você não é um rei.\n\n\nFARQUAAD\nAh, Thelonius. (Thelonius levanta um\nespelho de mão e o esmaga com seu\npunho.) Você estava dizendo?\n\nESPELHO\nO que quero dizer é que você ainda não é um rei.\nMas você pode se tornar um. Tudo o que tens\nfazer é casar com uma princesa.\n\nFARQUAAD\nProssiga.\n\nESPELHO\n(ri nervosamente) Então, apenas sente-se\ne relaxe, meu senhor, porque é hora\npara você conhecer as solteiras elegíveis de hoje.\nE aqui estão eles! Número de despedida de solteira\num é um recluso mentalmente abusado de\num reino muito, muito distante. Ela gosta de sushi\ne banheira de hidromassagem a qualquer momento. Seus hobbies\nincluem cozinhar e limpar para ela\nduas irmãs más. Por favor, dê as boas-vindas à Cinderela.\n(mostra a foto da Cinderela) Bachelorette\nnúmero dois é uma garota vestindo capa de\na terra da fantasia. Embora ela viva\ncom sete outros homens, ela não é fácil.\nApenas beije seus lábios mortos e congelados e\ndescobrir o que um fio vivo ela é. Venha\nsobre. Desista da Branca de Neve! (mostra\nfoto da Branca de Neve) E por último, mas\ncertamente não é o último, número de despedida de solteira\ntrês é uma ruiva ardente de um dragão guardado\ncastelo cercado por lava fervente!\nMas não deixe que isso te esfrie. Ela é\numa pistola carregada que gosta de pina colads\ne ser pego pela chuva. Seu\npara o resgate, princesa Fiona! (Mostra\nfoto da princesa Fiona) Assim será\nser solteira número um, solteira\nnúmero dois ou despedida de solteira número três?\n\n\nGUARDAS\nDois! Dois! Três! Três! Dois! Dois! Três!\n\n\nFARQUAAD\nTrês? Um? Três?\n\nTELÔNIO\nTrês! (levanta 2 dedos) Escolha o número\ntrês, meu senhor!\n\nFARQUAAD\nOk, ok, uh, número três!\n\nESPELHO\nLord Farquaad, você escolheu a princesa\nFiona.\n\nFARQUAAD\nPrincesa Fiona. Ela é perfeita. Tudo que eu\ntem que fazer é encontrar alguém que\npoder ir...\n\nESPELHO\nMas eu provavelmente deveria mencionar o pequeno\ncoisa que acontece à noite.\n\nFARQUAAD\nEu vou fazer isso.\n\nESPELHO\nSim, mas depois do pôr do sol...\n\nFARQUAAD\nSilêncio! vou fazer essa princesa Fiona\nminha rainha, e DuLoc finalmente terá\no rei perfeito! Capitão, monte\nseus melhores homens. Nós vamos ter\num torneio. (sorri maliciosamente)\n\nEstacionamento DuLoc - Seção Lancelot\n\nShrek e Burro saem do campo que fica ao lado do estacionamento\nmuito. O castelo em si tem cerca de 40 andares.\n\nBURRO\nMas é isso. É isso aí.\nIsso é DuLoc. Eu disse que iria encontrá-lo.\n\n\nSHREK\nEntão, deve ser o castelo do Lorde Farquaad.\n\n\nBURRO\nUh-uh. Esse é o lugar.\n\nSHREK\nVocê acha que talvez ele esteja compensando\npara algo? (Ele ri, mas então\ngeme quando Burro não entende a piada.\nEle continua andando pelo estacionamento\nmuito.)\n\nBURRO\nEi, espere. Espere, Shrek.\n\nCARA\nDepressa, querida. Estamos atrasados. Pressa.\n\n\nSHREK\nEi você! (O atendente, que está vestindo\numa cabeça gigante que se parece com Lord Farquaad,\ngrita e começa a correr pela\nfileiras de corda para chegar ao portão da frente\npara fugir de Shrek.) Espere um segundo.\nOlha, eu não vou comer você. Eu acabei de\n- - Eu só - - (Ele suspira e então começa\nandando direto pelas fileiras. o\natendente esbarra em uma parede e cai\nbaixa. Shrek e Burro olham para ele então\ncontinue em DuLoc.)\n\nDULO\n\nEles olham em volta, mas tudo está quieto.\n\nSHREK\nEstá quieto. Muito quieto. Onde está todo mundo?\n\n\nBURRO\nEi, olhe para isso!\n\nBurro corre e puxa uma alavanca que está presa a uma caixa\nmarcado 'Informações'. A música acaba e então as portas da caixa\nAbra. Há pequenas pessoas de madeira dentro e eles começam\ncantar.\n\nPESSOAS DE MADEIRA\nBem-vindo ao DuLoc uma cidade tão perfeita\n\n\nAqui temos algumas regras\n\nVamos deitá-los\n\nNão faça ondas, fique na linha\n\nE nós vamos nos dar bem\n\nDuLoc é o lugar perfeito\n\nPor favor, fique longe da grama\n\nEngraxe seus sapatos, limpe seu... rosto\n\nDuLoc é, DuLoc é\n\nDuLoc é o lugar perfeito.\n\nDe repente, uma câmera tira a foto de Burro e Shrek.\n\nBURRO\nUau! Vamos fazer isso de novo! (prepara\npara atropelar e puxar a alavanca novamente)\n\n\nSHREK\n(pega o rabo do Burro e o segura parado)\nNão não não não não! Não.\n\nEles ouvem uma fanfarra de trompete e dirigem-se para a arena.\n\nFARQUAAD\nBravos cavaleiros. Você é o melhor e\nmais brilhante em toda a terra. Hoje um\nde você deve provar a si mesmo...\n\nEnquanto Shrek e Burro descem o túnel para entrar na arena\nBurro está cantarolando a música tema de DuLoc.\n\nSHREK\nTudo bem. Você está indo no caminho certo\npara um fundo batido.\n\nBURRO\nMe desculpe por isso.\n\nFARQUAAD\nEsse campeão terá a honra -\n- não, não - - o privilégio de sair\ne resgatar a adorável princesa Fiona\nda fortaleza de fogo do dragão. Se\npor qualquer motivo o vencedor não for bem sucedido,\no primeiro vice-campeão ocupará seu lugar\ne assim por diante. Alguns de vocês\npode morrer, mas é um sacrifício que estou disposto\nfazer. (aplausos) Deixe o torneio\ncomeçar! (Ele percebe Shrek) Oh! O que é\neste? É horrível!\n\nSHREK\n(volta-se para o Burro e depois volta\nem Farquaad) Ah, isso não é muito legal.\nÉ apenas um burro.\n\nFARQUAAD\nDe fato. Cavaleiros, novo plano! Aquele que\nmata o ogro será nomeado campeão!\nTê-lo!\n\nHOMENS\nPegue ele!\n\nSHREK\nOi! Agora vamos! Espere agora. (solavancos\nem uma mesa onde há canecas de\nCerveja)\n\nMULTIDÃO\nVá em frente! Pegue ele!\n\nSHREK\n(segura uma caneca de cerveja) Não podemos apenas\nresolver isso com uma cerveja?\n\nMULTIDÃO\nMate a fera!\n\nSHREK\nNão? Tudo bem então. (bebe a cerveja)\nVamos!\n\nEle pega a caneca e quebra a torneira do barril grande\nde cerveja atrás dele. A cerveja sai correndo encharcando o\noutros homens e molhando o chão. É como lama agora. slides do Shrek\npassa pelos homens e pega uma lança que um dos homens deixou cair.\nQuando Shrek começa a lutar, o Burro pula em um dos maiores\nbarris de cerveja. Ele se liberta de suas cordas e começa a rolar.\nBurro consegue esmagar dois homens na lama. Há tanto\nluta acontecendo aqui eu não vou entrar em detalhes. Satisfazer\ndizer que Shrek chuta o traseiro.\n\nBURRO\nEi, Shrek, me marque! Marque-me!\n\nShrek vem e bate a cabeça de um homem contra Burros. Shrek\nlevanta-se nas cordas e interage com a multidão.\n\nSHREK\nSim!\n\nUm homem tenta se esgueirar atrás de Shrek, mas Shrek vira a tempo\ne o vê.\n\nMULHER\nA cadeira! Dê-lhe a cadeira!\n\nShrek bate uma cadeira nas costas dos caras. Finalmente todos os homens\nestão para baixo. Burro chuta um deles no capacete, e o ding\nsoa o fim da partida. O público vai à loucura.\n\nSHREK\nOh sim! Ah! Ah! Obrigada! obrigada\nmuitíssimo! Estou aqui até quinta. Tentar\na vitela! Há, há! (risos)\n\nA risada para quando todos os guardas ligam suas armas\nShrek.\n\nPROTETOR DE CABEÇA\nDevo dar a ordem, senhor?\n\nFARQUAAD\nNão, eu tenho uma ideia melhor. Povo de\nDuLoc, dou-te o nosso campeão!\n\nSHREK\nO que?\n\nFARQUAAD\nParabéns, ogro. Você ganhou o\nhonra de embarcar em um grande e nobre\nbusca.\n\nSHREK\nBusca? Eu já estou em uma busca, uma busca\npara recuperar meu pântano.\n\nFARQUAAD\nSeu pântano?\n\nSHREK\nSim, meu pântano! Onde você despejou aqueles\ncriaturas de contos de fadas!\n\nFARQUAAD\nDe fato. Tudo bem, ogro. eu vou fazer você\num acordo. Vá nesta busca para mim, e\nEu te devolvo seu pântano.\n\nSHREK\nExatamente do jeito que era?\n\nFARQUAAD\nAté o último cogumelo coberto de lodo.\n\n\nSHREK\nE os posseiros?\n\nFARQUAAD\nTão bom quanto se foi.\n\nSHREK\nQue tipo de busca?\n\nTime Lapse - Burro e Shrek agora estão andando pelo campo\nindo para longe de DuLoc. Shrek está mastigando uma cebola.\n\nBURRO\nDeixe-me ver se entendi. Você vai\nvá lutar contra um dragão e resgatar uma princesa\nsó para Farquaad te devolver\num pântano que você só não tem porque\nele encheu de aberrações no primeiro\nLugar, colocar. Está certo?\n\nSHREK\nVocê sabe, talvez haja uma boa razão\nburros não devem falar.\n\nBURRO\nEu não entendo. Por que você não apenas puxa\nalguma daquelas coisas de ogro nele? Acelerador\nele, sitiar sua fortaleza, mói\nseus ossos para fazer o seu pão, todo\nviagem de ogro.\n\nSHREK\nAh, eu sei o quê. Talvez eu pudesse ter\ndecapitou uma aldeia inteira e colocou\nsuas cabeças em um pique, pegou uma faca,\nabra seu baço e beba seu\nfluidos. isso parece bom para você?\n\n\nBURRO\nUh, não, não realmente, não.\n\nSHREK\nPara sua informação, há muito\nmais aos ogros do que as pessoas pensam.\n\nBURRO\nExemplo?\n\nSHREK\nExemplo? Certo, ogros são como cebolas.\n(ele estende a cebola)\n\nBURRO\n(cheira a cebola) Eles fedem?\n\nSHREK\nSim não!\n\nBURRO\nEles te fazem chorar?\n\nSHREK\nNão!\n\nBURRO\nVocê os deixa no sol, eles ficam\ntodo marrom, comece a brotar branquinho\ncabelos.\n\nSHREK\nNão! Camadas! As cebolas têm camadas. Ogros\ntem camadas! As cebolas têm camadas. Você\npegue? Nós dois temos camadas. (ele levanta\num suspiro e depois vai embora)\n\nBURRO\n(seguindo atrás de Shrek) Oh, vocês dois\ntem camadas. Oh. {Sniffs} Você sabe,\nnem todo mundo gosta de cebola. Bolo! Todo o mundo\nadora bolos! Os bolos têm camadas.\n\nSHREK\nEu não me importo... o que todo mundo gosta.\nOgros não são como bolos.\n\nBURRO\nSabe o que mais todo mundo gosta?\nParfaits. Você já conheceu uma pessoa,\nvocê diz: \"Vamos pegar um parfait\", eles\ndizer: \"Claro que não, eu não gosto de parfait\"?\nParfaits são deliciosos.\n\nSHREK\nNão! Você denso, irritante, em miniatura\nBesta de carga! Ogros são como cebolas!\nE de história. Tchau tchau. Te vejo mais tarde.\n\n\nBURRO\nParfaits pode ser a coisa mais deliciosa\nem todo o maldito planeta.\n\nSHREK\nSabes, acho que preferia o teu cantarolar.\n\n\nBURRO\nVocê tem um lenço ou algo assim? Eu estou\nfazendo bagunça. Apenas a palavra parfait\nme faça começar a babar.\n\nEles vão embora. Há uma montagem de sua jornada. Andando por\num campo ao pôr do sol. Dormindo sob uma lua brilhante. Shrek tentando\napagar a fogueira no dia seguinte e ter um pequeno problema,\nentão Burro faz xixi no fogo para apagá-lo.\n\nGUARDA DO DRAGÃO\n\nShrek e Burro estão caminhando até a fortaleza que deveria\ncasa princesa Fiona. Parece um vulcão gigante.\n\n\nBURRO\n(funga) Ah! Shrek! Você fez isso?\nVocê tem que avisar alguém antes de você apenas\nquebrar um. Minha boca estava aberta e\ntudo.\n\nSHREK\nAcredite em mim, Burro, se fosse eu, você\nestar morto. (funga) É enxofre. Nós\ndeve estar chegando perto.\n\nBURRO\nSim, certo, enxofre. Não fique falando\nsobre isso é o enxofre. eu sei o que\nEu cheiro. Não era enxofre. Isto\nnão saiu nenhuma pedra também.\n\n\nEles sobem pela lateral do vulcão/manter e olham para baixo. Lá\né um pequeno pedaço de rocha bem no centro e é aí que\no castelo é. É cercado por lava fervente. Parece muito\npressentimento.\n\nSHREK\nClaro, é grande o suficiente, mas olhe para o\nlocalização. (risos... então a risada vira\nem um gemido)\n\nBURRO\nAh, Shrek? Uh, lembre-se quando você disse\nos ogros têm camadas?\n\nSHREK\nAh, sim.\n\nBURRO\nBem, eu tenho uma pequena confissão para\nfaço. Burros não têm camadas. Nós\nusar nosso medo lá fora em nosso\nmangas.\n\nSHREK\nEspere um segundo. Burros não têm mangas.\n\n\nBURRO\nVocê sabe o que eu quero dizer.\n\nSHREK\nVocê não pode me dizer que tem medo de altura.\n\n\nBURRO\nNão, estou apenas um pouco desconfortável\nsobre estar em uma ponte frágil sobre\numa ebulição como de lava!\n\nSHREK\nVamos, Burro. estou bem aqui ao lado\nsim, ok? Para apoio emocional., vamos\napenas enfrentar essa coisa juntos um\npequeno passo de bebê de cada vez.\n\nBURRO\nSério?\n\nSHREK\nSério sério.\n\nBURRO\nOk, isso me faz sentir muito melhor.\n\n\nSHREK\nApenas continue se movendo. E não olhe para baixo.\n\n\nBURRO\nOk, não olhe para baixo. Não olhe para baixo.\nNão olhe para baixo. Continue em movimento. Não\nolhar para baixo. (ele passa por um apodrecido\nbordo e acaba olhando para baixo\nna lava) Shrek! Estou olhando para baixo!\nOh, Deus, eu não posso fazer isso! Apenas me deixe\nfora, por favor!\n\nSHREK\nMas você já está na metade.\n\nBURRO\nMas eu sei que metade está segura!\n\nSHREK\nOK tudo bem. Eu não tenho tempo para isso.\nVocê vai voltar.\n\nBURRO\nShrek, não! Espere!\n\nSHREK\nSó Burro - - Vamos dançar\nentão, vou? (salta e balança o\nponte)\n\nBURRO\nNão faça isso!\n\nSHREK\nOh, me desculpe. Fazer o que? Ah, isso? (salta\na ponte novamente)\n\nBURRO\nIsso!\n\nSHREK\nSim? Sim, faça isso. OK. (continua a\nquicar e balançar enquanto ele faz o Burro atravessar\na Ponte)\n\nBURRO\nNão, Shrek! Não! Pare!\n\nSHREK\nVocê disse faça isso! Eu estou fazendo isso.\n\nBURRO\nEu vou morrer. Eu vou morrer. Shrek,\nEu vou morrer. (passos em terra firme)\nOh!\n\nSHREK\nIsso serve, Burro. Isso serve. (anda em\nem direção ao castelo)\n\nBURRO\nLegal. Então, onde está esse cuspidor de fogo\ndor-no-pescoço de qualquer maneira?\n\nSHREK\nLá dentro, esperando por nós para resgatá-la.\n(risos)\n\nBURRO\nEu estava falando sobre o dragão, Shrek.\n\n\nDENTRO DO CASTELO\n\nBURRO\nVocê tem medo?\n\nSHREK\nNão.\n\nBURRO\nMas...\n\nSHREK\nShh.\n\nBURRO\nAh, bom. Nem eu. (vê um esqueleto\ne suspiros) porque não há nada de errado\ncom medo. O medo é sensato\nresposta a uma situação desconhecida.\nSituação perigosa desconhecida, eu poderia\nadicionar. Com um dragão que cospe fogo\ne come cavaleiros e cospe fogo,\ncom certeza não significa que você é um covarde\nse você está um pouco assustado. eu com certeza\ndiabos não é nenhum covarde. Eu sei que.\n\n\nSHREK\nBurro, duas coisas, está bem? Cale-se.\nAgora vá até lá e veja se você pode\nencontrar qualquer escada.\n\nBURRO\nEscadas? Eu pensei que estávamos procurando\na princesa.\n\nSHREK\n(colocando um capacete) A princesa vai\nestar subindo as escadas no quarto mais alto\nna torre mais alta.\n\nBURRO\nO que te faz pensar que ela estará lá?\n\n\nSHREK\nLi em um livro uma vez. (saindo)\n\n\nBURRO\nLegal. Você lida com o dragão. eu vou lidar\nas escadas. Eu vou encontrar aquelas escadas.\nEu vou chicotear a bunda deles também. Aquelas escadas\nnão vai saber para que lado eles estão indo.\n(saindo)\n\nSALA VAZIA\n\nBurro ainda está falando sozinho enquanto olha ao redor da sala.\n\n\nBURRO\nVou tomar medidas drásticas. Chute-o\nao meio-fio. Não mexa comigo. Eu estou\no mestre da escada. eu dominei o\nescadas. Eu gostaria de ter um passo aqui.\nEu pisaria em tudo.\n\nEM OUTRO LUGAR\n\nShrek vê uma luz na janela da torre mais alta.\n\nSHREK\nBem, pelo menos sabemos onde a princesa\né, mas onde está o...\n\nBURRO\n(os) Dragão!\n\nBurro suspira e sai correndo enquanto o dragão ruge novamente.\nShrek consegue tirar o Burro do caminho assim como o dragão\nrespira fogo.\n\nSHREK\nBurro, cuidado! (ele consegue\nsegura a cauda do dragão e segura\nem) Entendi!\n\nO dragão fica irritado com isso e sacode sua cauda e Shrek\nvai voando pelo ar e colide com o teto do\ntorre mais alta. Fiona acorda com um empurrão e olha para ele deitado\nno chão.\n\nBURRO\nOh! Aah! Aah!\n\nBurro fica encurralado quando o dragão derruba tudo, exceto um pequeno\nparte da ponte em que ele está.\n\nBURRO\nNão. Oh, não, não! (o dragão ruge) Oh,\nque dentes grandes você tem. (o Dragão\nrosna) Quero dizer, dentes brancos e brilhantes.\nEu sei que você provavelmente ouve isso o tempo todo\nde sua comida, mas você deve alvejar,\nporque esse é um sorriso deslumbrante que você\nchegou lá. Eu detecto um toque de menta\nfrescor? E sabe o que mais? Você é\n- - Você é uma menina dragão! Ah com certeza!\nQuero dizer, é claro que você é uma menina dragão.\nVocê está apenas cheirando a beleza feminina.\n(o dragão começa a agitar os olhos\npara ele) Qual é o problema com você?\nVocê tem algo em seu olho? Ohh.\nOh. Oh. Cara, eu realmente adoraria ficar,\nmas você sabe, eu sou, uh... (o dragão\nsopra um anel de fumaça em forma de\ncoração direto para ele, e ele tosse) eu sou\num asmático, e não sei se\ntrabalhar se você vai soprar fumaça\nargolas. Shrek! (o dragão o pega\nlevanta com os dentes e o leva embora)\nNão! Shrek! Shrek! Shrek!\n\nSALA DE FIONA\n\nShrek geme quando se levanta do chão. Ele está de costas para Fiona\nentão ela ajeita o vestido e se deita na cama. Ela\nentão rapidamente estende a mão e pega o buquê de flores\na mesa lateral. Ela então se deita e parece estar dormindo.\nShrek se vira e vai até ela. Ele olha para Fiona para\num momento e ela franze os lábios. Shrek a pega pelos ombros\ne a afasta.\n\nFIONA\nOh! Oh!\n\nSHREK\nAcordar!\n\nFIONA\nO que?\n\nSHREK\nVocê é a princesa Fiona?\n\nFIONA\nEstou, esperando um cavaleiro tão ousado a ponto de\nresgate-me.\n\nSHREK\nOh, isso é legal. Agora vamos!\n\nFIONA\nMas espere, Senhor Cavaleiro. Este é nosso\nprimeiro encontro. Não deveria ser uma maravilha,\nmomento romântico?\n\nSHREK\nSim, desculpe, senhora. Não há tempo.\n\n\nFIONA\nEi, espere. O que você está fazendo? Você deve\nvarre-me fora dos meus pés para fora da janela\ne descer uma corda em seu corcel valente.\n\n\nSHREK\nVocê teve muito tempo para planejar isso,\nvocê não tem?\n\nFIONA\n(sorri) Mm-hmm.\n\nShrek quebra a fechadura da porta e a puxa para fora e para baixo\no corredor.\n\nFIONA\nMas temos que saborear este momento! Você\npoderia recitar um poema épico para mim. UMA\nbalada? Um soneto! Um limerique? Ou alguma coisa!\n\n\nSHREK\nEu não acho.\n\nFIONA\nPosso pelo menos saber o nome do meu campeão?\n\n\nSHREK\nAh, Shrek.\n\nFIONA\nSenhor Shrek. (limpa a garganta e segura\num lenço) eu rezo para que você\ntome este favor como um sinal de minha gratidão.\n\n\nSHREK\nObrigado!\n\nDe repente, eles ouvem o rugido do dragão.\n\nFIONA\n(surpreso) Você não matou o dragão?\n\n\nSHREK\nEstá na minha lista de tarefas. Agora vamos!\n(sai correndo e arrasta Fiona atrás\ndele.)\n\nFIONA\nMas isso não está certo! Você foi feito\npara atacar, espada desembainhada, bandeira voando.\nFoi o que todos os outros cavaleiros fizeram.\n\n\nSHREK\nSim, logo antes de explodirem em chamas.\n\n\nFIONA\nEssa não é a questão. (Shrek de repente\npára e ela corre para ele.) Oh! (Shrek\na ignora e se dirige para uma porta de madeira\npara o lado.) Espere. Onde você está\nindo? A saída é ali.\n\nSHREK\nBem, eu tenho que salvar minha bunda.\n\nFIONA\nQue tipo de cavaleiro você é?\n\nSHREK\nUm de cada tipo. (abre a porta para\na sala do trono)\n\nBURRO\n(os) Desacelere. Devagar, querida, por favor.\nEu acredito que é saudável conhecer\nalguém por um longo período de tempo.\nApenas me chame de antiquado. (risos\npreocupado) (nós o vemos de perto e\nà distância enquanto Shrek se esgueira\na sala) eu não quero me apressar\numa relação física. não estou emocionalmente\npronto para um compromisso de, uh, este\n- - Magnitude é realmente a palavra que eu sou\nprocurando por. Magnitude- - Ei, isso\né o contato físico indesejado. Ei o que\nvocê esta fazendo? Está bem, está bem. Vamos só\nrecuar um pouco e dar este passo\nde uma vez. Nós realmente devemos conhecer\nprimeiro como amigos ou amigos por correspondência.\nEu estou na estrada muito, mas eu adoro\nreceber cartões - - Eu realmente adoraria\npara ficar, mas... - Não faça isso! Isso é\nminha cauda! Essa é a minha cauda pessoal. Você é\nvai arrancar. eu não dou permissão\n- - O que você vai fazer com isso?\nEi, agora. Sem chance. Não! Não! Não não! Não.\nNão não não. Não! Oh!\n\nShrek pega uma corrente que está conectada ao lustre e balança\nem direção ao dragão. Ele erra e ele balança de volta novamente. Ele olha\npara cima e vê que o lustre está bem acima da cabeça do dragão.\nEle puxa a corrente e ela solta e ele cai e esbarra\nBurro fora do caminho quando o dragão está prestes a beijá-lo.\nEm vez disso, o dragão beija a bunda de Shreks. Ela abre os olhos e\nruge. Shrek solta a corrente e o lustre cai\na cabeça, mas é muito grande e passa por cima da cabeça e forma\numa espécie de coleira para ela. Ela ruge novamente e Shrek e Burro\nsaia correndo. Muito estilo 'Matrix'. Shrek pega Burro e\nentão agarra a princesa Fiona enquanto ele passa por ela.\n\nBURRO\nOlá princesa!\n\nFIONA\nIsso fala!\n\nSHREK\nSim, está fazendo ele calar a boca isso é\no truque.\n\nTodos eles começam a gritar quando o dragão avança sobre eles. Manchas de Shrek\num escorregador descendente e pula. Mas infelizmente existe um\nrachadura na pedra e atinge Shrek bem na virilha. Dele\nolhos se cruzam e quando ele chega ao fundo do escorregador ele tropeça\ndesligado e anda levemente.\n\nSHREK\nOh!\n\nShrek os aproxima da saída e coloca Burro e Fiona no chão.\n\n\nSHREK\nOk, vocês dois, ouviram a saída! Eu vou\ncuide do dragão.\n\nShrek pega uma espada e volta para o interior do\ncastelo. Ele joga a espada para baixo entre vários\nelos da cadeia. Os elos da corrente estão presos ao lustre que\nainda está no pescoço do dragão.\n\nSHREK\n(ecoando) Corra!\n\nTodos saem correndo para a saída com o dragão na brasa\nperseguir. Eles chegam à ponte e atravessam. Os dragões\ncospe fogo e a ponte começa a queimar. Todos eles aguentam\npela preciosa vida enquanto as cordas que seguram a ponte desmoronam. Elas\nsão balançados para o outro lado. Enquanto eles ficam pendurados de cabeça para baixo, eles parecem\nhorrorizado enquanto o dragão voa sobre a lava fervente para\npegue eles. Mas de repente o lustre com a corrente empurrou o\ndragão de volta e ela é incapaz de chegar até eles. Nossa gangue sobe\nrapidamente para a segurança como o dragão parece irritado e então dá um\nchoramingar triste enquanto observa Burro ir embora.\n\nFIONA\n(deslizando pela colina do 'vulcão') Você\nfez isso! Você me resgatou! Você é incrível.\n(atrás dela Burro cai morro abaixo)\nVocê é... - Você é maravilhoso. Você é...\n(se vira e vê Shrek cair no\ncolina e esbarrar no Burro) um pouco\nheterodoxo, admito. Mas tua ação\né grande, e o teu coração é puro. Eu sou\neternamente em dívida. (O burro limpa\nsua garganta.) E onde iria um bravo\ncavaleiro ficar sem seu nobre corcel?\n\n\nBURRO\nEspero que você tenha ouvido isso. Ela me chamou\num nobre corcel. Ela acha que sou um corcel.\n\n\nFIONA\nA batalha está vencida. Você pode remover seu\ncapacete, bom senhor cavaleiro.\n\nSHREK\nOh não.\n\nFIONA\nPor que não?\n\nSHREK\nEu tenho cabelo de capacete.\n\nFIONA\nPor favor. eu não olharia para o rosto\ndo meu salvador.\n\nSHREK\nNão, não, você não iria - - 'st.\n\nFIONA\nMas como você vai me beijar?\n\nSHREK\nO que? (para Burro) Isso não estava no\ndescrição do trabalho.\n\nBURRO\nTalvez seja um privilégio.\n\nFIONA\nNão, é o destino. Ah, você deve saber\nComo vai. Uma princesa trancada em um\ntorre e cercado por um dragão é resgatado\npor um bravo cavaleiro, e então eles compartilham\nprimeiro beijo do amor verdadeiro.\n\nBURRO\nHum? Com Shrek? Vocę acha... - Espere.\nEspere. Você acha que Shrek é verdade\namor?\n\nFIONA\nBem, sim.\n\nTanto Burro quanto Shrek caíram na gargalhada.\n\nBURRO\nVocê acha que Shrek é seu verdadeiro amor!\n\n\nFIONA\nO que é tão engraçado?\n\nSHREK\nVamos apenas dizer que eu não sou seu tipo, ok?Fiona:\nClaro que você é. Você é meu salvador.\nAgora - - Agora retire seu capacete.\n\nSHREK\nOlhar. Eu realmente não acho que isso seja um\nboa ideia.\n\nFIONA\nBasta tirar o capacete.\n\nSHREK\nEu não estou indo.\n\nFIONA\nTire.\n\nSHREK\nNão!\n\nFIONA\nAgora!\n\nSHREK\nOk! Fácil. Como você manda. Sua Alteza.\n(tira o capacete)\n\nFIONA\nVocê... - Você é um... - um ogro.\n\nSHREK\nOh, você estava esperando o Príncipe Encantado.\n\n\nFIONA\nBem, sim, na verdade. Oh não. Isto é\ntudo errado. Você não deveria ser\num ogro.\n\nSHREK\nPrincesa, fui enviado para resgatá-la por\nLorde Farquaad, está bem? Ele é aquele que\nquer casar com você.\n\nFIONA\nEntão por que ele não veio me resgatar?\n\n\nSHREK\nBoa pergunta. Você deveria perguntar isso a ele\nquando chegarmos lá.\n\nFIONA\nMas eu tenho que ser resgatado pelo meu verdadeiro\namor, não por algum ogro e seu- - seu\nbicho de estimação.\n\nBURRO\nBem, tanto para o nobre corcel.\n\nSHREK\nVocê não está facilitando meu trabalho.\n\n\nFIONA\nSinto muito, mas seu trabalho não é problema meu.\nVocê pode dizer a Lord Farquaad que se ele\nquer me resgatar adequadamente, eu estarei\nesperando por ele aqui.\n\nSHREK\nEi! Eu não sou mensageiro de ninguém, tudo\ncerto? (sinistro) Eu sou um entregador.\n(ele rapidamente a pega no colo e balança\nela por cima do ombro como se ela fosse uma\nsaco de batatas)\n\nFIONA\nVocê não ousaria. Coloque-me para baixo!\n\nSHREK\nVocê vem, Burro?\n\nBURRO\nEstou bem atrás de você.\n\nFIONA\nColoque-me no chão, ou você vai sofrer o\nconsequências! Isso não é digno!\nColoque-me para baixo!\n\nMADEIRAS\n\nPouco tempo se passou e Fiona se acalmou. Ela só\npendurada frouxamente enquanto Shrek a carrega.\n\nBURRO\nOk, então aqui está outra pergunta. Dizer\nhá uma mulher que gosta de você, certo,\nmas você realmente não gosta dela desse jeito.\nComo você a decepcionou muito fácil, então\nseus sentimentos não são feridos, mas você não\nse queimar a uma batata frita e comido?\n\nFIONA\nVocê acabou de dizer a ela que ela não é sua verdade\nAme. Todo mundo sabe o que acontece quando\nvocê encontra sua... (Shrek a deixa cair\no chão) Ei! Quanto mais cedo chegarmos\nDuLoc melhor.\n\nBURRO\nVocê vai adorar lá, princesa.\nÉ lindo!\n\nFIONA\nE o meu futuro noivo? Lorde Farquaad?\nComo ele é?\n\nSHREK\nDeixe-me colocar desta forma, princesa. Homens\nda estatura de Farquaad estão em falta.\n(ele e o Burro riem)\n\nShrek então começa a jogar água no rosto para lavar\na poeira e a sujeira.\n\nBURRO\nNão sei. Há quem pense\npouco dele. (eles riem de novo) Fiona:\nPare com isso. Parem com isso, vocês dois. Você é\napenas com inveja, você nunca pode medir\na um grande governante como Lord Farquaad.\n\n\nSHREK\nSim, bem, talvez você esteja certa, princesa.\nMas eu vou deixar você fazer a \"medição\"\nquando você vê-lo amanhã.\n\nFIONA\n(olha para o sol poente) Amanhã?\nVai demorar tanto? Não devemos parar\nfazer acampamento?\n\nSHREK\nNão, isso vai demorar mais. Nós podemos manter\nindo.\n\nFIONA\nMas há ladrões na floresta.\n\nBURRO\nUau! Tempo limite, Shrek! O acampamento está começando\npara soar bem.\n\nSHREK\nEi, vamos lá. eu sou mais assustador do que qualquer coisa\nvamos ver nesta floresta.\n\n\nFIONA\nEu preciso encontrar um lugar para acampar agora!\n\n\nAs orelhas de Burro e Shrek abaixam enquanto se afastam dela.\n\n\nPENHASCO DE MONTANHA\n\nShrek encontrou uma caverna que parece estar em boas condições. Ele empurra\numa pedra fora do caminho para revelar a caverna.\n\nSHREK\nEi! Por aqui.\n\nBURRO\nShrek, podemos fazer melhor que isso. EU\nnão acho que isso é digno de uma princesa.\n\n\nFIONA\nNão, não, é perfeito. Ele só precisa\nalguns toques caseiros.\n\nSHREK\nToques caseiros? Como o quê? (ele ouve\num barulho de lacrimejamento e olha para Fiona\nque arrancou a casca de uma árvore.)\n\n\nFIONA\nUma porta? Bem, senhores, peço-vos\nboa noite. (entra na caverna e\ncoloca a porta da casca atrás dela)\n\n\nBURRO\nQuer que eu leia uma história para você dormir?\nEu vou.\n\nFIONA\n(os) Eu disse boa noite!\n\nShrek olha para Burro por um segundo e então vai mover o\npedregulho de volta na frente da entrada da caverna com Fiona\nainda dentro.\n\nBURRO\nShrek, o que você está fazendo?\n\nSHREK\n(risos) Eu só... - Você sabe... - Oh,\nvamos. Eu estava apenas brincando.\n\nMAIS TARDE NAQUELA NOITE\n\nShrek e Burro estão sentados ao redor de uma fogueira. Eles estão olhando\npara o céu enquanto Shrek aponta certas constelações de estrelas\npara Burro.\n\nSHREK\nE, uh, aquele, isso é Throwback,\no único ogro a cuspir mais de três\nCampos de trigo.\n\nBURRO\nCerto. Sim. Ei, você pode dizer o meu futuro\ndessas estrelas?\n\nSHREK\nAs estrelas não dizem o futuro, Burro.\nEles contam histórias. Olha, há Bloodnut,\no Flatulento. Você pode adivinhar o que ele é\nfamoso por.\n\nBURRO\nEu sei que você está inventando isso.\n\nSHREK\nNão, olhe. Lá está ele, e lá está o\ngrupo de caçadores fugindo de sua\nfedor.\n\nBURRO\nIsso não é nada, mas um monte de pouco\npontos.\n\nSHREK\nVocê sabe, Burro, às vezes as coisas são\nmais do que aparentam. Hum? Esqueça.\n\n\nBURRO\n(dá um grande suspiro) Ei, Shrek, o que\nvamos fazer quando chegarmos ao nosso pântano de qualquer maneira?\n\n\nSHREK\nNosso pântano?\n\nBURRO\nVocê sabe, quando terminarmos de resgatar\na princesa.\n\nSHREK\nNós? Burro, não existe \"nós\". Há\nnão \"nosso\". Há apenas eu e meu pântano.\nA primeira coisa que vou fazer é construir\num muro de três metros em volta da minha terra.\n\nBURRO\nVocê me cortou profundamente, Shrek. Você me cortou de verdade\nprofundo agora. Você sabe oque eu penso?\nEu acho que essa coisa toda de parede é apenas\numa maneira de manter alguém fora.\n\nSHREK\nNão, você acha?\n\nBURRO\nVocê está escondendo alguma coisa?\n\nSHREK\nNão importa, Burro.\n\nBURRO\nOh, esta é outra daquelas cebolas\ncoisas, não é?\n\nSHREK\nNão, este é um daqueles desista e\ndeixe as coisas em paz.\n\nBURRO\nPor que você não quer falar sobre isso?\n\n\nSHREK\nPor que você quer falar sobre isso?\n\nBURRO\nPor que você está bloqueando?\n\nSHREK\nEu não estou bloqueando.\n\nBURRO\nAh, sim, você é.\n\nSHREK\nBurro, estou avisando.\n\nBURRO\nQuem você está tentando manter fora?\n\nSHREK\nTodos! Ok?\n\nBURRO\n(pausa) Oh, agora estamos chegando a algum lugar.\n(sorri)\n\nNeste ponto, Fiona puxa a 'porta' da entrada para\na caverna e picos para fora. Nenhum dos caras a vê.\n\nSHREK\nOh! Pelo amor de Pedro! (levanta-se e\ncaminha até a beira do precipício\ne senta-se)\n\nBURRO\nQual é o seu problema? O que você tem contra\no mundo inteiro mesmo?\n\nSHREK\nOlha, eu não sou o único com o problema,\nok? É o mundo que parece ter\num problema comigo. As pessoas dão uma olhada\npara mim e vá. \"Aah! Socorro! Corra! Um grande,\nestúpido, feio ogro!\" Eles me julgam antes\neles até me conhecem. É por isso que estou melhor\nfora sozinho.\n\nBURRO\nVocê sabe o que? Quando nos conhecemos, eu não\nacho que você era apenas um grande, estúpido, feio\nogro.\n\nSHREK\nSim, eu sei.\n\nBURRO\nEntão, uh, há algum burro lá em cima?\n\n\nSHREK\nBem, há, hum, Gabby, a Pequena\ne irritante.\n\nBURRO\nOk, ok, eu vejo agora. O grande brilhante\num, bem ali. Aquele aí?\n\n\nFiona abre a porta.\n\nSHREK\nEssa é a lua.\n\nBURRO\nOh, tudo bem.\n\nDuLoc - Quarto do Farquaad\n\nA câmera filma um monte de coisas de casamento. A música suave toca\nno fundo. Farquaad está na cama, observando o Magic\nMirror mostra a ele a princesa Fiona.\n\nFARQUAAD\nMais uma vez, mostre-me novamente. Espelho Espelho,\nmostre-a para mim. Mostre-me a princesa.\n\n\nESPELHO\nHmph.\n\nO espelho retrocede e começa a tocar novamente desde o início.\n\n\nFARQUAAD\nAh. Perfeito.\n\nFarquaad olha para seu peito nu e puxa o lençol para cima\ncobrir-se como se Fiona pudesse vê-lo enquanto ele olha timidamente\nem sua imagem no espelho.\n\nMANHÃ\n\nFiona sai da caverna. Ela olha para Shrek e Burro\nque ainda estão dormindo. Ela vagueia na floresta e vem\natravés de um pássaro azul. Ela começa a cantar. O pássaro canta junto\ncom ela. Ela atinge notas cada vez mais altas e o pássaro luta\npara acompanhá-la. De repente, a pressão da nota é muito\ngrande e o pássaro explode. Fiona parece um pouco tímida, mas\nela olha para os ovos que o pássaro deixou para trás. Lapso de tempo, Fiona\nagora está cozinhando os ovos para o café da manhã. Shrek e Burro ainda estão\nadormecido. Shrek acorda e olha para Fiona. Burro está falando\nem seu sono.\n\nBURRO\n(silenciosamente) Mmm, sim, você sabe que eu gosto\né assim. Vem cá Neném. Eu disse\nEu gosto disso.\n\nSHREK\nBurro, acorde. (o sacode)\n\nBURRO\nHuh? O que?\n\nSHREK\nAcordar.\n\nBURRO\nO que? (estica e boceja)\n\nFIONA\nBom Dia. Hm, como você gosta do seu\novos?\n\nBURRO\nAh, bom dia, princesa!\n\nFiona se levanta e coloca os ovos na frente deles.\n\nSHREK\nO que é tudo isso?\n\nFIONA\nVocê sabe, nós meio que saímos mal\ncomeçar ontem. eu queria fazer isso\nvocê decide. Quero dizer, afinal, você fez\nresgate-me.\n\nSHREK\nObrigado.\n\nBurro cheira os ovos e lambe os lábios.\n\nFIONA\nBem, coma. Temos um grande dia pela frente\nde nós. (saindo)\n\nMAIS TARDE\n\nEles estão mais uma vez a caminho. Eles estão andando pela\nfloresta. Shrek arrota.\n\nBURRO\nShrek!\n\nSHREK\nO que? É um elogio. Melhor sair\ndo que em, eu sempre digo. (risos)\n\nBURRO\nBem, não é maneira de se comportar na frente\nde uma princesa.\n\nFiona arrota\n\nFIONA\nObrigado.\n\nBURRO\nEla é tão desagradável quanto você.\n\nSHREK\n(risos) Você sabe, você não é exatamente\no que eu esperava.\n\nFIONA\nBem, talvez você não devesse julgar as pessoas\nantes de conhecê-los.\n\nEla sorri e continua andando, cantando baixinho. De repente\ndo nada, um homem desce e arrebata Fiona\numa árvore.\n\nROBIN HOOD\nLa liberte! Ei!\n\nSHREK\nPrincesa!\n\nFIONA\n(para Robin Hood) O que você está fazendo?\n\n\nROBIN HOOD\nFique quieto, mon chérie, pois eu sou seu salvador!\nE eu estou resgatando você desse verde... (beijos\nem seu braço enquanto Fiona puxa de volta\ndesgosto)... besta.\n\nSHREK\nEi! Essa é minha princesa! Vá te encontrar\nter!\n\nROBIN HOOD\nPor favor, monstro! Você não pode ver que eu sou um\npouco ocupado aqui?\n\nFIONA\n(ficando farto) Olha, amigo, eu não\nsaiba quem você pensa que é!\n\nROBIN HOOD\nOh! É claro! Oh, que rude. Por favor\ndeixe-me apresentar-me. Oh, Homens Alegres.\n(risos)\n\nDe repente, um acordeão começa a tocar e os homens Merry aparecem\ndos arbustos. Eles começam a cantar a música tema de Robin.\n\nHOMENS FELIZES\nTa, dah, dah, dah, whoo.\n\nROBIN HOOD\nEu roubo dos ricos e dou aos\ncarente.\n\nHOMENS FELIZES\nEle pega uma pequena porcentagem,\n\nROBIN HOOD\nMas não sou ganancioso. eu resgato bonito\ndonzelas, cara, eu estou bem.\n\nHOMENS FELIZES\nQue cara, Monsieur Hood.\n\nROBIN HOOD\nQuebre isso. Eu gosto de uma luta honesta\ne uma garotinha atrevida...\n\nHOMENS FELIZES\nO que ele está basicamente dizendo é que ele gosta\npara obter...\n\nROBIN HOOD\nPago. Então... quando um ogro no mato\nagarra uma senhora pelo bumbum. Isso é ruim.\n\n\nHOMENS FELIZES\nIsso é ruim.\n\nROBIN HOOD\nQuando uma bela está com uma fera, isso faz\neu terrivelmente louco.\n\nHOMENS FELIZES\nEle é louco, ele é muito, muito louco.\n\n\nROBIN HOOD\nEu vou pegar minha lâmina e forçá-la\nseu coração, mantenha seus olhos em mim, meninos\npois vou começar...\n\nHá um grunhido quando Fiona desce do galho da árvore e\ndeixa Robin Hood inconsciente.\n\nFIONA\nCara, isso foi irritante!\n\nShrek olha para ela com admiração.\n\nHOMEM ALEGRE\nOh, seu pequeno- - (atira uma flecha em\nFiona, mas ela sai do caminho)\n\n\nA flecha voa em direção ao Burro que pula nos braços de Shrek para\nsaia do caminho. A flecha continua a apenas ricochetear em uma árvore.\n\n\nOutra sequência de luta começa e Fiona dá um grito de caratê e\nem seguida, passa a espancar os Merry Men. Há\num momento 'Matrix' muito interessante aqui quando Fiona faz uma pausa\nno ar para arrumar o cabelo. Finalmente todos os Merry Men estão caídos,\ne Fiona começa a se afastar.\n\nFIONA\nVamos?\n\nSHREK\nSegure o telefone. (deixa o Burro e começa\nandando atrás de Fiona) Oh! Ei, ei,\nUau. Espere agora. De onde veio isso\na partir de?\n\nFIONA\nO que?\n\nSHREK\nEste! Ali atrás. Isso foi incrível!\nOnde você aprendeu aquilo?\n\nFIONA\nBem... (risos) quando se vive sozinho,\nuh, é preciso aprender essas coisas em\ncaso haja um... (suspiros e pontos)\nhá uma flecha na sua bunda!\n\nSHREK\nO que? (vira-se e olha) Oh, você faria\nOlhe para isso? (ele vai tirar\nmas vacila porque é macio)\n\n\nFIONA\nOh não. Isso é tudo minha culpa. Estou tão\ndesculpe.\n\nBURRO\n(subindo) Por quê? O que há de errado?\n\nFIONA\nShrek está ferido.\n\nBURRO\nShrek está ferido. Shrek está ferido? Oh não,\nShrek vai morrer.\n\nSHREK\nBurro, estou bem.\n\nBURRO\nVocê não pode fazer isso comigo, Shrek. Eu estou\nmuito jovem para morrer. Mantenha suas pernas\nelevado. Vire a cabeça e tosse.\nAlguém conhece o Heimlich?\n\nFIONA\nBURRO! Acalmar. Se você quer ajudar\nShrek, corra para a floresta e me encontre\numa flor azul com espinhos vermelhos.\n\nBURRO\nFlor azul, espinhos vermelhos. Ok, estou em\nisto. Flor azul, espinhos vermelhos. Não morra\nShrek. Se você vir um longo túnel, fique\nlonge da luz!\n\nSHREK E FIONA\nBURRO!\n\nBURRO\nOh sim. Certo. Flor azul, espinhos vermelhos.\n(foge)\n\nSHREK\nPara que servem as flores?\n\nFIONA\n(como é óbvio) Para se livrar\nde Burro.\n\nSHREK\nAh.\n\nFIONA\nAgora você fica parado, e eu vou puxar isso\ncoisa fora. (dá a seta um pouco\npuxar)\n\nSHREK\n(salta para longe) Ai! Ei! Fácil com o\npuxando.\n\nEnquanto eles continuam a falar, Fiona continua indo atrás da flecha e\nShrek continua se esquivando das mãos dela.\n\nFIONA\nSinto muito, mas tem que sair.\n\n\nSHREK\nNão, é macio.\n\nFIONA\nAgora, espere.\n\nSHREK\nO que você está fazendo é o oposto de\najuda.\n\nFIONA\nNão se mova.\n\nSHREK\nOlha, tempo limite.\n\nFIONA\nVocê... (grunhe enquanto Shrek coloca seu\nmão sobre seu rosto para impedi-la de\nchegando na flecha) Ok. Fazer o que\nvocê propõe que fazemos?\n\nEM OUTRO LUGAR\n\nBurro ainda está procurando a flor especial.\n\nBURRO\nFlor azul, espinhos vermelhos. Flor-azul,\nespinhos vermelhos. Flor azul, espinhos vermelhos.\nIsso seria muito mais fácil se eu não fosse\ndaltônico! Flor azul, espinhos vermelhos.\n\n\nSHREK\n(os) Ai!\n\nBURRO\nEspera, Shrek! Estou chegando'! (rasga um\nflor de um arbusto próximo que simplesmente acontece\nser uma flor azul com espinhos vermelhos)\n\n\nO CAMINHO DA FLORESTA\n\nSHREK\nAi! Não é bom.\n\nFIONA\nOK. OK. Quase posso ver a cabeça.\n(Shrek grunhe enquanto ela puxa) É só\ncerca de...\n\nSHREK\nAi! Ah! (ele sacode e consegue cair\ncom Fiona em cima dele)\n\nBURRO\nAham.\n\nSHREK\n(jogando Fiona de cima dele) Nada\naconteceu. Estávamos apenas, uh - -\n\nBURRO\nOlha, se você quisesse ficar sozinho, tudo\nvocê tinha que fazer era perguntar. Ok?\n\nSHREK\nOh vamos lá! Essa é a última coisa em\nminha mente. A princesa aqui era apenas-\n- (Fiona puxa a flecha) Ugh! (ele\nse vira para olhar para Fiona que segura\na flecha com um sorriso) Ai!\n\nBURRO\nEi, o que é isso? (riso nervoso)\nIsso é... isso é sangue?\n\nBurro desmaia. Shrek se aproxima e o pega enquanto eles continuam\nno caminho deles.\n\nHá uma montagem de cenas enquanto o grupo volta para DuLoc.\nShrek rastejando até o topo de uma árvore para fazê-la cair sobre um\npequeno riacho para que Fiona não se molhe. Shrek então se levanta como\nBurro está prestes a atravessar a árvore e a árvore balança para trás\nem sua posição vertical e Burro voa. Shrek golpeando\ne um monte de moscas e mosquitos. Fiona pega uma teia de aranha próxima\nque está em um galho de árvore e corre pelo campo balançando\nao redor para pegar os insetos. Ela então entrega para Shrek, que começa\ncomendo como se fosse um deleite. Enquanto ele se afasta, ela lambe os dedos.\nShrek pegando um sapo e explodindo como um balão e apresentando\npara Fiona. Fiona pegando uma cobra, explodindo, formando\ntransformá-lo em um animal balão e apresentá-lo a Shrek. O grupo\nchegando a um moinho de vento que fica perto de DuLoc.\n\nMOINHO DE VENTO\n\nSHREK\nAí está, princesa. Seu futuro espera\nvocês.\n\nFIONA\nIsso é DuLoc?\n\nBURRO\nSim, eu sei. Você sabe, Shrek pensa\nLord Farquaad está compensando algo,\no que eu acho que significa que ele realmente tem um... (Shrek\npisa em seu casco) Ai!\n\nSHREK\nHum, eu, uh- - Acho melhor nos mudarmos\nsobre.\n\nFIONA\nClaro. Mas, Shrek? Estou - - Estou preocupado\nsobre Burro.\n\nSHREK\nO que?\n\nFIONA\nQuero dizer, olhe para ele. Ele não parece\ntão bom.\n\nBURRO\nO que você está falando? Estou bem.\n\n\nFIONA\n(ajoelha-se para olhá-lo nos olhos) Isso é\no que eles sempre dizem, e depois\ncoisa que você sabe, você está de costas.\n(pausa) Morto.\n\nSHREK\nVocê sabe, ela está certa. Você está horrível.\nVocê quer sentar?\n\nFIONA\nUh, você sabe, eu vou fazer um chá para você.\n\n\nBURRO\nEu não queria dizer nada, mas eu\ntenho essa pontada no pescoço, e quando\nEu viro minha cabeça assim, olha, (vira\nseu pescoço de uma forma muito afiada até que seu\ncabeça está completamente de lado) Ow! Ver?\n\n\nSHREK\nQuem está com fome? Vou arranjar-nos um jantar.\n\n\nFIONA\nEu vou pegar a lenha.\n\nBURRO\nEi, onde você vai? Oh, cara, eu não posso\nsinta meus dedos! (olha para baixo e grita)\nEu não tenho dedos! acho que preciso\num abraço.\n\nPÔR DO SOL\n\nShrek acendeu uma fogueira e está cozinhando o resto do jantar enquanto\nFiona come.\n\nFIONA\nMmm. Isso é bom. Isto é muito bom.\nO que é isto?\n\nSHREK\nUh, rato de erva daninha. Estilo rotisserie.\n\nFIONA\nSem brincadeiras. Bem, isso é delicioso.\n\n\nSHREK\nBem, eles também são ótimos em ensopados. Agora,\nEu não quero me gabar, mas eu faço uma média\nguisado de rato de erva daninha. (risos)\n\nFiona olha para DuLoc e suspira.\n\nFIONA\nAcho que vou jantar um pouco diferente\namanhã à noite.\n\nSHREK\nTalvez você possa vir me visitar no pântano\nàs vezes. Eu vou cozinhar todo tipo de coisa\npara voce. Sopa de sapo do pântano, tártaro de olho de peixe\n- - O que você disser.\n\nFIONA\n(sorri) Eu gostaria disso.\n\nEles sorriem um para o outro.\n\nSHREK\nHum, princesa?\n\nFIONA\nSim, Shrek?\n\nSHREK\nEu, hum, eu estava me perguntando... você está... (suspiros)\nVocê vai comer aquilo?\n\nBURRO\n(risos) Cara, isso não é romântico?\nBasta olhar para aquele pôr do sol.\n\nFIONA\n(salta) Pôr do sol? Oh não! quero dizer, é\ntarde. E-É muito tarde.\n\nSHREK\nO que?\n\nBURRO\nEspere um minuto. Eu vejo o que está acontecendo\naqui. Você tem medo do escuro, não tem\nvocês?\n\nFIONA\nSim! Sim é isso. Eu estou aterrorizado.\nSabe, é melhor eu entrar.\n\nBURRO\nNão se sinta mal, princesa. Eu costumava\ntenha medo do escuro também, até que -\n- Ei, não, espere. ainda tenho medo\no escuro.\n\nShrek suspira\n\nFIONA\nBoa noite.\n\nSHREK\nBoa noite.\n\nFiona entra no moinho de vento e fecha a porta. Aparência de burro\nem Shrek com um novo olhar.\n\nBURRO\nAh! Agora eu realmente vejo o que está acontecendo\naqui.\n\nSHREK\nAh, do que você está falando?\n\nBURRO\nEu nem quero ouvir. Olha, eu estou\num animal, e eu tenho instintos. E\nEu sei que vocês dois estavam cavando em cada um\noutro. Eu podia sentir isso.\n\nSHREK\nVocê é louco. eu só estou trazendo ela\nde volta ao Farquaad.\n\nBURRO\nAh, vamos, Shrek. Acorde e cheire\nos feromônios. Basta entrar e dizer\nela como você se sente.\n\nSHREK\nEu... - Não há nada para contar. Além do mais,\nmesmo se eu dissesse a ela que, bem, você\nsei - - e não estou dizendo que sei porque\nEu não - - ela é uma princesa, e eu sou\n- -\n\nBURRO\nUm ogro?\n\nSHREK\nSim. Um ogro.\n\nBURRO\nEi, onde você vai?\n\nSHREK\nPara pegar... mova lenha. (suspiros)\n\nBurro olha para a grande pilha de lenha já lá\né.\n\nLAPSO DE TEMPO\n\nBurro abre a porta do Moinho de Vento e entra.\nnenhum lugar para ser visto.\n\nBURRO\nPrincesa? Princesa Fiona? Princesa,\nOnde você está? Princesa?\n\nFiona olha para Burro das sombras, mas não podemos vê-la.\n\n\nBURRO\nÉ muito assustador aqui. eu não estou jogando\nsem jogos.\n\nDe repente, Fiona cai do parapeito. Ela se levanta só que ela não\nparecer ela mesma. Ela parece um ogro e o Burro começa a enlouquecer\nFora.\n\nBURRO\nAah!\n\nFIONA\nOh não!\n\nBURRO\nNenhuma ajuda!\n\nFIONA\nShh!\n\nBURRO\nShrek! Shrek! Shrek!\n\nFIONA\nNão, está tudo bem. Está bem.\n\nBURRO\nO que você fez com a princesa?\n\n\nFIONA\nBurro, eu sou a princesa.\n\nBURRO\nAah!\n\nFIONA\nSou eu, neste corpo.\n\nBURRO\nOh meu Deus! Você comeu a princesa. (para\nseu estômago) Você pode me ouvir?\n\nFIONA\nBURRO!\n\nBURRO\n(ainda apontada para o estômago dela) Ouça,\ncontinue respirando! vou tirar você de\nlá!\n\nFIONA\nNão!\n\nBURRO\nShrek! Shrek! Shrek!\n\nFIONA\nShh.\n\nBURRO\nShrek!\n\nFIONA\nEste sou eu.\n\nBurro olha nos olhos dela enquanto ela acaricia seu focinho, e ele se acalma\nbaixa.\n\nBURRO\nPrincesa? O que aconteceu com você? Você é,\nuh, uh, uh, diferente.\n\nFIONA\nEu sou feio, ok?\n\nBURRO\nBem, sim! Foi algo que você comeu?\nPorque eu disse ao Shrek que aqueles ratos eram um\npéssima ideia. Você é o que você come, eu disse.\nAgora - -\n\nFIONA\nNão. Eu - - Estou assim há tanto tempo\ncomo me lembro.\n\nBURRO\nO que você quer dizer? Olha, eu nunca\nvi você assim antes.\n\nFIONA\nIsso só acontece quando o sol se põe.\n\"À noite de um jeito, de dia de outro.\nserá a norma... até que você encontre\nprimeiro beijo do amor verdadeiro... e depois tome\na verdadeira forma do amor.\"\n\nBURRO\nIsso é lindo. eu não sabia\nvocê escreveu poesia.\n\nFIONA\nÉ um feitiço. (suspiro) Quando eu era um pouco\nmenina, uma bruxa lançou um feitiço em mim. Todo\nnoite eu me tornei isso. Este horrível,\nfera feia! Eu fui colocado em uma torre\npara esperar o dia em que meu verdadeiro amor\nresgate-me. É por isso que eu tenho que me casar\nLord Farquaad amanhã antes do sol\ndefine e ele me vê assim. (começa\nchorar)\n\nBURRO\nTudo bem, tudo bem. Acalmar. Olhar,\nnão é tão ruim. Você não é tão feio.\nBem, eu não vou mentir. Você é feio.\nMas você só fica assim à noite.\nShrek é feio 24-7.\n\nFIONA\nMas Burro, eu sou uma princesa, e isso\nnão é como uma princesa deve ser.\n\n\nBURRO\nPrincesa, que tal se você não se casar\nFarquaad?\n\nFIONA\nEu tenho que. Apenas o beijo do meu verdadeiro amor\npode quebrar o feitiço.\n\nBURRO\nMas, você sabe, hum, você é uma espécie de\norge, e Shrek - - bem, você tem um\nmuito em comum.\n\nFIONA\nShrek?\n\nFORA\n\nShrek está caminhando em direção ao moinho de vento com um girassol em seu\nmão.\n\nSHREK\n(para si mesmo) Princesa, eu - - Uh, como vai\nvai, em primeiro lugar? Bom? Hum, bom\npara mim também. Estou bem. eu vi essa flor\ne pensei em você porque é bonito\ne - - bem, eu realmente não gosto disso,\nmas eu pensei que você poderia gostar porque\nvocê é bonita. Mas eu gosto de você de qualquer maneira.\nEu... - uh, uh... (suspiros) Estou com problemas.\nOk, aqui vamos nós.\n\nEle caminha até a porta e para do lado de fora quando ouve Burro\ne Fiona conversando.\n\nFIONA\n(os) Eu não posso simplesmente casar com quem eu quiser.\nDê uma boa olhada em mim, Burro. Quero dizer,\nrealmente, quem pode amar uma fera assim\nhorrível e feio? \"Princesa\" e \"feio\"\nnão vá junto. Por isso não consigo\nfique aqui com Shrek.\n\nShrek recua em estado de choque.\n\nFIONA\n(os) Minha única chance de viver feliz\npara sempre é me casar com meu verdadeiro amor.\n\n\nShrek solta um suspiro profundo. Ele joga a flor no chão e caminha\num jeito.\n\nLADO DE DENTRO\n\nFIONA\nVocê não vê, Burro? Isso é apenas como\ntem que ser. É a única maneira de quebrar\no feitiço.\n\nBURRO\nVocê pelo menos tem que dizer a verdade ao Shrek.\n\n\nFIONA\nNão! Você não pode respirar uma palavra. Ninguém\ndeve sempre saber.\n\nBURRO\nQual é o ponto de ser capaz de falar\nse você tem que manter segredos?\n\nFIONA\nPrometa que não vai contar. Promessa!\n\nBURRO\nTudo bem, tudo bem. Eu não vou dizer a ele.\nMas voce devia. (sai para fora) eu só\nsaiba antes que isso acabe, eu vou\nprecisa de muita terapia séria.\nOlhe para o meu olho trêmulo.\n\nFiona sai pela porta e o observa ir embora. Ela parece\npara baixo e avista o girassol. Ela pega antes de voltar\ndentro do moinho de vento.\n\nMANHÃ\n\nBurro está dormindo. Shrek está longe de ser visto. Fiona ainda\nacordado. Ela está arrancando pétalas do girassol.\n\nFIONA\nEu digo a ele, eu digo a ele que não. digo a ele,\nEu digo a ele que não. Eu digo a ele. (ela rapidamente\ncorre para a porta e sai) Shrek!\nShrek, tem algo que eu quero... (ela\nolha e vê o sol nascente, e como\no sol nasce no céu ela volta\nem um humano.)\n\nAssim que ela olha para o sol, ela vê Shrek caminhando em direção\nsua.\n\nFIONA\nShrek. Você está bem?\n\nSHREK\nPerfeito! Nunca estive melhor.\n\nFIONA\nEu - - Eu não - - Há algo\nEu tenho que te dizer.\n\nSHREK\nVocê não precisa me dizer nada,\nPrincesa. Ouvi o suficiente ontem à noite.\n\n\nFIONA\nVocê ouviu o que eu disse?\n\nSHREK\nToda palavra.\n\nFIONA\nAchei que você entenderia.\n\nSHREK\nAh, Eu entendi. Como você disse: \"Quem\npoderia amar uma fera horrível e feia?\"\n\n\nFIONA\nMas eu pensei que não importaria para\nvocês.\n\nSHREK\nSim? Bem, ele faz. (Fiona olha para\nele em choque. Ele olha além dela e\nvê um grupo se aproximando.) Ah, certo\nna hora. Princesa, eu te trouxe\num pouco de algo.\n\nFarquaad chegou com um grupo de seus homens. Ele parece muito real\nsentado em seu cavalo. Você nunca adivinharia que ele é apenas\ncomo 3 metros de altura. Burro acorda com um bocejo enquanto os soldados\nmarchar.\n\nBURRO\nO que eu perdi? O que eu perdi? (pontos\nos soldados) (abafado) Quem disse isso?\nNão pode ter sido o burro.\n\nFARQUAAD\nPrincesa Fiona.\n\nSHREK\nComo prometido. Agora entregue.\n\nFARQUAAD\nMuito bem, ogro. (apresenta um pedaço\nde papel) A escritura do seu pântano, desembaraçada\nfora, conforme combinado. Pegue e vá antes\nEu mudei de ideia. (Shrek pega o papel)\nPerdoe-me, princesa, por surpreender\nvocê, mas você me assustou, porque eu tenho\nnunca vi uma beleza tão radiante antes.\nEu sou Lorde Farquaad.\n\nFIONA\nLorde Farquaad? Ah, não, não. (Farquaad\nestala os dedos) Perdoe-me, meu senhor,\npois eu estava apenas dizendo um breve... (Relógios\ncomo Farquaad é levantado de seu cavalo\ne se deitou na frente dela. Ele vem\naté a cintura.) adeus.\n\nFARQUAAD\nAh, isso é tão doce. Você não tem\ndesperdiçar boas maneiras com o ogro. Isso é\nnão como se tivesse sentimentos.\n\nFIONA\nNão, você está certo. Não.\n\nBurro observa essa troca com um olhar curioso em seu rosto.\n\n\nFARQUAAD\nPrincesa Fiona, linda, justa, impecável\nFiona. Peço sua mão em casamento.\nVocê será a noiva perfeita para o\nnoivo perfeito?\n\nFIONA\nLorde Farquaad, eu aceito. Nada seria\nfaço - -\n\nFARQUAAD\n(interrompendo) Excelente! Vou começar\nos planos, para amanhã nos casamos!\n\nFIONA\nNão! Quero dizer, uh, por que esperar? Vamos pegar\ncasou hoje antes do sol se pôr.\n\n\nFARQUAAD\nOh, ansioso, você está? Você tem razão.\nQuanto antes melhor. Há tanto\nfaçam! Há o bufê, o bolo,\na banda, a lista de convidados. Capitão, redondo\nalguns convidados! (um guarda coloca Fiona\nnas costas de seu cavalo)\n\nFIONA\nAdeus, ogro.\n\nTodo o grupo de Farquaad começa a voltar para DuLoc. Relógios de burro\neles vão.\n\nBURRO\nShrek, o que você está fazendo? Você está deixando\nela se afaste.\n\nSHREK\nSim? E daí?\n\nBURRO\nShrek, há algo sobre ela você\nnão sei. Olha, eu falei com ela pela última vez\nnoite, ela é - -\n\nSHREK\nEu sei que você falou com ela ontem à noite.\nVocês são ótimos amigos, não são? Agora se\nvocês dois são tão bons amigos, por que não\nvocê a segue até em casa?\n\nBURRO\nShrek, eu... - Quero ir contigo.\n\nSHREK\nEu te disse, não disse? Você não está vindo\ncasa comigo. Eu vivo sozinho! Meu pântano!\nEu! Ninguém mais! Entender? Ninguém!\nEspecialmente inútil, patético, irritante,\nburros falantes!\n\nBURRO\nMas eu pensei - -\n\nSHREK\nSim. Você sabe o que? Você pensou errado!\n(despedida)\n\nBURRO\nShrek.\n\nMontagem de cenas diferentes. Shrek chegando em casa. Fiona\nsendo ajustado para o vestido de noiva. Burro em um córrego em execução\nno dragão. Shrek limpando sua casa. Fiona jantando\nsozinho. Shrek jantando sozinho.\n\nCASA DO SHREK\n\nShrek está jantando quando ouve um som lá fora. Ele vai\nfora para investigar.\n\nSHREK\nBURRO? (O Burro o ignora e continua\ncom o que ele está fazendo.) O que você está\nfazendo?\n\nBURRO\nEu pensaria que, de todas as pessoas, você\nreconhecer uma parede quando você vê um.\n\n\nSHREK\nBem, sim. Mas a parede é suposto\ncontornar meu pântano, não atravessá-lo.\n\n\nBURRO\nÉ em torno de sua metade. Veja que é seu\nmetade, e esta é a minha metade.\n\nSHREK\nOh! Sua metade. Hum.\n\nBURRO\nSim, minha metade. Ajudei a resgatar a princesa.\nEu fiz metade do trabalho. eu recebo metade do\nespólio. Agora me dê aquela grande e velha pedra,\naquele que se parece com a sua cabeça.\n\n\nSHREK\nRecuar!\n\nBURRO\nNão, você recua.\n\nSHREK\nEste é o meu pântano!\n\nBURRO\nNosso pântano.\n\nSHREK\n(pega o galho da árvore O Burro está a trabalhar\ncom) Solte, Burro!\n\nBURRO\nVocê deixou ir.\n\nSHREK\nMacaco teimoso!\n\nBURRO\nOgro fedorento.\n\nSHREK\nMultar! (deixa o galho da árvore e caminha\num jeito)\n\nBURRO\nEi, ei, volte aqui. eu não terminei\ncom você ainda.\n\nSHREK\nBem, eu terminei com você.\n\nBURRO\nUh-uh. Você sabe, com você é sempre,\n\"Eu eu Eu!\" Bem, adivinhe! Agora\né a minha vez! Então você acabou de calar a boca e\nprestar atenção! Você é mau comigo. Você\nme insulte e você não aprecia nada\naquilo eu faço! Você está sempre me empurrando\nao redor ou me empurrando para longe.\n\nSHREK\nOh sim? Bem, se eu te tratasse assim\nruim, como você voltou?\n\nBURRO\nPorque é isso que os amigos fazem! Elas\nperdoar um ao outro!\n\nSHREK\nOh sim. Você está certo, Burro. Eu perdoo\nvocê... por me esfaquear pelas costas!\n(vai para a casinha e bate o\nporta)\n\nBURRO\nAh! Você está tão embrulhado em camadas,\nmenino cebola, você tem medo do seu próprio\nsentimentos.\n\nSHREK\n(os) Vá embora!\n\nBURRO\nAí está você, fazendo isso de novo apenas\ncomo você fez com Fiona. Tudo que ela sempre\nfazer era como você, talvez até te amo.\n\n\nSHREK\n(os) Me ama? Ela disse que eu era feio, um\ncriatura medonha. Eu ouvi os dois\nvocê falando.\n\nBURRO\nEla não estava falando de você. Ela era\nfalando sobre, uh, outra pessoa.\n\n\nSHREK\n(abre a porta e sai) Ela não estava\nfalando sobre mim? Bem, então quem era\nela está falando?\n\nBURRO\nUh-uh, de jeito nenhum. Eu não estou dizendo nada.\nVocê não quer me ouvir. Certo?\nCerto?\n\nSHREK\nBURRO!\n\nBURRO\nNão!\n\nSHREK\nOk, olhe. Desculpe, tudo bem? (suspirar)\nEu sinto Muito. Acho que sou apenas um grande,\nogro estúpido e feio. Você pode me perdoar?\n\n\nBURRO\nEi, é para isso que servem os amigos, certo?\n\n\nSHREK\nCerto. Amigos?\n\nBURRO\nAmigos.\n\nSHREK\nEntão, hum, o que Fiona disse sobre mim?\n\n\nBURRO\nO que você está me pedindo? Por que não\nvocê só vai perguntar a ela?\n\nSHREK\nO casamento! Nós nunca vamos fazer isso em\nTempo.\n\nBURRO\nHa ha ha! Nunca tema, para onde, há\numa vontade, há um caminho e eu tenho um caminho.\n(assobios)\n\nDe repente, o dragão chega e voa baixo o suficiente para\neles podem subir.\n\nSHREK\nBURRO?\n\nBURRO\nAcho que é apenas o meu magnetismo animal.\n\n\nAmbos riem.\n\nSHREK\nAh, venha aqui, você. (dá ao Burro um\nnoogie)\n\nBURRO\nTudo bem, tudo bem. Não pegue tudo\nbabado. Ninguém gosta de um beijo na bunda. Tudo\ncerto, suba e segure firme. eu não tenho\nteve a chance de instalar os cintos de segurança\nainda.\n\nEles sobem a bordo do dragão e ela parte para DuLoc.\n\nDULOC - IGREJA\n\nFiona e Farquaad vão se casar. A cidade inteira está lá.\nO cara do cartão de prompter segura um cartão que diz 'Silêncio Reverenciado'.\n\n\nPADRE\nPovo de DuLoc, nos reunimos aqui hoje\npara testemunhar a união....\n\nFIONA\n(olhando para o sol poente) Um-\n\nPADRE\n...do nosso novo rei...\n\nFIONA\nCom licença. Poderíamos apenas pular adiante\npara o \"eu faço\"?\n\nFARQUAAD\n(ri e depois faz um gesto para o padre\npara satisfazer Fiona) Vá em frente.\n\nPÁTIO\n\nAlguns guardas estão circulando. De repente, o dragão pousa com\num boom. Todos os guardas saem correndo.\n\nBURRO\n(para Dragon) Vá em frente, divirta-se.\nSe precisarmos de você, assobiarei. Que tal\neste? (ela balança a cabeça e vai atrás dos guardas)\nShrek, espere, espere! Espere um minuto! Você\nquer fazer isso direito, não é?\n\nSHREK\n(na porta da igreja) O que você está falando\ncerca de?\n\nBURRO\nHá uma linha que você tem que esperar. o\npregador vai dizer: \"Fale agora ou\ncale-se para sempre.\" Foi quando\nvocê diz: \"Eu me oponho!\"\n\nSHREK\nEu não tenho tempo para isso!\n\nBURRO\nEi, espere. O que você está fazendo? Ouço\npara mim! Olha, você ama essa mulher, não\nvocês?\n\nSHREK\nSim.\n\nBURRO\nVocê quer segurá-la?\n\nSHREK\nSim.\n\nBURRO\nPor favor, ela?\n\nSHREK\nSim!\n\nBURRO\n(cantando estilo James Brown) Então você\ntem que, tem que tentar um pouco de ternura.\n(normal) As garotas adoram aquele romântico\nporcaria!\n\nSHREK\nTudo bem! Pare com isso. Quando isso acontece\ncara dizer a linha?\n\nBURRO\nTemos que verificar.\n\nDENTRO DA IGREJA\n\nEnquanto o padre fala vemos a sombra do Burro através de um dos\njanelas Shrek o joga para cima para que ele possa ver.\n\nPADRE\nE assim, pelo poder investido em mim...\n\n\nFora\n\nSHREK\nO que você vê?\n\nBURRO\nA cidade inteira está lá.\n\nLado de dentro\n\nPADRE\nEu agora os declaro marido e mulher...\n\n\nFora\n\nBURRO\nEles estão no altar.\n\nLado de dentro\n\nPADRE\n...Rei e Rainha.\n\nFora\n\nBURRO\nMãe Fletcher! Ele já disse isso.\n\n\nSHREK\nAh, pelo amor de Pete!\n\nEle corre para dentro sem pegar o Burro, que bate forte no chão.\n\n\nDENTRO DA IGREJA\n\nSHREK\n(correndo em direção ao altar) Eu me oponho!\n\n\nFIONA\nShrek?\n\nToda a congregação suspira ao ver Shrek.\n\nFARQUAAD\nAh, agora o que ele quer?\n\nSHREK\n(para a congregação quando ele chega à frente\nda Igreja) Olá a todos. Tendo\num bom tempo, não é? Eu amo DuLoc, primeiro\nde tudo. Muito limpo.\n\nFIONA\nO que você está fazendo aqui?\n\nSHREK\nRealmente, é rude o suficiente estar vivo\nquando ninguém te quer, mas aparecendo\nsem ser convidado para um casamento...\n\nSHREK\nFiona! Eu preciso falar com você.\n\nFIONA\nAh, agora você quer conversar? É um pouco\ntarde para isso, então se você me der licença\n- -\n\nSHREK\nMas você não pode se casar com ele.\n\nFIONA\nE porque não?\n\nSHREK\nPorque- - Porque ele está apenas se casando\nvocê para que ele possa ser rei.\n\nFARQUAAD\nUltrajante, ultrajoso! Fiona, não dê ouvidos a ele.\n\n\nSHREK\nEle não é seu verdadeiro amor.\n\nFIONA\nE o que você sabe sobre o amor verdadeiro?\n\n\nSHREK\nBem, eu - - Uh - - quero dizer - -\n\nFARQUAAD\nAh, isso é precioso. O ogee caiu\napaixonada pela princesa! Ah, bom\nSenhor. (risos)\n\nO cara do cartão de prompter segura um cartão que diz 'Ria'. o\ntoda a congregação ri.\n\nFARQUAAD\nUm ogro e uma princesa!\n\nFIONA\nShrek, isso é verdade?\n\nFARQUAAD\nQuem se importa? É absurdo! Fiona,\nmeu amor, estamos a um beijo de distância\nnosso \"felizes para sempre\". Agora me beije!\n(enruga os lábios e se inclina em direção a ela,\nmas ela recua.)\n\nFIONA\n(olhando para o sol poente) \"À noite\nde um jeito, de dia de outro.\" (para Shrek)\nEu queria te mostrar antes.\n\nEla recua e quando o sol se põe, ela se transforma em seu eu ogro.\nEla dá a Shrek um sorriso tímido.\n\nSHREK\nBem, uh, isso explica muito. (Fiona\nsorrisos)\n\nFARQUAAD\nEca! É nojento! Guardas! Guardas!\nEu ordeno que você tire isso da minha vista\nagora! Pegue eles! Pegue os dois!\n\nOs guardas correm e separam Fiona e Shrek. Shrek luta\neles.\n\nSHREK\nNão não!\n\nFIONA\nShrek!\n\nFARQUAAD\nEste hocus-pocus não altera nada. este\ncasamento é obrigatório, e isso faz com que\neu rei! Ver? Ver?\n\nFIONA\nNão, me solte! Shrek!\n\nSHREK\nNão!\n\nFARQUAAD\nNão fiquem aí parados, seus idiotas.\n\n\nSHREK\nSaia do meu caminho! Fiona! Arrgh!\n\nFARQUAAD\nEu vou fazer você se arrepender do dia em que nos conhecemos.\nVou vê-lo desenhado e esquartejado! Você vai\nimplorar pela morte para salvá-lo!\n\nFIONA\nNão, Shrek!\n\nFARQUAAD\n(segure uma adaga na garganta de Fiona) E\nquanto a você, minha esposa...\n\nSHREK\nFiona!\n\nFARQUAAD\nEu vou te trancar naquela torre\npara o resto de seus dias! Eu sou rei!\n\n\nShrek consegue soltar a mão e assobia.\n\nFARQUAAD\nvou ter encomenda! Eu terei perfeição!\nEu terei - - (Burro e o dragão\naparecer e o dragão se inclina e\ncome Farquaad) Aaaah! Aah!\n\nBURRO\nTudo bem. Ninguém se move. eu tenho um dragão\naqui, e eu não tenho medo de usá-lo.\n(O dragão ruge.) Eu sou um burro\nA beira!\n\nO dragão arrota e a coroa de Farquaad voa para fora de sua boca\ne cai no chão.\n\nBURRO\nCasamentos de celebridades. Eles nunca duram,\nEles?\n\nA congregação aplaude.\n\nBURRO\nVá em frente, Shrek.\n\nSHREK\nAh, Fiona?\n\nFIONA\nSim, Shrek?\n\nSHREK\nEu - - Eu te amo.\n\nFIONA\nSério?\n\nSHREK\nSério sério.\n\nFIONA\n(sorri) Eu também te amo.\n\nShrek e Fiona se beijam. Thelonius pega um dos cartões e escreve\n'Awwww' nas costas e depois mostra para a congregação.\n\n\nCONGREGAÇÃO\nAawww!\n\nDe repente, a magia do feitiço afasta Fiona. Ela é levantada\nno ar e ela paira lá enquanto a magia funciona ao redor\nsua.\n\nSUSSURROS\n\"Até que você encontre o primeiro beijo do amor verdadeiro\ne então tomar a verdadeira forma do amor. Leva\na verdadeira forma do amor. Assuma a verdadeira forma do amor.\"\n\n\nDe repente, os olhos de Fiona se arregalam. Ela é consumida pelo feitiço\ne, em seguida, é lentamente baixado para o chão.\n\nSHREK\n(indo até ela) Fiona? Fiona. São\nVocê está bem?\n\nFIONA\n(levantando-se, ela ainda é um ogro) Bem,\nsim. Mas eu não entendo. eu devo\npara ser bonita.\n\nSHREK\nMas você é linda.\n\nEles sorriem um para o outro.\n\nBURRO\n(risos) Eu estava esperando que isso fosse\num final feliz.\n\nShrek e Fiona se beijam... e o beijo se transforma em...\n\nO PÂNTANO\n\n... seu beijo de casamento. Shrek e Fiona agora estão casados. 'Eu estou\na Believer' de Smashmouth é tocada ao fundo. Shrek\ne Fiona se separam e correm pela multidão para o seu\ntransporte. Que é feito de uma cebola gigante. Fiona joga seu buquê\nque Cinderela e Branca de Neve tentam pegar. Mas eles acabam\naté entrar em uma briga de gatos e assim o dragão pega o buquê\nem vez de. O homem de gengibre foi consertado um pouco e agora\ntem uma perna e anda com uma bengala-doce. Shrek e Fiona\nsai enquanto o resto dos convidados se divertem e o Burro assume\ncantando a canção.\n\nHOMEM DE GENGIBRE\nDeus abençoe todos nós.\n\nBURRO\n(quando ele termina de cantar e nós desaparecemos para\npreto) Ah, isso é engraçado. Oh. Oh. Não posso\nrespirar. Eu não consigo respirar.\n\nO FIM","type":"string"},{"id":"4490bf62-3d77-4f5e-93e6-2ce57fe2609b","name":"evoUrl","value":"https://whatsapi.typebot.pro/","type":"string"},{"id":"0f03016f-5e7a-4f1c-9ff8-5642ffaff02a","name":"key","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"5f7b4ae4-135c-46ec-9313-9860ced9ceaa","name":"instancia1","value":"BOSSJAMIL","type":"string"},{"id":"719c1001-c029-4ff0-895b-72eb6fb28c53","name":"instancia2","value":"BOTASGARD2","type":"string"}]},"options":{}},"id":"6444e048-c224-44ed-bcce-97584c54356d","name":"config","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,460]}],"connections":{"Code1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"sendText1","type":"main","index":0}]]},"sendText1":{"main":[[{"node":"enviar entre 80 a 120s","type":"main","index":0}]]},"If1":{"main":[[{"node":"5 minutos","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"enviar entre 80 a 120s":{"main":[[{"node":"If1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"config","type":"main","index":0}]]},"5 minutos":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"config":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e79f8ff-7467-4f9e-96cc-e71c99d0db38","triggerCount":0,"tags":[]}