monitor-membros-ativos---whatsapp-5dmLXKC74sQWbEZt.json
{"createdAt":"2024-12-12T17:06:50.130Z","updatedAt":"2024-12-12T17:56:34.198Z","id":"5dmLXKC74sQWbEZt","name":"MONITOR MEMBROS ATIVOS - WHATSAPP","active":false,"nodes":[{"parameters":{},"id":"47bead96-5305-4ae2-86ea-e03132a1d1b9","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1880,340]},{"parameters":{"assignments":{"assignments":[{"id":"4fdc6267-c0b6-4b2c-a148-0b805af92766","name":"baseUrl","value":"https://whatsapi.typebot.pro","type":"string"},{"id":"416374cf-8e3e-467b-9ab5-7fc1c759db42","name":"instance","value":"JAMILPESSOAL","type":"string"},{"id":"b4c27edc-5aad-4acb-abb8-964db5601178","name":"apiKey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"1980bf50-bed7-4a3c-9546-000b2e38a561","name":"grupo","value":"120363127737464835@g.us","type":"string"}]},"options":{}},"id":"dcfcc9b8-bce8-4deb-8299-f9e2badbdce4","name":"VARIÁVEIS","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1600,340]},{"parameters":{"batchSize":50,"options":{}},"id":"560e9212-d513-4c26-bd43-d49f92ef3462","name":"LOOP OVER","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-580,340]},{"parameters":{"content":"## ALTERE SUAS VARIÁVEIS","height":245.5646909280789,"width":310.38313842311254,"color":3},"id":"ebdb6ad8-18b8-4b65-a97f-c060818fd3fb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1700,273]},{"parameters":{"url":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"baseUrl\"] }}/group/participants/{{ $json.instance }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"apiKey\"] }}"}]},"options":{}},"id":"5f223ca9-103d-45ea-8231-fddfd5a5f45b","name":"CONSULTA INSTANCIA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1340,340]},{"parameters":{"fieldToSplitOut":"participants","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1080,340],"id":"31ccc813-3909-4396-8269-655bf3f13248","name":"Split Out"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":616945964,"mode":"list","cachedResultName":"MEMBROS - PAPO RETO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=616945964"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.whatsapp }}","NOME":"={{ $json.nome }}"},"matchingColumns":["NUMERO"],"schema":[{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ULTIMA ATIVIDADE","displayName":"ULTIMA ATIVIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AVISO","displayName":"AVISO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-260,360],"id":"00ccbb4c-004b-4712-93dc-5898f7c9a97a","name":"SALVA CONTATOS1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[20,360],"id":"0d934ed1-d692-4970-b492-9001af921aea","name":"Wait2","webhookId":"be26e9fd-e093-4d90-bc8e-794c4f9aae5c"},{"parameters":{"assignments":{"assignments":[{"id":"5208284e-d903-4100-8a37-43d12c1db370","name":"nome","value":"={{ $json.name }}","type":"string"},{"id":"b0acbeff-dfc7-4fe1-8483-e6d162d1adad","name":"whatsapp","value":"={{ $json.id.split('@')[0] }}","type":"string"}]},"options":{}},"id":"e7564060-ad16-47a0-a242-fd8f23b7b416","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-840,340]},{"parameters":{"url":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"baseUrl\"] }}/group/participants/{{ $('VARIÁVEIS').item.json.instance }}?groupJid={{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"apiKey\"] }}"}]},"options":{}},"id":"e7577ed0-5b9a-44ac-84a4-4867cd642ee0","name":"CONSULTA INSTANCIA1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1420,-60]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47dad059-9b30-4865-8bb0-5700f0951bc8","leftValue":"={{ $json.subject }}","rightValue":"PAPO RETO - MARKETING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"1d001524-f922-46d5-a830-60badf36ef9c","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1600,-80]},{"parameters":{"url":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"baseUrl\"] }}/group/fetchAllGroups/{{ $json.instance }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"getParticipants","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"VARIÁVEIS\"].json[\"apiKey\"] }}"}]},"options":{}},"id":"5855e43f-d1ac-4982-9823-41d65ce645d5","name":"CONSULTA GRUPOS1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1800,-120]},{"parameters":{"content":"## LISTAR TODOS OS GRUPOS E FILTRAR","height":351.54788234499284,"width":721.6404157313252,"color":3},"id":"a2f39cf1-de21-47ec-a32f-74ccde1150de","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1900,-240]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"VARIÁVEIS","type":"main","index":0}]]},"VARIÁVEIS":{"main":[[{"node":"CONSULTA INSTANCIA","type":"main","index":0}]]},"LOOP OVER":{"main":[[],[{"node":"SALVA CONTATOS1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"CONSULTA INSTANCIA":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"SALVA CONTATOS1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"LOOP OVER","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"CONSULTA INSTANCIA1","type":"main","index":0}]]},"CONSULTA GRUPOS1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"LOOP OVER","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9d1513fa-0f65-438f-af05-a93772ecfff1","triggerCount":0,"tags":[]}