op.luan-asgard---distribuir-lead-N4qrDr4RsuGl9A84.json
{"createdAt":"2025-11-26T19:50:50.478Z","updatedAt":"2025-11-26T22:41:07.088Z","id":"N4qrDr4RsuGl9A84","name":"OP.LUAN ASGARD - DISTRIBUIR LEAD","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"836e203a-48e3-4be1-be95-7d59e6bd3220","name":"NOME","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"dde3bd2e-0fd0-4365-a1d9-138eeb401e1f","name":"NUMERO","value":"={{ $json.body.data.key.remoteJidAlt.split('@')[0] }}","type":"string"},{"id":"59b418e8-0f42-41b3-8271-901cf38f24d3","name":"LID","value":"={{ $json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"9e04b168-079c-4c6d-a1c7-665b37d32b2b","name":"DATA","value":"={{ new Date($json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-96],"id":"92acd4e4-5547-49e8-b977-68b5115469ee","name":"Edit Fields"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. MATHEUS - ASGARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NOME":"={{ $json.NOME }}","NUMERO":"={{ $json.NUMERO }}","DATA/HORA":"={{ $json.DATA }}","LID":"={{ $json.LID }}"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[640,-96],"id":"572f0c96-91e1-4ea4-a783-8298b77bcd89","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43a23872-6527-4ab1-a799-061cb200d6ce","leftValue":"={{ $json.body.data.message.senderKeyDistributionMessage.groupId }}","rightValue":"120363288601507294@g.us","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,-16],"id":"aac289d2-c518-441d-aa61-72cdbbd9baea","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-48,112],"id":"f8cd5547-ce41-45ae-bbc4-21870add5bad","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43a23872-6527-4ab1-a799-061cb200d6ce","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"Olá! Tenho interesse e queria mais informações, por favor.","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,-80],"id":"23829405-f482-4609-889c-af0b776325a1","name":"If1"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/OPMATHEUS-ASGARD","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363288601507294@g.us"},{"name":"text","value":"={{ $json.botao.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2064,-96],"id":"d86c5a2e-4cf0-419e-971b-a9d7fd4d3e04","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"a8a466c4-6cd7-4b40-9071-aecadb9fe926","name":"botao.mensagem","value":"=👤 NOME: {{ $('Append or update row in sheet').item.json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $('Code').item.json.telefone }}\n⏰ DATA/HORA: {{ $('Code').item.json.DATA }}\n🆔 LID: https://wa.me/{{ $('Code').item.json.telefone }}\n\nOBS: reaja com o seu emoji e respeite um máximo de 5 Leads por vez","type":"string"}]},"options":{}},"id":"96bbc266-7632-474a-ad54-42b76e95a5a5","name":"DADOS BOTAO14","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1840,-96]},{"parameters":{"httpMethod":"POST","path":"opmatheusasgard","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-544,-16],"id":"5c6e0515-d3d3-490e-a11c-81e06f0bc430","name":"Webhook1","webhookId":"0a1fd1b1-8499-4c88-b1f3-44932984edaf"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/OPMATHEUS-ASGARD","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Code').item.json.telefone }}"},{"name":"text","value":"={{ $json.botao.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,-96],"id":"7854b958-7e25-4bc4-aef1-839b7951cd7b","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"a8a466c4-6cd7-4b40-9071-aecadb9fe926","name":"botao.mensagem","value":"=Opa! Tudo bem? Acabei de encaminhar seu contato para um dos nossos consultores! Em instantes ele entrará em contato com você.","type":"string"}]},"options":{}},"id":"1e5e9ee2-f4a6-4ec9-a49b-00c06f385e1c","name":"DADOS BOTAO","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1120,-96]},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[896,-96],"id":"2dcf17fa-f731-4b26-a6bf-bffc2e0b9767","name":"Wait","webhookId":"7b97c778-fbfb-4b78-9557-be85b77ffc6a"},{"parameters":{"jsCode":"return items.map(item => {\n  let lid = (item.json.LID || \"\").toString().trim();\n  let numero = (item.json.NUMERO || \"\").toString().trim();\n\n  // Remover tudo que não for número\n  lid = lid.replace(/\\D/g, \"\");\n  numero = numero.replace(/\\D/g, \"\");\n\n  // Regex para pegar telefone iniciando em 55 (12 a 15 dígitos)\n  const regex = /55\\d{10,13}/;\n\n  let telefone = null;\n\n  if (regex.test(lid)) {\n    telefone = lid.match(regex)[0];\n  } else if (regex.test(numero)) {\n    telefone = numero.match(regex)[0];\n  }\n\n  item.json.telefone = telefone;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-96],"id":"861eedc9-82ad-47b6-a727-5f2ee4c98542","name":"Code"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1632,-96],"id":"ee93fcd2-7a7a-4c13-b162-23997038d643","name":"Wait1","webhookId":"c2d3b7d8-8110-448b-9548-9ebfd0f46c64"},{"parameters":{"content":"## RECEBE HOOK, TRATA E SALVA DADOS","height":592,"width":1392,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-576,-272],"typeVersion":1,"id":"a38ce803-6b52-4d96-86d4-f8b1696eef9c","name":"Sticky Note"},{"parameters":{"content":"## BOAS VINDAS AO LEAD","height":592,"width":704},"type":"n8n-nodes-base.stickyNote","position":[832,-272],"typeVersion":1,"id":"79a52746-5c1e-44de-af3d-95bfd2276ad7","name":"Sticky Note1"},{"parameters":{"content":"## ENVIA DADOS AO GRUPO DE SUPORTE","height":288,"width":704,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1552,-160],"typeVersion":1,"id":"ee1d4772-711b-42a0-b61b-58ca20147bef","name":"Sticky Note2"}],"connections":{"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"DADOS BOTAO14":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"If","type":"main","index":0}]]},"DADOS BOTAO":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"DADOS BOTAO","type":"main","index":0}]]},"Code":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"DADOS BOTAO14","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4a8457d-f3e5-4729-b68a-ca7b315eabf7","triggerCount":1,"shared":[{"createdAt":"2025-11-26T19:50:50.478Z","updatedAt":"2025-11-26T19:50:50.478Z","role":"workflow:owner","workflowId":"N4qrDr4RsuGl9A84","projectId":"86fLtGJ4RKYxddia"}],"tags":[]}