preço-do-bitcoin-DEEyv6hYNjIheRLS.json
{"createdAt":"2025-01-09T21:19:21.803Z","updatedAt":"2025-03-02T03:05:49.062Z","id":"DEEyv6hYNjIheRLS","name":"PREÇO DO BITCOIN","active":true,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"cdcf5ad3-7998-4b57-9d27-725217b4c135","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-40,140]},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"619cb727-a037-451b-b21d-b7d9e1af1548","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1320,-780]},{"parameters":{"method":"POST","url":"https://whatsapi.typebot.pro/message/sendText/JAMILPESSOAL","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"120363047102471901@g.us\",\n    \"text\": \"👉 ESTA É UMA MENSAGEM AUTOMÁTICA 👈\\n\\n⏱️ FREQUENCIA DE ENVIO: 1 HORA \\n\\n🪙MOEDAS🪙\\n🔰 BTC/USD = {{ $json.VALORBTC }}\\n🔰 USDT/BRL = {{ $json.VALORUSDT }}\\n🔰 XRP/USD = {{ $json.VALORXRP }}\\n🔰 TRUMP/USDT = {{ $json.VALORTRUMP }}\"\n}","options":{}},"id":"974211c2-4b48-4ef6-8b0c-f0385c81dadf","name":"HTTP Request1 - Abaixo4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,140]},{"parameters":{"url":"https://data-api.binance.vision/api/v3/ticker/price?symbol=XRPUSDT","options":{}},"id":"d17ffe33-b81b-4905-b152-eb83caa67b5c","name":"XRP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,200]},{"parameters":{"url":"https://data-api.binance.vision/api/v3/ticker/price?symbol=USDTBRL","options":{}},"id":"abd90b40-e840-456f-aa4d-1daacfe6bed0","name":"USDT","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,40]},{"parameters":{"url":"https://data-api.binance.vision/api/v3/ticker/price?symbol=BTCUSDT","options":{}},"id":"60010cb5-ddc7-4bb5-804f-c3b8ce6ab0b7","name":"BTC","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,-120]},{"parameters":{"content":"# ENVIO DE VALORES CRYPTO EM GRUPO WHATSAPP\n## CONFIGURAR ENVIO NO PRIMEIRO NÓ","height":664.7578976267246,"width":1381.5347366261408},"id":"1bbc61c9-6abb-4bf1-8436-4e1c11053f01","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-860,-240]},{"parameters":{"jsCode":"// Pega os dados de cada nó HTTPRequest\nlet data1 = $node[\"BTC\"].json;\nlet data2 = $node[\"USDT\"].json;\nlet data3 = $node[\"XRP\"].json;\nlet data4 = $node[\"TRUMP\"].json;\n\n// Cria itens individuais para cada conjunto de dados\nlet individualItems = [\n  { json: { source: \"BTC\", data: data1 } },\n  { json: { source: \"USDT\", data: data2 } },\n  { json: { source: \"XRP\", data: data3 } },\n  { json: { source: \"TRUMP\", data: data4 } },\n];\n\n// Retorna os itens individuais\nreturn individualItems;\n"},"id":"deba3b6e-1d55-4078-b8a6-5593d17cb6a9","name":"Code7","type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,140]},{"parameters":{"assignments":{"assignments":[{"id":"9cab96ae-9d7e-4c08-8d3a-323d4b797fd8","name":"VALORBTC","value":"={{ $json.data[0].data.price }}","type":"number"},{"id":"9a3720ec-17d0-47e8-a40a-22585fc6aaa8","name":"VALORUSDT","value":"={{ $json.data[1].data.price }}","type":"number"},{"id":"2b81e237-c4b7-4870-a09e-096f725182e2","name":"VALORXRP","value":"={{ $json.data[2].data.price }}","type":"number"},{"id":"3c9cee8c-358a-4a49-aa03-f64da9df3068","name":"VALORTRUMP","value":"={{ $json.data[3].data.price }}","type":"string"}]},"options":{}},"id":"cffeac99-c0b1-4b3d-ba42-90345d3b2229","name":"MOEDAS","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,140]},{"parameters":{"url":"https://data-api.binance.vision/api/v3/ticker/price?symbol=TRUMPUSDT","options":{}},"id":"81565d8f-99bf-462c-98a4-110d8d4f2761","name":"TRUMP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,-120]},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"ebf45e91-e1a5-4e43-abd9-84c86478b142","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-400,-780]},{"parameters":{"jsCode":"// Obtém os dados do nó anterior no formato padrão do n8n\nlet items = $input.all();\n\n// Mapeia cada item e formata os valores\nlet formattedData = items.map(item => {\n  let data = item.json; // Acessa o objeto JSON de cada item\n  return {\n    moeda: data.moeda,\n    valor: parseFloat(data.valor).toFixed(2), // Formata o valor com duas casas decimais\n    ultimas24hrs: parseFloat(data.ultimas24hrs).toFixed(2), // Formata ultimas24hrs com duas casas decimais\n    ultimahora: parseFloat(data.ultimahora).toFixed(2) // Formata ultimahora com duas casas decimais\n  };\n});\n\n// Retorna os dados formatados para o próximo nó\nreturn formattedData.map(data => ({ json: data }));\n"},"id":"ba284c93-3a0f-4d93-9fca-6da5739395d9","name":"Code8","type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,-780]},{"parameters":{"assignments":{"assignments":[{"id":"38581cef-c52b-462c-b674-170201fc9896","name":"moeda","value":"={{ $json.name }}","type":"string"},{"id":"690b76b4-bcee-429a-b019-9ef7737a5fda","name":"valor","value":"={{ $json.quote.USD.price }}","type":"string"},{"id":"101bdd32-b97c-4897-94c0-2156170513dd","name":"ultimas24hrs","value":"={{ $json.quote.USD.percent_change_24h }}","type":"string"},{"id":"15f07c6e-f7c1-4ad1-b160-f02d5fb365c3","name":"=ultimahora","value":"={{ $json.quote.USD.percent_change_1h }}","type":"string"}]},"options":{}},"id":"bf4192b7-5b3e-4f12-a4f7-e5af5eff933c","name":"moedas","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,-780]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"5cc152c9-ee36-4f59-8e97-8ef24be75557","name":"Aggregate2","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[120,-780]},{"parameters":{"jsCode":"// Obtém os dados do nó anterior\nlet items = $input.all();\n\n// Extrai os dados do JSON\nlet data = items[0].json.data;\n\n// Monta a mensagem formatada com \\\\n para as quebras de linha\nlet message = data.map(item => {\n  return `🔰 Moeda: ${item.moeda}\\\\nValor: ${item.valor}\\\\nultimas 24hrs: ${item.ultimas24hrs}%\\\\nultima Hora: ${item.ultimahora}%`;\n}).join('\\\\n\\\\n'); // Junta cada bloco com uma quebra de linha dupla\n\n// Retorna a mensagem formatada como um único item\nreturn {\n  json: {\n    message: message.trim() // Remove qualquer quebra de linha extra no final\n  }\n};\n"},"id":"2cda290d-eb79-477a-a999-49feab08ddde","name":"Code9","type":"n8n-nodes-base.code","typeVersion":2,"position":[380,-680]},{"parameters":{"url":"https://data-api.binance.vision/api/v3/ticker/price?symbol=USDTBRL","options":{}},"id":"0f309721-a5cf-44d1-af31-87f551b1f31c","name":"DOLAR AGORA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-680]},{"parameters":{"content":"```\n ██████ ██████  ██    ██ ██████  ████████  ██████        ██     ██ ██   ██  █████  ████████ ███████ \n██      ██   ██  ██  ██  ██   ██    ██    ██    ██       ██     ██ ██   ██ ██   ██    ██    ██      \n██      ██████    ████   ██████     ██    ██    ██ █████ ██  █  ██ ███████ ███████    ██    ███████ \n██      ██   ██    ██    ██         ██    ██    ██       ██ ███ ██ ██   ██ ██   ██    ██         ██ \n ██████ ██   ██    ██    ██         ██     ██████         ███ ███  ██   ██ ██   ██    ██    ███████ \n                                                                                                    \n                                                                                                    \n","height":133.75120767772074,"width":929.4682783318663,"color":3},"id":"9b21cc59-1eec-4862-a7d2-d5feb3e31527","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-340,-1040]},{"parameters":{"content":"## CRIA A MENSSAGEM DE ACORDO COM O QUE RECEBE\n## BAIXA VALOR DO DOLAR EM REAL\n## ENVIA NO GRUPO DO WHATSAPP","height":362,"width":814},"id":"cfaadacf-4bf3-4776-9eac-ac0c0620f7f0","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,-860]},{"parameters":{"url":"https://pro-api.coinmarketcap.com/v2/cryptocurrency/quotes/latest","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $json.resultado }}"},{"name":"convert","value":"USD"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-CMC_PRO_API_KEY","value":"724c5bfe-e3a8-44b2-8c1d-9723046c6ebf"},{"name":"Accept","value":"application/json"}]},"options":{}},"id":"ef9c9842-bcca-4b26-9ec7-e852fc711942","name":"PUXAR VALOR CRYPTO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,-780]},{"parameters":{"assignments":{"assignments":[{"id":"38581cef-c52b-462c-b674-170201fc9896","name":"BTC","value":"1","type":"string"},{"id":"690b76b4-bcee-429a-b019-9ef7737a5fda","name":"XRP","value":"1027","type":"string"},{"id":"101bdd32-b97c-4897-94c0-2156170513dd","name":"ETHEREUM","value":"52","type":"string"},{"id":"15f07c6e-f7c1-4ad1-b160-f02d5fb365c3","name":"SOLANA","value":"5426","type":"string"},{"id":"dc41a9dd-7fe0-4547-a1d5-007cd534b8eb","name":"DOGCOIN","value":"74","type":"string"},{"id":"1abec304-6a63-426a-af48-d8dfa0aaef36","name":"CARDANO","value":"2010","type":"string"},{"id":"67d3ea9f-25b1-480e-b30b-4522b070fd66","name":"BNB","value":"1839","type":"string"}]},"options":{}},"id":"6f6d71a8-4169-4851-8282-9d0cce117756","name":"cod_moedas","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1100,-780]},{"parameters":{"jsCode":"const data = $input.item.json; \n\n// Pega os valores do objeto e os junta com vírgula\nconst resultado = Object.values(data).join(\",\");\n\nreturn {\n  json: {\n    resultado: resultado\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-780],"id":"9ac63b47-93d9-46a8-be2a-4d57ddfe700a","name":"Code"},{"parameters":{"content":"## DEFINA ID DAS MOEDAS UISANDO O UCID DA COINMARKETCAP","height":282,"width":874,"color":4},"id":"72b604a4-66b9-4d97-ac2d-a58754de2d1a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1360,-860]},{"parameters":{"content":"## RECEBE E TRATA AS INFORMAÇÕES","height":282,"width":754,"color":3},"id":"ab6f9d48-ba5d-46c6-bd9c-d8104c00a331","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-460,-860]},{"parameters":{"method":"POST","url":"https://whatsapi.typebot.pro/message/sendText/ASGARDACADEMY","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"120363047102471901@g.us\",\n    \"text\": \"⚠️PREÇO AGORA⚠️\\n💵 PREÇOS ESTÃO EM DÓLAR\\n⏱️ FREQUÊNCIA DE ENVIO: 1 HORA\\n\\n{{ $('Code9').item.json.message }}\\n\\n🔰 Moeda: {{ $json.symbol }}\\nValor: {{ $json.price }}\\n\\n👉 ESTA É UMA MENSAGEM AUTOMÁTICA NÃO É INDICAÇÃO DE COMPRA 👈\"\n}","options":{}},"id":"9c8c96eb-44e3-4595-b3f3-dc3185e5e550","name":"ENVIA NO GRUPO DO WHATSAPP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,-680]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1000,-680],"id":"ee2514a3-1ab4-4d43-b5ff-6b3e97e0f6c5","name":"No Operation, do nothing"}],"connections":{"XRP":{"main":[[{"node":"TRUMP","type":"main","index":0}]]},"USDT":{"main":[[{"node":"XRP","type":"main","index":0}]]},"BTC":{"main":[[{"node":"USDT","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"cod_moedas","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"MOEDAS","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"MOEDAS":{"main":[[{"node":"HTTP Request1 - Abaixo4","type":"main","index":0}]]},"TRUMP":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"moedas","type":"main","index":0}]]},"moedas":{"main":[[{"node":"Code8","type":"main","index":0}]]},"Code8":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code9","type":"main","index":0}]]},"Code9":{"main":[[{"node":"DOLAR AGORA","type":"main","index":0}]]},"DOLAR AGORA":{"main":[[{"node":"ENVIA NO GRUPO DO WHATSAPP","type":"main","index":0}]]},"PUXAR VALOR CRYPTO":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"cod_moedas":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"PUXAR VALOR CRYPTO","type":"main","index":0}]]},"ENVIA NO GRUPO DO WHATSAPP":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1268159d-ab4b-4dd9-920c-528ca74ee0a2","triggerCount":1,"tags":[]}