relatorio-donald---teste-40N9XggX7psybiCb.json
{"createdAt":"2025-02-14T12:50:19.429Z","updatedAt":"2025-02-14T18:29:39.915Z","id":"40N9XggX7psybiCb","name":"RELATORIO DONALD - TESTE","active":false,"nodes":[{"parameters":{"content":"## WEBHOOK ANTIGO\nREGISTRO\nhttps://santo.gtm.agencia241.com/registration\n\nDEPOSITO PAGO\nhttps://santo.gtm.agencia241.com/purchase","height":180,"width":520},"type":"n8n-nodes-base.stickyNote","position":[-1640,-780],"typeVersion":1,"id":"5164c37e-5ca0-40ed-bda3-b62d700280e4","name":"Sticky Note"},{"parameters":{"documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1117065393,"mode":"list","cachedResultName":"FAT. DIA 25","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=1117065393"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A3:M35"}},"outputFormatting":{"values":{"general":"FORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-620,-640],"id":"67b61347-30ec-4446-a750-9c96b958b3b9","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-860,-640],"id":"87cbe909-d0df-4c14-b345-b245eeec1c21","name":"When clicking ‘Test workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"033634e9-61f6-44f1-aeb5-3dd1ec7b00fb","leftValue":"={{ $json.row_number }}","rightValue":2,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-400,-640],"id":"faceecf7-62ea-4c9d-aece-525e400d0278","name":"Filter"},{"parameters":{"includeOtherFields":true,"include":"except","excludeFields":"row_number","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-180,-640],"id":"a1b70234-0274-425d-9c40-48f076adc05e","name":"Edit Fields"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Você é um analista de dados especializado em relatórios mensais.  \nReceberá uma lista de registros contendo informações como mês, valores e outras métricas.  \n\n**Tarefa:**  \n- Analise os dados recebidos e agrupe-os por mês.  \n- Calcule a **porcentagem de crescimento** mês a mês.  \n- Destaque tendências e insights relevantes.  \n\n**Regras:**  \n1. Se houver meses sem dados, indique a ausência.  \n2. Se houver queda no crescimento, destaque possíveis motivos.  \n3. Apresente os resultados de forma clara e objetiva.  \n\n**Dados Recebidos:**  \n{{ $json.DIA }}\n\nGere um relatório detalhado com esses dados.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[300,-640],"id":"79f398f4-d40c-411c-91c1-cfe505a62173","name":"OpenAI","credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"DIA"},{"fieldToAggregate":"JANEIRO"},{"fieldToAggregate":"FEVEREIRO"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[40,-640],"id":"d00441a3-fcf8-484f-a68d-a884c7b9ff40","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"6953fd93-0386-4746-afaf-2c6d16594ad5","name":"message.content","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,-640],"id":"d97cafcb-d2f2-41ce-8bc8-cb44facbca64","name":"Edit Fields1"}],"connections":{"Google Sheets":{"main":[[{"node":"Filter","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1693a19d-cc0f-487b-a1f1-7814c555ca62","triggerCount":1,"tags":[]}