resumo-+-podcast-Or1kMtXrmge5gsbD.json
{"createdAt":"2025-03-29T13:08:31.393Z","updatedAt":"2025-03-29T14:19:31.587Z","id":"Or1kMtXrmge5gsbD","name":"RESUMO + PODCAST","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"fa68a674-bc29-4286-a075-35f22e8e705b","name":"grupoId","value":"120363127737464835@g.us","type":"string"},{"id":"719dafd4-7da1-4abe-bc40-4cfd8a3f1ea3","name":"instanceId","value":"a21d0a95-02c7-4835-8a76-15135251f7c0","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1020,1020],"id":"068a4a8e-889a-4c2f-ae11-09c8f8d10054","name":"config"},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM public.\"Message\"\nWHERE \"instanceId\" = '{{ $json.instanceId }}'\n  AND \"key\"->>'remoteJid' = '{{ $json.grupoId }}'\n  AND \"messageTimestamp\" >= EXTRACT(EPOCH FROM (NOW() - INTERVAL '24 HOURS'))\n  AND \"messageType\" = 'conversation'\nORDER BY \"messageTimestamp\" ASC;\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-780,1020],"id":"1f4d9e9f-1615-4892-9217-42fe7492a825","name":"listar_ultimas_24h_mensagens","alwaysOutputData":false,"credentials":{"postgres":{"id":"12FMIfee1lRo9MqY","name":"POSTGRESS EVO20"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-160,1020],"id":"b8867a31-dade-4065-9fdc-03be3c54274c","name":"Aggregate"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[140,1220],"id":"d8a04c18-364c-407c-9d56-289de9c53fda","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"W9iqAHpJXispMNuH","name":"GEMINI JAMIL"}}},{"parameters":{"jsCode":"return [\n  ...$input.all().map(item => ({\n    numero: item.json.key.participant?.split('@')[0],\n    nome: item.json.pushName,\n    texto: item.json.message.conversation,\n    dataHora: item.json.formattedDate,\n  }))\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-360,1020],"id":"62b8d778-a48f-436a-863e-f9461a41ab4a","name":"tratamento"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1240,1020],"id":"5c9db773-4b4c-485c-bd36-8bb6932696ff","name":"Schedule Trigger"},{"parameters":{"operation":"formatDate","date":"={{ $json.messageTimestamp }}","format":"custom","customFormat":"dd/MM/yyyy hh:mm:ss","options":{"includeInputFields":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-580,1020],"id":"a3a1ea69-c575-4c74-bded-21a37f542875","name":"Date & Time"},{"parameters":{"resource":"messages-api","instanceName":"NovoVivo4747","remoteJid":"={{ $('config').item.json.grupoId }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[440,1020],"id":"f794cf61-1954-4990-a993-da0f763e9c95","name":"Evolution API","credentials":{"evolutionApi":{"id":"yZ8Sx7tn3eiiMcG2","name":"EVOLUTION 2.0"}}},{"parameters":{"content":"# Busca Grupo","height":300,"width":250,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-1200,1400],"typeVersion":1,"id":"2846d79f-7ea5-4593-a79d-af29c309b8b2","name":"Sticky Note7"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"BOSS","searchMethod":"fetchAll"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1140,1500],"id":"3c29f576-5e7c-4b28-97f1-01985266d59c","name":"Evolution API3","credentials":{"evolutionApi":{"id":"yZ8Sx7tn3eiiMcG2","name":"EVOLUTION 2.0"}}},{"parameters":{"httpMethod":"POST","path":"eef763ef-0a1d-454c-a302-dc077f7295","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-900,1540],"id":"efa7fad2-680b-4082-89ff-8850c2755c5b","name":"Webhook1","webhookId":"64d33e69-8724-4bcc-a702-db77752efd31","disabled":true},{"parameters":{"content":"","height":540,"width":860,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-920,1400],"typeVersion":1,"id":"c64e83cb-7659-41b1-b344-dfa7c2644372","name":"Sticky Note5"},{"parameters":{"assignments":{"assignments":[{"id":"598c7efd-9aaf-4524-a095-130f74c6c336","name":"body.data.message.base64","value":"={{ $json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-700,1540],"id":"2b4e0e43-9f8b-4e9d-8d41-8c8fea552447","name":"Edit Fields"},{"parameters":{"content":"# Envia WhatsApp\n","height":80,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-900,1420],"typeVersion":1,"id":"7a233aad-2c45-49ec-b5ee-3aaecfd1b897","name":"Sticky Note6"},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"NovoVivo4747","remoteJid":"554599909009-1475841811@g.us","media":"={{ $('Edit Fields').item.json.body.data.message.base64 }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-300,1540],"id":"27609c36-14f1-43dc-b32f-f964705a2f0c","name":"ENVIO DO PODCAST","credentials":{"evolutionApi":{"id":"yZ8Sx7tn3eiiMcG2","name":"EVOLUTION 2.0"}}},{"parameters":{"resource":"messages-api","instanceName":"NovoVivo4747","remoteJid":"554599909009-1475841811@g.us","messageText":"=Segue o PODCAST em INGLÊS do Gamerom do dia {{ $now.minus(1, 'days').format('dd/LL/yyyy') }}, aproveitem, agora com acelerador de audio 🤖✅!","options_message":{"mentions":{"mentionsSettings":{"mentionsEveryOne":true}}}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-500,1760],"id":"6455fae2-b277-41be-abb0-6af410eb247e","name":"ENVIO DE TEXTO - INGLES","credentials":{"evolutionApi":{"id":"yZ8Sx7tn3eiiMcG2","name":"EVOLUTION 2.0"}},"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"NovoVivo4747","remoteJid":"554599909009-1475841811@g.us","messageText":"=Segue o PODCAST do Gamerom do dia {{ $now.minus(1, 'days').format('dd/LL/yyyy') }}, aproveitem, agora com acelerador de audio 🤖✅!","options_message":{"mentions":{"mentionsSettings":{"mentionsEveryOne":true}}}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-500,1540],"id":"440527d9-289c-487a-8ca4-e32bc997ecfd","name":"ENVIO DE TEXTO - PORTUGUES","credentials":{"evolutionApi":{"id":"yZ8Sx7tn3eiiMcG2","name":"EVOLUTION 2.0"}}},{"parameters":{"promptType":"define","text":"=<mensagens>\n {{ $json.data.map(item => `\n  <mensagem>\n    <nome>${item.nome}</nome>\n    <numero>${item.numero}</numero>\n    <texto>${item.texto}</texto>\n    <dataHora>${ item.dataHora }</dataHora>\n  </mensagem>\n`) }}\n</mensagens>","messages":{"messageValues":[{"message":"<formatacao_whatsapp>\nItalic\nTo italicize your message, place an underscore on both sides of the text:\n_text_\nBold\nTo bold your message, place an asterisk on both sides of the text:\n*text*\nStrikethrough\nTo strikethrough your message, place a tilde on both sides of the text:\n~text~\nMonospace\nTo monospace your message, place three backticks on both sides of the text:\n```text```\nBulleted list\nTo add a bulleted list to your message, place an asterisk or hyphen and a space before each word or sentence:\n* text\n* text\nOr\n- text\n- text\nNumbered list\nTo add a numbered list to your message, place a number, period, and space before each line of text:\n1. text\n2. text\nQuote\nTo add a quote to your message, place an angle bracket and space before the text:\n> text\nInline code\nTo add inline code to your message, place a backtick on both sides of the message:\n`text`\n</formatacao_whatsapp>\n\nVoce é um gerente da comunidade Gamerom. O sua função é criar um Resumo das últimas 24hs das mensagens trocadas entre os membros do grupo. Analise os principais tópicos discutidos, identifique a pessoa pelo <nome></nome> caso estiver em branco utilize o <numero></numero>. O resumo deverá ser no formato de mensagem para o WhatsApp usando as regras em <formatacao_whatsapp></formatacao_whatsapp> use emojis para deixar a mensagem mais amigavel, coloque os destaques primeiro e depois o restante do resumo.  \n\nInicie o resumo com o top 3 usuários que mais enviaram mensagens no grupo.\nDepois do TOP3 usuários quero que você faça uma ANALISE com humor negro, bem escraxada e escrota do resumo, SEM FILTRO, deixando interessante para o publico querer ler o resumo que vem a seguir.\nVocê vai chamar o titulo dessa \"Bot #Gamerom\". Nessa analise você vai sacanear o que os membros do grupo falaram sem filtro algum, com humor negro.\nO Resumo tem que ter no máximo 2000 characteres com os principais acontecimentos.\nO Resumo tem que seguir a ordem cronológica do dia.\nO Resumo tem que acrescentar URL informada se for vital para entendimento do contexto da conversa.\nAntes de finalizar a mensagem, faça uma analise baseado no resumo de quem vai bater as botas primeiro do grupo e quais são os odds.\nFinalize a mensagem sempre com \"Vão se lascar!\"\n\nNão use tags <numero>, <nome> e <formatacao_whatsapp> na resposta final. Não precisa informar sobre novos membros. "}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[60,1020],"id":"4a992580-4448-4344-84fc-8e4658522129","name":"BOT ESCRACHADO"},{"parameters":{"promptType":"define","text":"=<mensagens>\n {{ $json.data.map(item => `\n  <mensagem>\n    <nome>${item.nome}</nome>\n    <numero>${item.numero}</numero>\n    <texto>${item.texto}</texto>\n    <dataHora>${ item.dataHora }</dataHora>\n  </mensagem>\n`) }}\n</mensagens>","messages":{"messageValues":[{"message":"<formatacao_whatsapp>\nItalic\nTo italicize your message, place an underscore on both sides of the text:\n_text_\nBold\nTo bold your message, place an asterisk on both sides of the text:\n*text*\nStrikethrough\nTo strikethrough your message, place a tilde on both sides of the text:\n~text~\nMonospace\nTo monospace your message, place three backticks on both sides of the text:\n```text```\nBulleted list\nTo add a bulleted list to your message, place an asterisk or hyphen and a space before each word or sentence:\n* text\n* text\nOr\n- text\n- text\nNumbered list\nTo add a numbered list to your message, place a number, period, and space before each line of text:\n1. text\n2. text\nQuote\nTo add a quote to your message, place an angle bracket and space before the text:\n> text\nInline code\nTo add inline code to your message, place a backtick on both sides of the message:\n`text`\n</formatacao_whatsapp>\n\nVoce é um gerente da comunidade #Gamerom. O sua função é criar um Resumo das últimas 24hs das mensagens trocadas entre os membros do grupo. Analise os principais tópicos discutidos, identifique a pessoa pelo <nome></nome> caso estiver em branco utilize o <numero></numero>. O resumo deverá ser no formato de mensagem para o WhatsApp usando as regras em <formatacao_whatsapp></formatacao_whatsapp> use emojis para deixar a mensagem mais amigavel, coloque os destaques primeiro e depois o restante do resumo.  \n\nInicie o resumo com o top 3 usuários que mais enviaram mensagens no grupo.\nO Resumo tem que ter no máximo 2000 characteres com os principais acontecimentos.\nO Resumo tem que seguir a ordem cronológica do dia.\nO Resumo tem que acrescentar URL informada se for vital para entendimento do contexto da conversa.\nAntes de finalizar a mensagem, faça uma analise do assunto que mais gerou engajamento do grupo e insira as URLs de referência.\nFinalize a mensagem sempre com \"Que a força esteja com você!\"\n\nNão use tags <numero>, <nome> e <formatacao_whatsapp> na resposta final. Não precisa informar sobre novos membros. "}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[60,800],"id":"db1c4cd2-2aed-42a2-945c-27c4f6d0b16a","name":"Bot Linguagem Padrão","disabled":true},{"parameters":{"content":"# Envia WhatsApp Podcast - Semi Automatico. Use o NotebookLM.\n","height":80,"width":1140,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1200,1300],"typeVersion":1,"id":"4109271c-dcdd-4572-aad8-253d12d24b8b","name":"Sticky Note"}],"connections":{"config":{"main":[[{"node":"listar_ultimas_24h_mensagens","type":"main","index":0}]]},"listar_ultimas_24h_mensagens":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"BOT ESCRACHADO","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"BOT ESCRACHADO","type":"ai_languageModel","index":0}]]},"tratamento":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"Date & Time":{"main":[[{"node":"tratamento","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"ENVIO DE TEXTO - PORTUGUES","type":"main","index":0}]]},"BOT ESCRACHADO":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"ENVIO DE TEXTO - PORTUGUES":{"main":[[{"node":"ENVIO DO PODCAST","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c6d94d5-4a84-4d84-a2a4-09bde00b896a","triggerCount":0,"tags":[]}