resumo-grupo-andre-campos-BNAhYoZSOOoJoUrt.json
{"createdAt":"2024-11-11T17:12:49.799Z","updatedAt":"2025-01-29T02:10:42.296Z","id":"BNAhYoZSOOoJoUrt","name":"RESUMO GRUPO ANDRE CAMPOS","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"id":"606a384a-02c3-4994-9ecf-29d0dd39ed47","name":"1x Dia as 18:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1140,2200],"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1618444302,"mode":"list","cachedResultName":"ANDRECAMPOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=1618444302"},"options":{}},"id":"58baa17f-7197-4cf0-909d-3f3835338975","name":"Ler Mensagens Grupo","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-920,2200],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"39ddb48d-5356-4c1c-8c63-a3eb86f99247","leftValue":"={{new Date($json[\"Data/Hora\"].split(' ')[0].split('/').reverse().join('-')).toISOString().toDateTime().format(\"yyyy-MM-dd\")}}","rightValue":"={{ $now.setLocale(pt-BR).format(\"yyyy-MM-dd\") }}","operator":{"type":"dateTime","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"64f059ef-7de6-48f2-8e69-14f7d1d48505","name":"Somente Hoje","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-700,2200]},{"parameters":{"assignments":{"assignments":[{"id":"981090d0-5b8b-4456-ba68-1ad19b0f83b3","name":"Mensagem","value":"=Nome Integrante: {{ $json['Nome do Participante'] }}\nMensagem: {{ $json['Mensagem Enviada'] }}\nDataMensagem: {{ $json['Data/Hora'] }}","type":"string"}]},"options":{}},"id":"7fcbae53-d5a1-4894-b240-e33067bc5b32","name":"Map Dados","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-500,2200]},{"parameters":{"maxItems":100},"id":"0ea64d15-9e44-458a-9666-5da5a4a562b4","name":"Limitar Mensagens","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-300,2200]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"4ea80d9e-cd91-4cb3-b07d-c45a1bc9f7f3","name":"Agregar Todas Mensagens","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-80,2200]},{"parameters":{"assignments":{"assignments":[{"id":"42478e7a-1573-4625-8f9a-fa7df206d02a","name":"data","value":"={{ $json.data.toJsonString() }}","type":"string"}]},"options":{}},"id":"e6a22a7c-d90a-4f46-94e2-a041df672ff1","name":"Map Input","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[120,2200]},{"parameters":{"options":{}},"id":"3697810d-37bb-499f-809c-6aae93982da5","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[460,2400],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"jsCode":"// Pega o texto da variável de entrada\nlet inputText = $('Resumir Mensagens2').item.json.response.text;\n\n// Substitui todos os casos de **texto** para *texto*\nlet outputText = inputText.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\n// Substitui todas as ocorrências de \\n simples por \\n\\n, ignorando onde já tenha \\n\\n\noutputText = outputText.replace(/(?<!\\n)\\n(?!\\n)/g, '\\n\\n');\n\n// Escapa as quebras de linha para serem interpretadas corretamente no formato JSON\noutputText = outputText.replace(/\\n/g, \"\\\\n\");\n\n// Retorna o resultado com a formatação correta\nreturn {\n  json: {\n    outputText: outputText \n  }\n};\n"},"id":"2b806600-5474-4dbc-bcc2-7236f72905c5","name":"FormatarTexto2","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,2200]},{"parameters":{"method":"POST","url":"=https://evolutionapi.typebot.pro/message/sendText/ANDRECAMPOS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=f84f7ax1lff3ra1nas284"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"120363286782383592@g.us\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.resumo }}\"\n    }\n}","options":{}},"id":"96b0427a-dc1b-4707-9e74-c040aedd01d9","name":"send-msg-wa1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,2200],"alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"6e469b9d-a44e-4db0-b59f-152ff232a51e","name":"resumo","value":"={{ $json.outputText.replaceAll('\"','') }}","type":"string"}]},"options":{}},"id":"20870ec1-2833-49b8-82c9-a92a5ed1caf5","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,2200]},{"parameters":{"content":"## ENVIO DE RESUMO PARA GRUPO","height":452.76595744680844,"width":2658.939713738684},"id":"0f25a66b-9b85-4cd2-be21-f4a0293acac1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,2100]},{"parameters":{"assignments":{"assignments":[{"id":"4dbe296b-22fc-42ec-8ab4-5e5d4373d186","name":"messageId","value":"={{ $('Switch').item.json.body.data.key.id }}","type":"string"},{"id":"e8da3d3d-35d7-4bc3-9b8d-733eee717b87","name":"Nome Grupo","value":"=andrecampos","type":"string"},{"id":"3a9cd93f-5a5c-4525-a790-57768bc449df","name":"Nome do Participante","value":"={{ $('Switch').item.json.body.data.pushName }}","type":"string"},{"id":"85100861-dcb2-4a11-8580-564abc868d20","name":"Número do Participante","value":"={{ $('Switch').item.json.body.data.key.participant }}","type":"string"},{"id":"875ad756-2e6e-4652-bc3f-41a5dfc09968","name":"Mensagem Enviada","value":"={{ $('Switch').item.json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"e972dbd7-5b0f-4634-8dfd-4cad3afa5f3f","name":"Data/Hora","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"id":"cf4db6e6-019b-4502-bf89-8f52254aac16","name":"Map Info","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-394,1820]},{"parameters":{"operation":"formatDate","date":"={{ $json.body.date_time }}","format":"yyyy-MM-dd","outputFieldName":"=formattedDate","options":{"timezone":"={{ true }}"}},"id":"5ba9742e-ce43-4b71-8cb7-f890edac9994","name":"Formata Timestamp","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-614,1820]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1618444302,"mode":"list","cachedResultName":"ANDRECAMPOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=1618444302"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Data/Hora","displayName":"Data/Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Grupo","displayName":"Nome Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Participante","displayName":"Nome do Participante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Participante","displayName":"Número do Participante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensagem Enviada","displayName":"Mensagem Enviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"914eb6b1-49d1-4bca-bea9-e4758e6c943c","name":"aba network -pro","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-180,1820],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"content":"## fluxo de salvar as msg dos grupos","height":341.3972289815001,"width":1156.7467065161804,"color":4},"id":"71d37bfe-cbfc-47db-9e1b-8f9a45a719e3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1160,1700]},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1618444302,"mode":"list","cachedResultName":"ANDRECAMPOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=1618444302"},"numberToDelete":3000},"id":"d67fa0e4-3597-4119-8ffb-e0d6f1643588","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1260,2200],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"chunkingMode":"advanced","options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"Você é um agente de IA serio, especializado em resumir o histórico de mensagens de um grupo de amigos ao final do dia. Seu resumo deve incluir todas as fofocas e as informações relevantes, e mencionar quem foi responsável por cada informação. Use um tom sempre serio, mas nao deixando a fofoca do grupo de lado.\nCertifique-se de que o resumo tenha no máximo 5000 caracteres.\n\n#### Instruções Específicas:\n\n- Sempre mencione quem forneceu cada informação.\n- Use seriedade sempre para resumir as conversas.\n\n**Seu objetivo é capturar a essência de um grupo de amigos que se divertem zoando reciprocamente e fofocando sobre suas vidas.**\n\n1. Utilize somente 1 asterisco para negritar! Nunca negrite com 2 *\n2. no lugar de aspas duplas use *\n3. insira a data de hoje no começo do texto logo após \"resumo do grupo\"\n4. Ignore mensagens vazias\n\nConversa:\n\n\"{text}\"\n\nCOMUNIDADE - ANÚNCIOS LUCRATIVOS DE VERDADE:","prompt":"Você é um agente de IA serio, especializado em resumir o histórico de mensagens de um grupo de amigos ao final do dia. Seu resumo deve incluir todas as fofocas e as informações relevantes, e mencionar quem foi responsável por cada informação. Use um tom sempre serio, mas nao deixando a fofoca do grupo de lado. Certifique-se de que o resumo tenha no máximo 5000 caracteres.\n\n#### Instruções Específicas:\n\n- Sempre mencione quem forneceu cada informação.\n- Use seriedade sempre para resumir as conversas.\n\n**Seu objetivo é capturar a essência de um grupo de amigos que se divertem zoando reciprocamente e fofocando sobre suas vidas.**\n\n1. Utilize somente 1 asterisco para negritar! Nunca negrite com 2 *\n2. no lugar de aspas duplas use *\n3. insira a data de hoje no começo do texto logo após \"resumo do grupo\"\n4. Ignore mensagens vazias\n\nConversa:\n\n\"{text}\"\n\nCOMUNIDADE - ANÚNCIOS LUCRATIVOS DE VERDADE:"}}}},"id":"5f7373e2-cbeb-420f-91d2-26ffc28067cf","name":"Resumir Mensagens2","type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[340,2200]},{"parameters":{"assignments":{"assignments":[{"id":"744c0e87-4a0c-4818-b281-5b83b7c5e9f5","name":"data.numero","value":"={{ $json.participante }}","type":"string"},{"id":"c953c65b-60f0-4564-a686-7de49801e353","name":"data.urlapi","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"461e2770-82e0-4af8-9fba-761fdf08a7d2","name":"data.instancia","value":"=ANDRECAMPOS","type":"string"},{"id":"f1d06dba-5d8b-42dd-af60-75547ec05738","name":"data.globalapi","value":"f84f7ax1lff3ra1nas284","type":"string"},{"id":"0de92c80-a4ad-46d2-98ad-e01536be0f67","name":"data.apikey","value":"f84f7ax1lff3ra1nas284","type":"string"},{"id":"b9a7f52a-4adb-4e1b-a588-5161815f93c3","name":"data.acao","value":"={{ $('Webhook-EVO').item.json.body.data.message.conversation }}","type":"string"},{"id":"6fb2e3a5-6827-474a-b3a9-0f2ab28bec79","name":"contato","value":"={{ $('Webhook-EVO').item.json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"id":"49b3bed2-4b79-4513-b7ed-b261013eb4cc","name":"DADOS","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,1360]},{"parameters":{"content":"## START E DADOS\n**CONFIGURAR SEU WEBHOOK E DEFINIR A CONFIGURAÇÃO DE ADM","height":537.5397528187327,"width":1195.5375903324843,"color":4},"id":"94a66b32-c6ee-4f8c-b352-c5577d72053b","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1160,1100]},{"parameters":{"jsCode":"// Verifica se o nó anterior fornece dados no formato esperado\nreturn items.map(item => {\n  // Certifique-se de que o campo \"participante\" existe no JSON do item\n  const participante = item.json.participante;\n\n  if (!participante) {\n    // Se \"participante\" não existir, retorna o item original\n    return item;\n  }\n\n  // Remove tudo após o \"@\"\n  const cleanedParticipante = participante.split('@')[0];\n\n  // Retorna o item com o valor atualizado\n  return {\n    json: {\n      ...item.json,\n      participante: cleanedParticipante\n    }\n  };\n});\n"},"id":"83b2dca4-cfe7-4087-9705-bb4f44a09af2","name":"REMOVER NUMERO","type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,1120]},{"parameters":{"assignments":{"assignments":[{"id":"7fa3b8aa-e310-4a57-9460-a05f635824fe","name":"participante","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"id":"c0f2d822-b2b8-4299-96bf-cbf3fd7bb977","name":"NUMERO ADM","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,1120]},{"parameters":{"content":"## MENCIONAR TODOS","height":249.0861510850578,"width":294.178534374855},"id":"375a5471-c48a-447c-a790-49c3b6b3f1b8","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[140,1780]},{"parameters":{},"id":"7b54c568-6360-4278-898b-f393b8679d46","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-760,1440]},{"parameters":{"content":"# COMANDO REMOVER, ADD, PROMOVER","height":769.7815479584049,"width":643.6653764982709,"color":3},"id":"20b94ee0-2636-451c-8121-030e11d449ff","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[140,940]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.ordem }}","rightValue":"/remover","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REMOVER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a65c985b-3145-464a-b574-26d9604bd9cc","leftValue":"={{ $json.ordem }}","rightValue":"/adm","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROMOVER ADM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25533136-9052-4347-a369-a7e3c67ef954","leftValue":"={{ $json.ordem }}","rightValue":"/tiraradm","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DESPROMOVER ADM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd61c7a2-25d7-4f27-9eb5-a465f4cf1840","leftValue":"={{ $json.ordem }}","rightValue":"/fechar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FECHAR GRUPO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728f8ce8-f60f-4570-a0f1-90a22a94debe","leftValue":"={{ $json.ordem }}","rightValue":"/abrir","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"7f684762-30f8-4d4d-909e-4cf8337e5857","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[184,1300]},{"parameters":{"assignments":{"assignments":[{"id":"adf8fb7a-f683-4f22-9275-fb22dc9539de","name":"grupo","value":"={{ $('Webhook-EVO').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"829178d5-1df2-4e14-a20e-c902bb637194","name":"contato","value":"={{ $('Webhook-EVO').item.json.body.data.key.participant.replace(/@s\\.whatsapp\\.net$/, '') }}","type":"string"},{"id":"6137c626-487a-478a-9fa8-2d1cc9ebf1bd","name":"ordem","value":"={{ $('Webhook-EVO').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"id":"e65fd597-ed10-47cf-95c2-508969c21b49","name":"GRUPO E CONTATO","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-100,1320]},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateSetting/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"not_announcement\"\n}","options":{}},"id":"e1233a3c-e3b0-46d1-b2f3-d74540426594","name":"ABRIR GRUPO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[584,1560],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateParticipant/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"remove\",\n  \"participants\": [\n    \"{{ $json.contato }}\"\n  ]\n}","options":{}},"id":"82a7d691-7b89-45ae-916d-8a745297e323","name":"REMOVER MEMBRO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[584,1000],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateParticipant/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"promote\",\n  \"participants\": [\n    \"{{ $json.contato }}\"\n  ]\n}","options":{}},"id":"a33e84ef-bcf0-4489-87cd-4372a95b033b","name":"PROMOVER ADM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[584,1140],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateParticipant/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"demote\",\n  \"participants\": [\n    \"{{ $json.contato }}\"\n  ]\n}","options":{}},"id":"fa4b2176-9061-4a36-860f-2d72069535a3","name":"DESPROMOVER ADM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[581,1274],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateSetting/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"announcement\"\n}","options":{}},"id":"17d2ab8f-5f21-4a0b-bc12-74b5ab00681b","name":"FECHAR GRUPO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[584,1420],"alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7de3a6ae-11ea-4c10-aed7-19f0302b1d26","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENVIO EM GRUPO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7f15547-4548-4748-9f99-cb72ffc5b1ee","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"CHAT PRIVADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d31367b8-0827-4991-a0c5-fe02211c9a78","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENCERRAR WEBHOOK"}]},"options":{}},"id":"09fc446c-0750-4591-8c7f-32e301c2c679","name":"REGRAS PARA SOMENTE EU2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1020,1200]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363286782383592@g.us","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"COMUNIDADE - ANÚNCIOS LUCRATIVOS DE VERDADE"}]},"options":{}},"id":"c661e9a6-c649-47fc-adc6-c2a842d97876","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-860,1820]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"686d6896-0bfd-4467-9fe4-502bc48813b8","leftValue":"={{ $('DADOS').item.json.data.acao }}","rightValue":"/todos","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CHAMAR TODOS"}]},"options":{}},"id":"1a9e95dc-d1f8-4630-ad37-1a42cdbff3f2","name":"COMANDOS-WHATS1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-100,1480]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7f15547-4548-4748-9f99-cb72ffc5b1ee","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"553192517716@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SUPORTE ANDRE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a3d82afd-e033-473e-84d4-e33f6110ebab","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}]},"options":{}},"id":"b9fe51fc-a6bd-474c-9232-b9f771243eee","name":"REGRAS PARA SOMENTE EU1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-760,1180]},{"parameters":{"httpMethod":"POST","path":"andrecampos","options":{}},"id":"ae693745-8dfb-47b8-8683-ddb2d166417d","name":"Webhook-EVO","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1100,1820],"webhookId":"6ff6fd5a-b41f-4cfd-b6ab-70e6a7f1cee8"},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/message/sendText/{{ $('DADOS').item.json.data.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('COMANDOS-WHATS1').item.json.contato }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": true\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"✅ Você foi marcado\"\n    }\n}","options":{}},"id":"c6587a4b-3dce-4162-88c8-8b14ba970848","name":"ENVIO SEM BOTÃO13","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,1840],"alwaysOutputData":false,"retryOnFail":true,"waitBetweenTries":3000}],"connections":{"1x Dia as 18:00":{"main":[[{"node":"Ler Mensagens Grupo","type":"main","index":0}]]},"Ler Mensagens Grupo":{"main":[[{"node":"Somente Hoje","type":"main","index":0}]]},"Somente Hoje":{"main":[[{"node":"Map Dados","type":"main","index":0}]]},"Map Dados":{"main":[[{"node":"Limitar Mensagens","type":"main","index":0}]]},"Limitar Mensagens":{"main":[[{"node":"Agregar Todas Mensagens","type":"main","index":0}]]},"Agregar Todas Mensagens":{"main":[[{"node":"Map Input","type":"main","index":0}]]},"Map Input":{"main":[[{"node":"Resumir Mensagens2","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Resumir Mensagens2","type":"ai_languageModel","index":0}]]},"FormatarTexto2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"send-msg-wa1","type":"main","index":0}]]},"Map Info":{"main":[[{"node":"aba network -pro","type":"main","index":0}]]},"Formata Timestamp":{"main":[[{"node":"Map Info","type":"main","index":0}]]},"send-msg-wa1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Resumir Mensagens2":{"main":[[{"node":"FormatarTexto2","type":"main","index":0}]]},"DADOS":{"main":[[{"node":"COMANDOS-WHATS1","type":"main","index":0},{"node":"GRUPO E CONTATO","type":"main","index":0}]]},"REMOVER NUMERO":{"main":[[{"node":"DADOS","type":"main","index":0}]]},"NUMERO ADM":{"main":[[{"node":"REMOVER NUMERO","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"REMOVER MEMBRO","type":"main","index":0}],[{"node":"PROMOVER ADM","type":"main","index":0}],[{"node":"DESPROMOVER ADM","type":"main","index":0}],[{"node":"FECHAR GRUPO","type":"main","index":0}],[{"node":"ABRIR GRUPO","type":"main","index":0}]]},"GRUPO E CONTATO":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"REGRAS PARA SOMENTE EU2":{"main":[[{"node":"REGRAS PARA SOMENTE EU1","type":"main","index":0}],[{"node":"REGRAS PARA SOMENTE EU1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Formata Timestamp","type":"main","index":0}]]},"COMANDOS-WHATS1":{"main":[[{"node":"ENVIO SEM BOTÃO13","type":"main","index":0}]]},"REGRAS PARA SOMENTE EU1":{"main":[[{"node":"NUMERO ADM","type":"main","index":0}],[{"node":"NUMERO ADM","type":"main","index":0}]]},"Webhook-EVO":{"main":[[{"node":"REGRAS PARA SOMENTE EU2","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:1x Dia as 18:00":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cfb0bb95-073b-44a4-a6ef-ae6810d943a1","triggerCount":1,"tags":[]}