resumo-grupos---antigo-wSfeaAAbUYUNj7hG.json
{"createdAt":"2024-11-01T22:32:41.297Z","updatedAt":"2024-12-19T19:18:47.764Z","id":"wSfeaAAbUYUNj7hG","name":"RESUMO GRUPOS - ANTIGO","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"id":"e4047668-b937-4623-ad6a-01a60a19ecbd","name":"1x Dia as 18:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1560,2700]},{"parameters":{"documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PAPO RETO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=0"},"options":{}},"id":"758d5009-66f5-4cd5-b0f9-c5b6ac85bf4e","name":"Ler Mensagens Grupo","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-960,2200],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"39ddb48d-5356-4c1c-8c63-a3eb86f99247","leftValue":"={{new Date($json[\"Data/Hora\"].split(' ')[0].split('/').reverse().join('-')).toISOString().toDateTime().format(\"yyyy-MM-dd\")}}","rightValue":"={{ $now.setLocale(pt-BR).format(\"yyyy-MM-dd\") }}","operator":{"type":"dateTime","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"79d50743-8fd2-4332-aa21-342ef6aa3c89","name":"Somente Hoje","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-740,2200]},{"parameters":{"assignments":{"assignments":[{"id":"981090d0-5b8b-4456-ba68-1ad19b0f83b3","name":"Mensagem","value":"=Nome Integrante: {{ $json['Nome do Participante'] }}\nMensagem: {{ $json['Mensagem Enviada'] }}\nDataMensagem: {{ $json['Data/Hora'] }}","type":"string"}]},"options":{}},"id":"1d5f0b2c-1d62-4f82-b1c7-d0efc0e72835","name":"Map Dados","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-520,2200]},{"parameters":{"maxItems":100},"id":"f4db5760-5821-4a3c-8d0d-ff666916e811","name":"Limitar Mensagens","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-300,2200]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"0c212966-a1e7-411e-9344-dbe38857cab0","name":"Agregar Todas Mensagens","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-80,2200]},{"parameters":{"assignments":{"assignments":[{"id":"42478e7a-1573-4625-8f9a-fa7df206d02a","name":"data","value":"={{ $json.data.toJsonString() }}","type":"string"}]},"options":{}},"id":"7ec7a994-9a33-48cd-9c2a-0ba50b40ee17","name":"Map Input","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[120,2200]},{"parameters":{"options":{}},"id":"cfb0f8d3-07c2-4dad-94bd-cd3ccae36d8d","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[460,2400],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"jsCode":"// Pega o texto da variável de entrada\nlet inputText = $('Resumir Mensagens2').item.json.response.text;\n\n// Substitui todos os casos de **texto** para *texto*\nlet outputText = inputText.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\n// Substitui todas as ocorrências de \\n simples por \\n\\n, ignorando onde já tenha \\n\\n\noutputText = outputText.replace(/(?<!\\n)\\n(?!\\n)/g, '\\n\\n');\n\n// Escapa as quebras de linha para serem interpretadas corretamente no formato JSON\noutputText = outputText.replace(/\\n/g, \"\\\\n\");\n\n// Retorna o resultado com a formatação correta\nreturn {\n  json: {\n    outputText: outputText \n  }\n};\n"},"id":"35b67c63-92f7-4992-9fd9-df2de30402ed","name":"FormatarTexto2","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,2200]},{"parameters":{"method":"POST","url":"=https://evolutionapi.typebot.pro/message/sendText/ASGARDBOT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=9q88a5s7f2bicf46q6qb8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"120363127737464835@g.us\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.resumo }}\"\n    }\n}","options":{}},"id":"7c372add-7015-4a07-98dd-a0614595bd9f","name":"send-msg-wa1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,2200],"alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"6e469b9d-a44e-4db0-b59f-152ff232a51e","name":"resumo","value":"={{ $json.outputText.replaceAll('\"','') }}","type":"string"}]},"options":{}},"id":"39ef22a4-f152-4ef4-87d2-0f30a90ca27c","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,2200]},{"parameters":{"content":"## ENVIO DE RESUMO PARA GRUPO","height":452.76595744680844,"width":2658.939713738684},"id":"c4f04e9d-05f5-4f4b-9aee-f5b8124e1306","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,2100]},{"parameters":{"operation":"formatDate","date":"={{ $json.body.date_time }}","format":"yyyy-MM-dd","outputFieldName":"=formattedDate","options":{"timezone":"={{ true }}"}},"id":"f3f93918-348c-4a8e-8c47-77c9080b79c8","name":"Formata Timestamp1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-660,1560]},{"parameters":{"assignments":{"assignments":[{"id":"4dbe296b-22fc-42ec-8ab4-5e5d4373d186","name":"messageId","value":"={{ $('Switch').item.json.body.data.key.id }}","type":"string"},{"id":"e8da3d3d-35d7-4bc3-9b8d-733eee717b87","name":"Nome Grupo","value":"=network-pro","type":"string"},{"id":"3a9cd93f-5a5c-4525-a790-57768bc449df","name":"Nome do Participante","value":"={{ $('Switch').item.json.body.data.pushName }}","type":"string"},{"id":"85100861-dcb2-4a11-8580-564abc868d20","name":"Número do Participante","value":"={{ $('Switch').item.json.body.data.key.participant }}","type":"string"},{"id":"875ad756-2e6e-4652-bc3f-41a5dfc09968","name":"Mensagem Enviada","value":"={{ $('Switch').item.json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"e972dbd7-5b0f-4634-8dfd-4cad3afa5f3f","name":"Data/Hora","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"id":"b9c30f84-c034-4baf-b9a4-fe435ccb86c8","name":"Map Info","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-440,1380]},{"parameters":{"operation":"formatDate","date":"={{ $json.body.date_time }}","format":"yyyy-MM-dd","outputFieldName":"=formattedDate","options":{"timezone":"={{ true }}"}},"id":"f1006f23-01b6-41f7-8d47-c80e231505ac","name":"Formata Timestamp","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-660,1380]},{"parameters":{"assignments":{"assignments":[{"id":"4dbe296b-22fc-42ec-8ab4-5e5d4373d186","name":"messageId","value":"={{ $('Switch').item.json.body.data.key.id }}","type":"string"},{"id":"e8da3d3d-35d7-4bc3-9b8d-733eee717b87","name":"Nome Grupo","value":"=Papo reto Marketing","type":"string"},{"id":"3a9cd93f-5a5c-4525-a790-57768bc449df","name":"Nome do Participante","value":"={{ $('Switch').item.json.body.data.pushName }}","type":"string"},{"id":"85100861-dcb2-4a11-8580-564abc868d20","name":"Número do Participante","value":"={{ $('Switch').item.json.body.data.key.participant }}","type":"string"},{"id":"875ad756-2e6e-4652-bc3f-41a5dfc09968","name":"Mensagem Enviada","value":"={{ $('Switch').item.json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"e972dbd7-5b0f-4634-8dfd-4cad3afa5f3f","name":"Data/Hora","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"id":"3b289122-6404-43aa-b70e-8674d2cbd071","name":"Map Info2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-440,1560]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PAPO RETO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["bo_user_email"],"schema":[{"id":"Data/Hora","displayName":"Data/Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome Grupo","displayName":"Nome Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Participante","displayName":"Nome do Participante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Número do Participante","displayName":"Número do Participante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensagem Enviada","displayName":"Mensagem Enviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"39c220e9-5245-4fca-8e99-cc8fbe299be9","name":"aba papo reto","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-240,1560],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":936048605,"mode":"list","cachedResultName":"PRO-NETWORK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=936048605"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["bo_user_email"],"schema":[{"id":"Data/Hora","displayName":"Data/Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome Grupo","displayName":"Nome Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Participante","displayName":"Nome do Participante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Número do Participante","displayName":"Número do Participante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensagem Enviada","displayName":"Mensagem Enviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"738a6325-e6bd-4076-965f-c6a779223d5a","name":"aba network -pro","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-240,1380],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"content":"fluxo de salvar as msg dos grupos","height":609.3368956749079,"width":1127.4193211058098,"color":4},"id":"6cb123b3-2d34-43b5-8f1a-00fad23ae418","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,1340]},{"parameters":{"documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":936048605,"mode":"list","cachedResultName":"PRO-NETWORK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=936048605"},"options":{}},"id":"7c9800a5-4d3b-40fb-81ef-70f02c2d8cb5","name":"Ler Mensagens Grupo1","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-920,2700],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"39ddb48d-5356-4c1c-8c63-a3eb86f99247","leftValue":"={{new Date($json[\"Data/Hora\"].split(' ')[0].split('/').reverse().join('-')).toISOString().toDateTime().format(\"yyyy-MM-dd\")}}","rightValue":"={{ $now.setLocale(pt-BR).format(\"yyyy-MM-dd\") }}","operator":{"type":"dateTime","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"ed6a36ef-a7a3-44b1-9350-8a54921af349","name":"Somente Hoje1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-700,2700]},{"parameters":{"assignments":{"assignments":[{"id":"981090d0-5b8b-4456-ba68-1ad19b0f83b3","name":"Mensagem","value":"=Nome Integrante: {{ $json['Nome do Participante'] }}\nMensagem: {{ $json['Mensagem Enviada'] }}\nDataMensagem: {{ $json['Data/Hora'] }}","type":"string"}]},"options":{}},"id":"8a9315f6-4024-409a-91c5-3d1aa7fa73cb","name":"Map Dados1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-480,2700]},{"parameters":{"maxItems":100},"id":"d90a577a-bbab-4b52-87a5-644318f6bfb0","name":"Limitar Mensagens1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-240,2700]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"5a662b34-9218-45e5-9118-b7a4f85c581e","name":"Agregar Todas Mensagens1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-20,2700]},{"parameters":{"assignments":{"assignments":[{"id":"42478e7a-1573-4625-8f9a-fa7df206d02a","name":"data","value":"={{ $json.data.toJsonString() }}","type":"string"}]},"options":{}},"id":"638822ae-0c23-46a5-9bc0-c60c4705eae0","name":"Map Input1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[220,2700]},{"parameters":{"method":"POST","url":"=https://evolutionapi.typebot.pro/message/sendText/ASGARDBOT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=9q88a5s7f2bicf46q6qb8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"120363336563478787@g.us\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"RESUMO DO GRUPO NETWORK PRO:\\n\\n{{ $json.resumo }}\"\n    }\n}","options":{}},"id":"ecc67817-cdde-4145-8576-0e264de5896b","name":"send-msg-wa4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,2700],"alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"content":"## ENVIO DE RESUMO PARA GRUPO NETWORK PRO","height":452.76595744680844,"width":2653.7273810860243,"color":3},"id":"48c5a9fe-c6cc-4d8f-871c-d46a08cf9aef","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1160,2600]},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":936048605,"mode":"list","cachedResultName":"PRO-NETWORK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=936048605"},"numberToDelete":3000},"id":"a0295996-2e83-40e6-92bf-e793fff9d9d5","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1300,2700],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PAPO RETO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=0"},"numberToDelete":3000},"id":"4c3d04ec-62e7-4dcf-8ebe-4766d33a2dc2","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1260,2200],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"amount":1,"unit":"minutes"},"id":"d1d6abf6-10f1-4b21-9b41-a456437f8ed2","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1140,2700],"webhookId":"5bb13e87-3c9c-471f-b463-247a73f5ba50"},{"parameters":{"options":{}},"id":"eea62fdc-d715-4b71-94b5-731f7d16a1f5","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[480,2880],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"jsCode":"// Pega o texto da variável de entrada\nlet inputText = $('Resumir Mensagens4').item.json.response.text;\n\n// Substitui todos os casos de **texto** para *texto*\nlet outputText = inputText.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\n// Substitui todas as ocorrências de \\n simples por \\n\\n, ignorando onde já tenha \\n\\n\noutputText = outputText.replace(/(?<!\\n)\\n(?!\\n)/g, '\\n\\n');\n\n// Escapa as quebras de linha para serem interpretadas corretamente no formato JSON\noutputText = outputText.replace(/\\n/g, \"\\\\n\");\n\n// Retorna o resultado com a formatação correta\nreturn {\n  json: {\n    outputText: outputText \n  }\n};\n"},"id":"5320bc39-941c-4245-969a-b4e77e44b944","name":"FormatarTexto4","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,2700]},{"parameters":{"assignments":{"assignments":[{"id":"6e469b9d-a44e-4db0-b59f-152ff232a51e","name":"resumo","value":"={{ $json.outputText.replaceAll('\"','') }}","type":"string"}]},"options":{}},"id":"8f0e924f-5f1b-4cd8-b002-d365006af8b7","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,2700]},{"parameters":{"operation":"formatDate","date":"={{ $json.body.date_time }}","format":"yyyy-MM-dd","outputFieldName":"=formattedDate","options":{"timezone":"={{ true }}"}},"id":"a8556cde-1c6f-4d26-b793-6f74ad5c513e","name":"Formata Timestamp2","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-660,1740]},{"parameters":{"assignments":{"assignments":[{"id":"4dbe296b-22fc-42ec-8ab4-5e5d4373d186","name":"messageId","value":"={{ $('Switch').item.json.body.data.key.id }}","type":"string"},{"id":"e8da3d3d-35d7-4bc3-9b8d-733eee717b87","name":"Nome Grupo","value":"=SUB AFILIADOS DONALD BET","type":"string"},{"id":"3a9cd93f-5a5c-4525-a790-57768bc449df","name":"Nome do Participante","value":"={{ $('Switch').item.json.body.data.pushName }}","type":"string"},{"id":"85100861-dcb2-4a11-8580-564abc868d20","name":"Número do Participante","value":"={{ $('Switch').item.json.body.data.key.participant }}","type":"string"},{"id":"875ad756-2e6e-4652-bc3f-41a5dfc09968","name":"Mensagem Enviada","value":"={{ $('Switch').item.json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"e972dbd7-5b0f-4634-8dfd-4cad3afa5f3f","name":"Data/Hora","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"id":"a6fac66a-7e06-4679-9bc0-cfee447a3def","name":"Map Info3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-440,1740]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":936137497,"mode":"list","cachedResultName":"SUB-AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=936137497"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Data/Hora","displayName":"Data/Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Grupo","displayName":"Nome Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Participante","displayName":"Nome do Participante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Participante","displayName":"Número do Participante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensagem Enviada","displayName":"Mensagem Enviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"d9b04bc7-29cc-43cd-92fb-db8f316801f1","name":"aba papo reto1","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-240,1740],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":936137497,"mode":"list","cachedResultName":"SUB-AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=936137497"},"options":{}},"id":"97acd3a4-c433-4749-9beb-0e8bd79e3f2f","name":"Ler Mensagens Grupo2","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-920,3240],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"39ddb48d-5356-4c1c-8c63-a3eb86f99247","leftValue":"={{new Date($json[\"Data/Hora\"].split(' ')[0].split('/').reverse().join('-')).toISOString().toDateTime().format(\"yyyy-MM-dd\")}}","rightValue":"={{ $now.setLocale(pt-BR).format(\"yyyy-MM-dd\") }}","operator":{"type":"dateTime","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8d10eeaf-2e41-467d-8d06-52ced784ca40","name":"Somente Hoje2","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-640,3240]},{"parameters":{"assignments":{"assignments":[{"id":"981090d0-5b8b-4456-ba68-1ad19b0f83b3","name":"Mensagem","value":"=Nome Integrante: {{ $json['Nome do Participante'] }}\nMensagem: {{ $json['Mensagem Enviada'] }}\nDataMensagem: {{ $json['Data/Hora'] }}","type":"string"}]},"options":{}},"id":"99bdc485-3dc5-4127-9e3c-8cdcfb3a4ed1","name":"Map Dados2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-420,3240]},{"parameters":{"maxItems":100},"id":"afdc1954-dfd5-4196-881f-d05d484e2584","name":"Limitar Mensagens2","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-180,3240]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"14e8a7cd-db7a-47b2-9afb-29d655fa191a","name":"Agregar Todas Mensagens2","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[40,3240]},{"parameters":{"assignments":{"assignments":[{"id":"42478e7a-1573-4625-8f9a-fa7df206d02a","name":"data","value":"={{ $json.data.toJsonString() }}","type":"string"}]},"options":{}},"id":"a9e8d1e4-1251-41d5-ba2d-542e3b41b279","name":"Map Input2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[240,3240]},{"parameters":{"method":"POST","url":"=https://evolutionapi.typebot.pro/message/sendText/ASGARDBOT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=9q88a5s7f2bicf46q6qb8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"120363217939208153@g.us\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"RESUMO DO GRUPO DE AFILIADOS DONALD BET:\\n\\n{{ $json.resumo }}\"\n    }\n}","options":{}},"id":"014f18e4-ff58-471e-9a2d-569c05209b56","name":"send-msg-wa5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,3240],"alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc","mode":"list","cachedResultName":"Mensagem papo reto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":936137497,"mode":"list","cachedResultName":"SUB-AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B0g8SEAH1y0AsW0lcF2G28qZBLRkFNsfct-pB1YsZSc/edit#gid=936137497"},"numberToDelete":3000},"id":"8ccd52cf-8d03-41ed-ad5a-79372e56f5a0","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1320,3240],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"options":{}},"id":"28e4f2ce-db4f-45d0-a14a-3ed96f7cec79","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[540,3420],"credentials":{"openAiApi":{"id":"kx1vvIOZPPxBWitD","name":"openia Jamil"}}},{"parameters":{"jsCode":"// Pega o texto da variável de entrada\nlet inputText = $('Resumir Mensagens5').item.json.response.text;\n\n// Substitui todos os casos de **texto** para *texto*\nlet outputText = inputText.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\n// Substitui todas as ocorrências de \\n simples por \\n\\n, ignorando onde já tenha \\n\\n\noutputText = outputText.replace(/(?<!\\n)\\n(?!\\n)/g, '\\n\\n');\n\n// Escapa as quebras de linha para serem interpretadas corretamente no formato JSON\noutputText = outputText.replace(/\\n/g, \"\\\\n\");\n\n// Retorna o resultado com a formatação correta\nreturn {\n  json: {\n    outputText: outputText \n  }\n};\n"},"id":"14637a7a-abcd-4bbf-aa98-d38bd46b56bf","name":"FormatarTexto5","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,3240]},{"parameters":{"assignments":{"assignments":[{"id":"6e469b9d-a44e-4db0-b59f-152ff232a51e","name":"resumo","value":"={{ $json.outputText.replaceAll('\"','') }}","type":"string"}]},"options":{}},"id":"7d0558ac-a9af-4455-80e0-be4b65317ab4","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,3240]},{"parameters":{"amount":2,"unit":"minutes"},"id":"08a9ecfc-eedc-442d-902d-d8e68f4a2095","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1140,3240],"webhookId":"5bb13e87-3c9c-471f-b463-247a73f5ba50"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363336563478787@g.us","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NETWORK PRO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9f67dbf-b8cc-41bc-b32d-36231fc94926","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363127737464835@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PAPO RETO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"196fb162-fe77-4171-aa80-9680984105da","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363217939208153@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"subafiliados"}]},"options":{}},"id":"e4223771-3ceb-4d16-af8e-8f108dde1460","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-940,1560]},{"parameters":{"content":"## ENVIO DE RESUMO PARA SUB DONALD","height":452.76595744680844,"width":2653.7273810860243,"color":4},"id":"be1e9032-885b-449e-94cc-e34c0cf49626","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1160,3120]},{"parameters":{"httpMethod":"POST","path":"resumogrupo","options":{}},"id":"fd322792-1343-4861-ba70-d5571a75eff8","name":"Webhook-EVO","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1160,1440],"webhookId":"363856e3-4e5c-4f04-bd0b-7605844b917d"},{"parameters":{"chunkingMode":"advanced","options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"Você é um agente de IA sarcástico, especializado em resumir o histórico de mensagens de um grupo de amigos ao final do dia. Seu resumo deve incluir todas as fofocas e as informações relevantes, e mencionar quem foi responsável por cada informação. Use um tom de humor ácido, corrosivo para capturar o espírito de zoação e fofoca do grupo. Certifique-se de que o resumo tenha no máximo 5000 caracteres.\n\n#### Instruções Específicas:\n\n- Sempre mencione quem forneceu cada informação.\n- Use sarcasmo e humor ácido para adicionar um toque de zoação.\n\n**Seu objetivo é capturar a essência de um grupo de amigos que se divertem zoando reciprocamente e fofocando sobre suas vidas.**\n\n1. Utilize somente 1 asterisco para negritar! Nunca negrite com 2 *\n2. no lugar de aspas duplas use *\n3. insira a data de hoje no começo do texto logo após \"resumo do grupo\"\n\nConversa:\n\n\"{text}\"\n\nRESUMO DO PAPO RETO:","prompt":"Você é um agente de IA sarcástico, especializado em resumir o histórico de mensagens de um grupo de amigos ao final do dia. Seu resumo deve incluir todas as fofocas e as informações relevantes, e mencionar quem foi responsável por cada informação. Use um tom de humor ácido, corrosivo para capturar o espírito de zoação e fofoca do grupo. Certifique-se de que o resumo tenha no máximo 5000 caracteres.\n\n#### Instruções Específicas:\n\n- Sempre mencione quem forneceu cada informação.\n- Use sarcasmo e humor ácido para adicionar um toque de zoação.\n\n**Seu objetivo é capturar a essência de um grupo de amigos que se divertem zoando uns aos outros e fofocando sobre suas vidas.**\n\n1. Utilize somente 1 asterisco para negritar! Nunca negrite com 2 *\n2. no lugar de aspas duplas use *\n3. insira a data de hoje no começo do texto logo após \"resumo do grupo\"\n\nConversa:\n\n\"{text}\"\n\nRESUMO DO PAPO RETO:"}}}},"id":"4dc11f29-9c6d-4bd8-83a9-c9d9cbb4a1de","name":"Resumir Mensagens2","type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[340,2200]},{"parameters":{"chunkingMode":"advanced","options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"Você é um agente de IA sarcástico, especializado em resumir o histórico de mensagens de um grupo de amigos ao final do dia. Seu resumo deve incluir todas as fofocas e as informações relevantes, e mencionar quem foi responsável por cada informação.\ne sempre falar bem da casa de aposta Donald, sempre evitando comentários negativos que envolvam ela no resumo.\nUse um tom de humor ácido, corrosivo para capturar o espírito de zoação e fofoca do grupo. Certifique-se de que o resumo tenha no máximo 5000 caracteres.\n\n#### Instruções Específicas:\n\n- Sempre mencione quem forneceu cada informação.\n- Use sarcasmo e humor ácido para adicionar um toque de zoação.\n\n**Seu objetivo é capturar a essência de um grupo de afiliados que trabalham na melhor casa de apostas do Brasil e que fofocam e se ajudam reciprocamente sobre suas vidas e trabalho.**\n\n1. Utilize somente 1 asterisco para negritar! Nunca negrite com 2 *\n2. no lugar de aspas duplas use *\n3. insira a data de hoje no começo do texto logo após \"resumo do grupo\"\n\nConversa:\n\n\"{text}\"\n\nRESUMO DO GRUPO NETWORK PRO","prompt":"Você é um agente de IA sarcástico, especializado em resumir o histórico de mensagens de um grupo de amigos ao final do dia. Seu resumo deve incluir todas as fofocas e as informações relevantes, e mencionar quem foi responsável por cada informação.\ne sempre falar bem da casa de aposta Donald, sempre evitando comentários negativos que envolvam ela no resumo.\nUse um tom de humor ácido, corrosivo para capturar o espírito de zoação e fofoca do grupo. Certifique-se de que o resumo tenha no máximo 5000 caracteres.\n\n#### Instruções Específicas:\n\n- Sempre mencione quem forneceu cada informação.\n- Use sarcasmo e humor ácido para adicionar um toque de zoação.\n\n**Seu objetivo é capturar a essência de um grupo de afiliados que trabalham na melhor casa de apostas do Brasil e que fofocam e se ajudam reciprocamente sobre suas vidas e trabalho.**\n\n1. Utilize somente 1 asterisco para negritar! Nunca negrite com 2 *\n2. no lugar de aspas duplas use *\n3. insira a data de hoje no começo do texto logo após \"resumo do grupo\"\n\nConversa:\n\n\"{text}\"\n\nRESUMO DO GRUPO NETWORK PRO"}}}},"id":"5219254b-058b-4212-97dc-0a41a49d9733","name":"Resumir Mensagens4","type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[380,2700]},{"parameters":{"chunkingMode":"advanced","options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"Você é um agente de IA sarcástico, especializado em resumir o histórico de mensagens de um grupo de amigos ao final do dia. Seu resumo deve incluir todas as fofocas e as informações relevantes, e mencionar quem foi responsável por cada informação.\ne sempre falar bem da casa de aposta Donald e sobre como os afiliados são bem tratados e recebem sempre em dia, sempre evitando comentários negativos que envolvam ela no resumo.\nUse um tom de humor ácido, corrosivo para capturar o espírito de zoação e fofoca do grupo. Certifique-se de que o resumo tenha no máximo 5000 caracteres.\n\n#### Instruções Específicas:\n\n- Sempre mencione quem forneceu cada informação.\n- Use sarcasmo e humor ácido para adicionar um toque de zoação.\n\n**Seu objetivo é capturar a essência de um grupo de afiliados que trabalham na melhor casa de apostas do Brasil e que fofocam e se ajudam reciprocamente sobre suas vidas e trabalho.**\n\n1. Utilize somente 1 asterisco para negritar! Nunca negrite com 2 *\n2. no lugar de aspas duplas use *\n3. insira a data de hoje no começo do texto logo após \"resumo do grupo\"\n\nConversa:\n\n\"{text}\"\n\nRESUMO DO GRUPO DE SUB AFILIADOS DA DONALD.BET","prompt":"Você é um agente de IA sarcástico, especializado em resumir o histórico de mensagens de um grupo de amigos ao final do dia. Seu resumo deve incluir todas as fofocas e as informações relevantes, e mencionar quem foi responsável por cada informação.\ne sempre falar bem da casa de aposta Donald e sobre como os afiliados são bem tratados e recebem sempre em dia, sempre evitando comentários negativos que envolvam ela no resumo.\nUse um tom de humor ácido, corrosivo para capturar o espírito de zoação e fofoca do grupo. Certifique-se de que o resumo tenha no máximo 5000 caracteres.\n\n#### Instruções Específicas:\n\n- Sempre mencione quem forneceu cada informação.\n- Use sarcasmo e humor ácido para adicionar um toque de zoação.\n\n**Seu objetivo é capturar a essência de um grupo de afiliados que trabalham na melhor casa de apostas do Brasil e que fofocam e se ajudam reciprocamente sobre suas vidas e trabalho.**\n\n1. Utilize somente 1 asterisco para negritar! Nunca negrite com 2 *\n2. no lugar de aspas duplas use *\n3. insira a data de hoje no começo do texto logo após \"resumo do grupo\"\n\nConversa:\n\n\"{text}\"\n\nRESUMO DO GRUPO DE SUB AFILIADOS DA DONALD.BET"}}}},"id":"cb0b1ce7-722a-4d04-b54e-75b505dc51d4","name":"Resumir Mensagens5","type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[440,3240]}],"connections":{"1x Dia as 18:00":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Wait1","type":"main","index":0},{"node":"Ler Mensagens Grupo","type":"main","index":0}]]},"Ler Mensagens Grupo":{"main":[[{"node":"Somente Hoje","type":"main","index":0}]]},"Somente Hoje":{"main":[[{"node":"Map Dados","type":"main","index":0}]]},"Map Dados":{"main":[[{"node":"Limitar Mensagens","type":"main","index":0}]]},"Limitar Mensagens":{"main":[[{"node":"Agregar Todas Mensagens","type":"main","index":0}]]},"Agregar Todas Mensagens":{"main":[[{"node":"Map Input","type":"main","index":0}]]},"Map Input":{"main":[[{"node":"Resumir Mensagens2","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Resumir Mensagens2","type":"ai_languageModel","index":0}]]},"FormatarTexto2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"send-msg-wa1","type":"main","index":0}]]},"Formata Timestamp1":{"main":[[{"node":"Map Info2","type":"main","index":0}]]},"Map Info":{"main":[[{"node":"aba network -pro","type":"main","index":0}]]},"Formata Timestamp":{"main":[[{"node":"Map Info","type":"main","index":0}]]},"Map Info2":{"main":[[{"node":"aba papo reto","type":"main","index":0}]]},"Ler Mensagens Grupo1":{"main":[[{"node":"Somente Hoje1","type":"main","index":0}]]},"Somente Hoje1":{"main":[[{"node":"Map Dados1","type":"main","index":0}]]},"Map Dados1":{"main":[[{"node":"Limitar Mensagens1","type":"main","index":0}]]},"Limitar Mensagens1":{"main":[[{"node":"Agregar Todas Mensagens1","type":"main","index":0}]]},"Agregar Todas Mensagens1":{"main":[[{"node":"Map Input1","type":"main","index":0}]]},"Map Input1":{"main":[[{"node":"Resumir Mensagens4","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Resumir Mensagens4","type":"ai_languageModel","index":0}]]},"FormatarTexto4":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"send-msg-wa4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Ler Mensagens Grupo1","type":"main","index":0}]]},"Formata Timestamp2":{"main":[[{"node":"Map Info3","type":"main","index":0}]]},"Map Info3":{"main":[[{"node":"aba papo reto1","type":"main","index":0}]]},"send-msg-wa4":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"send-msg-wa1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Ler Mensagens Grupo2":{"main":[[{"node":"Somente Hoje2","type":"main","index":0}]]},"Somente Hoje2":{"main":[[{"node":"Map Dados2","type":"main","index":0}]]},"Map Dados2":{"main":[[{"node":"Limitar Mensagens2","type":"main","index":0}]]},"Limitar Mensagens2":{"main":[[{"node":"Agregar Todas Mensagens2","type":"main","index":0}]]},"Agregar Todas Mensagens2":{"main":[[{"node":"Map Input2","type":"main","index":0}]]},"Map Input2":{"main":[[{"node":"Resumir Mensagens5","type":"main","index":0}]]},"send-msg-wa5":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Resumir Mensagens5","type":"ai_languageModel","index":0}]]},"FormatarTexto5":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"send-msg-wa5","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Formata Timestamp","type":"main","index":0}],[{"node":"Formata Timestamp1","type":"main","index":0}],[{"node":"Formata Timestamp2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Ler Mensagens Grupo2","type":"main","index":0}]]},"Webhook-EVO":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Resumir Mensagens2":{"main":[[{"node":"FormatarTexto2","type":"main","index":0}]]},"Resumir Mensagens4":{"main":[[{"node":"FormatarTexto4","type":"main","index":0}]]},"Resumir Mensagens5":{"main":[[{"node":"FormatarTexto5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:1x Dia as 18:00":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a9a6e90-1a70-49cd-b6dc-90774c3083c3","triggerCount":2,"tags":[]}