santo-bet---operação-ZN7d1tnmpnAPfnFy.json
{"createdAt":"2025-02-12T20:06:54.522Z","updatedAt":"2025-03-17T19:14:32.576Z","id":"ZN7d1tnmpnAPfnFy","name":"SANTO BET - OPERAÇÃO","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"santobet","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1960,-940],"id":"2d505778-3429-4dae-853c-282abf6bc708","name":"Webhook","webhookId":"1b3a19ac-6e10-4cef-a9c5-db4bc07fa42b"},{"parameters":{"content":"## WEBHOOK ANTIGO\nREGISTRO\nhttps://santo.gtm.agencia241.com/registration\n\nDEPOSITO PAGO\nhttps://santo.gtm.agencia241.com/purchase","height":180,"width":520},"type":"n8n-nodes-base.stickyNote","position":[3120,-1900],"typeVersion":1,"id":"3012d117-9e51-4743-826c-c5e061075de4","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.register_date }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"REGISTRO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89759896-0615-4761-84a9-395fddc5f4d2","leftValue":"={{ $json.body.pix_code }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"PIX GERADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00e7dd99-7f32-48ca-8b5d-d39f65b7f16e","leftValue":"={{ $json.body.status }}","rightValue":"paid","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PIX PAGO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3733fc06-1e6a-4927-a2c8-ed8bf5d8b082","leftValue":"={{ $json.body.status }}","rightValue":"Approved","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SAQUE REALIZADO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2180,-960],"id":"59fc1027-2174-4606-b084-927127fa9900","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"7dd815a0-d0e5-47d0-b26e-3b90811a7b05","name":"NOME","value":"={{ $('Switch').item.json.body.name }}","type":"string"},{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Switch').item.json.body.name }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Switch').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2660,-1100],"id":"cefaeebd-6500-4c52-9c96-9ef7bf9c869c","name":"Edit Fields"},{"parameters":{"content":"## NOVO CADASTRO\n**REGISTRO DE NOVOS JOGADORES","height":260,"width":820},"type":"n8n-nodes-base.stickyNote","position":[2380,-1180],"typeVersion":1,"id":"ccb665e7-8099-4b4c-ab48-602c95e9aa3d","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3280,-740],"id":"f861a0bf-a225-4c02-a4a6-d7c32d9c25c7","name":"No Operation, do nothing"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["NOME"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2900,-1100],"id":"f00ab3ee-dfd2-4740-b1ad-2c4a67764cb2","name":"SALVA JOGADOR NO SHEET","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"content":"## WEBHOOK E STARTS","height":380,"width":460,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1900,-1180],"typeVersion":1,"id":"ea1300f4-577b-48f1-9151-410fa2c4bd16","name":"Sticky Note2"},{"parameters":{"operation":"formatDate","date":"={{ DateTime.now().setZone(\"America/Sao_Paulo\").toFormat(\"yyyy-MM-dd\") }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2400,-1100],"id":"e65c8a6f-da3d-4623-8cbc-a11836e13756","name":"Date & Time"},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Switch').item.json.body.name }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Switch').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ $('Switch').item.json.body.amount }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2600,-800],"id":"2056ecf3-d94b-414e-abe2-4b0c3b7a39e7","name":"Edit Fields3"},{"parameters":{"content":"## PIX GERADO\n** REGISTRO DE PIX GERADOS","height":260,"width":820},"type":"n8n-nodes-base.stickyNote","position":[2380,-900],"typeVersion":1,"id":"f2f534c7-3933-4955-80b2-2ddcd0186277","name":"Sticky Note3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1535349365,"mode":"list","cachedResultName":"DEPOSITO GERADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1535349365"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["EMAIL"],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PIX GERADO","displayName":"PIX GERADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2820,-800],"id":"edc2c464-afdd-4b69-918b-b3d01ec1f168","name":"SALVA JOGADOR NO SHEET1","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2400,-800],"id":"f9b0ba61-97c6-4b95-9ef9-a24ae803f12d","name":"Date & Time1"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"AFILIADO","lookupValue":"SIM"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2160,-1360],"id":"7d9dba0f-f68e-425b-805c-c71a3ad6f4bf","name":"Google Sheets1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"assignments":{"assignments":[{"id":"cba4d36e-3504-432f-a362-7bca82020711","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"},{"id":"1d365326-4bb5-4f4c-af44-2bab8824c831","name":"TELEFONE","value":"={{ $json.TELEFONE }}","type":"string"},{"id":"d26ebbce-c662-46a4-b9a4-78cd15396ec6","name":"DATA CADASTRO","value":"={{ $json.DATA }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2380,-1360],"id":"f6ca1f83-d63d-48a2-855e-2527c445809e","name":"Edit Fields4"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","TELEFONE":"={{ $json.TELEFONE }}","DATA DA AFILIAÇÃO":"={{ $json['DATA CADASTRO'] }}","GERENTE":"LUCAS","ACORDO":"REV 40%"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REMOTE JID GRUPO","displayName":"REMOTE JID GRUPO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ACORDO","displayName":"ACORDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GERENTE","displayName":"GERENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GRUPO BLACK","displayName":"GRUPO BLACK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SALA SINAL","displayName":"SALA SINAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BANCA DEMO","displayName":"BANCA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA DA AFILIAÇÃO","displayName":"DATA DA AFILIAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL CONTA DEMO","displayName":"EMAIL CONTA DEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2600,-1360],"id":"9718c124-f4f0-4922-befb-1e0dc4945d03","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"content":"## MIGRA DADOS DO AFILIADO DA ABA JOGADOR PARA A ABA AFILIADOS","height":220,"width":1120,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1900,-1420],"typeVersion":1,"id":"759452d5-c32c-4145-926e-2ad5c7bee0f7","name":"Sticky Note4"},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]},"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"event":"rowUpdate","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[1940,-1360],"id":"71c0e87a-80cc-4c87-bf7c-df7cdd6cd303","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"SF1Unu4pLd7J2N6s","name":"Google Sheets Trigger JAMIL"}}},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Switch').item.json.body.name }}","type":"string"},{"id":"9b98b952-c484-43b3-b734-a96f86a422b7","name":"TELEFONE","value":"={{ $('Switch').item.json.body.phone }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ $('Switch').item.json.body.amount }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2600,-520],"id":"da5c43e9-45f0-49ea-a322-314348804fdd","name":"Edit Fields5"},{"parameters":{"content":"## PIX pago\n** REGISTRO DE PIX GERADOS","height":260,"width":820},"type":"n8n-nodes-base.stickyNote","position":[2380,-620],"typeVersion":1,"id":"0739b34f-f4ef-4945-95a8-988fb40c5366","name":"Sticky Note6"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1427298924,"mode":"list","cachedResultName":"DEPOSITO PAGO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1427298924"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","TELEFONE":"={{ $json.TELEFONE }}","DATA":"={{ $json.DATA }}"," VALOR ":"={{ $json.VALOR }}"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" VALOR ","displayName":" VALOR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2820,-520],"id":"1b43239e-800d-49ea-b84a-b3418712e74e","name":"SALVA JOGADOR NO SHEET2","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2400,-520],"id":"de105349-1e90-4d77-ae6c-2ee0b009e307","name":"Date & Time3"},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1940,-1660],"id":"15dc295e-0667-4f45-92fb-8fa4a63aa5b4","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":409291493,"mode":"list","cachedResultName":"DASHBOARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=409291493"},"options":{"outputFormatting":{"values":{"general":"FORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2160,-1660],"id":"a402cafb-c22a-4bc6-bb96-a2018f272551","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2360,-1660],"id":"bcc2222f-9e17-44f4-9057-b7b03e7ebafa","name":"Aggregate"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"120363382224860301@g.us"},{"name":"text","value":"=📊 RELATÓRIO SANTOBET\n📅 DATA: {{ $json.formattedDate }}\n\nNÚMEROS USUÁRIOS\n👥 N° TOTAL DE JOGADORES: {{ $('Aggregate').item.json.data[2]['DASHBOARD SANTOBET'] }}\n🤝 N° TOTAL AFILIADOS: {{ $('Aggregate').item.json.data[6]['DASHBOARD SANTOBET'] }}\n\nRELATÓRIO GERAL - TOTAL\n📉 TOTAL PIX PAGOS: {{ $('Aggregate').item.json.data[14]['DASHBOARD SANTOBET'] }}\n📉 SAQUES JOGADORES: {{ $('Aggregate').item.json.data[10].col_3 }}\n📉 SAQUE AFILIADOS: {{ $('Aggregate').item.json.data[14].col_3 }}\n\nRELATÓRIO 24 HORAS\n⏳ N° REGISTROS 24H: {{ $('Aggregate').item.json.data[4]['DASHBOARD SANTOBET'] }}\n⚡ PIX RECEBIDOS 24H: {{ $('Aggregate').item.json.data[16]['DASHBOARD SANTOBET'] }}\n\nSAQUES 24 HORAS\n⚡ SAQUES TOTAL 24H: {{ $('Aggregate').item.json.data[10].col_7 }}\n⚡ SAQUES JOGADORES 24H: {{ $('Aggregate').item.json.data[14].col_7 }}\n⚡ SAQUE AFILIADOS 24H: {{ $('Aggregate').item.json.data[12].col_7 }}\n"}]},"options":{}},"id":"a2e729e5-cfbd-4915-9501-24b21e7c77d7","name":"ENVIO RELATORIO GRUPO1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2820,-1660],"alwaysOutputData":false},{"parameters":{"operation":"formatDate","date":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd') }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2600,-1660],"id":"33d26ef6-3f6f-46ff-a353-7a6df615a332","name":"Date & Time4"},{"parameters":{"content":"## RELATÓRIO DIARIO SANTO BET\n**ENVIA RELATÓRIO NO GRUPO DIRETORIA","height":420,"width":1160},"type":"n8n-nodes-base.stickyNote","position":[1900,-1900],"typeVersion":1,"id":"a5efc472-1520-4c40-8b4b-543fa7c25781","name":"Sticky Note7"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1588102366,"mode":"list","cachedResultName":"SAQUE AFILIADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1588102366"},"filtersUI":{"values":[{"lookupColumn":"AVISO ENVIADO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2740,500],"id":"798b69df-8363-48f2-9f2e-67754fce42cc","name":"Google Sheets3","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"formatDate","date":"={{ new Date().toISOString().split('T')[0] }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[3860,360],"id":"8ff66b48-4217-42f9-b4b0-bb58dec4f153","name":"Date & Time5"},{"parameters":{"content":"## AVISO DE SAQUE FEITO - AFILIADO\n**ENVIA RELATÓRIO AO AFILIADO SOBRE SEU SAQUE","height":620,"width":740},"type":"n8n-nodes-base.stickyNote","position":[2460,260],"typeVersion":1,"id":"502aa7fb-f502-4fad-a945-7cade0a6e89b","name":"Sticky Note8"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.STATUS }}","rightValue":"OK","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SAQUE OK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1b636a5-2426-406e-b37e-c51f035692c5","leftValue":"={{ $json.STATUS }}","rightValue":"RECUSADO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RECUSADO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2940,500],"id":"0da77698-eeea-4546-856c-b3bb53cf8380","name":"Switch1"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.EMAIL }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3460,360],"id":"d3355904-5495-4b36-b9d0-308c77c4c762","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"assignments":{"assignments":[{"id":"5ae0d695-fdcd-4dca-bff7-e43ddfc29013","name":"TELEFONE","value":"=55{{ $json.TELEFONE.replace(/\\D/g, '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3660,360],"id":"6ff03c0b-8d6b-47cf-84ad-f3f21597374c","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/SUPORTESB","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Edit Fields1').item.json.TELEFONE }}"},{"name":"text","value":"=🔥 CONFIRMAÇÃO DE SAQUE | SANTO BET 🔥\n\n📅 Data: {{ $json.formattedDate }}\n\nOlá, {{ $('Google Sheets4').item.json.EMAIL }}!\nSeu saque no valor de R$ {{ $('Switch1').item.json.VALOR }} foi processado com sucesso! ✅💰\n🔑 Chave Pix: {{ $('Switch1').item.json['CHAVE PIX'] }}\n\nAgradecemos sua parceria! Qualquer dúvida, estamos à disposição. 💚\n\n🔹 Equipe Santo Bet"}]},"options":{}},"id":"a67c8f0d-892d-494c-9f35-72bcf8b48bda","name":"ENVIA MSG AO AFILIADO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4080,360],"alwaysOutputData":false},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1588102366,"mode":"list","cachedResultName":"SAQUE AFILIADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1588102366"},"columns":{"mappingMode":"defineBelow","value":{"AVISO ENVIADO":"SIM","DATA PAGAMENTO":"={{ $now.toFormat('dd/MM/yyyy') }}","row_number":"={{ $('Loop Over Items').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" VALOR ","displayName":" VALOR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VERIFICADO","displayName":"VERIFICADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA PAGAMENTO","displayName":"DATA PAGAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RECUSA MOTIVO","displayName":"RECUSA MOTIVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AVISO ENVIADO","displayName":"AVISO ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4280,360],"id":"af0dd108-368a-4fc8-9dab-273b681b7f47","name":"Google Sheets5","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3280,340],"id":"007a0422-0925-4cc8-a02c-830c4d8982fe","name":"Loop Over Items"},{"parameters":{"content":"## AVISO DE SAQUE FEITO\n**ENVIA RELATÓRIO AO AFILIADO SOBRE SEU SAQUE","height":300,"width":1220},"type":"n8n-nodes-base.stickyNote","position":[3220,260],"typeVersion":1,"id":"3ec43085-4a75-4b69-b224-ed304a4ef24b","name":"Sticky Note9"},{"parameters":{"operation":"formatDate","date":"={{ new Date().toISOString().split('T')[0] }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[3860,680],"id":"cba03b8d-8838-448f-a93b-e5d6cd1ff7c9","name":"Date & Time6"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.EMAIL }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3460,680],"id":"8b10860b-dfa5-4c0d-8492-8c2459077175","name":"Google Sheets6","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"assignments":{"assignments":[{"id":"5ae0d695-fdcd-4dca-bff7-e43ddfc29013","name":"TELEFONE","value":"=55{{ $json.TELEFONE.replace(/\\D/g, '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3660,680],"id":"f0df9026-3ce5-4286-a354-b5dac9c12bcf","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/SUPORTESB","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Edit Fields2').item.json.TELEFONE }}"},{"name":"text","value":"=🔥 INFORMAÇÃO DE SAQUE | SANTO BET 🔥\n\n📅 Data: {{ $json.formattedDate }}\n\nOlá, {{ $('Google Sheets6').item.json.EMAIL }}!\nInfelizmente, seu saque no valor de R$ {{ $('Switch1').item.json.VALOR }} não foi processado.\n🔑 Chave Pix: {{ $('Switch1').item.json['CHAVE PIX'] }}\n\n💬 Motivo da Recusa: {{ $('Loop Over Items1').item.json['RECUSA MOTIVO'] }}\n\nFique tranquilo, estamos à disposição para ajudar no que for necessário, chame seu gerente no seu grupo de apoio.\n💚 Equipe Santo Bet"}]},"options":{}},"id":"f72708b9-e44e-414f-872d-b2b18c5a0f59","name":"ENVIA MSG AO AFILIADO1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4080,680],"alwaysOutputData":false},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1588102366,"mode":"list","cachedResultName":"SAQUE AFILIADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1588102366"},"columns":{"mappingMode":"defineBelow","value":{"AVISO ENVIADO":"SIM","DATA PAGAMENTO":"={{ $now.toFormat('dd/MM/yyyy') }}","row_number":"={{ $('Loop Over Items1').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" VALOR ","displayName":" VALOR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CHAVE PIX","displayName":"CHAVE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VERIFICADO","displayName":"VERIFICADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA PAGAMENTO","displayName":"DATA PAGAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RECUSA MOTIVO","displayName":"RECUSA MOTIVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AVISO ENVIADO","displayName":"AVISO ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4280,680],"id":"191b0147-09c4-4019-8482-8c73e0f2d627","name":"Google Sheets7","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3280,660],"id":"48dfe3e8-3152-4865-a63e-f6781aaaae44","name":"Loop Over Items1"},{"parameters":{"content":"## AVISO DE SAQUE RECUSADO\n**ENVIA RELATÓRIO AO AFILIADO SOBRE SEU SAQUE","height":300,"width":1220,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3220,580],"typeVersion":1,"id":"1f0a3eac-6090-4e28-8a03-171376a53f3e","name":"Sticky Note10"},{"parameters":{"assignments":{"assignments":[{"id":"638eba1a-c0a0-4329-bd59-5da00d1e2823","name":"EMAIL","value":"={{ $('Switch').item.json.body.email }}","type":"string"},{"id":"409704e8-fc9d-412f-8b5c-fbde67860fcd","name":"DATA","value":"={{ $json.formattedDate }}","type":"string"},{"id":"a0d9b15e-23a1-4dc3-b904-a159db745a5b","name":"VALOR","value":"={{ Number($('Switch').item.json.body.amount).toLocaleString('pt-BR', { minimumFractionDigits: 2 }) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2620,-140],"id":"12901769-bea5-442f-bd4e-1201fcdeeae6","name":"Edit Fields6"},{"parameters":{"content":"## SAQUE FEITO\n** REGISTRO SAQUE REALIZADO","height":440,"width":1460},"type":"n8n-nodes-base.stickyNote","position":[2380,-340],"typeVersion":1,"id":"fbcee8e9-1fa1-432a-ae65-4a89793a2c0d","name":"Sticky Note11"},{"parameters":{"operation":"formatDate","date":"={{ new Date().toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace('T', ' ') }}","format":"custom","customFormat":"dd-MM-yyyy - HH:mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2400,-140],"id":"3a61a31c-a2c7-451c-9d3e-b3684c9130d6","name":"Date & Time7"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/BOSS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=57ec53c5bd97b369472d545052e77007"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"120363382224860301@g.us"},{"name":"text","value":"=📊 RELATÓRIO SANTOBET\n📅 DATA: {{ $json.formattedDate }}\n\n👥 N° JOGADORES: {{ $('Aggregate').item.json['N° JOGADORES'][0] }}\n⏳ N° JOGADORES 24H: {{ $('Aggregate').item.json['N° JOGADORES'][2] }}\n🤝 N° AFILIADOS: {{ $('Aggregate').item.json['N° JOGADORES'][4] }}\n\n💰 N° PIX TOTAL GERADOS: {{ $('Aggregate').item.json['N° JOGADORES'][6] }}\n✅ N° PIX TOTAL PAGOS: {{ $('Aggregate').item.json['N° JOGADORES'][8] }}\n\n📈 SALDO TOTAL PIX GERADOS: {{ $('Aggregate').item.json['N° JOGADORES'][10] }}\n📉 SALDO TOTAL PIX PAGOS: {{ $('Aggregate').item.json['N° JOGADORES'][12] }}\n\n⚡ PIX ÚLTIMAS 24H: {{ $('Aggregate').item.json['N° JOGADORES'][14] }}"}]},"options":{}},"id":"639ce773-1a2a-4965-a0c3-47810b32f7a9","name":"ENVIO RELATORIO GRUPO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2820,-1860],"alwaysOutputData":false},{"parameters":{"public":true,"initialMessages":"Ola, envie feito aqui para disparar as mensagens de saques efetuados","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[2500,500],"id":"0aa42802-41fb-489c-92ff-abe62fdebc6f","name":"When chat message received","webhookId":"e213a5e4-a380-4586-9f59-100ecf9f8243"},{"parameters":{"documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":571374243,"mode":"list","cachedResultName":"AFILIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=571374243"},"filtersUI":{"values":[{"lookupColumn":"EMAIL","lookupValue":"={{ $json.EMAIL }}"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2840,-140],"id":"462a9e8d-4478-48d7-a11d-a438fa567203","name":"Google Sheets8","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"69e591e4-0f41-4734-b9c8-ad4341c226a4","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3060,-140],"id":"ada42ab7-440f-40be-9549-e4483deec6e9","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1387268248,"mode":"list","cachedResultName":"SAQUES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1387268248"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}","DATA":"={{ $('Edit Fields6').item.json.DATA }}","VALOR":"={{ $('Edit Fields6').item.json.VALOR }}","AFILIADO S/N":"AFILIADO"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AFILIADO S/N","displayName":"AFILIADO S/N","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3360,-60],"id":"29fb885b-6b64-4361-b096-03decfed7048","name":"SAQUE AFILIADO","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1387268248,"mode":"list","cachedResultName":"SAQUES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=1387268248"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Edit Fields6').item.json.EMAIL }}","DATA":"={{ $('Edit Fields6').item.json.DATA }}","VALOR":"={{ $('Edit Fields6').item.json.VALOR }}"},"matchingColumns":[],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AFILIADO S/N","displayName":"AFILIADO S/N","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3360,-240],"id":"7a80e0ec-4955-469e-a06d-12a27fa6a218","name":"SAQUE JOGADOR","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3580,-240],"id":"31c7a7bb-7c87-4b3c-8a61-d566dcffb615","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2820,-1360],"id":"d0b566b8-0168-4e0b-8421-ee60a8b05a2b","name":"No Operation, do nothing2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data }}","rightValue":"OK","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENVIADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"451ba9af-29c8-4475-bf7d-bcc70f07be0d","leftValue":"={{ $json.data }}","rightValue":"=OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERRO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3460,-1160],"id":"d1f589fa-c435-47f8-9edc-7f836965c4ab","name":"Switch2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4120,-1200],"id":"0a6c93f2-cba6-4bdc-aa81-ad7d5b4019ba","name":"No Operation, do nothing3"},{"parameters":{"content":"## ENVIO DE SMS DE BOAS VINDAS\n** ENVIA SMS ATRAVES DA INTEGRAFLUX","height":420,"width":1100,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3220,-1340],"typeVersion":1,"id":"791c58a3-0efa-4fe7-b73e-5374a0deb003","name":"Sticky Note5"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('SALVA JOGADOR NO SHEET').item.json.EMAIL }}","BOAS VINDAS ENVIADAS":"SIM"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO PARA SMS","displayName":"NUMERO PARA SMS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS ENVIADAS","displayName":"BOAS VINDAS ENVIADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3680,-1260],"id":"5ef8fdbd-20fa-4a08-b0e4-fc387b0f8279","name":"SMS OK","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","mode":"list","cachedResultName":"SANTOBET - WEBHOOK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"JOGADOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('SALVA JOGADOR NO SHEET').item.json.EMAIL }}","BOAS VINDAS ENVIADAS":"ERRO"},"matchingColumns":["EMAIL"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AFILIADO","displayName":"AFILIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO PARA SMS","displayName":"NUMERO PARA SMS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS ENVIADAS","displayName":"BOAS VINDAS ENVIADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3680,-1080],"id":"4a2d1347-dc41-4018-8821-962cdc5bbaac","name":"SMS ERRO","credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"https://sms.aresfun.com/integration/ffc59c17-29ea-4ed8-87aa-359b679273c9","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"\",\n  \"email\": \"{{ $json.EMAIL }}\",\n  \"phone\": \"55{{ $json.TELEFONE.replace(/[()\\s-]/g, '') }}\",\n  \"event\": \"new\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3280,-1100],"id":"251cd375-5722-48e7-8966-25554f3dbe09","name":"POST INTEGRAFLUX"},{"parameters":{"method":"POST","url":"https://notify.typebot.pro/teste123","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"AVISO DE PIX"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"=NOVO PIX FEITO -  {{ new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format($('Edit Fields5').item.json.VALOR) }}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3040,-520],"id":"329c0f1c-e740-4c61-8900-f2a0f0c30b73","name":"NOTIFY PIX","credentials":{"httpBasicAuth":{"id":"cUb7pyXy5tejKNVF","name":"Notify-jamil"}}},{"parameters":{"method":"POST","url":"https://notify.typebot.pro/teste123","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"CADASTRO"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"NOVO CADASTRO FEITO","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3900,-1200],"id":"d9708983-aafb-4e47-9f7a-a5d99278933a","name":"NOTIFY CADASTRO","credentials":{"httpBasicAuth":{"id":"cUb7pyXy5tejKNVF","name":"Notify-jamil"}}},{"parameters":{"content":"## AFILIADO\n**AVISA AFILIADO DO SAQUE","height":880,"width":2240,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2380,140],"typeVersion":1,"id":"8d5f11ef-c902-4909-824f-02a0477f4ee5","name":"Sticky Note12"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3580,-60],"id":"62e85446-6fea-473e-91da-5760a961a8d6","name":"5s","webhookId":"13bfaa01-98f8-4e7f-86d2-ed8411acdd20"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Date & Time","type":"main","index":0}],[{"node":"Date & Time1","type":"main","index":0}],[{"node":"Date & Time3","type":"main","index":0}],[{"node":"Date & Time7","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"SALVA JOGADOR NO SHEET","type":"main","index":0}]]},"SALVA JOGADOR NO SHEET":{"main":[[{"node":"POST INTEGRAFLUX","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"SALVA JOGADOR NO SHEET1","type":"main","index":0}]]},"SALVA JOGADOR NO SHEET1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"SALVA JOGADOR NO SHEET2","type":"main","index":0}]]},"Date & Time3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"SALVA JOGADOR NO SHEET2":{"main":[[{"node":"NOTIFY PIX","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Date & Time4","type":"main","index":0}]]},"Date & Time4":{"main":[[{"node":"ENVIO RELATORIO GRUPO1","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Date & Time5":{"main":[[{"node":"ENVIA MSG AO AFILIADO","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Date & Time5","type":"main","index":0}]]},"ENVIA MSG AO AFILIADO":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Date & Time6":{"main":[[{"node":"ENVIA MSG AO AFILIADO1","type":"main","index":0}]]},"Google Sheets6":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Date & Time6","type":"main","index":0}]]},"ENVIA MSG AO AFILIADO1":{"main":[[{"node":"Google Sheets7","type":"main","index":0}]]},"Google Sheets7":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Google Sheets6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Google Sheets8","type":"main","index":0}]]},"Date & Time7":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"When chat message received":{"main":[[]]},"Google Sheets8":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"SAQUE JOGADOR","type":"main","index":0}],[{"node":"SAQUE AFILIADO","type":"main","index":0}]]},"SAQUE AFILIADO":{"main":[[{"node":"5s","type":"main","index":0}]]},"SAQUE JOGADOR":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"SMS OK","type":"main","index":0}],[{"node":"SMS ERRO","type":"main","index":0}]]},"SMS OK":{"main":[[{"node":"NOTIFY CADASTRO","type":"main","index":0}]]},"SMS ERRO":{"main":[[{"node":"NOTIFY CADASTRO","type":"main","index":0}]]},"POST INTEGRAFLUX":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"NOTIFY PIX":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"NOTIFY CADASTRO":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"5s":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","sheetId":0,"lastRevision":10806,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME&revision=10806&exportFormat=xlsx"},"node:Google Sheets Trigger1":{"documentId":"1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME","sheetId":1588102366,"lastRevision":2739,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gkiZcv4TIQVnSZTyGz6kzO3T-sACsUeDgGMXvOInhME&revision=2739&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"365994d5-8d42-4789-b9f5-35b1694eddd1","triggerCount":5,"tags":[{"createdAt":"2025-03-06T17:18:48.721Z","updatedAt":"2025-03-06T17:18:48.721Z","id":"BjJH7wIAM5snchbM","name":"SANTOBET"}]}