santobet-[playfiver]-r2jcNYe7ezE48z3w.json
{"updatedAt":"2025-10-16T14:21:06.432Z","createdAt":"2025-09-22T15:04:27.593Z","id":"r2jcNYe7ezE48z3w","name":"SANTOBET [PLAYFIVER]","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://api.playfivers.com/api/v2/games","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-240],"id":"9c73f33e-406a-45cb-b21c-b1bbf2046dcf","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[16,-240],"id":"55ecda0d-a8a0-4bdc-9b31-178a656e7991","name":"Split Out"},{"parameters":{"url":"https://api.playfivers.com/api/v2/balances","sendQuery":true,"queryParameters":{"parameters":[{"name":"agentToken","value":"31bce517-b30d-4050-9d45-8e01c93f2bd0"},{"name":"secretKey","value":"b89887fb-0765-4b4d-a44a-6e2fbae2dc57"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,192],"id":"d85a20f8-1833-4998-9c59-b99f0c04149e","name":"Saldo Carteira fivers"},{"parameters":{"jsCode":"// items é provido pelo n8n\nconst input = items[0].json;\n\n// pega o objeto que contém as fontes e valores\nconst data = input.data || {};\n\n// gerar um item por fonte (cada item terá {fonte, valor})\nconst itemsPorFonte = Object.entries(data).map(([fonte, valor]) => {\n  // garante que valor seja número (se já for número, mantém)\n  const valorNum = typeof valor === 'string' ? parseFloat(valor.replace(',', '.')) : valor;\n  return { json: { fonte, valor: valorNum } };\n});\n\nreturn itemsPorFonte;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,192],"id":"1367a3fc-83cf-41f4-ba30-b6383453f2a9","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbeca36d-9647-4a96-bbdc-ab713839febc","leftValue":"={{ $json.valor }}","rightValue":50,"operator":{"type":"number","operation":"lt"}},{"id":"2d91f4bc-ab91-46c9-9cd1-380b24072105","leftValue":"={{ $json.valor }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[384,192],"id":"0bac53fb-1797-4b27-b407-3bdfd706a355","name":"If"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-192,192],"id":"c196f9ab-01d8-4580-bb6d-36fa33fbeadc","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[640,288],"id":"b6954088-2229-4f68-9227-5ea4639a2b91","name":"No Operation, do nothing"},{"parameters":{"content":"## PUXAR JOGOS\n","height":288,"width":608},"type":"n8n-nodes-base.stickyNote","position":[-256,-336],"typeVersion":1,"id":"f4eb327b-3bf3-49b9-95ff-6ec5b17e2881","name":"Sticky Note"},{"parameters":{"content":"## AVISAR SOBRE GGR BAIXO\n**CHECA A CADA 5 MINUTOS, E AVISA SE MENOR QUE 50 EM ALGUMA CARTEIRA","height":512,"width":1296},"type":"n8n-nodes-base.stickyNote","position":[-256,-32],"typeVersion":1,"id":"62288369-0bf4-4909-b726-9e35a639c56b","name":"Sticky Note1"},{"parameters":{"jsCode":"// items vem do nó anterior (IF)\nconst dados = items.map(item => item.json);\n\n// monta a mensagem\nlet mensagem = \"Saldos das carteiras:\\n\";\n\ndados.forEach(d => {\n  // formata valor com 2 casas decimais\n  const valorFormatado = Number(d.valor).toFixed(2);\n  mensagem += `${d.fonte}: ${valorFormatado}\\n`;\n});\n\n// retorna como um único item com a mensagem\nreturn [{ json: { mensagem } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,128],"id":"82406eda-6867-4f83-96f8-8afaed957ec7","name":"unifica os resultados"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/SUPORTESB","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"120363411799806560@g.us"},{"name":"text","value":"=⚠ AVISO PLAYFIVERS ⚠\n\n📅 DATA: {{ $now.format(\"dd/MM/yyyy\") }}\n\nCONFERIR E CARREGAR AS CARTEIRAS ABAIXO\n\n{{ $json.mensagem }}"}]},"options":{}},"id":"392a4666-ef81-4a45-baf0-4fb973263cae","name":"AVISO DE SALDO BAIXO PLAYFIVER","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,128],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://api.playfivers.com/api/v2/free_bonus","sendQuery":true,"queryParameters":{"parameters":[{"name":"agent_token","value":"31bce517-b30d-4050-9d45-8e01c93f2bd0"},{"name":"secret_key","value":"b89887fb-0765-4b4d-a44a-6e2fbae2dc57"},{"name":"user_code","value":"4605"},{"name":"game_code","value":"126"},{"name":"rounds","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,1120],"id":"d1c71fde-87e0-4f55-b682-21c24f0ae5b9","name":"Saldo Carteira fivers1"},{"parameters":{"content":"## RODADAS GRATIS\n** INSERE RODADAS GRATIS PARA O JOGADOR","height":512,"width":1296},"type":"n8n-nodes-base.stickyNote","position":[-256,512],"typeVersion":1,"id":"6b3041be-4213-4143-8554-600b5256987a","name":"Sticky Note2"}],"connections":{"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[]]},"Saldo Carteira fivers":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"unifica os resultados","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Saldo Carteira fivers","type":"main","index":0}]]},"unifica os resultados":{"main":[[{"node":"AVISO DE SALDO BAIXO PLAYFIVER","type":"main","index":0}]]},"Saldo Carteira fivers1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"ede898b8-ad99-4e68-9017-fab89dd88746","activeVersionId":"ede898b8-ad99-4e68-9017-fab89dd88746","triggerCount":1,"shared":[{"updatedAt":"2025-09-22T15:04:27.593Z","createdAt":"2025-09-22T15:04:27.593Z","role":"workflow:owner","workflowId":"r2jcNYe7ezE48z3w","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":{"updatedAt":"2025-12-02T03:40:31.482Z","createdAt":"2025-12-02T03:40:31.482Z","versionId":"ede898b8-ad99-4e68-9017-fab89dd88746","workflowId":"r2jcNYe7ezE48z3w","nodes":[{"parameters":{"url":"https://api.playfivers.com/api/v2/games","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-240],"id":"9c73f33e-406a-45cb-b21c-b1bbf2046dcf","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[16,-240],"id":"55ecda0d-a8a0-4bdc-9b31-178a656e7991","name":"Split Out"},{"parameters":{"url":"https://api.playfivers.com/api/v2/balances","sendQuery":true,"queryParameters":{"parameters":[{"name":"agentToken","value":"31bce517-b30d-4050-9d45-8e01c93f2bd0"},{"name":"secretKey","value":"b89887fb-0765-4b4d-a44a-6e2fbae2dc57"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,192],"id":"d85a20f8-1833-4998-9c59-b99f0c04149e","name":"Saldo Carteira fivers"},{"parameters":{"jsCode":"// items é provido pelo n8n\nconst input = items[0].json;\n\n// pega o objeto que contém as fontes e valores\nconst data = input.data || {};\n\n// gerar um item por fonte (cada item terá {fonte, valor})\nconst itemsPorFonte = Object.entries(data).map(([fonte, valor]) => {\n  // garante que valor seja número (se já for número, mantém)\n  const valorNum = typeof valor === 'string' ? parseFloat(valor.replace(',', '.')) : valor;\n  return { json: { fonte, valor: valorNum } };\n});\n\nreturn itemsPorFonte;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,192],"id":"1367a3fc-83cf-41f4-ba30-b6383453f2a9","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbeca36d-9647-4a96-bbdc-ab713839febc","leftValue":"={{ $json.valor }}","rightValue":50,"operator":{"type":"number","operation":"lt"}},{"id":"2d91f4bc-ab91-46c9-9cd1-380b24072105","leftValue":"={{ $json.valor }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[384,192],"id":"0bac53fb-1797-4b27-b407-3bdfd706a355","name":"If"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-192,192],"id":"c196f9ab-01d8-4580-bb6d-36fa33fbeadc","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[640,288],"id":"b6954088-2229-4f68-9227-5ea4639a2b91","name":"No Operation, do nothing"},{"parameters":{"content":"## PUXAR JOGOS\n","height":288,"width":608},"type":"n8n-nodes-base.stickyNote","position":[-256,-336],"typeVersion":1,"id":"f4eb327b-3bf3-49b9-95ff-6ec5b17e2881","name":"Sticky Note"},{"parameters":{"content":"## AVISAR SOBRE GGR BAIXO\n**CHECA A CADA 5 MINUTOS, E AVISA SE MENOR QUE 50 EM ALGUMA CARTEIRA","height":512,"width":1296},"type":"n8n-nodes-base.stickyNote","position":[-256,-32],"typeVersion":1,"id":"62288369-0bf4-4909-b726-9e35a639c56b","name":"Sticky Note1"},{"parameters":{"jsCode":"// items vem do nó anterior (IF)\nconst dados = items.map(item => item.json);\n\n// monta a mensagem\nlet mensagem = \"Saldos das carteiras:\\n\";\n\ndados.forEach(d => {\n  // formata valor com 2 casas decimais\n  const valorFormatado = Number(d.valor).toFixed(2);\n  mensagem += `${d.fonte}: ${valorFormatado}\\n`;\n});\n\n// retorna como um único item com a mensagem\nreturn [{ json: { mensagem } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,128],"id":"82406eda-6867-4f83-96f8-8afaed957ec7","name":"unifica os resultados"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/SUPORTESB","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"120363411799806560@g.us"},{"name":"text","value":"=⚠ AVISO PLAYFIVERS ⚠\n\n📅 DATA: {{ $now.format(\"dd/MM/yyyy\") }}\n\nCONFERIR E CARREGAR AS CARTEIRAS ABAIXO\n\n{{ $json.mensagem }}"}]},"options":{}},"id":"392a4666-ef81-4a45-baf0-4fb973263cae","name":"AVISO DE SALDO BAIXO PLAYFIVER","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,128],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://api.playfivers.com/api/v2/free_bonus","sendQuery":true,"queryParameters":{"parameters":[{"name":"agent_token","value":"31bce517-b30d-4050-9d45-8e01c93f2bd0"},{"name":"secret_key","value":"b89887fb-0765-4b4d-a44a-6e2fbae2dc57"},{"name":"user_code","value":"4605"},{"name":"game_code","value":"126"},{"name":"rounds","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,1120],"id":"d1c71fde-87e0-4f55-b682-21c24f0ae5b9","name":"Saldo Carteira fivers1"},{"parameters":{"content":"## RODADAS GRATIS\n** INSERE RODADAS GRATIS PARA O JOGADOR","height":512,"width":1296},"type":"n8n-nodes-base.stickyNote","position":[-256,512],"typeVersion":1,"id":"6b3041be-4213-4143-8554-600b5256987a","name":"Sticky Note2"}],"connections":{"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[]]},"Saldo Carteira fivers":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"unifica os resultados","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Saldo Carteira fivers","type":"main","index":0}]]},"unifica os resultados":{"main":[[{"node":"AVISO DE SALDO BAIXO PLAYFIVER","type":"main","index":0}]]},"Saldo Carteira fivers1":{"main":[[]]}},"authors":"system migration","name":null,"description":null},"tags":[]}