supergrupo---wesley-campos-A3bA5G9WeRS1xXgH.json
{"createdAt":"2025-01-24T18:14:16.609Z","updatedAt":"2025-02-10T18:39:43.663Z","id":"A3bA5G9WeRS1xXgH","name":"SUPERGRUPO - WESLEY CAMPOS","active":true,"nodes":[{"parameters":{"content":"## COMANDO TESTE","height":240.69732392803536,"width":533.2782647118129},"id":"08aaf00a-7780-43a1-b404-1ed9e86dd26b","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1680,3340]},{"parameters":{"assignments":{"assignments":[{"id":"3df5be45-f7f7-4297-a1ad-0da61420e6a6","name":"botao.titulo","value":"MSG TESTE","type":"string"},{"id":"a8a466c4-6cd7-4b40-9071-aecadb9fe926","name":"botao.mensagem","value":"esta é uma mensagem de teste, estou funcionando","type":"string"}]},"options":{}},"id":"6203e01a-c53a-431d-affa-3b64885fa341","name":"DADOS BOTAO5","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1620,3400]},{"parameters":{"assignments":{"assignments":[{"id":"744c0e87-4a0c-4818-b281-5b83b7c5e9f5","name":"data.numero","value":"={{ $json.participante }}","type":"string"},{"id":"c953c65b-60f0-4564-a686-7de49801e353","name":"data.urlapi","value":"https://whatsapi.typebot.pro","type":"string"},{"id":"461e2770-82e0-4af8-9fba-761fdf08a7d2","name":"data.instancia","value":"={{ $('Webhook').item.json.body.instance }}","type":"string"},{"id":"f1d06dba-5d8b-42dd-af60-75547ec05738","name":"data.globalapi","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"0de92c80-a4ad-46d2-98ad-e01536be0f67","name":"data.apikey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"b9a7f52a-4adb-4e1b-a588-5161815f93c3","name":"data.acao","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"6fb2e3a5-6827-474a-b3a9-0f2ab28bec79","name":"contato","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"fbefe8f9-df10-439d-9c87-6cc6d733fd37","name":"acao","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"4502a845-4707-4b82-992c-de43b541f6d4","name":"DADOS","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2160,3180]},{"parameters":{"assignments":{"assignments":[{"id":"adf8fb7a-f683-4f22-9275-fb22dc9539de","name":"grupo","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"829178d5-1df2-4e14-a20e-c902bb637194","name":"contato","value":"={{ $('Webhook').item.json.body.data.contextInfo.participant }}","type":"string"},{"id":"6137c626-487a-478a-9fa8-2d1cc9ebf1bd","name":"ordem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"bd91be08-3d76-4db0-a668-c4a1a5e0443d","name":"GRUPO E CONTATO","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,3620]},{"parameters":{"content":"# COMANDO REMOVER, ADD, PROMOVER","height":770,"width":1016,"color":3},"id":"55707744-c10b-4c59-9986-1d9b537000b0","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2740,3600]},{"parameters":{"content":"## COMANDO FORUM BETTALK","height":233.15141572191064,"width":529.8209964749201},"id":"0597a519-ee28-4501-875b-80964ef1a148","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1680,3600]},{"parameters":{"assignments":{"assignments":[{"id":"3df5be45-f7f7-4297-a1ad-0da61420e6a6","name":"botao.titulo","value":"BETTALK - O FORUM MAIS COMPLETO E GRATUITO","type":"string"},{"id":"a8a466c4-6cd7-4b40-9071-aecadb9fe926","name":"botao.mensagem","value":"=🧠💬 Conheça o BETTALK, o fórum completo para você que busca conhecimento e trocas de ideias! 💥\\n\\n🚀 Temos categorias para todos os gostos:\\n\\n🎲 iGaming / Cassino - Fique por dentro das novidades e estratégias!\\n🖤 Black (Dark do MKT) - Descubra os segredos do marketing underground.\\n📚 Tutoriais - Aprenda passo a passo sobre diversos assuntos.\\n💰 Onde Vender Meus Produtos - Encontre o melhor caminho para suas vendas.\\n📘 Facebook, 📲 Telegram, 🎵 TikTok, 🟢 Whatsapp, 📸 Instagram - Troque dicas sobre todas as redes sociais!\\n🛠️ Ferramentas e Hack's - Melhore sua performance com as melhores ferramentas.\\n🤖 Typebot - Explore automações poderosas.\\n💻 Hacking - Para os curiosos da tecnologia.\\n🔥 Hot +18 - Conteúdos especiais para maiores de idade.\\n📈 Marketing Digital (PLR, info e etc) - Tudo sobre produtos digitais e estratégias.\\n\\n🔓 O acesso é 100% gratuito! Basta se cadastrar e mergulhar nessa comunidade cheia de conhecimento! 💬👇\\n\\n👉 Junte-se agora ao BETTALK e participe das conversas que vão transformar seu jogo!","type":"string"},{"id":"9b918f37-fe4b-4f0e-b0e6-74e50c1c408f","name":"botao.legenda","value":"ACESSAR BETTALK","type":"string"},{"id":"ee8dc9bf-eedd-45e5-a2e9-2a554936c903","name":"botao.url","value":"https://www.bettalk.com.br/","type":"string"}]},"options":{}},"id":"f1e02777-1a58-4a85-a323-46860921c3db","name":"DADOS BOTAO3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1600,3660]},{"parameters":{"content":"## START E DADOS\n**CONFIGURAR SEU WEBHOOK E DEFINIR A CONFIGURAÇÃO DE ADM","height":498,"width":1406,"color":4},"id":"5d877e5a-3150-4821-bcc2-9058b1b339ef","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3140,3080]},{"parameters":{"jsCode":"// Para cada item no array, edite o campo \"participante\"\nreturn items.map(item => {\n  const participante = item.json.participante;\n  \n  // Remova tudo após o @\n  const cleanedParticipante = participante.split('@')[0];\n  \n  // Retorne o item com o valor atualizado\n  return {\n    json: {\n      ...item.json,\n      participante: cleanedParticipante\n    }\n  };\n});\n"},"id":"1195d783-30d6-42f8-8fb1-7295f5210d34","name":"REMOVER NUMERO","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2340,3180]},{"parameters":{"assignments":{"assignments":[{"id":"7fa3b8aa-e310-4a57-9460-a05f635824fe","name":"participante","value":"={{ $json.body.data.key.participant }}","type":"string"},{"id":"d50f6a63-20ed-43e6-a1ca-881493f50a4a","name":"participante","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"id":"b814036e-86f3-44d5-9c92-e86902a69b22","name":"NUMERO ADM","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2520,3180]},{"parameters":{"content":"## MENCIONAR TODOS","height":249.0861510850578,"width":666.3720446680976},"id":"08fa78e2-1c35-411f-a55d-ab08206ddb32","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1680,3080]},{"parameters":{},"id":"a0aac0d6-28ca-4931-8c5f-e20f50148fc8","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2720,3380]},{"parameters":{"content":"## Start","height":281.51524911983466,"width":276.99366123836273,"color":6},"id":"b6cd5bb2-5603-497a-b9c5-d133434bb0b7","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3460,3300]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.ordem }}","rightValue":"/remover","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REMOVER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a65c985b-3145-464a-b574-26d9604bd9cc","leftValue":"={{ $json.ordem }}","rightValue":"/adm","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROMOVER ADM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25533136-9052-4347-a369-a7e3c67ef954","leftValue":"={{ $json.ordem }}","rightValue":"/tiraradm","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DESPROMOVER ADM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd61c7a2-25d7-4f27-9eb5-a465f4cf1840","leftValue":"={{ $json.ordem }}","rightValue":"/fechar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FECHAR GRUPO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728f8ce8-f60f-4570-a0f1-90a22a94debe","leftValue":"={{ $json.ordem }}","rightValue":"/abrir","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"a76e22f1-12ca-40f5-b4b7-9b9b05f7aa2d","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2640,3920]},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/message/sendText/{{ $('DADOS').item.json.data.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.contato }}\",\n    \"text\": \"✅ você foi Marcado\",\n    \"delay\": 1200,\n    \"quoted\": {\n        \"key\": {\n            \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n        },\n        \"message\": {\n            \"conversation\": \"LEIA COM ATENÇÃO O GRUPO.\"\n        }\n    },\n    \"linkPreview\": false,\n    \"mentionsEveryOne\": true\n}\n","options":{}},"id":"ee413fb0-400e-4611-831b-9f09b7dc5bbf","name":"ENVIO SEM BOTÃO13","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1620,3140],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/message/sendText/{{ $('DADOS').item.json.data.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('COMANDOS-WHATS').item.json.contato }}\",\n    \"text\": \"*{{ $json.botao.titulo }}*\\n\\n{{ $json.botao.mensagem }}\"\n}","options":{}},"id":"623128ba-08de-4dea-9c55-8b622679f442","name":"ENVIO SEM BOTÃO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1380,3400],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/message/sendText/{{ $('DADOS').item.json.data.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('COMANDOS-WHATS').item.json.contato }}\",\n    \"text\": \"*{{ $json.botao.titulo }}*\\n\\n{{ $json.botao.mensagem }}\\n\\n{{ $json.botao.url }}\"\n}","options":{}},"id":"e737b145-e57e-4493-934d-9dfee8cb136a","name":"ENVIO SEM BOTÃO6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1380,3660],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateParticipant/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"remove\",\n  \"participants\": [\n    \"{{ $json.contato }}\"\n  ]\n}","options":{}},"id":"d5dfb08e-9e2b-4c99-8768-c2a0349b0eb9","name":"DESPROMOVER ADM1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,3660],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateParticipant/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"promote\",\n  \"participants\": [\n    \"{{ $json.contato }}\"\n  ]\n}","options":{}},"id":"12c21660-224b-4090-b489-72a378bd8aa4","name":"PROMOVER ADM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,3800],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateParticipant/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"demote\",\n  \"participants\": [\n    \"{{ $json.contato }}\"\n  ]\n}","options":{}},"id":"7148420b-6417-4abb-b906-432013aaba1e","name":"DESPROMOVER ADM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,3940],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateSetting/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"announcement\"\n}","options":{}},"id":"9dd0bcad-a3d2-48a8-b142-6e89d5ef2ac4","name":"FECHAR GRUPO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,4080],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateSetting/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"not_announcement\"\n}","options":{}},"id":"d447de09-dd3d-4538-9187-887dba253ef7","name":"ABRIR GRUPO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,4220],"alwaysOutputData":false},{"parameters":{},"id":"6de793cb-0f89-49e0-a381-23df04215d9e","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1940,3980]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"28b09669-64fc-423c-ae17-021d749c72bb","leftValue":"={{ $('DADOS').item.json.data.acao }}","rightValue":"/todos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MARCA TODOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"260551d4-2902-4b8d-a7e4-8738bf040572","leftValue":"={{ $('DADOS').item.json.data.acao }}","rightValue":"/teste","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"bcd09290-26cb-4bbf-8e84-f69fb8358b13","name":"COMANDOS-WHATS","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1900,3180]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7de3a6ae-11ea-4c10-aed7-19f0302b1d26","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENVIO EM GRUPO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d31367b8-0827-4991-a0c5-fe02211c9a78","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENCERRAR WEBHOOK"}]},"options":{}},"id":"57380daf-bbf8-40a0-b319-7400d2544e39","name":"REGRAS PARA SOMENTE EU2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2980,3200]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7f15547-4548-4748-9f99-cb72ffc5b1ee","leftValue":"={{ $('Webhook').item.json.body.data.key.participant }}","rightValue":"5515996919155@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WHATS WESLEY"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c909f544-4bfd-4ce1-af26-be534ff4c0a1","leftValue":"={{ $json.body.sender }}","rightValue":"={{ $('Webhook').item.json.body.sender }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5bf4edd1-aa21-4095-b8c9-dd1dcac357f8","leftValue":"={{ $('Webhook').item.json.body.data.key.participant }}","rightValue":"5515981458613@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"wesley campos 2"}]},"options":{}},"id":"a079116a-dea6-4414-bc72-b4118090767c","name":"REGRAS PARA SOMENTE EU1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2720,3180]},{"parameters":{"httpMethod":"POST","path":"wesleycampos","options":{}},"id":"5a7db6d3-bcf0-4daf-8429-613b95d7ce0d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3380,3380],"webhookId":"41100384-0bfe-4835-9c0a-16130fdf3d90","notesInFlow":true},{"parameters":{"content":"```\n██╗    ██╗██╗  ██╗ █████╗ ████████╗███████╗       ██████╗ ██████╗ ███╗   ██╗████████╗██████╗  ██████╗ ██╗     \n██║    ██║██║  ██║██╔══██╗╚══██╔══╝██╔════╝      ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗██║     \n██║ █╗ ██║███████║███████║   ██║   ███████╗█████╗██║     ██║   ██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║██║     \n██║███╗██║██╔══██║██╔══██║   ██║   ╚════██║╚════╝██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║██║     \n╚███╔███╔╝██║  ██║██║  ██║   ██║   ███████║      ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╔╝███████╗\n ╚══╝╚══╝ ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝       ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚══════╝\n                                                                                                              \n```\n                                                                                                              \n","height":128.30814276618693,"width":996.6215857644908,"color":3},"id":"73be2abc-4c30-4ee8-8920-088a72e65ad7","name":"Sticky Note26","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2480,2900]}],"connections":{"DADOS BOTAO5":{"main":[[{"node":"ENVIO SEM BOTÃO","type":"main","index":0}]]},"DADOS":{"main":[[{"node":"GRUPO E CONTATO","type":"main","index":0},{"node":"COMANDOS-WHATS","type":"main","index":0}]]},"GRUPO E CONTATO":{"main":[[{"node":"Switch","type":"main","index":0}]]},"DADOS BOTAO3":{"main":[[{"node":"ENVIO SEM BOTÃO6","type":"main","index":0}]]},"REMOVER NUMERO":{"main":[[{"node":"DADOS","type":"main","index":0}]]},"NUMERO ADM":{"main":[[{"node":"REMOVER NUMERO","type":"main","index":0}]]},"Switch":{"main":[[{"node":"DESPROMOVER ADM1","type":"main","index":0}],[{"node":"PROMOVER ADM","type":"main","index":0}],[{"node":"DESPROMOVER ADM","type":"main","index":0}],[{"node":"FECHAR GRUPO","type":"main","index":0}],[{"node":"ABRIR GRUPO","type":"main","index":0}]]},"DESPROMOVER ADM1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"PROMOVER ADM":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"DESPROMOVER ADM":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"FECHAR GRUPO":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"ABRIR GRUPO":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"COMANDOS-WHATS":{"main":[[{"node":"ENVIO SEM BOTÃO13","type":"main","index":0}],[{"node":"DADOS BOTAO5","type":"main","index":0}]]},"REGRAS PARA SOMENTE EU2":{"main":[[{"node":"REGRAS PARA SOMENTE EU1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"REGRAS PARA SOMENTE EU1":{"main":[[{"node":"NUMERO ADM","type":"main","index":0}],[{"node":"NUMERO ADM","type":"main","index":0}],[{"node":"NUMERO ADM","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"REGRAS PARA SOMENTE EU2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timezone":"America/Sao_Paulo"},"staticData":{"node:Iniciar todas 22h":{"recurrenceRules":[]},"node:Iniciar todas 22h1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1b78527c-c0ad-484f-916a-86350e1f6c51","triggerCount":1,"tags":[{"createdAt":"2025-01-25T15:41:04.678Z","updatedAt":"2025-01-25T15:41:04.678Z","id":"EjshTMdZnpBDR2E9","name":"SUPERCHAT"}]}