supergrupo---modelo-mago-g35vuX50QEuruTI6.json
{"createdAt":"2025-01-24T18:41:26.440Z","updatedAt":"2025-01-27T12:34:56.820Z","id":"g35vuX50QEuruTI6","name":"SUPERGRUPO - MODELO MAGO","active":false,"nodes":[{"parameters":{"content":"## COMANDO TESTE","height":240.69732392803536,"width":533.2782647118129},"id":"9a889243-0c46-4a22-8f9b-8218440672f3","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1640,2720]},{"parameters":{"assignments":{"assignments":[{"id":"3df5be45-f7f7-4297-a1ad-0da61420e6a6","name":"botao.titulo","value":"MSG TESTE","type":"string"},{"id":"a8a466c4-6cd7-4b40-9071-aecadb9fe926","name":"botao.mensagem","value":"esta é uma mensagem de teste, estou funcionando","type":"string"}]},"options":{}},"id":"537d9835-3839-4b37-9430-a61f7569283a","name":"DADOS BOTAO5","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1580,2780]},{"parameters":{"assignments":{"assignments":[{"id":"744c0e87-4a0c-4818-b281-5b83b7c5e9f5","name":"data.numero","value":"={{ $json.participante }}","type":"string"},{"id":"c953c65b-60f0-4564-a686-7de49801e353","name":"data.urlapi","value":"https://whatsapi.typebot.pro","type":"string"},{"id":"461e2770-82e0-4af8-9fba-761fdf08a7d2","name":"data.instancia","value":"={{ $('Webhook').item.json.body.instance }}","type":"string"},{"id":"f1d06dba-5d8b-42dd-af60-75547ec05738","name":"data.globalapi","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"0de92c80-a4ad-46d2-98ad-e01536be0f67","name":"data.apikey","value":"57ec53c5bd97b369472d545052e77007","type":"string"},{"id":"b9a7f52a-4adb-4e1b-a588-5161815f93c3","name":"data.acao","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"6fb2e3a5-6827-474a-b3a9-0f2ab28bec79","name":"contato","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"fbefe8f9-df10-439d-9c87-6cc6d733fd37","name":"acao","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"9ae6c7e7-e6a2-4a7c-849f-45fcf41e5f2f","name":"DADOS","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2120,3380]},{"parameters":{"assignments":{"assignments":[{"id":"adf8fb7a-f683-4f22-9275-fb22dc9539de","name":"grupo","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"829178d5-1df2-4e14-a20e-c902bb637194","name":"contato","value":"={{ $('Webhook').item.json.body.data.contextInfo.participant }}","type":"string"},{"id":"6137c626-487a-478a-9fa8-2d1cc9ebf1bd","name":"ordem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"8aa133a3-b21a-4b39-a06e-e878e071de2a","name":"GRUPO E CONTATO","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1580,3760]},{"parameters":{"content":"# COMANDO REMOVER, ADD, PROMOVER","height":770,"width":1016,"color":3},"id":"165b9df7-73dc-4e95-a92f-c100909b6b2f","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1640,3580]},{"parameters":{"content":"## COMANDO FORUM BETTALK","height":233.15141572191064,"width":529.8209964749201},"id":"d8f62baf-2cd0-42c7-a2d3-c2fc71e1bde3","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1640,3040]},{"parameters":{"assignments":{"assignments":[{"id":"3df5be45-f7f7-4297-a1ad-0da61420e6a6","name":"botao.titulo","value":"BETTALK - O FORUM MAIS COMPLETO E GRATUITO","type":"string"},{"id":"a8a466c4-6cd7-4b40-9071-aecadb9fe926","name":"botao.mensagem","value":"=🧠💬 Conheça o BETTALK, o fórum completo para você que busca conhecimento e trocas de ideias! 💥\\n\\n🚀 Temos categorias para todos os gostos:\\n\\n🎲 iGaming / Cassino - Fique por dentro das novidades e estratégias!\\n🖤 Black (Dark do MKT) - Descubra os segredos do marketing underground.\\n📚 Tutoriais - Aprenda passo a passo sobre diversos assuntos.\\n💰 Onde Vender Meus Produtos - Encontre o melhor caminho para suas vendas.\\n📘 Facebook, 📲 Telegram, 🎵 TikTok, 🟢 Whatsapp, 📸 Instagram - Troque dicas sobre todas as redes sociais!\\n🛠️ Ferramentas e Hack's - Melhore sua performance com as melhores ferramentas.\\n🤖 Typebot - Explore automações poderosas.\\n💻 Hacking - Para os curiosos da tecnologia.\\n🔥 Hot +18 - Conteúdos especiais para maiores de idade.\\n📈 Marketing Digital (PLR, info e etc) - Tudo sobre produtos digitais e estratégias.\\n\\n🔓 O acesso é 100% gratuito! Basta se cadastrar e mergulhar nessa comunidade cheia de conhecimento! 💬👇\\n\\n👉 Junte-se agora ao BETTALK e participe das conversas que vão transformar seu jogo!","type":"string"},{"id":"9b918f37-fe4b-4f0e-b0e6-74e50c1c408f","name":"botao.legenda","value":"ACESSAR BETTALK","type":"string"},{"id":"ee8dc9bf-eedd-45e5-a2e9-2a554936c903","name":"botao.url","value":"https://www.bettalk.com.br/","type":"string"}]},"options":{}},"id":"e049d3ce-3270-4600-9bfc-3b933e282cdb","name":"DADOS BOTAO3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1560,3100]},{"parameters":{"content":"## START E DADOS\n**CONFIGURAR SEU WEBHOOK E DEFINIR A CONFIGURAÇÃO DE ADM","height":498,"width":1266,"color":4},"id":"221653a2-eab2-450e-82cd-484eb738663a","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2959.1205733202096,3287.9357859890874]},{"parameters":{"jsCode":"// Para cada item no array, edite o campo \"participante\"\nreturn items.map(item => {\n  const participante = item.json.participante;\n  \n  // Remova tudo após o @\n  const cleanedParticipante = participante.split('@')[0];\n  \n  // Retorne o item com o valor atualizado\n  return {\n    json: {\n      ...item.json,\n      participante: cleanedParticipante\n    }\n  };\n});\n"},"id":"5b6aaead-2520-4a26-b123-42f8a6c83459","name":"REMOVER NUMERO","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2300,3380]},{"parameters":{"assignments":{"assignments":[{"id":"7fa3b8aa-e310-4a57-9460-a05f635824fe","name":"participante","value":"={{ $json.body.data.key.participant }}","type":"string"},{"id":"d50f6a63-20ed-43e6-a1ca-881493f50a4a","name":"participante","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"id":"52193de4-801c-41ac-ba17-a32d464797f6","name":"NUMERO ADM","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2480,3380]},{"parameters":{"content":"## MENCIONAR TODOS","height":249.0861510850578,"width":666.3720446680976},"id":"31ed5782-d984-4df7-9ce1-804bcde1878e","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1640,3300]},{"parameters":{"assignments":{"assignments":[{"id":"3df5be45-f7f7-4297-a1ad-0da61420e6a6","name":"botao.titulo","value":"CERTIFICADO PARA IPHONE","type":"string"},{"id":"a8a466c4-6cd7-4b40-9071-aecadb9fe926","name":"botao.mensagem","value":"=🌟 Vantagens do Certificado para iPhone 🌟\\n\\n✅ Tenha vários WhatsApp, Facebook, Telegram e mais sem precisar de jailbreak 🎉\\n✅ Certificado com validade de 1 ano 📆\\n✅ Instalação simples com tutorial enviado após a compra 📄\\n✅ Suporte especializado e acesso a um grupo exclusivo com várias apps (.ipa) incríveis para instalar 🚀\\n\\n⚡ Aproveite a liberdade e praticidade no seu iPhone! 💻📱","type":"string"}]},"options":{}},"id":"0b0bfe85-67c6-4bad-a759-361190f0ced1","name":"DADOS BOTAO13","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1560,3360]},{"parameters":{},"id":"f477f8fc-e7af-43a5-91ee-6f6e66f98280","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2720,3620]},{"parameters":{"content":"## Start","height":281.51524911983466,"width":276.99366123836273,"color":6},"id":"d60d6038-5cf1-4841-87ad-2ad288ecafb7","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3261.4587291759917,3295.8820449136624]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.ordem }}","rightValue":"/remover","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REMOVER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a65c985b-3145-464a-b574-26d9604bd9cc","leftValue":"={{ $json.ordem }}","rightValue":"/adm","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROMOVER ADM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25533136-9052-4347-a369-a7e3c67ef954","leftValue":"={{ $json.ordem }}","rightValue":"/tiraradm","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DESPROMOVER ADM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd61c7a2-25d7-4f27-9eb5-a465f4cf1840","leftValue":"={{ $json.ordem }}","rightValue":"/fechar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FECHAR GRUPO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728f8ce8-f60f-4570-a0f1-90a22a94debe","leftValue":"={{ $json.ordem }}","rightValue":"/abrir","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"aeb9a845-0966-4b14-90c4-2e9e90337ec0","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1400,3760]},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/message/sendText/{{ $('DADOS').item.json.data.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('COMANDOS-WHATS1').item.json.contato }}\",\n    \"text\": \"✅ você foi Marcado\",\n    \"delay\": 1200,\n    \"quoted\": {\n        \"key\": {\n            \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n        },\n        \"message\": {\n            \"conversation\": \"LEIA COM ATENÇÃO O GRUPO.\"\n        }\n    },\n    \"linkPreview\": false,\n    \"mentionsEveryOne\": true\n}\n","options":{}},"id":"008b2151-6dbf-40b7-8253-77d4010039b9","name":"ENVIO SEM BOTÃO13","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1380,3360],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/message/sendText/{{ $('DADOS').item.json.data.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('COMANDOS-WHATS').item.json.contato }}\",\n    \"text\": \"*{{ $json.botao.titulo }}*\\n\\n{{ $json.botao.mensagem }}\"\n}","options":{}},"id":"fb6f306d-f99b-474d-81d3-498e21bb7c09","name":"ENVIO SEM BOTÃO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1340,2780],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/message/sendText/{{ $('DADOS').item.json.data.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('COMANDOS-WHATS').item.json.contato }}\",\n    \"text\": \"*{{ $json.botao.titulo }}*\\n\\n{{ $json.botao.mensagem }}\\n\\n{{ $json.botao.url }}\"\n}","options":{}},"id":"ac411013-fadc-4a38-8e78-7bde60e9e7bb","name":"ENVIO SEM BOTÃO6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1340,3100],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateParticipant/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"remove\",\n  \"participants\": [\n    \"{{ $json.contato }}\"\n  ]\n}","options":{}},"id":"455740c5-e054-4bae-8ba2-a73f5d38b9e9","name":"DESPROMOVER ADM1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,3640],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateParticipant/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"promote\",\n  \"participants\": [\n    \"{{ $json.contato }}\"\n  ]\n}","options":{}},"id":"cc16310c-b77b-4e80-8efb-58d0df7197a4","name":"PROMOVER ADM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,3780],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateParticipant/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"demote\",\n  \"participants\": [\n    \"{{ $json.contato }}\"\n  ]\n}","options":{}},"id":"4051b79a-229f-4905-aae6-6607f4de0fa4","name":"DESPROMOVER ADM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,3920],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateSetting/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"announcement\"\n}","options":{}},"id":"7bb641a6-f186-4569-a84d-87245950b83c","name":"FECHAR GRUPO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,4060],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.data.urlapi }}/group/updateSetting/{{ $('DADOS').item.json.data.instancia }}?groupJid={{ $json.grupo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.data.apikey }}"},{"name":"globalApikey","value":"={{ $('DADOS').item.json.data.globalapi }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"not_announcement\"\n}","options":{}},"id":"02a89944-4eb3-46d0-a8fc-13ccb335fbdf","name":"ABRIR GRUPO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,4200],"alwaysOutputData":false},{"parameters":{},"id":"d6125f2d-7a3f-46fe-88e3-f8418d4434b6","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-820,3880]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"28b09669-64fc-423c-ae17-021d749c72bb","leftValue":"={{ $('DADOS').item.json.data.acao }}","rightValue":"/todos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MARCA TODOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"260551d4-2902-4b8d-a7e4-8738bf040572","leftValue":"={{ $('DADOS').item.json.data.acao }}","rightValue":"/teste","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"70a91ba4-cbc0-41c2-bb26-956112e85c8f","name":"COMANDOS-WHATS","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1860,3380]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7de3a6ae-11ea-4c10-aed7-19f0302b1d26","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENVIO EM GRUPO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7f15547-4548-4748-9f99-cb72ffc5b1ee","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"CHAT PRIVADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d31367b8-0827-4991-a0c5-fe02211c9a78","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENCERRAR WEBHOOK"}]},"options":{}},"id":"892a9e84-3e79-437c-a128-afe3e8b1ae31","name":"REGRAS PARA SOMENTE EU2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2920,3440]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7f15547-4548-4748-9f99-cb72ffc5b1ee","leftValue":"={{ $('Webhook').item.json.body.data.key.participant }}","rightValue":"5515996919155@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WHATS WESLEY"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c909f544-4bfd-4ce1-af26-be534ff4c0a1","leftValue":"={{ $json.body.sender }}","rightValue":"={{ $('Webhook').item.json.body.sender }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"b8ea4969-91eb-4cd7-a48a-9d7a8f2b372c","name":"REGRAS PARA SOMENTE EU1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2680,3380]},{"parameters":{"httpMethod":"POST","path":"2f5d89e3-df0b-4b44-af64-33183aa1ced5","options":{}},"id":"ef613dd4-569c-4c62-89fb-275da04b4f51","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3180,3380],"webhookId":"2f5d89e3-df0b-4b44-af64-33183aa1ced5","notesInFlow":true},{"parameters":{"content":"```\n██╗    ██╗██╗  ██╗ █████╗ ████████╗███████╗       ██████╗ ██████╗ ███╗   ██╗████████╗██████╗  ██████╗ ██╗     \n██║    ██║██║  ██║██╔══██╗╚══██╔══╝██╔════╝      ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗██║     \n██║ █╗ ██║███████║███████║   ██║   ███████╗█████╗██║     ██║   ██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║██║     \n██║███╗██║██╔══██║██╔══██║   ██║   ╚════██║╚════╝██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║██║     \n╚███╔███╔╝██║  ██║██║  ██║   ██║   ███████║      ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╔╝███████╗\n ╚══╝╚══╝ ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝       ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚══════╝\n                                                                                                              \n```\n                                                                                                              \n","height":128.30814276618693,"width":996.6215857644908,"color":3},"id":"a1b4f47a-8df7-498d-8654-8c4baaa76547","name":"Sticky Note26","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2960,3080]},{"parameters":{"content":"## INFORMAÇÕES\n\nEDITAR O WEBHOOK\n\nMUDAR PARA O SEU NUMERO NO NÓ \"NUMERO ADM\"\n\nPARA EDITAR O COMANDO SÓ ADICIONAR OU EDITAR O NÓ \"COMANDOS WHATS\"\nE DUPLICAR OS QUADRADOS E EDITAR COM AS SUAS INFORMAÇÕES\n\nCOMANDO EM GRUPOS JA PRONTOS\n\n/todos = marca todos no grupo\n\nRESPONDENDO A MSG DO MEMBRO\n/remover = remove o membro\n/adm = da adm ao membro\n/tiraradm = tira adm do membro\n/fechar = fecha o grupo\n/abrir = abre o grupo","height":320,"width":920},"type":"n8n-nodes-base.stickyNote","position":[-2940,3860],"typeVersion":1,"id":"169334c3-dd75-4a17-9810-5665141e32e7","name":"Sticky Note"}],"connections":{"DADOS BOTAO5":{"main":[[{"node":"ENVIO SEM BOTÃO","type":"main","index":0}]]},"DADOS":{"main":[[{"node":"GRUPO E CONTATO","type":"main","index":0},{"node":"COMANDOS-WHATS","type":"main","index":0}]]},"GRUPO E CONTATO":{"main":[[{"node":"Switch","type":"main","index":0}]]},"DADOS BOTAO3":{"main":[[{"node":"ENVIO SEM BOTÃO6","type":"main","index":0}]]},"REMOVER NUMERO":{"main":[[{"node":"DADOS","type":"main","index":0}]]},"NUMERO ADM":{"main":[[{"node":"REMOVER NUMERO","type":"main","index":0}]]},"DADOS BOTAO13":{"main":[[{"node":"ENVIO SEM BOTÃO13","type":"main","index":0}]]},"Switch":{"main":[[{"node":"DESPROMOVER ADM1","type":"main","index":0}],[{"node":"PROMOVER ADM","type":"main","index":0}],[{"node":"DESPROMOVER ADM","type":"main","index":0}],[{"node":"FECHAR GRUPO","type":"main","index":0}],[{"node":"ABRIR GRUPO","type":"main","index":0}]]},"DESPROMOVER ADM1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"PROMOVER ADM":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"DESPROMOVER ADM":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"FECHAR GRUPO":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"ABRIR GRUPO":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"COMANDOS-WHATS":{"main":[[{"node":"DADOS BOTAO13","type":"main","index":0}],[{"node":"DADOS BOTAO5","type":"main","index":0}]]},"REGRAS PARA SOMENTE EU2":{"main":[[{"node":"REGRAS PARA SOMENTE EU1","type":"main","index":0}],[],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"REGRAS PARA SOMENTE EU1":{"main":[[{"node":"NUMERO ADM","type":"main","index":0}],[{"node":"NUMERO ADM","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"REGRAS PARA SOMENTE EU2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timezone":"America/Sao_Paulo"},"staticData":{"node:Iniciar todas 22h":{"recurrenceRules":[]},"node:Iniciar todas 22h1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f992f46c-9c4f-4e0d-862d-34b3b6eb0bd7","triggerCount":1,"tags":[{"createdAt":"2025-01-27T12:34:55.943Z","updatedAt":"2025-01-27T12:34:55.943Z","id":"UZ4ht4GEtttiRBtO","name":"MODELOS"},{"createdAt":"2025-01-25T15:41:04.678Z","updatedAt":"2025-01-25T15:41:04.678Z","id":"EjshTMdZnpBDR2E9","name":"SUPERCHAT"}]}