teste-thunderbolt-fkSM8X2SO3qTlHJi.json
{"updatedAt":"2025-12-04T02:10:24.839Z","createdAt":"2025-12-03T23:46:28.106Z","id":"fkSM8X2SO3qTlHJi","name":"TESTE THUNDERBOLT","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-224,-16],"id":"d9c0062e-8fc6-4fc3-9adb-5b4b6b544090","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"1f9c552c-1604-4925-bc8b-560c203f6530","name":"base_url","value":"https://whatsapi.typebot.pro","type":"string"},{"id":"6f8398a1-9fbc-4589-ab6d-82dbeb29acc5","name":"api_key","value":"b4d71f9c38e3ac12a6b08e4b6d53aa90","type":"string"},{"id":"ed4ef038-b4be-4ff4-bd64-43b865aeead8","name":"instancia","value":"BOSS","type":"string"},{"id":"626ce836-ae87-4435-8f37-358ada0f3200","name":"RemoteJid","value":"120363260323910075@g.us","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-16],"id":"92ee2f54-3f90-4f19-b848-f3e5681bd231","name":"Edit Fields"},{"parameters":{"method":"POST","url":"={{ $json.base_url }}/message/sendButtons/{{ $json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.RemoteJid }}\",\n    \"title\": \"TITULO BOTÃO\",\n    \"description\": \"DESCRIÇÃO: TESTE\",\n    \"footer\": \"Footer Button\",\n    \"buttons\": [\n        {\n            \"type\": \"reply\",\n            \"displayText\": \"Resposta\",\n            \"id\": \"123\"\n        }\n    ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,-16],"id":"d1ac220f-0945-464c-a00d-95f85ed55f15","name":"envio_botão"},{"parameters":{"method":"POST","url":"={{ $json.base_url }}/message/sendButtons/{{ $json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.RemoteJid }}\",\n    \"title\": \"PIX\",\n    \"description\": \"DESCRIÇÃO: SERVIÇO\",\n    \"footer\": \"Footer Button\",\n    \"buttons\": [\n        {\n            \"type\": \"pix\",\n            \"currency\": \"BRL\",\n            \"name\": \"Jamil Abrão Sobrinho\",\n            \"keyType\": \"phone\",\n            \"key\": \"5534988187499\"\n        }\n    ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,144],"id":"52a58c45-5847-45d9-b67c-e7a7cb5525e1","name":"envio_botão1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"envio_botão1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"858aaba1-72a4-44af-aded-f53775133f41","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T23:46:28.106Z","createdAt":"2025-12-03T23:46:28.106Z","role":"workflow:owner","workflowId":"fkSM8X2SO3qTlHJi","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":null,"tags":[]}